/* -------------------------------------------------------------- */
/* > resp-it.css */

/* : responsive sets for it docs */
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 350px width */
/* -------------------------------------------------------------- */

@media (min-width: 350px ) {




}



/* -------------------------------------------------------------- */
/* >= 360px width */
/* -------------------------------------------------------------- */

@media (min-width: 360px ) {


  /* ------------------------------------------------------------- */
  /* Top IT Projects | Img (Rocket) | Header
  /* ------------------------------------------------------------- */

  #img-header-top-it-project {

    height: 1.8em;

  }


  /* -------------------------------------------------------------- */
  /* Top IT Projects | Nav Top IT Projects | Label */
  /* -------------------------------------------------------------- */

  #nav-top-it-projects > label {

    width: auto;

  }
  /* ------------------------------------------------------------- */
  /* My IT Projects | More Card */
  /* ------------------------------------------------------------- */

  .my-it-project-more-card {

    width: 18em;

  }


}

/* -------------------------------------------------------------- */
/* >= 400px width */
/* -------------------------------------------------------------- */

@media (min-width: 400px ) {


  /* ------------------------------------------------------------- */
  /* Top IT Projects | Top IT Project Card */
  /* ------------------------------------------------------------- */

  .my-top-it-project-card {

    /* desktop */
    width: 21em;


  }


  /* ------------------------------------------ */
  /* My It | Nav | Label | Img */
  /* ------------------------------------------ */

  .lbl-nav-my-it > div:nth-of-type(1) > img:nth-of-type(1) {

    /* desktop */
    display: flex;

  }

  /* ------------------------------------------ */
  /* My It Docs | Nav */
  /* ------------------------------------------ */

  .my-it-docs-nav {

    width: 22em;

  }



  /* ------------------------------------------------------------- */
  /*  It Docs | Nav Category IT Docs | Label */
  /* ------------------------------------------------------------- */

  #nav-category-it-docs > label {

    /* desktop */
    width: auto;

  }


}

/* -------------------------------------------------------------- */
/* >= 450px width */
/* -------------------------------------------------------------- */

@media (min-width: 450px ) {


  /* ------------------------------------------ */
  /* My It Docs | Doc Card Item */
  /* ------------------------------------------ */

  .my-it-doc-card-item {

    /* desktop */
    width: 12em;

  }

  /* ------------------------------------------------------------- */
  /* My It Projects | It More Project Card */
  /* ------------------------------------------------------------- */

  .it-more-project-card {

    /* desktop */
    width: 24em;

  }

  /* ------------------------------------------------------------- */
  /* More Project | Nav More It Projects | Label */
  /* ------------------------------------------------------------- */

  #nav-more-it-projects > label {

    /* desktop */
    width: auto;

  }

  /* ------------------------------------------------------------- */
  /*  It Docs | nav sub (frontend,backend) | Label
  /* ------------------------------------------------------------- */

  #nav-sub-category-frontend-it-docs > label,
  #nav-sub-category-backend-it-docs > label {

    /* desktop */
    width: auto;

  }



}

/* -------------------------------------------------------------- */
/* >= 480px width */
/* -------------------------------------------------------------- */

@media (min-width: 480px ) {

  /* ------------------------------------------------------- */
  /* IT Docs | Header IT Docs */
  /* ------------------------------------------------------- */

  #header-it-docs {

    /* desktop */
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 0em;
    column-gap: .8em;

  }

  /* ------------------------------------------------------- */
  /* IT Projects | Nav My IT *&
  /* ------------------------------------------------------- */

  #nav-my-it {

    /* desktop */
    justify-content: flex-end;

  }

  /* ------------------------------------------------------------- */
  /* IT Docs | It Docs Card List Container -> Main */
  /* ------------------------------------------------------------- */

  .it-docs-list-card-container > main {

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap:2em;

  }

  /* ------------------------------------------------------------- */
  /* IT Docs | IT Doc PDF Card
  /* ------------------------------------------------------------- */

  .it-doc-pdf-card {

    width: 12em;

  }

}

/* -------------------------------------------------------------- */
/* >= 500px width */
/* -------------------------------------------------------------- */

@media (min-width: 500px ) {

  /* ------------------------------------------------------------- */
  /* Top IT Project | Top IT Project Container | Nav Label        */
  /* ------------------------------------------------------------- */

  #my-it-projects-top-container > nav:nth-of-type(1) > label {

    /* desktop */
    width:auto;

  }

  /* ------------------------------------------------------------- */
  /* Top IT Project | Top It Project Card
  /* ------------------------------------------------------------- */

  .top-it-project-card > .img-container-top-it-project-card{

    width: 20em;
    /* background-color: red; */

  }



}


/* -------------------------------------------------------------- */
/* >= 600px width */
/* -------------------------------------------------------------- */

@media (min-width: 600px ) {

  /* -------------------------------------------------------------- */
  /* Top IT Projects | Nav Top IT Projects */
  /* -------------------------------------------------------------- */

  #nav-top-it-projects {

    /* dont let widht 100% */
    width: auto;
    justify-self: flex-end;

  }


  /* ------------------------------------------ */
  /* It Docs | Nav List */
  /* ------------------------------------------ */

  #my-it-docs-nav-list {

    grid-template-areas:

      'my-it-docs-nav-grid-area-1 my-it-docs-nav-grid-area-2'
      'my-it-docs-nav-grid-area-1 my-it-docs-nav-grid-area-3'
    ;

    grid-template-columns: 1fr 1fr;

    column-gap: 1em;
    row-gap: 3em;

  }

    /* ------------------------------------------ */
    /* My It Docs | Nav */
    /* ------------------------------------------ */

    .my-it-docs-nav {

      /* width: 17em; */
      width: 100%;

    }

  /* ------------------------------------------ */
  /* My It Docs | Nav Art Seperator 1 */
  /* ------------------------------------------ */

  #only-mobile-my-it-docs-nav-art-seperator-1,
  #only-mobile-my-it-docs-nav-art-seperator-2 {

    display: none;
  }

  /* ------------------------------------------------------------- */
  /* My IT Docs Card Container Card List */
  /* ------------------------------------------------------------- */

  .my-it-docs-card-container-card-list {

    /* desktop */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2em;

  }

  /* ------------------------------------------------------------- */
  /* My IT Docs Card + Basic Status */
  /* ------------------------------------------------------------- */

  .my-it-docs-card,
  .my-it-docs-card-in-progress,
  .my-it-docs-card-coming-soon,
  .my-it-docs-card-actually-no-priority {

    position: relative;

    /* desktop */
    width: 15em;


  }

}

/* -------------------------------------------------------------- */
/* >= 650px width */
/* -------------------------------------------------------------- */

@media (min-width: 650px ) {


  /* ------------------------------------------------------------------ */
  /* Top IT Projects | Header */
  /* ------------------------------------------------------------------ */

  #header-top-it-projects {

    width: 100%;

    /* desktop */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: .8em;

    /* background-color: magenta; */

  }






  /* ------------------------------------------------------------------ */
  /* More IT Projects | Header
  /* ------------------------------------------------------------------ */

  #header-more-it-projects {

    width: 100%;

    /* desktop */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: .8em;

    /* background-color: magenta; */

  }


}

/* -------------------------------------------------------------- */
/* >= 700px width
/* -------------------------------------------------------------- */

@media (min-width: 700px ) {


  /* ------------------------------------------ */
  /* My It | Content Header Container
  /* ------------------------------------------ */

  /* ⚠️ Template, besser dazu zusätzlich eigene Klasse machen,
        denn wenn wo anders das Template verwendet wird,
        dann wird da auch mit übernommen !!! */

  .header-begin-container {

    /* desktop */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

  }


}

/* -------------------------------------------------------------- */
/* >= 800px width */
/* -------------------------------------------------------------- */

@media (min-width: 800px ) {


  /* ------------------------------------------------------------- */
  /* More IT Project | Card List Containers */
  /* ------------------------------------------------------------- */

    #exercise-it-projects-container,
    #leetcode-it-projects-container,
    #mini-projects-it-projects-container {

      display: grid;
      grid: auto / 1fr 1fr;

      /* default unshown */
      display: none;

    }

  /* ------------------------------------------ */
  /* My It Docs | Nav List */
  /* ------------------------------------------ */

    #my-it-docs-nav-list {


      grid-template-columns: 18em 18em;

    }

  /* ------------------------------------------ */
  /* My It Project | Project Top Card */
  /* ------------------------------------------ */

    .my-it-project-top-card {

      /* extra case for project top card 3 */
      width: 22em;

    }

  /* ------------------------------------------ */
  /* My IT Project | Card Seperator 1 */
  /* ------------------------------------------ */

    #grid-area-top-it-project-card-seperator-1 > img {

      transform: rotate(90deg);

    }

  /* ------------------------------------------ */
  /* My IT Project | Top Card List */
  /* ------------------------------------------ */

    #my-it-project-top-card-list {

      grid-template-areas:

      'it-project-top-card-1 it-project-top-card-seperator-1 it-project-top-card-2'
      'it-project-top-card-seperator-2 it-project-top-card-seperator-2 it-project-top-card-seperator-2'
      'it-project-top-card-3 it-project-top-card-3 it-project-top-card-3'
      ;

      grid-template-columns: auto 4em auto;

    }

  /* ------------------------------------------------------------------------ */
  /* My IT Project | Project Card Seperator 1 | center to project cards */
  /* ------------------------------------------------------------------------ */

    #grid-area-top-it-project-card-seperator-1 {

      align-self: center;

    }

  /* ------------------------------------------------------------------------ */
  /* Top IT Project Card                                                      */
  /* ------------------------------------------------------------------------ */

    .top-it-project-card {

      width: auto;

      display: grid;
      align-items: center;

      grid-template-areas:

        'img-container-top-it-project-card content-container-top-it-project-card'
        'details-container-top-it-project-card details-container-top-it-project-card'
      ;

      grid-template-columns: 20em 1fr ;
      grid-template-rows: auto auto;

    }


  /* ------------------------------------------------------------------------ */
  /* Top IT Project Card | Img Container > Img                                */
  /* ------------------------------------------------------------------------ */

    .img-container-top-it-project-card > img {

      border-radius: 1em 0 0 1em;

    }

  /* ------------------------------------------------------------------------ */
  /* Top IT Project Card | Content Container |                                */
  /* ------------------------------------------------------------------------ */

    .content-container-top-it-project-card {

      width: 100%;

      padding: 0 .8em 0 0;

    }

  /* ------------------------------------------------------------------------ */
  /* Top IT Project Card | Content Container | Header                         */
  /* ------------------------------------------------------------------------ */

    .content-container-top-it-project-card > header {


      margin-top: 0em;

    }

  /* ----------------------------------------------------------------------------------- */
  /*  Top IT Project Card | Tech Stack Container
  /* ----------------------------------------------------------------------------------- */

  .tech-stack-container-top-it-project-card  {

    justify-items: center;

  }

  /* header */
  .tech-stack-container-top-it-project-card > header {

    justify-self: flex-start;

  }

  /* main */
  .tech-stack-container-top-it-project-card > main {

    padding: 0 .5em;

    display: grid;
    grid: auto / auto auto auto auto;

  }

  /* ----------------------------------------------------------------------------------- */
  /*  Top IT Project Card | Video Link Tutorial | Main
  /* ----------------------------------------------------------------------------------- */

  .video-link-tutorial-container-top-it-project-card > main {

    grid: auto / 1fr 1fr;
    align-items: flex-start;

    column-gap: 1em;


  }


}

/* -------------------------------------------------------------- */
/* >= 900px width
/* -------------------------------------------------------------- */

@media (min-width: 950px ) {


  /* ------------------------------------------ */
  /* My It Docs | Nav List
  /* ------------------------------------------ */

    #my-it-docs-nav-list {

      grid-template-areas:

        'my-it-docs-nav-grid-area-1 my-it-docs-nav-grid-area-2 my-it-docs-nav-grid-area-3'
      ;

      grid-template-columns: 17em 17em 17em;

    }

}

/* -------------------------------------------------------------- */
/* >= 1000px width
/* -------------------------------------------------------------- */

@media (min-width: 1000px ) {


  /* ------------------------------------------ */
  /* My It Docs | Nav List
  /* ------------------------------------------ */

    #my-it-docs-nav-list {

      grid-template-columns: 19em 19em 19em;

    }


}

/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */

@media (min-width: 1200px ) {

  /* ------------------------------------------------------------- */
  /* Top IT Projects | Top IT Project Card
  /* ------------------------------------------------------------- */

  .my-top-it-project-card {

    /* desktop */
    width: auto;


  }

  /* ------------------------------------------------------------- */
  /* Top IT Projects | Top IT Projects Card Container
  /* ------------------------------------------------------------- */

  #my-it-top-projects-card-container {

    /* width: 100%;
    padding: 3.5em 0; */

    /* desktop */
    display: grid;
    grid: auto / 1fr 1fr 1fr;

    /* column-gap: 2em;
    row-gap: 2em; */

    /* background-color: yellow; */

  }



  /* -------------------------------------------- */
  /* My IT Docs | Nav
  /* -------------------------------------------- */

  #my-it-docs-selection-list-container {

    /* desktop */
    justify-content: center;

    grid-template-areas:
    'my-it-docs-grid-area-1 my-it-docs-grid-area-2 my-it-docs-grid-area-3';

    /* grid-template-columns: 1.2fr 1fr 1fr; */

  }


  /* ------------------------------------------------------------- */
  /* My IT Project | Top Card
  /* ------------------------------------------------------------- */
  .my-it-project-top-card {

    /* let it project top card auto, to handle it by grid area */
    width: auto;

  }

  /* ------------------------------------------ */
  /* My IT Project | Top Card List
  /* ------------------------------------------ */

  #my-it-project-top-card-list {

    grid-template-areas:

    'it-project-top-card-1 it-project-top-card-seperator-1 it-project-top-card-2 it-project-top-card-seperator-2 it-project-top-card-3'

    ;

    grid-template-columns: 22em 4em 22em 4em 22em;


  }

  /* ------------------------------------------ */
  /* My IT Project | Card Seperator 2
  /* ------------------------------------------ */

  #grid-area-top-it-project-card-seperator-2 > img {

    transform: rotate(90deg);

  }

  /* ------------------------------------------------------------------------ */
  /* My IT Project | Project Card Seperator 2 | center to project cards
  /* ------------------------------------------------------------------------ */
  #grid-area-top-it-project-card-seperator-2 {

    align-self: center;
  }


}

/* -------------------------------------------------------------- */
/* >= 1400px width
/* -------------------------------------------------------------- */

@media (min-width: 1400px ) {




}

/* -------------------------------------------------------------- */
/* >= 1600px width
/* -------------------------------------------------------------- */

@media (min-width: 1600px ) {

  /* ------------------------------------------ */
  /* My It Project | Project Top Card
  /* ------------------------------------------ */

  .my-it-project-top-card {

    /* extra case for project top card 3 */
    width: 24em;

  }


  /* ------------------------------------------ */
  /* My IT Project | Top Card List
  /* ------------------------------------------ */

  #my-it-project-top-card-list {


    grid-template-columns: auto 6em auto 6em auto;


  }

}
