/* -------------------------------------------------------------- */
/* > resp-it.css */

/* : responsive sets for it docs */
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* 游릴 >= 350px width */
/* -------------------------------------------------------------- */

@media (min-width: 350px ) {


}

/* -------------------------------------------------------------- */
/* 游릳 >= 360px width */
/* -------------------------------------------------------------- */

@media (min-width: 360px ) {


  /* -------------------------------------------------------------- */
  /* Top IT Projects | Nav Top IT Projects | Label */
  /* -------------------------------------------------------------- */

  #nav-top-it-projects > label {

    width: auto;

  }

  /* ------------------------------------------------------------- */
  /* 丘멆잺 My IT Projects | More Card */
  /* ------------------------------------------------------------- */

  .my-it-project-more-card {

    width: 18em;

  }

}

/* -------------------------------------------------------------- */
/* 游릴 >= 380px width */
/* -------------------------------------------------------------- */

@media (min-width: 380px ) {

  /* ----------------------------------------------------------- */
  /* IT Projects | Nav IT Projects | Label | Img */
  /* ----------------------------------------------------------- */

  #nav-it-projects > label > div:nth-of-type(1) > img {

    display: flex;

  }

}

/* -------------------------------------------------------------- */
/* 游릴 >= 400px width */
/* -------------------------------------------------------------- */

@media (min-width: 400px ) {


}

/* -------------------------------------------------------------- */
/* 游릴 >= 450px width */
/* -------------------------------------------------------------- */

@media (min-width: 450px ) {


  /* ------------------------------------------------------------------------ */
  /* Top IT Project | Img Container                                           */
  /* ------------------------------------------------------------------------ */

  .img-container-top-it-project {

    justify-content: flex-start;

  }

  /* ------------------------------------------------------------------------ */
  /* Top IT Project | Img Container | Img                                     */
  /* ------------------------------------------------------------------------ */

  .img-container-top-it-project > img {

    width: 22em;
    border-radius: .9em 0 0 0;

  }

  /* ------------------------------------------------------------- */
  /* More Project | Nav More It Projects | Label */
  /* ------------------------------------------------------------- */

  #nav-more-it-projects > label {

    /* desktop */
    width: auto;

  }

  /* ------------------------------------------------------------- */
  /*  It Docs | nav sub | labels */
  /* ------------------------------------------------------------- */

  #nav-sub-it-docs > label:not(:first-child) {

    width: auto;

  }


}

/* -------------------------------------------------------------- */
/* 游릴 >= 480px width */
/* -------------------------------------------------------------- */

@media (min-width: 480px ) {


  /* ------------------------------------------------------- */
  /* IT Projects | Nav My IT */
  /* ------------------------------------------------------- */

  #nav-my-it {

    /* desktop */
    justify-content: flex-end;

  }

  /* ------------------------------------------------------------- */
  /* IT Docs | IT Docs Card List Container | Main */
  /* ------------------------------------------------------------- */

  .it-docs-card-list-container > main {

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap:2em;

  }

  /* ------------------------------------------------------------- */
  /* IT Docs | IT Doc PDF Card */
  /* ------------------------------------------------------------- */

  .it-doc-pdf-card {

    width: 12em;

  }

}

/* -------------------------------------------------------------- */
/* 游릴  >= 500px width */
/* -------------------------------------------------------------- */

@media (min-width: 500px ) {


}

/* -------------------------------------------------------------- */
/* 游릳 >= 600px width */
/* -------------------------------------------------------------- */

@media (min-width: 600px ) {

  /* -------------------------------------------------------------- */
  /* Top IT Projects | Nav Top IT Projects */
  /* -------------------------------------------------------------- */

  #nav-top-it-projects {

    /* dont let widht 100% */
    width: auto;
    /* justify-self: flex-end; */
    justify-self: flex-start;

  }

  /* ------------------------------------------------------------- */
  /* 丘멆잺 IT Docs | Status Cards |  */
  /* ------------------------------------------------------------- */

  .my-it-docs-card,
  .my-it-docs-card-in-progress,
  .my-it-docs-card-coming-soon,
  .my-it-docs-card-actually-no-priority {

    position: relative;

    /* desktop */
    width: 15em;


  }

}

/* -------------------------------------------------------------- */
/* 游릴 >= 650px width */
/* -------------------------------------------------------------- */

@media (min-width: 650px ) {


}

/* -------------------------------------------------------------- */
/* 游릴 >= 700px width */
/* -------------------------------------------------------------- */

@media (min-width: 700px ) {


  /* ----------------------------------------------------------------------------------- */
  /* Top IT Project | Tech Stack Content  */
  /* ----------------------------------------------------------------------------------- */

  .tech-stack-content-top-it-project {

    width: 42em;
    grid: auto auto / 1fr 1fr;
    /* padding: 1.5em .6em .5em .6em;
    width: 40em;

    display: grid;
    row-gap: 1.5em;
    column-gap: 1.5em;

    grid: auto auto / 1fr 1fr; */

    /* background-color: red; */

  }

  /* ------------------------------------------------------------- */
  /*  It Docs | nav main */
  /* ------------------------------------------------------------- */

  #nav-main-it-docs {

    justify-content: flex-start;

  }

  /* ------------------------------------------------------------- */
  /*  It Docs | nav sub */
  /* ------------------------------------------------------------- */

  #nav-sub-it-docs {

    justify-content: flex-start;

  }

  /* ------------------------------------------------------------- */
  /*  More IT Projects | More It Projects Container */
  /* ------------------------------------------------------------- */

  #more-it-projects-container {

  display: grid;
  justify-items: center;
  column-gap: 1.5em;

  grid: auto / 1fr 1fr;


  /* background-color:red; */

}

}

/* -------------------------------------------------------------- */
/* 游릴 >= 800px width */
/* -------------------------------------------------------------- */

@media (min-width: 800px ) {

  /* ------------------------------------------------------------- */
  /* IT Project | Header It Projects Container */
  /* ------------------------------------------------------------- */

  #header-it-projects-container {

    display: grid;
    justify-content: space-between;

    /* desktop */
    grid-template-areas:

    'nav-it-projects category-it-projects'
    '. smooth-category-it-projects-list';

    /* background-color: rgb(88, 88, 88); */

  }

  /* ------------------------------------------------------------- */
  /* IT Project | Nav IT Projects */
  /* ------------------------------------------------------------- */

  #nav-it-projects {

    padding: 0;
    border-radius: .8em;

    /* overwrite nav panel */
    column-gap: 0em;

  }

  /* label default */
  #nav-it-projects > label {

    width: auto;
    border-radius: 0;

  }

  /* label 1 */
  #nav-it-projects > label:nth-of-type(1) {

    border-radius: .8em 0 0 .8em;

    border-right: 2px solid rgb(218, 218, 218);

  }

  /* label 2 */
  #nav-it-projects > label:nth-of-type(2) {

    border-right: 2px solid rgb(218, 218, 218);
    border-left: 2px solid rgb(218, 218, 218);

  }

  /* label 3 */
  #nav-it-projects > label:nth-of-type(3) {

    border-radius: 0 .8em .8em 0em;
    border-left: 2px solid rgb(218, 218, 218);

  }


  /* ------------------------------------------------------------------------ */
  /* Top IT Project | Img Container                                           */
  /* ------------------------------------------------------------------------ */

  .img-container-top-it-project {

    justify-content: flex-start;
    border-radius: .9em 0 0 .9em;

  }

  /* ------------------------------------------------------------------------ */
  /* Top IT Project | Img Container | Img                                     */
  /* ------------------------------------------------------------------------ */

  .img-container-top-it-project > img {

    width: 100%;
    border-radius: .9em 0 0 .9em;

  }

  /* ------------------------------------------------------------------------ */
  /* Top IT Project | Top IT Project Card                                     */
  /* ------------------------------------------------------------------------ */

  .top-it-project-card {

    /* width: auto; */
    /* width: 100%; */

    display: grid;
    align-items: center;

    grid-template-areas:

      'img-container-top-it-project quick-info-container-top-it-project'
      'details-content-top-it-project details-content-top-it-project'
    ;

    grid-template-columns: 20em 1fr ;
    grid-template-rows: auto auto;

  }

  /* ------------------------------------------------------------------------ */
  /* Top IT Project Card | Img Container > Img                                */
  /* ------------------------------------------------------------------------ */

  .img-container-top-it-project > img {

      border-radius: 1em 0 0 1em;



  }

  /* ------------------------------------------------------------------------ */
  /* Top IT Project | Quick Info Container Top It Project | Header            */
  /* ------------------------------------------------------------------------ */

  .quick-info-container-top-it-project > header {

      margin-top: 0em;

  }

  /* ------------------------------------------------------------------------------------ */
  /* Top IT Project | Tech Stack Container Top IT Project | Main | Div               */
  /* ------------------------------------------------------------------------------------ */

  .tech-stack-container-top-it-project > main > div:not(:last-child) {

    border-right: 2px solid #ebebeb;

  }

  /* ----------------------------------------------------------------------------------- */
  /*  Top IT Project | Video Tutorial Content  */
  /* ----------------------------------------------------------------------------------- */

  .video-tutorial-content-top-it-project {

    grid: auto auto / 1fr 1fr;

  }

  /* ------------------------------------------------------------- */
  /* IT Project | Top & More | IT Projects Container */
  /* ------------------------------------------------------------- */

  #top-it-projects-container,
  #more-it-projects-container {

    margin-top: 2em;

  }

  /* ------------------------------------------------------------- */
  /* More IT Project | Card List Containers */
  /* ------------------------------------------------------------- */

  #exercise-it-projects-container,
  #leetcode-it-projects-container,
  #mini-projects-it-projects-container {

    display: grid;
    grid: auto / 1fr 1fr;

    /* default unshown */
    display: none;

  }

}

/* -------------------------------------------------------------- */
/* 游릴 >= 900px width */
/* -------------------------------------------------------------- */

@media (min-width: 950px ) {


}

/* -------------------------------------------------------------- */
/* 游릴 >= 1000px width */
/* -------------------------------------------------------------- */

@media (min-width: 1000px ) {


}

/* -------------------------------------------------------------- */
/* 游릴 >= 1200px width */
/* -------------------------------------------------------------- */

@media (min-width: 1200px ) {

}

/* -------------------------------------------------------------- */
/* 游릴 >= 1400px width */
/* -------------------------------------------------------------- */

@media (min-width: 1400px ) {


}

/* -------------------------------------------------------------- */
/* 游릴 >= 1600px width */
/* -------------------------------------------------------------- */

@media (min-width: 1600px ) {


}
