/* -------------------------------------------------------------- */
/* > arrow-seperators.css

/* : styles arrow seperators which use an img arrow
     to seperate two contents, u can choose
     if img should be up or down or other paddings styles
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Arrow Seperators
/* -------------------------------------------------------------- */

.arrow-seperator-img-up,
.arrow-seperator-img-down,
.arrow-seperator-padd-1-0 {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* -------------------------------------------------------------- */
/* Up | Arrow Seperators
/* -------------------------------------------------------------- */

.arrow-seperator-img-up > img {

  transform: rotate(-90deg);

}

/* -------------------------------------------------------------- */
/* Down | Arrow Seperators
/* -------------------------------------------------------------- */

.arrow-seperator-img-down > img {

  transform: rotate(90deg);
}

/* -------------------------------------------------------------- */
/* Paddings | Arrow Seperators
/* -------------------------------------------------------------- */

.arrow-seperator-padd-1-0 {

  padding: 1em 0em;

}
