/* -------------------------------------------------------------- */
/* > arrow-containers.css

/* : styles arrow containers to showing content directoin
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Arrow Container
/* -------------------------------------------------------------- */

.arrow-container-p-2-0,
.arrow-container-pt-1-pb-2,
.arrow-container-pb-2  {

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: magenta; */

}

/* -------------------------------------------------------------- */
/* Top & Down | Padding
/* -------------------------------------------------------------- */

.arrow-container-p-2-0 {

  padding: 2em 0;

}

.arrow-container-pt-1-pb-2 {

  padding-top: 1em;
  padding-bottom: 2em;

}


/* -------------------------------------------------------------- */
/* Down | Padding
/* -------------------------------------------------------------- */

.arrow-container-pb-2 {

  padding-bottom: 2em;

}




/* -------------------------------------------------------------- */
/* ❌❌❌ Trash
/* -------------------------------------------------------------- */

.arrow-down-container-left,
.arrow-container-left,
.arrow-down-container-right,
.arrow-container-right,
.arrow-down-container-center,
.arrow-container-center {

  height: 4em;

  display: flex;
  align-items: center;

}

.arrow-down-container-right,
.arrow-container-right {

  justify-content: flex-end;
}

.arrow-down-container-center,
.arrow-container-center {

  justify-content: center;
}


.arrow-down-container-left > div:nth-of-type(1),
.arrow-container-left > div:nth-of-type(1),
.arrow-down-container-right > div:nth-of-type(1),
.arrow-container-right > div:nth-of-type(1),
.arrow-down-container-center > div:nth-of-type(1),
.arrow-container-center > div:nth-of-type(1) {

  font-size: 1.75em;

  font-weight: bold;

  color:rgb(98, 98, 98);

}

/* arrow down */
.arrow-down-container-left > div:nth-of-type(1),
.arrow-down-container-right > div:nth-of-type(1),
.arrow-down-container-center > div:nth-of-type(1) {

  transform: rotate(90deg);

}
