/* -------------------------------------------------------------- */
/* > mindset-about.css
/*
/* : style mindset about
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Mindset About Container
/* ------------------------------------------------------------------- */

#mindset-about-container {

  display: grid;

}

/* ------------------------------------------------------------------- */
/* Header Nav | Mindset About
/* ------------------------------------------------------------------- */

#header-nav-mindset-about {

  width: 100%;
  display: grid;
  row-gap: 2em;

}

/* ------------------------------------------------------------------- */
/* Mindset Content About Container
/* ------------------------------------------------------------------- */

#mindset-content-about-container {

  margin-top: 2.5em;
  padding-top: 3em;

  display: grid;
  row-gap: 3em;

  border-top: 3px solid rgb(202, 202, 202);

  /* background-color: red; */

}
