/* -------------------------------------------------------------- */
/* > mindset-about.css
/*
/* : style mindset about
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Mindset About Container
/* ------------------------------------------------------------------- */

#mindset-about-container {

  display: grid;

}

#img-about-mindset {

  height: 4.8em;
  width: 4.8em;

  border-radius: 1em;

}

/* ------------------------------------------------------------------- */
/* Header Nav | Mindset About
/* ------------------------------------------------------------------- */

#header-nav-mindset-about {

  width: 100%;
  display: grid;
  row-gap: 2em;

}

/* ------------------------------------------------------------------- */
/* Mindset Content About Container
/* ------------------------------------------------------------------- */

#mindset-content-about-container {

  margin-top: 2.5em;
  padding-top: 3em;

  display: grid;
  row-gap: 3em;

  border-top: 3px solid rgb(202, 202, 202);

  /* background-color: red; */

}


#img-header-mindset-about {

  height: 3.5em;
  border-radius: .8em;
}
