/* ------------------------------------------------------------------- */
/* > mindset-about.css
/*
/* : style mindset about
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Mindset About Container
/* ------------------------------------------------------------------- */

#mindset-about-container {

  width: 100%;
  display: grid;
  justify-items: center;

}

/* ------------------------------------------------------------------- */
/* Header Nav | Mindset About
/* ------------------------------------------------------------------- */

#header-nav-mindset-about {

  width: 100%;

  display: grid;
  justify-items: center;

  row-gap: 1.5em;

}

/* header content block */
#header-nav-mindset-about > .header-content-block:nth-of-type(1) {

  width: 100%;

}

/* img */
#img-about-mindset {

  height: 4em;
  width: 4em;

  border-radius: 1em;

}

/* ------------------------------------------------------------------- */
/* Label | Show Me */
/* ------------------------------------------------------------------- */

label[for="chk-mindset-about"] {

  /* mobile */
  min-width: 7em;

}


/* default text close = unshown */
label[for="chk-mindset-about"] > div:nth-of-type(1) > div:nth-of-type(2) {

  display: none;
}

/* ------------------------------------------------------------------- */
/* Mindset About Content Container
/* ------------------------------------------------------------------- */

#mindset-about-content-container {

  width: 100%;

  padding-bottom: 2.3em;

  display: grid;
  justify-items: center;

  /* background-color: red; */

}

/* only 2nd opacity  */
#mindset-about-content-container .seperator-img-container-p-3-0 {

  opacity: .4;

}

/* ------------------------------------------------------------------- */
/* Mindset About Video Container
/* ------------------------------------------------------------------- */

#mindset-about-video-container {

  width: 100%;

  display: grid;
  justify-items: center;

  row-gap: 3.5em;
  column-gap: 2em;

  /* background-color: red; */

}
