/* -------------------------------------------------------------- */
/* > nav-mindset-about.css
/*
/* : style nav mindset about
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Checkbox | Show Me (Open)
/* ------------------------------------------------------------------- */

/* default unshown */
#chk-mindset-about {

  display: none;
}

/* set background */
#chk-mindset-about:checked ~ #header-nav-mindset-about label[for="chk-mindset-about"] {

  background-color: rgb(227, 87, 87);
  color:black;

}

/* change rotation | img arrow */
#chk-mindset-about:checked ~ #header-nav-mindset-about label[for="chk-mindset-about"] > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* unshown text = open */
#chk-mindset-about:checked ~ #header-nav-mindset-about label[for="chk-mindset-about"] > div:nth-of-type(1) > div:nth-of-type(1) {

  display: none;

}

/* shown text = close */
#chk-mindset-about:checked ~ #header-nav-mindset-about label[for="chk-mindset-about"] > div:nth-of-type(1) > div:nth-of-type(2) {

  display: flex;

}

/* show content */
#chk-mindset-about:checked  ~ #smooth-mindset-about-content-container {

  grid-template-rows: 1fr;

}
