/* -------------------------------------------------------------- */
/* > quote-mindset-about.css
/*
/* : style quote mindset about
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Quote Mindset About Container
/* ------------------------------------------------------------------- */

#quote-mindset-about-container {

  display: grid;
  justify-items: center;
  row-gap: .4em;

  column-gap: 1em;

}

/* ------------------------------------------------------------------- */
/* Quote Mindset About 3 Words Container
/* ------------------------------------------------------------------- */

#quote-mindset-about-3-words-container {

  width: 100%;

  display: grid;
  justify-items: center;
  row-gap: .8em;
  column-gap: .4em;

}

/* ------------------------------------------------------------------- */
/* Div | Quote Mindset About 3 Words Container
/* ------------------------------------------------------------------- */

#quote-mindset-about-3-words-container > div {

  font-size: 14.5px;

  height: 2.3em;
  /* mobile */
  width: 6em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: .6em;

}

/* ------------------------------------------------------------------- */
/* Img | Brace ( left, right )
/* ------------------------------------------------------------------- */

#img-brace-left-quote-mindset-about,
#img-brace-right-quote-mindset-about {

  height: 2.3em;
  opacity: .1;

}

/* left */
#img-brace-left-quote-mindset-about {

  /* mobile */
  transform: rotate(-90deg);

}

/* right */
#img-brace-right-quote-mindset-about {

  /* mobile */
  transform: rotate(90deg);

}

/* ------------------------------------------------------------------- */
/* Div 1,3 | Quote Mindset About Container
/* ------------------------------------------------------------------- */

#quote-mindset-about-3-words-container > div:nth-of-type(1),
#quote-mindset-about-3-words-container > div:nth-of-type(3) {

  background-color: #eeeeee;

}

/* ------------------------------------------------------------------- */
/* Div 2 | Quote Mindset About Container
/* ------------------------------------------------------------------- */

#quote-mindset-about-3-words-container > div:nth-of-type(2) {

  background-color: wheat;

}
