/* -------------------------------------------------------------- */
/* > video-mindset-about.css
/*
/* : style video mindset about
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Mindset About Video Box
/* ------------------------------------------------------------------- */

.mindset-about-video-box {

  width: 100%;

  position: relative;

  display: grid;
  justify-items: center;
  align-items: center;

  row-gap: .4em;

}

/* ------------------------------------------------------------------- */
/* Header | Mindset About Video Box
/* ------------------------------------------------------------------- */

.mindset-about-video-box > header {

  width: 100%;
  /* better layout fix */
  padding-left: .6em;

  display: flex;
  justify-content: space-between;
  column-gap: .6em;

  /* background-color: blue; */

}

/* ------------------------------------------------------------------- */
/* Nr & Video Description (Div 1) | Header
/* ------------------------------------------------------------------- */

.mindset-about-video-box > header > div:nth-of-type(1) {

  display: grid;
  row-gap: .5em;

}

/* ------------------------------------------------------------------- */
/* Video Nr | Header Div 1
/* ------------------------------------------------------------------- */

.video-nr-mindset-box {

  justify-self: flex-start;

  height: 1.8em;
  padding: 0 .4em;

  letter-spacing: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: .5em;

  font-weight: bold;

  background-color: #eeeeee;
  color:rgb(40, 40, 40);

}

/* only font size to dont let sizes on style */
.video-nr-mindset-box > span {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

}

/* ------------------------------------------------------------------- */
/* Video Description | Header Div 1
/* ------------------------------------------------------------------- */

.video-description-mindset-box {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

  font-style: italic;
  font-weight: bold;

  color:rgb(79, 79, 79);

}

/* ------------------------------------------------------------------- */
/* Video Countdown | Header
/* ------------------------------------------------------------------- */

#video-countdown-mindset-about-1 {

  font-size: 14.5px;

  align-self: flex-start;

  height: 1.8em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1px;

  font-weight: bold;

  border-radius: .4em;

  border: 1px solid rgb(185, 185, 185);

  /* background-color: rgb(184, 184, 184); */
  color: #808080;

}

#countdown-video-mindset-1-about > div {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

}

/* ------------------------------------------------------------------- */
/* Video | Video Mindset Box About
/* ------------------------------------------------------------------- */

.mindset-about-video-box > video {

  width: 100%;
  height: 15em;
  object-fit: cover;
  /* object-fit: fill; */
  /* object-fit: contain; */

  border-radius: 1.5em;

  /* border: 4px solid #444444; */

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
