/* -------------------------------------------------------------- */
/* > my-private.css
/*
/* : styles my private
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My Private Page Container
/* ------------------------------------------------------------- */

#my-private-page-container {

  /* z-index: 2; */
  width: 100%;
  padding: 2em 0;

  display: grid;
  /* row-gap: 2em; */

}

/* ------------------------------------------------------------- */
/* Nav My Private
/* ------------------------------------------------------------- */

#nav-my-private {

  margin-bottom: 2em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

}

/* ------------------------------------------------------------- */
/* Sport & Others Container | My Private
/* ------------------------------------------------------------- */

#sport-container-my-private,
#others-container-my-private {

  display: none;

}

/* ------------------------------------------------------------------- */
/* Img Background | My Private Page Container
/* ------------------------------------------------------------------- */

#img-background-my-private {

  z-index: 1;

  /* reminder: it orient by parent element which is pos=relative */
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);

  /* background-image: url("../../../../media/img/content/sky_cloud_clouds_175163_3840x2400.jpg");

  background-image: url("../../../../media/img/content/canyon-1852921.jpg"); */

  /* background-image: url("../../../../media/img/content/green-meadow-grass-field-blue-sky-foggy-landscape-scenery-5k-6000x4000-7807.jpg"); */

  /* background-image: url("../../../../media/img/content/particles_tilt_background_1186408_3840x2160.jpg"); */

  /* background-image: url("../../../../media/img/content/mountain_slope_trees_330922_3840x2400.jpg"); */

  /* background-image: url("../../../../media/img/content/forest_nature_trees_1325912_3840x2160.jpg"); */

  /* background-image: url("../../../../media/img/content/pexels-drift-shutterbug-2085998.jpg"); */

  background-image: url("../../../../media/img/content/grass_dew_drops_158971_3840x2400.jpg");

  /* background-image: url("../../../../media/img/content/tents_night_starry_sky_114917_3840x2400.jpg"); */

  /* background-image: url("../../../../media/img/content/trail_forest_trees_917434_3840x2400.jpg"); */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}




















/* ------------------------------------------------------------- */
/* My Private Sport Container
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------- */

/* 🟣 Auslagern */
/* ------------------------------------------------------------- */
/* My Private Sport Container
/* ------------------------------------------------------------- */

#my-private-sport-container {

  width: 100%;
  z-index: 2;

  display: grid;

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* My Private Sport Content Container
/* ------------------------------------------------------------- */

#my-private-sport-content-container {

  display: grid;

}

/* ------------------------------------------------------------- */
/* [1/2] | Selector Container
/* ------------------------------------------------------------- */

#my-private-selector-container {

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    column-gap: 1em;
    row-gap: 1em;

    background-color: rgb(255, 255, 255);

    /* background-color: green; */

}

.lbl-selector-my-private {

  height: 2.8em;
  min-width: 15em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  font-weight: bold;

  border-radius: .8em;

  user-select: none;

  background-color: rgb(185, 185, 185);

  transition: all .4s;

}

.lbl-selector-my-private:hover {

  background-color: wheat;
}

.lbl-selector-my-private > div {

  display: flex;
  align-items: center;
  column-gap: .6em;

}


/* ------------------------------------------------------------- */
/* [2/2] | Selector List Container
/* ------------------------------------------------------------- */

#my-private-selector-list-container {

  width: 100%;
    padding: 1.5em 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    column-gap: 1em;
    row-gap: 1em;

    background-color: rgb(255, 255, 255);

}
