/* -------------------------------------------------------------- */
/* > my-private.css
/*
/* : styles my private
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Img Background | My Private Page Container
/* ------------------------------------------------------------------- */

#img-background-my-private {

  z-index: 1;

  /* reminder: it orient by parent element which is pos=relative */
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);

  /* background-image: url("../../../../media/img/content/sky_cloud_clouds_175163_3840x2400.jpg");

  background-image: url("../../../../media/img/content/canyon-1852921.jpg"); */

  /* background-image: url("../../../../media/img/content/green-meadow-grass-field-blue-sky-foggy-landscape-scenery-5k-6000x4000-7807.jpg"); */

  /* background-image: url("../../../../media/img/content/particles_tilt_background_1186408_3840x2160.jpg"); */

  /* background-image: url("../../../../media/img/content/mountain_slope_trees_330922_3840x2400.jpg"); */

  /* background-image: url("../../../../media/img/content/forest_nature_trees_1325912_3840x2160.jpg"); */

  /* background-image: url("../../../../media/img/content/pexels-drift-shutterbug-2085998.jpg"); */

  background-image: url("../../../../media/img/content/grass_dew_drops_158971_3840x2400.jpg");

  /* background-image: url("../../../../media/img/content/tents_night_starry_sky_114917_3840x2400.jpg"); */

  /* background-image: url("../../../../media/img/content/trail_forest_trees_917434_3840x2400.jpg"); */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

/* ------------------------------------------------------------- */
/* My Private Page Container
/* ------------------------------------------------------------- */

#my-private-page-container {

  /* z-index: 2; */
  width: 100%;
  padding: 2em 0;

  display: grid;
  /* row-gap: 2em; */

}

/* ------------------------------------------------------------- */
/* Nav My Private
/* ------------------------------------------------------------- */

#nav-my-private {

  margin-bottom: 2em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* background-color: green; */

}

/* ------------------------------------------------------------- */
/* ⚠️ Prototyp
/* ------------------------------------------------------------- */

#prototyp-nav {

  height: 4.5em;
  padding: 0 0em 0 .4em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* background-color: green; */


}

/* ------------------------------------------------------------- */
/* Div | ⚠️ Prototyp
/* ------------------------------------------------------------- */

#prototyp-nav > div {





}


/* ------------------------------------------------------------- */
/* Curved Tab Panel | Nav My Private
/* ------------------------------------------------------------- */

/* default black img unshown */
label[for="radio-sport-category-my-private"] > img:nth-of-type(1),
label[for="radio-others-category-my-private"] > img:nth-of-type(1) {

  display: none;

}


/* ------------------------------------------------------------ */
/* TEST
/* ------------------------------------------------------------ */

#test-header-private {

  /* height: 0em; */
  margin-bottom: 1em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  column-gap: .8em;
  row-gap: .8em;

  font-weight: bold;

  border-radius: .8em;

  /* background-color: white; */

}

/* ------------------------------------------------------------ */
/* Header | TEST
/* ------------------------------------------------------------ */

#test-header-private > div:nth-of-type(1) {

  height: 100%;
  /* padding: 0 .8em; */
  min-width: 15em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .8em;

  background-color: white;

}

/* ------------------------------------------------------------ */
/* Nav | TEST
/* ------------------------------------------------------------ */

#test-header-private > nav {

  height: 100%;
  min-width: 15em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .8em;

  color: white;

  /* background-color: yellow; */

}
