/* -------------------------------------------------------------- */
/* > nav-my-private.css
/*
/* : styles my private
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Radio | Category | My Private ( Sport, Others )
/* ------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-my-private-category"] {

  display: none;
}

/* set background */
#radio-my-private-category-sport:checked ~ #nav-my-private label[for="radio-my-private-category-sport"],
#radio-my-private-category-others:checked ~ #nav-my-private label[for="radio-my-private-category-others"] {

  background-color: wheat;

}

/* set content */
#radio-my-private-category-sport:checked ~ #sport-container-my-private,
#radio-my-private-category-others:checked ~ #others-container-my-private {

  display: grid;

}











/* ------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* Nav List My Private
/* ------------------------------------------------------------- */

#nav-list-my-private {

  margin-top: 1.5em;

  display: flex;
  flex-wrap: wrap;
  /* mobile */
  justify-content: center;

  gap: .6em;

}

/* ------------------------------------------------------------- */
/* ⬇️⬆️ Smoot Open Close | Nav List My Private
/* ------------------------------------------------------------- */

#smooth-open-close-nav-list-my-private {

  /* width: 100%; */
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;

}

/* ------------------------------------------------------------- */
/* Handlings
/* ------------------------------------------------------------- */

/* default unshown */
#chk-selected-my-private,
input[name="name-radio-category-private"] {

  display: none;
}

/* ------------------------------------------------------------- */
/* Handling | Checkbox
/* ------------------------------------------------------------- */

/* set background | checkbox label */
#chk-selected-my-private:checked ~ #nav-my-private label[for="chk-selected-my-private"] {

  background-color: wheat;
}

/* change img arrow rotation | checkbox label */
#chk-selected-my-private:checked ~ #nav-my-private label[for="chk-selected-my-private"] > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* open nav */
#chk-selected-my-private:checked ~ #nav-my-private #smooth-open-close-nav-list-my-private {

  grid-template-rows: 1fr;

}

/* ------------------------------------------------------------- */
/* Handling | Radios
/* ------------------------------------------------------------- */

/* set img x */
#radio-sport-my-private:checked ~ #nav-my-private #smooth-open-close-nav-list-my-private label[for="radio-sport-my-private"] > .custom-radio-default > img,
#radio-books-my-private:checked ~ #nav-my-private #smooth-open-close-nav-list-my-private label[for="radio-books-my-private"] > .custom-radio-default > img,
#radio-food-my-private:checked ~ #nav-my-private #smooth-open-close-nav-list-my-private label[for="radio-food-my-private"] > .custom-radio-default > img,
#radio-language-my-private:checked ~ #nav-my-private #smooth-open-close-nav-list-my-private label[for="radio-language-my-private"] > .custom-radio-default > img,
#radio-mini-games-my-private:checked ~ #nav-my-private #smooth-open-close-nav-list-my-private label[for="radio-mini-games-my-private"] > .custom-radio-default > img {

  display: flex;

}

/* show content */
#radio-sport-my-private:checked ~ #my-sport-private-container,
#radio-books-my-private:checked ~ #my-book-private-container,
#radio-food-my-private:checked ~ #my-food-private-container,
#radio-language-my-private:checked ~ #my-language-private-container,
#radio-mini-games-my-private:checked ~ #my-mini-games-private-container {

  display: grid;

}
