/* -------------------------------------------------------------- */
/* > my-it.css
/*
/* : default styles for my it container
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My IT Container
/* ------------------------------------------------------------- */

#my-it-container {

    width: 100%;
    display: grid;
    justify-items: center;

    grid: auto 1fr / 1fr;

}

/* ------------------------------------------------------------- */
/* Areas | It Projects, It Docs
/* ------------------------------------------------------------- */

#css-my-it-projects-area,
#css-my-it-docs-area {

    /* default unshown, show only by checked radio */
    display: none;

}

/* ------------------------------------------------------------- */
/* Content Header Container | my IT
/* ------------------------------------------------------------- */

.my-it-content-header-container {

  width: 100%;
  padding: 1em .8em;

  /* mobile */
  display: grid;
  row-gap: .8em;

  /* desktop */
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; */

  background-color: rgb(28, 28, 28);
  color:white;

}

/* ------------------------------------------------------------- */
/* Header Element | my IT
/* ------------------------------------------------------------- */

.my-it-header-element {

  display: flex;
  align-items: center;
  column-gap: .8em;

}

/* ------------------------------------------------------------- */
/* Header Content Title | my IT
/* ------------------------------------------------------------- */

.my-it-header-content-title {

  display: grid;
  row-gap: .2em;

}

/* ------------------------------------------------------------- */
/* Div 1 | Header Content Title
/* ------------------------------------------------------------- */

.my-it-header-content-title > div:nth-of-type(1) {

  font-size: 1.125em;
  font-weight: bold;

}

/* ------------------------------------------------------------- */
/* Div 2 | Header Content Title
/* ------------------------------------------------------------- */

.my-it-header-content-title > div:nth-of-type(2) {

    color:grey;

}

/* ------------------------------------------------------------- */
/* Imgs | Title Element | Header
/* ------------------------------------------------------------- */

.img-it-top-projects-my-it-header-content {

  height: 2.2em;

}

.img-it-more-projects-my-it-header-content {

  height: 2em;
}

.img-it-docs-my-it-header-content {

  height: 2.2em;
}

.img-sport-my-it-header-content {

  height: 2.5em;
}

.img-reading-book-my-it-header-content {

  height: 2.5em;
}


/* ------------------------------------------------------------- */
/* Label | My It Content Header
/* ------------------------------------------------------------- */

.lbl-my-it-content-header {

   /* parent grid | mobile */
    justify-self: flex-end;

    height: 2.3em;
    padding: 0em .8em;

    display: flex;
    align-items: center;
    column-gap: .6em;

    border-radius: .6em;

    font-weight: bold;

    opacity: .4;

    border: 1px solid rgb(163, 163, 163);

    background-color: rgb(50, 50, 50) ;
    color:rgb(203, 203, 203);

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    user-select: none;
    cursor: pointer;
    transition: all .4s;

}

.lbl-my-it-content-header:hover {

    opacity: 1;
    background-color: wheat;
    color:black;
}

/* unshown white img - icon */
.lbl-my-it-content-header:hover > div:nth-of-type(1) > img:nth-of-type(1) {

  display: none;
}

/* shown black img - icon  */
.lbl-my-it-content-header:hover > div:nth-of-type(1) > img:nth-of-type(2) {

    display: flex;
}

/* shown black img - arrow */
.lbl-my-it-content-header:hover > img:nth-of-type(1) {

    display: none;
}

/* shown black img - arrow */
.lbl-my-it-content-header:hover > img:nth-of-type(2) {

    display: flex;
}



/* ------------------------------------------------------------- */
/* Div 1 | Label | My It Content Header
/* ------------------------------------------------------------- */

.lbl-my-it-content-header > div {

    display: flex;
    align-items: center;
    column-gap: .6em;
}

/* default unshown black img - icon & arrow */
.lbl-my-it-content-header > div > img:nth-of-type(2),
.lbl-my-it-content-header > img:nth-of-type(2) {

  display: none;

}
