/* -------------------------------------------------------------- */
/* > header-nav-body.css
/*
/* : default sets for header nav body
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* [2/2] Nav Header Body
/* ---------------------------------------------------------------- */

#nav-header-body {

    width: 100%;

    display: grid;
    justify-content: flex-end;
    grid: auto / auto .7fr 1.1fr;

    column-gap: .8em;

}

/* --------------------------------------------------- */
/* ⚠️ Just for Layout Testing
/* --------------------------------------------------- */

.set-header-nav-link {

    background-color: wheat;
    color:black;

}

.unset-header-nav-link {

    border: 1px solid rgb(85, 85, 85);
    color:#c8c8c8;
}

.unset-header-nav-link:visited {

    border: 1px solid rgb(85, 85, 85);
    color:#c8c8c8;

}

#nav-header-body > a:hover {

    background-color: wheat;
    color:black;
}


/* ---------------------------------------------------------------- */
/* Anker Link Header Body
/* ---------------------------------------------------------------- */

.anker-link-header-body {

    /* unstyle default link */
    text-decoration: none;
    font-weight: bold;

    height: 3em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .6em;

    border-radius: .8em;

    transition: all .4s;

}

.anker-link-header-body > img {

    /* mobile */
    display: none;
}
