/* -------------------------------------------------------------- */
/* > it-projects.css
/*
/* : styles it projects defaults
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* IT Projects Container
/* -------------------------------------------------------------- */

#it-projects-container {

  display: grid;
  row-gap: 2em;

}

/* -------------------------------------------------------------- */
/* Page IT Project Card | Style Page Content Card White
/* -------------------------------------------------------------- */

#page-it-project-card {

  display: grid;

}

/* -------------------------------------------------------------- */
/* Header | IT Projects Container
/* -------------------------------------------------------------- */

#header-it-projects-container {

  display: grid;
  justify-items: center;

  /* mobile */
  grid-template-areas:

  'drop-down-category-it-projects'
  'smooth-drop-down-category-list-it-projects'
  'nav-it-projects';

  /* background-color: rgb(88, 88, 88); */

}


/* -------------------------------------------------------------- */
/* [1/3] | Nav | It Projects
/* -------------------------------------------------------------- */

#nav-it-projects {

  grid-area: nav-it-projects;

  /* overwrite default nav content panel */
  justify-content: center;

  /* mobile */
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;

  border-radius: 1.3em;

  /* background-color: red; */

}

#nav-it-projects > label > div:nth-of-type(1) > img {

  /* very small mobile */
  display: none;

}

/* -------------------------------------------------------------- */
/* [2/3] | Drop Down Category | IT Projects
/* -------------------------------------------------------------- */

label[for="chk-selected-category-it-projects"] {

  grid-area: drop-down-category-it-projects;

  width: 8.5em;


}

/* -------------------------------------------------------------- */
/* [3/3] | Smooth Drop Down Category List | IT Projects
/* -------------------------------------------------------------- */

#smooth-drop-down-category-list-it-projects {

  grid-area: smooth-drop-down-category-list-it-projects;

  width: 8.5em;

  /* grid-template-rows: 1fr; */

}

/* -------------------------------------------------------------- */
/* Drop Down Category List
/* -------------------------------------------------------------- */

#drop-down-category-list-it-projects {

  margin-top: .5em;

  display: grid;
  row-gap: .5em;

  /* border: 1px solid black; */

}

/* -------------------------------------------------------------- */
/* TOP & More IT Projects Container
/* -------------------------------------------------------------- */

#top-it-projects-container,
#more-it-projects-container {

  margin-top: 1em;

  /* default unshown, handled by radios */
  display: none;

}

/* -------------------------------------------------------------- */
/* TOP IT Projects Container
/* -------------------------------------------------------------- */

#top-it-projects-container {

  width: 100%;

  display: grid;
  justify-items: center;


}

/* -------------------------------------------------------------- */
/* Label | Show More | Top IT Projects Container
/* -------------------------------------------------------------- */

#label-show-more-top-it-projects-container {

  padding: 2em 0 .5em 0;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: rgb(225, 225, 225); */

}

/* -------------------------------------------------------------- */
/* More IT Projects Container
/* -------------------------------------------------------------- */

#more-it-projects-container {

  background-color: green;

}
