/* -------------------------------------------------------------- */
/* > it-projects.css
/*
/* : styles it projects defaults
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* IT Projects Container
/* -------------------------------------------------------------- */

#it-projects-container {

  display: grid;
  row-gap: 2em;

}

/* -------------------------------------------------------------- */
/* [1/3] | Header | IT Projects Container
/* -------------------------------------------------------------- */

#header-it-projects-container {

  display: grid;
  justify-items: center;

  /* mobile */
  grid-template-areas:

  'category-it-projects'
  'smooth-category-it-projects-list'
  'nav-it-projects';

  /* background-color: rgb(88, 88, 88); */

}

/* -------------------------------------------------------------- */
/* Nav | Header
/* -------------------------------------------------------------- */

#nav-it-projects {

  grid-area: nav-it-projects;

  /* overwrite default nav content panel */
  justify-content: center;

  /* mobile */
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;

  border-radius: 1.3em;

  /* background-color: red; */

}

#nav-it-projects > label > div:nth-of-type(1) > img {

  /* very small mobile */
  display: none;

}

/* -------------------------------------------------------------- */
/* Selected Category (Label) | Header
/* -------------------------------------------------------------- */

label[for="chk-selected-category-it-projects"] {

  grid-area: category-it-projects;

  width: 13.8em;

}

/* -------------------------------------------------------------- */
/* Smooth | Drop Down Category IT Project List | Header
/* -------------------------------------------------------------- */

#smooth-category-it-projects-list {

  grid-area: smooth-category-it-projects-list;

  width: 13.8em;

  /* grid-template-rows: 1fr; */

}

/* -------------------------------------------------------------- */
/* Category IT Projects List | Header
/* -------------------------------------------------------------- */

#category-it-projects-list {

  margin-top: .5em;

  display: grid;
  row-gap: .5em;

  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/* TOP & More IT Projects Container
/* -------------------------------------------------------------- */

#top-it-projects-container,
#more-it-projects-container {

  margin-top: 1em;

}

/* -------------------------------------------------------------- */
/* [2/3] | Top IT | Project Container
/* -------------------------------------------------------------- */

#top-it-projects-container {

  width: 100%;

  display: grid;
  justify-items: center;

  /* default unshown, handled by radios */
  display: none;

}

/* -------------------------------------------------------------- */
/* Label Show More Container | Top IT Projects
/* -------------------------------------------------------------- */

#label-show-more-container-top-it-projects {

  padding: 2em 0 .5em 0;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: rgb(225, 225, 225); */

}

/* -------------------------------------------------------------- */
/* Show More Top IT Projects Container
/* -------------------------------------------------------------- */

#show-more-top-it-projects-container {

  margin-top: 1em;
  display: grid;
  row-gap: 2em;

}



/* -------------------------------------------------------------- */
/* [3/3] | More IT | Project Container
/* -------------------------------------------------------------- */

#more-it-projects-container {

  width: 100%;

  display: grid;
  justify-items: center;
   row-gap: 1.5em;

  /* default unshown, handled by radios */
  display: none;

  /* background-color: green; */

}
