/* -------------------------------------------------------------- */
/* > it-projects.css
/*
/* : styles it projects defaults
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* IT Projects Container
/* -------------------------------------------------------------- */

#it-projects-container {

  display: grid;
  row-gap: 2em;

}

/* -------------------------------------------------------------- */
/* Header | IT Projects Container
/* -------------------------------------------------------------- */

#header-it-project-container {

  display: grid;
  justify-content: space-between;

  column-gap: .8em;

  grid-template-areas:

  'nav-container-it-projects drop-down-category-it-project'
  '. smooth-drop-down-category-list-it-projects';


  /* background-color: rgb(202, 202, 202); */

}

/* -------------------------------------------------------------- */
/* [1/4] | Nav Container | IT Projects
/* -------------------------------------------------------------- */

#nav-container-it-projects {

  grid-area: nav-container-it-projects;

  display: flex;
  align-items: center;
  column-gap: .8em;

}

/* -------------------------------------------------------------- */
/* Img Icons (rocket,laptop) | Nav Container
/* -------------------------------------------------------------- */

/* img rocket */
#img-header-top-it-project {

  /* mobile */
  height: 1.6em;

}

/* img laptop human */
#img-header-more-it-project {

  /* mobile */
  height: 1.6em;

}

/* -------------------------------------------------------------- */
/* Label | Drop Down Category
/* -------------------------------------------------------------- */

label[for="chk-selected-category-top-it-projects"] {

  width: 13em;
  grid-area: drop-down-category-it-project;

}

/* -------------------------------------------------------------- */
/* Smooth Drop Down Category List | IT Projects
/* -------------------------------------------------------------- */

#smooth-drop-down-category-list-it-projects {

  grid-area: smooth-drop-down-category-list-it-projects;

  /* grid-template-rows: 1fr; */

}

/* -------------------------------------------------------------- */
/* Drop Down Category List
/* -------------------------------------------------------------- */

#drop-down-category-list-it-projects {

  margin-top: .5em;

  display: grid;
  row-gap: .5em;

  border: 1px solid black;

}

/* -------------------------------------------------------------- */
/* TOP & More IT Projects Container
/* -------------------------------------------------------------- */

#top-it-projects-container,
#more-it-projects-container {

  margin-top: 2em;

}

/* -------------------------------------------------------------- */
/* TOP IT Projects Container
/* -------------------------------------------------------------- */

#top-it-projects-container {

  border-top: 1px solid black;


}

/* -------------------------------------------------------------- */
/* More IT Projects Container
/* -------------------------------------------------------------- */

#more-it-projects-container {


}
