/* -------------------------------------------------------------------------------- */
/* > nav-it-projects.css
/* : styles default nav handlings of it projects
/*
/* : 1. checkbox selected category ( top, more )
/* : 2. radio category ( top, more )
/* : 3. radio content category
/* :    ( web-design, web-dev, software-dev)
/* :    ( exercices, leet-code, mini-games )
/* : 4. Show More Top IT Projects
/* -------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------- */
/* 🟩 [1/4] | Checkbox | Selected Category | IT Projects ( top, more )
/* ------------------------------------------------------------------------------- */

/* default unshown */
#chk-selected-category-it-projects {

  display: none;

}

/* set background */
#chk-selected-category-it-projects:checked ~ #header-it-projects-container label[for="chk-selected-category-it-projects"] {

  background-color: rgb(239, 113, 113);

}

/* set text part black */
#chk-selected-category-it-projects:checked ~ #header-it-projects-container label[for="chk-selected-category-it-projects"] .text-grey {

  color:black;

}

/* change rotation | img arrow */
#chk-selected-category-it-projects:checked ~ #header-it-projects-container label[for="chk-selected-category-it-projects"] > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* show content */
#chk-selected-category-it-projects:checked ~ #header-it-projects-container #smooth-drop-down-category-it-project-list {

  grid-template-rows: 1fr;

}

/* ------------------------------------------------------------------------------- */
/* 🟥 [2/4] | Radio | Category | IT Projects ( top, more )
/* ------------------------------------------------------------------------------- */

input[name="name-radio-category-it-projects"] {

  display: none;

}

/* set background */
#radio-category-top-it-projects:checked ~ #header-it-projects-container label[for="radio-category-top-it-projects"],
#radio-category-more-it-projects:checked ~ #header-it-projects-container label[for="radio-category-more-it-projects"] {

  background-color: wheat;

}

/* set x */
#radio-category-top-it-projects:checked ~ #header-it-projects-container label[for="radio-category-top-it-projects"] > .custom-radio-small > img,
#radio-category-more-it-projects:checked ~ #header-it-projects-container label[for="radio-category-more-it-projects"] .custom-radio-small > img {

  display: flex;

}

/* ------------------------------------------------------------------------------- */
/* 🟥 [3/4] | Radios | Content Category ( web-design, web-dev, ... )
/* ------------------------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-content-category-it-project"] {

  display: none;

}

/* set background */
#radio-content-category-it-project-1:checked ~ #header-it-projects-container label[for="radio-content-category-it-project-1"],
#radio-content-category-it-project-2:checked ~ #header-it-projects-container label[for="radio-content-category-it-project-2"],
#radio-content-category-it-project-3:checked ~ #header-it-projects-container label[for="radio-content-category-it-project-3"] {

  background-color: wheat;
  opacity: 1;

}

/* set x */
#radio-content-category-it-project-1:checked ~ #header-it-projects-container label[for="radio-content-category-it-project-1"] > .custom-radio-small > img,
#radio-content-category-it-project-2:checked ~ #header-it-projects-container label[for="radio-content-category-it-project-2"] > .custom-radio-small > img,
#radio-content-category-it-project-3:checked ~ #header-it-projects-container label[for="radio-content-category-it-project-3"] > .custom-radio-small > img {

  display: flex;

}

/* ------------------------------------------------------------------------------- */
/* 🟩 [4/4] | Checkbox | Show More | 2 Top IT Projects
/* ------------------------------------------------------------------------------- */

/* default unshown */
#chk-show-more-top-it-projects {

  display: none;
}

/* set background */
#chk-show-more-top-it-projects:checked ~ #top-it-projects-container label[for="chk-show-more-top-it-projects"] {

  background-color: rgb(239, 113, 113);

}

/* change rotation , img arrow */
#chk-show-more-top-it-projects:checked ~ #top-it-projects-container label[for="chk-show-more-top-it-projects"] > img {

  transform: rotate(180deg);

}

/* set content */
#chk-show-more-top-it-projects:checked ~ #top-it-projects-container #smooth-show-more-top-it-projects-container {

  grid-template-rows: 1fr;

}
