/* ------------------------------------------------------------------------- */
/* > nav-sport.css
/* : styles nav sport of my private
/* ------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */
/* Checkbox | Selected Sport Category ( newest videos, challenges )
/* --------------------------------------------------------------------------- */

/* default unshown */
#chk-selected-sport-category {

  display: none;

}

/* set background */
#chk-selected-sport-category:checked ~ #header-nav-sport-container label[for="chk-selected-sport-category"] {

  background-color: rgb(239, 113, 113);

}

#chk-selected-sport-category:checked ~ #header-nav-sport-container label[for="chk-selected-sport-category"] .c-grey {

  color:black;

}

/* change rotation img arrow */
#chk-selected-sport-category:checked ~ #header-nav-sport-container label[for="chk-selected-sport-category"] > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* set content */
#chk-selected-sport-category:checked ~ #header-nav-sport-container #smooth-nav-sport-category {

  grid-template-rows: 1fr;
}


/* ----------------------------------------------------------------------------- */
/*  Radios | Sport Categories ( newest videos (X), challenges (X) )
/* ----------------------------------------------------------------------------- */

/* default unshown */
input[name="radio-sport-category"] {

  display: none;

}

/* set background */
#radio-sport-newest-videos:checked ~ #header-nav-sport-container label[for="radio-sport-newest-videos"],
#radio-sport-challenge-videos:checked ~ #header-nav-sport-container label[for="radio-sport-challenge-videos"] {

  background-color: wheat;

}

/* set x */
#radio-sport-newest-videos:checked ~ #header-nav-sport-container label[for="radio-sport-newest-videos"] > .custom-radio-small > img,
#radio-sport-challenge-videos:checked ~ #header-nav-sport-container label[for="radio-sport-challenge-videos"] > .custom-radio-small > img {

  display: flex;

}

/* add label | choose challenges */
#radio-sport-challenge-videos:checked ~ #header-nav-sport-container label[for="chk-selected-sport-challenge-category"] {

  display: flex;

}

/* set content | newest sport videos / sport challenges  */
#radio-sport-newest-videos:checked ~ #sport-content-container #sport-newest-video-container,
#radio-sport-challenge-videos:checked ~ #sport-content-container #sport-challenges-video-container {

  display: grid;

}
