/* ------------------------------------------------------------------------- */
/* > nav-sport.css
/* : styles nav sport of my private
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Checkbox | Selected Category ( newest videos, challenges )
/* ------------------------------------------------------------- */

/* default unshown */
#chk-selected-category-sport {

  display: none;

}

/* set background */
#chk-selected-category-sport:checked ~ #header-nav-sport-container label[for="chk-selected-category-sport"] {

  background-color: rgb(239, 113, 113);

}

#chk-selected-category-sport:checked ~ #header-nav-sport-container label[for="chk-selected-category-sport"] .text-grey {

  color:black;

}

/* change rotation img arrow */
#chk-selected-category-sport:checked ~ #header-nav-sport-container label[for="chk-selected-category-sport"] > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* set content */
#chk-selected-category-sport:checked ~ #header-nav-sport-container #smooth-nav-sport-general-category {

  grid-template-rows: 1fr;
}

/* ------------------------------------------------------------- */
/* Radios | Category ( newest videos, challenges )
/* ------------------------------------------------------------- */

/* default unshown */
input[name="radio-sport-category"] {

  display: none;

}

/* set background */
#radio-sport-newest-video:checked ~ #header-nav-sport-container label[for="radio-sport-newest-video"],
#radio-challenges-video:checked ~ #header-nav-sport-container label[for="radio-challenges-video"] {

  background-color: wheat;

}

/* set x */
#radio-sport-newest-video:checked ~ #header-nav-sport-container label[for="radio-sport-newest-video"] > .custom-radio-small > img,
#radio-challenges-video:checked ~ #header-nav-sport-container label[for="radio-challenges-video"] > .custom-radio-small > img {

  display: flex;

}

/* show choosing challenges */
#radio-challenges-video:checked ~ #header-nav-sport-container label[for="chk-selected-category-sport-challenges"] {

  display: flex;
}

/* set content */

/* ------------------------------------------------------------- */
/* Checkbox | Open,Close | History ( Newest Sport )
/* ------------------------------------------------------------- */

/* default unshown */
#chk-history-newest-sport {

  display: none;

}

/* set background */
#chk-history-newest-sport:checked + label {

  background-color: rgb(239, 113, 113);

}

/* set color black to challenges */
#chk-history-newest-sport:checked + label .text-grey {

  color:rgb(48, 48, 48);

}

/* change rotation img arrow */
#chk-history-newest-sport:checked + label > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* set content */
#chk-history-newest-sport:checked ~ #smooth-content-history-sport-newest-video-container {

  grid-template-rows: 1fr;
}

/* ------------------------------------------------------------- */
/* Checkbox | Selected Category Sport Challenge
/* ------------------------------------------------------------- */

/* default unshown */
#chk-selected-category-sport-challenges {

  display: none;

}

/* set background */
#chk-selected-category-sport-challenges:checked ~ #header-nav-sport-container label[for="chk-selected-category-sport-challenges"] {

  background-color: rgb(239, 113, 113);

}

/* set color black to challenges */
#chk-selected-category-sport-challenges:checked ~ #header-nav-sport-container label[for="chk-selected-category-sport-challenges"] > div:nth-of-type(1) > div:nth-of-type(2) {

  color:rgb(48, 48, 48);

}

/* change rotation img arrow */
#chk-selected-category-sport-challenges:checked ~ #header-nav-sport-container label[for="chk-selected-category-sport-challenges"] > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* set content */
#chk-selected-category-sport-challenges:checked ~ #header-nav-sport-container #smooth-nav-sport-category-challenges {

  grid-template-rows: 1fr;
}

/* ------------------------------------------------------------- */
/* Radios | Category Sport Challenge ( Challenge 1,2, ... )
/* ------------------------------------------------------------- */

/* default unshown */
input[name="radio-sport-challenges"] {

  display: none;

}

/* set background */
#radio-sport-unset-challenge:checked ~ #header-nav-sport-container label[for="radio-sport-unset-challenge"],
#radio-sport-challenge-1:checked ~ #header-nav-sport-container label[for="radio-sport-challenge-1"],
#radio-sport-challenge-2:checked ~ #header-nav-sport-container label[for="radio-sport-challenge-2"] {

  background-color: wheat;

}

/* set x */
#radio-sport-unset-challenge:checked ~ #header-nav-sport-container label[for="radio-sport-unset-challenge"] > .custom-radio-small > img,
#radio-sport-challenge-1:checked ~ #header-nav-sport-container label[for="radio-sport-challenge-1"]  > .custom-radio-small > img,
#radio-sport-challenge-2:checked ~ #header-nav-sport-container label[for="radio-sport-challenge-2"] > .custom-radio-small > img {

  display: flex;

}

/* set content */
