/* ------------------------------------------------------------------------- */
/* > nav-sport.css
/* : styles nav sport of my private
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Checkbox | Selected Category ( newest videos, challenges )
/* ------------------------------------------------------------- */

/* default unshown */
#chk-selected-category-sport {

  display: none;

}

/* set background */
#chk-selected-category-sport:checked ~ #header-nav-sport-container label[for="chk-selected-category-sport"] {

  background-color: rgb(239, 113, 113);

}

#chk-selected-category-sport:checked ~ #header-nav-sport-container label[for="chk-selected-category-sport"] .text-grey {

  color:black;

}

/* change rotation img arrow */
#chk-selected-category-sport:checked ~ #header-nav-sport-container label[for="chk-selected-category-sport"] > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* set content */
#chk-selected-category-sport:checked ~ #header-nav-sport-container #smooth-nav-sport-general-category {

  grid-template-rows: 1fr;
}

/* ----------------------------------------------------------------------------- */
/*  Radios | Sport Categories ( newest videos, challenges )
/* ----------------------------------------------------------------------------- */

/* default unshown */
input[name="radio-sport-category"] {

  display: none;

}

/* set background */
#radio-sport-newest-videos:checked ~ #header-nav-sport-container label[for="radio-sport-newest-videos"],
#radio-sport-challenge-videos:checked ~ #header-nav-sport-container label[for="radio-sport-challenge-videos"] {

  background-color: wheat;

}

/* set x */
#radio-sport-newest-videos:checked ~ #header-nav-sport-container label[for="radio-sport-newest-videos"] > .custom-radio-small > img,
#radio-sport-challenge-videos:checked ~ #header-nav-sport-container label[for="radio-sport-challenge-videos"] > .custom-radio-small > img {

  display: flex;

}

/* show choose challenges label */
#radio-sport-challenge-videos:checked ~ #header-nav-sport-container label[for="chk-selected-category-sport-challenges"] {

  display: flex;

}

/* set content | newest sport videos / sport challenges  */
#radio-sport-newest-videos:checked ~ #content-sport-container #sport-newest-video-container,
#radio-sport-challenge-videos:checked ~ #content-sport-container #sport-challenges-video-container {

  display: grid;

}
