/* ------------------------------------------------------------------------- */
/* > sport.css
/* : styles sport of my private
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Sport Container | My Private
/* ------------------------------------------------------------- */

#sport-container-my-private {

  width: 100%;
  display: grid;
  justify-items: center;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* Header Nav | Sport Container
/* ------------------------------------------------------------- */

#header-nav-sport-container {

  width: 100%;

  display: grid;
  align-items: flex-start;

  /* mobile */
  grid-template:

  'sport-nav-sport'
  'selected-sport-challenge-category'
  'smooth-nav-sport-challenges-category'

  ;

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* [1/4] | Header Content Block
/* ------------------------------------------------------------- */

#header-nav-sport-container > .header-content-block {

  grid-area: sport-header-content-block;

  /* explicit vor better look & feel */
  margin-left: .6em;

  align-self: flex-start;

  /* mobile */
  display: none;

}

/* ------------------------------------------------------------- */
/* [2/4] | Nav Sport ( newest, challenges )
/* ------------------------------------------------------------- */

#nav-sport {

  grid-area: sport-nav-sport;

  display: grid;

}

/* ------------------------------------------------------------- */
/* Nav Sport Category
/* ------------------------------------------------------------- */

#nav-sport-category {

  padding-top: .5em;

  display: grid;
  row-gap: .5em;

  /* background-color: blue; */

}

/* ------------------------------------------------------------- */
/* [3/4] | Label | Selected Sport Challenge Category
/* ------------------------------------------------------------- */

label[for="chk-selected-sport-challenge-category"] {

  grid-area: selected-sport-challenge-category;

  margin-top: .5em;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* [4/4] | Smooth | Nav Sport Challenges Category
/* ------------------------------------------------------------- */

#smooth-nav-sport-challenges-category {

  grid-area: smooth-nav-sport-challenges-category;

  /* grid-template-rows: 1fr; */

}

/* ------------------------------------------------------------- */
/* Nav Sport Challenge Category
/* ------------------------------------------------------------- */

#nav-sport-category-challenges  {

   padding-top: .5em;

   /* mobile */
   display: grid;
   row-gap: .4em;

}

/* ------------------------------------------------------------- */
/* Sport Content Container
/* ------------------------------------------------------------- */

#sport-content-container {

  width: 100%;

  display: grid;
  justify-items: center;

}
