/* ------------------------------------------------------------------------- */
/* > sport.css
/* : styles sport of my private
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Sport Container | My Private
/* ------------------------------------------------------------- */

#sport-container-my-private {

  display: grid;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* Header Nav | Sport Container
/* ------------------------------------------------------------- */

#header-nav-sport-container {

  display: grid;
  align-items: flex-start;

  /* mobile */
  grid-template:

  'sport-nav-sport-general'
  'sport-selected-category-sport-challenges'
  'smooth-nav-sport-category-challenges'

  ;

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* [1/4] | Header Content Block
/* ------------------------------------------------------------- */

#header-nav-sport-container > .header-content-block {

  grid-area: sport-header-content-block;

  align-self: flex-start;

  /* mobile */
  display: none;

}

/* ------------------------------------------------------------- */
/* [2/4] | Nav Sport Container
/* ------------------------------------------------------------- */

#nav-sport-general {

  grid-area: sport-nav-sport-general;

  /* mobile */
  /* margin-top: 0em; */

  display: grid;


}

/* ------------------------------------------------------------- */
/* Nav Sport Category Category
/* ------------------------------------------------------------- */

#nav-sport-general-category {

  padding-top: .5em;

  display: grid;
  row-gap: .5em;

  /* background-color: blue; */

}

/* ------------------------------------------------------------- */
/* [3/4] | Label | Selected Category Sport Challenges
/* ------------------------------------------------------------- */

label[for="chk-selected-category-sport-challenges"] {

  margin-top: .5em;
  grid-area: sport-selected-category-sport-challenges;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* [4/4] | Smooth | Nav Sport Category Challenges
/* ------------------------------------------------------------- */

#smooth-nav-sport-category-challenges {

  grid-area: smooth-nav-sport-category-challenges;

  /* grid-template-rows: 1fr; */

}

/* ------------------------------------------------------------- */
/* Nav Sport Category Challenges
/* ------------------------------------------------------------- */

#nav-sport-category-challenges  {

   padding-top: .5em;

   /* mobile */
   display: grid;
   row-gap: .4em;

}

/* ------------------------------------------------------------- */
/* Content | Sport Container
/* ------------------------------------------------------------- */

#content-sport-container {

  display: grid;
  /* background-color: blue; */

}
