/* -------------------------------------------------------------- */
/* > video-link-box.css
/* : styles video link box
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.video-link-box-medium,
.video-link-box-large {

  position: relative;

  /* mobile */
  width:100%;

  display: grid;

  border-radius: .8em;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  border: 3px solid rgb(240, 240, 240);
  background-color: rgba(255, 255, 255, .8);


  transition: all .4s;

}

/* -------------------------------------------------------------- */
/* Hover | Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.video-link-box-medium:hover > img,
.video-link-box-large:hover > img {

  opacity: 1;

}

/* -------------------------------------------------------------- */
/* Nr | Div 1 | Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.video-link-box-medium > div:nth-of-type(1),
.video-link-box-large > div:nth-of-type(1) {

  position: absolute;
  left:.4em;
  top:.4em;

  z-index: 3;

  width: 1.3em;
  height: 1.3em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .8em 0 .8em 0;

  border-radius: 50%;

  background-color: rgba(255, 255, 255, .8);



}

.video-link-box-medium > div:nth-of-type(1) > div,
.video-link-box-large > div:nth-of-type(1) > div {

  font-size: 12px;

  font-weight: bold;
  color:black;

}

/* -------------------------------------------------------------- */
/* Img | Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.video-link-box-medium > img,
.video-link-box-large > img {

  width: 100%;
  border-radius: .6em;

  opacity: .5;

}

/* -------------------------------------------------------------- */
/* Link Show Me | Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.video-link-box-medium > a,
.video-link-box-large > a {

  text-decoration: none;

  position: absolute;
  bottom: 0;

  height: 2em;
  width: 100%;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .4em;

  font-weight: bold;

  border-radius: 0 0 .6em .6em;

  /* background-color: rgba(121, 121, 121, 0.8); */
  background-color: rgba(255, 255, 255, .8);

  color:rgb(52, 52, 52);

  transition: all .4s;

}

.video-link-box-medium > a > div,
.video-link-box-large > a > div {

  font-size: 14.5px;

}

.video-link-box-medium > a:hover,
.video-link-box-large > a:hover {

  background-color: wheat;

}

.video-link-box-medium > :a:visited,
.video-link-box-large > a:visited {

  color:black;

}
