/* -------------------------------------------------------------- */
/* > it-more-projects.css
/*
/* : styles my it more projects
/* -------------------------------------------------------------- */



/* ------------------------------------------------------------- */
/* My It More Projects Container
/* ------------------------------------------------------------- */

#my-it-more-projects-container {

  width: 100%;

  /* background-color: blue; */

}


/* ------------------------------------------------------------- */
/* Header More IT Projects
/* ------------------------------------------------------------- */

#header-more-it-projects {

  width: 100%;

  /* mobile */
  display: grid;
  justify-items: center;
  row-gap: 2em;

}

#header-more-it-projects > .header-main-title-block {

  width: 100%;

}
