/* -------------------------------------------------------------- */
/* > header-nav-body.css
/*
/* : default sets for header nav body
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* [2/2] Nav Header Body
/* ---------------------------------------------------------------- */

#nav-header-body {

    width: 100%;

    display: grid;
    justify-content: flex-end;
    grid: auto / auto .7fr 1.1fr;

    column-gap: .8em;

}

/* --------------------------------------------------- */
/* ⚠️ Just for Layout Testing
/* --------------------------------------------------- */

#nav-header-body > a:first-child {

     background-color: wheat;
     color:black;

}

#nav-header-body > a:nth-of-type(2),
#nav-header-body > a:nth-of-type(3) {

    color:rgb(130, 130, 130);
    color:black;

    /* border: 1px dashed grey; */

    background-color: rgb(53, 53, 53);

    background-color: rgb(192, 192, 192);

    /* background-color: rgb(83, 83, 83); */

}

#nav-header-body > a:hover {

    background-color: wheat;
    color:black;
}

/* ---------------------------------------------------------------- */
/* Anker Link Header Body
/* ---------------------------------------------------------------- */

.anker-link-header-body {

    /* unstyle default link */
    text-decoration: none;
    font-weight: bold;

    height: 3em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .6em;

    border-radius: .4em;

    color:black;

    transition: all .4s;

}

.anker-link-header-body > img {

    /* mobile */
    display: none;
}


.anker-link-header-body:visited {

    color: black;
}



/* ------------------------------------------------------------------------- */
/* Main Container & Header Main Container
/* ------------------------------------------------------------------------- */


/* ---------------------------------------------------- */
/* Main Content Container
/* ---------------------------------------------------- */

.main-content-container {

    width: 100%;

    display: grid;
    grid: auto 1fr / 1fr;

    /* background-color: red; */

}

/* ---------------------------------------------------- */
/* Header Main (left,right,2-outside) Container
/* ---------------------------------------------------- */

.header-main-left-container,
.header-main-right-container,
.header-main-two-outside-container {

    height: 12em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
}

.header-main-right-container {

    justify-content: flex-end;
}

.header-main-two-outside-container  {

    justify-content: space-between;
}

.header-main {

    height: 5em;
    padding: 0 2em;

    display: flex;
    column-gap: 1.3em;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    border-radius: .6em;

    background-color: rgb(28, 28, 28);
    color:white;

    opacity: .6;

}



.header-main div:nth-of-type(1) {

    font-size: 2em;
}

/* ---------------------------------------------------- */
/* Main Content Layout Container
/* ---------------------------------------------------- */

.main-content-layout-container {

    padding: 2em 2em;



    background-color: grey;
}
