/* -------------------------------------------------------------- */
/* > sport-newest-videos.css
/* : styles sport newest videos
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport Newest Video Container
/* -------------------------------------------------------------- */

#sport-newest-video-container {

  width: 100%;

  padding-top: 1.5em;

  display: grid;
  justify-items: center;
  row-gap: 1.5em;

  /* default unshown */
  display: none;

  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/* Reminder Sport Newest
/* -------------------------------------------------------------- */

#reminder-sport-newest-video {

  width: 100%;
  padding: 0em 1em;

  /* mobile */
  display: grid;

  column-gap: .8em;
  row-gap: .4em;

  border-radius: .8em;

  /* background-color: rgb(243, 243, 243); */

}

/* Div 1 | Reminder Sport Newest */
#reminder-sport-newest-video > div:nth-of-type(1) {

  font-size: 14.5px;
  font-size: 16px;

  /* text-decoration: underline; */
  font-weight: bold;

  color:rgb(88, 88, 88);

}

/* Div 2 | Reminder Sport Newest */
#reminder-sport-newest-video > div:nth-of-type(2) {

  font-size: 14.5px;

  font-size: 16px;
  line-height: 1.7em;

  color:grey;

}

/* -------------------------------------------------------------- */
/* History Sport Newest Video Container
/* -------------------------------------------------------------- */

#history-sport-newest-video-container {

  width: 100%;

  display: grid;
  justify-items: center;
  justify-content: center;

  /* background-color: blue; */

}

/* -------------------------------------------------------------- */
/* Content History Sport Newest Video Container
/* -------------------------------------------------------------- */

#content-history-sport-newest-video-container {

  padding-top: 1.5em;
  padding-bottom: 1.5em;

  display: grid;
  row-gap: 1.5em;

  /* background-color: grey; */

}
