/* -------------------------------------------------------------- */
/* > about.css
/*
/* : styles about
/* -------------------------------------------------------------- */


/* ------------------------------------------- */
/* About Page Container
/* ------------------------------------------- */

#about-page-container {

  /* padding-top: 5em; */

  width: 100%;

  display: grid;
  justify-items: center;
  align-content: flex-start;

  /* row-gap: 2em; */

  background-color: rgb(102, 168, 63);

}

/* ------------------------------------------- */
/* Nav About
/* ------------------------------------------- */

#nav-about {

  height: 3em;

  display: flex;
  align-items: center;

  background-color: grey;

}

#nav-about > :not(label:last-child) {

  border-right: 1px solid rgb(158, 158, 158);
}

#nav-about > label {

  height: 100%;
  padding: 0 .8em;

  background-color: rgb(198, 198, 198);

  font-weight: bold;

  display: flex;
  align-items: center;
  column-gap: .6em;

  cursor: pointer;
  transition: all .4s;
}

#nav-about > label:hover {

  background-color: wheat;
}
