/* -------------------------------------------------------------- */
/* > about.css
/*
/* : styles about
/* -------------------------------------------------------------- */


/* ------------------------------------------- */
/* About Page Container
/* ------------------------------------------- */

#about-page-container {

  /* padding-top: 5em; */

  width: 100%;
  /* padding: 2em 0; */

  display: grid;
  justify-items: center;
  /* align-content: flex-start; */

  grid: auto 1fr / 1fr;

  /* row-gap: 2em; */

  background-color: rgb(102, 168, 63);

}
