/* -------------------------------------------------------------- */
/* > about.css
/*
/* : styles about
/* -------------------------------------------------------------- */


/* ------------------------------------------- */
/* About Page Container
/* ------------------------------------------- */

#about-page-container {

  /* padding-top: 5em; */

  width: 100%;

  display: grid;
  justify-items: center;
  align-content: flex-start;

  row-gap: 2em;

  background-color: rgb(102, 168, 63);

}

/* #about-page-container > div {

  padding: 0 .8em;

} */
