/* -------------------------------------------------------------- */
/* > resp-about.css
/*
/* : responsive sets for about page elements
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* >= 380px
/* ------------------------------------------------------------------- */

@media ( min-width: 380px ) {

    /* ------------------------------------------------ */
    /*  Welcome | Welcome Container */
    /* ------------------------------------------------ */

    #welcome-container {

      /* width: 100%;
      padding: 1.3em 1.3em;
      margin: 1em 0; */
      /* height: 7em; */

      grid-template-areas:
      'welcome-title welcome-img'
      'welcome-date welcome-date'
      ;

      grid-template-columns: 1fr auto;

      /*
      column-gap: 1.5em;
      row-gap: 1em; */

    }

    /* ------------------------------------------------ */
    /*  Welcome | Img Cartoon */
    /* ------------------------------------------------ */

    #img-clipart-welcome {

      /* mobile */
      display: block;
      height: 6em;

    }

}

/* ------------------------------------------------------------------- */
/* >= 45px
/* ------------------------------------------------------------------- */

@media ( min-width: 450px ) {


    /* ------------------------------------------------ */
    /*  Welcome | Welcome Container */
    /* ------------------------------------------------ */

    #welcome-container {

      width: 28em;

    }

}
