/* -------------------------------------------------------------- */
/* > resp-about.css
/*
/* : responsive sets for about page elements
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* >= 380px
/* ------------------------------------------------------------------- */

@media ( min-width: 380px ) {

    /* ------------------------------------------------ */
    /*  Welcome | Welcome Container */
    /* ------------------------------------------------ */

    #welcome-container {

      grid-template-areas:
      'welcome-title welcome-img'
      'welcome-date welcome-date'
      ;

      grid-template-columns: 1fr auto;


    }

    /* ------------------------------------------------ */
    /*  Welcome | Img Cartoon */
    /* ------------------------------------------------ */

    #img-clipart-welcome {

      /* mobile */
      display: block;
      height: 6em;

    }

}

/* ------------------------------------------------------------------- */
/* >= 450px
/* ------------------------------------------------------------------- */

@media ( min-width: 450px ) {


    /* ------------------------------------------------ */
    /*  Welcome | Welcome Container */
    /* ------------------------------------------------ */

    #welcome-container {

      width: 28em;

    }

}

/* ------------------------------------------------------------------- */
/* >= 800px
/* ------------------------------------------------------------------- */

@media ( min-width: 800px ) {

    /* ------------------------------------------------ */
    /*  Welcome | Welcome Row Container */
    /* ------------------------------------------------ */
    #welcome-row-container {

      justify-content: flex-start;

      /* padding-top: 1.5em;
      padding-bottom: 1.5em; */

    }

}
