/* -------------------------------------------------------------- */
/* > resp-about.css
/*
/* : responsive sets for about page elements
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* >= 380px
/* ------------------------------------------------------------------- */

@media ( min-width: 380px ) {


    /* ------------------------------------------------ */
    /* More Container | Nav Img */
    /* ------------------------------------------------ */

    #nav-about-more > label > img {

      display: flex;

    }

}

/* ------------------------------------------------------------------- */
/* >= 420px
/* ------------------------------------------------------------------- */

@media ( min-width: 420px ) {

  /* ------------------------------------------- */
  /* Mindset Video Container
  /* ------------------------------------------- */

  .about-mindset-video-container {

    width: 25em;

    display: grid;
    row-gap: .5em;

    border:1px solid black;

  }


}


/* ------------------------------------------------------------------- */
/* >= 650px
/* ------------------------------------------------------------------- */

@media ( min-width: 650px ) {


  /* ------------------------------------------------ */
  /* Quick Info Container                             */
  /* ------------------------------------------------ */

  #about-quick-info-container {

    flex-wrap: nowrap;

    /* desktop */
    column-gap: 1em;

    /* background-color: white; */

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Img Arrow Seperator
  /* ------------------------------------------------------------------- */

  #img-arrow-seperator-about-quick-info {

    /* desktop */
    display: flex;

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Content
  /* ------------------------------------------------------------------- */

  #about-quick-info-content {

    /* desktop */
    justify-items: flex-start;

  }

  /* ----------------------------------------------------------- */
  /* Quick Info | Text
  /* ----------------------------------------------------------- */

  #about-quick-info-text {

    /* desktop */
    text-align: left;

  }

}


/* ------------------------------------------------------------------- */
/* >= 750px
/* ------------------------------------------------------------------- */

@media ( min-width: 750px ) {


  /* ------------------------------------------------ */
  /*  Quick Info | Container  */
  /* ------------------------------------------------ */

  #about-quick-info-container {

    /* desktop */
    padding: 2em 0;


  }

  /* ------------------------------------------------------------------- */
  /* About Quick Info Container
  /* ------------------------------------------------------------------- */

  #about-quick-info-container {

    /* desktop */
    width: 48em;

    /* background-color: yellow; */

  }

  /* ------------------------------------------------ */
  /*  Quick Info | Why Superfreshdev  */
  /* ------------------------------------------------ */

  #about-why-superfreshdev {

    justify-items: flex-end;

  }


}
