/* -------------------------------------------------------------- */
/* > resp-header-beginning-container.css
/*
/* : styles resp sets of header beginning containers
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* 380px
/* ---------------------------------------------------------------- */

@media (min-width: 380px ) {

  /* ------------------------------------------------------------- */
  /* Header Beginning Sub Title | Header Beginning Title Box
  /* ------------------------------------------------------------- */

  .header-beginning-sub-title {

    font-size: 14.5px;

  }

}


/* ---------------------------------------------------------------- */
/* 600px
/* ---------------------------------------------------------------- */

@media (min-width: 600px ) {


  /* ------------------------------------------------------------- */
  /* Header Beginning Container
  /* ------------------------------------------------------------- */

  .header-beginning-container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    /* background-color: rgb(97, 201, 97); */

  }

}
