/* -------------------------------------------------------------- */
/* > resp-style-page-content-card.css
/*
/* : styles resp sets of page content card
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* 500px
/* ---------------------------------------------------------------- */

@media (min-width: 500px ) {

  /* ------------------------------------------------------- */
  /* Page Content Cards
  /* ------------------------------------------------------- */

  .style-page-content-card-white {

    /* padding: 1.3em 1.3em; */

  }


}
