/* ----------------------------------------------------------------------------- */
/* > news-about.css
/*  
/* : styles for news container in about page
/* ----------------------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* News Container About
/* ---------------------------------------------------------------- */

#news-container-about {

    width: 100%;
    margin: 0 .8em;

    /* background-color: rgb(227, 14, 99); */
}

/* ---------------------------------------------------------------- */
/* [1/2] | Header | News Container 
/* ---------------------------------------------------------------- */

#news-container-about > header {

    height: 4em;
    

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: bold;

    /* background-color: green; */
    /* background-color: yellow; */
}

.header-news-container-about {

    height: 2.5em;

    display: flex;
    align-items: center;
    column-gap: .6em;

    /* background-color: red; */
}

.header-news-container-about > img {

    height: 1.8em;
}


/* ---------------------------------------------------------------- */
/* [2/2] | Label | Open/ Close | News Container 
/* ---------------------------------------------------------------- */

#lbl-open-close-new-container-about {

    height: 2.3em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
    column-gap: .6em;

    border-radius: .4em;

    cursor: pointer;

    background-color: rgb(66, 66, 66);

    user-select: none;
    -webkit-user-select: none;
    
    /* ⚠️ light grey color & light grey img  */
    color: #9a9a9a;

    transition: all .4s;

}

#lbl-open-close-new-container-about > div:nth-of-type(2) {

    display: none;
}

#lbl-open-close-new-container-about:hover {

    background-color: wheat;
    color:black;
}

#lbl-open-close-new-container-about > img {

    height: .6em;

    transition: all .4s;
}


/* ------------------------------------------------------------------- */
/* ⬇️⬆️ | Smooth Open Close | News Container | About
/* ------------------------------------------------------------------- */

#open-close-news-container-about {

    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.3s ease-out;

}


/* ------------------------------------------------- */
/* ### Styling
/* Checkbox Handling | Open News Container 
/* ------------------------------------------------- */

#chk-open-close-news-container-about {

    display: none;
}

/* txt unshow | show me  */
#chk-open-close-news-container-about:checked + #news-container-about #lbl-open-close-new-container-about > div:nth-of-type(1) {

    display: none;
}

/* show | close  */
#chk-open-close-news-container-about:checked + #news-container-about #lbl-open-close-new-container-about > div:nth-of-type(2) {

    display: flex;
}

#chk-open-close-news-container-about:checked + #news-container-about #lbl-open-close-new-container-about {

    background-color: wheat;
    color:black;
}

#chk-open-close-news-container-about:checked + #news-container-about #lbl-open-close-new-container-about > img {

    transform: rotate(180deg);
}


/* ------------------------------------------------- */
/* ### Movement
/* Checkbox Handling | Open News Container
/* ------------------------------------------------- */

#chk-open-close-news-container-about:checked + #news-container-about > #open-close-news-container-about {

    grid-template-rows: 1fr;

}


/* ---------------------------------------------------------------- */
/*  News Layout Container About 
/* ---------------------------------------------------------------- */

#news-layout-container-about {

    padding: .8em;

    display: grid;
    row-gap: 1.5em;

    /* background-color: green; */
}
























/* ---------------------------------------------------------------- */
/* ❌ MÜLL 
/* ---------------------------------------------------------------- */

.li-task {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: .3em;

    
}

.ubuntu {

    display: grid;
    row-gap: .6em;
}

.li-task > div:nth-of-type(1) {

    display: flex;
    align-items: center;
    column-gap: .3em;
}

.li-task > div:nth-of-type(2),
.li-task > div:nth-of-type(3) {

    font-weight: bold;
}

.li-task > div:nth-of-type(1) > img {

    height: 1.5em;
}