/* -------------------------------------------------------------- */
/* > close-content-tab.css
/*
/* : styles the close content tab
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Close Content Tab
/* ------------------------------------------------------------------- */

.close-content-tab {

  height: 2.3em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .6em;

  border-radius: .6em;

  font-weight: bold;

  cursor: pointer;

  background-color: rgb(227, 87, 87) ;
  color:black;

  transition: all .4s;

}

.close-content-tab:hover {

  background-color: rgb(236, 115, 115) ;

}
