/* -------------------------------------------------------------- */
/* > body-footer.css
/*  
/* : style my body footer
/* -------------------------------------------------------------- */

/* ----------------------------------------------------- */
/* Body Footer
/* ----------------------------------------------------- */

#body-footer {

    /* height: 100%; */

    width: 100%;
   
    display: grid;
    /* grid: 1fr / 1fr; */
    /* 🚧 Future */
    /* grid: auto 1fr / 1fr; */

    justify-items: center;

    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;

    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}


/* ----------------------------------------------------- */
/* Header Body Footer
/* ----------------------------------------------------- */

#header-body-footer {

    height: 6em;
    padding: 0 .8em;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .8em;

}

/* ------------------------------------------------- */
/* Label | Useful Links
/* ------------------------------------------------- */

#lbl-useful-links-body-footer {

    padding: 0 .8em;

    display: flex;
    align-items: center;
    column-gap: .8em;

    font-weight: bold;

    border-radius: .6em;

    background-color: rgb(66, 66, 66);
    
    /* ⚠️ light grey color & light grey img  */
    color: #9a9a9a;

    cursor: pointer;

    transition: all .4s;
}

#lbl-useful-links-body-footer:hover {

    background-color: wheat;
    color:black;
}

/* img 1 - clipart  */
#lbl-useful-links-body-footer > img:nth-of-type(1) {

    height: 2.1em;
    padding-bottom: .1em;
    transform: scaleX(-1);

}

#img-paper-clip-body-footer {

    height: 1.3em;
}

#txt-lbl-useful-links-body-footer  {

    font-weight: bold;
    display: none;
   
}

/* img 2 - arrow up/down */
#lbl-useful-links-body-footer > img:last-child {

    height: .6em;
    transition: all .4s;
}


/* ------------------------------------------------- */
/* ### Styling 
/* Checkbox Handling | Open Useful Links 
/* ------------------------------------------------- */

#chk-useful-links-body-footer {

    display: none;
}

#chk-useful-links-body-footer:checked ~ .handle-max-content-area #lbl-useful-links-body-footer > img:last-child {

    transform: rotate(180deg);
}

#chk-useful-links-body-footer:checked ~ .handle-max-content-area #lbl-useful-links-body-footer {

    background-color: #f5deb3;
    color:black;
}

/* ------------------------------------------------- */
/* SFD Copyright Container
/* ------------------------------------------------- */

#sfd-copyright-body-footer {

    height: 3em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: .3em;

    opacity: .3;

    user-select: none;

    /* background-color: green; */
    
}

#sfd-copyright-body-footer > img:nth-of-type(1) {

    height: 1em;
}

#sfd-copyright-body-footer > div:nth-of-type(1) {

    font-weight: bold;
    color:wheat;

}

#sfd-copyright-body-footer > div:nth-of-type(2) {

    color:white;
    font-weight: bold;

}


/* ------------------------------------------------------------------- */
/* Smooth Open Close | Useful Link | Body Footer
/* ------------------------------------------------------------------- */

#smooth-open-close-useful-links-body-footer {

    width: 100%;
   
    display: grid;
    justify-items: center;
    
    grid: 0fr / 1fr;
    /* grid-template-rows: 0fr 0fr; */
    
    transition: grid-template-rows 0.3s ease-out;

}

/* ------------------------------------------------- */
/* ### Movement
/* Checkbox Handling | Open Useful Links 
/* ------------------------------------------------- */


/* Default unshown max area content  */
#chk-useful-links-body-footer:checked ~ .handle-max-content-area #smooth-open-close-useful-links-body-footer {

    grid: 1fr / 1fr;
    /* grid-template-rows: 1fr 1fr; */
}



/* -------------------------------------------------------------------------------------------------- */
/* 🚧 Baustelle  */
/* -------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------- */
/* Tab Panel Body Footer
/* ❓ - Können wir das universal auslagern ? */
/* ----------------------------------------------------- */

#tab-panel-body-footer {

    /* height: 3.5em; */
    padding: 0em .8em;

    display: flex;
    align-items: center;
    column-gap: .8em;

    /* background-color: rgb(106, 106, 213); */

}

/* ----------------------------------------------------- */
/* Label Tab Link | Body Footer
/* ----------------------------------------------------- */


.lbl-tab-link-body-footer {

    padding: 0 .6em;

    display: flex;
    align-items: center;
    column-gap: .6em;

    border-radius: .4em;

    font-weight: bold;

    background-color: rgb(66, 66, 66);
   
    /* ⚠️ light grey color & light grey img  */
    color: #9a9a9a;

    cursor: pointer;
    transition: all .4s;

}

.lbl-tab-link-body-footer:hover {

    background-color: wheat;
    color:black;
}

.lbl-tab-link-body-footer > div:nth-of-type(2) {

    display: flex;
    align-items: center;
    column-gap: .4em;
}


.lbl-tab-link-body-footer > div:nth-of-type(2) > img {

    height: 1em;
    
}


/* ----------------------------------------------------------------------------------------- */
/* ### Styling 
/* Radio Handling | Tab Links ( links & community links )
/* ----------------------------------------------------------------------------------------- */


input[name='name-radio-tab-links-body-footer'] {

    display: none;
}

/* styling setted label tab  */
#radio-tab-links-body-footer:checked ~ .handle-max-content-area:nth-of-type(1) #tab-panel-body-footer > label[for='radio-tab-links-body-footer'],
#radio-tab-community-links-body-footer:checked ~ .handle-max-content-area:nth-of-type(1) #tab-panel-body-footer > label[for='radio-tab-community-links-body-footer'] {

    background-color: wheat;
    color:black;
}


/* ----------------------------------------------------------------------------------------- */
/* ### Movement
/* Radio Handling | Tab Links ( links & community links )
/* ----------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------- */
/*  Show - Links        */
/* --------------------------------------------------------------- */

/* Custom Select - set x img  */
#radio-tab-links-body-footer:checked ~ .handle-max-content-area:nth-of-type(1) #tab-panel-body-footer > label[for='radio-tab-links-body-footer'] > div.custom-radio-very-small:nth-of-type(1) > img {

    display: flex;
}


#radio-tab-links-body-footer:checked ~ .handle-max-content-area:nth-of-type(1) #main-body-footer > div:nth-of-type(1) {

    display: grid;
}

#radio-tab-links-body-footer:checked ~ .handle-max-content-area:nth-of-type(1) #main-body-footer > div:nth-of-type(2) {

    display: none;
}

/* --------------------------------------------------------------- */
/*  Show - Community Links  */      
/* --------------------------------------------------------------- */

/* Custom Select - set x img  */
#radio-tab-community-links-body-footer:checked ~ .handle-max-content-area:nth-of-type(1) #tab-panel-body-footer > label[for='radio-tab-community-links-body-footer'] > div.custom-radio-very-small:nth-of-type(1) > img {

    display: flex;
}


#radio-tab-community-links-body-footer:checked ~ .handle-max-content-area:nth-of-type(1) #main-body-footer > div:nth-of-type(2) {

    display: flex;
}

#radio-tab-community-links-body-footer:checked ~ .handle-max-content-area:nth-of-type(1) #main-body-footer > div:nth-of-type(1) {

    display: none;
}