/* ------------------------------------------------------------------------- */
/* > mini-gaming-card.css
/* : styles mini gaming card
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Mini Games Container
/* ------------------------------------------------------------- */
