/* ------------------------------------------------------------------------- */
/* > mini-games.css
/* : styles mini games default layout
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Mini Games Container
/* ------------------------------------------------------------- */

#mini-games-container {

  margin-top: 1.5em;

  display: grid;
  justify-items: center;


  border-top: 3px solid rgb(237, 237, 237);

  /* default unshown */
  display: none;

}

#mini-games-container > .status-line-under-construction {

  width: 100%;

  margin-top: 1.5em;
  justify-self: flex-start;

}

/* ------------------------------------------------------------- */
/* Mini Games Content Container
/* ------------------------------------------------------------- */

#mini-games-content-container {

  width: 100%;

  display: grid;
  row-gap: .8em;


}

/* ------------------------------------------------------------- */
/* Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games {

  width: 100%;

  padding: 1.5em 0;
  margin-bottom: .5em;

  display: flex;
  align-items: center;

  border-bottom: 3px solid rgb(237, 237, 237);


}

/* ------------------------------------------------------------- */
/* Div | Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games > div {

  width: 100%;

}

/* ------------------------------------------------------------- */
/* Img Icon | Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games > img {

  margin-right: 6px;
  margin-left: 3px;

}

/* ------------------------------------------------------------- */
/* Div Span | Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games > div span {

  font-size: 14.5px;
  color:grey;

}


/* ------------------------------------------------------------- */
/* Gaming Category Container
/* ------------------------------------------------------------- */

.gaming-category-container {


  width: 100%;

  display: grid;
  justify-items: center;
  /* justify-content: center; */

}

/* ------------------------------------------------------------- */
/* Label Open Game Container | Gaming Category Container
/* ------------------------------------------------------------- */

.lbl-open-game-container {

  width: 100%;
  height: 3.5em;
  padding: 0em 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: bold;

  border-radius: .6em;

  background-color: rgb(231, 231, 231);

  transition: all .4s;

}

/* hover */
.lbl-open-game-container:hover {

  background-color: wheat;
}

/* div 1 */
.lbl-open-game-container > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .8em;

}

/* div 1 | span */
.lbl-open-game-container > div:nth-of-type(1) span {

 font-size: 14.5px;

}

/* default unshown img minus */
.lbl-open-game-container > img:nth-of-type(2) {

  display: none;

}

/* ------------------------------------------------------------- */
/* Gaming Card Container
/* ------------------------------------------------------------- */

.gaming-card-container {

  /* width: 100%; */
  padding: 2.5em 0 1.5em 0;

  display: grid;
  justify-items: center;
  justify-content: center;

  align-items: flex-start;

  column-gap: 1em;
  row-gap: 1em;

}
