/* ------------------------------------------------------------------------- */
/* > mini-games.css
/* : styles mini games default layout
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Mini Games Container
/* ------------------------------------------------------------- */

#mini-games-container {

  width: 100%;

  display: grid;
  justify-items: center;

  /* default unshown */
  display: none;

}

#mini-games-container > .status-content-under-construction {

  width: 100%;

  margin-top: 1.5em;
  justify-self: flex-start;

}

/* ------------------------------------------------------------- */
/* Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games {

  width: 100%;
  padding: 1.5em .8em;

  display: flex;
  align-items: center;
  justify-content: center;


}

/* ------------------------------------------------------------- */
/* Div | Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games > div:nth-of-type(1) {

  width: 100%;

  display: grid;
  row-gap: .3em;

  font-size: 16px;

}

/* ------------------------------------------------------------- */
/* Div 1 | Div 1 (Info) | Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games > div:nth-of-type(1) > div:nth-of-type(1) {


  font-weight: bold;
  /* text-decoration: underline; */

   color:rgb(88, 88, 88);

}

/* ------------------------------------------------------------- */
/* Div 1 | Div 2 (Text) | Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games > div:nth-of-type(1) > div:nth-of-type(2)  {

  color:grey;
  line-height: 1.7em;

}

/* ------------------------------------------------------------- */
/* Mini Games Content Container
/* ------------------------------------------------------------- */

#mini-games-content-container {

  width: 100%;

  display: grid;
  row-gap: .8em;

}

/* ------------------------------------------------------------- */
/* Gaming Category Container
/* ------------------------------------------------------------- */

.gaming-category-container {

  width: 100%;

  display: grid;
  justify-items: center;
  /* justify-content: center; */

}

/* ------------------------------------------------------------- */
/* Label Open Game Container | Gaming Category Container
/* ------------------------------------------------------------- */

.lbl-open-game-container {

  width: 100%;
  height: 3.5em;
  padding: 0em 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: bold;

  border-radius: .6em;

  background-color: rgb(231, 231, 231);

  transition: all .4s;

}

/* hover */
.lbl-open-game-container:hover {

  background-color: wheat;
}

/* div 1 */
.lbl-open-game-container > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .8em;

}

/* div 1 | span */
.lbl-open-game-container > div:nth-of-type(1) span {

 font-size: 14.5px;

}

/* default unshown img minus */
.lbl-open-game-container > img:nth-of-type(2) {

  display: none;

}

/* ------------------------------------------------------------- */
/* Gaming Card Container
/* ------------------------------------------------------------- */

.gaming-card-container {

  /* width: 100%; */
  padding: 2.5em 0 1.5em 0;

  display: grid;
  justify-items: center;
  justify-content: center;

  align-items: flex-start;

  column-gap: 1em;
  row-gap: 1em;

}
