/* ------------------------------------------------------------------------- */
/* > mini-games.css
/* : styles mini games default layout
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Mini Games Container
/* ------------------------------------------------------------- */

#mini-games-container {

  margin-top: 1.5em;
  padding-top: 1.5em;

  border-top: 3px solid rgb(237, 237, 237);

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games {

  margin-bottom: 1.5em;

}

/* ------------------------------------------------------------- */
/* Img Icon | Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games > img {

  margin-right: 10px;

}


/* ------------------------------------------------------------- */
/* Span | Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games > span {

  font-size: 14.5px;
  color:grey;

}


/* ------------------------------------------------------------- */
/* Gaming Category Container
/* ------------------------------------------------------------- */

.gaming-category-container {

  display: grid;
  row-gap: 1.5em;

}

/* ------------------------------------------------------------- */
/* Header | Gaming Category Container
/* ------------------------------------------------------------- */

.gaming-category-container > header {

  display: flex;
  align-items: center;

}


/* ------------------------------------------------------------- */
/* Main | Gaming Category Container
/* ------------------------------------------------------------- */

.gaming-category-container > main {

  display: grid;
  grid: auto / 1fr 1fr 1fr;

}


/* 🟣 Auslagern */
/* ------------------------------------------------------------- */
/* Mini Game Info Card
/* ------------------------------------------------------------- */

.mini-game-info-card {

  width: 100%;

  display: grid;

}

/* ------------------------------------------------------------- */
/* Img | Mini Game Info Card
/* ------------------------------------------------------------- */

.mini-game-info-card > img:nth-of-type(1) {


}

/* ------------------------------------------------------------- */
/* Header | Mini Game Info Card
/* ------------------------------------------------------------- */

.mini-game-info-card > header {

  font-weight: bold;
  font-size: 18px;

}

/* ------------------------------------------------------------- */
/* Footer | Mini Game Info Card
/* ------------------------------------------------------------- */

.mini-game-info-card > footer {

  display: flex;
  align-items: center;
  justify-content: space-between;

}
