/* ------------------------------------------------------------------------- */
/* > mini-games.css
/* : styles mini games default layout
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Mini Games Container
/* ------------------------------------------------------------- */

#mini-games-container {

  margin-top: 1.5em;
  padding-top: 1.5em;

  border-top: 3px solid rgb(237, 237, 237);

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games {

  margin-bottom: 1.5em;

}

/* ------------------------------------------------------------- */
/* Img Icon | Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games > img {

  margin-right: 6px;
  margin-left: 3px;

}


/* ------------------------------------------------------------- */
/* Span | Info Mini Games
/* ------------------------------------------------------------- */

#info-mini-games > span {

  font-size: 14.5px;
  color:grey;

}


/* ------------------------------------------------------------- */
/* Gaming Category Container
/* ------------------------------------------------------------- */

.gaming-category-container {

  display: grid;
  justify-items: center;
  row-gap: 1.5em;

}

/* ------------------------------------------------------------- */
/* Header | Gaming Category Container
/* ------------------------------------------------------------- */

.gaming-category-container > header {

  width: 100%;
  padding: 1em .8em;

  display: flex;
  align-items: center;

  background-color: grey;

}


/* ------------------------------------------------------------- */
/* Main | Gaming Category Container
/* ------------------------------------------------------------- */

.gaming-category-container > main {

  display: grid;
  justify-items: center;

  column-gap: 1em;
  row-gap: 1em;

}


/* 🟣 Auslagern */
/* ------------------------------------------------------------- */
/* Mini Game Info Card
/* ------------------------------------------------------------- */

.mini-game-info-card {

  width: 100%;

  display: grid;

  border-radius: 1em;
  border: 3px solid rgb(236, 236, 236);

}

/* ------------------------------------------------------------- */
/* Img | Mini Game Info Card
/* ------------------------------------------------------------- */

.mini-game-info-card > img:nth-of-type(1) {

  width: 100%;
  border-radius: 1em 1em 0 0;

  border-bottom: 3px solid rgb(236, 236, 236);

}

/* ------------------------------------------------------------- */
/* Header | Mini Game Info Card
/* ------------------------------------------------------------- */

.mini-game-info-card > header {

  padding: 1em .8em;

  font-weight: bold;
  /* font-size: 18px; */

}

/* ------------------------------------------------------------- */
/* Footer | Mini Game Info Card
/* ------------------------------------------------------------- */

.mini-game-info-card > footer {

  height: 3.5em;
  padding: 0em .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 0 0 .8em .8em;

  background-color: rgb(211, 211, 211);

}

/* ------------------------------------------------------------- */
/* GitHub Sourcecode Box | Footer
/* ------------------------------------------------------------- */

.github-sourcecode-box {

  display: grid;
  justify-items: center;
  row-gap: 0em;

}

/* ------------------------------------------------------------- */
/* Div 1 (Sourcecode) | GitHub Sourcecode Box
/* ------------------------------------------------------------- */

.github-sourcecode-box > div:nth-of-type(1) {

  font-size: 14.5px;
  color:grey;

}
