/*

    resp-about.css
    > ...

*/


/* ---------------------------------------------------------------- */
/* > 345px Width ( em, 768/16 )
/* ---------------------------------------------------------------- */ 
@media ( min-width: 345px ) {


    /* -------------------------------------------------------- */
    /* Welcome Container 
    /* -------------------------------------------------------- */
    #welcome-title-box-about > div:nth-of-type(1) {

        line-height: 2em;
    }

    #txt-welcome-to  {

        font-size: 28px;

    }

    #txt-title-superfresdev {

        font-size: 30px;

    }

}

/* ---------------------------------------------------------------- */
/* > 768px Width ( em, 768/16 )
/* ---------------------------------------------------------------- */ 

@media ( min-width: 768px ) {

/* 
    
    #welcome-about-container {

        align-items: flex-start;
      

    }

    #welcome-title-about-container > img:nth-of-type(1) {

        display: none;
    }
    

    #welcome-date-about-container {

        order: 2 !important;

    }

    #img-welcome-about {

        order: 3 !important;

    }

    #welcome-text-about-container {

        order: 4 !important;
    } */

}