/* ---------------------------------------------------------------------------------------------- */
/* > video-categories-link-container-nav.css
/*
/* : handle nav of video categories link container for it project cards
/* ---------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------- */
/* Special Cases for Curved Styles
/* ------------------------------------------------------------- */


/* ------------------------------------------------------ */
/* Universal Case: Only 1 Category Link
/* ------------------------------------------------------ */

.video-category-list:not( .video-category:nth-of-type(2) ) .video-category:first-child > nav:nth-of-type(1) > label {

  border-radius: .8em;
  background-color: red;
}

/* ------------------------------------------------------ */
/* Universal Case: Last Category Video Link
/* ------------------------------------------------------ */

.video-category-list > .video-category:last-child a:last-child {

  border-radius: 0em 0em .8em .8em;
}


/* ------------------------------------------------------ */
/* Project 1,2,3 | Case: Only 1 Category Link
/* ------------------------------------------------------ */

.video-category-list:not( .video-category:nth-of-type(2) ) .video-category:first-child #chk-open-close-video-category-link-list-1-1:checked + nav > label,
.video-category-list:not( .video-category:nth-of-type(2) ) .video-category:first-child #chk-open-close-video-category-link-list-2-1:checked + nav > label {

  border-radius: .8em .8em 0 0;
  background-color: rgb(161, 161, 251);
}


/* ------------------------------------------------------ */
/* Universal Case: Minimum 2 Category Links
/* ------------------------------------------------------ */

.video-category-list:has( .video-category:nth-of-type(2) ) .video-category:first-child > nav:nth-of-type(1) > label {

  border-radius: .8em .8em 0 0;
  background-color: orange;
}

.video-category-list:has( .video-category:nth-of-type(2) ) .video-category:last-child > nav:nth-of-type(1) > label {

  border-radius: 0 0 .8em .8em;
  background-color: brown;
}

/* --------------------------------------------------------------------------------------------- */
/* Checked Last Category List by ID  */
/* --------------------------------------------------------------------------------------------- */

/* last category link checked than no curved - it must be go by id because than it will be do for all video category list */
.video-category-list:has( .video-category:nth-of-type(2) ) .video-category:last-child > #chk-open-close-video-category-link-list-1-3:checked + nav > label,
.video-category-list:has( .video-category:nth-of-type(2) ) .video-category:last-child > #chk-open-close-video-category-link-list-2-2:checked + nav > label {

  border-radius: 0 0 0 0;
  background-color: magenta;
}


/* ------------------------------------------------------------- */
/* [1/2] | Handling | Styling
/* > Open Close | Video Category List 1,2,3
/* ------------------------------------------------------------- */

/* default unshown */
input[name="name-chk-open-close-video-categroy-list"] {

  display: none;

}

/* ------------------------------------------------ */
/* [1/3] Project
/* ------------------------------------------------ */

/* chk label | open / close | style */
#chk-open-close-video-category-list-1:checked + nav > label {

  background-color: wheat;

}

/* chk label | open / close | arrow rotation */
#chk-open-close-video-category-list-1:checked + nav > label > img {

  transform: rotate(180deg);

}

/* chk label | open / close | arrow rotation */
#chk-open-close-video-category-list-1:checked + nav > label > img {

  transform: rotate(180deg);

}

/* chk label | open | video category list 1,2,3 */
#chk-open-close-video-category-list-1:checked ~ #open-close-video-category-list-1 {

  grid-template-rows: 1fr;

}

/* ------------------------------------------------ */
/* [2/3] Project
/* ------------------------------------------------ */

/* chk label | open / close | style */
#chk-open-close-video-category-list-2:checked + nav > label {

  background-color: wheat;

}

/* chk label | open / close | arrow rotation */
#chk-open-close-video-category-list-2:checked + nav > label > img {

  transform: rotate(180deg);

}

/* chk label | open / close | arrow rotation */
#chk-open-close-video-category-list-2:checked + nav > label > img {

  transform: rotate(180deg);

}

/* chk label | open | video category list 1,2,3 */
#chk-open-close-video-category-list-2:checked ~ #open-close-video-category-list-2 {

  grid-template-rows: 1fr;

}


/* ------------------------------------------------------------- */
/* [2/2] | Handling | Styling
/* > Open Close | Video Categroy Link List 1-1,1-2,...,2-1,...
/* ------------------------------------------------------------- */

/* default unshown */
input[name="name-chk-open-close-video-category-link-list"] {

  display: none;

}

/* ------------------------------------------------ */
/* [1/3] Project
/* ------------------------------------------------ */

/* chk label | open / close | style */
#chk-open-close-video-category-link-list-1-1:checked + nav > label,
#chk-open-close-video-category-link-list-1-2:checked + nav > label,
#chk-open-close-video-category-link-list-1-3:checked + nav > label {

  background-color: wheat;

}

/* chk label | unshow | + |  */
#chk-open-close-video-category-link-list-1-1:checked + nav > label > .video-category-label-plus-minus > img:nth-of-type(1),
#chk-open-close-video-category-link-list-1-2:checked + nav > label > .video-category-label-plus-minus > img:nth-of-type(1),
#chk-open-close-video-category-link-list-1-3:checked + nav > label > .video-category-label-plus-minus > img:nth-of-type(1) {

  display: none;

}

/* chk label | show | - |  */
#chk-open-close-video-category-link-list-1-1:checked + nav > label > .video-category-label-plus-minus > img:nth-of-type(2),
#chk-open-close-video-category-link-list-1-2:checked + nav > label > .video-category-label-plus-minus > img:nth-of-type(2),
#chk-open-close-video-category-link-list-1-3:checked + nav > label > .video-category-label-plus-minus > img:nth-of-type(2) {

  display: flex;

}

/* chk label | open / close | video category link list 1-1,1-2,2-1,2-2,...*/
#chk-open-close-video-category-link-list-1-1:checked ~ #open-close-video-category-link-list-1-1,
#chk-open-close-video-category-link-list-1-2:checked ~ #open-close-video-category-link-list-1-2,
#chk-open-close-video-category-link-list-1-3:checked ~ #open-close-video-category-link-list-1-3 {

  grid-template-rows: 1fr;

}



/* ------------------------------------------------ */
/* [2/3] Project
/* ------------------------------------------------ */

/* chk label | open / close | style */
#chk-open-close-video-category-link-list-2-1:checked + nav > label,
#chk-open-close-video-category-link-list-2-2:checked + nav > label,
#chk-open-close-video-category-link-list-2-3:checked + nav > label  {

  background-color: wheat;

}

/* chk label | unshow | + |  */
#chk-open-close-video-category-link-list-2-1:checked + nav > label > .video-category-label-plus-minus > img:nth-of-type(1),
#chk-open-close-video-category-link-list-2-2:checked + nav > label > .video-category-label-plus-minus > img:nth-of-type(1),
#chk-open-close-video-category-link-list-2-3:checked + nav > label > .video-category-label-plus-minus > img:nth-of-type(1) {

  display: none;

}

/* chk label | show | - |  */
#chk-open-close-video-category-link-list-2-1:checked + nav > label > .video-category-label-plus-minus > img:nth-of-type(2),
#chk-open-close-video-category-link-list-2-2:checked + nav > label > .video-category-label-plus-minus > img:nth-of-type(2),
#chk-open-close-video-category-link-list-2-3:checked + nav > label > .video-category-label-plus-minus > img:nth-of-type(2) {

  display: flex;

}


/* chk label | open / close | video category link list 1-1,1-2,2-1,2-2,...*/
#chk-open-close-video-category-link-list-2-1:checked ~ #open-close-video-category-link-list-2-1,
#chk-open-close-video-category-link-list-2-2:checked ~ #open-close-video-category-link-list-2-2,
#chk-open-close-video-category-link-list-2-3:checked ~ #open-close-video-category-link-list-2-3 {

  grid-template-rows: 1fr;

}
