/* -------------------------------------------------------------------------------- */
/* > about-contact.css
/*
/* : styles contact of about
/* -------------------------------------------------------------------------------- */



/* ------------------------------------------------------------ */
/* About Details Contact Container
/* ------------------------------------------------------------ */

#about-details-contact-container {

  padding: 2em 0;

  background-color: rgb(152, 149, 149);

  display: none;

}


/* ------------------------------------------- */
/* About Contact
/* ------------------------------------------- */

#about-contact {

  /* width: 100%; */
  padding: 0 1em 0 1em;

  /* default unshown only handled by radio checked */
  display: none;

  justify-items: center;

   border-radius: 3em 5em 15px 10em;

  background-color: rgb(240, 240, 240);

}

/* ------------------------------------------- */
/* About Contact Info Container
/* ------------------------------------------- */

#about-contact-info-container {

  display: flex;
  align-items: center;
  column-gap: 1em;

}

/* ------------------------------------------- */
/* Img | Clipart Coffee
/* ------------------------------------------- */

#img-clipart-coffee {

  height: 6em;
  transform: scaleX(-1);

}

/* ------------------------------------------- */
/* Main | About Contact Info Container
/* ------------------------------------------- */

#about-contact-info-container > main {

  display: grid;
  row-gap: 1em;

}

/* ------------------------------------------- */
/* Header | About Contact Info Container
/* ------------------------------------------- */

#about-contact-info-container > main > header {

  font-size: 1.125em;
  font-weight: bold;

}

/* ------------------------------------------- */
/* E-Mail Link | Superfresdev
/* ------------------------------------------- */

#about-contact-info-container > main > a {

  padding: .2em .5em;

  /* font-size: 1em; */
  font-weight: bold;

  border-radius: .6em;

  background-color: rgb(206, 206, 206);
  color:rgb(66, 66, 66);

  transition: all .4s;

}

#about-contact-info-container > main > a:hover {

  background-color: wheat;

}

#about-contact-info-container > main > a:visited {

  color:black;

}
