/* -------------------------------------------------------------- */
/* > set-width-height-sizes.css
/*
/* : sets width sizes
/* -------------------------------------------------------------- */


/* -------------------------------------------------- */
/* Width
/* -------------------------------------------------- */

.w-100p { width: 100%; }
.w-80p { width: 80%; }
.w-50p { width: 50%; }
.w-20p { width: 20%; }

/* -------------------------------------------------- */
/* Min Width
/* -------------------------------------------------- */

.mw-12 { min-width: 12em; }
.mw-14 { min-width: 14em; }
.mw-16 { min-width: 16em; }

/* -------------------------------------------------- */
/* Height
/* -------------------------------------------------- */

.h-100p { height: 100%; }

.h-2-8 { height: 2.8em; }
.h-3 { height: 3em; }
.h-3-5 { height: 3.5em; }
.h-4 { height: 4em; }
