/* -------------------------------------------------------------- */
/* > colors.css
/*  
/* : default names for quick styling of flex , grid layouts 
/* -------------------------------------------------------------- */

.flex { display: flex; }
.iflex { display: inline-flex; }
.grid { display: grid; }

/* --------------------------------------------- */
/* Align | Content & Items
/* --------------------------------------------- */

/* align content */
.ac-c { align-content: center; }
.ac-fs { align-content: flex-start; }
.ac-fe { align-content: flex-end; }

/* align items */
.ai-c { align-items: center; }

/* --------------------------------------------- */
/* Justify | Content & Items 
/* --------------------------------------------- */

/* justify content  */
.jc-c { justify-content: center; }
.jc-sb { justify-content: space-between; }
.jc-fs { justify-content: flex-start; }
.jc-fe { justify-content: flex-end; }

/* justify items  */
.jci-c { justify-items: center;}

/* --------------------------------------------- */
/* Self |
/* --------------------------------------------- */

/* by flex */
.as-fe { align-self: flex-end; }

/* by grid  */
.js-fe { justify-self: flex-end; }





/* --------------------------------------------- */
/* Row Gabs 
/* -------------------------------------------- */

.row-g-0-3 { row-gap: .3em; }
.row-g-0-5 { row-gap: .5em; }
.row-g-0-8 { row-gap: .8em; }
.row-g-1 { row-gap: 1em; }

/* --------------------------------------------- */
/* Column Gabs 
/* -------------------------------------------- */

.col-g-0-3 { column-gap: .3em; }
.col-g-0-5 { column-gap: .5em; }
.col-g-0-8 { column-gap: .8em; }