/*
    footer-body.css
    > define the root footer of the webpage
*/

#footer-body {

    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


/* ------------------------------------------------------------------------------ */ 
/* Footer Layout Container 
/* ------------------------------------------------------------------------------ */ 

#footer-container {

    height: 4em;
    padding: 0em 1.5em;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    column-gap: .3em;

    color: var(--c-grey);

}

#footer-container > img {

    height: 1em;
}




