/* -------------------------------------------------------------- */
/* > new-sport-videos.css
/*
/* : styles new videos sport
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* New Sport Videos Container
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* ❌❌ Trash
/* ---------------------------------------------------------------- */

#fixed-sport-container {

  margin-top: 2em;
  padding-top: 2em;

  display: grid;
  justify-items: center;

  border-top: 3px solid rgb(202, 202, 202);

  /* default unshown */
  display: none;



}


/* ---------------------------------------------------------------- */
/* Header > Span 1 | Fixed Sport Container
/* ---------------------------------------------------------------- */

#fixed-sport-container > header > span:nth-of-type(1) {

  text-decoration: underline;
  font-weight: bold;
  color:black;

}

/* ---------------------------------------------------------------- */
/* Header > Span 1 | Fixed Sport Container
/* ---------------------------------------------------------------- */

#fixed-sport-container > header > span:nth-of-type(2) {

  font-weight: bold;
  color: #808080;

}

/* ---------------------------------------------------------------- */
/* Main | Fixed Sport Container
/* ---------------------------------------------------------------- */

#fixed-sport-container > main {

  padding-top: 3em;
  padding-bottom: 2em;

  /* reminder: maximum 3 fixed acutally video items */
  /* mobile */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  row-gap: 2em;
  column-gap: 2em;

}


/* ---------------------------------------------------------------- */
/* Fixed Sport Video Link Card
/* ---------------------------------------------------------------- */

.fixed-sport-video-link-card {

  /* very small mobile */
  width: 100%;

  /* desktop */
  /* width: 10em; */

  position: relative;

  display: grid;
  justify-items: flex-end;


  border-radius: 1em;
  border: 4px solid rgb(134, 134, 134);

  opacity: .6;

  transition: all .4s;

}

.fixed-sport-video-link-card:hover {

  opacity: 1;
  border: 4px solid grey;

}

/* ---------------------------------------------------------------- */
/* Nr | Fixed Sport Video Link Card
/* ---------------------------------------------------------------- */

.fixed-sport-video-link-card > div:nth-of-type(1) {

  z-index: 2;

  width: 2em;
  height: 2em;

  position: absolute;
  top:0;
  left:0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  color:white;
  background-color: rgb(28, 28, 28);

  border-radius: .8em 0 1em 0;

}

/* Div 1 > Div 1 */
.fixed-sport-video-link-card > div:nth-of-type(1) > div {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;


}


/* ---------------------------------------------------------------- */
/* Img | Fixed Sport Video Link Card
/* ---------------------------------------------------------------- */

.fixed-sport-video-link-card > img:nth-of-type(1) {

  width: 100%;
  z-index: 1;

  /* display: flex;
  align-items: center; */

  border-radius: .8em;

}


/* ---------------------------------------------------------------- */
/* Link | Fixed Sport Video Link Card
/* ---------------------------------------------------------------- */

.fixed-sport-video-link-card > a:nth-of-type(1) {

  text-decoration: none;
  z-index: 2;

  position: absolute;
  bottom:0em;

  height: 2em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  border-radius: .6em 0 .9em 0;

  background-color: rgb(184, 184, 184);
  color: black;

  user-select: none;
  transition: all .4s;

}

.fixed-sport-video-link-card > a:nth-of-type(1) > div {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

}

.fixed-sport-video-link-card > a:nth-of-type(1):hover {

  background-color: wheat;

}

.fixed-sport-video-link-card > a:nth-of-type(1):visited {

  color: black;

}
