/* -------------------------------------------------------------- */
/* > video-list-project-details.css
/*  
/* : styles the video list link container
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/* Video List Project Details Container
/* -------------------------------------------------------------------------------- */

.video-list-it-project-details-container {

    display: grid;
    /* row-gap: 1em; */

}

/* -------------------------------------------------------------------------------- */
/* [1/2] | Label | Video Details IT Project
/* -------------------------------------------------------------------------------- */

.lbl-video-details-it-project {

    height: 3.5em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .6em;

    border-radius: .4em;

    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;

    font-weight: bold;
    
    /* ⚠️ light grey color & light grey img  */
    color: #9a9a9a;
    background-color: rgb(66, 66, 66);

    transition: all .4s;

}

.lbl-video-details-it-project > div:nth-of-type(1) {

    display: flex;
    align-items: center;
    column-gap: .8em;
}

.lbl-video-details-it-project:hover {

    background-color: wheat;
    color:black;
}

.lbl-video-details-it-project > img:last-child {

    transition: all .4s;
}

/* -------------------------------------------------------------------------------- */
/* ⬆️⬇️ Smooth Open Close | Video Details | Project 1 | 
/* -------------------------------------------------------------------------------- */

#smooth-open-close-top-3-it-project-1 {

    display: grid;
    grid-template-rows: 0fr;

    transition: grid-template-rows 0.3s ease-out;

}

/* -------------------------------------------------------------------------------- */
/* ⚠️⚠️ Auslagern
/* [2/2] Video Tutorial Link Container
/* -------------------------------------------------------------------------------- */

.video-tutorial-link-container {

    padding-top: 1em;

    display: grid;
    row-gap: .8em;

}

/* -------------------------------------------------------------------------------- */
/* Video Category IT Project Container
/* -------------------------------------------------------------------------------- */

.video-category-it-project-container {

    display: grid;
    row-gap: .8em;

}

/* -------------------------------------------------------------------------------- */
/* Label | Video Category It Project
/* -------------------------------------------------------------------------------- */

.lbl-video-category-it-project {

    padding:  .8em .8em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: 1em;

    font-weight: bold;

    user-select: none;

    background-color: lightgrey;

    cursor: pointer;
    transition: all .4s;
    
}

.lbl-video-category-it-project:hover {

    background-color: grey;
}

.lbl-video-category-it-project > div:last-child {

    font-size: 1.25em;
    font-weight: bold;
}


/* -------------------------------------------------------------------------------- */
/* Video Link List It Projects
/* -------------------------------------------------------------------------------- */

.video-link-list-it-projects {

    display: grid;
    row-gap: .6em;

    display: none;
}


/* -------------------------------------- */
/* Link
/* -------------------------------------- */

.link-done-video-it-project, 
.link-in-progress-video-it-project,
.link-coming-soon-video-it-project {

    
    min-height: 2.5em;

    display: grid;
    align-items: center;
    grid: auto / 2.5em 1fr auto;
    column-gap: .6em;

    text-decoration: none;

    user-select: none;

    color:black;

}

.link-done-video-it-project > div:nth-of-type(2) , 
.link-in-progress-video-it-project > div:nth-of-type(2) ,
.link-coming-soon-video-it-project > div:nth-of-type(2) {

   padding: .5em 0;

}

.link-done-video-it-project > div:last-child , 
.link-in-progress-video-it-project  > div:last-child ,
.link-coming-soon-video-it-project >  div:last-child {

    display: flex;
    align-items: center;
    justify-content: center;

}

.link-done-video-it-project > div:last-child > img:nth-of-type(1), 
.link-in-progress-video-it-project  > div:last-child > img:nth-of-type(1),
.link-coming-soon-video-it-project >  div:last-child > img:nth-of-type(1) {

    padding-right: .8em;
    padding-left: .3em;
    height: 1.2em;
}

.link-done-video-it-project { 

    cursor: pointer;
    background-color: lightgreen;

    transition: all .4s;
}

.link-done-video-it-project:hover {

    background-color: grey;
}

.link-in-progress-video-it-project {

    background-color: lightyellow;
}

.link-coming-soon-video-it-project {

    background-color: lightblue;
}

.link-done-video-it-project:visited, 
.link-in-progress-video-it-project:visited,
.link-coming-soon-video-it-project:visited {

    color:black;

}



/* -------------------------------------- */
/* Status Video Link IT Project
/* -------------------------------------- */

.status-done-video-link-it-project,
.status-in-progress-video-link-it-project,
.status-coming-soon-video-link-it-project {

    height: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;

}

.status-done-video-link-it-project > img:nth-of-type(1),
.status-in-progress-video-link-it-project > img:nth-of-type(1),
.status-coming-soon-video-link-it-project > img:nth-of-type(1) {

    height: 1.3em;
}


.status-done-video-link-it-project {

    background-color: rgb(9, 169, 9);
}

.status-in-progress-video-link-it-project {

    background-color: rgb(255, 222, 9);

}

.status-in-progress-video-link-it-project > img:nth-of-type(1) {

    animation: rotate360deg 4s ease infinite;

}

.status-coming-soon-video-link-it-project {

    background-color: rgb(9, 140, 255);
}

.status-coming-soon-video-link-it-project > img:nth-of-type(1) {

    animation: leftright 1s ease infinite;
}




















/* --------------------------------------------------------------------- */
/* IT Project | Details Video Container / Github Container
/* --------------------------------------------------------------------- */

.it-project-video-details-container,
.it-project-github-details-container {


}



/* --------------------------------------------------------------------- */
/* 🟥🟥🟥 OLD GitHUB Link Style
/* --------------------------------------------------------------------- */


/* ---------------------------------------- */
/* Project Choose Container 
/* ---------------------------------------- */

.project-choose-container {

    border-top: 1px dashed rgb(195, 195, 195);
    border-bottom: 1px dashed rgb(195, 195, 195);

    padding: 1em 0em;

    display: grid;
    row-gap: .6em;

}

.project-choose-container > a {

    
    padding: .6em .3em;

    display: flex;
    align-items: center;

    text-decoration: none;

    border-radius: .3em;
    background-color: rgb(244, 244, 244);
    color:black;

    transition: all .4s;
}

.project-choose-container > a:hover {

    background: rgb(44, 44, 44);
    color:rgb(253, 253, 253);
}


/* ---------------------------------------- */
/* Link Github Container
/* ---------------------------------------- */

.link-github-container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    column-gap: .4em;
   
}

.link-item-github {

    height: 2.5em;
    padding: 0 .6em;

    display: flex;
    align-items: center;
    column-gap: .4em;

    border-radius: .4em;

    text-decoration: none;

    font-weight: bold;

    background: rgb(44, 44, 44);
    color:grey;

    transition: all .4s;

}

.link-item-github:hover {

    background-color: wheat;
    color:black;
}