/* -------------------------------------------------------------- */
/* ⚠️ video-tutorial-container
/* > video-list-project-details.css
/*  
/* : styles the video category link list container
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/*  Video Tutorial Container
/* -------------------------------------------------------------------------------- */

.video-tutorial-container {

    display: grid;

}

/* -------------------------------------------------------------------------------- */
/*  Label | Show Video Tutorial
/* -------------------------------------------------------------------------------- */

.lbl-show-video-tutorials {

    height: 3.5em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .6em;

    border-radius: .4em;

    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;

    font-weight: bold;
    
    /* ⚠️ light grey color & light grey img  */
    color: #9a9a9a;
    background-color: rgb(66, 66, 66);

    transition: all .4s;

}

.lbl-show-video-tutorials:hover {

    background-color: wheat;
    color:black;
}

.lbl-show-video-tutorials > div:nth-of-type(1) {

    display: flex;
    align-items: center;
    column-gap: .8em;

}

.lbl-show-video-tutorials > img:last-child {

    transition: all .4s;
}

/* -------------------------------------------------------------------------------- */
/* ⬆️⬇️ Smooth | Video Tutorial Categories Container | T3 |  Project 1 | 
/* -------------------------------------------------------------------------------- */

#smooth-video-tutorial-categories-container-t3-p1 {

    display: grid;
    grid-template-rows: 0fr;

    transition: grid-template-rows 0.3s ease-out;

}

/* -------------------------------------------------------------------------------- */
/*  Video Category List Container
/* -------------------------------------------------------------------------------- */

.video-category-list-container {

    padding-top: 1em;

    display: grid;
    row-gap: .8em;

}

/* -------------------------------------------------------------------------------- */
/* Video Catgeory Item 
/* -------------------------------------------------------------------------------- */

.video-category-item {

    display: grid;
    row-gap: .8em;

}

/* -------------------------------------------------------------------------------- */
/* Label | Video Category Item 
/* -------------------------------------------------------------------------------- */

.lbl-video-category-item {

    padding: .8em .9em .8em .8em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: 1em;

    font-weight: bold;

    user-select: none;

    background-color: lightgrey;

    cursor: pointer;
    transition: all .4s;

}

.lbl-video-category-item:hover {

    background-color: grey;
}

.lbl-video-category-item > img:nth-of-type(2) {

    display: none;
}


/* -------------------------------------------------------------------------------- */
/* Main | Video Category Item
/* -------------------------------------------------------------------------------- */

.video-category-item > main {

    display: grid;
    row-gap: .6em;

    display: none;
}


/* ----------------------------------------------------------------------------------------- */
/* Status Video Link 
/* ----------------------------------------------------------------------------------------- */

.video-link-done,
.video-link-in-progress,
.video-link-coming-soon {

    min-height: 2.5em;

    display: grid;
    align-items: center;
    grid: auto / 2.5em 1fr auto;
    column-gap: .6em;

    text-decoration: none;

    user-select: none;

    color:black;
}

.video-link-done:visited, 
.video-link-in-progress:visited,
.video-link-coming-soon:visited {

    color:black;

}

.video-link-done { 

    cursor: pointer;
    background-color: lightgreen;

    transition: all .4s;
}

.video-link-done:hover,
.video-link-in-progress:hover {

    background-color: grey;
}

.video-link-in-progress {

    background-color: lightyellow;
}

.video-link-coming-soon {

    background-color: lightblue;
}

/* ------------------------------------------------------------- */
/* [1/2] | Status: IMG | Video Link 
/* ------------------------------------------------------------- */

.status-box-done-video-link,
.status-box-in-progress-video-link,
.status-box-coming-soon-video-link {

    height: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;

}

.status-box-done-video-link > img:nth-of-type(1),
.status-box-in-progress-video-link > img:nth-of-type(1),
.status-box-coming-soon-video-link > img:nth-of-type(1) {

    height: 1.3em;
}


.status-box-done-video-link {

    background-color: rgb(9, 169, 9);
}

.status-box-in-progress-video-link {

    background-color: rgb(255, 222, 9);

}

.status-box-in-progress-video-link> img:nth-of-type(1) {

    animation: rotate360deg 4s ease infinite;

}

.status-box-coming-soon-video-link {

    background-color: rgb(9, 140, 255);
}

.status-box-coming-soon-video-link> img:nth-of-type(1) {

    animation: leftright 1s ease infinite;
}


/* ------------------------------------------------------------- */
/* [2/2] | Status: Title & IMG New Tab 
/* ------------------------------------------------------------- */

.video-link-done > div:nth-of-type(2) , 
.video-link-in-progress > div:nth-of-type(2) ,
.video-link-coming-soon > div:nth-of-type(2) {

   padding: .5em 0;

}

.video-link-done > img:last-child, 
.video-link-in-progress  > img:last-child,
.video-link-coming-soon > img:last-child {

    padding-right: .8em;
    padding-left: .3em;
    height: 1.2em;
}