/* -------------------------------------------------------------- */
/* > hobbies-about.css
/*
/* : style hobbies about
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Hobbies Container
/* ------------------------------------------------------------------- */

#hobbies-container {


  display: grid;

  background-color: rgb(225, 224, 135);

  /* default unshown */
  display: none;

}






/* ------------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------------- */

/* ------------------------------------------------------------------- */
/* My Hobbies About Container
/* ------------------------------------------------------------------- */

#my-hobbies-about-container {

  width: 100%;

  margin-top: 2em;
  padding: 2em 0;

  display: grid;
  row-gap: 3em;

  border-top: 3px solid rgb(202, 202, 202);

  /* default unshown  */
  display: none;

}

/* ------------------------------------------------------------------- */
/* Violine Audio Container | Read More About
/* ------------------------------------------------------------------- */

#violine-audio-container-read-more-about {

  padding-top: 1.5em;

  display: grid;
  justify-items: center;
  row-gap: .6em;

  font-weight: bold;

  /* default very small mobile unshown */
  display: none;

}

/* header layout position fix */
#violine-audio-container-read-more-about > header {

  justify-self: flex-start;
  padding-left: 1em;


}
