/* ------------------------------------------------------------------- */
/* > hobbies-about.css
/*
/* : style hobbies about
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Hobbies Container
/* ------------------------------------------------------------------- */

#hobbies-container {

  /* padding: 2em 0; */
  width: 100%;

  display: grid;
  justify-items: center;

  /* default unshown */
  display: none;

}

/* seperator img opacity */
#hobbies-container .seperator-img-container-p-2-0 > img {

  opacity: .4;

}

/* ------------------------------------------------------------------- */
/* Sport Travel Human | Hobbies Container
/* ------------------------------------------------------------------- */

#sport-travel-human-hobbies-container {

  width: 100%;

  display: grid;
  justify-items: center;

  row-gap: 1em;
  column-gap: 1em;

}

/* ------------------------------------------------------------------- */
/* Entertainment | Hobbies Container
/* ------------------------------------------------------------------- */

#entertainment-hobbies-container {

  width: 100%;

  display: grid;
  justify-items: center;

  grid-template-areas:

    'hobby-violine'
    'hobby-music'
    'hobby-movies'

  ;

  row-gap: 1em;
  column-gap: 1em;

}

/* Div 1 | Violine */
#entertainment-hobbies-container > div:nth-of-type(1) {

  grid-area: hobby-violine;

}

/* change img border because of main */
#entertainment-hobbies-container > div:nth-of-type(1) > header > img:nth-of-type(1) {

  border-radius: .8em 0 0 0;

}

/* Div 2 | Music */
#entertainment-hobbies-container > div:nth-of-type(2) {

  grid-area: hobby-music;

}

/* change img border because of main */
#entertainment-hobbies-container > div:nth-of-type(2) > header > img:nth-of-type(1) {

  border-radius: .8em 0 0 0;

}

/* Div 3 | Movies */
#entertainment-hobbies-container > div:nth-of-type(3) {

  grid-area: hobby-movies;

}

/* change img border because of main */
#entertainment-hobbies-container > div:nth-of-type(3) > header > img:nth-of-type(1) {

  border-radius: .8em 0 0 0;

}
