/* -------------------------------------------------------------- */
/* > my-private.css
/*
/* : styles my private
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My Private Container
/* ------------------------------------------------------------- */

#my-private-container {

  width: 100%;
  display: grid;
  justify-items: center;

  grid: 1fr / 1fr;

}

/* ------------------------------------------------------------- */
/* Nav My Private
/* ------------------------------------------------------------- */

#nav-my-private {

    width: 100%;
    padding: 1.5em .8em;

    display: grid;

    column-gap: 1em;
    row-gap: 1em;

    background-color: rgb(255, 255, 255);

}


/* ------------------------------------------------------------- */
/* [1/2] | Selector Container
/* ------------------------------------------------------------- */

#my-private-selector-container {

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    column-gap: 1em;
    row-gap: 1em;

    background-color: rgb(255, 255, 255);

    /* background-color: green; */

}

.lbl-selector-my-private {

  height: 2.8em;
  min-width: 15em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  font-weight: bold;

  border-radius: .8em;

  user-select: none;

  background-color: rgb(185, 185, 185);

  transition: all .4s;

}

.lbl-selector-my-private:hover {

  background-color: wheat;
}

.lbl-selector-my-private > div {

  display: flex;
  align-items: center;
  column-gap: .6em;

}


/* ------------------------------------------------------------- */
/* [2/2] | Selector List Container
/* ------------------------------------------------------------- */

#my-private-selector-list-container {

  width: 100%;
    padding: 1.5em 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    column-gap: 1em;
    row-gap: 1em;

    background-color: rgb(255, 255, 255);

}


/* ------------------------------------------------------------- */
/* 🟣 My Sport Container
/* ------------------------------------------------------------- */

#my-sport-container {

  width: 100%;

  display: grid;

  justify-items: center;

    grid: auto 1fr / 1fr;

  background-color: grey;

}


/* ------------------------------------------------------------- */
/* 🟣 My Book Container
/* ------------------------------------------------------------- */

#my-book-container {

  width: 100%;

  display: grid;
  justify-items: center;

  background-color: red;

}


/* ------------------------------------------- */
/* Img Icon Headline Private
/* ------------------------------------------- */

#img-icon-private-headline {

    /* mobile */
    height: 2em;
}


/* ------------------------------------------------------------- */
/* Imgs (Emojie) | Header Title Box | My It
/* ------------------------------------------------------------- */

/* sport */
#img-header-private-sport {

  height: 2.2em;

}
