/* -------------------------------------------------------------- */
/* > handlings-top-it-projects.css
/* : styles all handlings of top it projects
/* -------------------------------------------------------------- */





/* ⚠️⚠️⚠️ show more top it - projects */


/* ------------------------------------------------------------------------- */
/* Handlings | Checkbox | Show More ( Top It Project Cards )
/* ------------------------------------------------------------------------- */

/* default unshown */
#chk-show-more-top-it-projects {

  display: none;

}

/* set background */
#chk-show-more-top-it-projects:checked + label {

  background-color: #ff8080;
  color:black;

}

/* change rotation , img arrow */
#chk-show-more-top-it-projects:checked + label > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* show content */
#chk-show-more-top-it-projects:checked ~ #css-smooth-open-close-show-more-top-it-projects {

  grid-template-rows: 1fr;

}
