/* -------------------------------------------------------------- */
/* > top-it-projects.css
/* : styles the top it projects
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Top IT Project Container
/* -------------------------------------------------------------- */




/* âŒ */
#header-top-it-projects {

  width: 100%;
  display: grid;

}

/* header beginning container = 100% */
#header-top-it-projects > .header-beginning-container {

  width: 100%;

}

/* ------------------------------------------------------------- */
/* Img (Rocket) | Header
/* ------------------------------------------------------------- */

#img-header-top-it-project {

  /* mobile */
  height: 1.6em;

}

/* ------------------------------------------------------------- */
/* Nav Top It Projects
/* ------------------------------------------------------------- */

#nav-top-it-projects {

  width: 100%;
  margin-top: 1em;

  /* padding: .6em .6em; */

  /* mobile */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:.6em;

  border-radius: .8em;

  background-color: rgba(0, 0, 0, .8);

  background-color: #5f5f5f;

  border: 1px solid rgb(223, 223, 223);
  background-color: rgb(241, 241, 241);

}

#nav-top-it-projects > label {

  /* very small mobile */
  width: 100%;
  font-size: 14.5px;

  background-color: rgb(225, 225, 225);

  opacity: .4;

}

/* ------------------------------------------------------------- */
/* List Container | Top IT Projects Card                         */
/* ( 1 Card, Show More, 2 Cards )                                */
/* ------------------------------------------------------------- */

#list-container-top-it-project-cards {

  display: grid;

}

/* ------------------------------------------------------------- */
/* Label | Show More                                             */
/* ------------------------------------------------------------- */



/* ------------------------------------------------------------- */
/* Show More Container Top It Project Cards      */
/* ------------------------------------------------------------- */

#show-more-container-top-it-project-cards {

  margin-top: 1.5em;
  display: grid;
  row-gap: 3em;

}
