/* -------------------------------------------------------------- */
/* > label-life-philosophy-category.css
/* : style label life philosophy category
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Label Life Philosohpy Category
/* ------------------------------------------------------------------- */

.lbl-life-philosophy-category {

  padding: 0 1em 0 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  border-radius: .8em;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  background-color: rgb(248, 248, 248);

  cursor: pointer;
  transition: all .4s;

}

/* hover */
.lbl-life-philosophy-category:hover {

  background-color: wheat;
}

/* default unshown img minus */
.lbl-life-philosophy-category > img:nth-of-type(2) {

  display: none;
}


/* ------------------------------------------------------------------- */
/* Content | Label Life Philosohpy Category
/* ------------------------------------------------------------------- */

.content-lbl-open-life-philosophy-category {

  display: flex;
  align-items: center;

  column-gap: .8em;

}

/* ---------------------------- */
/* img content */
/* ---------------------------- */

.content-lbl-open-life-philosophy-category > img:nth-of-type(1) {

  width: 5em;
  border-radius: .8em 0 0 .8em;

}

/* ---------------------------- */
/* title content */
/* ---------------------------- */

.content-lbl-open-life-philosophy-category > div:nth-of-type(1) {

  display: grid;
  justify-items: flex-start;
  row-gap: .3em;

  color:rgb(78, 78, 78);

}

/* nr | title content */
.content-lbl-open-life-philosophy-category > div:nth-of-type(1) > div:nth-of-type(1) {

  height: 1.3em;
  padding: 0 .3em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  border: 1px solid rgb(222, 222, 222);

  background-color: rgb(246, 246, 246);
  color:rgb(165, 165, 165);

}

/* nr span */
.content-lbl-open-life-philosophy-category > div:nth-of-type(1) > div:nth-of-type(1) > span {

  font-size: 12.5px;
  /* font-weight: bold; */
  letter-spacing: 1px;

}

/* title | title content */
.content-lbl-open-life-philosophy-category > div:nth-of-type(1) > div:nth-of-type(2) {

  font-size: 14.5px;

  font-weight: bold;

  line-height: 1.4em;

  color: #5f5f5f;

}
