/* -------------------------------------------------------------- */
/* > life-philosophy.css
/*
/* : style life philosophy about
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Life Philosophy Container
/* ------------------------------------------------------------------- */

#life-philosophy-container {

  width: 100%;
  padding: 2em 0;

  display: grid;
  row-gap: .6em;

  /* background-color: rgb(116, 116, 116); */

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------------- */
/* Label Life Philosohpy Category
/* ------------------------------------------------------------------- */

.label-life-philosophy-category {

  padding: 0 1em 0 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  border-radius: .8em;

  background-color: #f0f0f0;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  background-color: rgb(248, 248, 248);

  cursor: pointer;
  transition: all .4s;

}

/* hover */
.label-life-philosophy-category:hover {

  background-color: wheat;
}

/* default unshown img minus */
.label-life-philosophy-category > img:nth-of-type(2) {

  display: none;
}


/* ------------------------------------------------------------------- */
/* Div 1 ( title container ) | Label Life Philosohpy Category
/* ------------------------------------------------------------------- */

.label-life-philosophy-category > div:nth-of-type(1) {

  display: flex;
  align-items: center;

  column-gap: .8em;

}

/* ------------------------------------------------------------------- */
/* Div 1 | Div 1 ( title block) | Label Life Philosohpy Category
/* ------------------------------------------------------------------- */

.label-life-philosophy-category > div:nth-of-type(1) > div:nth-of-type(1) {

  display: grid;
  justify-items: flex-start;
  row-gap: .3em;

  color:rgb(78, 78, 78);

}

/* ------------------------------------------------------------------- */
/* Img | Label Life Philosohpy Category
/* ------------------------------------------------------------------- */

.label-life-philosophy-category > div:nth-of-type(1) > img:nth-of-type(1) {

  width: 5em;

  border-radius: .4em 0 0 .4em;

}

/* ------------------------------------------------------------------- */
/* Div 1 | Div 1 | Div 1 ( nr ) | Label Life Philosohpy Category
/* ------------------------------------------------------------------- */

.label-life-philosophy-category > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {

  height: 1.3em;
  padding: 0 .3em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  background-color: rgb(235, 235, 235);
  color:rgb(148, 148, 148);



}

.label-life-philosophy-category > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > span {

  font-size: 12.5px;
  font-weight: bold;
  letter-spacing: 1px;

}

/* ------------------------------------------------------------------- */
/* Div 1 | Div 1 | Div 2 ( title ) | Label Life Philosohpy Category
/* ------------------------------------------------------------------- */

.label-life-philosophy-category > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) {

  font-size: 14.5px;
  font-weight: bold;

  line-height: 1.4em;

}

/* ------------------------------------------------------------------- */
/* Content Life Philosophy
/* ------------------------------------------------------------------- */

.content-life-philosophy {

  font-size: 14.5px;

  padding: 1.5em .6em;

  display: grid;
  row-gap: 2em;

  line-height: 1.9em;

  color:#616161;

}

/* ------------------------------------------------------------------- */
/* Div 1 | Content Life Philosophy
/* ------------------------------------------------------------------- */

.content-life-philosophy > div {

  display: flex;
  column-gap: .8em;

}

/* ------------------------------------------------------------------- */
/* Div 1 | Img Icon | Content Life Philosophy
/* ------------------------------------------------------------------- */

/* position fix */
.content-life-philosophy > div > img:nth-of-type(1) {

  position: relative;
  top:11px;


}
