/* -------------------------------------------------------------- */
/* > life-philosophy.css
/*
/* : style life philosophy about
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Life Philosophy Container
/* ------------------------------------------------------------------- */

#life-philosophy-container {

  width: 100%;

  padding-bottom: 1.3em;

  display: grid;
  row-gap: .6em;

  /* background-color: rgb(116, 116, 116); */

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------------- */
/* Content Life Philosophy
/* ------------------------------------------------------------------- */

.content-life-philosophy {

  padding: 1.5em .6em;

  display: grid;
  row-gap: 2em;

  line-height: 1.9em;

  color:#616161;

}

/* ------------------------------------------------------------------- */
/* Div 1 | Content Life Philosophy
/* ------------------------------------------------------------------- */

.content-life-philosophy > div {

  display: flex;
  column-gap: .8em;

}

/* ------------------------------------------------------------------- */
/* Div 1 | Img Icon | Content Life Philosophy
/* ------------------------------------------------------------------- */

/* position fix */
.content-life-philosophy > div > img:nth-of-type(1) {

  position: relative;
  top:11px;

}
