/* -------------------------------------------------------------- */
/* > my-mini-games-private.css
/*
/* : styles mini-games private
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* My Mini-Games Container Private
/* ---------------------------------------------------------------- */

#my-mini-games-container-private {

  margin-top: 2em;
  padding: 0em 0;

  /* background-color: rgb(106, 255, 0); */

  display: flex;
  justify-content: center;


  /* default unshown */
  display: none;

}
