/* -------------------------------------------------------------- */
/* > about.css
/*
/* : styles about page defaults
/* -------------------------------------------------------------- */


/* ------------------------------------------- */
/* About Container
/* ------------------------------------------- */

#about-container {

    width: 100%;
    display: grid;
    justify-items: center;

}

/* ------------------------------------------- */
/* About Header Container
/* ------------------------------------------- */

#about-header-container {

  height: 8em;

  display: flex;
  align-items: center;
  column-gap: .8em;
}

#img-icon-about-headline {

    /* mobile */
    height: 2.5em;
}

/* ------------------------------------------- */
/* About Content Container
/* ------------------------------------------- */

#about-content-container {

  width: 100%;
  display: grid;
  justify-items: center;

}
