/* -------------------------------------------------------------- */
/* > about-contact.css
/*
/* : style about contact layout
/* -------------------------------------------------------------- */

/* ------------------------------------------- */
/* Main | About Contact Container
/* ------------------------------------------- */

#about-contact-container {

    width: 100%;
    padding: 4em 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color:rgb(19, 19, 19);
    background-color: rgb(148, 148, 148);

}

/* ------------------------------------------- */
/* ❌❌❌ Trash Down
/* ------------------------------------------- */
