/* -------------------------------------------------------------- */
/* > about-info.css
/*
/* : style the info of about
/* -------------------------------------------------------------- */




/* --------------------------------------------- */
/* 🟣 Auslagern -> Font Style
/* --------------------------------------------- */
.c1 {

  color:rgb(98, 98, 98);
  font-weight: bold;
}

/* ------------------------------------------- */
/* Quick Info Img Container
/* ------------------------------------------- */

#about-quick-info-img-container {

  grid-area: quickInfo;

  display: grid;
  justify-items: center;
  align-items: center;

  column-gap: .8em;
  row-gap: 1em;

}

/* ------------------------------------------- */
/* [1/2] | About Img Container
/* ------------------------------------------- */

#about-img-container {

  display: flex;
  align-items: center;
  justify-content: center;
}

#img-about {

    width: 100%;
    border-radius: 1em;
}

/* ------------------------------------------- */
/*  [2/2] | About Quick Info
/* ------------------------------------------- */

#about-quick-info {

  font-size: 1.125em;

  padding: 2em 2em;

  display: grid;
  row-gap: 1em;

  /* line-height: 1.8em; */

  border-radius: .8em;

  background-color: rgb(241, 241, 241);
  color:rgb(128, 128, 128);

}

#about-quick-info > header {

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;
  font-size: 1.125em;
}

/* ------------------------------------------- */
/* Personality Info
/* ------------------------------------------- */




#about-personality-info {

  grid-area: personality;

  font-size: 1.125em;

  padding: 2em 2em;

  display: grid;
  row-gap: 1.5em;

  border-radius: .8em;

  background-color: rgb(241, 241, 241);
  color:rgb(128, 128, 128);

}

#about-personality-info > header {

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;
  font-size: 1.125em;

}

#about-personality-info > main {

  display: grid;
  row-gap: 1.5em;

}

#about-personality-info > footer {

  padding-top: .3em;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.125em;
  font-weight: bold;

}
