/* -------------------------------------------------------------- */
/* > about-info.css
/*
/* : style the info of about
/* -------------------------------------------------------------- */

/* --------------------------------------------- */
/* 🟣 Auslagern -> Font Style
/* --------------------------------------------- */
.c1 {

  color:rgb(98, 98, 98);
  font-weight: bold;
}

/* ------------------------------------------- */
/* Quick Info Img Container
/* ------------------------------------------- */

#about-quick-info-img-container {

  display: grid;
  justify-items: center;
  align-items: center;

  column-gap: .8em;
  row-gap: 1em;

}

/* ------------------------------------------- */
/* [1/2] | About Img Container
/* ------------------------------------------- */

#about-img-container {

  display: flex;
  align-items: center;
  justify-content: center;
}

#img-about {

    width: 100%;
    border-radius: 1em;
}

/* ------------------------------------------- */
/*  [2/2] | About Quick Info
/* ------------------------------------------- */

#about-quick-info {

  color:rgb(128, 128, 128);

  /* color:red; */
  padding: 1em 1em;

  border-radius: .8em;
  background-color: rgb(241, 241, 241);

}

/* ------------------------------------------- */
/* Personality Info
/* ------------------------------------------- */

#about-personality-info {

  display: grid;
  align-content: flex-start;
  row-gap: 1em;

}

#about-personality-info > header {

  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;
  color:rgb(98, 98, 98);

}

#about-personality-info > main {

  display: grid;
  row-gap: 1.5em;

}

#about-personality-info > footer {

  padding-top: 1em;
  font-weight: bold;

}
