/* -------------------------------------------------------------- */
/* > about.css
/*
/* : styles about page container & header about container
/* -------------------------------------------------------------- */


/* ------------------------------------------- */
/* About Container
/* ------------------------------------------- */

#about-container {

    display: grid;

}

/* ------------------------------------------- */
/* About Layout Container
/* ------------------------------------------- */

#about-layout-container {

    line-height: 1.8em;

    padding: 2em .8em;

    display: grid;
    /* row-gap: 1em; */

    /* default 18px its bette for easy reading */
    /* font-size: 1.125em; */
    /* background-color: rgb(224, 224, 224); */
}
