/* -------------------------------------------------------------- */
/* > about-it-skills.css
/*
/* : style about it skill containers
/* -------------------------------------------------------------- */


/* --------------------------------------------------------------*/
/* About My IT Skills Container                                  */
/* ------------------------------------------------------------- */

#about-my-it-skills-container {

  width: 100%;
  padding: 4em .8em;

  display: grid;
  /* justify-items: center; */
  /* justify-content: center; */
  row-gap: 4em;

  /* background-color: rgb(46, 46, 46); */
  background-color: rgb(28, 28, 28);

  /* background-color: white; */

  color:rgb(224, 224, 224);

}

/* --------------------------------------------------------------*/
/* [1/3] | Header                                                */
/* ------------------------------------------------------------- */

#about-my-it-skills-container > header {

  width: 100%;

  display: grid;
  justify-items: center;
  row-gap: 2em;

}

#about-my-it-skills-container > header > .headline-sub-topic-dark-element > div {

  font-weight: bold;

  font-size: 1.25em;
}

/* --------------------------------------------------------------*/
/* About Laptop Img Container
/* --------------------------------------------------------------*/

#about-img-laptop-container {

  /* background-color: red; */

}

#img-about-laptop-me {

  height: 12em;

}

/* ------------------------------------------- */
/* [2/3] | Main
/* ------------------------------------------- */

#about-my-it-skills-container > main {

  /* background-color: red; */

  /* width: 100%; */

  display: grid;
  justify-items: center;

  /* to let skill items beginning on the top */
  align-items: flex-start;

  grid-template-areas:
  'about-skill-web-dev'
  'about-skill-software-mobile-dev'
  'about-skill-backend'
  'about-skill-quote-container';

  row-gap: 4em;
  column-gap: 4em;

  /* background-color: red; */

}

#about-skill-web-dev {

  grid-area: about-skill-web-dev;

}

#about-skill-software-mobile-dev {

  grid-area: about-skill-software-mobile-dev;

}

#about-skill-backend {

  grid-area: about-skill-backend;

}

/* ------------------------------------------- */
/* About Skill Category Container
/* ------------------------------------------- */

.about-skill-category-container {

  display: grid;
  justify-items: center;
  row-gap: 2.5em;

}

/* ------------------------------------------- */
/* Header | About Skill Category Container
/* ------------------------------------------- */

.about-skill-category-container > header {

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

}

.about-skill-category-container > header > div {

  font-size: 1.375em;

  color:rgb(138, 138, 138);

}

/* ------------------------------------------- */
/* Main | About Skill Category Container
/* ------------------------------------------- */

.about-skill-category-container > main {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .8em

}

/* ------------------------------------------------------------------ */
/* About Link Skill Item                                              */
/* ------------------------------------------------------------------ */

.about-link-skill-item {

  text-decoration: none;

  height: 3em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  align-items: center;
  column-gap: .6em;

  border-radius: .8em;

  /* font-weight: 600; */

  border: 1px solid rgb(49, 49, 49);

  background-color: rgb(34, 34, 34);

  /* background-color: rgb(22, 22, 22); */

  color:rgb(98, 98, 98);

  color:rgb(84, 84, 84);

  font-weight: bold;

  cursor: pointer;
  transition: all .4s;

}

.about-link-skill-item > div {

  font-size: 1.125em;
}


.about-link-skill-item:visited {

  color:rgb(113, 113, 113);
   color:rgb(98, 98, 98);

}

.about-link-skill-item:hover {

  background-color: wheat;
  color:rgb(98, 98, 98);
  color:black;

}


/* ------------------------------------------- */
/* About Skill Quote Container
/* ------------------------------------------- */

#about-skill-quote-container {

  grid-area: about-skill-quote-container;

  display: flex;
  align-items: center;
  column-gap: 1em;

  font-weight: bold;

  opacity: .8;
}

#about-skill-quote-container > div {

  font-size: 1.25em;
}

#about-skill-quote-container > div:nth-of-type(2) {

  color:wheat;
}
