/* -------------------------------------------------------------- */
/* > about.css
/*
/* : styles about page defaults
/* -------------------------------------------------------------- */


/* ------------------------------------------- */
/* About Container
/* ------------------------------------------- */

#about-container {

    width: 100%;
    display: grid;

}

/* ------------------------------------------- */
/* Img Icon Headline About
/* ------------------------------------------- */

#img-icon-about-headline {

    /* mobile */
    height: 2.5em;
}

/* ------------------------------------------- */
/* About Main Container
/* ------------------------------------------- */

#about-main-container {

  width: 100%;
  display: grid;

}














/* ------------------------------------------- */
/* ❌❌❌ Trash Down
/* ------------------------------------------- */

.about-content-area {

    padding: 2em 0em;
    width: 100%;

    display: grid;
    /* row-gap: 1em; */

    /* default 18px its bette for easy reading */
    /* font-size: 1.125em; */
    /* background-color: rgb(224, 224, 224); */

    line-height: 1.8em;

    /* background-color: red; */
}


/* ------------------------------------------- */
/* About Footer Content Number Container
/* ------------------------------------------- */

.about-footer-content-number-container {

  height: 6em;
  padding: 0 1.5em;

  display: flex;
  align-items: center;

  font-weight: bold;

  background-color: red;

}

.about-footer-content-number-container > div:nth-of-type(1) {

  font-size: 1.5em;
  letter-spacing: 1px;
}
