/* -------------------------------------------------------------- */
/* > about-contact.css
/*
/* : style the contact layout of about
/* -------------------------------------------------------------- */

/* ------------------------------------------- */
/* About Contact Container
/* ------------------------------------------- */

#about-contact-container {

    grid-area: contact;

    margin: 2em 0;

    height: 6em;


    display: flex;
    align-items: center;
    justify-content: center;

    color:rgb(19, 19, 19);
    background-color: rgb(148, 148, 148);

}
