/* -------------------------------------------------------------- */
/* > about-skill-info.css
/*
/* : style the about skill info container
/* -------------------------------------------------------------- */

/* ------------------------------------------------------------------ */
/* Header Skill Info                                                  */
/* ------------------------------------------------------------------ */

#about-header-skill-info {

  height: 3em;
  padding: 0 .8em;
  margin: 2em 0;

  display: flex;
  align-items: center;

  border-radius: .8em;

  background-color: rgb(241, 241, 241);
  color:rgb(128, 128, 128);

  font-weight: bold;

}

/* ------------------------------------------------------------------ */
/* Skill Info Container                                               */
/* ------------------------------------------------------------------ */

.about-skill-info-container {

  /* padding: .5em 0; */

  display: grid;
  /* row-gap: .8em; */

  /* border: 1px dashed black; */

}

/* ------------------------------------------------------------------ */
/* Header | About Skill Info Container                                */
/* ------------------------------------------------------------------ */

.about-skill-info-container > header {

    height: 2.3em;
    padding: 0 .6em;

    font-size: 1.125em;

    display: inline-flex;
    align-items: center;
    column-gap: .6em;

    font-weight: bold;

    border-radius: .4em;


    /* background-color: rgb(28, 28, 28); */
    color:rgb(125, 125, 125);

    /* opacity: .8; */


}

/* ------------------------------------------------------------------ */
/* About Skill List                                                   */
/* ------------------------------------------------------------------ */

.about-skill-list {

  padding: 2em 2em;

  display: flex;
  flex-wrap: wrap;
  column-gap: .8em;
  row-gap: .8em;

}

/* ------------------------------------------------------------------ */
/* Link Skill About                                                   */
/* ------------------------------------------------------------------ */

.link-skill-about {

    text-decoration: none;
    color:black;

    height: 2.5em;
    padding: 0 1em;

    display: flex;
    align-items: center;
    align-items: center;
    column-gap: .3em;

    border-radius: .4em;

    font-weight: 600;


    border: 1px solid rgb(213, 213, 213);

    background-color: rgb(234, 234, 234);

    background-color: rgb(246, 246, 246);

    color:rgb(113, 113, 113);

    cursor: pointer;
    transition: all .4s;

}

.link-skill-about:visited {

  color:rgb(113, 113, 113);

}

.link-skill-about:hover {

  background-color: wheat;
  color:black;

}
