/* -------------------------------------------------------------- */
/* > about-info.css
/*
/* : style the info of about
/* -------------------------------------------------------------- */


/* --------------------------------------------- */
/* 🟣 Auslagern -> Font Style
/* --------------------------------------------- */
.c1 {

  color:rgb(98, 98, 98);
  font-weight: bold;
}

/* --------------------------------------------- */
/* ❇️❇️❇️ Quick Info Container
/* --------------------------------------------- */

.info-quick-container {

  display: grid;
  row-gap: 1em;

}

/* ----------------------------------------- */
/* Header ( left/right )
/* ----------------------------------------- */

.info-quick-container > header.left,
.info-quick-container > header.right {

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  color:rgb(128, 128, 128);

  opacity: .4;

}

.info-quick-container > header.right {

  justify-content: flex-end;
}

/* font size - header */
.info-quick-container > header.left > div:nth-of-type(1),
.info-quick-container > header.right > div:nth-of-type(1) {

  /* 20px */
  font-size: 1.5em;

}

/* ----------------------------------------- */
/* Info Quick Main Container
/* ----------------------------------------- */

.info-quick-main-container {

  /* 18px */
  font-size: 1.25em;

  padding: 1.5em 2em;
  line-height: 1.8em;

  border-left: 10px solid black;


  border-radius: .8em;

  background-color: rgb(241, 241, 241);
  color:rgb(128, 128, 128);

}


/* ------------------------------------------- */
/* Quick Info Img Container
/* ------------------------------------------- */

#about-quick-info-img-container {

  grid-area: quickInfo;

  display: grid;
  justify-items: center;
  align-items: center;

  column-gap: .8em;
  row-gap: 1em;

}

/* ------------------------------------------- */
/* [1/2] | About Img Container
/* ------------------------------------------- */

#about-img-container {

  display: flex;
  align-items: center;
  justify-content: center;
}

#img-about {

    width: 100%;
    border-radius: 1em;
}


























/* ------------------------------------------- */
/* Personality Info
/* ------------------------------------------- */

#about-personality-info {

  grid-area: personality;

}

/* ------------------------------------------- */
/* Main Personality Info
/* ------------------------------------------- */

#info-personality-about-container {

  display: flex;
  align-items: flex-end;

}

#img-clipart-more-personality {

  height: 16em;
}

#info-personality-about-container > main {

  display: grid;
  row-gap: 1.5em;

}

#info-personality-about-container > main > div {

  display: flex;
  align-items: center;
  column-gap: 1.5em;
}

#about-personality-info > footer {

  padding-top: .3em;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.125em;
  font-weight: bold;

}
