/* -------------------------------------------------------------- */
/* > contact-me-about.css
/*  
/* : styles contact me about container 
/* -------------------------------------------------------------- */



/* -------------------------------------------------------------- */
/* About Contact
/* -------------------------------------------------------------- */

#about-contact {

    padding: .8em;

    display: grid;
    row-gap: .6em;

    background-color: rgb(206, 206, 206);
}
