/* ----------------------------------------------------------------------------- */
/* > h1-status-info-container.css
/*  
/* : styles the h1 status info container | done , in progress , coming soon
/* ----------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------- */
/* H1 | Status Three Info Container 
/* ----------------------------------------------------------------------------- */

.h1-status-three-info-container {

    font-size: 1.125em;

    padding-left: .4em;

    display: grid;
    row-gap: .5em;
    color:rgb(10, 10, 10);

    text-align: center;

    border-radius: .6em;

    /* background-color: blue; */
}

/* ----------------------------------------------------------------------------- */
/* H1 Status Info Intem Container 
/* ----------------------------------------------------------------------------- */

.h1-status-info-item-container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: .3em;

}

.h1-status-info-item-container > header {

    font-weight: bold;

}

/* ----------------------------------------------------------------------------- */
/*  H1 Status | done, in progress, coming soon |  Info Box
/* ----------------------------------------------------------------------------- */

.h1-status-done-info-box,
.h1-status-in-progress-info-box,
.h1-status-coming-soon-info-box {

    height: 1.8em;
    width: 3em;

    display: flex;
    align-items: center;
    justify-content: center;
   
    border-radius: .2em;
}

.h1-status-done-info-box {

    background-color: rgb(9, 169, 9);
}

.h1-status-in-progress-info-box {

    background-color: rgb(255, 222, 9);

}

.h1-status-in-progress-info-box > img:nth-of-type(1) {

    animation: rotate360deg 4s ease infinite;

}

.h1-status-coming-soon-info-box  {

    background-color: rgb(9, 140, 255);

}

.h1-status-coming-soon-info-box > img:nth-of-type(1) {

    animation: leftright 1s ease infinite;

}

/* ----------------------------------------------------------------------------- */
/*  Description H1 Status Info Box |
/* ----------------------------------------------------------------------------- */

.description-h1-status-info-box {

    font-style: italic;
    color:rgb(105, 105, 105);

}