/* -------------------------------------------------------------------------- */
/* > status-containers.css
/*  
/* : styles staus containers in finish | in progress | coming soon 
/* -------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------- */
/* Header Status Small Info Container 
/* ----------------------------------------------------------------------------- */

.header-status-small-info-container {

    font-size: 1.25em;

    padding-left: .8em;

    display: grid;
    row-gap: .3em;
    color:rgb(85, 85, 85);

    border-radius: .6em;
    /* border: 1px dashed black; */
}



/* ----------------------------------------------------------------------------- */
/* Status Small Info Container
/* ----------------------------------------------------------------------------- */

.status-small-info-container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: .3em;
}

.status-small-info-container > header {

    font-weight: bold;
}


/* ----------------------------------------------------------------------------- */
/* Status Small Info | finish , in progress , coming soon 
/* ----------------------------------------------------------------------------- */

.status-small-info-finish,
.status-small-info-in-progress,
.status-small-info-coming-soon  {

    height: 1.8em;
    width: 3em;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .3em;

    border-radius: .2em;

}

.status-small-info-finish {

    background-color: rgb(9, 169, 9);

}

.status-small-info-in-progress {

    background-color: rgb(255, 222, 9);
    

}

.status-small-info-in-progress > img:nth-of-type(1) {

    animation: rotate360deg 4s ease infinite;

}

.status-small-info-coming-soon {

    background-color: rgb(9, 140, 255);

}

.status-small-info-coming-soon > img:nth-of-type(1) {

    animation: leftright 1s ease infinite;

}

/* ------------------------------------- */
/* Animation | rotate 360
/* ------------------------------------- */

/* infinite-360-run */
@keyframes rotate360deg {

    0% { transform: rotate(45deg); }
    20% { transform: rotate(90deg); }
    40% { transform: rotate(135deg); }
    60% { transform: rotate(180deg); }
    80% { transform: rotate(135deg); }
    100% { transform: rotate(360deg); }
    
}

/* ------------------------------------- */
/* Animation | left right
/* ------------------------------------- */

@keyframes leftright {

    0% { padding-left: .3em; }
    50% { padding-right: .3em; }
    100% { padding-left: .3em; }
    
}

/* ----------------------------------------------------------------------------- */
/* Status Small Info Description 
/* ----------------------------------------------------------------------------- */

.status-small-info-desciption {

    /* color:blue; */
}
