/* -------------------------------------------------------------- */
/* > resp-about.css
/*
/* : responsive sets for about page elements
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* >= 340px
/* ------------------------------------------------------------------- */

@media ( min-width: 320px ) {

    /* ------------------------------------------------ */
    /*  Img About Quick Info Me as Real */
    /* ------------------------------------------------ */

    #img-about-quick-info-me-as-real {

        width: 90%;
    }

}

/* ------------------------------------------------------------------- */
/* >= 360px
/* ------------------------------------------------------------------- */

@media ( min-width: 340px ) {


    /* ------------------------------------------------ */
    /*  Img About Quick Info Me as Real */
    /* ------------------------------------------------ */

    #img-about-quick-info-me-as-real {

        width: 85%;
    }

}

/* ------------------------------------------------------------------- */
/* >= 400px
/* ------------------------------------------------------------------- */

@media ( min-width: 400px ) {


    /* ------------------------------------------------ */
    /*  Img About Quick Info Me as Real */
    /* ------------------------------------------------ */

    #img-about-quick-info-me-as-real {

        width: 80%;
    }

}

/* ------------------------------------------------------------------- */
/* >= 450px
/* ------------------------------------------------------------------- */

@media ( min-width: 450px ) {

    /* ------------------------------------------------ */
    /*  Img About Quick Info Me as Real */
    /* ------------------------------------------------ */

    #img-about-quick-info-me-as-real {

        width: 60%;
    }

}

/* ------------------------------------------------------------------- */
/* >= 500px
/* ------------------------------------------------------------------- */

@media ( min-width: 500px ) {

    /* ------------------------------------------------ */
    /*  Img About Quick Info Me as Real */
    /* ------------------------------------------------ */

    #img-about-quick-info-me-as-real {

        width: 15em;
    }

}

/* ------------------------------------------------------------------- */
/* >= 700px
/* ------------------------------------------------------------------- */

@media ( min-width: 700px ) {

    /* ------------------------------------------- */
    /* About Quick Info Container
    /* ------------------------------------------- */

    #about-quick-info-container {

       /* bring elements in the middle of each other */
       align-items: center;

       grid-template-areas:
        'img arrow info'
        'number number number';

        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto;

        column-gap: 1.3em;

    }

    #about-quick-info {

        max-width: 35em;

        justify-items: start;
        row-gap: 1em;
    }

    #about-quick-info > main {

        text-align: left;

    }

    #arrow-about-quick-info {

        transform: rotate(0deg);

    }

}


/* ------------------------------------------------------------------- */
/* >= 800px
/* ------------------------------------------------------------------- */

@media ( min-width: 800px ) {



    /* --------------------------------------------------------------*/
    /* More Private Info Container                                   */
    /* ------------------------------------------------------------- */

    #about-more-private-container {

        grid-template-areas:

            'info img-coffee'
            'arrow arrow'
            'my-wishes my-wishes'
            'number number';

        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr auto;

    }

    /* --------------------------------------------------------------*/
    /* More Private Info | Main                                      */
    /* ------------------------------------------------------------- */

    #about-more-private-info > main {

        padding: 0 1.5em;

    }

    /* --------------------------------------------------------------*/
    /* More Private Info | Main Div                                  */
    /* ------------------------------------------------------------- */

    #about-more-private-info > main > div {

        display: flex;
        align-items: center;
        column-gap: 1.5em;

    }

    /* --------------------------------------------------------------*/
    /* More Private Info | Img Coffee                                */
    /* ------------------------------------------------------------- */

    #about-more-private-img-coffee {

        display: flex;

    }

}

/* ------------------------------------------------------------------- */
/* >= 900px
/* ------------------------------------------------------------------- */

@media ( min-width: 900px ) {


    /* ------------------------------------------- */
    /* About Quick Info Container
    /* ------------------------------------------- */

    #about-quick-info-container {

        /* deskotp */
        padding: 2em 0em;

        /* background-color: red; */
    }

    /* ------------------------------------------------ */
    /* ⚠️ Resp Quick Info Text Container ( umbennen )
    /* ------------------------------------------------ */

    #resp-about-quick-info-text-container {

        width: 35em;

    }

    /* -------------------------------------------------- */
    /* My IT Skills Container
    /* -------------------------------------------------- */

    #about-my-it-skills-container {

        padding: 3.5em 0em;

    }

    /* --------------------------------------------------------------*/
    /* More Private Container                                        */
    /* ------------------------------------------------------------- */

    #about-more-private-container {

        padding: 4em 0em;

    }

    /* ------------------------------------------- */
    /* About Contact Container
    /* ------------------------------------------- */

    #about-contact-container {

        padding: 4em 0em;

    }

}

/* ------------------------------------------------------------------- */
/* >= 1000px
/* ------------------------------------------------------------------- */

@media ( min-width: 1000px ) {

    /* ------------------------------------------------ */
    /* Img About */
    /* ------------------------------------------------ */

    #img-about {

        width: 20em;
        /* display: none; */
    }

}

/* ------------------------------------------------------------------- */
/* >= 1200px
/* ------------------------------------------------------------------- */

@media ( min-width: 1200px ) {

    /* ------------------------------------------- */
    /* About Nav
    /* ------------------------------------------- */

    #about-nav {

        padding: 0;

    }

}
