/* -------------------------------------------------------------- */
/* > resp-welcome.css
/*
/* : responsive sets for the welcome about container
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
/* >= 330x width
/* -------------------------------------------------------------- */

@media (min-width: 330px ) {

    /* ------------------------------------------ */
    /* Welcome Container
    /* ------------------------------------------ */

    #welcome-container {

        height: 14.5em;

    }

    /* ------------------------------------------ */
    /* IMG
    /* ------------------------------------------ */

    #img-welcome-clipart-me {

        /* mobile */
        height: 6.5em;
    }

    /* ------------------------------------------ */
    /* Welcome Title Container
    /* ------------------------------------------ */

    .welcome-title-container {

        row-gap: .3em;
    }

    #text-welcome-to {

        /* mobile */
        font-size: 1.375em;

    }

    #text-superfreshdev {

        /* mobile  */
        font-size: 1.5em;

    }

}

/* -------------------------------------------------------------- */
/* >= 400x width
/* -------------------------------------------------------------- */

@media (min-width: 400px ) {

    /* ------------------------------------------ */
    /* Welcome Container
    /* ------------------------------------------ */

    #welcome-container {

        /* mobile */
        grid-template:
            "welcome-img welcome-title"
            "welcome-img welcome-motto"
            "welcome-img welcome-date"
        ;
        /* mobile */
        grid-template-columns: auto 1fr;

        /* mobile */
        column-gap: 1em;
        row-gap: 1em;
    }

    /* ------------------------------------------ */
    /* IMG
    /* ------------------------------------------ */

    #img-welcome-clipart-me {

        /* mobile */
        height: 7.5em;
        /* mobile */
        padding-bottom: 1.5em;
    }

    /* ------------------------------------------ */
    /* Welcome Title Container
    /* ------------------------------------------ */

    .welcome-title-container {

        row-gap: .4em;
    }

    /* ------------------------------------------ */
    /* Welcome Motto Container
    /* ------------------------------------------ */

    .welcome-motto-container {

        /* 1.03125em = 16.5px  */
        font-size: 1.03125em;
    }

}

/* -------------------------------------------------------------- */
/* >= 500x width
/* -------------------------------------------------------------- */

@media (min-width: 500px ) {

    /* ------------------------------------------ */
    /* Welcome Container
    /* ------------------------------------------ */

    #welcome-container {

        height: 15em;

    }

    /* ------------------------------------------ */
    /* IMG
    /* ------------------------------------------ */

    #img-welcome-clipart-me {

        /* desktop */
        height: 8.5em;

        padding: 0em;
    }

    /* ------------------------------------------ */
    /* Welcome Title Container
    /* ------------------------------------------ */

    .welcome-title-container {

        row-gap: .5em;
    }

    #text-welcome-to {

        /* desktop */
        font-size: 1.5em;

    }

    #text-superfreshdev {

        /* desktop size  */
        font-size: 1.75em;

    }

    /* ------------------------------------------ */
    /* Welcome Title Container
    /* ------------------------------------------ */

    .welcome-motto-container {

        padding-top: .4em;

        row-gap: .2em;

        /* 18px */
        font-size: 1.125em;

    }

}

/* -------------------------------------------------------------- */
/* >= 630x width
/* -------------------------------------------------------------- */

@media (min-width: 630px ) {

    /* ------------------------------------------ */
    /* Welcome Container
    /* ------------------------------------------ */

    #welcome-container {

        height: 14em;

        /* all item top orientation */
        align-items: flex-start;

        /* mobile */
        grid-template:
            "welcome-img welcome-title welcome-date"
            "welcome-img welcome-motto welcome-date"
        ;
        /* mobile */
        grid-template-columns: auto auto 1fr;
        grid-template-rows: auto;

        /* mobile */
        column-gap: 1em;
        row-gap: 0em;
    }

    /* ------------------------------------------ */
    /* Welcome Title Container
    /* ------------------------------------------ */

    .welcome-title-container {

        /* this element should be in the middle */
        align-self: center;

    }

    /* ------------------------------------------ */
    /* Welcome Title Container
    /* ------------------------------------------ */

    .welcome-motto-container {

        /* color:red; */
        row-gap: .3em;

    }

    /* ------------------------------------------ */
    /* Date
    /* ------------------------------------------ */

    .welcome-date-container {

        /* this element should be in the middle */
        align-self: center;
        padding-top: 0em;

    }

}

/* -------------------------------------------------------------- */
/* >= 800x width
/* -------------------------------------------------------------- */

@media (min-width: 800px ) {

    /* ------------------------------------------ */
    /* Welcome Container
    /* ------------------------------------------ */

    #welcome-container {

        /* desktop */
        column-gap: 1.5em;

    }

    /* ------------------------------------------ */
    /* IMG
    /* ------------------------------------------ */

    #img-welcome-clipart-me {

        /* desktop */
        height: 10em;
    }

    /* ------------------------------------------ */
    /* Welcome Title Container
    /* ------------------------------------------ */

    .welcome-title-container {

        row-gap: 1em;
    }

    #text-welcome-to {

        /* desktop */
        font-size: 1.8em;

    }

    #text-superfreshdev {

        /* desktop */
        font-size: 2.3em;

    }

    /* ------------------------------------------ */
    /* Date
    /* ------------------------------------------ */

    .welcome-date-container {

        /* 18px */
        font-size: 1.125em;
    }

}

/* -------------------------------------------------------------- */
/* >= 1200x width
/* -------------------------------------------------------------- */

@media (min-width: 1200px ) {

    /* ------------------------------------------ */
    /* Welcome Container
    /* ------------------------------------------ */
    #welcome-container {

        /* desktop */
        padding: 0em;

    }


}
