/* -------------------------------------------------------------- */
/* > resp-about.css
/*
/* : responsive sets for about page elements
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* >= 340px
/* ------------------------------------------------------------------- */

@media ( min-width: 340px ) {

    /* ------------------------------------------------ */
    /* Img About */
    /* ------------------------------------------------ */
    #img-about {

        width: 80%;
        /* display: none; */
    }

    #about-quick-info {

        /* text-align: center; */
    }

}

/* ------------------------------------------------------------------- */
/* >= 360px
/* ------------------------------------------------------------------- */

@media ( min-width: 340px ) {

    /* ------------------------------------------------ */
    /* Img About */
    /* ------------------------------------------------ */
    #img-about {

        width: 60%;
        /* display: none; */
    }

}

/* ------------------------------------------------------------------- */
/* >= 450px
/* ------------------------------------------------------------------- */

@media ( min-width: 450px ) {

    /* ------------------------------------------------ */
    /* Img About */
    /* ------------------------------------------------ */
    #img-about {

        width: 40%;
        /* display: none; */
    }

}

/* ------------------------------------------------------------------- */
/* >= 500px
/* ------------------------------------------------------------------- */

@media ( min-width: 500px ) {

    /* ------------------------------------------------ */
    /* Img About */
    /* ------------------------------------------------ */
    #img-about {

        width: 15em;
        /* display: none; */
    }



}


/* ------------------------------------------------------------------- */
/* >= 600px
/* ------------------------------------------------------------------- */

@media ( min-width: 600px ) {

    /* ------------------------------------------------ */
    /* About Quick Info Img Container */
    /* ------------------------------------------------ */
    #about-quick-info-img-container {

        grid: auto / 1fr auto;

    }

    /* img to the right */
    #about-img-container {
        order: 2;
    }


}

/* ------------------------------------------------------------------- */
/* >= 900px
/* ------------------------------------------------------------------- */

@media ( min-width: 900px ) {

    /* ------------------------------------------------ */
    /* About Quick Info Img Container */
    /* ------------------------------------------------ */
    /* #about-quick-info-img-container {

        grid: auto / 2fr auto;

    } */

    /* ------------------------------------------------ */
    /* About Quick Info */
    /* ------------------------------------------------ */
    #about-quick-info {

        width: 35em;
        /* width: 60%; */

    }



}

/* ------------------------------------------------------------------- */
/* >= 1000px
/* ------------------------------------------------------------------- */

@media ( min-width: 1000px ) {

    /* ------------------------------------------------ */
    /* Img About */
    /* ------------------------------------------------ */
    #img-about {

        width: 20em;
        /* display: none; */
    }


    /* ------------------------------------------------ */
    /* About Layout Container */
    /* ------------------------------------------------ */
    #about-layout-container {

       align-items: flex-start;
       column-gap: 3em;

       grid-template-areas:

       'quickInfo quickInfo'
       'headerSkill headerSkill'
       'webdev software'
       'backend backend'
       'personality personality'
       'contact contact';

       /* grid-template-columns: auto auto; */

    }




}
