/* -------------------------------------------------------------- */
/* > resp-about.css
/*  
/* : responsive sets for about page elements
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 400px width
/* -------------------------------------------------------------- */

@media (min-width: 400px ) {

    #quote-to-be-fresh-container {

        padding: .8em;
        
    }

}

/* -------------------------------------------------------------- */
/* >= 450px width
/* -------------------------------------------------------------- */
@media (min-width: 450px ) {

    #about-header {

        grid: auto / 1fr auto;
        
    }

    #txt-to-be-fresh {

        font-size: 1.125rem;;
    }

}