/* -------------------------------------------------------------- */
/* > body-footer-full-view-container.css
/*  
/* : style my body footer full view container 
/*   thats my useful link layout
/* -------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* [2/2] - Full View Container
/* ----------------------------------------------------- */

#body-footer-full-view-container {

    padding-top: 1em;
   
    display: grid;
    row-gap: .8em;
    background-color: brown;

}

/* ----------------------------------------------------- */
/* Categroy Tab Panel
/* ❓ - Können wir das universal auslagern ?  */
/* ----------------------------------------------------- */

#category-tabs-panel-body-footer {

    margin-top: .8em;

    padding: .3em;

    display: flex;
    align-items: center;
    column-gap: .8em;

    border-radius: .6em;

    background-color: red;
}

/* ----------------------------------------------------- */
/* Label Category Tabe | Footer Body 
/* ----------------------------------------------------- */

.lbl-tab-category-body-footer {

    height: 2.5em;
    padding: 0 .6em;

    display: flex;
    align-items: center;
    column-gap: .6em;

    border-radius: .6em;

    font-weight: bold;

    background-color: rgb(34, 34, 34);

    cursor: pointer;
    transition: all .4s;
}

.lbl-tab-category-body-footer:hover {

    background-color: wheat;
    color:black;
}

.lbl-title-category-tab-body-footer {

    display: flex;
    align-items: center;
    column-gap: .4em;
}


.img-lbl-title-tab-category-body-footer {

    height: 1.2em;
    
}

/* ------------------------------------------------------------------- */
/* Smooth Open Close | Link Containers | Body Footer
/* ------------------------------------------------------------------- */

#smooth-open-close-link-containers-body-footer {

    /* padding: 1.3em .8em; */

    display: grid;
   
    /* 🚧 Open Construction - Actually dont know 
    why the smooth open concept dont work here 
    i like the smooth effect by switching 2 viewing 
    containers  */
    /* grid-template-rows: 1fr 0fr; */
    
    transition: grid-template-rows .3s ease-out;

} 


/* ------------------------------------------------------------------- */
/* Handling Radioboxes | tab links & community links
/* ------------------------------------------------------------------- */

input[name='name-radio-footer-body'] {

    display: none;
}

/* --------------------------------------------------------------- */
/* Together Stylings | Links & Community Links                     */
/* --------------------------------------------------------------- */

/* styling setted label tab  */
#radio-footer-body-links:checked ~ .handle-main-content-area:nth-of-type(1) #category-tabs-panel-body-footer > label[for='radio-footer-body-links'],
#radio-footer-body-community-links:checked ~ .handle-main-content-area:nth-of-type(1) #category-tabs-panel-body-footer > label[for='radio-footer-body-community-links'] {

    background-color: wheat;
    color:black;
}


/* --------------------------------------------------------------- */
/* [1/2] | Show - Links  */
/* --------------------------------------------------------------- */

/* Custom Select - set x img  */
#radio-footer-body-links:checked ~ .handle-main-content-area:nth-of-type(1) #category-tabs-panel-body-footer > label[for='radio-footer-body-links'] > div.custom-radio-sub-topic:nth-of-type(1) > img {

    display: flex;
}


#radio-footer-body-links:checked ~ .handle-max-content-area #smooth-open-close-link-containers-body-footer > div:nth-of-type(1) {

    display: grid;
}

#radio-footer-body-links:checked ~ .handle-max-content-area #smooth-open-close-link-containers-body-footer > div:nth-of-type(2) {

    display: none;
}


/* --------------------------------------------------------------- */
/* [2/2] | Show - Community Links  */      
/* --------------------------------------------------------------- */

/* Custom Select - set x img  */
#radio-footer-body-community-links:checked ~ .handle-main-content-area:nth-of-type(1) #category-tabs-panel-body-footer > label[for='radio-footer-body-community-links'] > div.custom-radio-sub-topic:nth-of-type(1) > img {

    display: flex;
}


#radio-footer-body-community-links:checked ~ .handle-max-content-area #smooth-open-close-link-containers-body-footer > div:nth-of-type(2) {

    display: grid;
}

#radio-footer-body-community-links:checked ~ .handle-max-content-area #smooth-open-close-link-containers-body-footer > div:nth-of-type(1) {

    display: none;
}


/* ----------------------------------------------------- */
/* Links Container | Body Footer
/* ----------------------------------------------------- */

.links-container-body-footer {

    padding: 1em;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.3em;
   
    background-color: rgb(223, 223, 223);
    color:black;
}


/* ----------------------------------------------------- */
/* Categroy Link Container | Body Footer
/* ----------------------------------------------------- */

.category-link-container-body-footer {

    max-width: 20em;

    display: grid;
    row-gap: .8em;

    border-radius: .4em;

    background-color: aquamarine;

}

.mixery-category-link-container-body-footer {

    max-width: 80em;

    display: grid;
    row-gap: .8em;

    border-radius: .4em;

    background-color: aquamarine;
}


/* ----------------------------------------------------- */
/* Header 
/* ----------------------------------------------------- */

.category-link-container-body-footer > header,
.mixery-category-link-container-body-footer > header {

    height: 2.5em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
    column-gap: .4em;

    font-weight: bold;

    border-radius: .4em .4em 0em 0em;

    background-color: grey;

}

.category-link-container-body-footer > header > img,
.mixery-category-link-container-body-footer > header > img {

    height: 1.3em;
}

/* ----------------------------------------------------- */
/* Main
/* ----------------------------------------------------- */


.category-link-container-body-footer > main {

    /* max-width: 23em; */

    display: grid;
    row-gap: 0em;

    border-radius: .4em;

    background-color: green;
    
}


.mixery-category-link-container-body-footer > main {

    display: flex;
    flex-wrap: wrap;
    
    column-gap: 1.5em;
    row-gap: .3em;

}


/* ----------------------------------------------------- */
/* Link Item Container Body Footer
/* ----------------------------------------------------- */

.link-item-container-body-footer {

    padding: .6em .4em .6em 0;
    /* height: 3.5em; */
    

    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: 1em;

    border-radius: .4em;
    /* border: 1px solid black; */
    
    transition: all .4s;

}

.link-item-container-body-footer:hover {

    background-color: grey;
}


/* ----------------------------------------------------- */
/* Content Block | Link Item | Body Footer
/* ----------------------------------------------------- */

.content-block-link-item-body-footer {

    display: flex;
    align-items: center;
    column-gap: .8em;

}


/* -------------------------------------------------------------- */
/* Img Link Item | Body Footer
/* -------------------------------------------------------------- */

.img-link-item-body-footer {

    height: 3em;
    border-radius: .4em;

}

/* -------------------------------------------------------------- */
/* Title Link Item | Body Footer
/* -------------------------------------------------------------- */

.title-link-item-body-footer {

    line-height: 1.1em;

}

.title-link-item-body-footer > div:nth-of-type(1) {

    font-weight: bold;

}

.title-link-item-body-footer  > div:nth-of-type(2) {

    font-size: 14px;
    color:rgb(48, 48, 48);

}

/* ----------------------------------------------------- */
/* Media Block | Link Item | Body Footer
/* ----------------------------------------------------- */

.media-block-link-item-body-footer {

    display: flex;
    align-items: center;
    column-gap: .4em;

}

.link-media-link-item-body-footer {

    height: 3em;
  
    display: flex;
    align-items: center;
    justify-content: center;

}

.link-media-link-item-body-footer > img {

    height: 1.8em;
    width: 1.8em;

    border-radius: .4em;

    /* grey */
    filter:grayscale(100%);
    opacity: .6;

    transition: all .4s;
}

.link-media-link-item-body-footer > img:hover {

    filter:grayscale(0%);
    opacity: 1;

}