/* -------------------------------------------------------------- */
/* > resp-it.css
/*
/* : responsive sets for it docs
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 330px width
/* -------------------------------------------------------------- */

@media (min-width: 330px ) {

  /* ------------------------------------------ */
  /* Doc Card Containers
  /* ------------------------------------------ */

  .doc-card-container,
  .doc-card-container-in-progress,
  .doc-card-container-no-priority {

    width: 9em;

  }


  /* ------------------------------------------ */
  /* Doc Card In Progress / No Prio
  /* ------------------------------------------ */

  .doc-card-in-progress-info,
  .doc-card-no-priority-info {

    top: 6em;

  }

}

/* -------------------------------------------------------------- */
/* >= 370px width
/* -------------------------------------------------------------- */

@media (min-width: 370px ) {

  /* ------------------------------------------ */
  /* Doc Card Containers
  /* ------------------------------------------ */

  .doc-card-container,
  .doc-card-container-in-progress,
  .doc-card-container-no-priority {

    width: 10em;

  }

  /* ------------------------------------------ */
  /* Doc Card In Progress / No Prio
  /* ------------------------------------------ */

  .doc-card-in-progress-info,
  .doc-card-no-priority-info {

    top: 6.8em;

  }

}

/* -------------------------------------------------------------- */
/* >= 420px width
/* -------------------------------------------------------------- */

@media (min-width: 420px ) {

  /* ------------------------------------------ */
  /* Doc Card Containers
  /* ------------------------------------------ */

  .doc-card-container,
  .doc-card-container-in-progress,
  .doc-card-container-no-priority {

    width: 11em;

  }

  /* ------------------------------------------ */
  /* Doc Card In Progress / No Prio
  /* ------------------------------------------ */

  .doc-card-in-progress-info,
  .doc-card-no-priority-info {

    top: 7.5em;

  }

}

/* -------------------------------------------------------------- */
/* >= 450px width
/* -------------------------------------------------------------- */

@media (min-width: 450px ) {


  /* ------------------------------------------ */
  /* Row Container -> Main
  /* ------------------------------------------ */

  .my-it-docs-card-row-container > main {

    /* width: 100%; */

    /* desktop */
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2em;

    /* mobile */
    /* display: grid;
    grid: auto / 1fr 1fr;
    gap: 1em; */

    /* background-color: red; */

  }

  /* ------------------------------------------ */
  /* Doc Card Item
  /* ------------------------------------------ */

  .my-it-doc-card-item {

    /* desktop */
    width: 12em;

  }



  /* ------------------------------------------ */
  /* Doc Card Containers
  /* ------------------------------------------ */

  .doc-card-container,
  .doc-card-container-in-progress,
  .doc-card-container-no-priority {

    width: 12em;

  }

  /* ------------------------------------------ */
  /* Doc Card In Progress / No Prio
  /* ------------------------------------------ */

  .doc-card-in-progress-info,
  .doc-card-no-priority-info {

    top: 8.2em;

  }

  /* -------------------------------------------------------------- */
  /* Tab Selector | Mobile
  /* -------------------------------------------------------------- */

  #my-it-docs-nav .tab-selector {

    /* mobile */
    width: auto;
  }

}

/* -------------------------------------------------------------- */
/* >= 520px width
/* -------------------------------------------------------------- */

@media (min-width: 520px ) {

  /* ------------------------------------------ */
  /* Doc Card Containers
  /* ------------------------------------------ */

  .doc-card-container,
  .doc-card-container-in-progress,
  .doc-card-container-no-priority {

    width: 14em;

  }

  /* ------------------------------------------ */
  /* Doc Card In Progress / No Prio
  /* ------------------------------------------ */

  .doc-card-in-progress-info,
  .doc-card-no-priority-info {

    top: 9.5em;

  }

}

/* -------------------------------------------------------------- */
/* >= 800px width
/* -------------------------------------------------------------- */

@media (min-width: 800px ) {


  /* ------------------------------------------ */
  /* Doc Card Item
  /* ------------------------------------------ */

  .my-it-doc-card-item {

    /* desktop */
    width: 15em;

  }

  /* -------------------------------------------- */
  /* IT Docs Nav
  /* -------------------------------------------- */
  #my-it-docs-nav-choose-list-container {


    /* desktop */
    grid-template-areas:
    'my-it-docs-nav-list-1 my-it-docs-nav-list-2'
    'my-it-docs-nav-list-1 my-it-docs-nav-list-3';

     row-gap: 2em;

  }

  .my-it-docs-mobile-nav-art-seperator {

    display: none;

  }


}

/* -------------------------------------------------------------- */
/* >= 1000px width
/* -------------------------------------------------------------- */

@media (min-width: 1000px ) {



}

/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */

@media (min-width: 1200px ) {


  /* -------------------------------------------- */
  /* IT Docs Nav
  /* -------------------------------------------- */
  #my-it-docs-nav-choose-list-container {


    /* desktop */
    grid-template-areas:
    'my-it-docs-nav-list-1 my-it-docs-nav-list-2 my-it-docs-nav-list-3';

  }

}
