/* -------------------------------------------------------------- */
/* > resp-it.css
/*
/* : responsive sets for it docs
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 330px width
/* -------------------------------------------------------------- */

@media (min-width: 350px ) {

  /* ------------------------------------------------------------- */
  /* My IT Projects | More Card
  /* ------------------------------------------------------------- */

  .my-it-project-more-card {

    width: 18em;

  }


}

/* -------------------------------------------------------------- */
/* >= 370px width
/* -------------------------------------------------------------- */

@media (min-width: 370px ) {



}

/* -------------------------------------------------------------- */
/* >= 420px width
/* -------------------------------------------------------------- */

@media (min-width: 420px ) {



}

/* -------------------------------------------------------------- */
/* >= 450px width
/* -------------------------------------------------------------- */

@media (min-width: 450px ) {


  /* ------------------------------------------ */
  /* Main | Topic Cards Container
  /* ------------------------------------------ */

  .my-it-docs-topic-cards-container > main {

    /* width: 100%; */

    /* desktop */
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2em;

    /* background-color: red; */

  }

  /* ------------------------------------------ */
  /* Doc Card Item
  /* ------------------------------------------ */

  .my-it-doc-card-item {

    /* desktop */
    width: 12em;

  }



}

/* -------------------------------------------------------------- */
/* >= 500px width
/* -------------------------------------------------------------- */

@media (min-width: 500px ) {

  /* ------------------------------------------------------------- */
  /* Nav > Label | My IT Projects
  /* ------------------------------------------------------------- */

  #my-it-projects-nav-container > label {

    /* Desktop */
    width: auto;

  }

  /* ------------------------------------------------------------- */
  /* My IT Project | Top Card
  /* ------------------------------------------------------------- */

  .my-it-project-top-card {

    /* desktop */
    width: 28em;

  }

}

/* -------------------------------------------------------------- */
/* >= 800px width
/* -------------------------------------------------------------- */

@media (min-width: 800px ) {


  /* -------------------------------------------- */
  /* Nav
  /* -------------------------------------------- */

  #my-it-docs-selection-list-container {

    /* desktop */
    grid-template-areas:
    'my-it-docs-grid-area-1 my-it-docs-grid-area-2'
    'my-it-docs-grid-area-1 my-it-docs-grid-area-3';

     row-gap: 2em;

     grid-template-columns: 1fr 1fr;

  }

  /* -------------------------------------------- */
  /* Only Mobile | Art Seperator
  /* -------------------------------------------- */

  #only-mobile-my-it-docs-art-seperator-1,
  #only-mobile-my-it-docs-art-seperator-2 {

    display: none;

  }

  /* ------------------------------------------ */
  /* Doc Card Item
  /* ------------------------------------------ */

  .my-it-doc-card-item {

    /* desktop */
    width: 15em;

  }

}

/* -------------------------------------------------------------- */
/* >= 1000px width
/* -------------------------------------------------------------- */

@media (min-width: 1000px ) {


  #my-top-it-project-cards-container {

    column-gap: 6em;
  }

}

/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */

@media (min-width: 1200px ) {


  /* -------------------------------------------- */
  /* Nav
  /* -------------------------------------------- */

  #my-it-docs-selection-list-container {

    /* desktop */
    justify-content: center;

    grid-template-areas:
    'my-it-docs-grid-area-1 my-it-docs-grid-area-2 my-it-docs-grid-area-3';

    grid-template-columns: 1.2fr 1fr 1fr;

  }

}
