/* ------------------------------------------------------------------- */
/* > about-my-mission.css
/*
/* : styles my mission info
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* My Mission Container | Read More
/* ------------------------------------------------------------------- */

#read-more-my-mission-container {

  width: 100%;

  padding-top: 1.5em;

  display: grid;
  /* row-gap: 1.5em; */

  /* default unshown */
  display: none;

}
