/* ------------------------------------------------------------------- */
/* > about-my-mission.css
/*
/* : styles my mission info
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* My Mission Container | Read More
/* ------------------------------------------------------------------- */

#read-more-my-mission-container {

  width: 100%;

  display: grid;
  row-gap: 3em;

  /* default unshown */
  display: none;

}

label[for="radio-read-more-my-mission"] {

  /* background-color: green; */



}
