/* -------------------------------------------------------------- */
/* > img-container-top-it-project-card.css
/*
/* : styles img container top it project card
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Img Container | Top IT Project Card
/* ------------------------------------------------------------- */

.img-container-top-it-project-card {

  grid-area: img-container-top-it-project-card;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .9em .9em 0 0;

  background-color: #eeeeee;

}

.img-container-top-it-project-card > img {

  width: 100%;
  border-radius: .9em .9em 0 0;

  /* border: 2px solid red; */


}
