/* -------------------------------------------------------------- */
/* > resp-headline-containers.css

/* : responsive sets for resp headline containers
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 330px width
/* -------------------------------------------------------------- */

@media (min-width: 330px ) {

    /* ---------------------------------------------------- */
    /* Headline Container
    /* ---------------------------------------------------- */

    .headline-container > div:nth-of-type(1) {

      font-size: 1.5em;

    }

}

/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */

@media (min-width: 1200px ) {

  /* ---------------------------------------------------- */
  /* Headline Containers ( left, right, two-cols-outside)
  /* ---------------------------------------------------- */

  .headline-left-container,
  .headline-right-container,
  .headline-two-cols-outside-container {

    /* desktop */
    /* height: 10em;
    padding: 0 0em; */

    background-color: blue;

  }

  /* ---------------------------------------------------- */
  /* Headline Container
  /* ---------------------------------------------------- */

  .headline-container {

    /* desktop */
    /* height: 5em;
    padding: 0 1.5em; */

  }

  .headline-container > div:nth-of-type(1) {

    font-size: 1.75em;

  }

}
