/* -------------------------------------------------------------- */
/* > resp-handle-content-areas.css
/*
/* : responsive handlings for resp content areas ( min, main, max )
     file: resp-content-areas.css
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 900px width
/* -------------------------------------------------------------- */

@media (min-width: 900px ) {

    /* ------------------------------------------ */
    /* Very Small, Min
    /* ------------------------------------------ */

    .resp-very-small-content-area,
    .resp-min-content-area {

        width: 55em;
    }

}

/* -------------------------------------------------------------- */
/* >= 1000px width
/* -------------------------------------------------------------- */

@media (min-width: 1000px ) {

    /* ------------------------------------------ */
    /* Very Small, Min
    /* ------------------------------------------ */

    .resp-very-small-content-area,
    .resp-min-content-area  {

        width: 60em;
    }

}

/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */

@media (min-width: 1200px ) {

    /* ------------------------------------------ */
    /*  Very Small
    /* ------------------------------------------ */

    .resp-very-small-content-area {

        width: 55em;
    }

    /* ------------------------------------------ */
    /*  Min
    /* ------------------------------------------ */

    .resp-min-content-area  {

        width: 65em;
    }

    /* ------------------------------------------ */
    /* Main
    /* ------------------------------------------ */

    .resp-main-content-area {
        width: 65em;
    }

}

/* -------------------------------------------------------------- */
/* >= 1600px width
/* -------------------------------------------------------------- */

@media (min-width: 1600px ) {

    /* ------------------------------------------ */
    /* Main
    /* ------------------------------------------ */
    .resp-main-content-area {

        width: 90em;
    }

}
