/* ------------------------------------------------------------------------------- */
/* > nav-sport-challenges.css
/* : styles nav sport challenges
/* ------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------- */
/* Checkbox | Selected Sport Challenge Category )
/* ----------------------------------------------------------------------------- */

/* default unshown */
#chk-selected-sport-challenge-category {

  display: none;

}

/* set background */
#chk-selected-sport-challenge-category:checked ~ #header-nav-sport-container label[for="chk-selected-sport-challenge-category"] {

  background-color: rgb(239, 113, 113);

}

/* set color black to challenges */
#chk-selected-sport-challenge-category:checked ~ #header-nav-sport-container label[for="chk-selected-sport-challenge-category"] > div:nth-of-type(1) > div:nth-of-type(2) {

  color:rgb(48, 48, 48);

}

/* change rotation img arrow */
#chk-selected-sport-challenge-category:checked ~ #header-nav-sport-container label[for="chk-selected-sport-challenge-category"] > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* set content */
#chk-selected-sport-challenge-category:checked ~ #header-nav-sport-container #smooth-nav-sport-challenges-category {

  grid-template-rows: 1fr;
}


/* ------------------------------------------------------------------------------- */
/*  Active Sport Challenge
/* ------------------------------------------------------------------------------- */

.active-sport-challenge {

  background-color: wheat;

}

/* ------------------------------------------------------------------------------- */
/* Custom Radio Small | Img | Active Sport Challenge
/* ------------------------------------------------------------------------------- */

.active-sport-challenge .custom-radio-small > img {

  display: flex;

}


/* ⚠️⚠️⚠️⚠️⚠️ Dynamisch lösen, muss auch weg */
/* Set Content | 30 Vidoes / 3 Videos Challenge Container */
#radio-sport-challenge-1:checked ~ #sport-content-container #sport-challenge-30-videos-link-container,
#radio-sport-challenge-2:checked ~ #sport-content-container #sport-challenge-3-videos-container {

  display: grid;
}
