/* -------------------------------------------------------------- */
/* > sport-challenges.css
/* : styles sport challenges
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport Challenge Video Container
/* -------------------------------------------------------------- */

#sport-challenges-video-container {

  width: 100%;
  /* padding: 3.5em 0 2em 0; */

  display: grid;
  justify-items: center;

  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/* Sport Challenge 3 Videos Container
/* -------------------------------------------------------------- */

#sport-challenge-3-videos-container {

  width: 100%;
  padding: 3em 0;

  display: grid;
  justify-items: center;

  row-gap: .5em;

  /* default unshown */
  display: none;

}
