/* --------------------------------------------------------------- */
/* > quick-info-about-me.css
/*
/* : styles quick info about me
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Quick Info Text Container
/* --------------------------------------------------------------- */

#quick-info-text-container {

  /* font-weight: bold; */

  font-size: 17.5px;

  line-height: 2em;

  color:rgb(93, 93, 93);

  color:rgba(180, 180, 180, .8);

  /* font-weight: bold; */

  /* font-style: italic; */

  border-left: 4px solid rgb(51, 51, 51);
  padding-left: .8em;

}

.txt-style {

  /* font-weight: bold; */

  color:rgba(209, 189, 154, .6);

  /* color:rgb(83, 83, 83); */
  font-weight: bold;

}


/* --------------------------------------------------------------- */
/* Quick Info Text Container
/* --------------------------------------------------------------- */

#quick-info-core-stack-container {

  display: grid;
  row-gap: .8em;

}

/* --------------------------------------------------------------- */
/* Header | Quick Info Text Container
/* --------------------------------------------------------------- */

#quick-info-core-stack-container > header {

  font-weight: bold;
  color:rgb(163, 163, 163);

  color: rgb(215, 195, 158);
  color:rgba(215, 195, 158, .8);
  color:grey;

  color:rgb(155, 155, 155);

}

/* text */
#quick-info-core-stack-container > header > div {

  font-weight: bold;

}

/* --------------------------------------------------------------- */
/* Main | Quick Info Text Container
/* --------------------------------------------------------------- */

#quick-info-core-stack-container > main {

  display: flex;
  flex-wrap: wrap;

  row-gap: .8em;
  column-gap: .6em;

  color:rgb(163, 163, 163);
  color:rgb(88, 88, 88);
  color:rgb(104, 104, 104);

  color:rgb(94, 94, 94);

  color:rgb(94, 94, 94);


  /* font-weight: bold; */

}

/* items */
#quick-info-core-stack-container > main > div  {

  font-size: 15.5px;

  height: 2.1em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .35em;

  /* background-color: rgba(54, 54, 54, .5); */

  background-color: rgba(54, 54, 54, .4);

  background-color: rgba(42, 42, 42, .4);

  border: 1px solid transparent;
  border: 1px solid rgba(94, 94, 94, .2);

  color:rgb(94, 94, 94);

  border-radius: .6em;

  /* font-weight: bold; */

  transition: all .4s;

}

#quick-info-core-stack-container > main > div > img {

  opacity: .8;

}

#quick-info-core-stack-container > main > div:hover {

  background-color: transparent;
  border: 1px solid rgb(66, 66, 66);
  color:rgb(163, 163, 163);

}

#quick-info-core-stack-container > main > div > text  {


}

/* --------------------------------------------------------------- */
/* Quick Info Text Container | About Me
/* --------------------------------------------------------------- */

#quick-info-text-about-container {

  grid-area: quick-info-about;

  /* padding-left: 1em; */
  /* background-color: rgb(99, 99, 99); */

  display: grid;

  /* mobile */
  justify-items: center;
  row-gap: 1.3em;

  color:rgb(115, 115, 115);

  /* background-color: red; */

  /* font-weight: bold; */

}


/* --------------------------------------------------------------- */
/* Header | Quick Info Text Container
/* --------------------------------------------------------------- */

#quick-info-text-about-container > header {

  height: 2em;
  padding: 0 .7em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .6em;

  background-color: rgb(33, 33, 33);

  color: rgb(201, 200, 200);



  /* color: rgb(99, 99, 99); */

  border: 1px solid rgb(63, 63, 63);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  opacity: .6;

}

/* img */
#quick-info-text-about-container > header > img:nth-of-type(1) {

  opacity: .8;
}

/* div 1 */
#quick-info-text-about-container > header > div:nth-of-type(1) {

  font-size: 14.5px;
  font-weight: bold;

}

/* --------------------------------------------------------------- */
/* Main | Quick Info Text Container
/* --------------------------------------------------------------- */

#quick-info-text-about-container > main {

  /* mobile */
  /* text-align: center; */

  display: grid;
  row-gap: 2.5em;

  width: 90%;
  padding-left: .4em;

}

/* --------------------------------------------------------------- */
/* Footer | Quick Info Text Container
/* --------------------------------------------------------------- */

#quick-info-text-about-container > footer {

  width: 100%;
  padding-top: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: rgb(211, 211, 211); */
  color:white;
  font-weight: bold;

}

/* default unshown img black arrow */
#quick-info-text-about-container > footer img:nth-of-type(2) {

  display: none;

}

/* hover, unshown img grey */
#quick-info-text-about-container > footer > label:hover > img:nth-of-type(1) {

  display: none;
}

/* hover, show img black */
#quick-info-text-about-container > footer > label:hover > img:nth-of-type(2) {

  display: flex;
}
