/* -------------------------------------------------------------- */
/* > about-story.css
/*
/* : styles the story about superfresh dev
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Read More Story Container
/* ------------------------------------------------------------------- */

#read-more-story-container {

  display: grid;

  line-height: 1.8em;

  /* background-color: green; */

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------------- */
/* Audio Story Container
/* ------------------------------------------------------------------- */

#about-read-more-audio-story-container  {

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: red; */

  /* very small mobile */
  display: none;

}

/* ------------------------------------------------------------------- */
/* About Read More Story Content List
/* ------------------------------------------------------------------- */

#about-read-more-story-content-list {

  display: grid;

}

/* ------------------------------------------------------------------- */
/* Nr Container | Read More Story Content List
/* ------------------------------------------------------------------- */

.read-more-story-nr-container {

  width: 100%;
  padding: 1.5em 0;

  display: flex;
  align-items: center;

  /* background-color: blue; */

}

.read-more-story-nr-container > div {

  /* 14.5px */
  font-size: .90625em;

  height: 1.8em;
  width: 3.8em;

  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 1px;

  font-weight: bold;

  border-radius: .6em;

  background-color: rgba(156, 156, 156, 0.6);
  color:rgb(72, 72, 72);

  user-select: none;

}

/* ------------------------------------------------------------------- */
/* About Read More Story Card
/* ------------------------------------------------------------------- */

.about-read-more-story-card {

  padding: .8em;

  border-radius: 1em;

  border: 3px solid rgb(214, 214, 214);

  background-color: rgba(205, 205, 205, .3);
  color:#616161;

}

/* ------------------------------------------------------------------- */
/* Imgs | Cold Shower, Vikings, ...
/* ------------------------------------------------------------------- */

#img-about-cold-shower {

  float: right;
  padding: 0 0 .4em .4em;

  /* mobile */
  height: 7.5em;

}

#img-about-viking {

  float: left;
  margin: .6em 1em .4em 0em;

  /* mobile */
  height: 6em;

  border-radius: 2em 1em 2em 1em;

}

#img-about-funny-me {

  float: right;
  padding: 0 0 .4em .4em;

  /* mobile */
  height: 8em;

}

#img-about-wave-rocket {

  float: left;
  padding: .4em .8em .4em 0;

  /* mobile */
  height: 5.5em;

}
