/* -------------------------------------------------------------- */
/* > about-story.css
/*
/* : styles the story about superfresh dev
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Read More Story Container
/* ------------------------------------------------------------------- */

#read-more-story-container {

  width: 100%;
  padding: 2em 0em 1.5em 0em;

  display: grid;
  /* row-gap: 1em; */

  line-height: 1.8em;

  /* background-color: green; */
  color:#808080;
  color:rgb(28, 28, 28);

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------------- */
/* Audio Story Container
/* ------------------------------------------------------------------- */

#about-audio-story-container {

  display: flex;
  align-items: center;

  /* background-color: red; */

}

/* ------------------------------------------------------------------- */
/* Read More Story Content List
/* ------------------------------------------------------------------- */

#read-more-story-content-list {

  display: grid;

}

/* ------------------------------------------------------------------- */
/* Nr Container | Read More Story Content List
/* ------------------------------------------------------------------- */

.read-more-story-nr-container {

  width: 100%;
  padding: 1.5em 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* background-color: blue; */

}
.read-more-story-nr-container > div {

  /* 14.5px */
  font-size: .90625em;

  height: 1.8em;
  width: 3.8em;

  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 1px;

  font-weight: bold;

  border-radius: .4em;

  user-select: none;

  /* background-color: rgb(201, 201, 201); */
  background-color: rgb(28, 28, 28);
  color:rgb(232, 232, 232);

}

/* --------------------------------------------------------- */
/* Nr Container 2 (only right) | Nr Container
/* --------------------------------------------------------- */

/* ⚠️ Warum 3 ? sollte doch 2 sein, der selector ist eigentlich
      korrekt - 3 ist der 3te div eintrag  */

#read-more-story-content-list > .read-more-story-nr-container:nth-of-type(3) {

  /* background-color: brown; */
  justify-content: flex-start;

}

/* ------------------------------------------------------------------- */
/* Read More Block Story | Read More Story Content List
/* ------------------------------------------------------------------- */

#read-more-story-content-list > .read-more-block-story {

  padding: .8em;

  border-radius: .8em;
  /* border: 3px solid rgb(70, 118, 207); */

  background-color: rgba(205, 205, 205, .3);

  /* border: 3px solid #616161; */
  border: 3px solid #d6d6d6d6;

}

/* ------------------------------------------------------------------- */
/* Imgs | Cold Shower, Vikings, ...
/* ------------------------------------------------------------------- */

#img-about-cold-shower {

  float: right;
  padding: 0 0 .4em .4em;

  /* mobile */
  height: 7.5em;

}

#img-about-viking {

  float: left;
  margin: .8em .8em .4em 0em;

  /* mobile */
  height: 6em;

  border-radius: .8em .8em .8em .8em;

}

#img-about-funny-me {

  float: right;
  padding: 0 0 .4em .4em;

  /* mobile */
  height: 8em;

}

#img-about-wave-rocket {

  float: left;
  padding: .4em .8em .4em 0;

  /* mobile */
  height: 5.5em;

}
