/* ------------------------------------------------------------------------- */
/* > meals.css
/* : styles meals default layout
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Meals Container
/* ------------------------------------------------------------- */

#meals-container {

  margin-top: 1.5em;
  padding-top: 1.5em;

  border-top: 3px solid rgb(237, 237, 237);

  /* default unshown */
  display: none;

}
