/* -------------------------------------------------------------- */
/* > tech-stack-container-top-it-project-card.css
/*
/* : styles my top it project card
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Tech Stack Container | Top It Project Card
/* ------------------------------------------------------------- */

.tech-stack-container-top-it-project-card {

  width: 100%;

  display: grid;
  justify-items: flex-start;





}

/* ------------------------------------------------------------- */
/* Header | Tech Stack Container
/* ------------------------------------------------------------- */

.tech-stack-container-top-it-project-card > header {

  width: 100%;
  /* margin-top: 1em; */
  padding: 1.3em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  /* border-top: 1px solid rgb(186, 186, 186);
  border-bottom: 1px solid rgb(186, 186, 186); */


  background-color: #ebebebeb;

  background-color: rgba(164, 164, 164, 0.1);

  /* background-color: #808080; */

}

.tech-stack-container-top-it-project-card > header > div {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  /* font-size: .90625em; */

}

/* ------------------------------------------------------------- */
/* Main | Tech Stack Container
/* ------------------------------------------------------------- */

.tech-stack-container-top-it-project-card > main {

  width: 100%;
  padding: 2em 1.5em;

  display: grid;
  align-items: flex-start;

  row-gap: 1em;
  column-gap: 2em;

  /* background-color: red; */
  background-color: white;

}

/* ------------------------------------------------------------- */
/* Tech Stack Item Top IT Project | Main
/* ------------------------------------------------------------- */

.tech-stack-item-top-it-project {

  display: grid;
  row-gap: .3em;

  border-radius: 1em;

}

/* ------------------------------------------------------------- */
/* Header | Tech Stack Item Top IT Project
/* ------------------------------------------------------------- */

.tech-stack-item-top-it-project > header {

  width: 6.5em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  font-weight: bold;
  /* text-decoration: underline; */

  color:#808080;

}

.tech-stack-item-top-it-project > header > img {

  opacity: .6;

}

.tech-stack-item-top-it-project > header > span {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

}

/* ------------------------------------------------------------- */
/* Main | Tech Stack Item Top IT Project
/* ------------------------------------------------------------- */

.tech-stack-item-top-it-project > main {

  font-size: 14.5px;

  padding-left: .4em;

  color: #969696;

  border: 2px solid #e3e3e3;;

  border-radius: .6em;

}
