/* -------------------------------------------------------------- */
/* > tech-stack-container-top-it-project-card.css
/*
/* : styles my top it project card
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Tech Stack Container | Top It Project Card
/* ------------------------------------------------------------- */

.tech-stack-container-top-it-project-card {

  width: 100%;
  /* margin-top: 1em; */

 /* padding: 2em .8em; */

  display: grid;
  justify-items: flex-start;

  /* row-gap: 1.5em; */


  /* background-color: rgb(227, 227, 227); */



}

/* ------------------------------------------------------------- */
/* Header | Tech Stack Container
/* ------------------------------------------------------------- */

.tech-stack-container-top-it-project-card > header {

  /* justify-self: flex-start; */
  width: 100%;

  height: 3.5em;
  padding: 0em 1em;

  display: flex;
  align-items: center;
  column-gap: .6em;


  /* text-decoration: underline; */

  font-weight: bold;

  /* background-color: #cacaca; */

  background-color: rgba(164, 164, 164, 0.2);

  /* background-color: white; */

   /* border: 4px solid rgba(164, 164, 164, 0.4); */



}

.tech-stack-container-top-it-project-card > header > div {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

  font-size: 16px;

}

/* ------------------------------------------------------------- */
/* Main | Tech Stack Container
/* ------------------------------------------------------------- */

/* â­ tech-stack-info-box */

.tech-stack-info-box {

  display: grid;
  /* row-gap: 1em; */

  border-radius: 1em;

  border: 2px solid #b8b8b8b8;

}

.tech-stack-info-box > header {

  height: 2em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .8em .8em 0 0;

  font-weight: bold;

  background-color: rgba(184, 184, 184, 1);
   /* background-color: #cacaca; */
  opacity: .6;





}

.tech-stack-info-box > header > div {

  font-size: 14.5px;

}

.tech-stack-info-box > main {

  padding: .8em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .3em;

  font-size: 14.5px;

  color:grey;



}

.tech-stack-container-top-it-project-card > main {

  width: 100%;
  padding: 1.5em 1em;

  display: grid;
  align-items: flex-start;

  row-gap: 2em;
  column-gap: 2em;

  /* background-color: red; */
  /* background-color: white; */


}

/* ------------------------------------------------------------- */
/* Tech Stack Item Top IT Project | Main
/* ------------------------------------------------------------- */

.tech-stack-item-top-it-project {

  display: grid;
  row-gap: .6em;

  border-radius: 1em;

}

/* ------------------------------------------------------------- */
/* Header | Tech Stack Item Top IT Project
/* ------------------------------------------------------------- */

.tech-stack-item-top-it-project > header {

  /* width: 6.5em; */
  height: 2em;
  /* padding: 0 .8em; */

  display: flex;
  align-items: center;
  column-gap: .3em;

  font-weight: bold;
  /* text-decoration: underline; */

  border-radius: .4em;

  /* background-color: #eaeaea;

  background-color: rgb(216, 216, 216); */

  color:#2f2f2f;




}

.tech-stack-item-top-it-project > header > img {

  opacity: .6;

}

.tech-stack-item-top-it-project > header > span {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

}

/* ------------------------------------------------------------- */
/* Main | Tech Stack Item Top IT Project
/* ------------------------------------------------------------- */

.tech-stack-item-top-it-project > main {


  display: flex;
  flex-wrap: wrap;
  gap: .4em;


}


/* ------------------------------------------------------------- */
/* Divs | Main
/* ------------------------------------------------------------- */

.tech-stack-item-top-it-project > main > div {

  height: 1.5em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  /* background-color: rgb(249, 249, 249); */
  color:rgb(128, 128, 128);

  border: 2px solid rgb(224, 224, 224);

  background-color: rgb(238, 238, 238);

  border-radius: .4em;

  opacity: .8;



}

.tech-stack-item-top-it-project > main > div > div {

  font-size: 12.5px;
  /* font-weight: bold; */
  /* font-weight: 600; */

}
