/* -------------------------------------------------------------- */
/* > tech-stack-container-top-it-project-card.css
/*
/* : styles my top it project card
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Tech Stack Container | Top It Project Card
/* ------------------------------------------------------------- */

.tech-stack-container-top-it-project-card {

  width: 100%;

 padding: 2em .8em;

  display: grid;
  justify-items: flex-start;

  row-gap: 2em;





}

/* ------------------------------------------------------------- */
/* Header | Tech Stack Container
/* ------------------------------------------------------------- */

.tech-stack-container-top-it-project-card > header {

  width: 100%;
  /* margin-top: 1em; */
  padding: .8em 1.3em;


  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  /* border-top: 1px solid rgb(186, 186, 186);
  border-bottom: 1px solid rgb(186, 186, 186); */

  border-radius: 1em;


  background-color: #ebebebeb;

  background-color: rgba(164, 164, 164, 0.1);

  background-color: rgb(184, 184, 184);

  background-color: rgb(229, 229, 229);

  /* background-color: #808080; */

}

.tech-stack-container-top-it-project-card > header > div {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  /* font-size: .90625em; */

}

/* ------------------------------------------------------------- */
/* Main | Tech Stack Container
/* ------------------------------------------------------------- */

/* â­ tech-stack-info-box */

.tech-stack-info-box {

  display: grid;
  /* row-gap: 1em; */

  border-radius: 1em;

  border: 2px solid #b8b8b8b8;

}

.tech-stack-info-box > header {

  height: 2em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .8em .8em 0 0;

  font-weight: bold;

  background-color: rgba(184, 184, 184, 1);
  opacity: .6;





}

.tech-stack-info-box > header > div {

  font-size: 14.5px;

}

.tech-stack-info-box > main {

  padding: .8em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .3em;

  font-size: 14.5px;

  color:grey;

}

.tech-stack-container-top-it-project-card > main {

  width: 100%;
  padding: 0em 1.5em;

  display: grid;
  align-items: flex-start;

  row-gap: 1em;
  column-gap: 2em;

  /* background-color: red; */
  /* background-color: white; */

}

/* ------------------------------------------------------------- */
/* Tech Stack Item Top IT Project | Main
/* ------------------------------------------------------------- */

.tech-stack-item-top-it-project {

  display: grid;
  row-gap: .3em;

  border-radius: 1em;

}

/* ------------------------------------------------------------- */
/* Header | Tech Stack Item Top IT Project
/* ------------------------------------------------------------- */

.tech-stack-item-top-it-project > header {

  width: 6.5em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  font-weight: bold;
  /* text-decoration: underline; */

  color:#808080;


}

.tech-stack-item-top-it-project > header > img {

  opacity: .6;

}

.tech-stack-item-top-it-project > header > span {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

}

/* ------------------------------------------------------------- */
/* Main | Tech Stack Item Top IT Project
/* ------------------------------------------------------------- */

.tech-stack-item-top-it-project > main {

  font-size: 14.5px;

  padding-left: .4em;

  color: #969696;

  border: 2px solid #e3e3e3;;

  border-radius: .6em;

}
