/* -------------------------------------------------------------- */
/* > top-it-project-card.css
/*
/* : styles my top it project card
/* -------------------------------------------------------------- */

/*  ⚠️ status auslagern  */

/* ------------------------------------------------------------- */
/* Top IT Project Card &
/* Top IT Project Card | With Video Tutorial
/* ------------------------------------------------------------- */

.top-it-project-card,
.top-it-project-card-with-video-tutorial {

  display: grid;
  column-gap: 1em;

  border-radius: 1em;

  border: 4px solid rgba(164, 164, 164, 0.1);
  border-radius: 20px;

  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(12px);

}

/* ------------------------------------------------------------- */
/* Top IT Project Card | With Video Tutorial
/* ------------------------------------------------------------- */

.top-it-project-card-with-video-tutorial {

  grid-template-areas:

    'img-container-top-project-card'
    'content-container-top-project-card'
    'details-container-top-project-card'
  ;


}

/* ------------------------------------------------------------- */
/* Top IT Project Card
/* ------------------------------------------------------------- */

.top-it-project-card {

  /* ⚠️ img-container-top-it-project-card */

  grid-template-areas:

    'img-container-top-project-card'
    'content-container-top-project-card'
    'details-container-top-project-card'
  ;

}

/* ------------------------------------------------------------- */
/* Img Container | Top IT Project Card
/* ------------------------------------------------------------- */

.img-container-top-project-card {

  grid-area: img-container-top-project-card;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

}

.img-container-top-project-card > img {

  width: 100%;
  border-radius: 1em 1em 0 0em;

}

/* ------------------------------------------------------------- */
/* Content Container | Top IT Project Card
/* ------------------------------------------------------------- */

.content-container-top-project-card {

  grid-area: content-container-top-project-card;

  width: 100%;
  padding: 0 .6em;

}

/* ------------------------------------------------------------- */
/* Header | Top IT Project Card
/* ------------------------------------------------------------- */

.content-container-top-project-card > header {

  /* mobile */
  margin-top: 1.3em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

}

/* ------------------------------------------------------------- */
/* Project Nr Title | Header
/* ------------------------------------------------------------- */

.content-container-top-project-card > header > div:nth-of-type(1) {

  height: 1.6em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: .4em;

  background-color: rgba(204, 204, 204, .3);
  color:grey;

}

.content-container-top-project-card > header > div:nth-of-type(1) > span {

  /* 12.5px */
  font-size: .75em;

}

/* ------------------------------------------------------------- */
/* Project Status Title | Header
/* ------------------------------------------------------------- */

.content-container-top-project-card > header > div:nth-of-type(2) {

  height: 1.6em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: 1em;

}

.status-in-progress-top-project {

  background: #facc15;
  color: #111;

}

.status-coming-soon-top-project {

  background: #9b9b9b;
  color: #111;

}

.status-finished-top-project {

  background: #25b65c;
  color: #111;

}

.content-container-top-project-card > header > div:nth-of-type(2) > span {

  /* 12px = 12 / 16px (1em) = .75em; */
  font-size: .75em;

}

/* ------------------------------------------------------------- */
/* Main | Top IT Project Card
/* ------------------------------------------------------------- */

.content-container-top-project-card > main {

  margin: 1em 0;

  display: grid;
  row-gap: .4em;

  /* background-color: green; */
  color: rgb(35, 35, 35);

}

/* ------------------------------------------------------------- */
/* Main Header | Top IT Project Card
/* ------------------------------------------------------------- */

.content-container-top-project-card > main > header {

  /* 18px */
  font-size: 1.125em;
  font-weight: bold;
}

/* ------------------------------------------------------------- */
/* Main Main | Top IT Project Card
/* ------------------------------------------------------------- */

.content-container-top-project-card > main > main {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;
  color:rgb(121, 121, 121);

}

/* ------------------------------------------------------------- */
/* Footer | Top IT Project Card
/* ------------------------------------------------------------- */

.content-container-top-project-card > footer {

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  /* background-color: green; */

}


/* ------------------------------------------------------------- */
/* Details Container | Top IT Project Card
/* ------------------------------------------------------------- */

/* smooth-open-close-details-top-it-project-1 */
#smooth-open-close-details-top-project-1-1 {

  grid-area: details-container-top-project-card;

  /* grid-template-rows: 1fr; */

}

.details-container-top-project-card {

  /* mobile */
  margin-top: 1.5em;
  padding: 1.5em .8em .6em .8em;

  display: grid;
  justify-items: flex-start;

  border-radius: 0 0 1em 1em;

  /* row-gap: 1em; */
  background-color: #ebebeb;



}

/* ------------------------------------------------------------- */
/* Header | Top IT Project Card
/* ------------------------------------------------------------- */

.details-container-top-project-card > header {

  height: 1.6em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .6em;

  font-weight: bold;

  border-radius: .4em;

  background-color: rgba(204, 204, 204, .3);
  color:grey;

}

.details-container-top-project-card > header > div {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

}

/* ------------------------------------------------------------- */
/* Main | Top IT Project Card
/* ------------------------------------------------------------- */

.details-container-top-project-card > main {

  padding: 1.5em 0em 1em .4em;

  /* mobile */
  display: grid;
  align-items: flex-start;
  row-gap: 1em;


}

/* ------------------------------------------------------------- */
/* Tech Stack Item Top Projects | Details
/* ------------------------------------------------------------- */

.tech-stack-item-top-project {

  /* padding: .8em; */

  display: grid;
  row-gap: .2em;

  /* border: 1px dashed #808080; */

  border-radius: 1em;

}

/* header */
.tech-stack-item-top-project > header {

  font-weight: bold;

  width: 6.5em;

  color:#808080;

  text-decoration: underline;

  /* color:rgb(45, 45, 45); */

  /* background-color: red; */

}

.tech-stack-item-top-project > header > span {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

}

.tech-stack-item-top-project > main {

  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .4em;
  row-gap: .4em; */

  color: #232323;

}


/* divs */
.tech-stack-item-top-project > main > div {

  height: 1.5em;
  /* padding: 0 .4em; */

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .4em;

  /* background-color: rgba(241, 241, 241, .4); */

  /* font-weight: bold; */

}

.tech-stack-item-top-project > main > div > div {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .75em;

  font-size: 14.5px;

  color:rgb(169, 169, 169);

  /* color:rgb(202, 202, 202); */

}

.tech-stack-item-top-project > main > div > img {

  display: none;

}



/* ------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------- */
