/* -------------------------------------------------------------- */
/* > top-it-project-card.css
/*
/* : styles my top it project card
/* -------------------------------------------------------------- */

/*

  1. img

  2. content

      header ( Projekt 1 | in progres )
      main ( header, main )
      nav ( details, link-container )

  3. content-details
  4. content-video-step-by-step-tutorial


*/


/* ------------------------------------------------------------- */
/* Top IT Project Card
/* ------------------------------------------------------------- */

.top-it-project-card {

  padding: 1em;

  display: grid;


  column-gap: 1em;
  row-gap: 1em;


   border-radius: 20px;

  /* background-color: white; */

  /* background-color: rgba(255, 255, 255, .8); */

  /* background-color: rgba(255, 255, 255, .4); */

   /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); */

    /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); */
    border: 4px solid rgba(164, 164, 164, 0.1);
    border-radius: 20px;

    background-color: rgba(255, 255, 255, .8);

    backdrop-filter: blur(12px);


}

@media ( min-width: 800px) {

 .top-it-project-card {

  padding: 1em;

  display: grid;
  grid: auto / auto 1fr;

  column-gap: 1em;
  row-gap: 1em;

  }

  .top-it-project-card > img {

    width: 20em;

    /* display: none; */



  }


}


/* ------------------------------------------------------------- */
/* Content Details
/* ------------------------------------------------------------- */

.content-details {

  display: grid;

  align-content: flex-start;
  /* align-content: center; */
  /* align-content: space-between; */

  /* row-gap: 1em; */

  /* border: 1px solid grey; */



}

/* ------------------------------------------------------------- */
/* Header | Content Details
/* ------------------------------------------------------------- */

.content-details > header {

  padding: 1em 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* Header Div 1 | Content Details
/* ------------------------------------------------------------- */

.content-details > header div:nth-of-type(1) {

  font-weight: bold;

  height: 1.5em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;
  font-weight: 600;

  /* background-color: rgb(202, 202, 202); */

  background-color: rgba(204, 204, 204, .3);

  color:grey;


}

.content-details > header div:nth-of-type(1) span {

  font-size: 14.5px;
  /* font-size: 12px; */
}

/* ------------------------------------------------------------- */
/* Header Div 2 | Content Details
/* ------------------------------------------------------------- */

.content-details > header div:nth-of-type(2) {

  background: #facc15;
  color: #111;

  height: 2em;
  padding: 0 .8em;
  border-radius: 1em;
  font-weight: 600;
  font-size: 12px;

}

/* ------------------------------------------------------------- */
/* Main | Content Details
/* ------------------------------------------------------------- */

.content-details > main {

  display: grid;
  row-gap: .6em;



    /* background-color: rgb(0, 89, 255); */

}



/* ------------------------------------------------------------- */
/* Main Header | Content Details
/* ------------------------------------------------------------- */

.content-details > main > header {

  font-weight: bold;

  font-size: 18px;

}


/* ------------------------------------------------------------- */
/* Main Main | Content Details
/* ------------------------------------------------------------- */

.content-details > main > main {

  /* background-color: rgb(0, 89, 255); */

  color:rgb(36, 36, 36);

  font-size: 14.5px;

}

/* ------------------------------------------------------------- */
/* Nav | Content Details
/* ------------------------------------------------------------- */

.content-details > nav {

  padding-top: 1em;

  display: flex;
  align-items: center;
  justify-content: flex-end;


  color:rgb(36, 36, 36);

}

.content-details > nav > div:nth-of-type(1) {

  height: 2em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .6em;

 background-color: rgb(202, 202, 202);

 font-weight: bold;

  font-size: 14.5px;
}



.zip-github-link-container {

  display: flex;
  align-items: center;
  column-gap: .4em;
}

.zip-github-link-container > div {

  height: 2em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .6em;

  background-color: rgb(202, 202, 202);

  font-weight: bold;

  font-size: 14.5px;

}


/* ------------------------------------------------------------- */
/* Video Link List Tutorial
/* ------------------------------------------------------------- */

.video-link-list-tutorial {

  border: 1px solid grey;
  padding: 1em;

}


/* ------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My Top IT Project Card
/* ------------------------------------------------------------- */




/* ------------------------------------------------------------- */
/* [1/4] | IMG | Img Top IT Project Card
/* ------------------------------------------------------------- */

.img-top-it-project-card {

  width: 100%;
  height: 100%;

  border-radius: 1em;


  /* border: 4px solid rgb(197, 197, 197); */

}

/* ------------------------------------------------------------- */
/* [2/4] | Header | Header Top It Project Card
/* ------------------------------------------------------------- */

.header-top-it-project-card {

  padding: .3em 0;

  display: grid;
  row-gap: .4em;

  font-weight: bold;

  /* background-color: blue; */

  border: 1px solid grey;
  padding: 1em;

}























/* ------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* My Top IT Project Card
/* ------------------------------------------------------------- */

.my-top-it-project-card {

  width: 100%;

  display: grid;
  row-gap: 1em;

}

/* ------------------------------------------------------------- */
/* [1/4] | Img | My Top IT Project Card
/* ------------------------------------------------------------- */

.my-top-it-project-card > img {

  width: 100%;

  border-radius: 1.3em;
  border: 4px solid rgb(197, 197, 197);

}

/* ------------------------------------------------------------- */
/* [2/4] | Header | My Top It Project Card
/* ------------------------------------------------------------- */

.my-top-it-project-card > header {

  display: grid;
  justify-items: flex-start;
  row-gap: .3em;


  font-weight: bold;

}

/* ------------------------------------------------------------- */
/* Nr Title | Header
/* ------------------------------------------------------------- */

.top-it-project-nr-title {

  height: 1.6em;
  padding: 0em .4em;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: .4em;

  background-color: rgba(28, 28, 28, .3);

  /* background-color: rgba(28, 28, 28, 1);
  color:rgb(70, 70, 70); */

}

.top-it-project-nr-title > div {

 /* 14.5px | 14.5 / 16px= 0.90625 */
 font-size: .90625em;

}

/* ------------------------------------------------------------- */
/* Title | Header
/* ------------------------------------------------------------- */

.top-it-project-title {

  padding-top: .5em;

 /* 14.5px | 14.5 / 16px= 0.90625 */
 font-size: .90625em;

 line-height: 1.8em;

 font-weight: bold;

 color: rgb(71, 71, 71);
 color:black;

}

/* ------------------------------------------------------------- */
/* Zip GitHub Top It Project Container
/* ------------------------------------------------------------- */

.zip-github-top-it-project-container {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

.zip-github-top-it-project-container > a {

  text-decoration: none;

  /* border-radius: .6em; */

  transition: all .4s;

}

.zip-github-top-it-project-container > a:visited {


  color: black;

}


/* 🟣🟣🟣 Auslagern in Details - Verzeichnis  */

/* ------------------------------------------------------------- */
/* Details Top IT Project Container
/* ------------------------------------------------------------- */

.details-top-it-project-container {

  display: grid;
  row-gap: 1em;


}

.details-top-it-project-content-container {

  padding: 1em;

  border: 4px solid rgb(197, 197, 197);

  /* background-color: grey; */

  border-radius: .8em;

}

/* ------------------------------------------------------------- */
/* UL |
/* ------------------------------------------------------------- */

.ul-top-it-project-detail-list {

  margin: 0;
  padding-left: .8em;



  display: grid;
  row-gap: .3em;

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

  color:rgb(0, 0, 0);

}

/* ------------------------------------------------------------- */
/* UL Li > Span |
/* ------------------------------------------------------------- */

.ul-top-it-project-detail-list > li  {

  color:rgb(52, 52, 52);

}

/* ------------------------------------------------------------- */
/* UL Li > Span |
/* ------------------------------------------------------------- */

.ul-top-it-project-detail-list > li > span {

  font-weight: bold;
  color:black;

}


/* ------------------------------------------------------------- */
/* Video Tutorial Link Container Top It Projects
/* ------------------------------------------------------------- */

.video-tutorial-link-container-top-it-project {


}

/* ------------------------------------------------------------- */
/* Nav | Video Tutorial Link Container Top It Projects
/* ------------------------------------------------------------- */

.nav-video-tutorial-top-it-project {

  display: flex;
  justify-content: flex-end;

}

/* 🟣🟣 auslaggern */

/* ------------------------------------------------------------- */
/* Video Tutorial Link List Container
/* ------------------------------------------------------------- */

.video-tutorial-link-list-container {

  display: grid;

}

/* ------------------------------------------------------------- */
/* Video top IT Projecdt Link List Tutorial
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Category Link List Container
/* ------------------------------------------------------------- */

.category-video-links-container {



}

/* ------------------------------------------------------------- */
/* Category Link List Container
/* ------------------------------------------------------------- */

.lbl-category-header {

  height: 3em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: bold;

  background-color: grey;

  transition: all .4s;



}

.lbl-category-header > div {

  display: flex;
  align-items: center;
  column-gap: .6em;

}


/* ------------------------------------------------ */
/* ewqe
/* ------------------------------------------------ */

.category-link-list-top {

  display: grid;

}


.category-link-list-top > div  {

  padding: 1.3em .8em;

  display: flex;
  justify-content: space-between;
  column-gap: .8em;

  background-color: rgb(202, 202, 202);

  cursor: pointer;
  transition: all .4s;

}

.category-link-list-top > div:hover {

  background-color: wheat;
}

.category-link-list-top > div:not(:last-child)  {


  border-bottom: 1px solid black;


}

#top-p1 {

  display: none;
}
