/* -------------------------------------------------------------- */
/* > video-link-tutorial-container-top-it-project-card.css
/*
/* : styles only for top it project the video tutorial container
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Video Link Tutorial Container
/* ---------------------------------------------------------------- */

.video-link-tutorial-container-top-it-project-card {

  width: 100%;
  /* margin-top: .5em; */


  display: grid;
  /* row-gap: 1.5em; */

  border-radius: 0 0 1em 1em;

  /* background-color: rgb(236, 236, 236); */

  /* background-color: red; */

  /* background-color: white; */



}

/* ---------------------------------------------------------------- */
/* Header | Video Link Tutorial Container
/* ---------------------------------------------------------------- */

.video-link-tutorial-container-top-it-project-card > header {


  /* justify-self: flex-start; */

  width: 100%;
  height: 3.5em;
  padding: 0em 1em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  text-decoration: underline;

  /* background-color: #cacaca; */

  /* background-color: rgb(227, 227, 227); */

  background-color: rgba(164, 164, 164, 0.2);

}

/* img icons container */
.video-link-tutorial-container-top-it-project-card > header > div:nth-of-type(1) {

 display: flex;
 align-items: center;
 column-gap: .4em;

}

/* first img = img camera */
.video-link-tutorial-container-top-it-project-card > header > div:nth-of-type(1) > img:nth-of-type(1) {

  /* opacity: .8; */

}

/* optimal layout fix img */
.video-link-tutorial-container-top-it-project-card > header > div:nth-of-type(1) > img:nth-of-type(2) {

  padding-top: 2px;

}

/* text */
.video-link-tutorial-container-top-it-project-card > header > div:nth-of-type(2) {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

}

/* ---------------------------------------------------------------- */
/* Main | Video Link Tutorial Container
/* ---------------------------------------------------------------- */

.video-link-tutorial-container-top-it-project-card > main {

  width: 100%;
  padding: 1.5em 1em;

  display: grid;
  justify-items: flex-start;

  row-gap: 1em;


  border-radius: 0 0 1em 1em;

  /* background-color: red; */
  /* background-color: white; */

  /* background-color: red; */

}

/* ---------------------------------------------------------------- */
/* Video Link Tutorial Box | Main
/* ---------------------------------------------------------------- */

.video-link-tutorial-box-top-it-project {

  width: 100%;

  display: grid;
  row-gap: 1em;

}

/* ---------------------------------------------------------------- */
/* Video Category Link | Video Link Tutorial Box
/* ---------------------------------------------------------------- */

.video-category-link-top-it-project {

  height: 2em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: bold;


  border-radius: .6em;

  background-color: #ebebeb;
  color:#808080;

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

.video-category-link-top-it-project > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .3em;

}

.video-category-link-top-it-project > div:nth-of-type(1) > div {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

}

.video-category-link-top-it-project > div:nth-of-type(1) > div:nth-of-type(1) {

  letter-spacing: 1px;

}

.video-category-link-top-it-project:hover {

  background-color: wheat;

}


/* ---------------------------------------------------------------- */
/* ⭐ Video Tutorial Link Box | Top IT Project Card
/* ---------------------------------------------------------------- */

.video-tutorial-link-box-top-it-project-card {

  display: grid;
  /* row-gap: 1em; */

}

/* ---------------------------------------------------------------- */
/* ⭐ [1/2] | Label Video Tutorial Category
/* ---------------------------------------------------------------- */

.lbl-video-tutorial-link-category {

  height: 2.5em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  font-weight: bold;

  border-radius: .8em;

  /* background-color: #e9e9e9; */

  background-color: rgba(164, 164, 164, 0.2);

  color:rgb(75, 75, 75);

  cursor: pointer;
  transition: all .4s;

}

.lbl-video-tutorial-link-category:hover {

  background-color: wheat;
}


/* div 1 */
.lbl-video-tutorial-link-category > div:nth-of-type(1) {


  font-size: 14.5px;

  display: flex;
  align-items: center;
  column-gap: .4em;



}

/* img (-), default unshown */
.lbl-video-tutorial-link-category > img:nth-of-type(2) {

  display: none;

}

/* ---------------------------------------------------------------- */
/* ⭐ [2/2] | Video Tutorial Link List
/* ---------------------------------------------------------------- */

.video-tutorial-link-list {

  padding: 1em 0 0 0;

  display: grid;
  row-gap: .6em;

}

/* ---------------------------------------------------------------- */
/* ⭐ a Link | Video Tutorial Link List
/* ---------------------------------------------------------------- */

.link-video-tutorial {

  text-decoration: none;

  padding: .6em .6em;

  display: grid;
  row-gap: .6em;

  border-radius: .8em;

  /* border: 1px solid rgb(198, 198, 198); */
  /* background-color: rgb(235, 235, 235); */

  background-color: rgb(244, 244, 244);



  transition: all .4s;

}

.link-video-tutorial:hover {

  background-color: rgb(205, 205, 205);
  background-color: #e0e0e0;

}

.link-video-tutorial:hover > main .content-link-video-tutorial > span {

  color:rgb(59, 59, 59);

}

.link-video-tutoria:visited {

  color:black;

}


/* ---------------------------------------------------------------- */
/* ⭐ Header | a Link
/* ---------------------------------------------------------------- */

.link-video-tutorial > header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;


}

/* ---------------------------------------------------------------- */
/* ⭐ Meta Info Video Tutorial Link | Header | a Link
/* ---------------------------------------------------------------- */

.meta-info-video-tutorial-link {

  display: flex;
  align-items: center;
  column-gap: .3em;

  /* font-weight: bold; */

}

/* divs */
.meta-info-video-tutorial-link > div {

  height: 1.3em;
  padding: 0 .3em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .3em;

  border: 2px solid rgb(202, 202, 202);

  /* background-color: white; */
  font-weight: bold;

  color:rgb(170, 170, 170);

}

/* divs spans */
.meta-info-video-tutorial-link > div > span {

  font-size: 12px;

}

/* meta info video length */
.meta-info-video-length {

  display: flex;
  align-items: center;
  column-gap: .1em;

}

/* ---------------------------------------------------------------- */
/* ⭐ Div 2 | Header | a Link
/* ---------------------------------------------------------------- */

.link-video-tutorial > header > div:nth-of-type(2) {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

.link-video-tutorial > header > div:nth-of-type(2) > img {

  opacity: .4;
}

/* ---------------------------------------------------------------- */
/* ⭐ Main | a Link
/* ---------------------------------------------------------------- */

.link-video-tutorial > main {

  display: flex;
  align-items: center;
  column-gap: 1em;

}

/* ---------------------------------------------------------------- */
/* ⭐ Content Link Video Tutorial | Main | a Link
/* ---------------------------------------------------------------- */

.content-link-video-tutorial {

  line-height: 1.3em;

}

/* img float */
.content-link-video-tutorial > img {

  float: left;
  margin-right: 12px;

  height: 3.5em;
  width: 3.5em;

  border-radius: .3em;

}

/* span */
.content-link-video-tutorial > span {

  font-size: 14.5px;

  color:rgb(168, 168, 168);

}




















/* ---------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* Video Link List Tutorial | Video Link Tutorial Box
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project {

  display: grid;

  border-radius: 1em;

  border: 1px solid rgb(216, 215, 215);;

  /* background-color: rgb(222, 222, 222); */

}

/* ---------------------------------------------------------------- */
/* a link | Video Link List Tutorial
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project > a {

  padding: .8em 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  text-decoration: none;

  /* background-color: rgb(249, 249, 249); */

  /* background-color: #ebebeb; */

  transition: all .4s;

}

.video-link-list-tuorial-top-it-project > a:first-child {

  border-radius: .8em .8em 0 0;

}

.video-link-list-tuorial-top-it-project > a:last-child {

  border-radius: 0 0 .8em .8em;

}

.video-link-list-tuorial-top-it-project > a:not(:last-child) {

  border-bottom: 1px solid rgb(216, 215, 215);;

}

.video-link-list-tuorial-top-it-project > a:hover {

  background-color: rgb(218, 218, 218);
  background-color: #ebebeb;

}

.video-link-list-tuorial-top-it-project > a:visited {

  color:rgb(59, 59, 59);

}

/* ---------------------------------------------------------------- */
/* Div 1 | Header | a link
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project > a > div:nth-of-type(1) {

  display: grid;
  row-gap: .4em;

}

/* ---------------------------------------------------------------- */
/* Header | a link
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project > a > div:nth-of-type(1) > header {

  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

  color:rgb(152, 152, 152);

}

/* ---------------------------------------------------------------- */
/* Div's | Header | a link
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project > a > div:nth-of-type(1) > header > div {

  font-size: 12.5px;

}

/* ---------------------------------------------------------------- */
/* Nr | Header | a link
/* ---------------------------------------------------------------- */

/* actually dont need extra styling */

/* ---------------------------------------------------------------- */
/* Seperator | Header | a link
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project > a > div:nth-of-type(1) > header > div:nth-of-type(2) {

  /* better layout fix */
  padding-bottom: 2px;
  /* color:red; */

}

/* ---------------------------------------------------------------- */
/* Video Lenght | Header | a link
/* ---------------------------------------------------------------- */

/* actually dont need extra styling */

/* ---------------------------------------------------------------- */
/* Main | a link
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project > a > div:nth-of-type(1) > main {

  line-height: 1.4em;
  font-size: 14.5px;

  color: #797979;

  color:rgb(55, 55, 55);

}


.video-link-list-tuorial-top-it-project > a > div:nth-of-type(1) > main > img {

  float: left;

  margin-right: 12px;
  /* margin-bottom: 6px; */

  height: 4em;
  width: 4em;

  border-radius: .3em;


}
