/* -------------------------------------------------------------- */
/* > video-link-tutorial-container-top-it-project-card.css
/*
/* : styles only for top it project the video tutorial container
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Video Link Tutorial Container
/* ---------------------------------------------------------------- */

.video-link-tutorial-container-top-it-project-card {

  width: 100%;
  /* padding: 0em .8em; */

  display: grid;
  /* row-gap: 1.5em; */

  border-radius: 0 0 1em 1em;

  /* background-color: rgb(236, 236, 236); */

  /* background-color: red; */

  /* background-color: white; */



}

/* ---------------------------------------------------------------- */
/* Header | Video Link Tutorial Container
/* ---------------------------------------------------------------- */

.video-link-tutorial-container-top-it-project-card > header {

  width: 100%;
  padding: 1.3em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  /* border-top: 1px solid rgb(186, 186, 186);
  border-bottom: 1px solid rgb(186, 186, 186); */




  background-color: #ebebebeb;

  background-color: rgba(164, 164, 164, 0.1);

}

/* img icons container */
.video-link-tutorial-container-top-it-project-card > header > div:nth-of-type(1) {

 display: flex;
 align-items: center;
 column-gap: .4em;

}

/* first img = img camera */
.video-link-tutorial-container-top-it-project-card > header > div:nth-of-type(1) > img:nth-of-type(1) {

  /* opacity: .8; */

}

/* optimal layout fix img */
.video-link-tutorial-container-top-it-project-card > header > div:nth-of-type(1) > img:nth-of-type(2) {

  padding-top: 2px;

}

/* text */
.video-link-tutorial-container-top-it-project-card > header > div:nth-of-type(2) {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  /* font-size: .90625em; */

}

/* ---------------------------------------------------------------- */
/* Main | Video Link Tutorial Container
/* ---------------------------------------------------------------- */

.video-link-tutorial-container-top-it-project-card > main {

  width: 100%;
  padding: 2em .8em;

  display: grid;

  row-gap: 1em;
  column-gap: 1em;

  border-radius: 0 0 1em 1em;

  /* background-color: red; */
  background-color: white;

}

/* ---------------------------------------------------------------- */
/* Video Link Tutorial Box | Main
/* ---------------------------------------------------------------- */

.video-link-tutorial-box-top-it-project {

  width: 100%;

  display: grid;
  row-gap: 1em;

}

/* ---------------------------------------------------------------- */
/* Video Category Link | Video Link Tutorial Box
/* ---------------------------------------------------------------- */

.video-category-link-top-it-project {

  height: 2.3em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: bold;


  border-radius: .6em;

  background-color: #ebebeb;
  color:#808080;

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

.video-category-link-top-it-project > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .3em;

}

.video-category-link-top-it-project > div:nth-of-type(1) > div {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

}

.video-category-link-top-it-project > div:nth-of-type(1) > div:nth-of-type(1) {

  letter-spacing: 1px;

}

.video-category-link-top-it-project:hover {

  background-color: wheat;

}

/* ---------------------------------------------------------------- */
/* Video Link List Tutorial | Video Link Tutorial Box
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project {

  display: grid;

  border-radius: 1em;

  border: 1px solid rgb(216, 215, 215);;

  /* background-color: rgb(222, 222, 222); */

}

/* ---------------------------------------------------------------- */
/* a link | Video Link List Tutorial
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project > a {

  padding: .8em 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  text-decoration: none;

  /* background-color: rgb(249, 249, 249); */

  /* background-color: #ebebeb; */

  transition: all .4s;

}

.video-link-list-tuorial-top-it-project > a:first-child {

  border-radius: .8em .8em 0 0;

}

.video-link-list-tuorial-top-it-project > a:last-child {

  border-radius: 0 0 .8em .8em;

}

.video-link-list-tuorial-top-it-project > a:not(:last-child) {

  border-bottom: 1px solid rgb(216, 215, 215);;

}

.video-link-list-tuorial-top-it-project > a:hover {

  background-color: rgb(218, 218, 218);
  background-color: #ebebeb;

}

.video-link-list-tuorial-top-it-project > a:visited {

  color:rgb(59, 59, 59);

}

/* ---------------------------------------------------------------- */
/* Div 1 | Header | a link
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project > a > div:nth-of-type(1) {

  display: grid;
  row-gap: .4em;

}

/* ---------------------------------------------------------------- */
/* Header | a link
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project > a > div:nth-of-type(1) > header {

  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

  color:rgb(152, 152, 152);

}

/* ---------------------------------------------------------------- */
/* Div's | Header | a link
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project > a > div:nth-of-type(1) > header > div {

  font-size: 12.5px;

}

/* ---------------------------------------------------------------- */
/* Nr | Header | a link
/* ---------------------------------------------------------------- */

/* actually dont need extra styling */

/* ---------------------------------------------------------------- */
/* Seperator | Header | a link
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project > a > div:nth-of-type(1) > header > div:nth-of-type(2) {

  /* better layout fix */
  padding-bottom: 2px;
  /* color:red; */

}

/* ---------------------------------------------------------------- */
/* Video Lenght | Header | a link
/* ---------------------------------------------------------------- */

/* actually dont need extra styling */

/* ---------------------------------------------------------------- */
/* Main | a link
/* ---------------------------------------------------------------- */

.video-link-list-tuorial-top-it-project > a > div:nth-of-type(1) > main {

  line-height: 1.4em;
  font-size: 14.5px;

  color: #797979;

  color:rgb(55, 55, 55);

}


.video-link-list-tuorial-top-it-project > a > div:nth-of-type(1) > main > img {

  float: left;

  margin-right: 12px;
  /* margin-bottom: 6px; */

  height: 4em;
  width: 4em;

  border-radius: .3em;


}
