/* -------------------------------------------------------------- */
/* > about-contact.css
/*
/* : style about contact layout
/* -------------------------------------------------------------- */


/* ------------------------------------------- */
/* Header About Contact
/* ------------------------------------------- */

#about-header-contact {

    width: 100%;

}

/* ------------------------------------------- */
/* About Contact Container
/* ------------------------------------------- */

#about-contact-container {

    width: 100%;
    padding: 1em .8em 4em .8em;

    display: grid;
    justify-items: center;
    row-gap: 2.5em;

    /* color:rgb(19, 19, 19); */
    /* background-color: rgb(148, 148, 148); */

    background-color: rgb(28, 28, 28);

}

#about-contact-text-block {

    display: grid;
    row-gap: .3em;
}

#about-contact-question {

    text-align: center;

    font-weight: bold;
    color:wheat
}

#about-contact-text-contact-me {

    text-align: center;
    color:white;
}


/* ------------------------------------------- */
/* Link | About Contact Container
/* ------------------------------------------- */

#about-contact-my-link-container {

    font-size: 1.25em;

    height: 2.5em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .8em;

    font-weight: bold;

    /* background-color: grey; */


    background-color: wheat;
    color:rgb(28, 28, 28);

    transition: all .4s;
}

#about-contact-my-link-container:hover {

    color:rgb(28, 28, 28);
    background-color: rgb(182, 182, 182);
}

#about-contact-my-link-container:visited {

    color:rgb(28, 28, 28);
}



/* ------------------------------------------- */
/* Img | About Contact Container
/* ------------------------------------------- */

#img-about-contact {

    height: 10em;
}

/* ------------------------------------------- */
/* About Contact Close About
/* ------------------------------------------- */

#about-contact-close-about {


    height: 3em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
    column-gap: .6em;

    border-radius: .8em;

    /* border: 1px solid grey; */
    font-weight: bold;

    background-color: rgb(246, 132, 132);

    cursor: pointer;

    transition: all .4s;
}

#about-contact-close-about > img {

    transform: rotate(180deg);
}

#about-contact-close-about > div{

    font-size: 1.125em;
}


#about-contact-close-about:hover {

    background-color: wheat;
}


/* -------------------------------------------------- */
/* Contact | Numebr Container
/* -------------------------------------------------- */

#about-contact-number-container {

     padding: 0em 0 2em 0;


}
