/* -------------------------------------------------------------- */
/* > about-more-private.css
/*
/* : style about more private infos
/* -------------------------------------------------------------- */

/* 🟥⚠️

  about-more-points-from-me.css

*/

/* --------------------------------------------------------------*/
/* Aboure More | Header                                          */
/* ------------------------------------------------------------- */

#about-more-header {

  width: 100%;

}

#img-about-more-clipart-me {

  height: 8em;

}

/* --------------------------------------------------------------*/
/* About More Container                                         */
/* ------------------------------------------------------------- */

#about-more-container {

  padding: 0 .8em;

  display: grid;
  justify-items: center;
  /* background-color: blue; */

}

/* --------------------------------------------------------------*/
/* About More | List Container                                   */
/* ------------------------------------------------------------- */

#about-more-list-container {

  padding: 4.5em 0em 0em 0em;

  display: grid;
  row-gap: 1.3em;

}

/* --------------------------------------------------------------*/
/* About More | List Item                                        */
/* ------------------------------------------------------------- */

.about-more-list-item {

  display: grid;
  row-gap: 1.5em;

}

/* ---------------------------------------- */
/* Div 1 | Img Block
/* ---------------------------------------- */

.about-more-list-item > div:nth-of-type(1) {

  /* min-height: 5em; */
  /* min-width: 13em; */

  padding: 1em 1.3em;

  min-width: 14em;

  display: flex;
  align-items: center;

  column-gap: 1.3em;

  border-radius: .8em;

  background-color: rgb(215, 215, 215);

  /* background-color: rgb(242, 242, 242); */

}

/* imgs of list items */
#img-about-more-list-item-community {

  height: 2em;
  opacity: .6;
}

#img-about-more-list-item-challenge {

  height: 2em;
  opacity: .6;
}

#img-about-more-list-item-explore-my-page {

  height: 2em;
  opacity: .6;

}

.about-more-list-item > div:nth-of-type(1) > div:nth-of-type(1) {

  font-size: 1.125em;
}

/* ---------------------------------------- */
/* Div 2 | Text Block
/* ---------------------------------------- */

.about-more-list-item > div:nth-of-type(2) {

  padding: 1em 1em;

  font-size: 1.125em;
  line-height: 1.8em;
  /* color:red; */
  color: rgb(128, 128, 128);

}

/* -------------------------------------------------- */
/* About More Number Container
/* -------------------------------------------------- */

#about-more-number-container {

  padding: 2em 0em;
  /* background-color: red; */

}
