/* -------------------------------------------------------------- */
/* > about-quick-info.css
/*
/* : style the about quick info container & elements
/* -------------------------------------------------------------- */


/* ------------------------------------------- */
/* About Quick Info Container
/* ------------------------------------------- */

#about-quick-info-container {

  /* mobile */
  padding: 2em .8em;

  /* mobile */
  display: grid;
  justify-items: center;

  grid-template-areas:
    'img'
    'arrow'
    'info'
    'number';

  row-gap: 2em;

}

/* ------------------------------------------- */
/* [1/4] | About Quick Info
/* ------------------------------------------- */

#about-quick-info {

  grid-area: info;

  row-gap: 2em;

}

#about-quick-info > header {

  justify-content: flex-end;
}

/* ------------------------------------------- */
/* [2/4] | Arrow Container
/* ------------------------------------------- */

#arrow-about-quick-info {

  grid-area: arrow;

  font-size: 1.75em;
  font-weight: bold;

  transform: rotate(90deg);

  color:rgb(98, 98, 98);

}

/* ------------------------------------------- */
/* [3/4] | Img About Container
/* ------------------------------------------- */

#img-about-container {

  grid-area: img;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

}

#img-about-quick-info-me-as-real {

  width: 95%;
  border-radius: 2em;
}

/* -------------------------------------------------- */
/* [4/4] | Quick Info | Number Container
/* -------------------------------------------------- */

#about-quick-info-number-container {

  grid-area: number;

  /* border: 1px solid black; */

}
