/* -------------------------------------------------------------- */
/* > about-contact.css
/*
/* : style about contact layout
/* -------------------------------------------------------------- */


/* ------------------------------------------- */
/* About Contact Header
/* ------------------------------------------- */

#about-contact-header {

   width: 100%;

}

#img-about-contact-clipart-me {

    height: 9em;
}

/* ------------------------------------------- */
/* About Contact Container
/* ------------------------------------------- */

#about-contact-container {

    padding: 0 .8em;

    display: grid;
    /* row-gap: 3em; */
    /* justify-items: center; */

    /* background-color: white; */

    /* background-color: blue; */

}

/* ------------------------------------------- */
/* About Contact Info Container
/* ------------------------------------------- */

#about-contact-info-container {

    display: grid;
    justify-items: center;
    row-gap: 3.5em;

}

/* ------------------------------------------- */
/* [1/3] | Contact Info Block
/* ------------------------------------------- */

#about-contact-info-block {

    padding-top: 2em;

    display: grid;
    justify-items: center;
    row-gap: 1.3em;

}

#arrow-about-contact-me {

    font-size: 1.75em;
    font-weight: bold;

    transform: rotate(90deg);

    color:rgb(98, 98, 98);

}


#about-contact-question {

    font-size: 1.25em;
    line-height: 1.6em;

    text-align: center;

    font-weight: bold;

    color:rgb(28, 28, 28);
}

#about-contact-text-contact-me {

    font-size: 1.125em;
    line-height: 1.8em;

    text-align: center;
    color:rgb(28, 28, 28);
}


/* ------------------------------------------- */
/* [2/3] | Contact E-Mail Block
/* ------------------------------------------- */

#about-contact-email-block {

    font-size: 1.25em;

    height: 2.5em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .8em;

    font-weight: bold;

    /* background-color: grey; */


    background-color: rgb(28, 28, 28);
    color:wheat;

    transition: all .4s;


}

#about-contact-email-block:hover {

    color:rgb(28, 28, 28);
    background-color: rgb(182, 182, 182);

}

#about-contact-email-block:visited {

    color:rgb(28, 28, 28);
}


/* ------------------------------------------- */
/* [3/3] | Close About Block
/* ------------------------------------------- */

#about-close-about-block {

    height: 3em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
    column-gap: .6em;

    border-radius: .8em;

    /* border: 1px solid grey; */
    font-weight: bold;

    background-color: rgb(246, 132, 132);

    cursor: pointer;

    transition: all .4s;

}

#about-close-about-block > img {

    transform: rotate(180deg);
}

#about-close-about-block > div{

    font-size: 1.125em;
}


#about-close-about-block:hover {

    background-color: wheat;
}


/* -------------------------------------------------- */
/* About Contact Number Container
/* -------------------------------------------------- */

#about-contact-number-container {

  padding: 2em 0em;
  background-color: rgb(84, 84, 84);

}
