/* -------------------------------------------------------------- */
/* > about-my-it-skills.css
/*
/* : style about it skill containers
/* -------------------------------------------------------------- */


/* --------------------------------------------------------------*/
/* About My IT Skills Container                                  */
/* ------------------------------------------------------------- */

#about-my-it-skills-container {

  width: 100%;

  display: grid;
  justify-items: center;

  row-gap: 1em;

}

/* --------------------------------------------------------------*/
/* About My IT Skills List Container                             */
/* ------------------------------------------------------------- */

#about-my-it-skills-list-container {

  display: grid;
  justify-items: center;
  row-gap: 3em;

}

/* --------------------------------------------------------------*/
/* About My IT Skills Item Container                             */
/* ------------------------------------------------------------- */

.about-my-it-skills-item-container {

  display: grid;
  justify-items: center;
  row-gap: 3em;

}

/* --------------------------------------------------------------*/
/* Header | About My IT Skills Item Container                    */
/* ------------------------------------------------------------- */

.about-my-it-skills-item-container > header {

  padding: .8em;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  column-gap: .8em;

  font-weight: bold;

  border-radius: .8em;

  background-color: rgba(28, 28, 28);
  color:rgb(211, 211, 211);
  opacity: .8;

}

.about-my-it-skills-item-container > header > div:nth-of-type(1) {

  font-size: 1.125em;

  line-height: 1.3em;

}

/* --------------------------------------------------------------*/
/* Main | About My IT Skills Item Container                      */
/* ------------------------------------------------------------- */

.about-my-it-skills-item-container > main {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:.8em;

}


/* --------------------------------------------------------------*/
/* About My It Skills Link
/* ------------------------------------------------------------- */

.about-my-it-skills-link {

  text-decoration: none;

  height: 3em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  border-radius: .8em;

  border: 1px solid rgb(203, 203, 203);
  background-color: rgb(241, 241, 241);
  color:rgb(84, 84, 84);

  cursor: pointer;
  transition: all .4s;

}

.about-my-it-skills-link > div {

  font-size: 1.125em;
}


.about-my-it-skills-link:visited {

  color:rgb(98, 98, 98);

}

.about-my-it-skills-link:hover {

  background-color: wheat;
  color:black;

}

/* --------------------------------------------------------------*/
/* About My IT Skills Quote Container                            */
/* ------------------------------------------------------------- */

#about-my-it-skills-quote-container {

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1em;

  font-weight: bold;

  color:rgb(28, 28, 28);
  /* background-color: red; */
}

#about-my-it-skills-quote-container > div {

  font-size: 1.25em;
}

#about-my-it-skills-quote-container > div:nth-of-type(2) {

  padding: .2em .4em;

  border-radius: .4em;

  background-color: rgb(28, 28, 28);
  color:wheat;
  opacity: .8;

}
