/* -------------------------------------------------------------- */
/* > about-more-private.css
/*
/* : style about more private infos
/* -------------------------------------------------------------- */



/* --------------------------------------------------------------*/
/* Header | About More Private Container                         */
/* ------------------------------------------------------------- */

#about-header-more-private-container {

  width: 100%;

}

#img-about-more-private-clipart-me {

  height: 8em;

}

/* --------------------------------------------------------------*/
/* List More About Private                                       */
/* ------------------------------------------------------------- */

#list-more-about-private {

  padding: 4em .8em;

  display: grid;
  row-gap: 2em;

}

/* --------------------------------------------------------------*/
/* List Item More About Private                                  */
/* ------------------------------------------------------------- */

.list-item-more-about-private {

  display: flex;
  align-items: center;
  column-gap: 3em;

}

/* ---------------------------------------- */
/* Div 1 | Img Block
/* ---------------------------------------- */

.list-item-more-about-private > div:nth-of-type(1) {

  min-height: 5em;
  min-width: 5em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .8em;

  background-color: green;

}

/* ---------------------------------------- */
/* Div 2 | Text Block
/* ---------------------------------------- */

.list-item-more-about-private > div:nth-of-type(2) {


  color:red;

}

























/* ❌❌❌❌ müll */


/* --------------------------------------------------------------*/
/* Header | About More Private Container                                  */
/* ------------------------------------------------------------- */

/* --------------------------------------------------------------*/
/* Main | About More Private Container                                  */
/* ------------------------------------------------------------- */

/* --------------------------------------------------------------*/
/* About More Private Layout Container                                  */
/* ------------------------------------------------------------- */

#about-more-private-layout-container {

  width: 100%;
  padding: 4em .8em;

  display: grid;

  grid-template-areas:

    'info'
    'arrow'
    'my-wishes'
    'number';

  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;

  row-gap: 3.3em;

  /* background-color: rgb(255, 0, 212); */

}

/* --------------------------------------------------------------*/
/* About More Private Info                                       */
/* ------------------------------------------------------------- */

#about-more-private-info {

  grid-area: info;

  display: grid;
  row-gap: 4em;

  /* background-color: green; */
}

/* --------------------------------------------------------------*/
/* Main | About More Private Info                                */
/* ------------------------------------------------------------- */

#about-more-private-info > main {

  display: grid;
  row-gap: 3em;
}

/* --------------------------------------------------------------*/
/* Main Div | About More Private Info                            */
/* ------------------------------------------------------------- */

#about-more-private-info > main > div {

  display: grid;
  justify-items: center;
  row-gap: 2em;

}

/* --------------------------------------------------------------*/
/* About More Private Img Coffee                                 */
/* ------------------------------------------------------------- */

#about-more-private-img-coffee {

  grid-area: img-coffee;

  display: none;

  /* background-color: red; */
}

#img-about-img-coffee {

  height: 13em;
}

/* --------------------------------------------------------------*/
/* About More Private Arrow                                      */
/* ------------------------------------------------------------- */

#about-more-private-arrow {

  grid-area: arrow;

}

/* --------------------------------------------------------------*/
/* About More Private My Wishes                                 */
/* ------------------------------------------------------------- */

#about-more-private-my-wishes {

  grid-area: my-wishes;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .2em;

  /* background-color: yellow; */

}

#about-more-private-my-wishes > div {

  font-size: 1.125em;
  font-weight: bold;
}


/* -------------------------------------------------- */
/* More Priavte | Numebr Container
/* -------------------------------------------------- */

#about-more-private-number-container {

  padding: 2em 0;

  /* background-color: red; */


}
