/* -------------------------------------------------------------- */
/* > label-open-close-content.css
/*
/* : styles the the label for open or close content
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Label Open Close Content
/* ------------------------------------------------------------------- */

.lbl-open-close-content {

  height: 2.3em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;


  border-radius: .6em;

  font-weight: bold;

  background-color: rgb(209, 209, 209);
  opacity: .6;

  cursor: pointer;
  transition: all .4s;

}

/* ------------------------------------------------------------------- */
/* Div 1 | Label Open Close Content
/* ------------------------------------------------------------------- */

.lbl-open-close-content > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

/* ------------------------------------------------------------------- */
/* Hover | Label Open Close Content
/* ------------------------------------------------------------------- */

.lbl-open-close-content:hover {

  background-color: wheat;
  opacity: 1;

}

/* ------------------------------------------------------------------- */
/* Img | Label Open Close Content
/* ------------------------------------------------------------------- */

.lbl-open-close-content img {

  transition:  all .4s;

}
