/* -------------------------------------------------------------- */
/* > my-it-docs.css
/*
/* : styles my it docs
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My IT Docs Container
/* ------------------------------------------------------------- */

#it-docs-container {

  width: 100%;
  /* z-index: 2; */
/*
  display: grid; */

  /* background-color: magenta; */


  /* default unshown */
  display: none;

}


/* ------------------------------------------------------------- */
/* Header Nav IT Docs
/* ------------------------------------------------------------- */

#header-nav-it-docs {

  width: 100%;

  /* mobile */
  display: grid;
  justify-items: center;

}

/* ------------------------------------------------------------- */
/* Header IT Docs
/* ------------------------------------------------------------- */

#header-it-docs {

  width: 100%;

  /* mobile */
  display: grid;
  justify-items: center;
  row-gap: 2em;

}














/* ------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* My IT Docs Content Container
/* ------------------------------------------------------------- */

#my-it-docs-content-container {

  display: grid;

}

/* ------------------------------------------------------------- */
/* Header | My IT Docs Container
/* ------------------------------------------------------------- */

#header-my-it-docs-container {

  display: flex;
  align-items: center;
  justify-content: space-between;

}


/* ------------------------------------------------------------- */
/* Header Title Block | My It Docs
/* ------------------------------------------------------------- */

#header-title-block-my-it-docs {

  display: flex;
  align-items: center;
  column-gap: 1em;

}


#header-title-block-my-it-docs > div:nth-of-type(1) {

  line-height: 1.4em;

}

/* header title */
#header-title-block-my-it-docs > div:nth-of-type(1) > div:nth-of-type(1) {

  font-size: 1.125em;
  font-weight: bold;

}

/* header sub title */
#header-title-block-my-it-docs > div:nth-of-type(1) > div:nth-of-type(2) {

  font-weight: bold;
  color:rgb(200, 51, 51);
  color:rgb(121, 121, 121);

}


/* ------------------------------------------------------------- */
/* 🟣🟣🟣 Auslagern
/* ------------------------------------------------------------- */

#img-it-docs-books {

  height: 2.3em;
}
