/* -------------------------------------------------------------- */
/* > my-it-docs.css
/*
/* : styles my it docs
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My IT Docs Container
/* ------------------------------------------------------------- */

#it-docs-container {

  width: 100%;

  display: grid;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* My IT Docs Card Content Container
/* ------------------------------------------------------------- */

#it-docs-card-content-container {

  margin-top: 2em;
  padding-top: 2em;

  display: grid;
  row-gap: 2em;

  border-top: 3px solid rgb(202, 202, 202);

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* It Docs List Card Container
/* ------------------------------------------------------------- */

.it-docs-list-card-container {

  display: grid;
  row-gap: 2em;

}

/* ------------------------------------------------------------- */
/* Header | It Docs List Card Container
/* ------------------------------------------------------------- */

.it-docs-list-card-container > header {

  padding: .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  font-weight: bold;

  border-radius: .8em;

  background-color: rgba(28, 28, 28, .8);
  color:rgb(188, 188, 188);

}

/* ------------------------------------------------------------- */
/* Title | Header | It Docs List Card Container
/* ------------------------------------------------------------- */

.header-title-it-docs-list {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

/* ------------------------------------------------------------- */
/* Nr | Header | It Docs List Card Container
/* ------------------------------------------------------------- */

.header-title-nr-it-docs-list {

  letter-spacing: 1px;

}

/* ------------------------------------------------------------- */
/* Main | It Docs List Card Container
/* ------------------------------------------------------------- */

.it-docs-list-card-container > main {

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 2em;

}
