/* -------------------------------------------------------------- */
/* > nav-my-it-docs.css
/*
/* : styles my it docs nav
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Handlings
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* Checkbox (open,close) | Handlings
/* ------------------------------------------------------------- */

/* default unshown */
#chk-it-docs {

  display: none;

}

/* unshown text=open */
#chk-it-docs:checked ~ #header-it-docs [for="chk-it-docs"] > div:nth-of-type(1) > div:nth-of-type(1) {

  display: none;

}

/* shown text=close */
#chk-it-docs:checked ~ #header-it-docs label[for="chk-it-docs"] > div:nth-of-type(1) > div:nth-of-type(2) {

  display: flex;

}

/* set background | checkbox */
#chk-it-docs:checked ~ #header-it-docs label[for="chk-it-docs"] {

  background-color: rgb(227, 87, 87);

}

/* rotate img arrow | show me */
#chk-it-docs:checked ~ #header-it-docs label[for="chk-it-docs"] > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* show content */
#chk-it-docs:checked ~ #smooth-open-close-nav-it-docs {

  grid-template-rows: 1fr;

}

/* ------------------------------------------------------------- */
/* 🟩 Radios Nav Category (frontend,backend,ai) | Handlings
/* ------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-category-it-docs"] {

  display: none;

}

/* set background */
#radio-frontend-it-docs:checked ~ #header-nav-it-docs label[for="radio-frontend-it-docs"],
#radio-backend-it-docs:checked ~ #header-nav-it-docs label[for="radio-backend-it-docs"],
#radio-ai-it-docs:checked ~ #header-nav-it-docs label[for="radio-ai-it-docs"] {

  background-color: wheat;

}

/* set X */
#radio-frontend-it-docs:checked ~ #header-nav-it-docs label[for="radio-frontend-it-docs"] > .custom-radio-default > img,
#radio-backend-it-docs:checked ~ #header-nav-it-docs label[for="radio-backend-it-docs"] > .custom-radio-default > img,
#radio-ai-it-docs:checked ~ #header-nav-it-docs label[for="radio-ai-it-docs"] > .custom-radio-default > img {

  display: flex;

}

/* set content */
#radio-frontend-it-docs:checked ~ #header-nav-it-docs #nav-sub-category-frontend-it-docs,
#radio-backend-it-docs:checked ~ #header-nav-it-docs #nav-sub-category-backend-it-docs {

  display: flex;

}


/* ------------------------------------------------------------- */
/* 🟩 Radios Nav Sub Category | Handlings
/* ------------------------------------------------------------- */

/* default unshown */
input[name="name-radios-sub-category-it-docs"] {

  display: none;

}

/* set background */
#radio-dev-basic-it-docs:checked ~ #header-nav-it-docs label[for="radio-dev-basic-it-docs"],
#radio-web-basic-it-docs:checked ~ #header-nav-it-docs label[for="radio-web-basic-it-docs"],
#radio-web-dev-it-docs:checked ~ #header-nav-it-docs label[for="radio-web-dev-it-docs"],
#radio-software-dev-it-docs:checked ~ #header-nav-it-docs label[for="radio-software-dev-it-docs"],
#radio-it-architecture-it-docs:checked ~ #header-nav-it-docs label[for="radio-it-architecture-it-docs"],
#radio-backend-tools-it-docs:checked ~ #header-nav-it-docs label[for="radio-backend-tools-it-docs"] {

  background-color: wheat;

}

/* set x */
#radio-dev-basic-it-docs:checked ~ #header-nav-it-docs label[for="radio-dev-basic-it-docs"] > .custom-radio-default > img,
#radio-web-basic-it-docs:checked ~ #header-nav-it-docs label[for="radio-web-basic-it-docs"] > .custom-radio-default > img,
#radio-web-dev-it-docs:checked ~ #header-nav-it-docs label[for="radio-web-dev-it-docs"] > .custom-radio-default > img,
#radio-software-dev-it-docs:checked ~ #header-nav-it-docs label[for="radio-software-dev-it-docs"] > .custom-radio-default > img,
#radio-it-architecture-it-docs:checked ~ #header-nav-it-docs label[for="radio-it-architecture-it-docs"] > .custom-radio-default > img,
#radio-backend-tools-it-docs:checked ~ #header-nav-it-docs label[for="radio-backend-tools-it-docs"] > .custom-radio-default > img {

  display: flex;

}

/* set content */
#radio-dev-basic-it-docs:checked ~ #it-docs-card-content-container,
#radio-web-basic-it-docs:checked ~ #it-docs-card-content-container,
#radio-web-dev-it-docs:checked ~ #it-docs-card-content-container,
#radio-software-dev-it-docs:checked ~ #it-docs-card-content-container,
#radio-it-architecture-it-docs:checked ~ #it-docs-card-content-container,
#radio-backend-tools-it-docs:checked ~ #it-docs-card-content-container,
#radio-ai-it-docs:checked ~ #it-docs-card-content-container {

  display: grid;

}
