/* -------------------------------------------------------------- */
/* > info-about.css
/*
/* : style info about
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Info About Container
/* -------------------------------------------------------------- */

#info-about-container {

  width: 100%;
  margin-bottom: 2em;

  display: grid;
  row-gap: 2em;

  /* default unshown */
  display: none;

}

/* -------------------------------------------------------------- */
/* Imgs | Readmore, Mindset
/* -------------------------------------------------------------- */

.img-header-info-about {

  width: 3.5em;
  width: 3.5em;

  border-radius: .8em;

}
