/* -------------------------------------------------------------- */
/* > info-about.css
/*
/* : style info about
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Info About Container
/* -------------------------------------------------------------- */

#info-about-container {

  width: 100%;
  margin-bottom: 2em;

  display: grid;
  justify-items: center;
  row-gap: 2em;

  /* default unshown */
  display: none;

}
