/* -------------------------------------------------------------- */
/* > contact-about.css
/*
/* : style contact about
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Contact About Container
/* ------------------------------------------------------------------- */

#contact-about-container {

  display: grid;
  justify-items: center;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------------- */
/* E-Mail Contact Box About */
/* ------------------------------------------------------------------- */

#e-mail-contact-box-about {

  /* mobile */
  display: grid;
  justify-items: center;
  row-gap: 2em;

  /* desktop */
  /* display: flex;
  align-items: center;
  column-gap: 1.5em; */

}

/* ------------------------------------------------------------------- */
/* Img | E-Mail Contact Box About */
/* ------------------------------------------------------------------- */

#img-email-contact-about {

  order:2;

  height: 5em;
  transform: scaleX(-1);

}

/* ------------------------------------------------------------------- */
/* Email Contact Title Container */
/* ------------------------------------------------------------------- */

#e-mail-contact-title-container-about {

  display: grid;
  row-gap: .6em;

}

/* ------------------------------------------------------------------- */
/* Header | Email Contact Title Container */
/* ------------------------------------------------------------------- */

#e-mail-contact-title-container-about > header {

  font-weight: bold;

}

/* ------------------------------------------------------------------- */
/* a (Link) | Email Contact Title Container */
/* ------------------------------------------------------------------- */

#e-mail-contact-title-container-about > a {

  font-size: 14.5px;

  padding: .2em .6em;

  /* font-size: 1em; */
  font-weight: bold;

  border-radius: 1.6em;

  background-color: wheat;
  color:rgb(20, 20, 20);

  transition: all .4s;

}

#e-mail-contact-title-container-about > a:hover {

  background-color: wheat;
  color: black;

}

#e-mail-contact-title-container-about > a:visited {

  color:rgb(186, 186, 186);

}
