/* -------------------------------------------------------------- */
/* > top3-it-projects.css
/*  
/* : styles img my top 3 projects about container 
/* -------------------------------------------------------------- */


/* --------------------------------------------------------------------- */
/* Top 3 IT Projects Container
/* --------------------------------------------------------------------- */

#top3-it-projects-container  {

    width: 100%;
    padding: 5em .8em;

    display: grid; 
    row-gap: 3em;

    /* background-color: rgb(137, 137, 137); */

}

/* --------------------------------------------------------------------- */
/* Header
/* --------------------------------------------------------------------- */

#top3-it-projects-container  > header {

    justify-self: flex-end;
}

/* --------------------------------------------------------------------- */
/* Main
/* --------------------------------------------------------------------- */

#top3-it-projects-container > main {

    padding: 5em 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap: 3em;
    row-gap: 3em;

    /* background-color: rgb(255, 255, 255); */
}

/* --------------------------------------------------------------------- */
/* IT Project Card 
/* --------------------------------------------------------------------- */

.it-project-card {

    /* mobile */
    width: 100%;

    display: grid;
    row-gap: 1.5em;

    /* background-color: red; */
    

    /* border-radius: ; */

    /* border:1px solid black; */
}

/* --------------------------------------------------------------------- */
/* Main | IT Project Card 
/* --------------------------------------------------------------------- */

.it-project-card > main {

    display: grid;
    row-gap: .8em;

    background-color: white;
}