/* ------------------------------------------------------------------------- */
/* > status-content-containers.css
/* : styles status content container layouts
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* Status Content ( ... )
/* ------------------------------------------------------------- */

.status-content-under-construction,
.status-content-coming-soon,
.status-content-actually-no-prio {

  padding: .6em .8em;

  display: flex;
  align-items: center;
  column-gap: .8em;

  border-radius: .6em;

}

/* ------------------------------------------------------------- */
/* Img | Status Content
/* ------------------------------------------------------------- */

.status-content-under-construction > img:nth-of-type(1),
.status-content-coming-soon > img:nth-of-type(1),
.status-content-actually-no-prio > img:nth-of-type(1) {

  height: 1.6em;
  opacity: .6;

}

/* ------------------------------------------------------------- */
/* Div 1 | Status Content
/* ------------------------------------------------------------- */

.status-content-under-construction > div:nth-of-type(1),
.status-content-coming-soon > div:nth-of-type(1),
.status-content-actually-no-prio > div:nth-of-type(1) {

  line-height: 1.5em;

  font-size: 14.5px;

}

/* ------------------------------------------------------------- */
/* Div 1 | Div 1 | Status Content
/* ------------------------------------------------------------- */

.status-content-under-construction > div:nth-of-type(1),
.status-content-coming-soon > div:nth-of-type(1),
.status-content-actually-no-prio > div:nth-of-type(1) {

  font-weight: bold;

}

/* ------------------------------------------------------------- */
/* Div 1 | Div 2 | Status Content
/* ------------------------------------------------------------- */

.status-content-under-construction > div:nth-of-type(2),
.status-content-coming-soon > div:nth-of-type(2),
.status-content-actually-no-prio > div:nth-of-type(2) {

  font-size: 12.5px;

}


/* ------------------------------------------------------------- */
/* 🟨 Under Construction
/* ------------------------------------------------------------- */

.status-content-under-construction {

  background-color: rgb(255, 250, 161);
  color:grey

}

/* ------------------------------------------------------------- */
/* 🟦 Coming Soon
/* ------------------------------------------------------------- */

.status-content-coming-soon {

  background-color: rgb(201, 230, 254);
  color:black;

}

/* ------------------------------------------------------------- */
/* ⬛ Actually No Prio
/* ------------------------------------------------------------- */

.status-content-actually-no-prio {

  background-color: rgb(183, 184, 185);
  color:black;

}
