/* ------------------------------------------------------------------------- */
/* > status-under-consturction.css
/* : styles status under construction
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Status Line Under Construction
/* ------------------------------------------------------------- */

.status-line-under-construction {

  /* width: 100%; */
  padding: .6em .8em;

  display: flex;
  align-items: center;
  column-gap: .8em;

  border-radius: .6em;

  background-color: rgb(251, 206, 24);

  background-color: rgb(255, 250, 161);

  color:grey

}

/* ------------------------------------------------------------- */
/* Img | Status Line Under Construction
/* ------------------------------------------------------------- */

.status-line-under-construction > img:nth-of-type(1) {

  height: 1.6em;
  opacity: .6;

}

/* ------------------------------------------------------------- */
/* Div 1 | Status Line Under Construction
/* ------------------------------------------------------------- */

.status-line-under-construction > div:nth-of-type(1) {

  line-height: 1.5em;

  font-size: 14.5px;

}

/* ------------------------------------------------------------- */
/* Div 1 | Div 1 | Status Line Under Construction
/* ------------------------------------------------------------- */

.status-line-under-construction > div:nth-of-type(1) {

  font-weight: bold;

}

/* ------------------------------------------------------------- */
/* Div 1 | Div 2 | Status Line Under Construction
/* ------------------------------------------------------------- */

.status-line-under-construction > div:nth-of-type(2) {

  font-size: 12.5px;

}
