/* -------------------------------------------------------------- */
/* > status-stickers.css
/*
/* : styles all art of status stickers
     (in progress, coming soon, finished )
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Status Stickers ( small, medium, big )
/* ---------------------------------------------------------------- */

.status-sticker-very-small,
.status-sticker-small,
.status-sticker-medium,
.status-sticker-big {

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: 1em;

}

.status-sticker-very-small > span {

  font-size: 10.5px;;

}

.status-sticker-small > span,
.status-sticker-medium > span,
.status-sticker-big > span {

  /* 12px = 12 / 16px (1em) = .75em; */
  font-size: .75em;

}

/* ---------------------------------------------------------------- */
/* very small | Status Stickers
/* ---------------------------------------------------------------- */

.status-sticker-very-small {

  height: 1em;
  padding: 0 .3em;

}

/* ---------------------------------------------------------------- */
/* small | Status Stickers
/* ---------------------------------------------------------------- */

.status-sticker-small {

  height: 1.3em;
  padding: 0 .4em;

}

/* ---------------------------------------------------------------- */
/* Medium | Status Stickers
/* ---------------------------------------------------------------- */

.status-sticker-medium {

  height: 1.6em;
  padding: 0 .6em;

}

/* ---------------------------------------------------------------- */
/* Big | Status Stickers
/* ---------------------------------------------------------------- */

.status-sticker-big {

  height: 2em;
  padding: 0 .6em;

}


/* ---------------------------------------------------------------- */
/* in progress
/* ---------------------------------------------------------------- */

.style-in-progress {

  background: #facc15;
  color: #111;

}

/* ---------------------------------------------------------------- */
/* coming soon
/* ---------------------------------------------------------------- */

.style-coming-soon {

  background: #d4d4d4;
  color: #111;

}

/* ---------------------------------------------------------------- */
/* finished
/* ---------------------------------------------------------------- */

.style-finished {

  background: #25b65c;
  color: #111;

}
