/* ------------------------------------------------------------------------- */
/* > banner-choose-sport-challenges-container.css
/* : styles banner choose sport challenges container
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Banner Choose Sport Challenges Container
/* ------------------------------------------------------------- */

#banner-choose-sport-challenges-container {

  padding: 2em 0 .5em 0;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1em;

  /* background-color: grey; */

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* Img | Banner Choose Sport Challenges Container
/* ------------------------------------------------------------- */

#banner-choose-sport-challenges-container > img {

  height: 2.5em;
  opacity: .3;

}
