/* -------------------------------------------------------------- */
/* > sport-3-videos-link-container.css
/* : styles sport 3 videos container optimal for
/*   for 3 elements in mobile layout 2 col , last in second row
/*   we programmed in java script extra condition
/*   if only exist 1 or 2 elements of 3 that
     the row or col gap will be delete, because
     we dont like to show this gaps if dont needed
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport 3 Videos Link Container
/* -------------------------------------------------------------- */

.sport-3-videos-link-container {

  width: 100%;

  display: grid;
  justify-items: center;
  justify-content: center;

  grid-template:

  'video-sport-newest-1 video-sport-newest-2'
  'video-sport-newest-3 video-sport-newest-3'
  ;

  row-gap: .6em;
  column-gap: .6em;

  /* background-color: red; */

}

/* .sport-video-link-box,
.sport-video-link-box-coming-soon */

/* -------------------------------------------------------------- */
/* Link Box 1 |
/* -------------------------------------------------------------- */

.sport-3-videos-link-container > .sport-video-link-box:nth-of-type(1),
.sport-3-videos-link-container > .sport-video-link-box-coming-soon:nth-of-type(1)  {

  grid-area: video-sport-newest-1;

}

/* -------------------------------------------------------------- */
/* Link Box 2 |
/* -------------------------------------------------------------- */


.sport-3-videos-link-container > .sport-video-link-box:nth-of-type(2),
.sport-3-videos-link-container > .sport-video-link-box-coming-soon:nth-of-type(2)  {

  grid-area: video-sport-newest-2;

}

/* -------------------------------------------------------------- */
/* Link Box 3 |
/* -------------------------------------------------------------- */

.sport-3-videos-link-container > .sport-video-link-box:nth-of-type(3),
.sport-3-videos-link-container > .sport-video-link-box-coming-soon:nth-of-type(3)  {

  grid-area: video-sport-newest-3;

}







/* -------------------------------------------------------------- */
/* ❌❌❌ Trash
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
/* Sport 3 Videos Container
/* -------------------------------------------------------------- */

.sport-3-videos-container {

  width: 100%;

  display: grid;
  justify-items: center;
  justify-content: center;

  grid-template:

  'video-sport-newest-1 video-sport-newest-2'
  'video-sport-newest-3 video-sport-newest-3'
  ;

  row-gap: .6em;
  column-gap: .6em;

  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/* Sport Video Link Box 1 |
/* -------------------------------------------------------------- */


.sport-3-videos-container > .sport-video-link-box-3er-layout:nth-of-type(1),
.sport-3-videos-container > .sport-video-link-box-3er-layout-coming-soon:nth-of-type(1)  {

  grid-area: video-sport-newest-1;

}

/* -------------------------------------------------------------- */
/* Sport Video Link Box 2 |
/* -------------------------------------------------------------- */

.sport-3-videos-container > .sport-video-link-box-3er-layout:nth-of-type(2),
.sport-3-videos-container > .sport-video-link-box-3er-layout-coming-soon:nth-of-type(2)  {

  grid-area: video-sport-newest-2;

}

/* -------------------------------------------------------------- */
/* Sport Video Link Box 3 |
/* -------------------------------------------------------------- */

.sport-3-videos-container > .sport-video-link-box-3er-layout:nth-of-type(3),
.sport-3-videos-container > .sport-video-link-box-3er-layout-coming-soon:nth-of-type(3)  {

  grid-area: video-sport-newest-3;

}
