/* -------------------------------------------------------------- */
/* > sport-3-videos-container
/* : styles sport 3 videos container
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport 3 Videos Container
/* -------------------------------------------------------------- */

.sport-3-videos-container {

  width: 100%;

  display: grid;
  justify-items: center;
  justify-content: center;

  grid-template:

  'video-sport-newest-1 video-sport-newest-2'
  'video-sport-newest-3 video-sport-newest-3'
  ;

  row-gap: .6em;
  column-gap: .6em;

  /* background-color: red; */

}


/* -------------------------------------------------------------- */
/* Sport Video Link Box 1 |
/* -------------------------------------------------------------- */

.sport-3-videos-container > .sport-video-link-box-3er-layout:nth-of-type(1) {

  grid-area: video-sport-newest-1;

}

/* -------------------------------------------------------------- */
/* Sport Video Link Box 2 |
/* -------------------------------------------------------------- */

.sport-3-videos-container > .sport-video-link-box-3er-layout:nth-of-type(2) {

  grid-area: video-sport-newest-2;

}

/* -------------------------------------------------------------- */
/* Sport Video Link Box 3 |
/* -------------------------------------------------------------- */

.sport-3-videos-container > .sport-video-link-box-3er-layout:nth-of-type(3) {

  grid-area: video-sport-newest-3;


}
