/* -------------------------------------------------------------- */
/* > sport-video-link-box.css
/* : styles sport video link box
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport | Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.sport-video-link-box-medium,
.sport-video-link-box-large {

  position: relative;

  /* mobile */
  width:100%;

  display: grid;

  border-radius: 1em;

  border: 4px solid rgb(201, 201, 201);

  transition: all .4s;

}

/* .sport-video-link-box-large {

  height: 23em;
} */

/* -------------------------------------------------------------- */
/* Hover | Sport | Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

/* hover img  */
.sport-video-link-box-medium:hover > img,
.sport-video-link-box-large:hover > img {

  opacity: 1;

}

/* hover border  */
.sport-video-link-box-medium:hover,
.sport-video-link-box-large:hover {

  border: 3px solid rgb(0, 0, 0);

  border: 4px solid rgb(201, 201, 201);

  border: 4px solid wheat;

}



/* -------------------------------------------------------------- */
/* Nr | Div 1 | Sport | Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.sport-video-link-box-medium > div:nth-of-type(1),
.sport-video-link-box-large > div:nth-of-type(1) {

  position: absolute;
  left:.6em;
  top:.6em;

  z-index: 3;

  width: 1.3em;
  height: 1.3em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .8em 0 .8em 0;

  border-radius: .4em;

  background-color: rgba(0, 0, 0, .4);
  color:rgb(172, 172, 172);

}

.sport-video-link-box-medium > div:nth-of-type(1) > div,
.sport-video-link-box-large > div:nth-of-type(1) > div {

  font-size: 12px;

  font-weight: bold;


}

/* -------------------------------------------------------------- */
/* Img | Sport | Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.sport-video-link-box-medium > img,
.sport-video-link-box-large > img {

  width: 100%;
  height: 100%;
  border-radius: .8em;

  box-sizing: content-box;

  opacity: .5;

}

/* -------------------------------------------------------------- */
/* Link Show Me | Sport | Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.sport-video-link-box-medium > a,
.sport-video-link-box-large > a {

  text-decoration: none;

  position: absolute;
  bottom: 0;

  height: 2.3em;
  width: 100%;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .4em;

  font-weight: bold;

  border-radius: 0 0 .6em .6em;

  /* background-color: rgba(121, 121, 121, 0.8); */
  background-color: rgba(255, 255, 255, .8);

  background-color: rgba(0, 0, 0, .5);
  color:rgb(176, 176, 176);

  transition: all .4s;

}

/* default black img unshown */
.sport-video-link-box-medium > a > img:nth-of-type(2),
.sport-video-link-box-large > a > img:nth-of-type(2) {

  display: none;

}

.sport-video-link-box-medium > a > div,
.sport-video-link-box-large > a > div {

  font-size: 14.5px;

}

.sport-video-link-box-medium > a:hover,
.sport-video-link-box-large > a:hover {

  background-color: wheat;
  color:black;

}

/* hover unshown grey img */
.sport-video-link-box-medium > a:hover > img:nth-of-type(1),
.sport-video-link-box-large > a:hover > img:nth-of-type(1) {

  display: none;

}

/* hover shown black img */
.sport-video-link-box-medium > a:hover > img:nth-of-type(2),
.sport-video-link-box-large > a:hover > img:nth-of-type(2) {

  display: flex;

}


.sport-video-link-box-medium > :a:visited,
.sport-video-link-box-large > a:visited {

  color:black;

}
