/* -------------------------------------------------------------- */
/* > video-sport-link-box.css
/* : styles video sport link box
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport | Sport Video Link Box ( 3er, 4er layout )
/* -------------------------------------------------------------- */

.sport-video-link-box-3er-layout,
.sport-video-link-box-4er-layout {

  position: relative;

  /* mobile */
  width:100%;

  display: grid;

  border-radius: 1.3em;

  /* border: 4px solid rgb(238, 238, 238); */
  /* border: 4px solid rgb(210, 210, 210); */

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  transition: all .4s;

}

/* hover img  */
.sport-video-link-box-3er-layout:hover > img:nth-of-type(1),
.sport-video-link-box-4er-layout:hover > img:nth-of-type(1) {

  opacity: 1;

}

/* hover border  */
.sport-video-link-box-3er-layout:hover,
.sport-video-link-box-4er-layout:hover {

  border: 4px solid rgb(75, 75, 75);

}

/* -------------------------------------------------------------- */
/* Nr Sport Video Link |
/* -------------------------------------------------------------- */

.nr-sport-video-link {

  position: absolute;
  left:.6em;
  top:.6em;

  z-index: 3;

  width: 1.3em;
  height: 1.3em;

  display: flex;
  align-items: center;
  justify-content: center;

  /* border-radius: 50%; */

  border-radius: .4em;

  background-color: rgba(0, 0, 0, .4);
  color:rgb(172, 172, 172);

}

/* Div | Nr  */
.nr-sport-video-link > div {

  font-size: 12px;
  font-weight: bold;

}

/* hover */
.sport-video-link-box-3er-layout:hover .nr-sport-video-link,
.sport-video-link-box-4er-layout:hover .nr-sport-video-link {

  background-color: wheat;
  color:black;

}

/* -------------------------------------------------------------- */
/* Img | Sport Video Link Box ( 3er, 4er layout )
/* -------------------------------------------------------------- */

.sport-video-link-box-3er-layout > img:nth-of-type(1),
.sport-video-link-box-4er-layout > img:nth-of-type(1) {

  width: 100%;
  height: 100%;

  border-radius: 1em;

  /* box-sizing: content-box; */

  opacity: .5;

}

/* -------------------------------------------------------------- */
/* Show Me (Link) | Sport Video Link Box ( 3er, 4er layout )
/* -------------------------------------------------------------- */

.sport-video-link-box-3er-layout > a,
.sport-video-link-box-4er-layout > a {

  text-decoration: none;

  position: absolute;
  bottom: 0;

  height: 2.3em;
  width: 100%;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .4em;

  border-radius: 0 0 1em 1em;

  background-color: rgba(0, 0, 0, .4);
  color:rgb(172, 172, 172);

  transition: all .4s;

}

/* default unshown black img external link */
.sport-video-link-box-3er-layout > a > img:nth-of-type(2),
.sport-video-link-box-4er-layout > a > img:nth-of-type(2) {

  display: none;

}

/* default unshown grey img external link */
.sport-video-link-box-3er-layout > a:hover > img:nth-of-type(1),
.sport-video-link-box-4er-layout > a:hover > img:nth-of-type(1) {

  display: none;

}

/* hover | show black img external link */
.sport-video-link-box-3er-layout > a:hover > img:nth-of-type(2),
.sport-video-link-box-4er-layout > a:hover > img:nth-of-type(2) {

  display: flex;

}

/* hover | show black img external link */

/* text = show me */
.sport-video-link-box-3er-layout > a > div,
.sport-video-link-box-4er-layout > a > div {

  font-size: 14.5px;
  font-weight: bold;

}

/* hover */
.sport-video-link-box-3er-layout > a:hover,
.sport-video-link-box-4er-layout > a:hover {

  background-color: wheat;
  color:black;

}

/* hover unshown grey img */
.sport-video-link-box-3er-layout > a:hover > img:nth-of-type(1),
.sport-video-link-box-4er-layout > a:hover > img:nth-of-type(1) {

  opacity: 1;

}

/* visited be black */
.sport-video-link-box-3er-layout > :a:visited,
.sport-video-link-box-4er-layout > a:visited {

  color:black;

}
