/* -------------------------------------------------------------- */
/* > video-sport-link-box.css
/* : styles video sport link box
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport | Sport Video Link Box ( 3er, 4er layout )
/* -------------------------------------------------------------- */

.sport-video-link-box-3er-layout,
.sport-video-link-box-4er-layout {

   position: relative;

  /* mobile */
  width:100%;

  display: grid;

  border-radius: 1em;

  border: 4px solid rgb(201, 201, 201);

  border: 4px solid #f3f3f3;

  border: 4px solid #d7d7d7;

  transition: all .4s;

}

/* hover img  */
.sport-video-link-box-3er-layout:hover > img,
.sport-video-link-box-4er-layout:hover > img {

  opacity: 1;

}

/* hover border  */
.sport-video-link-box-3er-layout:hover,
.sport-video-link-box-4er-layout:hover {

  border: 4px solid rgb(75, 75, 75)

}

/* -------------------------------------------------------------- */
/* Nr Sport Video Link |
/* -------------------------------------------------------------- */

.nr-sport-video-link {

  position: absolute;
  left:.6em;
  top:.6em;

  z-index: 3;

  width: 1.3em;
  height: 1.3em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .8em 0 .8em 0;

  border-radius: .4em;

  background-color: rgba(0, 0, 0, .4);
  color:rgb(172, 172, 172);

}

/* Div | Nr  */
.nr-sport-video-link > div {

  font-size: 12px;
  font-weight: bold;

}

/* -------------------------------------------------------------- */
/* Img | Sport Video Link Box ( 3er, 4er layout )
/* -------------------------------------------------------------- */

.sport-video-link-box-3er-layout > img:nth-of-type(1),
.sport-video-link-box-4er-layout > img:nth-of-type(1) {

  width: 100%;
  height: 100%;

  border-radius: .7em .7em .8em .8em;

  /* box-sizing: content-box; */

  opacity: .5;

}

/* -------------------------------------------------------------- */
/* Show Me (Link) | Sport Video Link Box ( 3er, 4er layout )
/* -------------------------------------------------------------- */

.sport-video-link-box-3er-layout > a,
.sport-video-link-box-4er-layout > a {

  text-decoration: none;

  position: absolute;
  bottom: 0;

  height: 2.3em;
  width: 100%;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .4em;

  font-weight: bold;

  border-radius: 0 0 .7em .7em;

  /* background-color: rgba(121, 121, 121, 0.8); */
  background-color: rgba(255, 255, 255, .8);

  background-color: rgba(0, 0, 0, .5);
  color:rgb(176, 176, 176);

  transition: all .4s;

}

/* default unshown | black img */
.sport-video-link-box-3er-layout > a > img:nth-of-type(2),
.sport-video-link-box-4er-layout > a > img:nth-of-type(2) {

  display: none;

}

.sport-video-link-box-3er-layout > a > div,
.sport-video-link-box-4er-layout > a > div {

  font-size: 14.5px;

}

/* hover */
.sport-video-link-box-3er-layout > a:hover,
.sport-video-link-box-4er-layout > a:hover {

  background-color: wheat;
  color:black;

}

/* hover unshown grey img */
.sport-video-link-box-3er-layout > a:hover > img:nth-of-type(1),
.sport-video-link-box-4er-layout > a:hover > img:nth-of-type(1) {

  display: none;

}

/* hover show black img */
.sport-video-link-box-3er-layout > a:hover > img:nth-of-type(2),
.sport-video-link-box-4er-layout> a:hover > img:nth-of-type(2) {

  display: flex;

}

/* visited be black */
.sport-video-link-box-3er-layout > :a:visited,
.sport-video-link-box-4er-layout > a:visited {

  color:black;

}
