/* --------------------------------------------------------------------------------------- */
/* > my-it-docs.css
/*  
/* : style my it docs layout 
/* --------------------------------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* IT Docs Container 
/* ----------------------------------------------------- */

#it-docs-container {

    /* has responsive sets */

    width: 100%;
   
    padding: 5em .8em;

    display: grid;
    row-gap: 3em;

    /* background-color: red; */
   
}

/* ----------------------------------------------------- */
/* Main | It Docs Container
/* ----------------------------------------------------- */

#it-docs-container > main {

    /* has responsive sets */

    width: 100%;
    padding: 1.5em 0em;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;

    border-top: 1px dashed rgb(196, 196, 196);
    border-bottom: 1px dashed rgb(196, 196, 196);

    /* background-color: yellow; */

}