/* ------------------------------------------------------------------- */
/* > about-quick-info.css
/*
/* : styles the quick info container of about
/* ------------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* About Quick Info Container
/* -------------------------------------------------------------- */

#about-quick-info-container {

  width: 100%;
  padding: .8em;

  border-radius: .6em;

  /* --------------------------------------- */
  /* Grid Template Area Layout
  /* --------------------------------------- */

  /* mobile */
  display: grid;
  justify-items: center;

  row-gap: 1.5em;

  grid-template-areas:

    'img_quick_info_business'
    'quick_info_content_container'
    'read_more_container'

  ;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  background-color: rgb(255, 255, 255);
  /* background-color: rgb(28, 28, 28); */

}


/* -------------------------------------------------------------- */
/* Img | About Quick Info Container
/* -------------------------------------------------------------- */

#img-quick-info-business {

  grid-area: img_quick_info_business;

  height: 15em;
  border-radius: 2em;

}

/* -------------------------------------------------------------- */
/* About Quick Info Content Container
/* -------------------------------------------------------------- */

#about-quick-info-content-container {

  grid-area: quick_info_content_container;

  /* mobile */
  display: grid;

}

/* -------------------------------------------------------------- */
/* Img Arrow Seperator | About Quick Info Content
/* -------------------------------------------------------------- */

#img-arrow-seperator-about-quick-info {

  height: .8em;

  /* mobile */
  display: none;

}

/* -------------------------------------------------------------- */
/* About Quick Info Content Box
/* -------------------------------------------------------------- */

#about-quick-info-content-box {

  display: grid;
  row-gap: 1.5em;

}

/* -------------------------------------------------------------- */
/* Quick Info | About Quick Info Content Box
/* -------------------------------------------------------------- */

#about-quick-info-content-box > div:nth-of-type(1) {

  justify-self: center;

}

/* -------------------------------------------------------------- */
/* Quick Info Text | About Quick Info Content Box
/* -------------------------------------------------------------- */

#about-quick-info-text {

  text-align: center;
  line-height: 1.8em;

  color:grey;

}
