/* -------------------------------------------------------------- */
/* > my-it.css
/*
/* : default styles for my it container
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My IT Container
/* ------------------------------------------------------------- */

#my-it-container {

    width: 100%;
    display: grid;
    justify-items: center;

    grid: auto 1fr / 1fr;

}

/* ------------------------------------------------------------- */
/* Areas | It Projects, It Docs to open/close content
/* ------------------------------------------------------------- */

/* 🟣 open-close-my-it-projects-content | ...  */

#css-my-it-projects-area,
#css-my-it-docs-area {

  /* default unshown, show only by checked radio */
  display: none;

}
