/* -------------------------------------------------------------- */
/* > nav-my-it.css
/*
/* : styles nav of my it
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Nav My It
/* ------------------------------------------------------------- */

#nav-my-it {

  display: flex;
  align-items: center;
  justify-content: flex-end;

  border-radius: 1.5em 1.5em 1.5em 1.5em;

  background-color: rgb(208, 82, 82);

}

/* 🟣🟣  */
/* ------------------------------------------------------------- */
/* Switch Activ Inactive Container
/* ------------------------------------------------------------- */

.switch-active-inactive-container {

  z-index: 1;

  position: relative;
  top:0;

  display: flex;
  align-items: center;

  border-radius: 1.5em 1.5em 1.5em 1.5em;

  background-color: rgb(204, 204, 204);

  cursor: pointer;
  transition: all .4s;

}

.switch-active-inactive-container:hover {

  background-color: rgb(95, 95, 95);

}

/* ------------------------------------------------------------- */
/* Label | Switch Activ Inactive Container
/* ------------------------------------------------------------- */

.switch-active-inactive-container > label {

  height: 2.5em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  user-select: none;

  cursor: pointer;
  transition: all .4s;

}

.switch-active-inactive-container > label > div {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;
}

.switch-active-inactive-container > label:hover {

  /* background-color: wheat; */

}

/* ------------------------------------------------------------- */
/* Label 1 | Switch Activ Inactive Container
/* ------------------------------------------------------------- */

.switch-active-inactive-container > label:nth-of-type(1) {


  border-radius: 1.5em 1.5em 1.5em 1.5em;

  /* border-right: 2px solid rgb(108, 108, 108); */
  /* background-color: rgb(204, 204, 204); */

}

/* ------------------------------------------------------------- */
/* Label 2 | Switch Activ Inactive Container
/* ------------------------------------------------------------- */

.switch-active-inactive-container > label:nth-of-type(2) {

  border-radius: 1.5em 1.5em 1.5em 1.5em;

  /* opacity: .6; */

}

/* ------------------------------------------------------------- */
/* Handling
/* ------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-nav-my-it"] {

  display: none;
}

/* set label background */
#radio-nav-my-it-projects:checked ~ label[for="radio-nav-my-it-projects"],
#radio-nav-my-it-docs:checked ~ label[for="radio-nav-my-it-docs"]{

  z-index: 3;
  background-color: wheat;

}


/* ------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------- */

/* show x by radio */
#radio-my-it-projects:checked ~ #css-my-it-nav-area label[for="radio-my-it-projects"] > .custom-radio-default > img,
#radio-my-it-docs:checked ~ #css-my-it-nav-area label[for="radio-my-it-docs"] > .custom-radio-default > img {

  display: flex;

}

/* show content */
#radio-my-it-projects:checked ~ #css-my-it-projects-area,
#radio-my-it-docs:checked ~ #css-my-it-docs-area {

  display: grid;

}
