/* -------------------------------------------------------------- */
/* > resp-main-header.css
/*  
/* : responsive sets main header
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 400px width
/* -------------------------------------------------------------- */

@media (min-width: 400px ) {

    .btn-open-close-cards {
        /* desktop */
        width: 11em;
    }
    
}

/* -------------------------------------------------------------- */
/* >= 800px width
/* -------------------------------------------------------------- */

@media (min-width: 650px ) {

    #selected-sub-topic {
        /* desktop version  */
        min-width: 12em;
        max-width: 22em;
    }
    
    
}



