/* -------------------------------------------------------------- */
/* > my-private.css
/*
/* : styles my private
/* -------------------------------------------------------------- */


/* 🟣 Auslagern in my private */
#icon-my-private-header {

  height: 2em;

}


/* ------------------------------------------------------------- */
/* My Private Container
/* ------------------------------------------------------------- */

#my-private-container {

    width: 100%;
    display: grid;
}

/* ------------------------------------------- */
/* Img Icon Headline Private
/* ------------------------------------------- */

#img-icon-private-headline {

    /* mobile */
    height: 2em;
}
