/* -------------------------------------------------------------- */
/* > resp-welcome.css
/*
/* : responsive sets for the welcome about container
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
/* >= 330x width
/* -------------------------------------------------------------- */

@media (min-width: 330px ) {

    #img-welcome-clipart-me {

        /* mobile */
        height: 6.5em;
    }

    /* ------------------------------------------ */
    /* Title
    /* ------------------------------------------ */

    .welcome-title-area {

        row-gap: .3em;
    }

    #text-welcome-to {

        /* mobile */
        font-size: 1.375em;

    }

    #text-superfreshdev {

        /* mobile  */
        font-size: 1.5em;

    }

}

/* -------------------------------------------------------------- */
/* >= 400x width
/* -------------------------------------------------------------- */

@media (min-width: 400px ) {

    #img-welcome-clipart-me {

        /* mobile */
        height: 7.5em;

        padding-bottom: 1.5em;
    }

    /* ------------------------------------------ */
    /* Welcome Container
    /* ------------------------------------------ */

    /* change grid template area layout */

    #welcome-container {

        /* mobile */
        padding: 2em .8em 1.5em .8em;

        /* mobile */
        grid-template:
            "welcome-img-area welcome-title-area"
            "welcome-img-area welcome-motto-area"
            "welcome-img-area welcome-date-area"
        ;
        /* mobile */
        grid-template-columns: auto 1fr;

        /* mobile */
        column-gap: 1em;
        row-gap: 1em;
    }

    /* ------------------------------------------ */
    /* Title
    /* ------------------------------------------ */

     .welcome-title-area {

        row-gap: .4em;
    }

    .welcome-motto-area {

        /* 1.03125em = 16.5px  */
        font-size: 1.03125em;
    }

    /* ------------------------------------------ */
    /* Date
    /* ------------------------------------------ */

    .welcome-date-area {

        padding-top: 0em;
    }

}

/* -------------------------------------------------------------- */
/* >= 500x width
/* -------------------------------------------------------------- */

@media (min-width: 500px ) {

    /* ------------------------------------------ */
    /* Welcome Container
    /* ------------------------------------------ */

    #welcome-container {

        /* mobile */
        padding: 2em .8em 1.3em .8em;

    }

    #img-welcome-clipart-me {

        /* desktop */
        height: 8.5em;
    }

    /* ------------------------------------------ */
    /* Title
    /* ------------------------------------------ */

    .welcome-title-area {

        row-gap: .5em;
    }

    #text-welcome-to {

        /* desktop */
        font-size: 1.5em;

    }

    #text-superfreshdev {

        /* desktop size  */
        font-size: 1.75em;

    }

    .welcome-motto-area {

        padding-top: .4em;

        row-gap: .2em;

        /* 18px */
        font-size: 1.125em;

    }

}

/* -------------------------------------------------------------- */
/* >= 800x width
/* -------------------------------------------------------------- */

@media (min-width: 800px ) {


    #img-welcome-clipart-me {

        /* desktop */
        height: 10em;
    }

    #welcome-container {

        /* desktop */
        padding: 3em .6em 1.8em .6em;

        /* desktop */
        column-gap: 1.5em;

    }

    /* ------------------------------------------ */
    /* Title
    /* ------------------------------------------ */

    .welcome-title-area {

        row-gap: 1em;
    }

    #text-welcome-to {

        /* desktop */
        font-size: 1.8em;

    }

    #text-superfreshdev {

        /* desktop */
        font-size: 2.3em;

    }

    /* ------------------------------------------ */
    /* Date
    /* ------------------------------------------ */

    .welcome-date-area {

        /* 18px */
        font-size: 1.125em;
    }

}
