/* -------------------------------------------------------------- */
/* > resp-my-news.css
/*  
/* : responsive sets for my news
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 650px width
/* -------------------------------------------------------------- */

@media (min-width: 650px ) {

    .my-news-category > main {

        /* desktop solution */
        flex-wrap: nowrap;
       
    }

}

/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */

@media (min-width: 1200px ) {

    .my-news-overview-container {

        /* desktop solution */
        padding: 0;
    }

    .my-news-overview {

        /* desktop solution */
        padding: 3em 0;

    }

    .img-header-my-news-it-stack {

        /* desktop */
        height: 4em;
        width: 4em;
        
    }
    
    .img-header-my-news-private-lifestyle {
    
        /* desktop */
        height: 4em;
        width: 4em;
    
    }

   

}