/* ----------------------------------------------------------------------------- */
/* > impress.css
/*  
/* : styles for impress container in about page
/* ----------------------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* ...
/* ---------------------------------------------------------------- */

#impress-container-about {

    width: 100%;
    padding: 1.5em 0;

    /* width: 22em; */

    /* display: flex;
    align-items: center;

    background-color: rgb(188, 124, 5); */
}