/* -------------------------------------------------------------- */
/* > main-content-boxes.css
/*
/* : default styles for main content boxes
/* -------------------------------------------------------------- */


/* ❌❌ Trash */
/* ------------------------------------------------------- */
/* Main Content Box | Light White
/* ------------------------------------------------------- */

.main-light-white-content-box {

  padding: 100%;

  /* mobile */
  padding: 2em .8em;

  border-radius: 1em;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */

  background-color: rgba(255, 255, 255, .8);

}


/* ------------------------------------------------------- */
/* Main Content Box | Light White
/* ------------------------------------------------------- */

.main-content-box-transparent-white {

  padding: 100%;

  /* mobile */
  padding: 2em 1.3em;

  border-radius: 2em;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */

  background-color: rgba(255, 255, 255, .8);

}
