/* -------------------------------------------------------------- */
/* > info-about-sport-challenge-container.css
/* : styles info about sport challenges
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Info About Sport Challenge Container
/* -------------------------------------------------------------- */

  .info-about-sport-challenge-container {

    width: 100%;
    padding-bottom: 1.5em;

    display: grid;

    /* background-color: blue; */

  }

/* -------------------------------------------------------------- */
/* Header | Info About Sport Challenge Container
/* -------------------------------------------------------------- */

  .info-about-sport-challenge-container > header {

    height: 2.8em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
    column-gap: .4em;

    border-radius: .4em;

    background-color: #eeeeee;

  }

  .info-about-sport-challenge-container > header > div {

    font-weight: bold;
    font-size: 14.5px;

  }

/* --------------------------------------------------------------------- */
/* Header Info Workout Sport Challenge
/* --------------------------------------------------------------------- */

  .header-info-workout-sport-challenge {

    padding: .8em .8em;

  }

  .header-info-workout-sport-challenge > span {

    font-size: 14.5px;

    font-weight: bold;
    font-style: italic;

    color: rgb(169, 169, 169);

  }

/* -------------------------------------------------------------- */
/* Main | Info About Sport Challenge Container
/* -------------------------------------------------------------- */

  .info-about-sport-challenge-container > main {

    padding: 0em .4em;

    display: grid;
    row-gap: .4em;

    /* background-color: red; */

  }


/* ------------------------------------------------------------------------------------ */
/* Week Workout Sport Challenge Container | Main
/* ------------------------------------------------------------------------------------ */

  .week-workout-sport-challenge-container {

    display: flex;
    flex-wrap: wrap;

    column-gap: .4em;
    row-gap: .4em;

  }

/* ------------------------------------------------------------------------------------ */
/* Info Days Sport Workout | Week Workout Sport Challenge Container
/* ------------------------------------------------------------------------------------ */

  .info-days-sport-workout {

    height: 1.8em;
    width: 3.8em;
    padding: 0 .4em;

    display: flex;
    align-items: center;
    /* justify-content: center; */

    border-radius: .4em;

    background-color: #eeeeee;

  }

  .info-days-sport-workout > span {

    font-size: 12.5px;
    font-weight: bold;

    color:grey;

  }

/* ------------------------------------------------------------------------------------ */
/* Info Sport Workout Category | Week Workout Sport Challenge Container
/* ------------------------------------------------------------------------------------ */

  .info-sport-workout-category {

    height: 1.8em;
    padding: 0 .4em;

    display: flex;
    align-items: center;
    column-gap: .4em;

    border-radius: .4em;

    border: 2px solid #eeeeee;
    color: #adadad;

  }

  .info-sport-workout-category  > div {

    font-size: 12.5px;
    font-weight: bold;

  }
