/* -------------------------------------------------------------- */
/* > quick-info-sport-challenges.css
/* : styles quick info sport challenges
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Quick Info Sport Challenge Container
/* -------------------------------------------------------------- */

.quick-info-sport-challenge-container {

  padding: 0em 0;

  display: flex;
  /* justify-content: center; */
  /* background-color: grey; */

}

/* -------------------------------------------------------------- */
/* Quick Info Sport Challenge Box
/* -------------------------------------------------------------- */

.quick-info-sport-challenge-box {

  position: relative;

  padding: .5em 0 .5em 1em;

  display: flex;

}


/* -------------------------------------------------------------- */
/* Left Boder Stripe | Sport Challenge
/* -------------------------------------------------------------- */

.left-border-stripe-sport-challenge {

  position: absolute;
  left:0;
  top:0;

  height: 100%;
  width: 3px;

  border-radius: 2em;

  background-color: rgb(207, 207, 207);

}

/* -------------------------------------------------------------- */
/* Info Box | Sport Challenge
/* -------------------------------------------------------------- */

.info-box-sport-challenge {

  display: grid;
  row-gap: .4em;

}

/* -------------------------------------------------------------- */
/* Header | Info Box
/* -------------------------------------------------------------- */

.info-box-sport-challenge > header {

  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

}

.info-box-sport-challenge > header > div span {

  font-size: 14.5px;

}

.info-box-sport-challenge > header > div > span:nth-of-type(2) {

  color:grey;

}

/* -------------------------------------------------------------- */
/* Main | Info Box
/* -------------------------------------------------------------- */

.info-box-sport-challenge > main {

  display: flex;
  flex-wrap: wrap;
  gap: .4em;

}

/* -------------------------------------------------------------- */
/* Main | Div | Info Box
/* -------------------------------------------------------------- */

.info-box-sport-challenge > main > div {

  height: 1.6em;
  padding: 0em .3em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

  border-radius: .6em;

  border: 1px dashed rgb(77, 77, 77);
  color:grey;

}

.info-box-sport-challenge > main > div > span {

  font-size: 12.5px;
}
