/* -------------------------------------------------------------- */
/* > sport-30-video-challenges.css
/* : styles sport 30 video challenges
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport 30 Video Days Challenge Container
/* -------------------------------------------------------------- */

#sport-30-videos-challenge-container {

  width: 100%;
  padding-top: 1.5em;

  display: grid;
  justify-content: center;
  row-gap: 1.5em;

  /* border-top: 3px solid grey; */

  /* default unshown */
  display: none;

}

/* -------------------------------------------------------------- */
/* Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

.sport-15-videos-challenge-container {

  display: grid;
  row-gap: 1.5em;

}

/* -------------------------------------------------------------- */
/* Header | Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

.sport-15-videos-challenge-container > header {

  width: 100%;

  display: flex;
  align-items: center;
  /* background-color: green; */

}

/* -------------------------------------------------------------- */
/* Header (right) | Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

#sport-30-videos-challenge-container > .sport-15-videos-challenge-container:nth-of-type(2) > header {

  justify-content: flex-end;
  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/* Header | Div | Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

.sport-15-videos-challenge-container > header > div {

  height: 3em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  column-gap: .8em;

  font-weight: bold;

  border-radius: 1em;;

  background-color: rgb(240, 240, 240);

}

/* -------------------------------------------------------------- */
/* Header | Img | Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

.sport-15-videos-challenge-container > header > div > img:nth-of-type(1) {

  height: 2em;

}

/* -------------------------------------------------------------- */
/* Header | Div | Div | Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

.sport-15-videos-challenge-container > header > div > div {

  font-size: 14.5px;

}

/* -------------------------------------------------------------- */
/* Main | Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

.sport-15-videos-challenge-container > main {

  width: 100%;
  display: grid;
  justify-items: center;

  grid: auto / 1fr 1fr;

  column-gap: .8em;
  row-gap: .8em;

}
