/* -------------------------------------------------------------- */
/* > sport-30-video-challenges.css
/* : styles sport 30 video challenges
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport Challenge Quick Info
/* -------------------------------------------------------------- */

.quick-info-sport-challenge {

  padding: 1.5em 0;
  background-color: grey;

}

/* -------------------------------------------------------------- */
/* Sport 30 Video Days Challenge Container
/* -------------------------------------------------------------- */

#sport-30-videos-challenge-container {

  margin-top: 1em;
  padding: 1.5em 0 .5em 0;

  width: 100%;

  display: grid;
  justify-content: center;
  row-gap: 2em;

  border-top: 3px solid grey;

  /* default unshown */
  display: none;

}


/* -------------------------------------------------------------- */
/* Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

.sport-15-videos-challenge-container {

  display: grid;
  row-gap: 2em;

}


/* -------------------------------------------------------------- */
/* Header | Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

.sport-15-videos-challenge-container > header {

  width: 100%;

  display: flex;
  align-items: center;
  /* background-color: green; */

}

/* -------------------------------------------------------------- */
/* Header 1/2 (right) | Sport 30 Video Days Challenge Container
/* -------------------------------------------------------------- */

#sport-30-videos-challenge-container > .sport-15-videos-challenge-container:nth-of-type(2) > header {

  justify-content: flex-end;
  /* background-color: red; */

}

/* Div 1 */
#sport-30-videos-challenge-container > .sport-15-videos-challenge-container:nth-of-type(2) > header > div {

  border-radius: 3em 0em 0em 3em;

}

/* Div 2 */
#sport-30-videos-challenge-container > .sport-15-videos-challenge-container:nth-of-type(3) > header > div {

  border-radius: 0em 3em 3em 0em;

}

/* -------------------------------------------------------------- */
/* Header | Div 1 | Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

.sport-15-videos-challenge-container > header > div:nth-of-type(1) {

  padding: 1.3em .8em;

  display: flex;
  align-items: center;
  column-gap: .8em;

  font-weight: bold;

  background-color: rgb(240, 240, 240);

}

/* -------------------------------------------------------------- */
/* Header | Img 1 | Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

.sport-15-videos-challenge-container > header > div:nth-of-type(1) > img:nth-of-type(1) {

  height: 2.5em;

}

/* -------------------------------------------------------------- */
/* Main | Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

.sport-15-videos-challenge-container > main {

  width: 100%;
  display: grid;
  justify-items: center;


  grid: auto / 1fr 1fr;

  column-gap: .8em;
  row-gap: .8em;

}
