/* -------------------------------------------------------------- */
/* > my-sport-private.css
/*
/* : styles sport private
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* My Sport Private Container
/* ---------------------------------------------------------------- */

#my-sport-private-container {

  margin-top: 2em;

  display: grid;

  /* default unshown */
  display: none;

}

/* ---------------------------------------------------------------- */
/* Header Nav Sport Container
/* ---------------------------------------------------------------- */

#header-nav-sport-container {

  width: 100%;

  /* mobile */
  display: grid;
  justify-items: center;

}


/* ---------------------------------------------------------------- */
/* [1/4] | Header Sport Container
/* ---------------------------------------------------------------- */

#header-sport-container {

  /* #header-sport-private */

  width: 100%;

  /* mobile */
  display: grid;
  justify-items: center;
  row-gap: 2em;

}

#header-sport-container > .header-main-title-block:nth-of-type(1) {

  justify-self: flex-start;

}

/* ---------------------------------------------------------------- */
/* Nav Sport Drop Down Container
/* ---------------------------------------------------------------- */

#nav-sport-drop-down-container {

  display: grid;
  row-gap: .3em;

}

/* ---------------------------------------------------------------- */
/* Label | Nav Sport Drop Down Container
/* ---------------------------------------------------------------- */

#nav-sport-drop-down-container > label {

 width: 12em;

}

/* ---------------------------------------------------------------- */
/* [2/4] | Nav Sport Container
/* ---------------------------------------------------------------- */

.nav-sport-container {

  width: 100%;
  padding-top: 1em;

  /* mobile */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:.6em;

  background-color: red;

}

/* ---------------------------------------------------------------- */
/* Label | Nav Sport Container
/* ---------------------------------------------------------------- */

.nav-sport-container > label {

  /* very small mobile */
  width: 100%;

}

/* ---------------------------------------------------------------- */
/* [3/4] | ⬇️⬆️ Smooth Open Close | Nav Sport
/* ---------------------------------------------------------------- */

#smooth-open-close-nav-sport {

  width: 100%;

  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;

}

/* ---------------------------------------------------------------- */
/* [4/4] | ⬇️⬆️ Smooth Open Close | Sub Nav Sport
/* ---------------------------------------------------------------- */

#smooth-open-close-sub-nav-sport {

  width: 100%;

  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;

}
