/* -------------------------------------------------------------- */
/* > more-it-projects.css
/*
/* : styles my it more projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* More It Projects Container
/* ------------------------------------------------------------- */

#more-it-projects-container {

  width: 100%;

  /* background-color: rgb(152, 152, 252); */

}














/* ------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* Header More IT Projects
/* ------------------------------------------------------------- */

#header-more-it-projects {

  width: 100%;

  /* mobile */
  display: grid;
  justify-items: center;
  row-gap: 2em;

}

#header-more-it-projects > .header-main-title-block {

  width: 100%;

}

/* ------------------------------------------------------------- */
/* More IT Project Card Content Container
/* ------------------------------------------------------------- */

#more-it-project-card-content-container {

  padding-top: 1.5em;

}

/* ------------------------------------------------------------- */
/* Exercice, LeetCode, Mini-Projects
/* ------------------------------------------------------------- */

#exercise-it-projects-container,
#leetcode-it-projects-container,
#mini-projects-it-projects-container {

  display: grid;
  align-items: flex-start;
  row-gap: 1.5em;
  column-gap: 1.5em;

  /* default unshown */
  display: none;


}


/* 🟣🟣🟣 auslagern */
/* ------------------------------------------------------------- */
/* More IT Project Card List
/* ------------------------------------------------------------- */

.more-it-project-card {

  display: grid;


  border-radius: 1em;

  border: 3px solid rgba(115, 115, 115, .6);

}

/* ------------------------------------------------------------- */
/* Header | More IT Project Card List
/* ------------------------------------------------------------- */

.more-it-project-card > header {

  padding: .6em .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  border-radius: .8em .8em 0 0;

  background-color: grey;

}

/* ------------------------------------------------------ */
/* Div 1 | Nr Block */
/* ------------------------------------------------------ */

.more-it-project-card > header > div:nth-of-type(1) {

  height: 1.4em;
  padding: 0em .6em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .6em;

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

  letter-spacing: 1px;

  font-weight: bold;

  border-radius: .6em;

  background-color: rgb(181, 181, 181);
  color:rgb(86, 86, 86);


}

/* ------------------------------------------------------ */
/* Div 2 | Category Title */
/* ------------------------------------------------------ */

.more-it-project-card > header > div:nth-of-type(2) {

  color:rgb(62, 62, 62);
  font-weight: bold;

}


/* ------------------------------------------------------------- */
/* Main | More IT Project Card List
/* ------------------------------------------------------------- */

.more-it-project-card > main {

  padding: 1em .8em;

  display: grid;
  row-gap: .8em;

  background-color: rgb(164, 164, 164);

}

/* div 1 - project title */
.more-it-project-card > main > div:nth-of-type(1) {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

  font-weight: bold;

}


/* div 2 - project tech stack list */
.more-it-project-card > main > div:nth-of-type(2) {

  display: flex;
  flex-wrap: wrap;
  gap: .4em;


}

/* tech stack items */
.more-it-project-card > main > div:nth-of-type(2) > div {

  height: 1.8em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10.5px;
  font-weight: bold;

  border-radius: .6em;

  background-color: rgb(198, 198, 198);
  color:rgb(138, 138, 138);




}


/* ------------------------------------------------------------- */
/* Footer | More IT Project Card List
/* ------------------------------------------------------------- */

.more-it-project-card > footer {

  padding: .6em .4em;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: .6em;

  border-radius: 0 0 .8em .8em;

  background-color: grey;

}

/* ------------------------------------------------------------- */
/* Link Footer
/* ------------------------------------------------------------- */

.more-it-project-card > footer > a {

  text-decoration: none;

}

.more-it-project-card > footer > a:visited {

  color:black;

}

.more-it-project-card > footer > a div {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

}
