/* -------------------------------------------------------------- */
/* > nav-more-it-projects.css
/*
/* : styles nav more it projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Nav More It Projects
/* ------------------------------------------------------------- */

#nav-more-it-projects {

  width: 100%;

  /* mobile */
  padding-top: 2em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:.6em;


  /* background-color: rgb(144, 144, 144); */

  background-color: red;

}

/* ------------------------------------------------------------- */
/* ⬇️⬆️ | Smooth Open Close | Nav More IT Projects
/* ------------------------------------------------------------- */

#smooth-open-close-nav-more-it-projects {

  width: 100%;

  display: grid;
  grid-template-rows: 0fr;

  transition: grid-template-rows 0.3s ease-out;

}

/* ------------------------------------------------------------- */
/* Handlings
/* ------------------------------------------------------------- */

/* default unshown */
#chk-show-me-more-it-projects,
input[name="name-radio-more-it-projects"] {

  display: none;

}

/* ------------------------------------------ */
/* Checkbox Hanlding
/* ------------------------------------------ */

/* set background | checkbox */

/* change img arrow rotation */


/* show content */
#chk-show-me-more-it-projects:checked ~ #smooth-open-close-nav-more-it-projects {

  grid-template-rows: 1fr;

}

/* ------------------------------------------ */
/* Radio Hanlding
/* ------------------------------------------ */

/* set background | radios */
#radio-more-it-project-exercices:checked ~ #smooth-open-close-nav-more-it-projects label[for="radio-more-it-project-exercices"],
#radio-more-it-project-leetcode:checked ~ #smooth-open-close-nav-more-it-projects label[for="radio-more-it-project-leetcode"],
#radio-more-it-project-mini-projects:checked ~ #smooth-open-close-nav-more-it-projects label[for="radio-more-it-project-mini-projects"] {

  background-color: wheat;
}

/* show content */
#radio-more-it-project-exercices:checked ~ #smooth-open-close-nav-more-it-projects #exercise-it-projects-container,
#radio-more-it-project-leetcode:checked ~ #smooth-open-close-nav-more-it-projects #leetcode-it-projects-container,
#radio-more-it-project-mini-projects:checked ~ #smooth-open-close-nav-more-it-projects #mini-projects-it-projects-container {

  display: grid;

}
