/* -------------------------------------------------------------- */
/* > main-body.css
/*
/* : default sets for main body
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Main Body
/* ---------------------------------------------------------------- */

#main-body {

  /* important: to go by max height of parent element */
  height: 100%;

  /* because of fixed header height 5em default */
  padding-top: 4.5em;

  /* i: ji-c to let layout in the middle  */
  display: grid;
  /* grid: 1fr / 1fr; */

  background-color: white;

}
