/* -------------------------------------------------------------- */
/* > main-body.css
/*
/* : default sets for main body
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Main Body
/* ---------------------------------------------------------------- */

#main-body {

  /* important: to go by max height of parent element */
  height: 100%;

  /* because of fixed header height 5em default */
  padding-top: 5em;

  /* i: ji-c to let layout in the middle  */
  display: grid;
  /* grid: 1fr / 1fr; */

  background-color: white;

}

/* ------------------------------------------------------- */
/* 🟣🟣🟣 Main Content Elements
/* ------------------------------------------------------- */

/* ------------------------------------------------------- */
/* Main Light White | Content Box
/* ------------------------------------------------------- */

.main-light-white-content-box {

  padding: 100%;

  /* mobile */
  padding: 2em .8em;

  border-radius: 1em;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */

  background-color: rgba(255, 255, 255, .8);


}


/* ------------------------------------------------------- */
/* Header Main Container
/* ------------------------------------------------------- */

.header-main-container {

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

}


/* ------------------------------------------------------- */
/* Title Block | Header Main Container
/* ------------------------------------------------------- */

.header-main-title-block {

  display: flex;
  align-items: center;
  column-gap: 1em;

}

#img-top-it-project-header {

  height: 2.3em;
}

/* ------------------------------------------------------- */
/* Title Area | Title Block
/* ------------------------------------------------------- */

.header-main-title-area {

  line-height: 1.6em;

}

/* ------------------------------------------------------- */
/* Title | Title Area
/* ------------------------------------------------------- */

.header-main-title {

  font-size: 1.25em;
  font-weight: bold;

}

/* ------------------------------------------------------- */
/* Sub Title | Title Area
/* ------------------------------------------------------- */

.header-main-sub-title {

  font-weight: bold;
  color:grey;

}


/* 🟣🟣🟣 */
/* ------------------------------------------------------- */
/*  Drop Down Element
/* ------------------------------------------------------- */

.drop-down-element {

  height: 2.3em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .4em;

  font-weight: bold;

  border-radius: .8em;


  background-color: #b8b8b8;
  /* background-color: grey; */

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

.drop-down-element:hover {

  background-color: wheat;
}


/* ------------------------------------------------------- */
/* Title Block | Drop Down Element
/* ------------------------------------------------------- */

.drop-down-title-block-element {

  display: flex;
  align-items: center;
  column-gap: .6em;

}
