/* -------------------------------------------------------------- */
/* > main-body.css
/*
/* : default sets for main body
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Main Body
/* ---------------------------------------------------------------- */

#main-body {

  /* important: to go by max height of parent element */
  height: 100%;

  /* because of fixed header height 5em default */
  padding-top: 5em;

  /* i: ji-c to let layout in the middle  */
  display: grid;
  /* grid: 1fr / 1fr; */

  background-color: white;

}


/* ---------------------------------------------------------------- */
/* Resp Main Padding Wrapper
/* ---------------------------------------------------------------- */

.resp-main-padding-wrapper {

  /* to show over background img */
  z-index: 2;
  padding: 1em 1.5em;

}

/* ------------------------------------------------------- */
/* Main Light White | Content Box
/* ------------------------------------------------------- */

.main-light-white-content-box {

  padding: 100%;

  /* mobile */
  padding: 2.3em .8em;

  border-radius: 1em;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  background-color: rgba(255, 255, 255, .8);


}
