/* ----------------------------------------------------------------------------- */
/* > actually-news.css
/*  
/* : styles the actually news container
/* ----------------------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/*  Actually News Container
/* ---------------------------------------------------------------- */

#actually-news-container {

    /* width: 100%; */

    display: grid;
    row-gap: 1.3em;

    /* background-color: rgb(154, 154, 154); */
}

/* ---------------------------------------------------------------- */
/*  Header | Actually News Container
/* ---------------------------------------------------------------- */

#actually-news-container > header {

    padding: .8em;
   
    display: flex;
    align-items: center;
    column-gap: 1em;

    font-weight: bold;

    background-color: rgb(201, 201, 201);
}

/* ---------------------------------------------------------------- */
/*  Main | Actually News Container
/* ---------------------------------------------------------------- */

#actually-news-container > main {

   
    display: grid;
    row-gap: 1em;
   

    /* background-color: rgb(154, 154, 154); */
}

