/* ----------------------------------------------------------------------------- */
/* > actually-news.css
/*  
/* : styles the actually news container
/* ----------------------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/*  Actually News Container
/* ---------------------------------------------------------------- */

#actually-news-container {

    display: grid;
    row-gap: 1.3em;

    /* background-color: rgb(154, 154, 154); */
}

/* ---------------------------------------------------------------- */
/*  Header | Actually News Container
/* ---------------------------------------------------------------- */

#actually-news-container > header {

   
    display: flex;
    align-items: center;

    font-weight: bold;

    background-color: grey;
}

/* ---------------------------------------------------------------- */
/*  Main | Actually News Container
/* ---------------------------------------------------------------- */

#actually-news-container > main {

   
    display: grid;
   

    /* background-color: rgb(154, 154, 154); */
}

