/* ----------------------------------------------------------------------------- */
/* > done-news.css
/*  
/* : styles the done news container 
/* ----------------------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/*  Done News Container
/* ---------------------------------------------------------------- */

#done-news-container {

    display: grid;
    /* row-gap: 1.3em; */

    /* background-color: rgb(154, 154, 154); */
}

/* ---------------------------------------------------------------- */
/*  Header | Done News Container
/* ---------------------------------------------------------------- */

#done-news-container > header {

    height: 4em;
    padding: 0 .8em 0 1.3em;
   
    display: flex;
    align-items: center;
    column-gap: 1em;

    font-weight: bold;

    background-color: lightgreen;
    
}

/* ---------------------------------------------------------------- */
/*  Main | Done News Container
/* ---------------------------------------------------------------- */

#done-news-container > main {

    padding: 1em 1.2em;

    display: grid;
    row-gap: 1.3em;

    background-color: rgb(222, 239, 222);

    /* background-color: rgb(154, 154, 154); */
}

/* ---------------------------------------------------------------- */
/*  Done News Radio Tab Panel 
/* ---------------------------------------------------------------- */

#done-news-radio-tab-panel {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    column-gap: .4em;

    padding-bottom: 1em;

    border-bottom: 1px solid rgb(211, 211, 211);;

}

/* ---------------------------------------------------------------- */
/*  Done News List
/* ---------------------------------------------------------------- */

#done-news-list {

    padding: .6em 0;

    display: grid;
    row-gap: .8em;

    color: rgb(169, 169, 169);

    /* background-color: red; */
}
