/* ----------------------------------------------------------------------------- */
/* > done-news.css
/*  
/* : styles the done news container 
/* ----------------------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/*  Done News Container
/* ---------------------------------------------------------------- */

#done-news-container {

    display: grid;
    row-gap: 1.3em;

    /* background-color: rgb(154, 154, 154); */
}

/* ---------------------------------------------------------------- */
/*  Header | Done News Container
/* ---------------------------------------------------------------- */

#done-news-container > header {

   
    display: flex;
    align-items: center;

    font-weight: bold;

    background-color: lightgreen;
    
}

/* ---------------------------------------------------------------- */
/*  Main | Done News Container
/* ---------------------------------------------------------------- */

#done-news-container > main {

   
    display: grid;
   

    /* background-color: rgb(154, 154, 154); */
}

