/* ----------------------------------------------------------------------------- */
/* > news.css
/*  
/* : styles the news container of about page 
/* ----------------------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* News Container
/* ---------------------------------------------------------------- */

#news-container {

    width: 100%;
    display: grid;

    /* background-color: white; */
      
}


/* ---------------------------------------------------------------- */
/* Label | News Header 
/* ---------------------------------------------------------------- */

#lbl-news-header {

    
    height: 4em;

    padding: 0 .8em 0 .6em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color:#424242;

    

    /* background-color: rgb(209, 209, 209); */
   

    cursor: pointer;

    transition: all .4s;
}

#lbl-news-header:hover {

    background-color: wheat;

    color:rgb(100, 100, 100);

    /* background-color: rgb(44, 44, 44);
    color:white; */
}

/* ---------------------------------------------------------------- */
/* Title Label | News Header 
/* ---------------------------------------------------------------- */

#title-lbl-news-header {

    display: flex;
    align-items: center;
    column-gap: .3em;

    font-weight: bold;

}

/* ------------------------------------------ */
/* Thunder Box | News
/* ------------------------------------------ */ 

#thunder-box-news {

    height: 2.5em;
    width: 1.8em;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: red; */

}

#thunder-box-news > img {

    height: 1.3em;
}

#thunder-box-news > img:nth-of-type(2) {

    display: none;
}

/* ------------------------------------------ */
/* Title Box | News 
/* ------------------------------------------ */ 

#title-box-news {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: .1em;

}

#title-box-news > div:nth-of-type(2) {

    padding-left: .3em;
}

/* ------------------------------------------ */
/* Info Open Close | News header
/* ------------------------------------------ */ 

#info-open-close-news-header {

    display: flex;
    align-items: center;
    column-gap: .8em;

    font-weight: bold;
}

#info-open-close-news-header > img:last-child {

    height: .7em;
    transition: all .4s;
}


#info-show-close-news-header > div:nth-of-type(2) {

    display: none;
}


/* ---------------------------------------------------------------------------------- */
/* ⬆️⬇️ Smooth | News List Container
/* ---------------------------------------------------------------------------------- */

#smooth-news-list-container {

    display: grid;
    grid-template-rows: 0fr;

    transition: grid-template-rows 0.3s ease-out;
}

#news-list-container {

    display: grid;

}

/* ---------------------------------------------------- */
/* News Doing Item Box
/* ---------------------------------------------------- */ 

.news-doing-item-box {

    display: grid;
    row-gap: .8em;

}

.line-dashed-seperator {
   
    border-bottom: 1px dashed rgb(132, 132, 132);
}

/* ---------------------------------------------------- */
/* News Task Item  ( doing / done )
/* ---------------------------------------------------- */ 

.news-task-item {

    display: flex;
    column-gap: .4em;
}

/* ---------------------------------------------------- */
/* Index Status Item News Task  ( doing / done )
/* ---------------------------------------------------- */ 

.index-status-item-news-task {

    display: flex;
    column-gap: .3em;

}

/* ---------------------------------------------------- */
/* Index News Task ( doing / done )
/* ---------------------------------------------------- */ 

.index-news-task {

    width: 2em;
    font-weight: bold;
    /* background-color: magenta; */

}

/* ---------------------------------------------------------------- */
/*  Status Doing
/* ---------------------------------------------------------------- */

.status-now,
.status-after,
.status-later,
.status-infinity {

    font-size: 14.5px;

    height: 1.5em;
    padding: 0 .4em;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    border-radius: .4em;

}

.status-now {

    background-color: rgb(240, 90, 90);
    color:rgb(53, 53, 53);

}

.status-after {

    background-color: #ffde09;
    color:rgb(53, 53, 53);

}

.status-later {
    
    background-color: rgb(196, 196, 196);
    color:rgb(53, 53, 53);

}

.status-infinity {

    /* background-color: rgb(205, 205, 205); */

    border: 1px dashed white;
}


/* ---------------------------------------------------- */
/* Title News ask ( doing / done )
/* ---------------------------------------------------- */ 

.title-news-task {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: .3em;

    /* background-color: pink; */

}

.title-news-task > div:nth-of-type(1) {

    font-weight: bold;
}

.title-news-task > div:nth-of-type(2) {

    color:grey;
}

.title-news-task a {

    color: rgb(124, 124, 124);
}

.title-news-task a:visited {

    color: rgb(124, 124, 124);
}



/* ---------------------------------------------------------------------------------- */
/* Checkbox-Label Handling | Show/Close News Container
/* ---------------------------------------------------------------------------------- */

/* ################### */
/* Styling 
/* ################### */

#chk-news {

    display: none;
}

#chk-news:checked + #lbl-news-header {

    background-color: wheat;
}

#chk-news:checked + #lbl-news-header:hover {


    background-color: rgb(217, 217, 217);
}


/* Show Yellow Thunder & Unshown Grey Thunder  */
#chk-news:checked + #lbl-news-header #thunder-box-news > img:nth-of-type(1) {

    display: none;
}

#chk-news:checked + #lbl-news-header #thunder-box-news > img:nth-of-type(2) {

    display: flex;
}

#chk-news:checked + #lbl-news-header #thunder-box-news > img {

    animation: diagonal 1s infinite ease;
}

/* change title colors  */
#chk-news:checked + #lbl-news-header #title-box-news > div:nth-of-type(1) {

    color:rgb(255, 222, 9);

    color:black;
}

#chk-news:checked + #lbl-news-header #title-box-news > div:nth-of-type(2) {

    color:rgb(92, 92, 92);
    text-decoration: underline;
}

/* Info Open Close News Header */
#chk-news:checked + #lbl-news-header #info-open-close-news-header > img:last-child {

    transform: rotate(180deg);

}

#chk-news:checked + #lbl-news-header #info-show-close-news-header > div:nth-of-type(1) {

    display: none;
}

#chk-news:checked + #lbl-news-header #info-show-close-news-header > div:nth-of-type(2) {

    display: flex;
}


/* ################### */
/* Movement
/* ################### */

#chk-news:checked ~ #smooth-news-list-container {

    grid-template-rows: 1fr;
}

