/* ----------------------------------------------------------------------------- */
/* > news.css
/*  
/* : styles the news container of about page 
/* ----------------------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* News Container
/* ---------------------------------------------------------------- */

#news-container {

    width: 100%;
    
    /* background-color: red; */
}


/* ---------------------------------------------------------------- */
/* Label | News Header 
/* ---------------------------------------------------------------- */

#lbl-news-header {

    height: 3.5em;

    padding: 0 .8em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color:grey;

    cursor: pointer;

    transition: all .4s;
}

#lbl-news-header:hover {

    background-color: wheat;

    /* background-color: rgb(44, 44, 44);
    color:white; */
}

/* ---------------------------------------------------------------- */
/* Title Label | News Header 
/* ---------------------------------------------------------------- */

#title-lbl-news-header {

    display: flex;
    align-items: center;
    column-gap: .3em;

    font-weight: bold;

}

/* ------------------------------------------ */
/* Thunder Box | News
/* ------------------------------------------ */ 

#thunder-box-news {

    height: 2.5em;
    width: 1.8em;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: red; */

}

#thunder-box-news > img {

    height: 1.3em;
}

#thunder-box-news > img:nth-of-type(2) {

    display: none;
}

/* ------------------------------------------ */
/* Title Box | News 
/* ------------------------------------------ */ 

#title-box-news {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: .1em;

}

#title-box-news > div:nth-of-type(2) {

    padding-left: .3em;
}

/* ------------------------------------------ */
/* Info Open Close | News header
/* ------------------------------------------ */ 

#info-open-close-news-header {

    display: flex;
    align-items: center;
    column-gap: .8em;

    font-weight: bold;
}

#info-open-close-news-header > img:last-child {

    height: .7em;
    transition: all .4s;
}


#info-show-close-news-header > div:nth-of-type(2) {

    display: none;
}


/* ---------------------------------------------------------------------------------- */
/* ⬆️⬇️ Smooth | News List Container
/* ---------------------------------------------------------------------------------- */

#smooth-news-list-container {

    display: grid;
    grid-template-rows: 0fr;

    transition: grid-template-rows 0.3s ease-out;
}

#news-list-container {

    padding: .8em;

    display: grid;
    row-gap: 1em;
}

/* ---------------------------------------------------- */
/* News Doing Item Box
/* ---------------------------------------------------- */ 

.news-doing-item-box {


}

/* ---------------------------------------------------- */
/* News Doing Item
/* ---------------------------------------------------- */ 

.news-doing-item {


}

/* ---------------------------------------------------------------- */
/*  Status
/* ---------------------------------------------------------------- */

.status-now,
.status-after,
.status-later,
.status-infinity {

    height: 1.6em;
    padding: 0 .6em;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    border-radius: .4em;

}

.status-now {

    background-color: rgb(240, 90, 90);

}

.status-after {

    background-color: rgb(255, 222, 9);

}


.status-later {
    
    background-color: rgb(196, 196, 196);

}

.status-infinity {

    /* background-color: rgb(205, 205, 205); */

    border: 1px dashed black;
}


/* ---------------------------------------------------------------------------------- */
/* Checkbox-Label Handling | Show/Close News Container
/* ---------------------------------------------------------------------------------- */

/* ################### */
/* Styling 
/* ################### */

#chk-news {

    display: none;
}

#chk-news:checked + #lbl-news-header {

    background-color: rgb(28, 28, 28);
}

#chk-news:checked + #lbl-news-header:hover {

    background-color: rgb(59, 59, 59);
}


/* Show Yellow Thunder & Unshown Grey Thunder  */
#chk-news:checked + #lbl-news-header #thunder-box-news > img:nth-of-type(1) {

    display: none;
}

#chk-news:checked + #lbl-news-header #thunder-box-news > img:nth-of-type(2) {

    display: flex;
}

#chk-news:checked + #lbl-news-header #thunder-box-news > img {

    animation: diagonal 1s infinite ease;
}

/* change title colors  */
#chk-news:checked + #lbl-news-header #title-box-news > div:nth-of-type(1) {

    color:rgb(255, 222, 9);
}

#chk-news:checked + #lbl-news-header #title-box-news > div:nth-of-type(2) {

    color:white;
    text-decoration: underline;
}

/* Info Open Close News Header */
#chk-news:checked + #lbl-news-header #info-open-close-news-header > img:last-child {

    transform: rotate(180deg);

}

#chk-news:checked + #lbl-news-header #info-show-close-news-header > div:nth-of-type(1) {

    display: none;
}

#chk-news:checked + #lbl-news-header #info-show-close-news-header > div:nth-of-type(2) {

    display: flex;
}


/* ################### */
/* Movement
/* ################### */

#chk-news:checked ~ #smooth-news-list-container {

    grid-template-rows: 1fr;
}

