/* -------------------------------------------------------------- */
/* > my-it-project-top-nav.css
/*
/* : handle nav of 3 radio labels to switch content of
     my 3 top it projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Handling | Styling | Label
/* ------------------------------------------------------------- */

input[name="name-radio-my-it-projects-top-nav-3"] {

  display: none;
}

/* ---------------------------------- */
/* set background */
/* ---------------------------------- */

#radio-my-it-projects-top-web-desgin:checked ~ nav:nth-of-type(1) label[for="radio-my-it-projects-top-web-desgin"],
#radio-my-it-projects-top-web-dev:checked ~ nav:nth-of-type(1) label[for="radio-my-it-projects-top-web-dev"],
#radio-my-it-projects-top-software-dev:checked ~ nav:nth-of-type(1) label[for="radio-my-it-projects-top-software-dev"] {

  background-color: wheat;

}

/* ---------------------------------- */
/* set x */
/* ---------------------------------- */

#radio-my-it-projects-top-web-desgin:checked ~ nav:nth-of-type(1) label[for="radio-my-it-projects-top-web-desgin"] .custom-radio-default > img,
#radio-my-it-projects-top-web-dev:checked ~ nav:nth-of-type(1) label[for="radio-my-it-projects-top-web-dev"] .custom-radio-default > img,
#radio-my-it-projects-top-software-dev:checked ~ nav:nth-of-type(1) label[for="radio-my-it-projects-top-software-dev"] .custom-radio-default > img {

  display: flex;

}
