/* -------------------------------------------------------------- */
/* > my-it-project-top.css
/*
/* : style my it project top container where u can see my
     top 3 it projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Top Container | My IT Projects
/* ------------------------------------------------------------- */

#my-it-projects-top-container {

  width: 100%;


  display: grid;
  justify-items: center;

  row-gap: 3em;

  /* background-color: grey; */
}

/* ------------------------------------------------------------- */
/* Nav | Top Container
/* ------------------------------------------------------------- */

#my-it-projects-top-container > nav:nth-of-type(1) {

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: .8em;
  row-gap: .8em;

  background-color: blue;
}


/* ------------------------------------------------------------- */
/* Nav Label | Top Container
/* ------------------------------------------------------------- */

#my-it-projects-top-container > nav:nth-of-type(1) > label {

  /* mobile */
  width: 100%;

}

/* ------------------------------------------------------------- */
/* My It Project Top Card List | Top Container
/* ------------------------------------------------------------- */

#my-it-project-top-card-list {

  width: 100%;

  padding: 4em 0;

  border-top: 1px solid rgb(140, 140, 140);
  border-bottom: 1px solid rgb(140, 140, 140);

  /* mobile */
  display: grid;
  justify-items: center;
  justify-content: center;

  align-items: flex-start;

  grid-template-areas:

    'it-project-top-card-1'
    'it-project-top-card-seperator-1'
    'it-project-top-card-2'
    'it-project-top-card-seperator-2'
    'it-project-top-card-3'
  ;

}

/* ------------------------------------------------------------- */
/* Seperator | My IT Project Top Card
/* ------------------------------------------------------------- */

.my-it-project-top-card-seperator {

  height: 6em;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: red;

}

/* ------------------------------------------------------------- */
/* Grid Areas for 2 Top IT Project Card Seperators
/* ------------------------------------------------------------- */

#grid-area-top-it-project-card-seperator-1 {

  grid-area: it-project-top-card-seperator-1;
}

#grid-area-top-it-project-card-seperator-2 {

  grid-area: it-project-top-card-seperator-2;
}
