/* -------------------------------------------------------------- */
/* > my-it-project-top-card.css
/*
/* : styles the it project top card
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My IT Project Top Card
/* ------------------------------------------------------------- */

.my-it-project-top-card {

  /* mobile */
  width: 100%;

  display: grid;
  justify-items: center;
  align-content: flex-start;

  border-radius: .8em;

  border:1px solid rgb(144, 144, 144);
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

  transition: all .4s;

}

.my-it-project-top-card:hover {

  /* background-color: rgb(166, 166, 166); */
}

/* ------------------------------------------------------------- */
/* Main | My IT Project Top Card
/* ------------------------------------------------------------- */

.my-it-project-top-card > main {

  padding: 1em .8em;

  display: grid;
  justify-items: center;
  row-gap: 1em;

}

/* special optimal layout fix */
.my-it-project-top-card > main .focial-points-container {

  padding-bottom: 1em;

}

/* ------------------------------------------------------------- */
/* Header | My IT Project Top Card
/* ------------------------------------------------------------- */

.my-it-project-top-card-header {

  height: 4em;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* ----------------------------------------------- */
/* Header Info
/* ----------------------------------------------- */

.my-it-project-top-card-header-info {

  padding: 0 .4em;

  font-size: 1.25em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .6em;

  font-weight: bold;

  color:rgb(28, 28, 28)

}

/* ----------------------------------------------- */
/* Project Status Info
/* ----------------------------------------------- */

.my-it-project-top-card-status-in-progress,
.my-it-project-top-card-status-coming-soon {

  padding: 0 .4em;

  font-size: 1.125em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .3em;

  font-weight: bold;
  font-style: italic;

}

/* in progress */
.my-it-project-top-card-status-in-progress {

  background-color: rgb(241, 223, 21);
  color:rgb(52, 51, 41);

}

/* coming soon */
.my-it-project-top-card-status-coming-soon {

  background-color: rgb(103, 186, 254);
  color:rgb(52, 51, 41);

}

/* ------------------------------------------------------------- */
/* Media Container | My IT Project Top Card
/* ------------------------------------------------------------- */

.my-it-project-top-card-media-container {

  width: 100%;

  display: flex;
  align-items: center;

}

.my-it-project-card-top-img {

  width: 100%;
  border-radius: .8em;

}

/* ------------------------------------------------------------- */
/* Title | My IT Project Top Card
/* ------------------------------------------------------------- */

.my-it-project-top-card-title {

  font-size: 1em;
  line-height: 1.6em;

}

.my-it-project-top-card-title > span {

  font-weight: bold;

}
