/* -------------------------------------------------------------- */
/* > more-it-project.card.css
/*
/* : styles my it more projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* IT Project More Card
/* ------------------------------------------------------------- */

.it-project-more-card {

  /* min-width: 100%; */
  width: 100%;

  display: grid;

  border-radius: 1em;

  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

  transition: all .4s;

}

/* ------------------------------------------------------------- */
/* Hover | IT Project More Card
/* ------------------------------------------------------------- */

.it-project-more-card:hover {

  background-color: rgb(246, 246, 246);
}

/* ------------------------------------------------------------- */
/* Header | IT Project More Card
/* ------------------------------------------------------------- */

.it-project-more-card > header {

  /* height: 2.3em; */
  padding: .6em .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: bold;

  border-radius: 1em 1em 0 0;

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* Header | Div 1 | Span | IT Project More Card
/* ------------------------------------------------------------- */

.it-project-more-card > header > div:nth-of-type(1) > span {

  font-size: 14.5px;
  letter-spacing: 1px;

}

/* ------------------------------------------------------------- */
/* Header | Div 2 |  IT Project More Card
/* ------------------------------------------------------------- */

.it-project-more-card > header > div:nth-of-type(2) {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

/* ------------------------------------------------------------- */
/* Main | IT Project More Card
/* ------------------------------------------------------------- */

.it-project-more-card > main {

  padding: 0em .8em;

  display: grid;
  row-gap: .4em;

  color:rgb(191, 182, 182);

}

/* ------------------------------------------------------------- */
/* Main | Div 1 |  IT Project More Card
/* ------------------------------------------------------------- */

.it-project-more-card > main > div:nth-of-type(1) {

  font-size: 14.5px;

}

/* ------------------------------------------------------------- */
/* Tech Stack More IT Projects Container | Main
/* ------------------------------------------------------------- */

.tech-stack-more-it-projects-container {

  padding-bottom: .8em;

  display: flex;
  flex-wrap: wrap;
  column-gap: .3em;
  row-gap: .3em;

}

/* ------------------------------------------------------------- */
/* Tech Stack More IT Projects Container | Div
/* ------------------------------------------------------------- */

.tech-stack-more-it-projects-container > div {

  height: 1.3em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .4em;

  border: 1px dashed rgb(217, 217, 217);

  /* background-color: rgb(247, 247, 247); */

}

/* ------------------------------------------------------------- */
/* Tech Stack More IT Projects Container | Div |Div
/* ------------------------------------------------------------- */

.tech-stack-more-it-projects-container > div > div {

  font-size: 12px;

}

/* ------------------------------------------------------------- */
/* Footer | IT Project More Card
/* ------------------------------------------------------------- */

.it-project-more-card > footer {

  height: 2.8em;
  margin: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  border-radius: 0em 0em 1em 1em;

  border-top: 1px solid rgb(223, 223, 223);

  /* background-color: gold; */

}

/* ------------------------------------------------------------- */
/* Zip Github Link Container | Footer
/* ------------------------------------------------------------- */

.zip-github-link-container-more-it-project {

  display: flex;
  align-items: center;
  column-gap: .3em;

}
