/* -------------------------------------------------------------- */
/* > more-it-projects.css
/*
/* : styles my it more projects
/* -------------------------------------------------------------- */





/* ------------------------------------------------------------- */
/* Exercice, LeetCode, Mini-Projects
/* ------------------------------------------------------------- */

#exercise-it-projects-container,
#leetcode-it-projects-container,
#mini-projects-it-projects-container {

  width: 100%;

  margin-top: 2em;
  /* padding: 2em 0; */

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap:2em;

  /* border-top: 3px solid rgb(202, 202, 202); */

  /* default unshown */
  display: none;


}
