/* -------------------------------------------------------------- */
/* > resp-handle-header-main-content-area.css
/*  
/* : responsive sets for handle header & main content area
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 800px width
/* -------------------------------------------------------------- */
@media (min-width: 800px ) {

    .handle-header-content-area {
        width: 90%
    }


}

/* -------------------------------------------------------------- */
/* >= 900px width
/* -------------------------------------------------------------- */
@media (min-width: 900px ) {

    .handle-header-content-area {
        width: 45em;
    }
    
}

/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */
@media (min-width: 1200px ) {

    .handle-main-content-area {
        width: 65em;
    }

    .handle-max-content-area {
        width: 95%;
    }

}