/* -------------------------------------------------------------- */
/* > my-food-private.css
/*
/* : styles food private
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* My Food Private Container
/* ---------------------------------------------------------------- */

#my-food-private-container {

  margin-top: 4em;

  display: grid;

  /* background-color: rgb(234, 0, 255); */

  /* default unshown */
  display: none;

}
