/* ------------------------------------------------------------------- */
/* > h1-containers.css 
/* 
/* : My Art "How i like to have my h1 container styles"
/* : style the h1 content containers in dark & light version 

/* ------------------------------------------------------------------- */


/* -------------------------------------------------------- */
/*  H1 Container | light-black / light-grey
/* -------------------------------------------------------- */

.h1-container-light-black,
.h1-container-light-grey {

    /* because of parent grid layout */
    justify-self: flex-start;

    padding: 1em 1.3em;

    display: flex;
    align-items: center;
    column-gap: 1.3em;

    border-radius: .6em;

}

.h1-container-light-black {

    background-color: rgb(28, 28, 28);
    color: white;

}

.h1-container-light-grey {

    background-color: rgb(220, 220, 220);
}

/* --------------------------------- */
/* H1 Title 
/* --------------------------------- */

.h1-container-light-black > .h1-title,
.h1-container-light-grey > .h1-title {

    /* Position Fix: better proposition */
    padding-top: .3em;

    display: grid;
    row-gap: .3em;

    /* background-color: red; */
    
}

.h1-container-light-black > .h1-title > div:nth-of-type(1),
.h1-container-light-grey > .h1-title > div:nth-of-type(1) {

    font-size: 1.5em;
    font-weight: bold;

}

.h1-container-light-black > .h1-title > div:nth-of-type(2),
.h1-container-light-grey > .h1-title > div:nth-of-type(2) {

    color: grey;
}
