/* -------------------------------------------------------------- */
/* > custom-select.css
/*  
/* : styles custom select css
/* -------------------------------------------------------------- */

/* ------------------------------------------------- */
/* Custom Selected & 2 defined arts
/* ------------------------------------------------- */

.custom-selected,
.custom-selected-topic,
.custom-selected-sub-topic {

    padding: 0 .8em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: .6em;

    font-weight: bold;

    cursor: pointer;
    transition: all .4s;

}


/* ------------------------------------------------- */
/* Custom Selected | Topic
/* ------------------------------------------------- */

.custom-selected-topic {

    height: 3.5em;  
    min-width: 12em;

    background-color: rgb(122, 122, 122);
    color:wheat;
    /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    color:white; */
}

.custom-selected-topic:hover {

}


/* ------------------------------------------------- */
/* Custom Selected | Sub Topic
/* ------------------------------------------------- */

.custom-selected-sub-topic {

    height: 3em;  
    
    /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%); */
    background-color: rgb(85, 85, 85);
    color:white;

}

.custom-selected-sub-topic:hover {
    background-color: rgb(47, 47, 47);
}

/* ------------------------------------------------- */
/* Title | Custom Selected | Container
/* ------------------------------------------------- */

.title-cs-container {

    display: flex;
    align-items: center;
    column-gap: 1em;
}

/* ------------------------------------------------- */
/* Img | Beginning | Custom Select
/* ------------------------------------------------- */

.img-beginning-cs-topic {
    height: 1.5em;
}

.img-beginning-cs-sub-topic {
    height: 1.2em;
}

/* ------------------------------------------------- */
/* Img | Arrow up/down | Custom Select
/* ------------------------------------------------- */

.img-arrow-up-down-cs-topic {
    height: 1em;
}

.img-arrow-up-down-cs-sub-topic {
    height: .8em;
}

/* ------------------------------------------------- */
/* Custom Select List | Default, 2 def. Arts
/* ------------------------------------------------- */

.custom-select-list,
.custom-select-list-topic,
.custom-select-list-sub-topic {

    display: grid;
    row-gap: .8em;

}

/* ------------------------------------- */ 
/* Label | Topic & Sub Topic Item  */
/* ------------------------------------- */ 

.lbl-cs-topic-item,
.lbl-cs-sub-topic-item {

    padding-right: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: .6em;

    font-weight: bold;

    cursor: pointer;
    transition: all .4s;

}

/* --------------------------------------- */
/* Title Item | Topics & Sub Topic Item 
/* --------------------------------------- */

.title-item-cs-sub-topic-item,
.title-item-cs-topic-item {

    display: flex;
    align-items: center;
}

.title-item-cs-sub-topic-item {
    column-gap: .8em;
}

.title-item-cs-topic-item {
    column-gap: 1em;
}

/* --------------------------------------- */
/* Nr Box | Topics & Sub Topic Item 
/* --------------------------------------- */

.nr-box-cs-topic-item,
.nr-box-cs-sub-topic-item {

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .6em 0 0 .6em;

}

.nr-box-cs-topic-item {


}

.nr-box-cs-sub-topic-item {

    height: 3em;
    width: 2.9em;

    background-color: green;
}

/* --------------------------------------- */
/* Nr Text Box | Topics & Sub Topic Item 
/* --------------------------------------- */

.nr-text-box-cs-topic-item {
    /* 20px */
    font-size: 1.25rem;
}

.nr-text-box-cs-sub-topic-item {
    /* 18px */
    font-size: 1.125rem;
}

/* ------------------------------------------------- */
/* Custom Select List | Topic
/* ------------------------------------------------- */

.custom-select-list-topic {

   
}

/* ------------------------------------- */ 
/* Label | Topic Item  */
/* ------------------------------------- */ 

.lbl-cs-topic-item {

    
}

.lbl-cs-topic-item:hover { 

    background-color: gray;
}


/* ------------------------------------------------- */
/* Custom Select List | Sub Topic
/* ------------------------------------------------- */

.custom-select-list-sub-topic {

    background-color: rgb(111, 5, 111);
   
}

/* ------------------------------------- */ 
/* Label | Sub Topic Item  */
/* ------------------------------------- */ 

.lbl-cs-sub-topic-item {

    height: 3em;
    padding-right: 1em;

    background-color: wheat;

}

.lbl-cs-sub-topic-item:hover { 

    background-color: gray;
}






/* ------------------------------------------------- */
/* Extra Concept Container for Smooth Scroll
/* down/up Container ( grid template row: 1fr/0fr )
/* ------------------------------------------------- */

.smooth-open-close-container {

    display: grid;
    transition: grid-template-rows 0.5s ease-out;
    grid-template-rows: 0fr;
}

.container-overflow-hidden {

    width: 100%;
    overflow: hidden;

    /* background-color: red; */  
}