/* ----------------------------------------------------------------------------- */
/* > sport-video-list-container.css
/*  
/* : styles sport video list container of sport challenges
/* ----------------------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Video List Sport Container
/* ---------------------------------------------------------------- */

.sport-video-list-container {

    padding-top: 2em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.3em;

    /* background-color: green; */
    /* background-color: red; */

}

/* ---------------------------------------------------------------- */
/* Link Sport Video
/* ---------------------------------------------------------------- */

.link-sport-video {

    width: 9em;
    height: 5.3em;

    position: relative;

    display: grid;
    justify-items: center;
    align-items: flex-start;
    align-content: center;

    text-decoration: none;

    border-radius: .6em;

    background-color: rgb(199, 199, 199);
    color: black;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    transition: all .4s;
}

.link-sport-video:visited {

    color: black;
}

.link-sport-video:hover {

    background-color: rgb(175, 175, 175);
}

/* ---------------------------------------------------------------- */
/* NR Block
/* ---------------------------------------------------------------- */

.nr-block-sport-video {

    position: absolute;
    left:0;

    height: 2.3em;
    width: 2.3em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .6em 0 0 0;

    font-weight: bold;

    background-color: wheat;
}

/* ---------------------------------------------------------------- */
/* Date
/* ---------------------------------------------------------------- */

.date-sport-video {

    padding-left: 1.3em;

    display: grid;
    justify-items: center;
    /* row-gap: .3em; */
}

.date-sport-video > div:nth-of-type(1) {

    font-weight: bold;
}

.date-sport-video > div:nth-of-type(2) {

    color:grey;
    padding-bottom: .3em;
}