/* -------------------------------------------------------------- */
/* > page-content-card.css
/*
/* : default styles for page content cards
/* -------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Page Content Cards
/* ------------------------------------------------------- */

.page-content-card-white {

  width: 100%;
  /* mobile */
  padding: 1.3em .8em;

  border-radius: 1.3em;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

/* ------------------------------------------------------- */
/* Page Content Card White
/* ------------------------------------------------------- */

.page-content-card-white {

  /* backdrop-filter: blur(12px);
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */

  backdrop-filter: blur(12px);
  background-color: rgb(247, 247, 247);

  border: 2px solid rgb(43, 43, 43);

}
