/* -------------------------------------------------------------- */
/* > resp-handle-content-areas.css
/*
/* : responsive sets for all handle content areas,
     Basis File: handle-content-area.css
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 800px width
/* -------------------------------------------------------------- */

@media (min-width: 800px ) {

    .resp-small-content-area {
        width: 90%
    }

}

/* ----------------------------------- */
/* ❌ | löschen ❌ */
/* ----------------------------------- */
@media (min-width: 800px ) {

    .handle-header-content-area {
        width: 90%
    }


}

/* -------------------------------------------------------------- */
/* >= 900px width
/* -------------------------------------------------------------- */

@media (min-width: 900px ) {

    .resp-small-content-area {
        width: 45em;
    }

}

/* ----------------------------------- */
/* ❌ | löschen ❌ */
/* ----------------------------------- */
@media (min-width: 900px ) {

    .handle-header-content-area {
        width: 45em;
    }

}

/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */

@media (min-width: 1200px ) {

    .resp-main-content-area {
        width: 65em;
    }

    .resp-max-content-area  {
        width: 95%;
    }

}

/* ----------------------------------- */
/* ❌ | löschen ❌ */
/* ----------------------------------- */
@media (min-width: 1200px ) {

    .handle-main-content-area {
        width: 65em;
    }


    .handle-max-content-area,
    .handle-large-main-content-area  {
        width: 95%;
    }

}


/* -------------------------------------------------------------- */
/* >= 1600px width
/* -------------------------------------------------------------- */

@media (min-width: 1600px ) {

    .resp-main-content-area {

        width: 90em;
    }

}

/* ----------------------------------- */
/* ❌ | löschen ❌ */
/* ----------------------------------- */
@media (min-width: 1600px ) {

    .handle-large-main-content-area {

        width: 90em;
    }

}
