/* -------------------------------------------------------------- */
/* > resp-handle-content-areas.css
/*
/* : responsive handlings for resp content areas ( min, main, max )
     file: resp-content-areas.css
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 800px width
/* -------------------------------------------------------------- */

@media (min-width: 800px ) {

    .resp-min-content-area {
        width: 90%
    }

}

/* -------------------------------------------------------------- */
/* >= 900px width
/* -------------------------------------------------------------- */

@media (min-width: 900px ) {

    .resp-min-content-area {
        width: 45em;
    }

}

/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */

@media (min-width: 1200px ) {

    .resp-main-content-area {
        width: 65em;
    }

    .resp-max-content-area  {
        width: 95%;
    }

}

/* -------------------------------------------------------------- */
/* >= 1600px width
/* -------------------------------------------------------------- */

@media (min-width: 1600px ) {

    .resp-main-content-area {

        width: 90em;
    }

}
