/* ------------------------------------------------------------------------- */
/* > choose-info-sport-challenges.css
/* : styles choose sport challenge container
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Choose Sport Challenge Container
/* ------------------------------------------------------------- */

#choose-info-container-sport-challenges {

  padding: 2em 0 .5em 0;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1em;

  /* background-color: grey; */

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* Img | Choose Sport Challenge Container
/* ------------------------------------------------------------- */

#choose-info-container-sport-challenges > img {

  height: 4.5em;

}

/* ------------------------------------------------------------- */
/* Div (Text) | Choose Sport Challenge Container
/* ------------------------------------------------------------- */

#choose-info-container-sport-challenges > div {

  font-size: 25px;
  font-weight: bold;

}
