/* -------------------------------------------------------------- */
/* > quick-info-sport-challenges.css
/* : styles quick info sport challenges
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Quick Info Sport Challenge Container
/* -------------------------------------------------------------- */

.quick-info-sport-challenge-container {

  width: 100%;

  display: flex;

  border-radius: .4em;


  /* background-color: rgb(247, 247, 247); */

}

/* -------------------------------------------------------------- */
/* Quick Info Sport Challenge Box
/* -------------------------------------------------------------- */

.quick-info-sport-challenge-box {

  height: 100%;
  padding: 1em .5em;

  position: relative;

  display: flex;

}

/* -------------------------------------------------------------- */
/* Left Boder Stripe | Sport Challenge
/* -------------------------------------------------------------- */

.left-border-stripe-sport-challenge {

  position: absolute;
  left:0;
  top:0;

  height: 100%;
  width: 3px;

  border-radius: 2em;

  background-color: rgb(207, 207, 207);

}

/* -------------------------------------------------------------- */
/* Info Box | Sport Challenge
/* -------------------------------------------------------------- */

.info-box-sport-challenge {

  padding-left: .5em;

  display: grid;
  row-gap: .5em;

}

/* -------------------------------------------------------------- */
/* Header | Info Box
/* -------------------------------------------------------------- */

.info-box-sport-challenge > header {

  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

}

.info-box-sport-challenge > header > div span {

  font-size: 14.5px;

}

.info-box-sport-challenge > header > div > span:nth-of-type(2) {

  color:grey;

}

/* -------------------------------------------------------------- */
/* Week Sport Challenge Container
/* -------------------------------------------------------------- */

.week-sport-challenge-container {

  display: grid;
  row-gap: .6em;

}

/* -------------------------------------------------------------- */
/* Week Sport Challenge Box
/* -------------------------------------------------------------- */

.week-sport-challenge-box {


  display: flex;
  flex-wrap: wrap;
  column-gap: .4em;
  row-gap: .4em;

}

/* -------------------------------------------------------------- */
/* Header | Week Sport Challenge Box
/* -------------------------------------------------------------- */

.week-sport-challenge-box > header {

  height: 1.3em;
  padding: 0em .4em;

  display: flex;
  align-items: center;

  border-radius: .4em;

  background-color: rgb(218, 218, 218);
  color:grey;

}

.week-sport-challenge-box > header > span {

  font-size: 12.5px;
}


/* -------------------------------------------------------------- */
/* Main | Week Sport Challenge Box
/* -------------------------------------------------------------- */

.week-sport-challenge-box > main {

  display: flex;
  flex-wrap: wrap;
  gap: .4em;

}

/* -------------------------------------------------------------- */
/* Info Sport Art Challenge
/* -------------------------------------------------------------- */

.info-sport-art-challenge {

  height: 1.3em;
  padding: 0em .4em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  /* font-weight: bold; */

  border-radius: .4em;

  border: 1px solid rgb(173, 173, 173);
  color:grey;

}

.info-sport-art-challenge > span {

  font-size: 12.5px;
}
