/* -------------------------------------------------------------- */
/* > sport-30-video-challenges.css
/* : styles sport 30 video challenges
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport Challenge | 30 Videos Container
/* -------------------------------------------------------------- */

#sport-challenge-30-videos-container {

  width: 100%;
  padding-top: 3em;
  padding-bottom: 1.5em;

  display: grid;
  justify-content: center;
  row-gap: 1.5em;

  /* border-top: 3px solid grey; */

  /* default unshown */
  display: none;

}

/* -------------------------------------------------------------- */
/* Sport Challenges 2-15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenges-2-15-videos-container {

  padding-top: 1.5em;
  display: grid;
  row-gap: 4em;

}

/* -------------------------------------------------------------- */
/* Sport Challenge | 15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenge-15-videos-container {

  display: grid;
  row-gap: 1.5em;

}

/* -------------------------------------------------------------- */
/* Header | Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

.sport-challenge-15-videos-container > header {

  width: 100%;

  display: flex;
  align-items: center;
  /* background-color: green; */

}

/* -------------------------------------------------------------- */
/* Header ( First ) | Sport Challenge 15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenges-2-15-videos-container > .sport-challenge-15-videos-container:nth-of-type(1) > header {

  justify-content: flex-end;
  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/* Header | Div | Sport Challenge 15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenge-15-videos-container > header > div {

  height: 2.8em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .8em;

  font-weight: bold;

  border-radius: .4em;;


  background-color: rgb(41, 41, 41);
  color:white;

}

/* -------------------------------------------------------------- */
/* Header | Img | Sport Challenge 15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenge-15-videos-container > header > div > img:nth-of-type(1) {

  height: 2em;

}

/* -------------------------------------------------------------- */
/* Header | Div | Div | Sport Challenge 15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenge-15-videos-container > header > div > div {

  font-size: 14.5px;
  font-style: italic;

}

/* -------------------------------------------------------------- */
/* Main | Sport Challenge 15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenge-15-videos-container > main {

  width: 100%;
  display: grid;
  justify-items: center;

  grid: auto / 1fr 1fr;

  column-gap: .8em;
  row-gap: .8em;

}

/* -------------------------------------------------------------- */
/* Sport Challenge 3 Videos Container
/* -------------------------------------------------------------- */

#sport-challenge-3-videos-container {

  width: 100%;
  padding-top: 3em;
  padding-bottom: 1.5em;

  display: grid;
  justify-items: center;

  grid: auto auto / 1fr;
  row-gap: 3em;

  /* default unshown */
  display: none;

}

/* -------------------------------------------------------------- */
/* Divs | Sport Challenge 3 Videos Container
/* -------------------------------------------------------------- */

#sport-challenge-3-videos-container > div {

  width: 100%;

}
