/* -------------------------------------------------------------- */
/* > about.css
/*
/* : styles about
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* About Page Container
/* -------------------------------------------------------------- */

#about-page-container {

  /* z-index: 2; */
  width: 100%;
  display: grid;
  justify-items: center;

}

/* ------------------------------------------------------------------- */
/* Nav About
/* ------------------------------------------------------------------- */

#nav-about {

  width: 100%;

  display: flex;
  align-items: center;

  /* mobile */
  justify-content: center;

}

/* ------------------------------------------------------------------- */
/* Labels | Nav About ( Info, IT Skills, Contact )
/* ------------------------------------------------------------------- */

/* default black img unshown */
label[for="radio-info-about"] > img:nth-of-type(1),
label[for="radio-it-skills-about"] > img:nth-of-type(1),
label[for="radio-contact-about"] > img:nth-of-type(1) {

  display: none;

}

/* -------------------------------------------------------------- */
/* About Page Content Container
/* -------------------------------------------------------------- */

#about-page-content-container {

  width: 100%;

  display: grid;
  justify-items: center;

}

/* -------------------------------------------------------------- */
/* Img Background | About Page Container
/* -------------------------------------------------------------- */

#img-background-about {

  z-index: 1;

  /* reminder: it orient by parent element which is pos=relative */
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("../../../../media/img/content/02-about/sky_cloud_clouds_175163_3840x2400.jpg");

  background-image: url("../../../../media/img/content/grass_dew_drops_158971_3840x2400.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
