/* -------------------------------------------------------------- */
/* > about.css
/*
/* : styles about
/* -------------------------------------------------------------- */


/* ------------------------------------------- */
/* About Page Container
/* ------------------------------------------- */

#about-page-container {

  z-index: 2;
  width: 100%;

  display: grid;
  row-gap: 1.5em;

}
