/* -------------------------------------------------------------- */
/* > nav-about.css
/*
/* : style nav about css ( info, it-skills, contact )
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Radios | Info, IT Skills, Contact
/* ------------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-nav-about"] {

  display: none;
}

/* set background | label */
#radio-info-about:checked ~ div:nth-of-type(1) label[for="radio-info-about"],
#radio-it-skills-about:checked ~ div:nth-of-type(1) label[for="radio-it-skills-about"],
#radio-contact-about:checked ~ div:nth-of-type(1) label[for="radio-contact-about"] {

  opacity: 1;
  background-color: wheat;
  color:black;

}

/* unshow grey img */
#radio-info-about:checked ~ div:nth-of-type(1) label[for="radio-info-about"] > img:nth-of-type(2),
#radio-it-skills-about:checked ~ div:nth-of-type(1) label[for="radio-it-skills-about"] > img:nth-of-type(2),
#radio-contact-about:checked ~ div:nth-of-type(1) label[for="radio-contact-about"] > img:nth-of-type(2) {

  display: none;

}

/* show black img */
#radio-info-about:checked ~ div:nth-of-type(1) label[for="radio-info-about"] > img:nth-of-type(1),
#radio-it-skills-about:checked ~ div:nth-of-type(1) label[for="radio-it-skills-about"] > img:nth-of-type(1),
#radio-contact-about:checked ~ div:nth-of-type(1) label[for="radio-contact-about"] > img:nth-of-type(1) {

 display: flex;

}

/* add hover by unchecked labels */
#radio-info-about:not(:checked) ~ div:nth-of-type(1) label[for="radio-info-about"]:hover,
#radio-it-skills-about:not(:checked) ~ div:nth-of-type(1) label[for="radio-it-skills-about"]:hover,
#radio-contact-about:not(:checked) ~ div:nth-of-type(1) label[for="radio-contact-about"]:hover {

  /* z-index: 3; */
  opacity: 1;
  background-color: wheat;
  color:black;

}

/* add hover by unchecked labels | unshown grey img */
#radio-info-about:not(:checked) ~ div:nth-of-type(1) label[for="radio-info-about"]:hover > img:nth-of-type(2),
#radio-it-skills-about:not(:checked) ~ div:nth-of-type(1) label[for="radio-it-skills-about"]:hover > img:nth-of-type(2),
#radio-contact-about:not(:checked) ~ div:nth-of-type(1) label[for="radio-contact-about"]:hover > img:nth-of-type(2) {

  display: none;

}

/* add hover by unchecked labels | shown black img */
#radio-info-about:not(:checked) ~ div:nth-of-type(1) label[for="radio-info-about"]:hover > img:nth-of-type(1),
#radio-it-skills-about:not(:checked) ~ div:nth-of-type(1) label[for="radio-it-skills-about"]:hover > img:nth-of-type(1),
#radio-contact-about:not(:checked) ~ div:nth-of-type(1) label[for="radio-contact-about"]:hover > img:nth-of-type(1) {

  display: flex;

}

/* show content | info, it-skills, contact */
#radio-info-about:checked ~ div:nth-of-type(2) #info-about-container,
#radio-it-skills-about:checked ~ div:nth-of-type(2) #it-skills-about-container,
#radio-contact-about:checked ~ div:nth-of-type(2) #contact-about-container {

  display: grid;

}
