/* -------------------------------------------------------------- */
/* > action-element-2-lines-grey.css
/* : styles action element 2 lines with grey style
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Action Element 2 Lines | Grey
/* -------------------------------------------------------------- */

.action-element-2-lines-grey {

  padding: .4em .6em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  border-radius: .6em;

  font-weight: bold;

  background-color: rgb(231, 231, 231);
  color:black;

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* -------------------------------------------------------------- */
/* Hover | Action Element 2 Lines
/* -------------------------------------------------------------- */

.action-element-2-lines-grey:hover {

  background-color: wheat;

}

/* -------------------------------------------------------------- */
/* First Line | Div 1
/* -------------------------------------------------------------- */

.action-element-2-lines-grey > div:nth-of-type(1) {

  line-height: 1.5em;

}

/* -------------------------------------------------------------- */
/* First Line | Div 1 | Div 1
/* -------------------------------------------------------------- */

.action-element-2-lines-grey > div:nth-of-type(1) > div:nth-of-type(1) {

  font-size: 14.5px;

}

/* -------------------------------------------------------------- */
/* Second Line | Div 1 | Div 2
/* -------------------------------------------------------------- */

.action-element-2-lines-grey > div:nth-of-type(1) > div:nth-of-type(2) {

  font-size: 12px;

  line-height: 1.3em;

  color:grey;

}
