/* -------------------------------------------------------------- */
/* > tech-stack-container-top-it-project-card.css
/*
/* : styles my top it project card
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Tech Stack Container | Top IT Project
/* ------------------------------------------------------------- */

.tech-stack-container-top-it-project {

  width: 100%;
  display: grid;

}

/* ------------------------------------------------------------- */
/* Tech Stack Content | Top It Project
/* ------------------------------------------------------------- */

.tech-stack-content-top-it-project {

  width: 100%;
  /* margin-top: 1em; */
  padding: 1.5em .3em .5em .3em;

  display: grid;
  row-gap: 1.5em;

  /* background-color: rgb(154, 154, 154); */

}

/* ------------------------------------------------------------- */
/* Tech Stack Box | Top IT Project
/* ------------------------------------------------------------- */

.tech-stack-box-top-it-project {


  display: grid;
  justify-items: flex-start;
  row-gap: .6em;



}

/* ------------------------------------------------------------- */
/* Header | Tech Stack Box
/* ------------------------------------------------------------- */

.tech-stack-box-top-it-project > header {

  height: 1.6em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .4em;

  font-weight: bold;

  /* opacity: .6; */
  /* background-color: rgb(193, 193, 193); */
  color: #848484;

  color:black;

}

.tech-stack-box-top-it-project > header > img {

  opacity: .6;

}

.tech-stack-box-top-it-project > header > div {

  font-size: 14.5px;

}

/* ------------------------------------------------------------- */
/* Main | Tech Stack Box
/* ------------------------------------------------------------- */

.tech-stack-box-top-it-project > main {

  padding-left: .3em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  row-gap: .4em;
  column-gap: .4em;

}

/* ------------------------------------------------------------- */
/* Main Div | Tech Stack Box
/* ------------------------------------------------------------- */

.tech-stack-box-top-it-project > main > div {

  height: 1.6em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .6em;

  font-weight: bold;

  /* border: 1px solid rgb(205, 205, 205); */
  background-color: rgb(224, 224, 224);

  color:rgb(150, 150, 150);

}

.tech-stack-box-top-it-project > main > div > div {

  font-size: 12.5px;
}
