/* -------------------------------------------------------------- */
/* > tech-stack-container-top-it-project-card.css
/*
/* : styles my top it project card
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Tech Stack Container
/* ------------------------------------------------------------- */

.tech-stack-container-top-it-project {

  width: 100%;
  display: grid;

}

/* ------------------------------------------------------------- */
/* Tech Stack Content Top It Project
/* ------------------------------------------------------------- */

.tech-stack-content-top-it-project {

  width: 100%;
  margin-top: 1em;
  padding: 1em .3em;

  display: grid;
  row-gap: 1.5em;

  /* background-color: rgb(154, 154, 154); */

}

/* ------------------------------------------------------------- */
/* Tech Stack Box | Top IT Project
/* ------------------------------------------------------------- */

.tech-stack-box-top-it-project {

  display: grid;
  align-content: flex-start;
  row-gap: .6em;

}

/* ------------------------------------------------------------- */
/* Header | Tech Stack Box
/* ------------------------------------------------------------- */

.tech-stack-box-top-it-project > header {

  height: 1.8em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .4em;

  font-weight: bold;

  text-decoration: underline;

  /* opacity: .6; */
  /* background-color: #eeeeee; */
  color: #848484;

}

.tech-stack-box-top-it-project > header > img {

  opacity: .6;

}

.tech-stack-box-top-it-project > header > div {

  font-size: 14.5px;

}

/* ------------------------------------------------------------- */
/* Main | Tech Stack Box
/* ------------------------------------------------------------- */

.tech-stack-box-top-it-project > main {

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  row-gap: .4em;
  column-gap: .4em;

}

/* ------------------------------------------------------------- */
/* Main Div | Tech Stack Box
/* ------------------------------------------------------------- */

.tech-stack-box-top-it-project > main > div {

  height: 1.6em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .4em;

  font-weight: bold;

  border: 1px solid rgb(230, 230, 230);
  color:rgb(162, 162, 162);

  background-color: rgb(255, 255, 255);

}

.tech-stack-box-top-it-project > main > div > div {

  font-size: 12.5px;
  /* font-weight: bold; */
}
