/* -------------------------------------------------------------- */
/* > tech-stack-container-top-it-project-card.css
/*
/* : styles my top it project card
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Tech Stack Container
/* ------------------------------------------------------------- */

.tech-stack-container-top-it-project-card {

  width: 100%;
  display: grid;

}


/* ------------------------------------------------------------- */
/* Main | Tech Stack Container
/* ------------------------------------------------------------- */

#tech-stack-content-container-top-it-project-card {

  width: 100%;
  margin-top: 1em;
  padding: 2em 1em;

  display: grid;
  row-gap: 1.5em;

  border-radius: .8em;
  border: 1px solid #cacaca;

  background-color: white;

}

/* ------------------------------------------------------------- */
/* Tech Stack Content Box
/* ------------------------------------------------------------- */

.tech-stack-content-box {

  display: grid;
  align-content: flex-start;
  row-gap: .6em;

  /* border: 2px solid #b8b8b8b8; */

}

/* ------------------------------------------------------------- */
/* Header | Tech Stack Content Box
/* ------------------------------------------------------------- */

.tech-stack-content-box > header {

  height: 1.8em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .4em;

  font-weight: bold;

  /* opacity: .6; */
  background-color: #eeeeee;
  color: #848484;



}

.tech-stack-content-box > header > img {

  opacity: .6;

}

.tech-stack-content-box > header > div {

  font-size: 13px;

}

/* ------------------------------------------------------------- */
/* Main | Tech Stack Content Box
/* ------------------------------------------------------------- */

.tech-stack-content-box > main {

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  row-gap: .4em;
  column-gap: .4em;

}

/* ------------------------------------------------------------- */
/* Divs | Main | Tech Stack Content Box
/* ------------------------------------------------------------- */

.tech-stack-content-box > main > div {

  height: 1.6em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .4em;

  border: 1px solid rgb(230, 230, 230);
  color:rgb(162, 162, 162);

}

.tech-stack-content-box > main > div > div {

  font-size: 12.5px;
  /* font-weight: bold; */
}
