/* -------------------------------------------------------------- */
/* > sport-newest-videos.css
/* : styles sport newest videos
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport Newest Video Container
/* -------------------------------------------------------------- */

#sport-newest-video-container {

  width: 100%;
  padding-top: 1.5em;

  display: grid;
  justify-items: center;
  row-gap: 2em;

  /* default unshown */
  display: none;

}


/* -------------------------------------------------------------- */
/* Divs | Sport Newest Video Container
/* -------------------------------------------------------------- */

#sport-newest-video-container > div {

  /* mobile */
  width: 100%;

}

/* -------------------------------------------------------------- */
/* Reminder Sport Newest
/* -------------------------------------------------------------- */

#reminder-sport-newest-video {

  padding: .6em .8em;

  /* mobile */
  display: grid;

  column-gap: .8em;
  row-gap: .4em;

  border-radius: .4em;

}

/* -------------------------------------------------------------- */
/* Span 1 | Reminder Sport Newest
/* -------------------------------------------------------------- */

#reminder-sport-newest-video > span:nth-of-type(1) {

  font-size: 14.5px;

  text-decoration: underline;
  font-weight: bold;

  color:rgb(88, 88, 88);

}

/* -------------------------------------------------------------- */
/* Span 2 | Reminder Sport Newest
/* -------------------------------------------------------------- */

#reminder-sport-newest-video > span:nth-of-type(2) {

  font-size: 14.5px;

  color:grey;

}

/* -------------------------------------------------------------- */
/* History Sport Newest Video Container
/* -------------------------------------------------------------- */

#history-sport-newest-video-container {

  display: grid;

  /* border-top: 3px solid rgb(233, 233, 233); */

}

#history-sport-newest-video-container > label:nth-of-type(1) {

  justify-self: flex-end;
}

/* -------------------------------------------------------------- */
/* Content History Sport Newest Video Container
/* -------------------------------------------------------------- */

#content-history-sport-newest-video-container {

  padding-top: 2em;
  padding-bottom: 2em;

  display: grid;
  row-gap: 1.5em;

  /* background-color: grey; */

}
