/* -------------------------------------------------------------- */
/* > sport-newest-videos.css
/* : styles sport newest videos
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport Newest Video Container
/* -------------------------------------------------------------- */

#sport-newest-video-container {

  margin-top: 1em;
  padding-top: 1.5em;

  width: 100%;

  display: grid;
  row-gap: 2em;

  border-top: 3px solid rgb(233, 233, 233);

}

/* -------------------------------------------------------------- */
/* Reminder Sport Newest
/* -------------------------------------------------------------- */

#reminder-sport-newest-video {

  /* mobile */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  text-align: center;

  column-gap: .8em;
  row-gap: .8em;

  font-size: 14.5px;

}

/* -------------------------------------------------------------- */
/* Span 1 | Reminder Sport Newest
/* -------------------------------------------------------------- */

#reminder-sport-newest-video > span:nth-of-type(1) {

  text-decoration: underline;
  font-weight: bold;

  color:rgb(88, 88, 88);

}

/* -------------------------------------------------------------- */
/* Span 2 | Reminder Sport Newest
/* -------------------------------------------------------------- */

#reminder-sport-newest-video  > span:nth-of-type(2) {

  color:grey;

}


/* -------------------------------------------------------------- */
/* Content Sport Newest Video
/* -------------------------------------------------------------- */

.content-sport-newest-video {

  width: 100%;

  display: grid;
  justify-items: center;
  justify-content: center;

  grid-template:

  'video-sport-newest-1 video-sport-newest-2'
  'video-sport-newest-3 video-sport-newest-3'
  ;


  column-gap: .8em;
  row-gap: .8em;

  /* background-color: red; */

}

.content-sport-newest-video > .video-link-box-medium:nth-of-type(1) {

  grid-area: video-sport-newest-1;

}

.content-sport-newest-video > .video-link-box-medium:nth-of-type(2) {

  grid-area: video-sport-newest-2;

}

.content-sport-newest-video > .video-link-box-medium:nth-of-type(3) {

  grid-area: video-sport-newest-3;

}

/* -------------------------------------------------------------- */
/* Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.video-link-box-medium,
.video-link-box-large {

  position: relative;

  /* mobile */
  width:100%;

  display: grid;

  border-radius: 1.2em;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */

  border: 3px solid rgb(165, 165, 165);


  transition: all .4s;

}

/* -------------------------------------------------------------- */
/* Hover | Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.video-link-box-medium:hover > img,
.video-link-box-large:hover > img {

  opacity: 1;

}

/* -------------------------------------------------------------- */
/* Nr | Div 1 | Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.video-link-box-medium > div:nth-of-type(1),
.video-link-box-large > div:nth-of-type(1) {

  position: absolute;
  left:0;
  top:0;

  width: 1.8em;
  height: 1.8em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1em 0 1em 0;

  background-color: black;
  opacity: .8;

}

.video-link-box-medium > div:nth-of-type(1) > div,
.video-link-box-large > div:nth-of-type(1) > div {

  font-size: 13px;

  font-weight: bold;
  color: rgb(226, 226, 226);

}

/* -------------------------------------------------------------- */
/* Img | Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.video-link-box-medium > img,
.video-link-box-large > img {

  width: 100%;
  border-radius: 1em;

  opacity: .6;

}

/* -------------------------------------------------------------- */
/* Link Show Me | Video Link Box (Medium, Large)
/* -------------------------------------------------------------- */

.video-link-box-medium > a,
.video-link-box-large > a {

  text-decoration: none;

  position: absolute;
  bottom: 0;

  height: 2em;
  width: 100%;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .4em;

  font-weight: bold;

  border-radius: 0 0 1em 1em;

  background-color: rgba(125, 125, 125, 0.6);
  background-color: rgba(121, 121, 121, 0.8);

  color:rgb(50, 50, 50);

  transition: all .4s;

}

.video-link-box-medium > a > div,
.video-link-box-large > a > div {

  font-size: 14.5px;

}

.video-link-box-medium > a:hover,
.video-link-box-large > a:hover {

  background-color: wheat;

}

.video-link-box-medium > :a:visited,
.video-link-box-large > a:visited {

  color:black;

}

/* -------------------------------------------------------------- */
/* History Sport Newest Video Container
/* -------------------------------------------------------------- */

#history-sport-newest-video-container {

  padding-top: 1.5em;

  display: grid;

  border-top: 3px solid rgb(233, 233, 233);

}

#history-sport-newest-video-container > label:nth-of-type(1) {

  justify-self: flex-end;
}

/* -------------------------------------------------------------- */
/* Content History Sport Newest Video Container
/* -------------------------------------------------------------- */

#content-history-sport-newest-video-container {

  margin-top: 1.5em;
  margin-bottom: .5em;

  display: grid;
  row-gap: 3em;

  /* background-color: grey; */

}
