/* -------------------------------------------------------------- */
/* > sport-newest-videos.css
/* : styles sport newest videos
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport Newest Video Container
/* -------------------------------------------------------------- */

#sport-newest-video-container {

  margin-top: 2em;

  width: 100%;

  display: grid;
  row-gap: 2em;

  /* default unshown */
  display: none;

}

/* -------------------------------------------------------------- */
/* Reminder Sport Newest
/* -------------------------------------------------------------- */

#reminder-sport-newest-video {

  /* mobile */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  text-align: center;

  column-gap: .8em;
  row-gap: .8em;

  font-size: 14.5px;

}

/* -------------------------------------------------------------- */
/* Span 1 | Reminder Sport Newest
/* -------------------------------------------------------------- */

#reminder-sport-newest-video > span:nth-of-type(1) {

  text-decoration: underline;
  font-weight: bold;

  color:rgb(88, 88, 88);

}

/* -------------------------------------------------------------- */
/* Span 2 | Reminder Sport Newest
/* -------------------------------------------------------------- */

#reminder-sport-newest-video > span:nth-of-type(2) {

  color:grey;

}

/* -------------------------------------------------------------- */
/* History Sport Newest Video Container
/* -------------------------------------------------------------- */

#history-sport-newest-video-container {

  padding-top: 1em;
  padding-bottom: 1.5em;

  display: grid;

  /* border-top: 3px solid rgb(233, 233, 233); */

}

#history-sport-newest-video-container > label:nth-of-type(1) {

  justify-self: flex-end;
}

/* -------------------------------------------------------------- */
/* Content History Sport Newest Video Container
/* -------------------------------------------------------------- */

#content-history-sport-newest-video-container {

  padding-top: 3em;
  padding-bottom: 1em;

  display: grid;
  row-gap: 3em;

  /* background-color: grey; */

}
