/* -------------------------------------------------------------- */
/* > details-layout.css
/*
/* : styles details layout top it project card
/* -------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* ⬇️⬆️ Smooth | Details Content Top IT Project
/* ------------------------------------------------------------- */

#smooth-details-top-it-project-1,
#smooth-details-top-it-project-2,
#smooth-details-top-it-project-3 {

  grid-area: details-content-top-it-project;

  /* grid-template-rows: 1fr; */

}

/* ------------------------------------------------------------- */
/* Details Content Top IT Project
/* ------------------------------------------------------------- */

.details-content-top-it-project {

  padding: 1.5em .8em;

  display: grid;
  row-gap: 1em;

  border-radius: 0 0 1em 1em;

  background-color: rgb(224, 224, 224);
  background-color: #eeeeee;

}

/* ------------------------------------------------------------- */
/* Lbl Open Close Details Category | Top IT Project
/* ------------------------------------------------------------- */

.lbl-open-close-details-category-top-it-project  {

  width: 100%;
  padding: .6em 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  font-weight: bold;

  /* background-color: rgb(28, 28, 28); */
  background-color: #cfcfcf;
  color:rgb(57, 57, 57);
/*
  border: 2px solid rgb(188, 188, 188); */

  border-radius: .8em;

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* div 1 | sub header */
.lbl-open-close-details-category-top-it-project  > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

.lbl-open-close-details-category-top-it-project  > div:nth-of-type(1) > div {

  font-size: 14.5px;
}

/* img 2 = minus = unshown */
.lbl-open-close-details-category-top-it-project > img:nth-of-type(2) {

  display: none;

}
