/* -------------------------------------------------------------- */
/* > it-doc-card-container.css
/*  
/* : styles the it doc card container
/* -------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------- */
/* IT Doc Item Card 
/* --------------------------------------------------------------------------------------- */

.it-doc-item-card {

    width: 250px;

    display: grid;
    row-gap: .8em;

}

.img-cover-it-doc { 

    width: 100%;
    border-radius: .6em;
}


/* --------------------------------------------------------------------------------------- */
/* Nav to Src IT Doc 
/* --------------------------------------------------------------------------------------- */

.nav-to-src-it-doc {

    width: 100%;

    display: grid;
    row-gap: .4em;
  
}

/* --------------------------------------------------------------------------------------- */
/* Link Container > Nav IT Docs
/* --------------------------------------------------------------------------------------- */

.link-container-done-it-docs,
.link-container-in-progress-it-docs,
.link-container-coming-soon-it-docs,
.link-container-odt-download-it-docs {

    height: 3em;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: .4em;

    font-weight: bold;

    border-radius: .4em;

    background-color: rgb(183, 183, 183);
    color:black;

    text-decoration: none;

    transition: all .4s;

}


.link-container-done-it-docs:hover {

    background-color: lightgreen;

}

.link-container-in-progress-it-docs:hover {

    background-color: lightyellow;

}

.link-container-coming-soon-it-docs {

    pointer-events: none;
    background-color: lightblue;

}



.link-container-odt-download-it-docs:hover {

    background-color: rgb(122, 122, 122);

}


/* --------------------------------------------------------------------------------------- */
/* Done, In Progress, Coming Soon, odt | Link Info Status  It Docs
/* --------------------------------------------------------------------------------------- */

.link-info-status-done-it-docs,
.link-info-status-in-progress-it-docs,
.link-info-status-coming-soon-it-docs,
.link-info-status-odt-download-it-docs {

    height: 100%;
    width: 4em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .4em 0 0 .4em;

}

.link-info-status-done-it-docs {

    background-color: rgb(9, 169, 9);

}


.link-info-status-in-progress-it-docs {

    background-color: rgb(255, 222, 9);

}

.link-info-status-in-progress-it-docs > img:nth-of-type(1) {

    animation: rotate360deg 4s ease infinite;

}


.link-info-status-coming-soon-it-docs {

    background-color: rgb(9, 140, 255);

}

.link-info-status-coming-soon-it-docs > img:nth-of-type(1) {

    animation: leftright 1s ease infinite;
    
}


.link-info-status-odt-download-it-docs {

    background-color: rgb(152, 152, 152);

}



/* --------------------------------------------------------------------------------------- */
/* Link Container IT Docs > "Link Title" e.g .pdf | Downlaod 
/* --------------------------------------------------------------------------------------- */

.link-container-done-it-docs > div:last-child,
.link-container-in-progress-it-docs > div:last-child,
.link-container-coming-soon-it-docs > div:last-child,
.link-container-odt-download-it-docs > div:last-child {

    padding-right: .8em;

    display: flex;
    align-items: center;
    column-gap: .3em;
}



