/*
    default-about-page.css
    > define the default layout of about page 
*/

#about-page-container {

    /* height: 100%; */
    margin-top: 5em;

    display: grid;
    grid: auto auto auto auto auto / 1fr;

}








