/*
    default-about-page.css
    > define the default layout of about page 
*/

#about-page-container {

    z-index: 3;

    /* height: 100%; */
    margin-top: 5em;

    display: grid;
    grid: auto auto auto auto auto / 1fr;

}


/* ----------------------------------------------------------------------- */
/* Welcome Container 
/* ----------------------------------------------------------------------- */

#welcome-about-container {

    padding: 1.5em 2em;

    display: grid;
  
    row-gap: 2em;
    column-gap: 2em;

    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;

   
    border-top: 2px solid var(--c-light-brown-1);

    font-size: 18.5px;

}


/* ------------------------------------------- */
/* 1/4 | Welcome Title 
/* ------------------------------------------- */

#welcome-title-about-container {

    order: 1;

    display: flex;
    align-items: center;
    column-gap: 1em;

}

#welcome-title-about-container > img:nth-of-type(1) {

    display: none;
    /* height: 8.5em; */
   
    
}

#welcome-title-box-about {

    line-height: 1.8em;

    /* line-height: 2.8em; */
}

/* txt - welcome to  */
#welcome-title-box-about > div:nth-of-type(1) {

    font-size: 24px;
    /* font-size: 1.75em; */

    font-weight: bold;

    color:rgb(157, 157, 157);

}

/* txt - superfresdev  */
#welcome-title-box-about > div:nth-of-type(2) {

    font-size: 26px;

    /* font-size: 2.625em; */

    font-weight: bold;

    color: white;

}

/* txt - world */
#welcome-title-box-about > div:nth-of-type(2) > span:nth-of-type(1) {

    color: var(--c-light-brown-1);

}

/* txt - lets build systems not just software */
#welcome-title-box-about > div:nth-of-type(3) {

    /* font-size: 1.25em; */

    
    color: var(--c-grey);

}

/* ------------------------------------------- */
/* 2/4 | Welcome Text
/* ------------------------------------------- */

#welcome-text-about-container {

    order: 4;

    /* font-size: 1.125em;; */

    /* padding-left: 6.5em; */

    display: grid;
    justify-content: center;
    /* justify-items: center; */

    /* line-height: 2em; */

    color:rgb(207, 207, 207);

    /* border: 1px solid yellow; */
    
}

#welcome-text-about-container > div:not(.unicode-circle) {

    line-height: 2em;
    
}

.img-small-seperator {

    height: .4em;

}

/* ------------------------------------------- */
/* 3/4 | Welcome Date
/* ------------------------------------------- */

#welcome-date-about-container {

    order: 3;

    height: 2em;
    padding-right: .4em;

    /* font-size: 1.125em; */


    /* border: 1px solid yellow; */

    display: flex;
    align-items: center;
    justify-content: flex-end;

    
    opacity: .8;
    
    

}

#welcome-date-about-container > div:nth-of-type(1) {

    font-weight: bold;
    color: var(--c-light-brown-1);
}

#js-date {

    padding-right: .1em;
    padding-left: .2em;
    color:white;
}

/* ------------------------------------------- */
/* 4/4 | Welcome Img
/* ------------------------------------------- */

#img-welcome-about {

    order: 2;

    /* display: none; */
    width: 100%;

    border-radius: .6em;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    

}



/* ------------------------------------------------------- */
/* Mindset About Container 
/* ------------------------------------------------------- */

#mindset-about-container {


    padding: 4em 1.8em 5em 1.8em;
   

    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;


}


#mindset-about-layout-container {

    padding-top: 3em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 3em;
    row-gap: 1em;

}

#my-mindset-quote {


    height: 11em;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

    border-radius: .6em;

    
    
    /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply; */

    background-color: black;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    color: var(--c-light-brown-1);

}


#my-mindset-quote > div {

    width: 12em;
    
    font-size: 20px;
    /* font-size: 1.375em; */
    line-height: 1.8em;
   
    font-style: italic;
    text-align: center;   

}

#mindset-video {

    width: 100%;
    /* height: 18em; */
    /* width: 6em; */
  
    border-radius: .6em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}





/* ------------------------------------------------------- */
/* My Top 3 Projects Container 
/* ------------------------------------------------------- */

#my-top-3-projects-about-container {

    
    padding: 4em 1.8em 5em 1.8em;
   

    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;



}


#my-top-3-projects-about-layout-container {

    padding-top: 3em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    column-gap: 3em;
    row-gap: 3em;

}

.my-top-3-project-container {

    width: 100%;
    height: 22em;
    border-radius: .6em;
    border: 1px solid black;
}


/* ------------------------------------------------------- */
/* Contact Me Container 
/* ------------------------------------------------------- */

#contact-about-container {

    padding: 4em 1.8em;

    display: grid;
    row-gap: 2em;

    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;

}

#contact-about-layout-container {

    position: relative;

    padding: 1em 0em;

    display: flex;
    align-items: center;
    column-gap: 3em;

   
}

#img-email-cartoon {

    height: 7em;

    z-index: 1;

    transform: scaleX(-1);
}

#img-email-line {

    position: absolute;
    left: 8.3em;

   

    height: 11em;

}


/* ------------------------------------------------------- */
/* More Container 
/* ------------------------------------------------------- */

#more-about-container {

    padding: 4em 1.8em 5em 1.8em;
    

    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;


    display: grid;
    row-gap: 2em;

}

#more-about-layout-container {

    display: grid;
    row-gap: 2.3em;

 
   

}


.sub-txt-h1 {

    font-weight: bold;
    font-size: 20px;

}


#more-about-list-container {

    padding: 2em 0em 2em .6em;

    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

    display: grid;
    row-gap: 1.3em;

    font-size: 18.5px;

   
   
}

#more-about-list-container > div {

    display: flex;
    align-items: center;
    column-gap: .6em;

    

  
}

