/*
    contact-container.css
    > defines the layout part of about -> contact

*/



/* ------------------------------------------------------- */
/* Contact Me Container 
/* ------------------------------------------------------- */

#contact-about-container {

    /* padding: 4em 1.8em; */

    display: grid;
    row-gap: 2em;

    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;

}

/* ------------------------------------------------------- */
/* Contact About Layout Container 
/* ------------------------------------------------------- */

#contact-about-layout-container {

    position: relative;

    padding: 3.5em 1.5em 3.5em .5em;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4em;

   
}


#img-email-cartoon {

    height: 6.5em;

    z-index: 1;

    transform: scaleX(-1);
}

/* ------------------------------------------------------- */
/* Email Contant About Container 
/* ------------------------------------------------------- */

#email-contact-about-container {

    position: relative;
    /* border: 1px solid red; */
}

#email-contact-about-container > a:nth-of-type(1) {

    z-index: 10;
}


#img-email-line {

    z-index: 1;

    position: absolute;
    top: -6em;
    left: -1.5em;
    /* left: 8.3em; */

    height: 11em;

}