/* ------------------------------------------------------------------- */
/* > story-superfreshdev-about.css
/*
/* : style story superfreshdev about
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Story Behind SD Container
/* ------------------------------------------------------------------- */

#story-behind-sd-container {

  width: 100%;
  padding: 2em 0;
  display: grid;
  justify-items: center;

  row-gap: 2.5em;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------------- */
/* Header | Story Behind SD Audio Container
/* ------------------------------------------------------------------- */

#story-behind-sd-container > header {

  font-size: 14.5px;

  display: grid;
  justify-items: center;
  row-gap: .4em;

  text-align: center;

  font-weight: bold;

  color:#4e4e4e;

}

/* ------------------------------------------------------------------- */
/* Audio Container | Story Behind SD Container
/* ------------------------------------------------------------------- */

#audio-container-story-behind-sd {

  display: flex;
  align-items: center;

  /* small mobile unshown */
  display: none;

}

/* ------------------------------------------------------------------- */
/* Content Container | Story Behind SD
/* ------------------------------------------------------------------- */

#content-container-story-behind-sd {

  display: grid;
  row-gap: 1.5em;

}

/* ------------------------------------------------------------------- */
/* Story Behind SD Item
/* ------------------------------------------------------------------- */

.story-behind-sd-item {

  font-size: 14.5px;
  padding: .8em;
  border-radius: .8em;

  line-height: 2em;

  background-color: rgb(248, 248, 248);
  color:rgb(75, 75, 75);
  border: 1px dashed black;

}

/* ------------------------------------------------------------------- */
/* Imgs (floating) | ( cold shower, viking, ... )
/* ------------------------------------------------------------------- */

#img-about-cold-shower {

  float: right;
  padding: 0 0 .4em .4em;

  /* mobile */
  height: 7.5em;

}

#img-about-viking {

  float: left;
  margin: .6em 1em .4em 0em;

  /* mobile */
  height: 6em;

  border-radius: 1em;

}

#img-about-funny-me {

  float: right;
  padding: 0 0 .4em .4em;

  /* mobile */
  height: 8em;

}

#img-about-wave-rocket {

  float: left;
  padding: .4em .8em .4em 0;

  /* mobile */
  height: 5.5em;

}




/* ------------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------------- */
