/* ------------------------------------------------------------------- */
/* > story-superfreshdev-about.css
/*
/* : style story superfreshdev about
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Story Behind SD Container
/* ------------------------------------------------------------------- */

#story-behind-sd-container {

  width: 100%;

  display: grid;
  justify-items: center;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------------- */
/* Header | Story Behind SD Audio Container
/* ------------------------------------------------------------------- */

#story-behind-sd-container > header {

  display: grid;
  row-gap: .6em;

  text-align: center;

  font-style: italic;
  font-weight: bold;

  color:rgb(145, 145, 145);

}

/* ------------------------------------------------------------------- */
/* Audio | Story Behind SD Container
/* ------------------------------------------------------------------- */

#audio-story-behind-sd-container {

  padding: 3em 0;

  display: flex;
  align-items: center;

  /* background-color: red; */

  /* small mobile unshown */
  display: none;

}

/* ------------------------------------------------------------------- */
/* Story Behind SD Content Container
/* ------------------------------------------------------------------- */

#story-behind-sd-content-container {

  /* mobile */
  padding: 3em 0 2em 0;

  display: grid;
  row-gap: 1.5em;

}

/* 2nd item extra right */
#story-behind-sd-content-container > .story-behind-sd-item:nth-of-type(2) > header {

  justify-content: flex-end;

}

/* ------------------------------------------------------------------- */
/* Story Behind SD Item
/* ------------------------------------------------------------------- */

.story-behind-sd-item {

  /* font-size: 14.5px; */
  padding: 1em;

  line-height: 2em;

  border-radius: .8em;

  border: 1px solid rgb(210, 210, 210);

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgb(248, 248, 248);

  color:rgb(75, 75, 75);

}

/* ------------------------------------------------------------------- */
/* Header Nr | Story Behind SD Item
/* ------------------------------------------------------------------- */

.story-behind-sd-item > header {

  width: 100%;
  padding-bottom: .8em;

  display: flex;
  align-items: center;

  /* background-color: red; */

}

/* nr item */
.story-behind-sd-item > header > div {

  font-size: 14.5px;

  height: 1.8em;
  padding: .4em;

  display: flex;
  align-items: center;
  justify-content: center;

  /* font-weight: bold; */

  letter-spacing: 1px;

  border-radius: .6em;

  border: 1px solid rgb(222, 222, 222);

  background-color: rgb(89, 89, 89);
  color:rgb(223, 223, 223);

}

/* ------------------------------------------------------------------- */
/* Imgs (floating) | ( cold shower, viking, ... )
/* ------------------------------------------------------------------- */

#img-about-cold-shower {

  float: right;
  padding: 0 0 .4em .4em;

  /* mobile */
  height: 7.5em;

}

#img-about-viking {

  float: left;
  margin: .6em 1em .4em 0em;

  /* mobile */
  height: 6em;

  border-radius: 1em;

}

#img-about-funny-me {

  float: right;
  padding: 0 0 .4em .4em;

  /* mobile */
  height: 8em;

}

#img-about-wave-rocket {

  float: left;
  padding: .4em .8em .4em 0;

  /* mobile */
  height: 5.5em;

}
