/* -------------------------------------------------------------- */
/* > font-styles.css
/*
/* : styles font style e.g text bold, ...
/* -------------------------------------------------------------- */



/* ---------------------------------------------------- */
/* Bold, Italic, ...
/* ---------------------------------------------------- */

.txt-b {

    font-weight: bold;
}

.txt-bi {

    font-weight: bold;
    font-style: italic;
}

.txt-u {

  text-decoration: underline;
}


/* ---------------------------------------------------- */
/* Font Styles
/* ---------------------------------------------------- */

.font-style-courier {

  font-family: 'Courier New', Courier, monospace;
}

/* ---------------------------------------------------- */
/* Text Bold
/* ---------------------------------------------------- */

.text-bold-dark-grey {

  color:rgb(98, 98, 98);
  font-weight: bold;

}

.text-bold-light-brown {

  color:wheat;
  font-weight: bold;

}

.text-bold-light-red {

  color:rgb(237, 132, 132);
  font-weight: bold;

}
