/* -------------------------------------------------------------- */
/* > font-styles.css
/*
/* : styles font style e.g text bold, ...
/* -------------------------------------------------------------- */



/* ---------------------------------------------------- */
/* Bold, Italic, ...
/* ---------------------------------------------------- */

.txt-b {

    font-weight: bold;
}

.txt-bi {

    font-weight: bold;
    font-style: italic;
}

.txt-u {

  text-decoration: underline;
}


/* ---------------------------------------------------- */
/* Font Styles
/* ---------------------------------------------------- */

.font-style-courier {

  font-family: 'Courier New', Courier, monospace;
}
