/* ------------------------------------------------------------------- */
/* > nav-about-more.css
/*
/* : styles the nav about more to handle content
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Handling | Nav About More
/* ------------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-nav-about-details"] {

  display: none;
}

/* set background  */
#radio-about-it-skills:checked ~ header #nav-about-details label[for="radio-about-it-skills"],
#radio-about-mindset:checked ~ header #nav-about-details label[for="radio-about-mindset"],
#radio-about-contact:checked ~ header #nav-about-details label[for="radio-about-contact"] {

  opacity: 1;

  background-color: wheat;
  color:black;


}

/* set more content  */
#radio-nav-about-it-skills:checked ~ #about-it-skills,
#radio-nav-about-mindset:checked ~ #about-mindset,
#radio-nav-about-contact:checked ~ #about-contact {

  display: grid;

}
