/* -------------------------------------------------------------- */
/* > header-main-layout.css
/*  
/* : styles my header main layout
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Header Main Layout Container
/* ---------------------------------------------------------------- */

#header-main-layout-container {

    padding: .8em .8em;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .8em;

    /* background-color: red; */
}


/* ---------------------------------------------------------------- */
/* Title Container | Header Main Layout
/* ---------------------------------------------------------------- */

#title-container-h-m-l {

    display: flex;
    align-items: center;
    column-gap: .8em;
}

.img-title-main-header {
    height: 3em;
}

/* ---------------------------------------------------------------- */
/* Title Main Header Container | Header Main Layout
/* ---------------------------------------------------------------- */

#title-main-header-container {

    line-height: 1.3em;
}

#title-main-header {

    /* better layout fixing */
    padding-top: .15em;

    /* 18px */
    font-size: 1.125rem;
    font-weight: bold;
}

#sub-title-main-header {
    /* color:red; */
}

/* ---------------------------------------------------------------- */
/* Selected Sub Topic
/* ---------------------------------------------------------------- */

#selected-sub-topic {
    /* mobile version  */
    width: 100%;
}


/* ---------------------------------------------------------------- */
/* Handling | Custom Selected | Sub Topic 
/* ---------------------------------------------------------------- */

input[name="name-chk-cs-selected-sub-topic"] {
    display: none;
}

input[name="name-chk-cs-selected-sub-topic"]:checked + label .custom-radio-sub-topic > img {

    display: flex;
}

/* ---------------------------------------------------------------- */
/* Handling | Custom Select | Label Item | Sub Topic 
/* ---------------------------------------------------------------- */

input[name="name-radio-sub-topic"] {
    display: none;
}

input[name="name-radio-sub-topic"]:checked + label .custom-radio-sub-topic > img {

    display: flex;
}

/* ----------------------------------------------------- */
/* Handling | Open | Custom Select List | Sub Topic
/* ----------------------------------------------------- */

#chk-cs-sub-topic:checked + label > .img-arrow-up-down-cs-sub-topic {

    transform: rotate(180deg);
}

#chk-cs-sub-topic:checked + label + .smooth-open-close-container {

    grid-template-rows: 1fr;

}

/* ---------------------------------------------------------------- */
/* Button Open Close Cards 
/* ---------------------------------------------------------------- */

.btn-open-close-cards {

    /* mobile version */
    width: 100%;
}

