/* -------------------------------------------------------------- */
/* > nav-top-it-projects.css
/*
/* : styles nav top it projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Nav Top It Projects
/* ------------------------------------------------------------- */

#nav-my-top-it-projects {

  width: 100%;

  /* mobile */
  padding-top: 2em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:.6em;

  /* background-color: rgb(144, 144, 144); */
  background-color: red;

}

/* ------------------------------------------------------------- */
/* ⬇️⬆️ | Smooth Open Close | Nav Top IT Projects
/* ------------------------------------------------------------- */

#smooth-open-close-nav-top-it-projects {

  width: 100%;

  display: grid;
  grid-template-rows: 0fr;

  transition: grid-template-rows 0.3s ease-out;

}

/* ------------------------------------------------------------- */
/* Handlings
/* ------------------------------------------------------------- */

/* default unshown */
#chk-top-it-projects,
input[name="name-radio-top-it-projects"] {

  display: none;

}

/* set background | checkbox */

/* change img arrow rotation */

/* show content */
#chk-top-it-projects:checked ~ #css-nav-top-it-projects #smooth-open-close-nav-top-it-projects {

  grid-template-rows: 1fr;

}
