/* -------------------------------------------------------------- */
/* > nav-top-it-projects.css
/*
/* : styles nav top it projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Nav Top It Projects
/* ------------------------------------------------------------- */

#nav-my-top-it-projects {

  width: 100%;
  padding-top: 1em;

  /* mobile */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:.6em;

  /* background-color: rgb(144, 144, 144); */
  /* background-color: rgb(155, 155, 155); */

}

/* ------------------------------------------------------------- */
/* ⬇️⬆️ | Smooth Open Close | Nav Top IT Projects
/* ------------------------------------------------------------- */

#smooth-open-close-nav-top-it-projects {

  width: 100%;

  display: grid;
  grid-template-rows: 0fr;

  transition: grid-template-rows 0.3s ease-out;

}

/* ------------------------------------------------------------- */
/* Handlings
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* Handlings | Checkbox
/* ------------------------------------------------------------- */

/* default unshown */
#chk-top-it-projects,
input[name="name-radio-top-it-projects"] {

  display: none;

}

/* set background | label */
#chk-top-it-projects:checked ~ #header-nav-top-it-projects label[for="chk-top-it-projects"] {

  background-color: rgb(227, 87, 87);

}

/* change img arrow rotation */
#chk-top-it-projects:checked ~ #header-nav-top-it-projects label[for="chk-top-it-projects"] > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* show content */
#chk-top-it-projects:checked ~ #header-nav-top-it-projects #smooth-open-close-nav-top-it-projects {

  grid-template-rows: 1fr;

}

/* ------------------------------------------------------------- */
/* Handlings | Radios ( choose 1, choose 2 )
/* ------------------------------------------------------------- */

/* set quick img x & than the nav view will closed */

#radio-top-it-project-choose-1:checked ~ #header-nav-top-it-projects label[for="radio-top-it-project-choose-1"] > .custom-radio-default > img:nth-of-type(1),
#radio-top-it-project-choose-2:checked ~ #header-nav-top-it-projects label[for="radio-top-it-project-choose-2"] > .custom-radio-default > img:nth-of-type(1) {

  display: flex;

}
