/* -------------------------------------------------------------- */
/* > top-it-projects.css
/*
/* : styles my it top project container
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My It Top Projects Container
/* ------------------------------------------------------------- */

#my-it-top-projects-container {

  width: 100%;

  display: grid;
  justify-items: center;

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* My IT Top Projects Card Container
/* ------------------------------------------------------------- */

#my-it-top-projects-card-container {

  width: 100%;
  padding: 3.5em 0;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;

  column-gap: 2em;
  row-gap: 2em;

  /* background-color: yellow; */

}

/* ------------------------------------------------------------- */
/* Header Top IT Projects
/* ------------------------------------------------------------- */

#header-top-it-projects {

  width: 100%;

  /* mobile */
  display: grid;
  justify-items: center;
  row-gap: 2em;

}

#header-top-it-projects > .header-main-title-block {

  width: 100%;

}
