/* -------------------------------------------------------------- */
/* > top-it-projects.css
/*
/* : styles my it top project container
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My It Top Projects Container
/* ------------------------------------------------------------- */

#top-it-projects-container {

  width: 100%;

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* Header Nav | My It Top Projects Container
/* ------------------------------------------------------------- */

#header-nav-top-it-projects {

  width: 100%;

  /* mobile */
  display: grid;
  justify-items: center;


}

/* ------------------------------------------------------------- */
/* Header | My It Top Projects Container
/* ------------------------------------------------------------- */

#header-top-it-projects {

  width: 100%;

  /* mobile */
  display: grid;
  justify-items: center;
  row-gap: 2em;

}

/* ------------------------------------------------------------- */
/* Header Main Title Block | Header
/* ------------------------------------------------------------- */

#header-top-it-projects > .header-main-title-block {

  width: 100%;

}

/* ------------------------------------------------------------- */
/* Top IT Project Card Container
/* ------------------------------------------------------------- */

#top-it-project-card-container {

  margin-top: 2em;

  display: grid;
  row-gap: 2em;

  background-color: green;

}
