/* ------------------------------------------------------------------------- */
/* > languages.css
/* : styles languages default layout
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Languages Container
/* ------------------------------------------------------------- */

#languages-container {

  margin-top: 1.5em;
  padding-top: 1.5em;

  border-top: 3px solid rgb(237, 237, 237);

  /* default unshown */
  display: none;

}
