/* ------------------------------------------------------------------------- */
/* > languages.css
/* : styles languages default layout
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Languages Container
/* ------------------------------------------------------------- */

#languages-container {

  margin-top: 1.5em;
  padding-top: 1.5em;

  border-top: 3px solid rgb(237, 237, 237);

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* Languages Content Container
/* ------------------------------------------------------------- */

#languages-content-container {

  margin-top: 1.5em;
  padding-top: 1.5em;

  border-top: 3px solid rgb(237, 237, 237);

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* Nav Language Container
/* ------------------------------------------------------------- */

#nav-language-container {

  display: grid;

}

/* ------------------------------------------------------------- */
/* Nav Language Countries Container
/* ------------------------------------------------------------- */

#nav-language-countries-container {

  margin-top: .6em;
  padding-top: .6em;

  padding-bottom: 1.5em;

  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: 3px solid rgb(238, 238, 238);

}

/* ------------------------------------------------------------- */
/* 🟣🟣 Auslagern
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* Vocubulary Language Container
/* ------------------------------------------------------------- */

#vocubulary-language-container {

  padding-top: 1.5em;

  display: none;

}

/* ------------------------------------------------------------- */
/* Songs Language Container
/* ------------------------------------------------------------- */

#songs-language-container {

  padding-top: 1.5em;

  display: none;

}

/* ------------------------------------------------------------- */
/* Dictation Language Container
/* ------------------------------------------------------------- */

#dictation-language-container {

   padding-top: 1.5em;

  display: none;

}
