/* ------------------------------------------------------------------------- */
/* > languages.css
/* : styles languages default layout
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Languages Container
/* ------------------------------------------------------------- */

#languages-container {

  width: 100%;
  margin-top: 1.5em;

  display: grid;

  background-color: yellowgreen;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* Nav Languages Container
/* ------------------------------------------------------------- */

#nav-languages-container {

  width: 100%;

  display: grid;
  row-gap: .5em;

}

/* ------------------------------------------------------------- */
/* [1/2] | Nav Category Languages Container
/* ------------------------------------------------------------- */

#nav-category-languages-container {

  background-color: rgb(190, 190, 230);

}

/* ------------------------------------------------------------- */
/* Nav Category Content Languages
/* ------------------------------------------------------------- */

#nav-category-content-languages {

  margin-top: .5em;

  display: grid;
  row-gap: .5em;

}

/* ------------------------------------------------------------- */
/* [2/2] | Nav Flags
/* ------------------------------------------------------------- */

#nav-flags-languages-container {

  background-color: red;

}










/* ------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Languages Content Container
/* ------------------------------------------------------------- */

#languages-content-container {

  margin-top: 1.5em;
  padding-top: 1.5em;

  border-top: 3px solid rgb(237, 237, 237);

  /* default unshown */
  display: none;

}









/* ------------------------------------------------------------- */
/* Nav Language Container
/* ------------------------------------------------------------- */

#nav-language-container {

  display: grid;

}

/* ------------------------------------------------------------- */
/* Nav Language Countries Container
/* ------------------------------------------------------------- */

#nav-language-countries-container {

  margin-top: .6em;
  padding-top: .6em;

  padding-bottom: 1.5em;

  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: 3px solid rgb(238, 238, 238);

}

/* ------------------------------------------------------------- */
/* 🟣🟣 Auslagern
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* Vocubulary Language Container
/* ------------------------------------------------------------- */

#vocubulary-language-container {

  padding-top: 1.5em;

  display: none;

}

/* ------------------------------------------------------------- */
/* Songs Language Container
/* ------------------------------------------------------------- */

#songs-language-container {

  padding-top: 1.5em;

  display: none;

}

/* ------------------------------------------------------------- */
/* Dictation Language Container
/* ------------------------------------------------------------- */

#dictation-language-container {

  padding-top: 1.5em;

  display: none;

}
