/* ------------------------------------------------------------------------- */
/* > languages.css
/* : styles languages default layout
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Languages Container
/* ------------------------------------------------------------- */

#languages-container {

  width: 100%;
  margin-top: 1.5em;

  display: grid;
  /* background-color: yellowgreen; */

  /* default unshown */
  display: none;

}

#languages-container > .status-content-coming-soon {

  margin-bottom: 1.5em;

}

/* languages | status coming soon */

/* ------------------------------------------------------------- */
/* Nav Languages Container
/* ------------------------------------------------------------- */

#nav-languages-container {

  width: 100%;

  display: grid;
  row-gap: .5em;

}

/* ------------------------------------------------------------- */
/* [1/2] | Nav Category | Languages Container
/* ------------------------------------------------------------- */

#nav-category-languages-container {

  /* background-color: rgb(190, 190, 230); */

}

/* ------------------------------------------------------------- */
/* Nav Category Content Languages
/* ------------------------------------------------------------- */

#nav-category-content-languages {

  margin-top: .5em;

  display: grid;
  row-gap: .5em;

}

/* ------------------------------------------------------------- */
/* [2/2] | Nav Flags | Languages Container
/* ------------------------------------------------------------- */

#nav-flags-languages-container {

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* Nav Flags Languages
/* ------------------------------------------------------------- */

#nav-flags-languages {

  margin-top: .5em;

  display: grid;
  row-gap: .5em;

}
