/* ------------------------------------------------------------------------- */
/* > nav-languages.css
/* : styles nav languages
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Checkbox | Selected Category Content Languages
/* ------------------------------------------------------------- */

/* default unshown */
#chk-selected-category-content-languages {

  display: none;

}

/* set background */
#chk-selected-category-content-languages:checked + label {

  background-color: wheat;

}

/* change rotation img arrow */
#chk-selected-category-content-languages:checked + label > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* set content */
#chk-selected-category-content-languages:checked ~ #smooth-nav-category-content-languages {

  grid-template-rows: 1fr;

}

/* ------------------------------------------------------------- */
/* Radios | Category Content Languages
/* ------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-category-language"] {

  display: none;

}

/* set background */
#radio-category-language-choose:checked ~ #nav-languages-container #nav-category-languages-container label[for="radio-category-language-choose"],
#radio-category-language-vocubulary:checked ~ #nav-languages-container #nav-category-languages-container label[for="radio-category-language-vocubulary"],
#radio-category-language-songs:checked ~ #nav-languages-container #nav-category-languages-container label[for="radio-category-language-songs"],
#radio-category-language-dictation:checked ~ #nav-languages-container #nav-category-languages-container label[for="radio-category-language-dictation"] {

  background-color: wheat;

}

/* set x */
#radio-category-language-choose:checked ~ #nav-languages-container #nav-category-languages-container label[for="radio-category-language-choose"] > .custom-radio-small > img,
#radio-category-language-vocubulary:checked ~ #nav-languages-container #nav-category-languages-container label[for="radio-category-language-vocubulary"] > .custom-radio-small > img,
#radio-category-language-songs:checked ~ #nav-languages-container #nav-category-languages-container label[for="radio-category-language-songs"] > .custom-radio-small > img,
#radio-category-language-dictation:checked ~ #nav-languages-container #nav-category-languages-container label[for="radio-category-language-dictation"] > .custom-radio-small > img {

  display: flex;

}

/* set content */
#radio-category-language-vocubulary:checked ~ #vocubulary-language-container,
#radio-category-language-songs:checked ~ #songs-language-container,
#radio-category-language-dictation:checked ~ #dictation-language-container {

  display: grid;

}

/* ------------------------------------------------------------- */
/* Checkbox | Selected Flag Languages
/* ------------------------------------------------------------- */


/* default unshown */
#chk-selected-flag-languages {

  display: none;

}

/* set background */
#chk-selected-flag-languages:checked + label {

  background-color: wheat;

}

/* change rotation img arrow */
#chk-selected-flag-languages:checked + label > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* set content */
#chk-selected-flag-languages:checked ~ #smooth-nav-flags-languages {

  grid-template-rows: 1fr;

}

/* ------------------------------------------------------------- */
/* Radios | Flag Languages
/* ------------------------------------------------------------- */


/* default unshown */
input[name="name-radio-language-countries"] {

  display: none;

}

/* set background */
#radio-language-english:checked ~ #nav-languages-container #smooth-nav-flags-languages label[for="radio-language-english"],
#radio-language-spanish:checked ~ #nav-languags-container #smooth-nav-flags-languages label[for="radio-language-spanish"],
#radio-language-france:checked ~ #nav-languages-container #smooth-nav-flags-languages label[for="radio-language-france"],
#radio-language-italian:checked ~ #nav-languages-container #smooth-nav-flags-languages label[for="radio-language-italian"],
#radio-language-polish:checked ~ #nav-languages-container #smooth-nav-flags-languages label[for="radio-language-polish"],
#radio-language-turkish:checked ~ #nav-languages-container #smooth-nav-flags-languages label[for="radio-language-turkish"] {

  background-color: wheat;

}

/* set x */
#radio-language-english:checked ~ #nav-languages-container #smooth-nav-flags-languages label[for="radio-language-english"] .custom-radio-small > img,
#radio-language-spanish:checked ~ #nav-languags-container #smooth-nav-flags-languages label[for="radio-language-spanish"] .custom-radio-small > img,
#radio-language-france:checked ~ #nav-languages-container #smooth-nav-flags-languages label[for="radio-language-france"] .custom-radio-small > img,
#radio-language-italian:checked ~ #nav-languages-container #smooth-nav-flags-languages label[for="radio-language-italian"] .custom-radio-small > img,
#radio-language-polish:checked ~ #nav-languages-container #smooth-nav-flags-languages label[for="radio-language-polish"] .custom-radio-small > img,
#radio-language-turkish:checked ~ #nav-languages-container #smooth-nav-flags-languages label[for="radio-language-turkish"] .custom-radio-small > img {

 display: flex;

}
