/* -------------------------------------------------------------- */
/* > nav-my-it.css
/*
/* : styles nav of my it
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Nav My It
/* ------------------------------------------------------------- */

#nav-my-it {

  width: 100%;

  display: flex;
  align-items: center;

  /* mobile */
  justify-content: center;

  border-radius: 1.5em 1.5em 1.5em 1.5em;

  /* background-color: rgb(208, 82, 82); */

}

/* ------------------------------------------------------------- */
/* Handling
/* ------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-nav-my-it"] {

  display: none;
}

/* set label background */
#radio-nav-my-it-projects:checked ~ #css-nav-my-it label[for="radio-nav-my-it-projects"],
#radio-nav-my-it-docs:checked ~ #css-nav-my-it label[for="radio-nav-my-it-docs"]{

  z-index: 3;
  background-color: wheat;

}

/* show content */
#radio-nav-my-it-projects:checked ~ #my-it-projects-container,
#radio-nav-my-it-docs:checked ~ #my-it-docs-container {

  display: block;

}
