/* -------------------------------------------------------------- */
/* > it-top-projects.css
/*
/* : styles my it top projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Header | My IT Top Project Header
/* ------------------------------------------------------------- */

#my-it-top-project-header {

  width: 100%;

  display: grid;
  justify-items: center;

  /* background-color: red; */
  /* background-color: yellow; */

}

/* ------------------------------------------------------------- */
/* ⬇️⬆️ | Smooth | Nav Label | It Top Projects
/* ------------------------------------------------------------- */

#smooth-nav-label-it-top-projects {

  width: 100%;

  display: grid;

}

/* ------------------------------------------------------------- */
/* Nav | It Top Projects
/* ------------------------------------------------------------- */

#nav-it-top-projects {

  width: 100%;

  padding: 1em .8em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-end;
  column-gap: .8em;
  row-gap: .8em;

  background-color: white;
  border-bottom: 3px solid black;


}

/* ------------------------------------------------------------- */
/* Top It Project Cards Container
/* ------------------------------------------------------------- */

#my-it-top-project-cards-container {

  width: 100%;
  padding: 1.5em .8em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: .8em;
  row-gap: .8em;

  background-color: rgb(230, 230, 230);
  background-color: white;

}

/* ------------------------------------------------------------- */
/* Top IT Project Card
/* ------------------------------------------------------------- */

.top-it-project-card {

  padding: .8em;

  border: 1px solid black;
  border-radius: .8em;
}
