/* -------------------------------------------------------------- */
/* > top-it-projects.css
/*
/* : styles my it top projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My It Top Projects Container
/* ------------------------------------------------------------- */

#my-it-top-projects-container {

  width: 100%;

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* Imgs | Header
/* ------------------------------------------------------------- */

/* rocket */
#img-header-top-it-projects {

  height: 2.2em;

}

/* folder */
#img-header-more-it-projects {

  height: 2em;

}


/* books */
#img-header-it-docs {

   height: 2em;

}
