/* -------------------------------------------------------------------------------- */
/* > about-mindset.css
/*
/* : styles mindset of about
/* -------------------------------------------------------------------------------- */


/* ------------------------------------------------------------ */
/* About Details Mindset Container
/* ------------------------------------------------------------ */

#about-details-mindset-container {

  width: 100%;

  margin-top: 2em;
  padding: 2em .8em;

  display: grid;
  justify-items: center;

  border-radius: 3em 1.3em 3em 1.3em;

  background-color: rgba(165, 165, 165, .6);

  display: none;

}

/* ---------------------------------------------------------------------- */
/* About Mindset Video Container List
/* ---------------------------------------------------------------------- */

#about-mindset-video-container-list {

  width: 100%;

  display: grid;
  justify-items: center;
  row-gap: 3em;



}

/* ---------------------------------------------------------------------- */
/* About Mindset Video Box
/* ---------------------------------------------------------------------- */

.about-mindset-video-box {

  width: 100%;

  /* mobile */
  display: grid;
  justify-items: center;

}

/* ---------------------------------------------------------------------- */
/* Header | About Mindset Video Box
/* ---------------------------------------------------------------------- */

.about-mindset-video-box > header {

  width: 100%;
  padding: .5em 0;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  /* background-color: rgb(142, 142, 212); */

}

/* --------------------------------------------------------------- */
/* About Mindset Video Header | Header
/* --------------------------------------------------------------- */

.about-mindset-video-header {

  display: grid;
  row-gap: .4em;

}

/* --------------------------------------------------------------- */
/* About Mindset Video Nr | Header
/* --------------------------------------------------------------- */

.about-mindset-video-nr {

  justify-self: flex-start;

  height: 1.8em;
  padding: 0 .4em;

  font-size: 14.5px;

  letter-spacing: 1px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: .5em;

  font-weight: bold;

  background-color: rgba(28, 28, 28, .8);
  color:rgb(255, 255, 255);

}

/* --------------------------------------------------------------- */
/* About Mindset Video Title | Header
/* --------------------------------------------------------------- */

.about-mindset-video-title {

  font-style: italic;
  font-weight: bold;
  color:rgb(79, 79, 79);

}

/* --------------------------------------------------------------- */
/* About Mindset Video Music Countdown | Header
/* --------------------------------------------------------------- */

.about-mindset-video-music-countdown {

  width: 3.3em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1px;

  font-weight: bold;

  border-radius: .4em;

  background-color: rgb(184, 184, 184);
  color: rgb(101, 101, 101);

}

.about-mindset-video-music-countdown > div {

  font-size: 14.5px;
}

/* ---------------------------------------------------------------------- */
/* Main | About Mindset Video Box
/* ---------------------------------------------------------------------- */

.about-mindset-video-box > main {

  width: 100%;
  /* height: 100%; */
  position: relative;

  display: grid;
  justify-items: center;
  align-items: center;

}

/* ---------------------------------------------------------------------- */
/* About Mindset Video
/* ---------------------------------------------------------------------- */

.about-mindset-video {

  width: 100%;
  height: 15em;
  object-fit: cover;
  /* object-fit: fill; */
  /* object-fit: contain; */

  border-radius: .8em;

  border: 3px solid rgba(28, 28, 28, .8);

}

/* ---------------------------------------------------------------------- */
/* About Mindset Quote Container
/* ---------------------------------------------------------------------- */

#about-mindset-quote-container {

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .6em;

}

/* ---------------------------------------------------------------------- */
/* Div | About Mindset Quote Element
/* ---------------------------------------------------------------------- */

#about-mindset-quote-container > div {

  height: 2em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: .6em;

}

/* ---------------------------------------------------------------------- */
/* Div 1,3 | About Mindset Quote Element
/* ---------------------------------------------------------------------- */

#about-mindset-quote-container > div:nth-of-type(1),
#about-mindset-quote-container > div:nth-of-type(3) {

 background-color: rgb(184, 184, 184);

}

/* ---------------------------------------------------------------------- */
/* Div 2 | About Mindset Quote Element
/* ---------------------------------------------------------------------- */

#about-mindset-quote-container > div:nth-of-type(2) {

  background-color: wheat;

}
