/* -------------------------------------------------------------- */
/* > it-projects.css
/*
/* : styles it projects defaults
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* IT Projects Container
/* -------------------------------------------------------------- */

#it-projects-container {

  display: grid;
  row-gap: 2em;

  /* default unshown - will be set by radio */
  display: none;

}


/* ------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* My It Projects Container
/* ------------------------------------------------------------- */

#my-it-projects-container {

  width: 100%;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* My It Projects Content Container
/* ------------------------------------------------------------- */

#my-it-projects-content-container {

  display: grid;
  row-gap: 1.5em;

}


/* ------------------------------------------------------------- */
/* Imgs | Header
/* ------------------------------------------------------------- */

/* img top it projects */
#img-top-it-project-header {

  height: 2.2em;

}

/* img more it projects */
#img-more-project-header {

  height: 2.2em;

}
