/* ----------------------------------------------------------------------- */
/* > headline-beginning.css
/*
/* : style the first headline beginning container, start with topic
/* ----------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/* Headline Beginning Container
/* > left, right, center, space-between
/* -------------------------------------------------------------------------------- */

.headline-beginning-container-left,
.headline-beginning-container-right,
.headline-beginning-container-center,
.headline-beginning-container-space-between {

    /* mobile */
    display: flex;
    align-items: center;
}

.headline-beginning-container-right {

    justify-content: flex-end;
}

.headline-beginning-container-center {

    justify-content: center;
}

.headline-beginning-container-space-betwee  {

    justify-content: space-between;
}

/* ---------------------------------------------------- */
/* Headline Beginning Title
/* ---------------------------------------------------- */

.headline-beginning-title {

    /* mobile */
    height: 4em;
    padding: 0 1em;

    display: flex;
    column-gap: .6em;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    border-radius: 1em;

    background-color: wheat;

}

.headline-beginning-title > div:nth-of-type(1) {

    /* 24px */
    font-size: 1.125em;
}
