/* -------------------------------------------------------------- */
/* > headline-containers.css
/*
/* : default sets for all headline styles
/* -------------------------------------------------------------- */



/* ---------------------------------------------------- */
/* Headline Containers ( left, right, two-cols-outside)
/* ---------------------------------------------------- */

.headline-left-container,
.headline-right-container,
.headline-two-cols-outside-container {

    /* mobile */
    height: 8em;
    padding: 0 .8em;

    display: flex;
    align-items: center;

    background-color: white;

}

.headline-right-container {

    justify-content: flex-end;
}

.headline-two-cols-outside-container  {

    justify-content: space-between;
}

/* ---------------------------------------------------- */
/* Headline Container
/* ---------------------------------------------------- */

.headline-container {

    /* mobile */
    height: 4em;
    padding: 0 1em;

    display: flex;
    column-gap: 1em;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    border-radius: .6em;

    /* background-color: rgb(100, 100, 100); */
    /* background-color: rgb(53, 53, 53); */
    /* background-color: rgb(28, 28, 28); */
    /* color:white; */

    background-color: wheat;

    /* opacity: .6; */

}

.headline-container > div:nth-of-type(1) {

    font-size: 1.375em;
}


/* ------------------------------------------------------------- */
/* Img Individual | Headline | About, My IT , My Private
/* ------------------------------------------------------------- */


/* img header container about */
#headline-about > img {

    /* mobile */
    height: 2.5em;
}

/* img header container my it */
#headline-my-it > img {

    /* mobile */
    height: 1.8em;
}

/* img header container my private */
#headline-my-private > img {

    /* mobile */
    height: 2em;
}
