/* -------------------------------------------------------------- */
/* > headline-containers.css
/*
/* : default sets for all headline styles
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Headline ( left, right, two-cols-outside) Container
/* -------------------------------------------------------------- */

.headline-left-container,
.headline-right-container,
.headline-center-container,
.headline-two-cols-outside-container {

    /* mobile */
    display: flex;
    align-items: center;
}

.headline-right-container {

    justify-content: flex-end;
}

.headline-center-container {

    justify-content: center;
}

.headline-two-cols-outside-container  {

    justify-content: space-between;
}

/* ---------------------------------------------------- */
/* [1/2] | Headline Topic Element
/* ---------------------------------------------------- */

.headline-topic-element {

    /* mobile */
    height: 4em;
    padding: 0 1em;

    display: flex;
    column-gap: 1em;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    border-radius: 1em;

    background-color: wheat;

}

.headline-topic-element > div:nth-of-type(1) {

    /* 24px */
    font-size: 1.5em;
}

/* ------------------------------------------------------------------------ */
/* [2/2] | Headline Sub Topic ( dark / light ) Element
/* ------------------------------------------------------------------------ */

.headline-sub-topic-dark-element,
.headline-sub-topic-light-element {

  height: 4em;
  padding: 0em 1.3em;

  display: flex;
  align-items: center;
  column-gap: .8em;

  border-radius: .8em;

}

.headline-sub-topic-dark-element {

    border: 1px solid rgb(78, 78, 78);

}

.headline-sub-topic-light-element {

    border: 4px solid red;

}


/* ----------------------------------------- */
/* ⚠️ Experiment
/* ----------------------------------------- */

.sub-headline-category-container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    column-gap: 1em;
    row-gap: 1em;
}

/* --------------------------------------------------- */
/* img + title */
/* --------------------------------------------------- */

.sub-headline-category-container > div:nth-of-type(1) {

    /* height: 5em; */
    padding: 1em 1em;

    display: flex;
    align-items: center;
    column-gap: 1.3em;

    border-radius: 1.3em;

    background-color: rgb(28, 28, 28);
}

.sub-headline-category-container > div:nth-of-type(1) > div:nth-of-type(1) {

    display: grid;
    row-gap: .3em;
}

.sub-headline-category-container > div:nth-of-type(1) > div:nth-of-type(1) .title-sub-headline-category {

    font-size: 1.25em;
    font-weight: bold;

    color:white;

}

.sub-headline-category-container > div:nth-of-type(1) > div:nth-of-type(1) .sub-title-sub-headline-category {

   font-size: 1.125em;
   color:grey;
}

/* --------------------------------------------------- */
/* number of category */
/* --------------------------------------------------- */

.sub-headline-category-container > div:nth-of-type(2) {

    font-size: 1.125em;

    height: 3em;
    width: 3em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .8em;

    border: 1px solid rgb(75, 75, 75);

    color:rgb(97, 97, 97);

}
