/* -------------------------------------------------------------- */
/* > resp-header-body.css
/*
/* : responsive sets for resp header body
/* -------------------------------------------------------------- */



/* -------------------------------------------------------------- */
/* >= 405px width
/* -------------------------------------------------------------- */

@media (min-width: 405px ) {

    /* ---------------------------------------------------- */
    /* Nav Header Body | Handlings
    /* ---------------------------------------------------- */

    /* let all imgs of label nav header show */
    .label-nav-header-body > img {

        display: flex;
    }

    /* ------------------------------ */
    /* Hover Handling
    /* ------------------------------ */

    /* unshown white img */
    .label-nav-header-body:hover img:nth-of-type(1) {

        display: none;
    }

    /* shown black img */
    .label-nav-header-body:hover img:nth-of-type(2) {

        display: flex;
    }

     /* shown max opicity */
    .label-nav-header-body:hover {

        opacity: 1;
    }

    /* ------------------------------ */
    /* Checked Handling
    /* ------------------------------ */

    /* unshown white img */
    #radio-about:checked ~ label[for="radio-about"] > img:nth-of-type(1),
    #radio-my-it:checked ~ label[for="radio-my-it"] > img:nth-of-type(1),
    #radio-my-private:checked ~ label[for="radio-my-private"] > img:nth-of-type(1) {

        display: none;

    }

    /* show black img */
    #radio-about:checked ~ label[for="radio-about"] > img:nth-of-type(2),
    #radio-my-it:checked ~ label[for="radio-my-it"] > img:nth-of-type(2),
    #radio-my-private:checked ~ label[for="radio-my-private"] > img:nth-of-type(2) {

        display: flex;

    }


}

/* -------------------------------------------------------------- */
/* >= 480px width
/* -------------------------------------------------------------- */

@media (min-width: 480px ) {


    /* ---------------------------------------------------- */
    /* Header Fixed Container Body
    /* ---------------------------------------------------- */

    #header-fixed-container-body {

        /* desktop */
        justify-content: space-between;

    }

    /* ---------------------------------------------------- */
    /* Header Logo Container Body
    /* ---------------------------------------------------- */

    #header-logo-container-body {

        display: flex;

    }

    #img-logo-superfreshdev {

        display: block;
    }


}

/* -------------------------------------------------------------- */
/* >= 550px width
/* -------------------------------------------------------------- */

@media (min-width: 550px ) {


    /* ---------------------------------------------------- */
    /* Header Logo Container Body
    /* ---------------------------------------------------- */

    #header-logo-title-body {

        /* desktop */
        display: grid;
        line-height: 1.3em;

    }

}

/* -------------------------------------------------------------- */
/* >= 750px width
/* -------------------------------------------------------------- */

@media (min-width: 750px ) {


    /* ---------------------------------------------------- */
    /* Header Logo Container Body
    /* ---------------------------------------------------- */

    #header-logo-title-body {

       /* desktop */
       /* font-size: 1.125em; */

    }

}
