/* -------------------------------------------------------------- */
/* > header-content-block.css
/* : styles header content block for beginning big content
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Header Content Block
/* ------------------------------------------------------------- */

.header-content-block {

  display: flex;
  align-items: center;
  column-gap: .8em;

}

/* ------------------------------------------------------------- */
/* Div 1 | Header Content Block
/* ------------------------------------------------------------- */

.header-content-block > div:nth-of-type(1) {

  display: grid;
  /* row-gap: .2em; */

  line-height: 1.7em;

}

/* ------------------------------------------------------------- */
/* Div 1 Div 1 (Title) | Header Content Block
/* ------------------------------------------------------------- */

.header-content-block > div:nth-of-type(1) > div:nth-of-type(1) {

  font-size: 18px;
  font-weight: bold;

}

/* ------------------------------------------------------------- */
/* Div 1 Div 1 (Sub Title) | Header Content Block
/* ------------------------------------------------------------- */

.header-content-block > div:nth-of-type(1) > div:nth-of-type(2) {

  /* responisve will be max 14.5px */
  font-size: 14.5px;

  font-weight: bold;


  line-height: 1.5em;
  color: rgb(145, 145, 145);

}
