/* -------------------------------------------------------------- */
/* > resp-context-area.css
/*  
/* : responsive sets for header, main, footer context area
/* -------------------------------------------------------------- */

.resp-header-container,
.resp-main-container {

    width: 100%;
    display: grid;
    justify-items: center;

}

/* ------------------------------------------------- */
/* [1/2] - Resp Header Container
/* ------------------------------------------------- */

.resp-header-container {
    background-color: magenta;
}

/* ------------------------------------------------- */
/* [2/2] - Resp Main Container
/* ------------------------------------------------- */

.resp-main-container {
    background-color: rgb(28, 200, 227);
}

/* -------------------------------------------------------------- */
/* >= 800px width
/* -------------------------------------------------------------- */
@media (min-width: 800px ) {

    .resp-header-container {
        width: 90%
    }
    

}


/* -------------------------------------------------------------- */
/* >= 900px width
/* -------------------------------------------------------------- */
@media (min-width: 900px ) {

    .resp-header-container {
        width: 50em;
    }
    
}
/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */
@media (min-width: 1200px ) {

    .resp-main-container {
        width: 65em;
    }

}





