/* -------------------------------------------------------------- */
/* > resp-default.css
/*  
/* : styles my resp layout container 
/* -------------------------------------------------------------- */



/* ------------------------------------------------- */
/* 😡😡😡 Sollte gelöscht werden
/* ------------------------------------------------- */


/* ------------------------------------------------- */
/* Alt | Resp Footer | Content Container
/* ------------------------------------------------- */

/* .resp-footer-content-container {

    width: 100%;
    padding: 0 .8em;

} */


/* .resp-main-layout-center-container {

    width: 100%;

    display: flex;
    justify-content: center;
} */


/* alt  */
/* .resp-main-content-container {

   
    padding: 0 .8em;

   
    background-color: aqua;
    color:white;

} */











