/* -------------------------------------------------------------- */
/* > my-it-docs.css
/*
/* : styles my it docs
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My IT Docs Container
/* ------------------------------------------------------------- */

#it-docs-container {

  width: 100%;

  display: grid;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* Header IT Docs Container
/* ------------------------------------------------------------- */

#header-it-docs-container {

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* Nav Main IT Docs
/* ------------------------------------------------------------- */

#nav-main-it-docs {

  /* overwrite nav templates */
  display: flex;
  justify-content: center;
  border-radius: 0;

  padding-bottom: .5em;

  border-bottom: 2px solid rgb(240, 240, 240);

  /* background-color: rebeccapurple; */
}

/* ------------------------------------------------------------- */
/* Nav Sub IT Docs
/* ------------------------------------------------------------- */

#nav-sub-it-docs {

  padding-top: .5em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .4em;

  /* background-color: red; */

}

#nav-sub-it-docs > label:not(:first-child) {

  width: 100%;

}

/* ------------------------------------------------------------- */
/* Labels | Nav Sub IT Docs
/* ------------------------------------------------------------- */

label[for="radio-it-docs-dev-basic"],
label[for="radio-it-docs-web-basic"],
label[for="radio-it-docs-web-dev"],
label[for="radio-it-docs-software-dev"],
label[for="radio-it-docs-it-architecture"],
label[for="radio-it-docs-backend-tools"] {

  display: none;

}

/* ------------------------------------------------------------- */
/* It Docs Content Container
/* ------------------------------------------------------------- */

#it-docs-content-container {

  display: grid;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* [1/2] | IT Docs Content Info Container
/* ------------------------------------------------------------- */

#it-docs-content-info-container {

  position: relative;
  margin: 1.5em 0;
  padding: .3em 0 .3em 1em;

  display: grid;
  row-gap: .6em;


}

/* ------------------------------------------------------------- */
/* Left Curved Line | IT Docs Content Info Container
/* ------------------------------------------------------------- */

.left-curved-line {

  position: absolute;
  height: 100%;
  width: 3px;

  border-radius: 1em;

  background-color: rgb(182, 182, 182);

}

/* ------------------------------------------------------------- */
/* Header | IT Docs Content Info Container
/* ------------------------------------------------------------- */

#it-docs-content-info-container > header {

  font-size: 14.5px;
  font-weight: bold;

}

/* ------------------------------------------------------------- */
/* Main | IT Docs Content Info Container
/* ------------------------------------------------------------- */

#it-docs-content-info-container > main {

  display: grid;
  row-gap: .4em;

  color:rgb(101, 101, 101);

}

/* ------------------------------------------------------------- */
/* Main | Div | IT Docs Content Info Container
/* ------------------------------------------------------------- */

#it-docs-content-info-container > main > div {

  display: flex;
  flex-wrap: wrap;
  gap: .2em;

}

/* ------------------------------------------------------------- */
/* Main | Div 2 | IT Docs Content Info Container
/* ------------------------------------------------------------- */

#it-docs-content-info-container > main > div > div:nth-of-type(2) {

  width: 2.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* Main | Div 1 & 3 | IT Docs Content Info Container
/* ------------------------------------------------------------- */

#it-docs-content-info-container > main > div > div:nth-of-type(1),
#it-docs-content-info-container > main > div > div:nth-of-type(3) {

  font-size: 14.5px;

}

/* ------------------------------------------------------------- */
/* Img Anki Icon | IT Docs Content Info Container
/* ------------------------------------------------------------- */

#it-docs-content-info-container > main > div:nth-of-type(2) > div:nth-of-type(2) > img {

  padding-left: 10px;

}



/* ------------------------------------------------------------- */
/* [2/2] | It Docs Card List Content Container
/* ------------------------------------------------------------- */

#it-docs-card-content-container {

  display: grid;
  row-gap: 2em;

  /* background-color: magenta; */

}

/* ------------------------------------------------------------- */
/* It Docs Card List Container
/* ------------------------------------------------------------- */

.it-docs-card-list-container {

  display: grid;
  row-gap: 2em;

}

/* ------------------------------------------------------------- */
/* Header | It Docs Card List Container
/* ------------------------------------------------------------- */

.it-docs-card-list-container > header {

  padding: .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  font-weight: bold;

  border-radius: 1em;

  /* background-color: rgba(14, 14, 14, 0.8); */
  background-color: rgba(26, 26, 26, 0.8);

  background-color: rgb(223, 223, 223);

  color:rgb(92, 92, 92);

}

/* ------------------------------------------------------------- */
/* Header | Div 1 | It Docs Card List Container
/* ------------------------------------------------------------- */

.it-docs-card-list-container > header > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

/* ------------------------------------------------------------- */
/* Header | Div 2 | It Docs Card List Container
/* ------------------------------------------------------------- */

.it-docs-card-list-container > header > div:nth-of-type(2) {

  letter-spacing: 1px;

}

/* ------------------------------------------------------------- */
/* Main |  It Docs Card List Container
/* ------------------------------------------------------------- */

.it-docs-card-list-container > main {

  width: 100%;

  /* very small mobile */
  display: grid;
  grid: auto / 1fr 1fr;

  column-gap: .6em;
  row-gap: 2em;

}
