/* -------------------------------------------------------------- */
/* > my-it-docs.css
/*
/* : styles my it docs
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My IT Docs Container
/* ------------------------------------------------------------- */

#it-docs-container {

  width: 100%;

  display: grid;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* Header IT Docs Container
/* ------------------------------------------------------------- */

#header-it-docs-container {

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* Nav Main IT Docs
/* ------------------------------------------------------------- */

#nav-main-it-docs {

  /* overwrite nav templates */
  display: flex;
  justify-content: center;
  border-radius: 0;

  padding-bottom: .5em;

  border-bottom: 2px solid rgb(240, 240, 240);

  /* background-color: rebeccapurple; */
}

/* ------------------------------------------------------------- */
/* Nav Sub IT Docs
/* ------------------------------------------------------------- */

#nav-sub-it-docs {

  padding-top: .5em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .4em;

  /* background-color: red; */

}

#nav-sub-it-docs > label:not(:first-child) {

  width: 100%;

}

/* ------------------------------------------------------------- */
/* Labels | Nav Sub IT Docs
/* ------------------------------------------------------------- */

label[for="radio-it-docs-dev-basic"],
label[for="radio-it-docs-web-basic"],
label[for="radio-it-docs-web-dev"],
label[for="radio-it-docs-software-dev"],
label[for="radio-it-docs-it-architecture"],
label[for="radio-it-docs-backend-tools"] {

  display: none;

}

/* ------------------------------------------------------------- */
/* My IT Docs Card Content Container
/* ------------------------------------------------------------- */

#it-docs-card-content-container {

  display: grid;

}

/* ------------------------------------------------------------- */
/* [1/2] | IT Docs Content Seperator Container
/* ------------------------------------------------------------- */

#it-docs-content-seperator-container {

  padding: 2em 0;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2em;

  /* background-color: rgb(233, 233, 233); */

}

#img-it-docs-clipart-me {

  height: 4.5em;

}

#img-it-docs-pdf-seperator {

  height: 2em;
}

#img-it-docs-anki-seperator {

  height: 2em;
}

/* ------------------------------------------------------------- */
/* [2/2] | It Docs Card List Content Container
/* ------------------------------------------------------------- */

#it-docs-card-list-content-container {

  display: grid;
  row-gap: 2em;

  /* background-color: magenta; */

}

/* ------------------------------------------------------------- */
/* It Docs List Card Container
/* ------------------------------------------------------------- */

.it-docs-list-card-container {

  display: grid;
  row-gap: 2em;

}

/* ------------------------------------------------------------- */
/* Header | It Docs List Card Container
/* ------------------------------------------------------------- */

.it-docs-list-card-container > header {

  padding: .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  font-weight: bold;

  border-radius: 1em;

  /* background-color: rgba(14, 14, 14, 0.8); */
  background-color: rgba(26, 26, 26, 0.8);
  color:rgb(188, 188, 188);

}

/* ------------------------------------------------------------- */
/* Title | Header | It Docs List Card Container
/* ------------------------------------------------------------- */

.header-title-it-docs-list {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

/* ------------------------------------------------------------- */
/* Nr | Header | It Docs List Card Container
/* ------------------------------------------------------------- */

.header-title-nr-it-docs-list {

  letter-spacing: 1px;

}

/* ------------------------------------------------------------- */
/* Main | It Docs List Card Container
/* ------------------------------------------------------------- */

.it-docs-list-card-container > main {

  width: 100%;

  /* very small mobile */
  display: grid;
  grid: auto / 1fr 1fr;

  column-gap: .6em;
  row-gap: 2em;

}
