/* -------------------------------------------------------------------------------- */
/* > nav-it-docs.css
/* : styles nav of all it docs categories
/* -------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------- */
/* 🟩 [1/3] | Radio | Main Category ( frontend, backend, ai )
/* ------------------------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-it-docs-main-category"] {

  display: none;

}

/* set background */
#radio-it-docs-frontend:checked ~ #header-it-docs-container label[for="radio-it-docs-frontend"],
#radio-it-docs-backend:checked ~ #header-it-docs-container label[for="radio-it-docs-backend"],
#radio-it-docs-ai:checked ~ #header-it-docs-container label[for="radio-it-docs-ai"] {

  background-color: wheat;
  opacity: 1;

}

/* hover */
label[for="radio-it-docs-frontend"]:hover,
label[for="radio-it-docs-backend"]:hover,
label[for="radio-it-docs-ai"]:hover {

  background-color: wheat;
  opacity: 1;

}

/* set x */
#radio-it-docs-frontend:checked ~ #header-it-docs-container label[for="radio-it-docs-frontend"] > .custom-radio-small > img,
#radio-it-docs-backend:checked ~ #header-it-docs-container label[for="radio-it-docs-backend"]  > .custom-radio-small > img,
#radio-it-docs-ai:checked ~ #header-it-docs-container label[for="radio-it-docs-ai"] > .custom-radio-small > img {

 display: flex;

}


/* set frontend labels */
#radio-it-docs-frontend:checked ~ #header-it-docs-container label[for="radio-it-docs-dev-basic"],
#radio-it-docs-frontend:checked ~ #header-it-docs-container label[for="radio-it-docs-web-basic"],
#radio-it-docs-frontend:checked ~ #header-it-docs-container label[for="radio-it-docs-web-dev"] {

  display: flex;

}

/* set backend labels */
#radio-it-docs-backend:checked ~ #header-it-docs-container label[for="radio-it-docs-software-dev"],
#radio-it-docs-backend:checked ~ #header-it-docs-container label[for="radio-it-docs-it-architecture"],
#radio-it-docs-backend:checked ~ #header-it-docs-container label[for="radio-it-docs-backend-tools"] {

  display: flex;

}

/* ------------------------------------------------------------------------------- */
/* 🟩 [2/3] | Checkbox | Unset Nav Sub IT Docs (js)
/* ------------------------------------------------------------------------------- */

/* default unshown unset sub category */
#radio-unset-it-docs-nav-sub {

  display: none;

}

/* set background */
#radio-unset-it-docs-nav-sub:checked ~ #header-it-docs-container label[for="radio-unset-it-docs-nav-sub"] {

  background-color: wheat;
  opacity: 1;

}

/* hover */
label[for="radio-unset-it-docs-nav-sub"]:hover {

  background-color: wheat;
  opacity: 1;

}

/* set x */
#radio-unset-it-docs-nav-sub:checked ~ #header-it-docs-container label[for="radio-unset-it-docs-nav-sub"] > .custom-radio-small > img {

  display: flex;

}




/* ------------------------------------------------------------------------------- */
/* 🟩 [3/3] | Radio | Sub Main Category ( frontend, backend )
/*                    ( e.g web-basic, web-dev, ... )
/* ------------------------------------------------------------------------------- */

/* default unshown sub main categories */
input[name="name-radios-it-docs-sub-category"] {

  display: none;
}

/* ---------------------------------------------------- */
/* [1/2] | Sub Category | Frontend
/* ---------------------------------------------------- */

/* set background */
#radio-it-docs-dev-basic:checked ~ #header-it-docs-container label[for="radio-it-docs-dev-basic"],
#radio-it-docs-web-basic:checked ~ #header-it-docs-container label[for="radio-it-docs-web-basic"],
#radio-it-docs-web-dev:checked ~ #header-it-docs-container label[for="radio-it-docs-web-dev"] {

  background-color: wheat;
  opacity: 1;

}

/* hover */
label[for="radio-it-docs-dev-basic"]:hover,
label[for="radio-it-docs-web-basic"]:hover,
label[for="radio-it-docs-web-dev"]:hover {

  background-color: wheat;
  opacity: 1;

}

/* set x */
#radio-it-docs-dev-basic:checked ~ #header-it-docs-container label[for="radio-it-docs-dev-basic"] > .custom-radio-small > img,
#radio-it-docs-web-basic:checked ~ #header-it-docs-container label[for="radio-it-docs-web-basic"] > .custom-radio-small > img,
#radio-it-docs-web-dev:checked ~ #header-it-docs-container label[for="radio-it-docs-web-dev"] > .custom-radio-small > img {

  display: flex;

}

/* ---------------------------------------------------- */
/* [2/2] | Sub Category | Backend
/* ---------------------------------------------------- */

/* set background */
#radio-it-docs-it-architecture:checked ~ #header-it-docs-container label[for="radio-it-docs-it-architecture"],
#radio-it-docs-backend-tools:checked ~ #header-it-docs-container label[for="radio-it-docs-backend-tools"],
#radio-it-docs-software-dev:checked ~ #header-it-docs-container label[for="radio-it-docs-software-dev"] {

  background-color: wheat;
  opacity: 1;

}

/* hover */
label[for="radio-it-docs-it-architecture"]:hover,
label[for="radio-it-docs-backend-tools"]:hover,
label[for="radio-it-docs-software-dev"]:hover {

  background-color: wheat;
  opacity: 1;

}

/* set x */
#radio-it-docs-it-architecture:checked ~ #header-it-docs-container label[for="radio-it-docs-it-architecture"] > .custom-radio-small > img,
#radio-it-docs-backend-tools:checked ~ #header-it-docs-container label[for="radio-it-docs-backend-tools"] > .custom-radio-small > img,
#radio-it-docs-software-dev:checked ~ #header-it-docs-container label[for="radio-it-docs-software-dev"] > .custom-radio-small > img {

  display: flex;

}
