/* -------------------------------------------------------------- */
/* > btn-filter-container.css
/*  
/* : styles an filter container where
     buttons works as filter content
/* -------------------------------------------------------------- */

/* ---------------------------------------------------- */
/* Filter Left Button Container 
/* ---------------------------------------------------- */

.filter-left-button-container {

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    gap: .6em;

    background-color: grey;

}


