/* ----------------------------------------------------------------------------- */
/* > label-radio-sfd.css
/*  
/* : styles my label radio style for small, normal andl larger version
/* ----------------------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Label Radio SFD
/* ---------------------------------------------------------------- */

.lbl-cusotm-radio-small-sfd,
.lbl-cusotm-radio-normal-sfd,
.lbl-cusotm-radio-large-sfd {

    padding: 0 .6em 0 .8em;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: .6em;

    border-radius: .4em;

    font-weight: bold;


    cursor: pointer;

    transition: all .4s;

}

/* -------------------------------------------------------- */
/* Color Schemas
/* -------------------------------------------------------- */

.lbl-dashed-border-black {

    border: 1px dashed black;

}

.lbl-solid-border-black {

    border: 1px solid black;

}

.lbl-bgc-light-green {

    background-color: lightgreen;
    color:black;

}

.lbl-bgc-very-light-grey {

    background-color: rgb(239, 239, 239);
    color:black;

}

.lbl-bgc-light-grey {

    background-color: rgb(203, 203, 203);
    color:black;

}

.lbl-bgc-dark-grey {

    background-color: grey;
    color:black;

}

.lbl-bgc-antrahcite {

    background-color: rgb(50, 50, 50);
    color:white;

}

.lbl-cusotm-radio-small-sfd:hover ,
.lbl-cusotm-radio-normal-sfd:hover,
.lbl-cusotm-radio-large-sfd:hover {

    background-color: rgb(201, 201, 201);

}
 
.lbl-cusotm-radio-small-sfd {

    height: 2.5em;

}

.lbl-cusotm-radio-normal-sfd {

    height: 3em;

}

.lbl-cusotm-radio-large-sfd {

    height: 3.5em;
}

/* ---------------------------------------------------------------- */
/* 
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/*
/* ---------------------------------------------------------------- */