/* ------------------------------------------------------------------------- */
/* > others.css
/* : styles others of my private
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Others Container | My Private
/* ------------------------------------------------------------- */

#my-private-others-container {

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* Header Nav Others | My Private
/* ------------------------------------------------------------- */

#header-nav-others-container {

  display: grid;
  align-items: center;

  grid-template-areas:
  'selected-category-others selected-category-others'
  'smooth-nav-others-category smooth-nav-others-category'
  ;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

}

#header-nav-others-container > .header-content-block {

  grid-area: header-others;

  /* explicit vor better look & feel */
  margin-left: .6em;

  display: none;

}

/* ------------------------------------------------------------- */
/* Label | Selected Category
/* ------------------------------------------------------------- */

label[for="chk-selected-category-others"] {

  grid-area: selected-category-others;

}

/* ------------------------------------------------------------- */
/* Smooth Nav Others Category
/* ------------------------------------------------------------- */

#smooth-nav-others-category {

  grid-area: smooth-nav-others-category;

}

/* ------------------------------------------------------------- */
/* Nav Others Category ( Radio Items )
/* ------------------------------------------------------------- */

#nav-others-category {

  padding-top: 1.5em;

  display: grid;
  row-gap: .5em;


}
