/* ------------------------------------------------------------------------- */
/* > others.css
/* : styles others of my private
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Others Container | My Private
/* ------------------------------------------------------------- */

#others-container-my-private {

  /* default unshown */
  display: none;

}
