/* -------------------------------------------------------------- */
/* > link-action-grey.css
/* : styles link action grey style
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Link Action | Grey
/* -------------------------------------------------------------- */

.link-action-grey-very-small,
.link-action-grey-small,
.link-action-grey-medium,
.link-action-grey-big {

  text-decoration: none;

  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .6em;

  font-weight: bold;

  background-color: #eeeeee;
  color:rgb(103, 103, 103);

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* -------------------------------------------------------------- */
/* Hover | Link Action | Grey
/* -------------------------------------------------------------- */

.link-action-grey-very-small:hover,
.link-action-grey-small:hover,
.link-action-grey-medium:hover,
.link-action-grey-big:hover {

  background-color: wheat;

}

/* -------------------------------------------------------------- */
/* Div 1 | Link Action | Grey
/* -------------------------------------------------------------- */

.link-action-grey-very-small > div:nth-of-type(1) {

  font-size: 12.5px;
}

.link-action-grey-small > div:nth-of-type(1),
.link-action-grey-medium > div:nth-of-type(1),
.link-action-grey-big > div:nth-of-type(1) {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

}

/* -------------------------------------------------------------- */
/* Very Small | Link Action
/* -------------------------------------------------------------- */

.link-action-grey-very-small {

  height: 1.8em;

}

/* -------------------------------------------------------------- */
/* Small | Link Action
/* -------------------------------------------------------------- */

.link-action-grey-small {

  height: 2em;

}

/* -------------------------------------------------------------- */
/* Medium | Link Action
/* -------------------------------------------------------------- */

.link-action-grey-medium  {

  height: 2.3em;

}

/* -------------------------------------------------------------- */
/* Big | Link Action
/* -------------------------------------------------------------- */

.link-action-grey-big  {

  height: 2.8em;

}
