/* -------------------------------------------------------------- */
/* > my-books-private.css
/*
/* : styles books private
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* My Book Private Container
/* ---------------------------------------------------------------- */

#my-book-private-container {

  margin-top: 4em;

  display: grid;

  /* background-color: rgb(179, 179, 179); */

  /* default unshown */
  display: none;

}
