/* -------------------------------------------------------------- */
/* > core-feature-container.css
/*
/* : styles core feature container for top it project
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Core Features Container | Top IT Project Card
/* ------------------------------------------------------------- */

.core-feature-container-top-it-project {

  width: 100%;
  display: grid;

}

/* ------------------------------------------------------------- */
/* Core Features Content | Top IT Project Card
/* ------------------------------------------------------------- */

.core-feature-content-top-it-project {

  width: 100%;
  /* margin-top: 1em; */
  padding: 1.5em 1em .5em 1em;

  display: grid;
  row-gap: 1.5em;

}

/* ------------------------------------------------------------- */
/* Core Feature Info Item | Main
/* ------------------------------------------------------------- */

.core-feature-info-item {

  display: grid;
  row-gap: .3em;

}

/* ------------------------------------------------------------- */
/* Header | Core Feature Info Item
/* ------------------------------------------------------------- */

.core-feature-info-item > header {

  font-weight: bold;

}

.core-feature-info-item > header > span:nth-of-type(1) {

  color:#898989;

}

/* ------------------------------------------------------------- */
/* Main | Core Feature Info Item
/* ------------------------------------------------------------- */

.core-feature-info-item > main {

  font-size: 14.5px;
  color:grey;

}

/* ------------------------------------------------------------- */
/* Float Img | Main
/* ------------------------------------------------------------- */

.float-img-core-feature {

  float: right;
  margin-left: 1.3em;

  height: 4.5em;
  width: 4.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .6em;

  background-color: #d1d1d1;

}
