/*
    main-body.css
    > define the root main of the webpage
*/


/* ------------------------------------------------------------------- */
/* Main Body
/* ------------------------------------------------------------------- */

#main-body {
    
    margin-top: 6em;

    transition: all .4s;
    
}


/* ------------------------------------------------------------------- */
/* Main Container
/* ------------------------------------------------------------------- */

#main-container {

    height: 100%;

    /* display: grid;
    grid: 1fr / 1fr; */

    background-color: yellow;

    transition: all .4s ease; 
    
    overflow-x: hidden;


}


/* ------------------------------------------------------------------- */
/* Default | Smooth Slide Down & Up Container 
/* ------------------------------------------------------------------- */

/* this extra container will need for smooth slide down and up by 
using css grid row style*/

.smooth-slide-down-up-container {
    
    overflow: hidden;

}


