/*
    main-body.css
    > define the root main of the webpage
*/


/* ------------------------------------------------------------------- */
/* Main Body
/* ------------------------------------------------------------------- */

#main-body {
    
    margin-top: 6em;

    transition: all .4s;
    
}

/* ------------------------------------------------------------------- */
/* Smooth Slide Down Up Container 
/* ------------------------------------------------------------------- */

/* this extra container we need for smooth slide down and up by 
using grid row */

.smooth-slide-down-up-container {
    
    overflow: hidden;

}

