/* -------------------------------------------------------------- */
/* > my-it.css
/*
/* : styles for about nav ( open / close view )
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My IT Container
/* ------------------------------------------------------------- */

#my-it-container {

    width: 100%;
    display: grid;

    row-gap: 3em;

    /* background-color: rgb(205, 205, 205); */
}

/* ------------------------------------------- */
/* Img Icon Headline It
/* ------------------------------------------- */

#img-icon-it-headline {

    /* mobile */
    height: 1.8em;
}
