/* ----------------------------------------------------------------------------- */
/* > my-news-contact.css
/*  
/* : styles the contact area in my news
/* ----------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* Contact | My News
/* ------------------------------------------------------------------------- */ 

.my-news-contact-me {

    width: 100%;

    padding: 1em 0;

    display: grid;
    justify-items: center;
    row-gap: 1em;

    border-top: 1px dashed rgb(194, 194, 194);
    border-bottom: 1px dashed rgb(194, 194, 194);

    /* background-color: green; */
}

.my-news-contact-me > div:nth-of-type(1) {

    font-size: 1.125em;

    display: grid;
    row-gap: .3em;

    text-align: center;
}

.my-news-contact-me > div:nth-of-type(1) > div:nth-of-type(1) {

    font-weight: bold;
}

/* ------------------------------------------------------------------------- */
/* 🟣 Custom | E-Mail Link
/* ------------------------------------------------------------------------- */ 

.email-link-small {

    /* delete default email browser style */
    text-decoration: none;

    height: 2.5em;
    padding: 0 .6em;

    display: inline-flex;
    align-items: center;
    column-gap: .5em;

    font-weight: bold;

    border-radius: .3em;

    background-color: rgb(222, 222, 222);

}

.email-link-small:link {

   /* delete default email browser style */
   color:black;

}

.email-link-small:hover {

    background-color: wheat;
}

.email-link-small > img:nth-of-type(1) {

    height: 1em;
}