/* ----------------------------------------------------------------------------- */
/* > my-news-category-list.css
/*  
/* : styles my news category list for my it doing & private lifestyle list
/* ----------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* Content | IT Stack | My News
/* ------------------------------------------------------------------------- */ 

.my-news-content-it-stack {

    display: grid;
    row-gap: 1em;

}

/* ------------------------------------------------------------------------- */
/* Doing ( Infinity, Now, After, Finsihed ) | My News
/* ------------------------------------------------------------------------- */ 

.my-news-doing-infinity, 
.my-news-doing-now,
.my-news-doing-after, 
.my-news-doing-finished {

    padding: 1em 1em;

    display: grid;
    row-gap: .8em;
    
    border-radius: .6em;

    /* border: 1px solid black; */

    transition: all .4s;

}  

.my-news-doing-infinity {

    background-color: rgb(246, 246, 246);
}  

.my-news-doing-now {

    background-color: rgb(252, 202, 202);;

}
.my-news-doing-after {

    background-color: rgb(252, 251, 202);

    /* opacity: .2; */

} 
.my-news-doing-finished {

    background-color: rgb(212, 252, 202);
}

/* ------------------------------------------------------------------------- */
/* Doing Hover ( Infinity, Now, After, Finsihed ) | My News
/* ------------------------------------------------------------------------- */ 

.my-news-doing-infinity:hover,
.my-news-doing-now:hover,
.my-news-doing-after:hover, 
.my-news-doing-finished:hover {

    background-color: rgb(218, 218, 218);

    /* background-color: wheat; */

}


.my-news-doing-after:hover {

    opacity: 1;

}



/* ------------------------------------------------------------------------- */
/* Doing Status | My News
/* ------------------------------------------------------------------------- */ 

.my-news-doing-status {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: .3em;
}

.my-news-doing-status > div:nth-of-type(1) {

    display: flex;
    align-items: center;
    column-gap: .3em;
}

/* ------------------------------ */
/* Nr Box
/* ------------------------------ */

.my-news-doing-status > div:nth-of-type(1) > .nr-box {

    width: 1.5em;
    height: 1.5em;
    /* optimal layout fix */
    padding-top: .1em;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    border-radius: .3em;

    border: 1px solid black;

    border: 1px solid rgb(174, 174, 174);

    color:black;

}

.img-my-news-infinity {

    height: 1em;

}

.img-my-news-after {

    /* layout fix */
    padding-bottom: 1px;

    height: .8em;
    transform: rotate(90deg);
}

/* --------------------------------------------------------------- */
/* Doing Status ( Infinity, Now, After, Finished )
/* --------------------------------------------------------------- */

.my-news-doing-status > div:nth-of-type(1) > .doing-status {
    
   height: 1.6em;
   padding: 0 .4em;

   display: flex;
   align-items: center;
   justify-content: center;

   font-weight: bold;

   border-radius: .4em;

   border: 1px solid black;

   border: 1px solid rgb(174, 174, 174);

   color:rgb(0, 0, 0);

}

/* --------------------------------------------------------------- */
/* Infinity Doing Status 
/* --------------------------------------------------------------- */

.my-news-doing-infinity > .my-news-doing-status > div:nth-of-type(1) > .doing-status {

    background-color: rgb(246, 246, 246);
    
} 

/* ------------------------------ */
/* Now | Doing Status 
/* ------------------------------ */

.my-news-doing-now > .my-news-doing-status > div:nth-of-type(1) > .doing-status {

    background-color: rgb(230, 67, 67);

}

/* ------------------------------ */
/* After | Doing Status 
/* ------------------------------ */

.my-news-doing-after > .my-news-doing-status > div:nth-of-type(1) > .doing-status {

    background-color: rgb(249, 233, 54);    
}

/* ------------------------------ */
/* Finished | Doing Status 
/* ------------------------------ */

.my-news-doing-finished > .my-news-doing-status > div:nth-of-type(1) > .doing-status {

    background-color: rgb(87, 170, 92);

}

/* ------------------------------------------------------------------------------------- */
/*  Doing Art | 
/* ------------------------------------------------------------------------------------- */

.my-news-doing-status > .doing-art {

    height: 1.6em;
    padding: 0 .4em;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .3em;

    font-weight: bold;

    border-radius: .4em;

    border: 1px solid black;

    border: 1px solid rgb(174, 174, 174);

    color:rgb(0, 0, 0);

}

/* -------------------------------------------------------------- */
/*  Infinity | Doing Art | 
/* -------------------------------------------------------------- */

.my-news-doing-infinity > .my-news-doing-status > .doing-art {

    background-color: rgb(246, 246, 246);
    
} 

/* -------------------------------------------------------------- */
/*  Now | Doing Art | 
/* -------------------------------------------------------------- */

.my-news-doing-now > .my-news-doing-status > .doing-art {

    background-color: rgb(230, 67, 67);
    
} 

/* -------------------------------------------------------------- */
/*  After | Doing Art | 
/* -------------------------------------------------------------- */

.my-news-doing-after > .my-news-doing-status > .doing-art {

     background-color: rgb(249, 233, 54); 
    
} 

/* -------------------------------------------------------------- */
/*  Finished | Doing Art | 
/* -------------------------------------------------------------- */

.my-news-doing-finished > .my-news-doing-status > .doing-art {

    background-color: rgb(87, 170, 92);
     

    
} 

/* ------------------------------------------------------------------------------------- */
/* IMG | Doing Art | 
/* ------------------------------------------------------------------------------------- */

/* arts: learning, practice, job, building project, working on */

.img-status-learning {

    height: 1.2em;
    
}

.img-status-project {

    height: .9em;
}

.img-status-practice {

    height: 1em;
}

.img-status-job {

    height: .95em;
}

/* ------------------------------------------------------------------------- */
/* Doing Info | My News
/* ------------------------------------------------------------------------- */ 

.my-news-doing-info {

   
}

/* ---------------------------------------- */
/* Title | Doing Info 
/* ---------------------------------------- */

.my-news-doing-info > .title,
.my-news-doing-info > .title .colon {

    font-weight: bold;
}


/* ---------------------------------------- */
/* Description | Doing Info 
/* ---------------------------------------- */

.my-news-doing-info > .description {

    /* font-style: italic; */
    /* color:rgb(28, 28, 28); */
    color:rgb(121, 121, 121);
    
}

/* ---------------------------------------- */
/* Link | Doing Info 
/* ---------------------------------------- */

.my-news-doing-info > .description > .link {

    color:rgb(57, 57, 57);
}

.my-news-doing-info > .description > .link:visited {

    color:rgb(57, 57, 57);
}