/* ------------------------------------------------------------------- */
/* > about-read-more.css
/*
/* : styles the about read more layout
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Label Read More (checkbox)
/* ------------------------------------------------------------------- */

label[for="chk-about-read-more"] {

  grid-area: read_more_label;

  /* because of text, read more and close read */
  width: 7.8em;

}

/* ------------------------------------------------------------------- */
/* Div 2 (unshown, "close read" ) | Label Read More
/* ------------------------------------------------------------------- */

label[for="chk-about-read-more"] > div:nth-of-type(1) > div:nth-of-type(2) {

  display: none;

}


/* ------------------------------------------------------------------- */
/* ⬇️⬆️ Smooth Open Close | Read More Container
/* ------------------------------------------------------------------- */

#smooth-open-close-read-more-container {

  grid-area: read_more_smooth_container;

  width: 100%;

  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;

  /* background-color: red; */

}

/* ------------------------------------------------------------------- */
/* Nav Read More Container
/* ------------------------------------------------------------------- */

#nav-read-more-container {

  margin: 3.5em 0 2em 0;

  /* mobile */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: .6em;
  row-gap: 1em;

  border-radius: .8em;


}

/* ------------------------------------------------------------------- */
/* Laebel | Nav Read More Container
/* ------------------------------------------------------------------- */

#nav-read-more-container > label {

  /* mobile */
  width: 100%;

}

/* ------------------------------------------------------------------- */
/* Label Img 2 (unshown = black img )
/* ------------------------------------------------------------------- */

#nav-read-more-container > label > div:nth-of-type(1) > img:nth-of-type(2) {

 display: none;

}

/* ------------------------------------------------------------------- */
/* ⬇️⬆️ Smooth Open Close | Read More Content Contianer
/* ------------------------------------------------------------------- */

#smooth-open-close-read-more-content-container {

  width: 100%;

  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;

  /* border: 1px solid black; */

}

/* ------------------------------------------------------------------- */
/* About Read More Content Container
/* ------------------------------------------------------------------- */

#about-read-more-content-container {

  width: 100%;

  display: grid;
  justify-items: center;
  /* row-gap: 1em; */

}
