/* ------------------------------------------------------------------- */
/* > about-read-more-info-card.css
/*
/* : styles my about read more info card with header & ul style arts
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* About Read More Info Card
/* ------------------------------------------------------------------- */

.about-read-more-info-card {

  width: 100%;

  border-radius: 2em 1em 6em 1em;

  /* border: 3px solid #ababab; */
  border: 3px solid rgb(28, 28, 28);
  border: 3px solid rgb(214, 214, 214);

}

/* ------------------------------------------------------------------- */
/* Header | About Read More Info Card
/* ------------------------------------------------------------------- */

.about-read-more-info-card > header {

  height: 4.5em;

  display: flex;
  align-items: center;

  border-radius: 1.8em 0em 0em 0em;

  background-color: rgba(205, 205, 205, .3);

  border-bottom: 3px solid rgb(214, 214, 214);

}

/* ------------------------------------------------------------------- */
/* Img | Header
/* ------------------------------------------------------------------- */

.img-about-read-more-topics {

  height: calc(4.5em + 2px);
  width: 4.5em;

  position: relative;
  left: -3px;
  /* top:-3px; */

  border-radius: 1.8em 0 0 0em;

  /* mobile */
  display: none;

}

/* ------------------------------------------------------------------- */
/* About Read More Info Card Title Box | Header
/* ------------------------------------------------------------------- */

.about-read-more-info-card-title-box {

  padding: 0em 1em;

  display: grid;
  justify-items: flex-start;
  row-gap: .1em;

}

/* ------------------------------------------------------------------- */
/* Nr (Div 1) | About Read More Info Card Title Box
/* ------------------------------------------------------------------- */

.about-read-more-info-card-title-box > div:nth-of-type(1) {

  height: 1.3em;
  width: 2.3em;

  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 1px;

  font-weight: bold;

  border-radius: .4em;

  user-select: none;

  background-color: rgb(201, 201, 201);
  color:rgb(133, 133, 133);

}

.about-read-more-info-card-title-box > div:nth-of-type(1) > div:nth-of-type(1) {

  /* 14.5px */
  font-size: .90625em;
}

/* ------------------------------------------------------------------- */
/* Title (Div 2) | About Read More Info Card Title Box
/* ------------------------------------------------------------------- */

.about-read-more-info-card-title-box > div:nth-of-type(2) {

  font-weight: bold;

}

/* ------------------------------------------------------------------- */
/* Ul (1/2 Arts) - default | About Read More Info Card
/* ------------------------------------------------------------------- */

.about-read-more-info-card > ul {

  /* change default ul style */
  margin: 0;
  padding: 2em 1em 2em 1.5em;

  display: grid;
  row-gap: 1.5em;

  color:#616161;

  border-radius: 0em 0em 3em 0em;

}

/* ------------------------------------------------------------------- */
/* Ul (1/2 Arts) - ul sub blocks | About Read More Info Card
/* ------------------------------------------------------------------- */

.about-content-info-boxes > .about-ul-sub-blocks {

  /* change default ul style */
  margin: 0;
  padding: 2em 1em 2em 1.5em;

  /* in sub ul we dont like extra dots*/
  list-style-type: none;

  display: grid;
  row-gap: 1.5em;

  color:#616161;

}

/* ------------------------------------------------------------------- */
/* About Ul Sub Blocks > li > ul
/* ------------------------------------------------------------------- */

.about-content-info-boxes > .about-ul-sub-blocks > li > ul {

  margin: 0;
  padding: 0;

  /* define in sub ul disc like on the first ul li layer */
  list-style-type: disc;

  display: grid;
  row-gap: .3em;

  /* color:red; */

}
