/* ------------------------------------------------------------------- */
/* > about-content-info-boxes.css
/*
/* : styles my about content info boxes which we only use
     in about read more
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* About Content Info Boxes
/* ------------------------------------------------------------------- */

.about-content-info-boxes {

  width: 100%;

  border-radius: .8em;

  /* border: 3px solid #ababab; */
  /* border: 3px solid rgb(28, 28, 28); */

}

/* ------------------------------------------------------------------- */
/* Header | About Content Info Boxes
/* ------------------------------------------------------------------- */

.about-content-info-boxes > header {

  height: 4.5em;

  display: flex;
  align-items: center;

  border-radius: .6em;

  background-color: rgba(205, 205, 205, .3);

  border: 3px solid rgb(214, 214, 214);




}

/* ------------------------------------------------------------------- */
/* Img | Header
/* ------------------------------------------------------------------- */

.img-about-content-info-box {

  height: 4.5em;
  width: 4.5em;

  border-radius: .6em 0 0 .6em;

  /* mobile */
  display: none;

}

/* ------------------------------------------------------------------- */
/* About Content Info Box Title | Header
/* ------------------------------------------------------------------- */

.about-content-info-box-title {

  padding: 0em 1em;

  display: grid;
  justify-items: flex-start;
  row-gap: .1em;

}

/* ------------------------------------------------------------------- */
/* Nr (Div 1) | About Content Info Box Title
/* ------------------------------------------------------------------- */

.about-content-info-box-title > div:nth-of-type(1) {

  height: 1.3em;
  width: 2.3em;

  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 1px;

  font-weight: bold;

  border-radius: .4em;

  user-select: none;

  background-color: rgb(201, 201, 201);
  color:rgb(133, 133, 133);

}

.about-content-info-box-title > div:nth-of-type(1) > div:nth-of-type(1) {

  /* 14.5px */
  font-size: .90625em;
}

/* ------------------------------------------------------------------- */
/* Title (Div 2) | About Content Info Box Title
/* ------------------------------------------------------------------- */

.about-content-info-box-title > div:nth-of-type(2) {

  font-weight: bold;

}

/* ------------------------------------------------------------------- */
/* ul | About Content Info Boxes
/* ------------------------------------------------------------------- */

.about-content-info-boxes > ul {

  /* change default ul style */
  margin: 0;

  padding-left: 1.5em;
  padding-right: 1em;

  padding-top: 2em;
  padding-bottom: 2em;

  display: grid;
  row-gap: 1.5em;

  color:#616161;

}

/* ------------------------------------------------------------------- */
/* ul about-ul-block | About Content Info Boxes
/* ------------------------------------------------------------------- */

.about-content-info-boxes > .about-ul-block {

  margin: 0;

  padding-left: 1.5em;
  padding-right: 1em;

  padding-top: 2em;
  padding-bottom: 2em;

  list-style-type: none;

  display: grid;
  row-gap: 1.5em;

  color:#616161;

}

/* ------------------------------------------------------------------- */
/* about-ul-block > li > ul | About Content Info Boxes
/* ------------------------------------------------------------------- */

.about-content-info-boxes > .about-ul-block > li > ul {

  margin: 0;
  padding: 0;

  list-style-type: disc;

  display: grid;
  row-gap: .3em;

  /* color:red; */

}
