/* -------------------------------------------------------------- */
/* > nav-about-quick-info.css
/*
/* : styles the nav about quick info
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Handling | Label & Smooth Open Close
/* ------------------------------------------------------------------- */

#chk-about-open-close-read-more,
#radio-about-read-more-my-mission,
#radio-about-read-more-my-hobbies,
#radio-about-read-more-story  {

  display: none;

}

/* ----------------------------------------------------------------- */
/* Handle | Read More
/* ----------------------------------------------------------------- */

/* change rotation */
#chk-about-open-close-read-more:checked ~ label[for="chk-about-open-close-read-more"] > img {

  transform: scale(-1);

}

/* set background */
#chk-about-open-close-read-more:checked ~ label[for="chk-about-open-close-read-more"] {

  background-color: rgb(227, 87, 87);
  opacity: 1;

}

/* unshown text: read more */
#chk-about-open-close-read-more:checked ~ label[for="chk-about-open-close-read-more"] > div:nth-of-type(1) {

  display: none;

}

/* show text: close read */
#chk-about-open-close-read-more:checked ~ label[for="chk-about-open-close-read-more"] > div:nth-of-type(2) {

  display: flex;

}

/* ----------------------------------------------------------------- */
/* Handle | Nav Read More ( mission, hobbies, stroy )
/* ----------------------------------------------------------------- */

/* set light brown background */
#radio-about-read-more-my-mission:checked ~ #nav-about-read-more > label[for="radio-about-read-more-my-mission"],
#radio-about-read-more-my-hobbies:checked ~ #nav-about-read-more > label[for="radio-about-read-more-my-hobbies"],
#radio-about-read-more-story:checked ~ #nav-about-read-more > label[for="radio-about-read-more-story"] {

  background-color: wheat;
  opacity: 1;

}

/* show smoot open close */
#chk-about-open-close-read-more:checked ~ #smooth-open-close-read-more-container,
#radio-about-read-more-my-mission:checked ~ #smooth-open-close-about-read-more-content,
#radio-about-read-more-my-hobbies:checked ~ #smooth-open-close-about-read-more-content,
#radio-about-read-more-story:checked ~ #smooth-open-close-about-read-more-content {

  grid-template-rows: 1fr;

}

/* switch content */
#radio-about-read-more-my-mission:checked ~ #smooth-open-close-about-read-more-content #about-read-more-my-mission,
#radio-about-read-more-my-hobbies:checked ~ #smooth-open-close-about-read-more-content #about-read-more-my-hobbies,
#radio-about-read-more-story:checked ~ #smooth-open-close-about-read-more-content #about-read-more-story {

  display: grid;

}
