/* ------------------------------------------------------------------- */
/* > nav-about-quick-info.css
/*
/* : styles the nav about quick info
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Nav About Read More
/* ------------------------------------------------------------------- */

#nav-about-read-more {

  margin: 1.5em 0 0em 0;

  /* mobile */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: .6em;
  row-gap: 1em;

  border-radius: .8em;

}

/* ------------------------------------------------------------------- */
/* Laebel | Nav About Read More
/* ------------------------------------------------------------------- */

#nav-about-read-more > label {

  /* mobile */
  width: 100%;

}

/* ------------------------------------------------------------------- */
/* Label Img 2 (unshown = black img )
/* ------------------------------------------------------------------- */

#nav-about-read-more > label > div:nth-of-type(1) > img:nth-of-type(2) {

 display: none;

}


/* ------------------------------------------------------------------- */
/* Handling | Label & Smooth Open Close
/* ------------------------------------------------------------------- */

#chk-about-read-more {

  display: none;

}

/* ----------------------------------------------------------------- */
/* Handle | Checkbox | Read More | Open, Close
/* ----------------------------------------------------------------- */


/* unshown text: read more */
#chk-about-read-more:checked ~ label[for="chk-about-read-more"] > div:nth-of-type(1) > div:nth-of-type(1) {

  display: none;

}

/* show text: close read */
#chk-about-read-more:checked ~ label[for="chk-about-read-more"] > div:nth-of-type(1) > div:nth-of-type(2) {

  display: flex;

}

/* change img arrow rotation */
#chk-about-read-more:checked ~ label[for="chk-about-read-more"] > img:nth-of-type(1) {

  transform: scale(-1);

}

/* set background */
#chk-about-read-more:checked ~ label[for="chk-about-read-more"] {

  background-color: rgb(227, 87, 87);
  color:black;

  opacity: 1;

}

/* set lighter red background by checked  */
#chk-about-read-more:checked ~ label[for="chk-about-read-more"]:hover {

 background-color: rgb(234, 120, 120);

}

/* show smooth read more container */
#chk-about-read-more:checked ~ #smooth-open-close-read-more-container {

  grid-template-rows: 1fr;

}

/* ----------------------------------------------------------------- */
/* Handle | Radios | Nav Read More ( mission, hobbies, story )
/* ----------------------------------------------------------------- */

input[name="name-radio-read-more"] {

  display: none;

}

/* set light brown background */
#radio-read-more-my-mission:checked ~ #nav-about-read-more > label[for="radio-read-more-my-mission"],
#radio-read-more-my-hobbies:checked ~ #nav-about-read-more > label[for="radio-read-more-my-hobbies"],
#radio-read-more-story:checked ~ #nav-about-read-more > label[for="radio-read-more-story"] {

  background-color: wheat;
  color:black;

  border: 3px solid rgba(28, 28, 28, .3);

  opacity: 1;

}

/* show smooth read more | content container */
#radio-read-more-my-mission:checked ~ #smooth-open-close-read-more-content-container,
#radio-read-more-my-hobbies:checked ~ #smooth-open-close-read-more-content-container,
#radio-read-more-story:checked ~ #smooth-open-close-read-more-content-container {

  grid-template-rows: 1fr;

}

/* show read more content ( mission, hobbies, story ) */
#radio-read-more-my-mission:checked ~ #smooth-open-close-read-more-content-container #read-more-my-mission-container,
#radio-read-more-my-hobbies:checked ~ #smooth-open-close-read-more-content-container #read-more-my-hobbies-container,
#radio-read-more-story:checked ~ #smooth-open-close-read-more-content-container #read-more-story-container {

  /* width: 100%; */
  display: grid;

}

/* set background - tab close x */
#radio-read-more-my-mission:checked ~ #smooth-open-close-read-more-content-container .tab-x-mini-element:nth-of-type(1),
#radio-read-more-my-hobbies:checked ~ #smooth-open-close-read-more-content-container .tab-x-mini-element:nth-of-type(1),
#radio-read-more-story:checked ~ #smooth-open-close-read-more-content-container .tab-x-mini-element:nth-of-type(1) {

  background-color: rgb(227, 87, 87);

}

#radio-read-more-my-mission:checked ~ #smooth-open-close-read-more-content-container .tab-x-mini-element:nth-of-type(1):hover,
#radio-read-more-my-hobbies:checked ~ #smooth-open-close-read-more-content-container .tab-x-mini-element:nth-of-type(1):hover,
#radio-read-more-story:checked ~ #smooth-open-close-read-more-content-container .tab-x-mini-element:nth-of-type(1):hover {

  background-color: rgb(234, 120, 120);

}
