/* --------------------------------------------------------------- */
/* > body-header-company-item.css
/*
/* : styles company item
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Body Header Company Item
/* --------------------------------------------------------------- */

#body-header-company-item {

  height: 2.3em;
  padding: 0em .6em 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1.4em;

  border-radius: .8em;

  font-weight: bold;

  /* border: 2px solid rgb(56, 56, 56); */
  /* background-color: rgb(44, 44, 44); */

  background-color: rgb(44, 44, 44);
  color:rgb(139, 139, 139);

  /* default small mobile unshown */
  display: none;

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* hover */
#body-header-company-item:hover {

  background-color: rgb(44, 44, 44);
  color:grey;

  /* background-color: wheat !important;
  color:black !important; */

}

/* Div 1 | Title */
#body-header-company-item > div {

  font-size: 14.5px;

}
