/* -------------------------------------------------------------- */
/* > open-close-containers.css
/*
/* : styles open close content containers
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------ */
/*  Open / Close ( left/right ) Containers
/* ------------------------------------------------------------------ */

.open-close-left-container,
.open-close-right-container {

  display: flex;
  align-items: center;

}

.open-close-right-container {

    justify-content: flex-end;
}

/* --------------------------------------------- */
/* Label Open Close Element
/* --------------------------------------------- */

.lbl-open-close-element {


    height: 3em;
    padding: 0 1em;

    display: flex;
    align-items: center;
    column-gap: .8em;

    font-weight: bold;

    border-radius: .8em;

    background-color: rgb(180, 180, 180);
    /* background-color: rgb(246, 132, 132); */

    cursor: pointer;
    transition: all .4s;

}

.lbl-open-close-element > div {

  font-size: 1.25em;
}
