/* ------------------------------------------------------------------- */
/* > my-it-docs-nav.css
/*
/* Style the it docs nav style and radio handlings
/*
/* ------------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/*  Default |
/* 1. open close | it docs nav list
/* 2. close | it docs content list
/* 3. all it docs nav labels
/* -------------------------------------------------------------- */

/* default unshown radio box */
#chk-open-close-my-it-docs-nav-list,
#chk-extra-close-label-my-it-docs-content-list,
input[name="radio-nav-my-it-docs"] {

  display: none;
}

/* -------------------------------------------------------------- */
/*  Styling Checked | open / close | My It Docs Nav List
/* -------------------------------------------------------------- */

#chk-open-close-my-it-docs-nav-list:checked + nav > label {

  background-color: rgb(246, 132, 132);
  background-color: wheat;
}

/* change arrow orientation */
#chk-open-close-my-it-docs-nav-list:checked + nav > label > img:last-child {

  transform: rotate(180deg);

}

/* -------------------------------------------------------------- */
/*  Styling Checked | My IT Docs Nav Labels
/* -------------------------------------------------------------- */

#radio-my-it-docs-category:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-category"],
#radio-my-it-docs-web-basic:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-web-basic"],
#radio-my-it-docs-software-basic:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-software-basic"],
#radio-my-it-docs-algorithmn:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-algorithmn"],
#radio-my-it-docs-it-tools:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-it-tools"],
#radio-my-it-docs-expertise:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-expertise"],
#radio-my-it-docs-web-dev:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-web-dev"],
#radio-my-it-docs-software-dev:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-software-dev"],
#radio-my-it-docs-apis:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-apis"],
#radio-my-it-docs-software-quality:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-software-quality"],
#radio-my-it-docs-data-science:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-data-science"],
#radio-my-it-docs-software-architecture:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-software-architecture"],
#radio-my-it-docs-database:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-database"],
#radio-my-it-docs-dev-ops:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-dev-ops"] {

  background-color: wheat;
  /* background-color: magenta; */

}

/* -------------------------------------------------------------- */
/*  Set X | Checked | My IT Docs Nav Labels
/* -------------------------------------------------------------- */

#radio-my-it-docs-category:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-category"] .custom-radio-default > img,
#radio-my-it-docs-web-basic:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-web-basic"] .custom-radio-default > img,
#radio-my-it-docs-software-basic:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-software-basic"] .custom-radio-default > img,
#radio-my-it-docs-algorithmn:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-algorithmn"] .custom-radio-default > img,
#radio-my-it-docs-it-tools:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-it-tools"] .custom-radio-default > img,
#radio-my-it-docs-expertise:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-expertise"] .custom-radio-default > img,
#radio-my-it-docs-web-dev:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-web-dev"] .custom-radio-default > img,
#radio-my-it-docs-software-dev:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-software-dev"] .custom-radio-default > img,
#radio-my-it-docs-apis:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-apis"] .custom-radio-default > img,
#radio-my-it-docs-software-quality:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-software-quality"] .custom-radio-default > img,
#radio-my-it-docs-data-science:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-data-science"] .custom-radio-default > img,
#radio-my-it-docs-software-architecture:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-software-architecture"] .custom-radio-default > img,
#radio-my-it-docs-database:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-database"] .custom-radio-default > img,
#radio-my-it-docs-dev-ops:checked ~ #my-it-docs-nav-container label[for="radio-my-it-docs-dev-ops"] .custom-radio-default > img {

    display: flex;

}

/* -------------------------------------------------------------------------------------- */
/*  ⬇️⬆️ Open | Checked | Open Close IT Docs Nav List Container
/* -------------------------------------------------------------------------------------- */

#chk-open-close-my-it-docs-nav-list:checked ~ #open-close-it-docs-nav-list-container {

  grid-template-rows: 1fr;
}


/* -------------------------------------------------------------------------------------- */
/*  ⬇️⬆️  Close | Checked | Open Close IT Docs Nav List Container
/* -------------------------------------------------------------------------------------- */

#chk-extra-close-label-my-it-docs-content-list:checked ~ #open-close-my-it-docs-content-list {

  /* grid-template-rows: 0fr; */
  background-color: rgb(228, 175, 175);

}
