/* ------------------------------------------------------------------- */
/* > my-it-docs-nav.css
/*
/* Style the it docs nav style and radio handlings
/*
/* ------------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* My IT Docs Nav Container
/* -------------------------------------------------------------- */

#my-it-docs-nav-container {

  /* to allow child layouts to get max width */
  width: 100%;

  display: grid;
  justify-items: center;

}

/* -------------------------------------------------------------- */
/* ⬇️⬆️ | Open Close | My IT Docs Selection List Container       */
/* -------------------------------------------------------------- */

#open-close-my-it-docs-selection-list-container {

  display: grid;
  justify-items: center;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease-in-out;

}

/* -------------------------------------------------------------- */
/* Seleciton List Container | My IT Docs
/* -------------------------------------------------------------- */

#my-it-docs-selection-list-container {

  width: 100%;
  height: 100%;

  display: grid;
  align-items: flex-start;

  /* mobile */
  grid-template-areas:

    'my-it-docs-grid-area-1'
    'my-it-docs-art-seperator-1'
    'my-it-docs-grid-area-2'
    'my-it-docs-art-seperator-2'
    'my-it-docs-grid-area-3';

   column-gap: 2em;

}

/* -------------------------------------------------------------- */
/* Grid Areas | Selection List Container
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
/* [1/2] | Only Mobile | Art Seperator Container
/* -------------------------------------------------------------- */

#only-mobile-my-it-docs-art-seperator-1,
#only-mobile-my-it-docs-art-seperator-2 {

  height: 6em;

}

#only-mobile-my-it-docs-art-seperator-1 {

  grid-area: my-it-docs-art-seperator-1;

}

#only-mobile-my-it-docs-art-seperator-2 {

  grid-area: my-it-docs-art-seperator-2;

}

/* -------------------------------------------------------------- */
/* [2/2] | Selection Grid Area ( 1,2,3 ) | My IT Docs
/* -------------------------------------------------------------- */

#my-it-docs-selection-grid-area-1 {

  grid-area: my-it-docs-grid-area-1;

}

#my-it-docs-selection-grid-area-2 {

  grid-area: my-it-docs-grid-area-2;

}

#my-it-docs-selection-grid-area-3 {

  grid-area: my-it-docs-grid-area-3;

}


/* -------------------------------------------------------------- */
/* Selection List | My IT Docs
/* -------------------------------------------------------------- */

.my-it-docs-selection-list {

  width: 100%;

  display: grid;
  row-gap: .6em;

  /* padding: .8em; */
  /* border: 1px solid rgb(227, 227, 227); */
  border-radius: .6em;

  /* background-color: green; */

}

/* -------------------------------------------------------------- */
/*  Handling | Styling |
/* -------------------------------------------------------------- */

#chk-selected-my-it-docs,
input[name="radio-nav-my-it-docs"] {

  display: none;
}

/* ---------------------------------- */
/* set background */
/* ---------------------------------- */

#chk-selected-my-it-docs:checked + #lbl-selected-my-it-docs {

  background-color: wheat;
}

#radio-my-it-docs-category:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-category"],
#radio-my-it-docs-web-basic:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-web-basic"],
#radio-my-it-docs-software-basic:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-software-basic"],
#radio-my-it-docs-it-tools:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-it-tools"],
#radio-my-it-docs-expertise:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-expertise"],
#radio-my-it-docs-algorithmn:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-algorithmn"],
#radio-my-it-docs-software-quality:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-software-quality"],
#radio-my-it-docs-web-dev:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-web-dev"],
#radio-my-it-docs-software-mobile-dev:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-software-mobile-dev"],
#radio-my-it-docs-database:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-database"],
#radio-my-it-docs-software-architecture:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-software-architecture"],
#radio-my-it-docs-dev-ops:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-dev-ops"],
#radio-my-it-docs-data-science:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-data-science"] {

  background-color: wheat;

}

/* ---------------------------------- */
/* change orientation */
/* ---------------------------------- */

#chk-selected-my-it-docs:checked + #lbl-selected-my-it-docs > img:last-child {

  transform: rotate(180deg);

}

/* ---------------------------------- */
/* set x */
/* ---------------------------------- */

#radio-my-it-docs-category:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-category"] .custom-radio-default > img,
#radio-my-it-docs-web-basic:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-web-basic"] .custom-radio-default > img,
#radio-my-it-docs-software-basic:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-software-basic"] .custom-radio-default > img,
#radio-my-it-docs-it-tools:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-it-tools"] .custom-radio-default > img,
#radio-my-it-docs-expertise:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-expertise"] .custom-radio-default > img,
#radio-my-it-docs-algorithmn:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-algorithmn"] .custom-radio-default > img,
#radio-my-it-docs-software-quality:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-software-quality"] .custom-radio-default > img,
#radio-my-it-docs-web-dev:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-web-dev"] .custom-radio-default > img,
#radio-my-it-docs-software-mobile-dev:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-software-mobile-dev"] .custom-radio-default > img,
#radio-my-it-docs-database:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-database"] .custom-radio-default > img,
#radio-my-it-docs-software-architecture:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-software-architecture"] .custom-radio-default > img,
#radio-my-it-docs-dev-ops:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-dev-ops"] .custom-radio-default > img,
#radio-my-it-docs-data-science:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-data-science"] .custom-radio-default > img {

  display: flex;

}

/* -------------------------------------------------------------- */
/*  Handling | Move | Drow Down Selector
/* -------------------------------------------------------------- */

#chk-selected-my-it-docs:checked ~ #open-close-my-it-docs-selection-list-container {

  grid-template-rows: 1fr;
}
