/* -------------------------------------------------------------- */
/* > my-it-docs.css
/*
/* : styles my it docs
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My IT Docs Container
/* ------------------------------------------------------------- */

#my-it-docs-container {

  width: 100%;

  display: grid;
  /* row-gap: 2em; */

}

/* ------------------------------------------------------------- */
/* Icon | Sub Header Content Container
/* ------------------------------------------------------------- */

#icon-my-it-docs {

  height: 1.8em;
}

/* ------------------------------------------------------------- */
/* Main | My IT Docs Container
/* ------------------------------------------------------------- */

#my-it-docs-container > main {

  border-top: 1px solid rgb(216, 216, 216);
}


/* ------------------------------------------------------------- */
/* My IT Docs Card Container
/* ------------------------------------------------------------- */

#my-it-docs-card-container {

  display: grid;
  justify-items: flex-start;
  row-gap: 2em;
}

/* ------------------------------------------------------------- */
/*  My It Docs Card Row Container
/* ------------------------------------------------------------- */

.my-it-docs-card-row-container {

  width: 100%;

  display: grid;
  row-gap: 2em;


}




/* ------------------------------------------------------------- */
/* Header | My It Docs Card Row Container
/* ------------------------------------------------------------- */

.my-it-docs-card-row-container > header {

  justify-self: flex-start;

  padding: .8em 1.3em;

  display: flex;

  align-items: center;
  column-gap: .8em;

  font-weight: bold;

  border-radius: .8em;

  background-color: rgb(233, 233, 233);

}

.my-it-docs-card-row-container > header > div {

  font-size: 1.125em;
}


/* ------------------------------------------------------------- */
/* Main | My IT Docs Card Container
/* ------------------------------------------------------------- */

.my-it-docs-card-row-container > main {

  /* width: 100%; */

  display:flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 2em;

  /* background-color: red; */

}


/* ------------------------------------------------------------- */
/* My It Doc Card Item
/* ------------------------------------------------------------- */

.my-it-doc-card-item {

  width: 15em;

  display: grid;
  justify-items: center;
  row-gap: .8em;

  border: 6px solid rgb(221, 221, 221);
  background-color: rgb(221, 221, 221);
  border-radius: 1em;

  transition: all .4s;

}

.my-it-doc-card-item:hover {

  background-color: rgb(28 , 28, 28);
  border: 6px solid rgb(28, 28, 28);

  color:white;

}

.new-img-it-doc-card {

  width: 100%;

  border-radius: .8em;
}


/* ------------------------------------------------------------- */
/* My It Docs Card Item Link
/* ------------------------------------------------------------- */

.my-it-docs-card-item-link {

  height: 3em;
  width: 100%;
  /* padding: 0 .8em; */

  display: flex;
  align-items: center;
  justify-content: flex-end;

  border-radius: .8em;

  background-color: grey;


}
