/* ------------------------------------------------------------------- */
/* > my-it-docs-nav.css
/*
/* Style the it docs nav style and radio handlings
/*
/* ------------------------------------------------------------------- */




/* -------------------------------------------------------------- */
/*  Handling | Styling |
/* -------------------------------------------------------------- */

#chk-open-close-my-it-docs-nav-list,
input[name="radio-nav-my-it-docs"] {

  display: none;
}

/* ---------------------------------- */
/* set background */
/* ---------------------------------- */

#chk-selected-my-it-docs:checked + #lbl-selected-my-it-docs {

  background-color: wheat;
}

#radio-my-it-docs-category:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-category"],
#radio-my-it-docs-web-basic:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-web-basic"],
#radio-my-it-docs-software-basic:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-software-basic"],
#radio-my-it-docs-it-tools:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-it-tools"],
#radio-my-it-docs-expertise:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-expertise"],
#radio-my-it-docs-algorithmn:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-algorithmn"],
#radio-my-it-docs-software-quality:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-software-quality"],
#radio-my-it-docs-web-dev:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-web-dev"],
#radio-my-it-docs-software-mobile-dev:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-software-mobile-dev"],
#radio-my-it-docs-database:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-database"],
#radio-my-it-docs-software-architecture:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-software-architecture"],
#radio-my-it-docs-dev-ops:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-dev-ops"],
#radio-my-it-docs-data-science:checked ~ #open-close-my-it-docs-seleciton-list-container #my-it-doc-select-list-container label[for="radio-my-it-docs-data-science"] {

  background-color: wheat;

}

/* ---------------------------------- */
/* change orientation */
/* ---------------------------------- */

#chk-selected-my-it-docs:checked + #lbl-selected-my-it-docs > img:last-child {

  transform: rotate(180deg);

}

/* ---------------------------------- */
/* set x */
/* ---------------------------------- */

#radio-my-it-docs-category:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-category"] .custom-radio-default > img,
#radio-my-it-docs-web-basic:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-web-basic"] .custom-radio-default > img,
#radio-my-it-docs-software-basic:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-software-basic"] .custom-radio-default > img,
#radio-my-it-docs-it-tools:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-it-tools"] .custom-radio-default > img,
#radio-my-it-docs-expertise:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-expertise"] .custom-radio-default > img,
#radio-my-it-docs-algorithmn:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-algorithmn"] .custom-radio-default > img,
#radio-my-it-docs-software-quality:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-software-quality"] .custom-radio-default > img,
#radio-my-it-docs-web-dev:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-web-dev"] .custom-radio-default > img,
#radio-my-it-docs-software-mobile-dev:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-software-mobile-dev"] .custom-radio-default > img,
#radio-my-it-docs-database:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-database"] .custom-radio-default > img,
#radio-my-it-docs-software-architecture:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-software-architecture"] .custom-radio-default > img,
#radio-my-it-docs-dev-ops:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-dev-ops"] .custom-radio-default > img,
#radio-my-it-docs-data-science:checked ~ #open-close-my-it-docs-seleciton-list-container label[for="radio-my-it-docs-data-science"] .custom-radio-default > img {

  display: flex;

}

/* -------------------------------------------------------------- */
/*  Handling | Move | Drow Down Selector
/* -------------------------------------------------------------- */

#chk-open-close-my-it-docs-nav-list:checked ~ #open-close-it-docs-nav-list-container {

  grid-template-rows: 1fr;
}
