/* ------------------------------------------------------------------------------ */
/* > video-tutorial-container.css
/* : styles video tutorial container
/* ------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------ */
/* Video Tutorial Container | Top IT Project
/* ------------------------------------------------------------------------------ */

.video-tutorial-container-top-it-project {

  width: 100%;
  display: grid;

}

/* ------------------------------------------------------------------------------ */
/* Video Tutorial Content | Top IT Project
/* ------------------------------------------------------------------------------ */

.video-tutorial-content-top-it-project {

  width: 100%;

  padding: 1.5em 0 .5em 0;

  display: grid;
  align-items: flex-start;

  row-gap: .8em;
  column-gap: 1em;


}
