/* -------------------------------------------------------------- */
/* > push-slider.css
/*
/* : style the default of page container push slider &
/*   all single page container slide & active
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Push Slider
/* -------------------------------------------------------------- */

.push-slider {

  position: relative;
  height: 100%;

  display: grid;
  /* grid: 1fr / 1fr; */

  overflow: hidden;

}

/* -------------------------------------------------------------- */
/* Push Content Slide ( default all unshwon )
/* -------------------------------------------------------------- */

.push-content-slide {

  /* because of fixed header */
  /* margin-top: 10em; */

  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;


  display: grid;
  justify-items: center;
  align-items: flex-start;
  grid: 1fr / 1fr;

  /* default all pages behind the right corner */
  z-index: 1;
  transform: translateX(100%);

  /* transition effect */
  transition: all .4s;

}

/* -------------------------------------------------------------- */
/* Active | Push Content Slide ( show )
/* -------------------------------------------------------------- */

.push-content-slide.active {

  position: relative;
  z-index: 2;
  transform: translateX(0);

}

/* -------------------------------------------------------------- */
/* Page 1,2,3
/* -------------------------------------------------------------- */

#test-slide-1 {

  margin-top: 3em;

  z-index: 3;
  width: 100%;
  height: 100%;

  display: grid;
  /* grid: 1fr / 1fr; */

  /* padding: 2em; */

  margin: 2em .8em 0 .8em;

  border-left: 3px solid rgb(88, 88, 88);
  border-right: 3px solid rgb(88, 88, 88);

  border: 3px solid rgb(88, 88, 88);

  background-color: rgba(255, 255, 255, .6);

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  border-radius: 1em;

}

#page-1 {

 background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);



}

#img-white-background {

  /* because of header fixed | dont need because parent is relative and thats new point */

  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("../../../../media/img/content/sky_cloud_clouds_175163_3840x2400.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* background-repeat: repeat-x; */
  /* background-repeat: repeat-y;  Vertikal wiederholen */
  /* background-size: 100% auto;   Bild füllt Breite, Höhe bleibt proportional */

}

#test-slide-2 {

  width: 100%;
  height: 100%;

  padding: 2em;
  background-color: rgb(232, 190, 52);

}

.big-content {

  display: grid;
  row-gap: 2em;

}

#test-slide-3 {

  width: 100%;
  height: 100%;

  display: grid;
  justify-items: center;
  align-content: flex-start;
  row-gap: .5em;

  padding: 2em;
  background-color: rgb(158, 212, 208);

}
