/* -------------------------------------------------------------- */
/* > push-slider.css
/*
/* : style the default of page container push slider &
/*   all single page container slide & active
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Push Slider
/* -------------------------------------------------------------- */

.push-slider {

  position: relative;
  height: 100%;

  display: grid;
  grid: 1fr / 1fr;

  overflow: hidden;

}

/* -------------------------------------------------------------- */
/* Push Content Slide ( default all unshwon )
/* -------------------------------------------------------------- */

.push-content-slide {

  /* default all pages behind the right corner */
  z-index: 1;

  /* because of fixed header */
  /* margin-top: 10em; */

  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  display: grid;

  /* default start animation  */
  transform: translateX(100%);

  /* transition effect */
  transition: all .4s;

}

/* -------------------------------------------------------------- */
/* Active | Push Content Slide ( show )
/* -------------------------------------------------------------- */

.push-content-slide.active {

  position: relative;
  z-index: 2;
  transform: translateX(0);

}
