/* ------------------------------------------------------------------- */
/* > my-it-docs-nav.css
/*
/* Style the it docs nav style and radio handlings
/*
/* ------------------------------------------------------------------- */

/* -------------------------------------------------------------- */
/* My IT Docs Nav
/* -------------------------------------------------------------- */

#my-it-docs-nav {

  display: grid;
  /* row-gap: 2em; */

}

/* ----------------------------------------------------------- */
/* [1/2] | Drop Down Menue
/* ----------------------------------------------------------- */

#selected-choosen-it-doc-container {

  height: 4em;
  padding: 0 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.3em;


  border-radius: .8em;

  background-color: rgb(216, 216, 216);

  cursor: pointer;

  transition: all .4s;


}

#selected-choosen-it-doc-container:hover {

  background-color: wheat;
}

.select-title-container {

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

}

.select-title-container > div:nth-of-type(1) {

  opacity: .6;
}

.img-select-title {

  height: 1.2em;
}



/* -------------------------------------------------------------- */
/*  [2/2] | My It Doc Select List Container
/* -------------------------------------------------------------- */

#my-it-doc-select-list-container {

  width: 100%;
  padding: 4em 0 2em 0;

  display: grid;

  grid: auto / 1.3fr 1.3fr 1fr;

  column-gap: 2em;
  row-gap: 1em;

}

/* -------------------------------------------------------------- */
/*  Arrow Down Container
/* -------------------------------------------------------------- */

.arrow-down-container {

  height: 4em;

  display: flex;
  align-items: center;
  justify-content: center;

}

.arrow-down-container > div {

  font-size: 1.25em;
  font-weight: bold;

  transform: rotate(90deg);
}

/* -------------------------------------------------------------- */
/* ⬇️⬆️ | Open Close | Select List My IT Docs View */
/* -------------------------------------------------------------- */

#open-close-select-list-my-it-docs-view {

  width: 100%;

  display: grid;
  justify-items: center;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease-in-out;

}


/* -------------------------------------------------------------- */
/*  My It Doc Select List Item
/* -------------------------------------------------------------- */

.my-it-doc-select-list-item {

  height: 4em;
  padding: 0 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: .8em;

  background-color: rgb(216, 216, 216);

  cursor: pointer;

  transition: all .4s;
}

.my-it-doc-select-list-item:hover {

  background-color: wheat;
}




/* -------------------------------------------------------------- */
/*  Handling | Styling | Drow Down Selector
/* -------------------------------------------------------------- */

#chk-my-it-doc-selected,
input[name="radio-it-docs-choose-category"] {

  display: none;
}

/* ---------------------------------- */
/* set background */
/* ---------------------------------- */

#chk-my-it-doc-selected:checked + #selected-choosen-it-doc-container {

  background-color: wheat;
}

#radio-my-it-docs-choose-category:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-category"],
#radio-my-it-docs-choose-web-basic:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-web-basic"],
#radio-my-it-docs-choose-software-basic:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-software-basic"],
#radio-my-it-docs-choose-it-tools:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-it-tools"],
#radio-my-it-docs-choose-expertise:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-expertise"],
#radio-my-it-docs-choose-algo:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-algo"],
#radio-my-it-docs-choose-software-quality:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-software-quality"],
#radio-my-it-docs-choose-web-dev:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-web-dev"],
#radio-my-it-docs-choose-software-mobile-dev:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-software-mobile-dev"],
#radio-my-it-docs-choose-database:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-database"],
#radio-my-it-docs-choose-software-architecture:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-software-architecture"],
#radio-my-it-docs-choose-dev-ops:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-dev-ops"],
#radio-my-it-docs-choose-data-science:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-data-science"] {

  background-color: wheat;

}

/* ---------------------------------- */
/* change orientation */
/* ---------------------------------- */

#chk-my-it-doc-selected:checked + #selected-choosen-it-doc-container > img:last-child {

  transform: rotate(180deg);

}

/* ---------------------------------- */
/* set x */
/* ---------------------------------- */

#radio-my-it-docs-choose-category:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-category"] .custom-radio-default > img,
#radio-my-it-docs-choose-web-basic:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-web-basic"] .custom-radio-default > img,
#radio-my-it-docs-choose-software-basic:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-software-basic"] .custom-radio-default > img,
#radio-my-it-docs-choose-it-tools:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-it-tools"] .custom-radio-default > img,
#radio-my-it-docs-choose-expertise:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-expertise"] .custom-radio-default > img,
#radio-my-it-docs-choose-algo:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-algo"] .custom-radio-default > img,
#radio-my-it-docs-choose-software-quality:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-software-quality"] .custom-radio-default > img,
#radio-my-it-docs-choose-web-dev:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-web-dev"] .custom-radio-default > img,
#radio-my-it-docs-choose-software-mobile-dev:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-software-mobile-dev"] .custom-radio-default > img,
#radio-my-it-docs-choose-database:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-database"] .custom-radio-default > img,
#radio-my-it-docs-choose-software-architecture:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-software-architecture"] .custom-radio-default > img,
#radio-my-it-docs-choose-dev-ops:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-dev-ops"] .custom-radio-default > img,
#radio-my-it-docs-choose-data-science:checked ~ #open-close-select-list-my-it-docs-view #my-it-doc-select-list-container label[for="radio-my-it-docs-choose-data-science"] .custom-radio-default > img {

  display: flex;

}


/* -------------------------------------------------------------- */
/*  Handling | Move | Drow Down Selector
/* -------------------------------------------------------------- */

#chk-my-it-doc-selected:checked ~ #open-close-select-list-my-it-docs-view {

  grid-template-rows: 1fr;
}















































/* -------------------------------------------------------------- */
/* 🟣 Universal Drop Down -> Tab Filter Panel
/* -------------------------------------------------------------- */


































































/* -------------------------------------------------------------- */
/* ❌❌❌ Müll , IT Docs Nav - Handling ❌❌❌
/* -------------------------------------------------------------- */




/* -------------------------------------------------------------- */
/* Tab Selector | Mobile
/* -------------------------------------------------------------- */

#my-it-docs-nav .tab-selector {

  /* mobile */
  width: 100%;
}


/* -------------------------------------------------------------- */
/* Nav Handling | Style
/* -------------------------------------------------------------- */

/* default  */
#radio-it-docs-web-dev:checked ~ #my-it-docs-nav-radio-handle label[for="radio-it-docs-web-dev"] > .custom-radio-default > img,
#radio-it-docs-software-concepts:checked ~ #my-it-docs-nav-radio-handle label[for="radio-it-docs-software-concepts"] > .custom-radio-default > img,
#radio-it-docs-software-mobile-dev:checked ~ #my-it-docs-nav-radio-handle label[for="radio-it-docs-software-mobile-dev"] > .custom-radio-default > img,
#radio-it-docs-software-architecture:checked ~ #my-it-docs-nav-radio-handle label[for="radio-it-docs-software-architecture"] > .custom-radio-default > img,
#radio-it-docs-quality-engineering:checked ~ #my-it-docs-nav-radio-handle label[for="radio-it-docs-quality-engineering"] > .custom-radio-default > img,
#radio-it-docs-it-tools:checked ~ #my-it-docs-nav-radio-handle label[for="radio-it-docs-it-tools"] > .custom-radio-default > img,
#radio-it-docs-backend:checked ~ #my-it-docs-nav-radio-handle label[for="radio-it-docs-backend"] > .custom-radio-default > img,
#radio-it-docs-data-science:checked ~ #my-it-docs-nav-radio-handle label[for="radio-it-docs-data-science"] > .custom-radio-default > img {

  display: flex;

}



/* -------------------------------------------------------------- */
/* Nav Handling | Move
/* -------------------------------------------------------------- */
