/* ------------------------------------------------------------------------- */
/* > dictation.css
/* : styles dictation layout
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Dictation Language Container
/* ------------------------------------------------------------- */

#dictation-language-container {

  padding-top: 1.5em;

  display: none;

}
