/* -------------------------------------------------------------- */
/* > default-headers.css
/*  
/* : styles for default header content pages
/* -------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* H1 Content header | Universal 
/* ----------------------------------------------------- */

.h1-content-header {

    display: grid;
    row-gap: 2em;
   
    /* to not stretch header 100% */
    justify-self: flex-start;

    /* background-color: blue; */

}

.h1-content-header > div:nth-of-type(1) {

    /* 24px */
    font-size: 1.5em;

    padding: .6em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    column-gap: .6em;
    row-gap: .1em;

    font-weight: bold;

    border-radius: .4em;

    background-color: rgb(220, 220, 220);

   
}

/* ----------------------------------------------------- */
/* ⚠️ In Construction - Do we need this really ?!
/* H2 Content header | Universal 
/* ----------------------------------------------------- */


