/* -------------------------------------------------------------- */
/* > header-body-logo-date.css
/*
/* : style the logo & date containers of header body
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* [1/2] | Logo Title Container | Header Body
/* ---------------------------------------------------------------- */

#header-body-logo-title-container {

    grid-area: hb-logo;

    display: flex;
    column-gap: 1em;

}

/* ---------------------------------------------------------------- */
/* Img | Logo Title Container
/* ---------------------------------------------------------------- */

#header-body-img-logo {

    /* mobile */
    height: 5em;
    display: none;

}

/* ---------------------------------------------------------------- */
/* Title Container | Logo Title Container
/* ---------------------------------------------------------------- */

#header-body-title-container {

    display: grid;
    row-gap: .6em;

}

/* ---------------------------------- */
/* Title
/* ---------------------------------- */

#header-body-title {

    display: grid;
    row-gap: .3em;

    font-weight: bold;

}

#text-welcome-to {

    font-size: 1.125em;
    color: wheat;

}

#text-superfreshdev {

    font-size: 1.375em;
    color: white;

}

/* ---------------------------------- */
/* Sub Title
/* ---------------------------------- */

#header-body-sub-title {

    font-weight: bold;

    line-height: 1.4em;

    color: rgb(116, 116, 116);
}

/* important extra dic, we dont like font size of other css sets */
#header-body-sub-title > div {

    /* 14,5px */
    font-size: .90625em;

}


/* ---------------------------------------------------------------- */
/* [2/2] | Date Container | Header Body
/* ---------------------------------------------------------------- */

#header-body-date-container {

    grid-area: hb-date;

    padding: 1.3em 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: .3em;

    font-weight: bold;

    /* background-color: rgb(115, 189, 115); */

}

#header-body-date-container div {

    /* 14,5px */
    font-size: .90625em;
}


#text-date-today {

  color:wheat;
  opacity: .3;

}


#header-body-date-container > div:last-child {

  display: flex;
  align-items: center;
  column-gap: .3em;

  color:grey;
}
