/* -------------------------------------------------------------- */
/* > header-nav-body.css
/*
/* : styhe the nav of header body
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Header Body Nav
/* ---------------------------------------------------------------- */

#header-body-nav {

    grid-area: hb-nav;

    /* padding-bottom: 2em; */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    column-gap: .8em;
    row-gap: .8em;

    /* background-color: grey; */

}

#header-body-nav > label:nth-of-type(1) {

    background-color: wheat;
    color:black;
}

/* 🟣🟣 Universell, radio label buttons erstellen ?
trotzdem individuell stylbar ?  */

/* ---------------------------------------------------------------- */
/* Label | Header Body Nav
/* ---------------------------------------------------------------- */

.header-body-nav-label {

    padding: .6em 1em;

    display: flex;
    align-items: center;
    column-gap: .8em;

    border-radius: .8em;

    border: 3px solid rgb(73, 73, 73);

    cursor: pointer;
    transition: all .4s;
}

.header-body-nav-label:hover {

    background-color: rgb(192, 192, 192);
}

.header-body-nav-label > img {

    display: none;
}

.header-body-nav-label > div {

    font-weight: bold;
    /* 14,5px */
    font-size: .90625em;
}







/* ---------------------------------------------------------------- */
/* ❌❌❌❌
/* ---------------------------------------------------------------- */


/* --------------------------------------------------- */
/* ⚠️ Just for Layout Testing
/* --------------------------------------------------- */

.set-header-nav-link {

    background-color: wheat;
    color:black;

}

.unset-header-nav-link {

    border: 1px solid rgb(85, 85, 85);
    color:#c8c8c8;
}

.unset-header-nav-link:visited {

    border: 1px solid rgb(85, 85, 85);
    color:#c8c8c8;

}

#nav-header-body > a:hover {

    background-color: wheat;
    color:black;
}


/* ---------------------------------------------------------------- */
/* Anker Link Header Body
/* ---------------------------------------------------------------- */

.anker-link-header-body {

    /* unstyle default link */
    text-decoration: none;
    font-weight: bold;

    height: 3em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .6em;

    border-radius: .8em;

    transition: all .4s;

}

.anker-link-header-body > img {

    /* mobile */
    display: none;
}
