/* -------------------------------------------------------------- */
/* > header-body.css
/*
/* : default sets for body header
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Header Fixed Body
/* ---------------------------------------------------------------- */

#header-fixed-body {

    z-index: 99;

    height: 5.5em;
    width: 100%;

    position: fixed;
    left:0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid rgb(53, 53, 53);

    background-color: rgb(28, 28, 28);

    /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply; */

    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */

}

/* ---------------------------------------------------------------- */
/* Header Fixed Body Layout
/* ---------------------------------------------------------------- */

#header-fixed-body-layout {

    padding: 0 .8em;

    /* mobile */
    display: grid;
    align-items: center;
    justify-content: flex-end;
    grid: auto / 1fr;

    column-gap: .8em;

}
