/* -------------------------------------------------------------- */
/* > header-body.css
/*
/* : default sets for body header
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Header Body Scroll Fix
/* ---------------------------------------------------------------- */

#header-body-scroll-fix {

    z-index: 99;
    width: 100%;

    position: fixed;
    left:0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid rgb(53, 53, 53);

    background-color: rgb(28, 28, 28);

    color:white;

}

/* ---------------------------------------------------------------- */
/* Header Body Scroll Fix Container
/* ---------------------------------------------------------------- */

#header-body-scroll-fix-container {

    padding: 2em 0;

    display: grid;

    /* mobile */
    grid-template-areas:

        'hb-logo'
        'hb-date'
        'hb-nav'
    ;

    /* background-color: red; */
}
