/* -------------------------------------------------------------- */
/* > header-nav-body.css
/*
/* : styhe the nav of header body
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Nav Header Body
/* ---------------------------------------------------------------- */

#nav-header-body {

    display: flex;
    align-items: center;
    column-gap: .6em;

    /* border-bottom: 1px solid rgb(56, 56, 56); */
    /* background-color: grey; */

}

/* ---------------------------------------------------------------- */
/* Seperator | Nav Header Body
/* ---------------------------------------------------------------- */

.img-seperataor-nav-header-body {

    height: .4em;
    padding: 0 .6em;

    opacity: .6;

    color:#f5deb3;
}

/* --------------------------------------------------- */
/* 🟣🟣🟣🟣🟣🟣🟣🟣🟣🟣🟣🟣🟣🟣🟣🟣🟣🟣🟣🟣     */
/* Universal mehrere Label, small , medium, big ?
/* --------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* Label Nav Header Body
/* ---------------------------------------------------------------- */

.label-nav-header-body {

    /* mobile */
    height: 2.8em;
    padding: 0em .8em;

    /* desktop */
    /* height: 2.5em;
    padding: 0em .8em; */

    display: flex;
    align-items: center;
    column-gap: .6em;

    border-radius: .6em;

    /* opacity: .6; */

    /* border: 3px solid rgb(77, 77, 77) ; */

    /* background-color: rgb(203, 203, 203); */

    /* background-color: rgb(71, 71, 71); */

    color:rgb(203, 203, 203);

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    user-select: none;
    cursor: pointer;
    transition: all .4s;
}

/* ------------------------------------------------------- */
/* Handling | Hover
/* ------------------------------------------------------- */

.label-nav-header-body:hover {

    background-color: wheat;
    color:black;
}


/* very small mobile unshown imgs */
.label-nav-header-body > img {

    display: none;
}

.label-nav-header-body > div {

    font-weight: bold;
    /* 14,5px */
    font-size: .90625em;
}


/* ---------------------------------------------------------------- */
/* Handlings | Styling
/* ---------------------------------------------------------------- */

/* default unshown radios */
input[name="name-radio-nav-header-body"] {

    display: none;
}

/* default unshown 2nd img of label ( black img ) */
.label-nav-header-body > img:nth-of-type(2) {

    display: none;
}

/* set background & set full opacity */
#radio-about:checked ~ label[for="radio-about"],
#radio-my-it:checked ~ label[for="radio-my-it"],
#radio-my-private:checked ~ label[for="radio-my-private"] {

    background-color: wheat;
    color:black;

    /* opacity: 1; */

}
