/* -------------------------------------------------------------- */
/* > color-names.css
/*
/* : default name for colors
/* -------------------------------------------------------------- */


/* --------------------------------------------------------- */
/* Wheat ( light brown )
/* --------------------------------------------------------- */

.c-wheat,
.c-wheat-0-8,
.c-wheat-0-6,
.c-wheat-0-4 {

  color:wheat;
}

.c-wheat-0-8 {

  opacity: .8;
}

.c-wheat-0-6 {

  opacity: .6;
}

.c-wheat-0-4 {

  opacity: .4;
}
