/* -------------------------------------------------------------- */
/* > my-mission-about.css
/*
/* : style my mission about
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Life Stacks Read More About Container
/* ------------------------------------------------------------------- */

#my-life-stacks-read-more-about-container {

  margin-top: 2.5em;

  display: grid;

  background-color: rgb(116, 116, 116);

  /* default unshown */
  display: none;

}






/* ------------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* My Mission About Container
/* ------------------------------------------------------------------- */

#my-mission-about-container {

  width: 100%;

  margin-top: 2em;
  padding: 2em 0;

  display: grid;
  row-gap: 3em;

  border-top: 3px solid rgb(202, 202, 202);

  /* default unshown  */
  display: none;

}
