/* -------------------------------------------------------------- */
/* > drop-down-2-lines-light-grey.css
/* : styles drop down 2 lines light grey styles
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Drop Down 2 Lines | Light Grey
/* -------------------------------------------------------------- */

.drop-down-2-lines-light-grey-medium {

  /* height: 2.3em; */
  padding: .4em .6em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  border-radius: .6em;

  font-weight: bold;

 background-color: #eeeeee;
  color:#5d5d5d;

  user-select: none;
  cursor: pointer;
  transition: all .4s;


}

/* -------------------------------------------------------------- */
/* Hover | Drop Down 2 Lines | Light Grey
/* -------------------------------------------------------------- */

.drop-down-2-lines-light-grey-medium:hover {

  background-color: wheat;

}

/* -------------------------------------------------------------- */
/* First Line | Div 1
/* -------------------------------------------------------------- */

.drop-down-2-lines-light-grey-medium > div:nth-of-type(1) {

  line-height: 1.5em;

}

/* -------------------------------------------------------------- */
/* First Line | Div 1 | Div 1
/* -------------------------------------------------------------- */

.drop-down-2-lines-light-grey-medium > div:nth-of-type(1) > div:nth-of-type(1) {

  font-size: 14.5px;

}

/* -------------------------------------------------------------- */
/* Second Line Div 1 | Div 2
/* -------------------------------------------------------------- */

.drop-down-2-lines-light-grey-medium > div:nth-of-type(1) > div:nth-of-type(2) {

  font-size: 12px;

  line-height: 1.3em;

  color:grey;

}
