/* -------------------------------------------------------------- */
/* > drop-down-grey.css
/* : styles drop down grey styles
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Drop Down | Grey
/* -------------------------------------------------------------- */

.drop-down-grey-very-small,
.drop-down-grey-small,
.drop-down-grey-medium,
.drop-down-grey-big {

  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  border-radius: .6em;

  font-weight: bold;

  background-color: rgb(231, 231, 231);

  color:black;

  user-select: none;
  cursor: pointer;
  transition: all .4s;


}

/* -------------------------------------------------------------- */
/* Hover | Drop Down | Grey
/* -------------------------------------------------------------- */

.drop-down-grey-very-small:hover,
.drop-down-grey-small:hover,
.drop-down-grey-medium:hover,
.drop-down-grey-big:hover {

  background-color: wheat;

}

/* -------------------------------------------------------------- */
/* Div 1 | Drop Down | Grey
/* -------------------------------------------------------------- */

.drop-down-grey-very-small > div:nth-of-type(1),
.drop-down-grey-small > div:nth-of-type(1),
.drop-down-grey-medium > div:nth-of-type(1),
.drop-down-grey-big > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

/* -------------------------------------------------------------- */
/* Div 1 | Div | Drop Down | Grey
/* -------------------------------------------------------------- */

.drop-down-grey-very-small > div:nth-of-type(1) > div,
.drop-down-grey-small > div:nth-of-type(1) > div,
.drop-down-grey-medium > div:nth-of-type(1) > div,
.drop-down-grey-big > div:nth-of-type(1) > div {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

}

/* -------------------------------------------------------------- */
/* Very Small | Drop Down
/* -------------------------------------------------------------- */

.drop-down-grey-very-small {

  height: 1.8em;

}

/* -------------------------------------------------------------- */
/* Small | Drop Down
/* -------------------------------------------------------------- */

.drop-down-grey-small {

  height: 2em;

}

/* -------------------------------------------------------------- */
/* Medium | Drop Down
/* -------------------------------------------------------------- */

.drop-down-grey-medium  {

  height: 2.3em;

}

/* -------------------------------------------------------------- */
/* Big | Drop Down
/* -------------------------------------------------------------- */

.drop-down-grey-big {

  height: 2.8em;

}
