/* ---------------------------------------------------------------------------------------- */
/* handling-radios-it-project-card.css
/*  
/* : handling styles & movement from radios project card 
/* ---------------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/* Handlings: Project 1
/* -------------------------------------------------------------------------------- */

/* ------------------------------------------------- */
/* ### Styling
/* Radio Handling | Open Show Project Details
/* ------------------------------------------------- */

input[name="name-radio-top-3-it-project-1"] {

    display: none;
}

#radio-top-3-it-project-1-1:checked ~ main #lbl-radio-top-3-it-project-1-1,
#radio-top-3-it-project-1-2:checked ~ main #lbl-radio-top-3-it-project-1-2 {

    /* background-color: rgb(196, 196, 196); */

    /* ⚠️ light grey color & light grey img  */
    color: #9a9a9a;
    background-color: rgb(66, 66, 66);
}

#radio-top-3-it-project-1-1:checked ~ main #lbl-radio-top-3-it-project-1-1 > .project-select-custom-radio-container > .custom-radio > img:nth-of-type(1),
#radio-top-3-it-project-1-2:checked ~ main #lbl-radio-top-3-it-project-1-2 > .project-select-custom-radio-container > .custom-radio > img:nth-of-type(1) {

    display: flex;
    /* background-color: red; */
}

/* ------------------------------------------------- */
/* ### Movement
/* Radio Handling | Open Show Project Details
/* ------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/* Handlings: Project 2
/* -------------------------------------------------------------------------------- */

/* ------------------------------------------------- */
/* ### Styling
/* Radio Handling | Open Show Project Details
/* ------------------------------------------------- */

/* ------------------------------------------------- */
/* ### Movement
/* Radio Handling | Open Show Project Details
/* ------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/* Handlings: Project 3
/* -------------------------------------------------------------------------------- */

/* ------------------------------------------------- */
/* ### Styling
/* Radio Handling | Open Show Project Details
/* ------------------------------------------------- */

/* ------------------------------------------------- */
/* ### Movement
/* Radio Handling | Open Show Project Details
/* ------------------------------------------------- */