/* ---------------------------------------------------------------------------------------- */
/* handling-checkboxes-it-project-card.css
/*  
/* : handling styles & movement from checkboxes project card e.g clap video lists
/* ---------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------- */
/*  Checkbox Labels | Show Video Tutorials
/*  > Max 3 Labels ( TOP 3 IT Projects )
/* -------------------------------------------------------------------------------- */


/* ------------------------------------------------- */
/* ### Styling
/* ------------------------------------------------- */

#chk-t3-p1,
#chk-t3-p2,
#chk-t3-p3 {

    display: none;
}


#chk-t3-p1:checked + label,
#chk-t3-p2:checked + label,
#chk-t3-p3:checked + label {

    background-color: wheat;
    color:blacK

}

#chk-t3-p1:checked + label > img:last-child,
#chk-t3-p2:checked + label > img:last-child,
#chk-t3-p3:checked + label > img:last-child {

    transform: rotate(180deg);

}


/* ------------------------------------------------- */
/* ### Movement
/* ------------------------------------------------- */


/* ----------------------------------------------------------------------------------------------------- */
/*  Checkbox Labels | Video Tutorial Category Items
/*  > Max all checkboxes from Top 3 IT Projects
/* ----------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------------------------------- */
/* ### Styling
/* ----------------------------------------------------------------------------------------------------- */

/*  all checkboxes as video category */
input[name="name-chk-t3-vc"] {

    display: none;
}

/* Switch +/-  by open or close */
input[name="name-chk-t3-vc"]:checked + label > img:nth-of-type(1)  {

    display: none;
}

input[name="name-chk-t3-vc"]:checked + label > img:nth-of-type(2) {

    display: flex;
}


/* ----------------------------------------------------------------------------------------------------- */
/* ### Movement
/* ----------------------------------------------------------------------------------------------------- */

    /* ------------------------------------------------------------------------------ */
    /* ⬇️⬆️ Smooth | Video Tutorials Categories Container | T3 | P1   */
    /* ------------------------------------------------------------------------------ */

    #chk-t3-p1:checked ~ #smooth-video-tutorial-categories-container-t3-p1 {

        grid-template-rows: 1fr;
    }

    /* ---------------------------------------------------- */
    /* Show | Video Link List IT Projects                   */
    /* ---------------------------------------------------- */
    
    input[name="name-chk-t3-vc"]:checked + label + main {

        display: grid;
    }
