/* ------------------------------------------------------------------------- */
/* > vocubulary.css
/* : styles vocubulary layout
/* ------------------------------------------------------------------------- */
