/* ------------------------------------------------------------------------- */
/* > songs.css
/* : styles songs layout
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Songs Language Container
/* ------------------------------------------------------------- */

#songs-language-container {

  padding-top: 1.5em;

  /* default unshown */
  display: none;

}
