/*
    main-body.css
    > define the root main of the webpage
*/

#main-body {
    
    margin-top: 6em;

    /* height: 100%; */
   
    /* display: grid; 
    grid: 1fr / 1fr; */

    /* transform: translateY( 0% ); */

    transition: all .4s;
    
}

