/* 

    nav-topic-container.css
    > defines the topic header navigation for the webpage

*/


#nav-topic-container {


    height: 0px;

    /* max-height: 0px; */

    

    /* min-height: 0;

    position: absolute;
    top:-100%;
    left:0;
    width: 100%; */
   
    /* transform: translateY(-100%); */
   
    background-color: green;

    transition: all .4s ease; 
   

}

.button-panel {

    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}

#quick-example {

    /* padding: 10px; */
    

    background-color: green;
    border-radius: .5em;

    display: grid;
    grid-template-rows: 0fr;
    /* transition: grid-template-rows 500ms; */

    transition: all .4s;
}

#quick-example > div {

    overflow: hidden;
    
   
}

#layout {

    padding: 12px;
}


