/* -------------------------------------------------------------------------------- */
/* > about-mindset-content.css
/*
/* : styles about mindset content, thats the part of videos
/* -------------------------------------------------------------------------------- */


/* ------------------------------------------- */
/* About Mindset Content
/* ------------------------------------------- */

#about-mindset-content {

  height: 100%;
  padding: 1em 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 3em;
  row-gap: 3em;

  background-color: yellow;

}

/* ------------------------------------------- */
/* Mindset Video Container
/* ------------------------------------------- */

.about-mindset-video-container {

  /* mobile */
  width: 100%;

  display: grid;
  /* align-content: flex-start;
  justify-content: flex-start; */
  row-gap: .5em;

  border:1px solid black;

}

/* ------------------------------------------- */
/* 2 col | Header | About Mindset Video
/* ------------------------------------------- */

.about-mindset-video-header-2col {

  width: 100%;

  display: flex;
  align-items: center;
  justify-content:space-between;

}

.about-mindset-video-header-2col > div:nth-of-type(1) {

  display: grid;
  row-gap: .2em;

}

.about-mindset-video-header-2col > div:nth-of-type(1) > div:nth-of-type(1) {

  /* because of parent flex */
  justify-self: flex-start;

  height: 1.8em;
  padding: 0 .4em;

  display: flex;
  align-items: center;

  border-radius: .4em;

  font-weight: bold;

  background-color: wheat;

}

.about-mindset-video-header-2col > div:nth-of-type(1) > div:nth-of-type(2) {

   /* font-weight: bold; */
  color:rgb(98, 98, 98);

}


/* --------------------------------------------- */
/* Play/Pause | Label
/* --------------------------------------------- */

#label-play-pause-about-mindset-video-reflect {

  width: 3em;
  height: 3em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .8em;

  background-color: grey;

  cursor: pointer;
  transition: all .4s;

}

#label-play-pause-about-mindset-video-reflect:hover {

  background-color: wheat;
}

/* default play img unshown */
#label-play-pause-about-mindset-video-reflect > img:nth-of-type(2) {

  display: none;

}

/* --------------------------------------------- */
/* Handling | Play/Pause | Label
/* --------------------------------------------- */

/* default unshown */
#chk-about-mindset-video-reflect {

  /* display: none; */

}

/* unshown img play */
#chk-about-mindset-video-reflect:checked + header label[for="chk-about-mindset-video-reflect"] > img:nth-of-type(1) {

  display: none;

}

/* show img pause */
#chk-about-mindset-video-reflect:checked + header label[for="chk-about-mindset-video-reflect"] > img:nth-of-type(2) {

  display: flex;

}

/* set background */
#chk-about-mindset-video-reflect:checked + header label[for="chk-about-mindset-video-reflect"]  {

  background-color: rgb(234, 84, 84);

}

/* ⚠️ dirty fix | hover effect was overwritten by setting another background color, but dont know why */
#chk-about-mindset-video-reflect:checked + header label[for="chk-about-mindset-video-reflect"]:hover  {

  background-color: wheat

}

/* ------------------------------------------- */
/* 1 col | Header | About Mindset Video
/* ------------------------------------------- */

.about-mindset-video-header-1col {

  display: grid;
  row-gap: .2em;

}

.about-mindset-video-header-1col > div:nth-of-type(1) {

  /* belongs to parent grid */
  justify-self: flex-start;

  height: 1.8em;
  padding: 0 .4em;

  display: flex;
  align-items: center;

  border-radius: .4em;

  font-weight: bold;

  background-color: wheat;

}

.about-mindset-video-header-1col > div:nth-of-type(2) {

   /* font-weight: bold; */
  color:rgb(98, 98, 98);

}

/* ------------------------------------------- */
/* Video Wrapper Container
/* ------------------------------------------- */

.about-mindset-video-wrapper-container {

  width: 100%;
  /* height: 100%; */
  position: relative;

  display: grid;
  justify-items: center;
  align-items: center;

  /* display: grid; */
  /* justify-items: center; */

}

.about-mindset-video-wrapper-container > video {

  width: 100%;
  height: 15em;
  object-fit: cover;
  /* object-fit: fill; */
  /* object-fit: contain; */

  border-radius: .4em;

}

/* ----------------------------------------------------- */
/* Video Banner Reflect Video
/* ----------------------------------------------------- */

#video-banner-reflect-video {

  position: absolute;
  bottom: 4.3em;

  padding: .8em 1.5em;

  border-radius: .8em;

  text-align: center;

  font-weight: bold;
  color: wheat;

  /* background-color: rgb(28, 28, 28); */

}


/* ----------------------------------------------------- */
/* Audio Banner Reflect
/* ----------------------------------------------------- */

#audio-banner-reflect {

  position: absolute;
  top:.3em;
  right:.3em;


  width: 3.3em;
  height: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .1em;

  border-radius: .3em;

  user-select: none;

  background-color: grey;
  color:white;

}

#audio-banner-reflect > div {

  font-size: 14.5px;
}
