/* -------------------------------------------------------------- */
/* > style-page-content-card.css
/*
/* : default styles for page content cards
/* -------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Page Content Cards
/* ------------------------------------------------------- */

.style-page-content-card-white {

  width: 100%;
  /* mobile */
  padding: 1.3em .8em;

  border-radius: 1.3em;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */

  border: 4px solid rgba(185, 185, 185, 0.8);

  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;


  backdrop-filter: blur(42px);


  background-color: white;

  /* background-color: rgb(247, 247, 247); */
  /* background-color: rgba(44, 44, 44, .6); */

}
