/* -------------------------------------------------------------- */
/* > style-page-content-card.css
/*
/* : default styles for page content cards
/* -------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Page Content Cards ( medium, small )
/* ------------------------------------------------------- */

.style-page-content-card-white-medium,
.style-page-content-card-white-small {

  width: 100%;

  /* old */
  border: 4px solid rgba(185, 185, 185, 0.8);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

  /* new */
  border: 1px solid rgb(210, 210, 210);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* background-color: rgb(248, 248, 248); */

  /* new */

  backdrop-filter: blur(42px);

  background-color: white;

}

/* medium */
.style-page-content-card-white-medium {

   padding: 1.3em .8em;

   border-radius: 1.5em;

}

/* small */
.style-page-content-card-white-small {

   padding: 1em .8em;

   border-radius: 1.5em;

}
