/* -------------------------------------------------------------- */
/* > style-page-content-card.css
/*
/* : default styles for page content cards
/* -------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Page Content Cards
/* ------------------------------------------------------- */

.style-page-content-card-white {

  width: 100%;
  /* mobile */
  padding: .8em .8em;
  padding: 1.3em .8em;

  border-radius: 1.3em;
  border-radius: .8em;

  border: 4px solid rgba(185, 185, 185, 0.8);

  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

  backdrop-filter: blur(42px);

  background-color: white;

  /* background-color: rgb(247, 247, 247); */
  /* background-color: rgba(44, 44, 44, .6); */

}
