/* -------------------------------------------------------------- */
/* > nav-content-panel.css
/* : styles nav content panel
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Nav Content Panel ( Opacity, Default )
/* -------------------------------------------------------------- */

.nav-content-panel-opacity-small,
.nav-content-panel-opacity-medium,
.nav-content-panel-small,
.nav-content-panel-medium {

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  column-gap: .6em;
  row-gap: .6em;

  border-radius: .8em;

  font-weight: bold;

}

/* -------------------------------------------------------------- */
/* Label | Nav Content Panel
/* -------------------------------------------------------------- */

.nav-content-panel-opacity-small > label,
.nav-content-panel-opacity-medium > label,
.nav-content-panel-small > label,
.nav-content-panel-medium > label {

  padding: 0 .6em;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  border-radius: .8em;

  background-color: #f0f0f0;
  color:rgb(95, 95, 95);

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* Label Div 1 */
.nav-content-panel-opacity-small > label > div:nth-of-type(1),
.nav-content-panel-opacity-medium >  label > div:nth-of-type(1),
.nav-content-panel-small >  label > div:nth-of-type(1),
.nav-content-panel-medium > label > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

/* hover */
.nav-content-panel-opacity-small > label:hover,
.nav-content-panel-opacity-medium >  label:hover,
.nav-content-panel-small >  label:hover,
.nav-content-panel-medium > label:hover {

  background-color: wheat;

}

/* -------------------------------------------------------------- */
/* Label ( Opacity ) | Nav Content Panel
/* -------------------------------------------------------------- */

.nav-content-panel-opacity-small > label,
.nav-content-panel-opacity-medium > label {

  opacity: .3;

}

/* ------------------------------------ */
/* Small */
/* ------------------------------------ */

.nav-content-panel-opacity-small > label {

  height: 2em;

}

.nav-content-panel-opacity-small > label > div:nth-of-type(1) {

  font-size: 13.5px;

}

/* ------------------------------------ */
/* Medium */
/* ------------------------------------ */

.nav-content-panel-opacity-medium > label {

  height: 2.3em;

}

.nav-content-panel-opacity-medium > label > div:nth-of-type(1) {

  font-size: 14.5px;

}

/* -------------------------------------------------------------- */
/* Label ( Default ) | Nav Content Panel
/* -------------------------------------------------------------- */

/* ------------------------------------ */
/* Small */
/* ------------------------------------ */

.nav-content-panel-small > label {

  height: 2em;

}

.nav-content-panel-small > label {

  height: 2em;

}

/* ------------------------------------ */
/* Medium */
/* ------------------------------------ */

.nav-content-panel-medium > label  {

  height: 2.3em;

}

.nav-content-panel-medium > label > div:nth-of-type(1) {

  font-size: 14.5px;

}
