/* -------------------------------------------------------------- */
/* > nav-content-panel.css
/* : styles nav content panel
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Nav Content Panel ( small, medium )
/* -------------------------------------------------------------- */

.nav-content-panel-small,
.nav-content-panel-medium {

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  column-gap: .6em;
  row-gap: .6em;

  border-radius: .8em;

  font-weight: bold;
}


/* -------------------------------------------------------------- */
/* Label (Default) | Nav Content Panel ( small, medium )
/* -------------------------------------------------------------- */

.nav-content-panel-small > label,
.nav-content-panel-medium > label {

  padding: 0 .6em;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  border-radius: .8em;

  background-color: #e0e0e0;
  opacity: .3;

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

.nav-content-panel-small > label:hover,
.nav-content-panel-medium > label:hover {

  background-color: wheat;

}

.nav-content-panel-small > label > div:nth-of-type(1),
.nav-content-panel-medium > label > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

/* -------------------------------------------------------------- */
/* Small | Nav Content Panel
/* -------------------------------------------------------------- */

.nav-content-panel-small > label {

  height: 2em;

}

/* label */
.nav-content-panel-small > label > div:nth-of-type(1) > div {

  font-size: 13.5px;

}

/* -------------------------------------------------------------- */
/* Medium | Nav Content Panel
/* -------------------------------------------------------------- */

.nav-content-panel-medium > label {

  height: 2.3em;

}

/* label */
.nav-content-panel-medium > label > div:nth-of-type(1) > div {

  font-size: 14.5px;

}
