/* ------------------------------------------------------------------- */
/* > about-more.css
/*
/* : styles the about more & content conntainer
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* About Details Container
/* ------------------------------------------------------------------- */

#about-details-container {

  width: 100%;
  padding: .8em .8em .8em .8em;

  display: grid;
  /* row-gap: 2em; */

  border-radius: 1em;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: rgba(255, 255, 255, .8);

}

/* ------------------------------------------------------------------- */
/* Header | About Details Container
/* ------------------------------------------------------------------- */

#header-about-details-container {

  width: 100%;
  padding: 1em 0em;

  display: grid;
  justify-items: center;
  column-gap: .8em;
  row-gap: 2em;

  /* mobile */
  justify-content: center;
  /* background-color: rgb(28, 28, 28); */
  /* background-color: lightgrey; */

}

/* ------------------------------------------------------------------- */
/* Header Title | Header
/* ------------------------------------------------------------------- */

#header-about-details-title {

  display: flex;
  align-items: center;
  column-gap: .8em;


}

/* ------------------------------------------------------------------- */
/* Div 1 | Header Title
/* ------------------------------------------------------------------- */

#header-about-details-title > div:nth-of-type(1) {

  font-size: 1.25em;
  font-weight: bold;

}

/* ------------------------------------------------------------------- */
/* Img | Header Title
/* ------------------------------------------------------------------- */

#img-about-header-details {

  /* mobile */
  height: 2.5em;

}

/* ------------------------------------------------------------------- */
/* Nav | Header About Details
/* ------------------------------------------------------------------- */

#nav-header-about-details {

  display: flex;
  align-items: center;
  column-gap: .8em;
  row-gap: .8em;

}

#nav-header-about-details > label > div:nth-of-type(1) > img {

  display: none;

}


/* ------------------------------------------------------------------- */
/* Label Img 2 (unshown = black img)
/* ------------------------------------------------------------------- */

#nav-header-about-details > label > div:nth-of-type(1) img:nth-of-type(2) {

  display: none;

}


/* ------------------------------------------------------------ */
/* About Details IT Skills Container
/* ------------------------------------------------------------ */

#about-details-it-skills-container {


  padding: 2em 0;

  background-color: red;

  display: none;

}


/* ------------------------------------------------------------ */
/* About Details Mindset Container
/* ------------------------------------------------------------ */

#about-details-mindset-container {

  padding: 2em 0;

  background-color: rgb(200, 193, 193);

  display: none;

}


/* ------------------------------------------------------------ */
/* About Details Contact Container
/* ------------------------------------------------------------ */

#about-details-contact-container {

  padding: 2em 0;

  background-color: rgb(152, 149, 149);

  display: none;

}


#about-details-close-tab-container {

  padding: 2em 0;

  border-radius: 0 0 1em 1em;

  background-color: rgb(219, 219, 219);
}
























/* 🟣🟣🟣 Auslagern */
/* ------------------------------------------------------------------- */
/* Label img 1 (unshown) | Nav
/* ------------------------------------------------------------------- */

.dots-closed-container {

  padding: .6em 0;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: red; */

}


/* ------------------------------------------------------------------- */
/* ⬇️⬆️ Smooth Open Close | About Details Container
/* ------------------------------------------------------------------- */

#smooth-open-close-about-details-container {

  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.3s ease-out;

  /* background-color: aqua; */

}











/* -------------------------------------- */
/* ❌❌❌❌ Trash
/* -------------------------------------- */













/* -------------------------------------- */
/* Header Title
/* -------------------------------------- */

#about-details-header-title {

  padding-left: .8em;

  display: flex;
  align-items: center;
  column-gap: 1em;

}

#about-details-header-title > div:nth-of-type(1) {

  font-size: 1.5em;
  font-weight: bold;

  color:white;
}

#about-details-header-title > img {

  /* mobile */
  height: 2.5em;

}

/* ------------------------------------------------------------------- */
/* Nav About Details
/* ------------------------------------------------------------------- */

#nav-about-details {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

/* ------------------------------------------------------------------- */
/* Label | Nav About Details
/* ------------------------------------------------------------------- */

#nav-about-details > label {

  /* mobile */
    height: 2.3em;
    padding: 0em .8em;

    display: flex;
    align-items: center;
    column-gap: .6em;

    border-radius: .6em;

    font-weight: bold;

    opacity: .4;

    border: 1px solid rgb(163, 163, 163);

    background-color: rgb(50, 50, 50) ;
    color:rgb(203, 203, 203);

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    user-select: none;
    cursor: pointer;
    transition: all .4s;

}

#nav-about-details > label:hover {

  opacity: 1;
  background-color: wheat;
  color:black;
}

/* ------------------------------------------------------------------- */
/* Img | Label | Nav About Details
/* ------------------------------------------------------------------- */

#nav-about-details > label > div:nth-of-type(1) > img {

  /* mobile unshown */
  display: none;
}

/* ------------------------------------------------------------------- */
/* ⬇️⬆️ Smooth Open Close | About Details
/* ------------------------------------------------------------------- */

#smooth-open-close-about-details {

  width: 100%;
  /* height: 100%; */

  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.3s ease-out;

}

/* ------------------------------------------- */
/* About Details Content Layout
/* ------------------------------------------- */

#about-details-content-layout {

  width: 100%;
  padding: 2em .8em;
  /* height: 100%; */

  display: grid;
  justify-items: center;
  grid: auto auto / 1fr;

  /* row-gap: 1em; */

  background-color: rgb(255, 255, 255);

}

/* ------------------------------------------- */
/* Have a Look Container
/* ------------------------------------------- */

#about-details-have-a-look-container {

  width: 100%;
  /* height: 100%; */

  display: grid;
  justify-items: center;

  /* background-color: red; */

}

/* ------------------------------------------- */
/* Img | Have a Look Container
/* ------------------------------------------- */

#img-about-details-have-a-look {

  /* mobile */
  height: 4.5em;

}

/* ------------------------------------------- */
/* About Details Close Tab Container
/* ------------------------------------------- */

#about-details-close-tab-container {

  width: 100%;


  display: flex;
  justify-content: center;

  /* default unshown because default no content shown */
  /* display: none; */

  /* background-color: rgb(148, 148, 148); */

}

/* #about-details-close-tab-container > div {

  justify-self: center;
} */
