/* ------------------------------------------------------------------- */
/* > nav-about-more.css
/*
/* : styles the nav about more to handle content
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Handling | Nav About More
/* ------------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-nav-about-details"] {

  display: none;
}

/* set background  */
#radio-about-it-skills:checked ~ #header-about-details-container label[for="radio-about-it-skills"],
#radio-about-mindset:checked ~ header #header-about-details-container label[for="radio-about-mindset"],
#radio-about-contact:checked ~ header #header-about-details-container label[for="radio-about-contact"] {

  opacity: 1;

  background-color: wheat;
  color:black;

}

/* unshown grey img */
#radio-about-it-skills:checked ~ #header-about-details-container label[for="radio-about-it-skills"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-about-mindset:checked ~ #header-about-details-container label[for="radio-about-mindset"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-about-contact:checked ~ #header-about-details-container label[for="radio-about-contact"] > div:nth-of-type(1) > img:nth-of-type(1) {

  display: none;

}

/* shown black img */
#radio-about-it-skills:checked ~ #header-about-details-container label[for="radio-about-it-skills"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-about-mindset:checked ~ #header-about-details-container label[for="radio-about-mindset"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-about-contact:checked ~ #header-about-details-container label[for="radio-about-contact"] > div:nth-of-type(1) > img:nth-of-type(2) {

  display: flex;

}


/* set more content  */
#radio-about-it-skills:checked ~ #smooth-open-close-about-details #about-it-skills-container,
#radio-about-mindset:checked ~ #smooth-open-close-about-details #about-mindset-container,
#radio-about-contact:checked ~ #smooth-open-close-about-details #about-contact {

  display: grid;
  /* background-color: yellow; */

}

/* unshown have a look  */
#radio-about-it-skills:checked ~ #smooth-open-close-about-details #about-details-have-a-look-container ,
#radio-about-mindset:checked ~ #smooth-open-close-about-details #about-details-have-a-look-container ,
#radio-about-contact:checked ~ #smooth-open-close-about-details #about-details-have-a-look-container  {

  display: none;
  /* background-color: yellow; */

}

/* show close content tab x  */
#radio-about-it-skills:checked ~ #smooth-open-close-about-details #about-details-close-tab-container,
#radio-about-mindset:checked ~ #smooth-open-close-about-details #about-details-close-tab-container,
#radio-about-contact:checked ~ #smooth-open-close-about-details #about-details-close-tab-container {

  display: grid;
  /* background-color: yellow; */

}
