/* ------------------------------------------------------------------- */
/* > nav-about-more.css
/*
/* : styles the nav about more to handle content
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Nav | Header About Details
/* ------------------------------------------------------------------- */

#nav-header-about-details {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  column-gap: .8em;
  row-gap: .8em;

}

/* ------------------------------------------------------------------- */
/* Handling | Nav About More
/* ------------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-nav-about-details"] {

  display: none;
}

/* set background  */
#radio-about-it-skills:checked ~ #header-about-details-container label[for="radio-about-it-skills"],
#radio-about-mindset:checked ~ #header-about-details-container label[for="radio-about-mindset"],
#radio-about-contact:checked ~ #header-about-details-container label[for="radio-about-contact"] {

  opacity: 1;

  background-color: wheat;
  color:black;

  border: 3px solid rgba(28, 28, 28, .3);

}

/* unshown 3 dots seperator img container  */
#radio-about-it-skills:checked ~ .seperator-img-container-pt-2:nth-of-type(1),
#radio-about-mindset:checked ~ .seperator-img-container-pt-2:nth-of-type(1),
#radio-about-contact:checked ~ .seperator-img-container-pt-2:nth-of-type(1)  {

  display: none;

}

/* show close tab x -> to close later content  */
#radio-about-it-skills:checked ~ .tab-x-mini-close-content-container,
#radio-about-mindset:checked ~ .tab-x-mini-close-content-container,
#radio-about-contact:checked ~ .tab-x-mini-close-content-container  {

  display: flex;

}

/* set background | tab x  */
#radio-about-it-skills:checked ~ .tab-x-mini-close-content-container > div,
#radio-about-mindset:checked ~ .tab-x-mini-close-content-container > div,
#radio-about-contact:checked ~ .tab-x-mini-close-content-container > div  {

  background-color: rgb(227, 87, 87);

}

/* set hover | tab x  */
#radio-about-it-skills:checked ~ .tab-x-mini-close-content-container > div:hover,
#radio-about-mindset:checked ~ .tab-x-mini-close-content-container > div:hover,
#radio-about-contact:checked ~ .tab-x-mini-close-content-container > div:hover  {

  background-color: rgb(234, 120, 120);

}

/* show close tab x -> to close later content  */
#radio-about-it-skills:checked ~ .tab-x-mini-close-content-container,
#radio-about-mindset:checked ~ .tab-x-mini-close-content-container,
#radio-about-contact:checked ~ .tab-x-mini-close-content-container  {

  display: flex;

}

/* show content */
#radio-about-it-skills:checked ~ #smooth-open-close-about-details-container #about-details-it-skills-container,
#radio-about-mindset:checked ~ #smooth-open-close-about-details-container #about-details-mindset-container,
#radio-about-contact:checked ~ #smooth-open-close-about-details-container #about-details-contact-container {

  display: grid;
  /* background-color: yellow; */

}
