/* -------------------------------------------------------------- */
/* > colors.css
/*  
/* : default name sets for all colors which will be use 
/* -------------------------------------------------------------- */

:root {

/* --------------------------------------------------------- */
/* Default Colors
/* --------------------------------------------------------- */
--c-blue: blue;
--c-cyan: cyan;
--c-red: red;
--c-yellow: yellow;
--c-green: green; 
--c-black: black;
--c-white: white;
--c-brown: brown;
--c-grey: #808080;
--c-orange: orange;
--c-violet: violet;
--c-pink: pink;


/* --------------------------------------------------------- */
/* Emojie Colors
/* --------------------------------------------------------- */

--c-yellow-thunder: #fec954;
--c-blue-arrow: #5dabf4;
--c-green-alien: #7dda7f;


--c-dark-grey: #525252;


/* --------------------------------------------------------- */
/* Nice Colors I Like
/* --------------------------------------------------------- */

--c-antrahcite-glowy: rgb(28, 28, 28);
















}