/* -------------------------------------------------------------- */
/* > sizes.css
/*  
/* : sets for sizes
/* -------------------------------------------------------------- */


/* -------------------------------------------------- */
/* Width 
/* -------------------------------------------------- */

.w-100p { width: 100%; }
.w-80p { width: 80%; }
.w-50p { width: 50%; }
.w-20p { width: 20%; }

/* -------------------------------------------------- */
/* Height
/* -------------------------------------------------- */

.h-100p { height: 100%; }

/* ------------------------------------------------- */
/* ⚠️ Universeller Sets | Default: Heights | Custom Selected
/* ------------------------------------------------- */

.cs-h-2-8 {
    height: 2.8em;  
}

.cs-h-3 {
    height: 3em;  
}

.cs-h-3-5 {
    height: 3.5em;  
}

.cs-h-4 {
    height: 4em;
}


/* ------------------------------------------------- */
/* ⚠️ Universeller Sets | Default: Min-Width | Custom Selected
/* ------------------------------------------------- */

.cs-m-w-12 {
    min-width: 12em;
    /* width: 100%; */
}

.cs-m-w-14 {
    min-width: 14em;
    /* width: 100%; */
}
