/* -------------------------------------------------------------- */
/* > sport-newest-videos.css
/* : styles sport newest videos
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport Newest Video Container
/* -------------------------------------------------------------- */

#sport-newest-video-container {

  width: 100%;
  padding-top: 1.5em;

  display: grid;
  justify-items: center;
  /* row-gap: 1.5em; */

  /* default unshown */
  display: none;

  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/* Reminder Sport Newest
/* -------------------------------------------------------------- */

#reminder-sport-newest-video {

  order: 1;

  width: 100%;
  padding: 0 .8em 1.5em .8em;

  /* mobile */
  display: grid;

  column-gap: .8em;
  row-gap: .4em;

  border-radius: .8em;

  /* background-color: rgb(243, 243, 243); */

}

/* Div 1 | Reminder Sport Newest */
#reminder-sport-newest-video > div:nth-of-type(1) {

  /* text-decoration: underline; */
  font-weight: bold;
  color:rgb(88, 88, 88);

}

/* Div 2 | Reminder Sport Newest */
#reminder-sport-newest-video > div:nth-of-type(2) {

  line-height: 1.7em;
  color:grey;

}

/* -------------------------------------------------------------- */
/* History Sport Newest Video Container
/* -------------------------------------------------------------- */

#history-sport-newest-video-container {

  order: 3;

  width: 100%;
  padding-top: 1.5em;
  padding-bottom: .5em;

  display: grid;
  justify-items: flex-end;
  justify-content: center;

  /* background-color: blue; */

}

/* -------------------------------------------------------------- */
/* Content History Sport Newest Video Container
/* -------------------------------------------------------------- */

#content-history-sport-newest-video-container {

  padding-top: 1.5em;
  padding-bottom: 1.5em;

  display: grid;
  row-gap: .8em;

  /* background-color: grey; */

}
