/* -------------------------------------------------------------- */
/* > about-my-hobbies.css
/*
/* : styles my hobbies info
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* My Hobbies | About Read More
/* ------------------------------------------------------------------- */

#about-read-more-my-hobbies {

  width: 100%;
  padding: 2em 0em;

  display: grid;
  justify-items: center;
  row-gap: 1.5em;

  /* background-color: yellow; */
  /* color:#808080; */

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------------- */
/* Header | My Hobbies
/* ------------------------------------------------------------------- */

#about-read-more-my-hobbies > header {

  padding: .1em .4em;

  font-style: italic;
  font-weight: bold;

  border-radius: .6em;

  background-color: rgb(28, 28, 28);

  color:white;

  /* opacity: .6; */

  /* 14.5px */
  font-size: .90625em;

}

/* ------------------------------------------------------------------- */
/* Main | My Hobbies
/* ------------------------------------------------------------------- */

#about-read-more-my-hobbies > main {

  display: grid;
  row-gap: 1.5em;



}

/* ------------------------------------------------------------------- */
/* ❇️ My Hobby Item
/* ------------------------------------------------------------------- */

.new-about-my-hobby-item  {

  display: grid;

  border-radius: .8em;

   border: 3px solid rgb(28, 28, 28);

}

/* ------------------------------------------------------------------- */
/* Header | My Hobby Item
/* ------------------------------------------------------------------- */

.new-about-my-hobby-item > header {

  width: 100%;
  height: 2.3em;

  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  font-weight: bold;

  border-radius: .6em .6em 0 0;

  background-color: rgb(28, 28, 28);

  color:white;

}

/* ------------------------------------------------------------------- */
/* Div 1 (nr) | Header | My Hobby Item
/* ------------------------------------------------------------------- */

.new-about-my-hobby-item > header > div:nth-of-type(1) {

  letter-spacing: 2px;
  color:rgb(175, 175, 175);





}

/* ------------------------------------------------------------------- */
/* Div 2 (title-img) | Header | My Hobby Item
/* ------------------------------------------------------------------- */

.new-about-my-hobby-item > header > div:nth-of-type(2) {

  display: flex;
  align-items: center;
  column-gap: .8em;

}

/* ------------------------------------------------------------------- */
/* Main | My Hobby Item
/* ------------------------------------------------------------------- */

.new-about-my-hobby-item > main {

  padding: .8em;

  display: flex;
  flex-wrap: wrap;

  column-gap: .8em;
  row-gap: .8em;

  /* font-weight: bold; */
  color:#808080;

  color:rgb(28, 28, 28);

}


/* ------------------------------------------------------------------- */
/* ul | hobby dot list | Main
/* ------------------------------------------------------------------- */

ul.about-hobby-dot-list {

  margin: 0;
  padding: .4em .4em .4em 20px;

  /* border: 2px solid #ebebeb; */

  border-radius: .8em;

}

/* ------------------------------------------------------------------- */
/* Title Audio | Main
/* ------------------------------------------------------------------- */

/* only show by width 360px */

.about-title-audio {

  display: grid;
  row-gap: .6em;

}
