/* -------------------------------------------------------------- */
/* > about-my-hobbies.css
/*
/* : styles my hobbies info
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* My Hobbies Container | Read More
/* ------------------------------------------------------------------- */

#read-more-my-hobbies-container {

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------------- */
/* About Read More | Audio Violine Container
/* ------------------------------------------------------------------- */

#about-read-more-audio-violine-container {

  padding: 0 0em 1.5em 0em;

  display: grid;
  row-gap: .6em;

  color: #616161;
  font-weight: bold;

  /* mobile under 380px unshown because of my layout */
  display: none;

}

/* ------------------------------------------------------------------- */
/* Header | About Read More | Audio Violine Container
/* ------------------------------------------------------------------- */

#about-read-more-audio-violine-container > header {

  padding-left: .8em;
}
