/* -------------------------------------------------------------- */
/* > nav-top-it-project-card.css
/*
/* : styles nav top it projects card (3 x details)
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Nav Top IT Project Container
/* ------------------------------------------------------------- */

.nav-top-it-project-container {

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* font-size: 1.125em; */
  font-weight: bold;

}


/* ------------------------------------------------------------------------- */
/* ⬇️⬆️ | Smooth Open Close | Nav Top IT Project Container (1,2,3)
/* ------------------------------------------------------------------------- */

#smooth-open-close-nav-top-it-project-container-1,
#smooth-open-close-nav-top-it-project-container-2,
#smooth-open-close-nav-top-it-project-container-3 {

  width: 100%;

  display: grid;
  grid-template-rows: 0fr;

  transition: grid-template-rows 0.3s ease-out;

}

/* ------------------------------------------------------------- */
/* Handlings
/* ------------------------------------------------------------- */

/* default unshown */
input[name="name-chk-details-top-it-project"] {

  display: none;

}

/* set background | details */
#chk-details-top-it-project-1:checked ~ div:nth-of-type(1) label[for="chk-details-top-it-project-1"],
#chk-details-top-it-project-2:checked ~ div:nth-of-type(2) label[for="chk-details-top-it-project-2"],
#chk-details-top-it-project-3:checked ~ div:nth-of-type(3) label[for="chk-details-top-it-project-3"] {

  background-color: rgb(227, 87, 87);

}

/* rotate img arrow | details */
#chk-details-top-it-project-1:checked ~ div:nth-of-type(1) label[for="chk-details-top-it-project-1"] img,
#chk-details-top-it-project-2:checked ~ div:nth-of-type(2) label[for="chk-details-top-it-project-2"] img,
#chk-details-top-it-project-3:checked ~ div:nth-of-type(3) label[for="chk-details-top-it-project-3"] img{

  transform: rotate(180deg);

}

/* show content by details open */
#chk-details-top-it-project-1:checked ~ div:nth-of-type(1) #top-p1 {

  display: grid;
}

/* set transparent other project card (1) */
#chk-details-top-it-project-1:checked ~ div:nth-of-type(2),
#chk-details-top-it-project-1:checked ~ div:nth-of-type(3) {

  opacity: .1;


}
/* set transparent other project card (2) */
#chk-details-top-it-project-2:checked ~ div:nth-of-type(1),
#chk-details-top-it-project-2:checked ~ div:nth-of-type(3) {

  opacity: .1;



}

/* set transparent other project card (3) */
#chk-details-top-it-project-3:checked ~ div:nth-of-type(1),
#chk-details-top-it-project-3:checked ~ div:nth-of-type(2) {

  opacity: .1;


}
