/* -------------------------------------------------------------- */
/* > top-it-projects.css
/*
/* : styles my it top projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My It Top Projects Container
/* ------------------------------------------------------------- */

#my-it-top-projects-container {

  width: 100%;

  display: grid;
  justify-items: center;

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* Imgs | Header
/* ------------------------------------------------------------- */

/* rocket */
#img-header-top-it-projects {

  height: 2.2em;

}

/* folder */
#img-header-more-it-projects {

  height: 2em;

}


/* books */
#img-header-it-docs {

   height: 2em;

}



/* ------------------------------------------------------------- */
/* My IT Top Projects Card Container
/* ------------------------------------------------------------- */

#my-it-top-projects-card-container {

  width: 100%;
  padding: 3.5em 0;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;

  column-gap: 2em;
  row-gap: 2em;

  /* background-color: yellow; */

}


/* ------------------------------------------------------------- */
/* My Top IT Project Card
/* ------------------------------------------------------------- */

.my-top-it-project-card {

  width: 20em;

  display: grid;
  row-gap: 1em;

}

.my-top-it-project-card > img {

  width: 100%;

  border-radius: 1.3em;
  border: 4px solid grey;

}

/* ------------------------------------------------------------- */
/* Header | My Top It Project Card
/* ------------------------------------------------------------- */

.my-top-it-project-card > header {

  /* font-size: 1.125em; */
  font-weight: bold;

}

.my-top-it-project-card > header > span {

  /* height: 1.5em; */
  padding: 0em .6em;
  margin-right: .3em;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: .6em;

  background-color: rgb(189, 189, 189);

}

.my-top-it-project-card > header > span > span {

 font-size: 14.5px;

}
