/* -------------------------------------------------------------- */
/* > top-it-project-card.css
/*
/* : styles my top it project card
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My Top IT Project Card
/* ------------------------------------------------------------- */

.my-top-it-project-card {

  width: 100%;

  display: grid;
  row-gap: 1em;

}

/* ------------------------------------------------------------- */
/* [1/4] | Img | My Top IT Project Card
/* ------------------------------------------------------------- */

.my-top-it-project-card > img {

  width: 100%;

  border-radius: 1.3em;
  border: 4px solid rgb(197, 197, 197);

}

/* ------------------------------------------------------------- */
/* [2/4] | Header | My Top It Project Card
/* ------------------------------------------------------------- */

.my-top-it-project-card > header {

  display: grid;
  justify-items: flex-start;
  row-gap: .3em;


  font-weight: bold;

}

/* ------------------------------------------------------------- */
/* Nr Title | Header
/* ------------------------------------------------------------- */

.top-it-project-nr-title {

  height: 1.6em;
  padding: 0em .4em;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: .4em;

  background-color: rgba(28, 28, 28, .3);

  /* background-color: rgba(28, 28, 28, 1);
  color:rgb(70, 70, 70); */

}

.top-it-project-nr-title > div {

 /* 14.5px | 14.5 / 16px= 0.90625 */
 font-size: .90625em;

}

/* ------------------------------------------------------------- */
/* Title | Header
/* ------------------------------------------------------------- */

.top-it-project-title {

 /* 14.5px | 14.5 / 16px= 0.90625 */
 font-size: .90625em;

 line-height: 1.8em;

 color: rgb(71, 71, 71);

}

/* ------------------------------------------------------------- */
/* Zip GitHub Top It Project Container
/* ------------------------------------------------------------- */

.zip-github-top-it-project-container {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

.zip-github-top-it-project-container > a {

  text-decoration: none;

  /* border-radius: .6em; */

  transition: all .4s;

}

.zip-github-top-it-project-container > a:visited {


  color: black;

}


/* 🟣🟣🟣 Auslagern in Details - Verzeichnis  */

/* ------------------------------------------------------------- */
/* Details Top IT Project Container
/* ------------------------------------------------------------- */

.details-top-it-project-container {

  display: grid;
  row-gap: 1em;


}

.details-top-it-project-content-container {

  padding: 1em;

  border: 4px solid grey;

  /* background-color: grey; */

  border-radius: .8em;

}

/* ------------------------------------------------------------- */
/* UL |
/* ------------------------------------------------------------- */

.ul-top-it-project-detail-list {

  margin: 0;
  padding-left: .8em;



  display: grid;
  row-gap: .3em;

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

  color:rgb(0, 0, 0);

}

/* ------------------------------------------------------------- */
/* UL Li > Span |
/* ------------------------------------------------------------- */

.ul-top-it-project-detail-list > li  {

  color:rgb(52, 52, 52);

}

/* ------------------------------------------------------------- */
/* UL Li > Span |
/* ------------------------------------------------------------- */

.ul-top-it-project-detail-list > li > span {

  font-weight: bold;
  color:black;

}


/* ------------------------------------------------------------- */
/* Video Tutorial Link Container Top It Projects
/* ------------------------------------------------------------- */

.video-tutorial-link-container-top-it-project {


}

/* ------------------------------------------------------------- */
/* Nav | Video Tutorial Link Container Top It Projects
/* ------------------------------------------------------------- */

.nav-video-tutorial-top-it-project {

  display: flex;
  justify-content: flex-end;

}

/* 🟣🟣 auslaggern */

/* ------------------------------------------------------------- */
/* Video Tutorial Link List Container
/* ------------------------------------------------------------- */

.video-tutorial-link-list-container {

  display: grid;

}
