/* -------------------------------------------------------------- */
/* > it-projects.css
/*
/* : default styles for my it projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My IT Projects Container
/* ------------------------------------------------------------- */

#my-it-projects-container {

  width: 100%;

  display: grid;
  grid: auto 1fr / 1fr;

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* My It Projects Content Box
/* ------------------------------------------------------------- */

.my-it-projects-content-box {

  width: 100%;

  display: grid;
  grid: auto 1fr / 1fr;
  justify-items: center;

}

/* ------------------------------------------------------------- */
/* My It Top Projects Container
/* ------------------------------------------------------------- */

#my-it-top-projects-container {

  width: 100%;
  padding: 1.5em .8em;

  background-color: rgb(112, 112, 139);

}


/* 🟣🟣🟣  */
/* ------------------------------------------------------------- */
/* Imgs (Emojie) | Header Title Box | My It
/* ------------------------------------------------------------- */

/* rocket */
#img-header-top-it-projects {

  height: 2.2em;

}

/* folder */
#img-header-more-it-projects {

  height: 2em;

}


/* books */
#img-header-it-docs {

   height: 2em;

}


/* ------------------------------------------------------------- */
/* Label | Header Container My IT
/* ------------------------------------------------------------- */

label[for="chk-top-it-projects"],
label[for="chk-more-it-projects"] {

  /* parent grid | mobile */
  justify-self: flex-end;


}
