/* -------------------------------------------------------------- */
/* > resp-main-body.css
/*
/* : responsive sets for main body
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 600px width
/* -------------------------------------------------------------- */

@media (min-width: 600px ) {

    .resp-handling-sub-headline-category {

        flex-direction: row;

    }

}


/* ------------------------------------------- */
/* Resp Handling Sub Headline Category
/* ------------------------------------------- */



/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */

@media (min-width: 1200px ) {

    /* ---------------------------------------- */
    /* Main Body Container */
    /* ---------------------------------------- */

    #main-body-container {

        padding-top: 6.5em;
    }

    /* ------------------------------------------- */
    /* Main Headline Container
    /* ------------------------------------------- */

    .main-headline-container {

        padding: 0;
    }

}
