/* -------------------------------------------------------------- */
/* > layout-wrappers.css
/*
/* : sets for layout wrappers
/* -------------------------------------------------------------- */

 /* <div class="w-100p h-100p flex jc-c" style="background-color: rgb(177, 50, 116);"> */

/* -------------------------------------------------------------- */
/* Grid & Padding Layout Wrapper
/* -------------------------------------------------------------- */

.grid-wrapper-ji-c-p-0-0-8 {

  padding: 0 .8em;

  display: grid;
  justify-items: center;

  background-color: yellow;

}
