/* -------------------------------------------------------------- */
/* > resp-padding-wrappers.css
/*
/* : style padding wrappers which can use to define basic
     padding layouts.
     The padding wrapper had an special handling of
     responsive sizes which u can find an extra resp file
/* -------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Padding Wrapper
/* ------------------------------------------------------- */

.padding-t1-b2-0-8-wrapper,
.padding-t0-b2-0-8-wrapper,
.padding-0-0-8-wrapper,
.padding-0-5-0-8-wrapper,
.padding-1-0-8-wrapper,
.padding-1-0-8-wrapper-no-delete,
.padding-2-0-8-wrapper,
.padding-2-0-8-wrapper-no-delete,
.padding-3-0-8-wrapper {

   width: 100%;

}

.padding-t1-b2-0-8-wrapper {

  padding: 1em .8em 2em .8em;

}

.padding-t0-b2-0-8-wrapper {

  padding: 0 .8em 2em .8em;

}

.padding-0-0-8-wrapper {

  /* mobile */
  padding-left: .8em;
  padding-right: .8em;

}

.padding-0-5-0-8-wrapper {

  /* mobile */
  padding: .5em .8em;

}

.padding-1-0-8-wrapper {

  /* mobile */
  padding: 1em .8em;

}

.padding-1-0-8-wrapper-no-delete {

   padding: 1em .8em;

}

.padding-2-0-8-wrapper {

  /* mobile */
  padding: 2em .8em;

}

.padding-2-0-8-wrapper-no-delete {

   padding: 2em .8em;

}

.padding-3-0-8-wrapper {

  /* mobile */
  padding: 3em .8em;

}
