/* -------------------------------------------------------------- */
/* > resp-padding-wrapper.css
/*
/* : resp sets for padding wrappers
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 900px width
/* -------------------------------------------------------------- */

@media (min-width: 900px ) {


  /* -------------------------------------------- */
  /* Only | Left & Right
  /* -------------------------------------------- */

  .resp-padding-wrapper-0-08 {

    /* desktop */
    padding: 0 0;

  }

  /* -------------------------------------------- */
  /* Only | Top & Bottom
  /* -------------------------------------------- */

  /* -------------------------------------------- */
  /* 2 Diffrent | Top-Bottom, Left-Right
  /* -------------------------------------------- */

  .resp-padding-wrapper-2-08 {

    padding: 2em 0em;

  }

  .resp-padding-wrapper-2-1_3 {

    padding: 2em 0em;

  }

  .resp-padding-wrapper-2-1_5 {

   padding: 2em 0em;

  }






}
