/* -------------------------------------------------------------- */
/* > info-fokus.sport.css
/* : styles the info fokus of video link card containers
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Info Fokus Sport Container
/* ---------------------------------------------------------------- */

.info-fokus-sport-container {

  position: relative;

  padding-left: .8em;

  display: grid;
  row-gap: .3em;

  /* color:green; */
  color: rgb(54, 54, 54);
  font-weight: bold;

}

/* ---------------------------------------------------------------- */
/* Header | Info Fokus Sport Container
/* ---------------------------------------------------------------- */

.info-fokus-sport-container > header {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

.info-fokus-sport-container > header > div:nth-of-type(1) {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;
  /* color:green; */

}

/* ---------------------------------------------------------------- */
/* Main | Info Fokus Sport Container
/* ---------------------------------------------------------------- */

.info-fokus-sport-container > main {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .3em;

}

/* ---------------------------------------------------------------- */
/* Divs | Main
/* ---------------------------------------------------------------- */

.info-fokus-sport-container > main > div {

  height: 1.6em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .6em;

  background-color: rgb(196, 196, 196);

  opacity: .6;

}

.info-fokus-sport-container > main > div > div:nth-of-type(1) {

  /* 12.5px | 12.5 / 16 px = 0.78125  */
  font-size: 0.78125em;

}

/* ---------------------------------------------------------------- */
/* Left Stripe Info Fokus Sport
/* ---------------------------------------------------------------- */

.left-stripe-info-fokus-sport {

  position: absolute;
  left:0;

  width: 4px;
  height: 100%;

  border-radius: .8em;

  background-color:  rgba(28, 28, 28, .8);
  background-color: grey;

}
