/* -------------------------------------------------------------- */
/* > quick-info-text-container.css
/*
/* : style the info text containers
/* -------------------------------------------------------------- */


/* ------------------------------------------------------ */
/* Quick Info Text Container
/* ------------------------------------------------------ */

.quick-info-text-container {

  width: 100%;

  display: grid;
  justify-items: center;
  row-gap: 1em;

  /* background-color: yellow; */

}

/* ------------------------------------------------------ */
/* Header Quick Info
/* ------------------------------------------------------ */

.header-quick-info {

  height: 2.6em;
  padding: 0em .8em;

  /* because of grid to not stretch max */
  /* justify-self: flex-start; */

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  opacity: .8;

  border-radius: .6em;

  background-color: rgb(215, 215, 215);
  color:#484848;

}

.header-quick-info > div:nth-of-type(1) {

  /* 20px */
  font-size: 1.125em;
}




/* ------------------------------------------------------ */
/* Main
/* ------------------------------------------------------ */

.quick-info-text-container > main {

  /* 18px - desktop */
  font-size: 1.125em;

  line-height: 1.8em;

  border-radius: .8em;

  text-align: center;

  /* background-color: rgb(241, 241, 241); */
  color:rgb(128, 128, 128);

}
