/* -------------------------------------------------------------- */
/* > action-drop-down.css
/* : styles action drop down element
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Action Drop Down
/* -------------------------------------------------------------- */

.action-drop-down-small,
.action-drop-down-medium,
.action-drop-down-big {

  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  border-radius: .6em;

  font-weight: bold;

  background-color: rgb(207, 207, 207);

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* -------------------------------------------------------------- */
/* Hover | Action Drop Down
/* -------------------------------------------------------------- */

.action-drop-down-small:hover,
.action-drop-down-medium:hover,
.action-drop-down-big:hover {

  background-color: wheat;

}

/* -------------------------------------------------------------- */
/* Div 1 | Action Drop Down
/* -------------------------------------------------------------- */

.action-drop-down-small > div:nth-of-type(1),
.action-drop-down-medium > div:nth-of-type(1),
.action-drop-down-big > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

/* -------------------------------------------------------------- */
/* Div 1 | Div | Action Drop Down
/* -------------------------------------------------------------- */

.action-drop-down-small > div:nth-of-type(1) > div,
.action-drop-down-medium > div:nth-of-type(1) > div,
.action-drop-down-big > div:nth-of-type(1) > div {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

}

/* -------------------------------------------------------------- */
/* Small | Action Link
/* -------------------------------------------------------------- */

.action-drop-down-small {

  height: 2em;

}

/* -------------------------------------------------------------- */
/* Medium | Action Link
/* -------------------------------------------------------------- */

.action-drop-down-medium {

  height: 2.3em;

}

/* -------------------------------------------------------------- */
/* Big | Action Link
/* -------------------------------------------------------------- */

.action-drop-down-big {

  height: 2.8em;

}
