/* -------------------------------------------------------------- */
/* > action-link.css
/* : styles action link element
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Action Link
/* -------------------------------------------------------------- */

.action-link-very-small,
.action-link-small,
.action-link-medium,
.action-link-big {

  /* delete default link style */
  text-decoration: none;

  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

  /* background-color: #b8b8b8; */
  /* background-color: rgb(235, 235, 235); */
  background-color: #cacaca;

  cursor: pointer;
  transition: all .4s;

}

.action-link-very-small > div {

  /* 12.5px = 12,5 / 16px (1em) = .78125em */
  font-size: .78125em;

}

.action-link-small > div,
.action-link-medium > div,
.action-link-big > div {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .78125em;

}

.action-link-very-small:hover,
.action-link-small:hover,
.action-link-medium:hover,
.action-link-big:hover {


  background-color: wheat;

}

.action-link-very-small:visited,
.action-link-small:visited,
.action-link-medium:visited,
.action-link-big:visited {

  color:black;

}

/* -------------------------------------------------------------- */
/* Very Small | Action Link
/* -------------------------------------------------------------- */

.action-link-very-small {

  height: 1.5em;
  border-radius: .4em;

}

/* -------------------------------------------------------------- */
/* Small | Action Link
/* -------------------------------------------------------------- */

.action-link-small {

  height: 2em;
  border-radius: .6em;


}

/* -------------------------------------------------------------- */
/* Medium | Action Link
/* -------------------------------------------------------------- */

.action-link-medium {

  height: 2.3em;
  border-radius: .6em;

}

/* -------------------------------------------------------------- */
/* Big | Action Link
/* -------------------------------------------------------------- */

.action-link-big {

  height: 2.8em;
  border-radius: .6em;

}
