/* -------------------------------------------------------------- */
/* > action-radio.css
/* : styles action radio element
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Action Radio
/* -------------------------------------------------------------- */

.action-radio-small,
.action-radio-medium,
.action-radio-big {

  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  border-radius: .6em;

  font-weight: bold;

  background-color: rgb(207, 207, 207);

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* -------------------------------------------------------------- */
/* Hover | Action Radio
/* -------------------------------------------------------------- */

.action-radio-small:hover,
.action-radio-medium:hover,
.action-radio-big:hover {

  background-color: wheat;

}

/* -------------------------------------------------------------- */
/* Div 1 |  Action Radio
/* -------------------------------------------------------------- */

.action-radio-small > div:nth-of-type(1),
.action-radio-medium > div:nth-of-type(1),
.action-radio-big > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

/* -------------------------------------------------------------- */
/* Div 1 | Div | Action Radio
/* -------------------------------------------------------------- */

.action-radio-medium > div:nth-of-type(1) > div,
.action-radio-big > div:nth-of-type(1) > div {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

}

/* -------------------------------------------------------------- */
/* Small | Action Radio
/* -------------------------------------------------------------- */

.action-radio-small {

  height: 2.1em;

}

.action-radio-small > div:nth-of-type(1) > div {

  font-size: 13px;
}

/* -------------------------------------------------------------- */
/* Medium | Action Radio
/* -------------------------------------------------------------- */

.action-radio-medium {

  height: 2.3em;

}

/* -------------------------------------------------------------- */
/* Big | Action Radio
/* -------------------------------------------------------------- */

.action-radio-big {

  height: 2.8em;

}
