/* -------------------------------------------------------------- */
/* > curved-tab-panel.css
/*
/* : style curved switch element
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Curved Tab Panel
/* -------------------------------------------------------------- */

.curved-tab-panel {

  position: relative;
  top:0;

  display: flex;
  align-items: center;

  border-radius: 1.5em 1.5em 1.5em 1.5em;

  background-color: rgb(28, 28, 28);

  cursor: pointer;
  transition: all .4s;

}

/* -------------------------------------------------------------- */
/* Label | Curved Tab Panel
/* -------------------------------------------------------------- */

.curved-tab-panel > label {

  height: 2.5em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  border-radius: 1.5em 1.5em 1.5em 1.5em;

  /* unset label */
  background-color: rgb(28, 28, 28);
  color:#818181;
  opacity: .6;

  user-select: none;

  cursor: pointer;
  transition: all .4s;

}

/* -------------------------------------------------------------- */
/* Label Div 1 | Curved Tab Panel
/* -------------------------------------------------------------- */

.curved-tab-panel > label > div:nth-of-type(1) {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

}
