/* -------------------------------------------------------------- */
/* > radio-element.css
/* : styles action radio element
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Radio Element ( Small, Medium, Big )
/* -------------------------------------------------------------- */

.radio-element-small,
.radio-element-medium,
.radio-element-big {

  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  border-radius: .6em;

  font-weight: bold;

  background-color: rgb(231, 231, 231);


  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* -------------------------------------------------------------- */
/* Hover | Radio Element
/* -------------------------------------------------------------- */

.radio-element-small:hover,
.radio-element-medium:hover,
.radio-element-big:hover {

  background-color: wheat;

}

/* -------------------------------------------------------------- */
/* Div 1 | Radio Element
/* -------------------------------------------------------------- */

.radio-element-small > div:nth-of-type(1),
.radio-element-medium > div:nth-of-type(1),
.radio-element-big > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

/* -------------------------------------------------------------- */
/* Div 1 | Div | Radio Element
/* -------------------------------------------------------------- */

.radio-element-medium > div:nth-of-type(1) > div,
.radio-element-big > div:nth-of-type(1) > div {

  /* 14.5px = 14,5 / 16px (1em) = .90625em */
  font-size: .90625em;

}

/* -------------------------------------------------------------- */
/* Small | Radio Element
/* -------------------------------------------------------------- */

.radio-element-small {

  height: 2.1em;

}

.radio-element-small > div:nth-of-type(1) > div {

  font-size: 13px;
}

/* -------------------------------------------------------------- */
/* Medium | Radio Element
/* -------------------------------------------------------------- */

.radio-element-medium {

  height: 2.3em;

}

/* -------------------------------------------------------------- */
/* Big | Radio Elements
/* -------------------------------------------------------------- */

.radio-element-big {

  height: 2.8em;

}
