/* -------------------------------------------------------------- */
/* > to-be-fresh.css
/*
/* : tyle the to be fres container
/* -------------------------------------------------------------- */


/* ------------------------------------------- */
/* to be fresh Container
/* ------------------------------------------- */

#to-be-fresh-container {

    width: 100%;
    /* height: 100%; */

    /* height: 50px; */

    display: flex;
    align-items: center;

    background-color: magenta;

}
