/* -------------------------------------------------------------- */
/* > zip-github-link-container.css
/*
/* : styles the zip github link container
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Zip Github Link Container ( normal, opacity )
/* ------------------------------------------------------------- */

.zip-github-link-container,
.zip-opacity-github-link-container {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

/* ------------------------------------------------------------- */
/* Opacity | Zip Github Link Container
/* ------------------------------------------------------------- */

.zip-opacity-github-link-container > a {

  opacity: .4;

  transition: all .4s;

}

.zip-opacity-github-link-container > a:hover {

  opacity: 1;

}
