/* -------------------------------------------------------------- */
/* > zip-github-link-container.css
/*
/* : styles the zip github link container
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Zip Github Link Container
/* ------------------------------------------------------------- */

.zip-github-link-container {

  display: flex;
  align-items: center;
  column-gap: .4em;

}
