/* -------------------------------------------------------------- */
/* > more-it-project.card.css
/*
/* : styles my it more projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card {

  display: grid;
  grid: auto 1fr auto / 1fr;

  border-radius: 1em;

  /* border: 3px solid rgba(115, 115, 115, .6); */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  transition: all .4s;

}

.more-it-project-card:hover {

  background-color: #b8b8b8;
  /* background-color: rgb(197, 197, 197); */
  background-color: wheat;

}

/* ------------------------------------------------------------- */
/* Header | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > header {

  height: 2.3em;
  padding: 0 .8em 0 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: .8em .8em 0 0;

  border-bottom: 3px solid rgba(107, 107, 107, 0.6);
  background-color: #b8b8b8;

}

/* ------------------------------------------------------------- */
/* Header Div 1 | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > header > div:nth-of-type(1) {

  height: 100%;

  display: flex;
  align-items: center;

}

.more-it-project-card > header > div:nth-of-type(1) > div {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

  font-weight: bold;

}

/* ------------------------------------------------------------- */
/* Nr | Div 1 | Header Div 1
/* ------------------------------------------------------------- */

.more-it-project-card > header > div:nth-of-type(1) > div:nth-of-type(1) {

  letter-spacing: 1px;

  height: 100%;
  padding: 0 .4em 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .8em 0 0 0;

  border-right: 3px solid rgba(107, 107, 107, 0.6);

  color:rgba(107, 107, 107, 0.6);

  background-color: #b8b8b8;

}

/* ------------------------------------------------------------- */
/* Status | Div 2 | Header Div 1
/* ------------------------------------------------------------- */

.more-it-project-card > header > div:nth-of-type(1) > div:nth-of-type(2) {

  height: 100%;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-style: italic;

  border-right: 3px solid rgba(107, 107, 107, 0.6);

}

.status-bgcolor-in-progress {

  background-color: rgb(230, 216, 67);

}

.status-bgcolor-coming-soon {

  background-color: #b8b8b8;

}

/* ------------------------------------------------------------- */
/* Main | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > main {

  padding: .8em;

  display: grid;
  row-gap: .6em;

  background-color: #b8b8b8;

}

/* ------------------------------------------------------------- */
/* Header Main | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > main > header  {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

  font-weight: bold;

  color: rgba(97, 97, 97, .6);
  /* color:black; */

}

/* ------------------------------------------------------------- */
/* Footer Main | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > main > footer  {


  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .4em;

  color: rgba(97, 97, 97, .6);
  font-weight: bold;


}

.more-it-project-card > main > footer > div  {

  /* 12.5px | 12.5 / 16 px = 0.78125  */
  font-size: 0.78125em;

  height: 1.8em;
  padding: 0 .5em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .4em;
  background-color: rgb(197, 197, 197);

  user-select: none;

}

/* ------------------------------------------------------------- */
/* Footer | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > footer {

  height: 2.8em;
  padding: 0 .6em 0 .8em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  column-gap: .4em;

  border-top: 3px solid rgba(107, 107, 107, 0.6);

  background-color: #b8b8b8;

}

/* ------------------------------------------------------------- */
/* Footer Link | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > footer > a {

  text-decoration: none;

  height: 1.5em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .4em;

  font-weight: bold;

  /* background-color: grey; */
  background-color: rgb(197, 197, 197);

  transition: all .4s;

}

.more-it-project-card > footer > a:hover {

  background-color: rgb(164, 164, 164);
  background-color: wheat;

}

.more-it-project-card > footer > a:visited {

  color: black;

}

/* ------------------------------------------------------------- */
/* Div | Footer Link | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > footer > a > div {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

}
