/* -------------------------------------------------------------- */
/* > more-it-project.card.css
/*
/* : styles my it more projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* More It Project Card
/* ------------------------------------------------------------- */

.new-more-it-project-card {


  display: grid;
  grid: auto 1fr auto / 1fr;

  border-radius: 1em;

  border: 4px solid rgba(164, 164, 164, 0.1);
  /* border: 4px solid rgba(164, 164, 164, 0.1); */
  border-radius: 20px;
  /* background-color: rgba(255, 255, 255, .8); */

  /* background-color: rgb(210, 210, 210); */

  backdrop-filter: blur(12px);

  transition: all .4s;

}

.new-more-it-project-card:hover {

   border: 4px solid rgba(164, 164, 164, 0.8);

}

/* ------------------------------------------------------------- */
/* Header | More It Project Card
/* ------------------------------------------------------------- */

.new-more-it-project-card > header {

  padding: 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  border-radius: 1em 1em 0 0;

  background-color: white;


}

/* ------------------------------------------------------------- */
/* Nr Block | Header
/* ------------------------------------------------------------- */

.new-more-it-project-card > header > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  font-weight: bold;

}

.new-more-it-project-card > header > div:nth-of-type(1) > div {

  font-size: 14.5px;
  letter-spacing: 1px;

}

/* ------------------------------------------------------------- */
/* Status & Img Icon Block | Header
/* ------------------------------------------------------------- */

.new-more-it-project-card > header > div:nth-of-type(2) {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .4em;

}


/* 🟣🟣🟣🟣  Auslagern , status-info / status-sticker */
/* ------------------------------------------------------------- */
/* Status | Header
/* ------------------------------------------------------------- */

.status-info-small {

  height: 1.5em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: 1em;

  user-select: none;

}

.status-info-small > span,
.status-info-small > div {

  font-size: 12px;

}

.in-progress {

    background: #facc15;
    color: #111;
}

.coming-soon {

  background-color: #e4e4e4;

}

.finished {

  background: #26b15b;

}

/* ------------------------------------------------------------- */
/* 🟩 Main | More It Project Card
/* ------------------------------------------------------------- */

.new-more-it-project-card > main {

  padding: 0 1em;

  display: grid;

  color:#797979;

  background-color: white;

}

/* ------------------------------------------------------------- */
/* Main Span | More It Project Card
/* ------------------------------------------------------------- */

.new-more-it-project-card > main > span {

 font-size: 14.5px;

}

/* ------------------------------------------------------------- */
/* Main Footer | More It Project Card
/* ------------------------------------------------------------- */

.new-more-it-project-card > main > footer {

  padding: .6em 0 1em 0;

  display: flex;
  flex-wrap: wrap;
  column-gap: .2em;
  row-gap: .3em;

}

.new-more-it-project-card > main > footer > div {

  height: 1.3em;
  padding: 0 .3em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  /* font-weight: bold; */
  border-radius: .4em;

  background-color: rgb(189, 189, 189);
  background-color: rgb(242, 242, 242);
  opacity: .6;

  font-weight: bold;

  color:#797979;

  color:rgb(98, 98, 98);

  user-select: none;

}

.new-more-it-project-card > main > footer > div > div {

  font-size: 10.5px;

}

/* ------------------------------------------------------------- */
/* 🟩 Footer | More It Project Card
/* ------------------------------------------------------------- */

.new-more-it-project-card > footer {

  padding: .6em 1em;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: .3em;

  background-color: rgb(198, 198, 198);

  background-color: white;
  /* opacity: .8; */

  border-radius: 0 0 1em 1em;

}








































/* ------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card {

  display: grid;
  grid: auto 1fr auto / 1fr;

  border-radius: 1em;

  /* border: 3px solid rgba(115, 115, 115, .6); */
  /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */

  /* border: 3px solid grey; */

    border: 3px solid rgba(189, 189, 189, 0.6);

    border: 4px solid rgba(164, 164, 164, 0.1);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(12px);

  transition: all .4s;

}

.more-it-project-card:hover {

  /* background-color: #b8b8b8; */
  /* background-color: rgb(197, 197, 197); */
  /* background-color: wheat; */

   /* border: 3px solid rgba(99, 99, 99, 0.6); */

   /* background-color: grey; */

}

.more-it-project-card:hover > main  {

   background-color: rgb(186, 186, 186);

}

.more-it-project-card:hover > header {

   border-bottom: 3px solid rgb(186, 186, 186);

}

.more-it-project-card:hover > footer {

   border-top: 3px solid rgb(186, 186, 186);

}

.more-it-project-card:hover > main > header {

  color:rgb(37, 37, 37);

}

/* ------------------------------------------------------------- */
/* Header | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > header {

  height: 2em;
  padding: 0 .8em 0 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: .8em .8em 0 0;

  /* border-bottom: 3px solid rgba(107, 107, 107, 0.6); */

  border-bottom: 3px solid rgba(189, 189, 189, 0.6);

  background-color: rgb(208, 208, 208);

  /* background-color: #b8b8b8; */
  /* background-color: rgba(255, 255, 255, .4) */

}

/* ------------------------------------------------------------- */
/* Header Div 1 | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > header > div:nth-of-type(1) {

  height: 100%;

  display: flex;
  align-items: center;

}

.more-it-project-card > header > div:nth-of-type(1) > div {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

  font-weight: bold;

}

/* ------------------------------------------------------------- */
/* Nr | Div 1 | Header Div 1
/* ------------------------------------------------------------- */

.more-it-project-card > header > div:nth-of-type(1) > div:nth-of-type(1) {

  letter-spacing: 1px;

  height: 100%;
  padding: 0 .4em 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .8em 0 0 0;

  border-right: 3px solid rgba(189, 189, 189, 0.6);

  color:rgba(52, 52, 52, 0.6);

  color:black;

  background-color: #b8b8b8;

  background-color: rgba(189, 189, 189, 0.6);


}

.more-it-project-card > header > div:nth-of-type(1) > div:nth-of-type(1) > span {

  font-size: 12.5px;

}

/* ------------------------------------------------------------- */
/* Status | Div 2 | Header Div 1
/* ------------------------------------------------------------- */

.more-it-project-card > header > div:nth-of-type(1) > div:nth-of-type(2) {

  height: 100%;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-style: italic;

  /* border-right: 3px solid rgba(107, 107, 107, 0.6); */

  border-right: 3px solid rgba(189, 189, 189, 0.6);

}

.more-it-project-card > header > div:nth-of-type(1) > div:nth-of-type(2) > span {

  font-size: 12.5px;

}

.status-bgcolor-in-progress {

  background-color: rgb(227, 212, 43);

  color:rgb(92, 92, 92);


}

.status-bgcolor-coming-soon {

  background-color: #b8b8b8;

  color: grey;

}

.status-bgcolor-finished {

  background-color: rgb(63, 174, 4);

  color:green;


}

/* ------------------------------------------------------------- */
/* Main | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > main {

  padding: .8em;

  display: grid;
  row-gap: .6em;

  /* background-color: #b8b8b8; */

  background-color: rgb(208, 208, 208);

}

/* ------------------------------------------------------------- */
/* Header Main | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > main > header  {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

  font-weight: bold;

  color: rgba(97, 97, 97, .6);
  /* color:black; */

}

/* ------------------------------------------------------------- */
/* Footer Main | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > main > footer  {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .4em;

  /* font-weight: bold; */

  color: rgba(97, 97, 97, .6);

  color:rgb(67, 67, 67);

}

.more-it-project-card > main > footer > div  {

  height: 1.3em;
  padding: 0 .3em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  /* font-weight: bold; */

  border-radius: .4em;
  background-color: rgb(197, 197, 197);

  user-select: none;

}

.more-it-project-card > main > footer > div > div {

  /* 12.5px | 12.5 / 16 px = 0.78125  */
  font-size: 0.78125em;

  font-size: 10.5px;

}

/* ------------------------------------------------------------- */
/* Footer | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > footer {

  height: 2.8em;
  padding: 0 .6em 0 .8em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  column-gap: .4em;

  border-radius: 0 0 .8em .8em;

  /* border-top: 3px solid rgba(107, 107, 107, 0.6); */

  border-top: 3px solid rgba(189, 189, 189, 0.6);

  background-color: rgb(208, 208, 208);

  /* background-color: #b8b8b8; */

}

/* ------------------------------------------------------------- */
/* Footer Link | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > footer > a {

  text-decoration: none;

  height: 1.5em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .4em;

  font-weight: bold;

  /* background-color: grey; */
  background-color: rgb(197, 197, 197);
  color: rgba(97, 97, 97, .6);

  transition: all .4s;

}

.more-it-project-card > footer > a:hover {

  background-color: rgb(164, 164, 164);
  background-color: wheat;

}

.more-it-project-card > footer > a:visited {

  color: black;

}

/* ------------------------------------------------------------- */
/* Div | Footer Link | More It Project Card
/* ------------------------------------------------------------- */

.more-it-project-card > footer > a > div {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  /* font-size: .90625em; */

  /* 12.5px | 12.5 / 16 px = 0.78125  */
  font-size: 0.78125em;

}
