/* ----------------------------------------------------------------------------- */
/* > welcome.css
/*
/* : styles for welcome container
/* ----------------------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/*  Welcome Container
/* ---------------------------------------------------------------- */

#welcome-container {

    width: 100%;

    /* mobile */
    height: 14em;

    display: grid;
    align-items: center;
    align-content: center;

    /* mobile */
    grid-template:
        "welcome-img welcome-title"
        "welcome-motto welcome-motto"
        "welcome-date welcome-date"
    ;
    /* mobile */
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr;

    /* mobile */
    column-gap: 1.1em;
    row-gap: .4em;

    background-color: rgb(28, 28, 28);
}

/* --------------------------------------------- */
/* [1/4] | Welcome Img Container
/* --------------------------------------------- */

.welcome-img-container {

    grid-area: welcome-img;

    display: flex;
    align-items: center;
}

#img-welcome-clipart-me {

    /* mobile */
    height: 5.5em;

}

/* --------------------------------------------- */
/* [2/4] | Welcome Title Container
/* --------------------------------------------- */

.welcome-title-container {

    grid-area: welcome-title;

    display: grid;
    row-gap: .2em;

}


/* --------------------------------------------- */
/* [3/4] | Welcome Motto Container
/* --------------------------------------------- */

.welcome-motto-container {

    grid-area: welcome-motto;

    display: grid;
    /* row-gap: 0em; */

    font-weight: bold;

    color:rgb(116, 116, 116);
    /* opacity: .8; */
}

/* --------------------------------------------- */
/* [4/4] | Welcome Motto Area
/* --------------------------------------------- */

.welcome-date-container {

    grid-area: welcome-date;

    padding-top: 1em;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: .3em;

    font-size: .895em;
    font-weight: bold;

    opacity: .8;
    color:rgb(156, 156, 156);

    /* background-color: green; */

}

#txt-welcome-today {

    color:wheat;
}
