/* -------------------------------------------------------------- */
/* > default-content.css
/*  
/* : styles the default content styles which we can use
/* -------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* 🔥(Universelle) - Content Row Containers 
/* ----------------------------------------------------- */
.content-row-containers {

    width: 100%;

    display: grid;
    row-gap: 1.5em;
}