/* -------------------------------------------------------------- */
/* > training-plans-sport-container.css
/*
/* : styles trainig plans sport container
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* 🟥 Training-Plans Sport Container
/* ---------------------------------------------------------------- */

#training-sport-plans-container {

  margin-top: 2em;
  padding: 2em 0;

  /* background-color: green; */

  display: flex;
  justify-content: center;

  border-top: 3px solid rgb(202, 202, 202);

  background-color: mediumaquamarine;

  /* default unshown */
  display: none;

}


.info-banner-status {

  height: 5em;

  border-radius: 1em;

}
