/* -------------------------------------------------------------- */
/* > resp-header.css
/*  
/* : responsive sets for header
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
/* >= 330px width
/* -------------------------------------------------------------- */
@media (min-width: 330px ) {

    /* button company style  */
    #btn-company-header-body {

        padding: 0em .6em 0em 0em;
        border-radius: .6em .4em .4em .6em;

    }

    /* show img company  */
    #img-company-header-body {

        display: flex;
        height: 3em;
    }

}

/* -------------------------------------------------------------- */
/* >= 800px width
/* -------------------------------------------------------------- */
@media (min-width: 800px ) {

    /* delete default padding for mobile size  */
    #header-body-layout-container {
        padding: 0;
    }
    

}

/* -------------------------------------------------------------- */
/* >= 1000px width
/* -------------------------------------------------------------- */
@media (min-width: 1000px ) {

    #fixed-header-body {
        height: 6.5em;
    }

    #btn-company-header-body {
        column-gap: 1.2em;
    }

}

/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */
@media (min-width: 1200px ) {

    #btn-company-header-body { 
        height: 3.5em;
    }

    #title-company-header-body {
        line-height: 2em;
        /* better layout fixing  */
        padding-bottom: .15em;
    }

    #img-company-header-body {
        height: 3.5em;
    }

    #lbl-nav-header-body {
        width: 3.5em;
        height: 3.5em;
    }

    #title-company {
        /* 20px */
        font-size: 1.375rem;
    }
    
    #sub-title-company {
        font-size: 16px;
        
    }

}

   