/* ------------------------------------------------------------------------- */
/* > vocubulary.css
/* : styles vocubulary layout
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Vocubulary Language Container
/* ------------------------------------------------------------- */

#vocubulary-language-container {

  padding-top: 1.5em;

  /* default unshown */
  display: none;

}
