/* ----------------------------------------------------------------------------- */
/* > welcome.css
/*
/* : styles for welcome container
/* ----------------------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/*  Welcome Container
/* ---------------------------------------------------------------- */

#welcome-container {

    width: 100%;

    /* mobile */
    padding: 1em .8em;

    display: grid;
    /* align-content: center; */
    align-items: center;

    /* mobile */
    grid-template:
        "welcome-img-area welcome-title-area"
        "welcome-motto-area welcome-motto-area"
        "welcome-date-area welcome-date-area"
    ;
    /* mobile */
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr;

    /* mobile */
    column-gap: 1.1em;
    row-gap: .4em;

    background-color: rgb(28, 28, 28);
}

/* --------------------------------------------- */
/* [1/4] | Welcome Img Area
/* --------------------------------------------- */

.welcome-img-area {

    grid-area: welcome-img-area;

    display: flex;
    align-items: center;

    /* background-color: green; */
}

#img-welcome-clipart-me {

    /* mobile */
    height: 5.5em;

}

/* --------------------------------------------- */
/* [2/4] | Welcome Title Area
/* --------------------------------------------- */

.welcome-title-area {

    grid-area: welcome-title-area;

    display: grid;
    row-gap: .2em;

    /* background-color: rgb(255, 247, 0); */
}

#text-welcome-to {

    /* mobile size  */
    font-size: 1.25em;

    font-weight: bold;

    color:rgb(185, 185, 185);
}

#text-superfreshdev {


    /* mobile size  */
    font-size: 1.375em;

    font-weight: bold;

    color:white;
    /* color:wheat; */
}


/* --------------------------------------------- */
/* [3/4] | Welcome Motto Area
/* --------------------------------------------- */

.welcome-motto-area {

    grid-area: welcome-motto-area;

    display: grid;
    /* row-gap: 0em; */

    color:grey;
    opacity: .8;
}

/* --------------------------------------------- */
/* [4/4] | Welcome Motto Area
/* --------------------------------------------- */

.welcome-date-area {

    grid-area: welcome-date-area;

    padding-top: 1em;
    padding-right: .3em;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: .3em;

    font-size: .895em;
    font-weight: bold;

    opacity: .8;
    color:rgb(156, 156, 156);

    /* background-color: green; */

}

#txt-welcome-today {

    color:wheat;
}
