/* -------------------------------------------------------------- */
/* > resp-main-padding.css
/*
/* : styles resp main paddings
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */

@media (min-width: 1200px ) {


  /* --------------------------------------------- */
  /* Left & Right | Padding                        */
  /* --------------------------------------------- */

  .resp-main-padding-0-08,
  .resp-main-padding-0-1,
  .resp-main-padding-0-1_3 {

    padding: 0 0;

  }

/* --------------------------------------------- */
/* 2 Same | Top-Bottom & Left-Right
/* --------------------------------------------- */

  .resp-main-padding-1-08 {

    padding: 1em 0;

  }

  .resp-main-padding-1_3-08 {

    padding: 1.3em 0;

  }

  .resp-main-padding-1_5-08 {

    padding: 1.5em 0;

  }

  .resp-main-padding-2-08 {

    padding: 2em 0;

  }

  .resp-main-padding-2-1_3 {

    padding: 2em 0;

  }

  .resp-main-padding-2-1_5 {

    padding: 2em 0;

  }


}
