/* -------------------------------------------------------------- */
/* > resp-handle-content-areas.css
/*
/* : responsive handlings for resp content areas
    ( very small, min, main, max )
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 750px width
/* -------------------------------------------------------------- */

@media (min-width: 750px ) {


    /* ------------------------------------------ */
    /* Width: 45em | Very Small, Min
    /* ------------------------------------------ */

    .resp-very-small-content-area {

        width: 48em;

    }

}


/* -------------------------------------------------------------- */
/* >= 900px width
/* -------------------------------------------------------------- */

@media (min-width: 900px ) {

    /* ------------------------------------------ */
    /* Width: 55em | Min
    /* ------------------------------------------ */

    .resp-min-content-area {

        width: 55em;

    }

}

/* -------------------------------------------------------------- */
/* >= 1000px width
/* -------------------------------------------------------------- */

@media (min-width: 1000px ) {


    /* ------------------------------------------ */
    /* Width: 60em | Very Small, Min
    /* ------------------------------------------ */

    .resp-min-content-area  {

        width: 60em;
    }

}

/* -------------------------------------------------------------- */
/* >= 1200px width
/* -------------------------------------------------------------- */

@media (min-width: 1200px ) {


    /* ------------------------------------------ */
    /* Width: 65em | Min
    /* ------------------------------------------ */

    .resp-min-content-area  {

        width: 65em;
    }

    /* ------------------------------------------ */
    /* Width: 65em | Main
    /* ------------------------------------------ */

    .resp-main-content-area {

        width: 65em;

    }

}

/* -------------------------------------------------------------- */
/* >= 1600px width
/* -------------------------------------------------------------- */

@media (min-width: 1600px ) {


    /* ------------------------------------------ */
    /* Width: 100em | Main
    /* ------------------------------------------ */

    .resp-main-content-area {

        width: 100em;
    }

}
