/* ------------------------------------------------------------------------------- */
/* > nav-sport-challenges.css
/* : styles nav sport challenges
/* ------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------- */
/* Checkbox | Selected Sport Challenge Category )
/* ----------------------------------------------------------------------------- */

/* default unshown */
#chk-selected-sport-challenge-category {

  display: none;

}

/* set background */
#chk-selected-sport-challenge-category:checked ~ #header-nav-sport-container label[for="chk-selected-sport-challenge-category"] {

  background-color: rgb(239, 113, 113);

}

/* set color black to challenges */
#chk-selected-sport-challenge-category:checked ~ #header-nav-sport-container label[for="chk-selected-sport-challenge-category"] > div:nth-of-type(1) > div:nth-of-type(2) {

  color:rgb(48, 48, 48);

}

/* change rotation img arrow */
#chk-selected-sport-challenge-category:checked ~ #header-nav-sport-container label[for="chk-selected-sport-challenge-category"] > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* set content */
#chk-selected-sport-challenge-category:checked ~ #header-nav-sport-container #smooth-nav-sport-challenges-category {

  grid-template-rows: 1fr;
}


/* ------------------------------------------------------------------------------- */
/* Radios | Category Sport Challenges ( choose, challenge 1, ... )
/* ------------------------------------------------------------------------------- */

/* default unshown */
input[name="radio-sport-challenges"] {

  display: none;

}

/* set background */
#radio-sport-choose-challenge:checked ~ #header-nav-sport-container label[for="radio-sport-choose-challenge"],
#radio-sport-challenge-1:checked ~ #header-nav-sport-container label[for="radio-sport-challenge-1"],
#radio-sport-challenge-2:checked ~ #header-nav-sport-container label[for="radio-sport-challenge-2"] {

  background-color: wheat;

}

/* set x */
#radio-sport-choose-challenge:checked ~ #header-nav-sport-container label[for="radio-sport-choose-challenge"] > .custom-radio-small > img,
#radio-sport-challenge-1:checked ~ #header-nav-sport-container label[for="radio-sport-challenge-1"]  > .custom-radio-small > img,
#radio-sport-challenge-2:checked ~ #header-nav-sport-container label[for="radio-sport-challenge-2"] > .custom-radio-small > img {

  display: flex;

}

/* Set Content | Choose Challenges */
#radio-sport-choose-challenge:checked ~ #sport-content-container #banner-choose-sport-challenges-container {

  display: flex;

}

/* Set Content | 30 Vidoes / 3 Videos Challenge Container */
#radio-sport-challenge-1:checked ~ #sport-content-container #sport-challenge-30-videos-container,
#radio-sport-challenge-2:checked ~ #sport-content-container #sport-challenge-3-videos-container {

  display: grid;
}
