/* -------------------------------------------------------------- */
/* > sport-challenges.css
/* : styles sport challenges
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport Challenge Video Container
/* -------------------------------------------------------------- */

#sport-challenges-video-container {

  width: 100%;
  /* padding: 3.5em 0 2em 0; */

  display: grid;
  justify-items: center;

  /* background-color: red; */

}
