/* -------------------------------------------------------------- */
/* > about-why-superfreshdev.css
/*
/* : styles the why superfreshdev layout & nav handling
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* [2/2] | Why Superfreshdev
/* ------------------------------------------------------------------- */

#about-why-superfreshdev {

  display: grid;
  justify-items: center;

  /* background-color: violet; */

}

/* ------------------------------------------------------------------- */
/* Label | Why Superfreshdev
/* ------------------------------------------------------------------- */

#label-why-superfreshdev {

  height: 2.3em;
  padding: 0 .8em;

  display: inline-flex;
  align-items: center;
  column-gap: .8em;

  border-radius: .6em;

  font-weight: bold;

  background-color: rgb(209, 209, 209);
  opacity: .6;

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

#label-why-superfreshdev:hover {

  background-color: wheat;
}

#label-why-superfreshdev > img {

 transition: all .4s;

}

/* ------------------------------------------------------------------- */
/* Label Handling | Why Superfreshdev
/* ------------------------------------------------------------------- */

/* default unshown */
#chk-about-why-superfreshdev {

  display: none;
}

/* set background  */
#chk-about-why-superfreshdev:checked + label {

  /* background-color: wheat; */
  background-color: rgb(243, 139, 139);
}

/* change img arrow */
#chk-about-why-superfreshdev:checked + label > img {

  transform: rotate(180deg);

}

/* ------------------------------------------------------------------- */
/* Smooth Open/Close Container | Why Superfreshdev
/* ------------------------------------------------------------------- */

#smooth-open-close-about-why-superfreshdev {

  width: 100%;

  display: grid;
  justify-items: center;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease-in-out;

}

/* ------------------------------------------------------------------- */
/* Handling | Smooth Open/Close Container | Why Superfreshdev
/* ------------------------------------------------------------------- */

#chk-about-why-superfreshdev:checked ~ #smooth-open-close-about-why-superfreshdev {

   grid-template-rows: 1fr;

}

/* ------------------------------------------------------------------- */
/* Why Superfreshdev Text Container
/* ------------------------------------------------------------------- */

#why-superfreshdev-text-container {

  margin-top: .8em;

  padding: .8em;

  line-height: 1.8em;

  /* color:red;

  background-color: lightblue; */

  border-radius: .8em;
  border: 1px solid rgb(218, 218, 218);

}
