/* ------------------------------------------------------------------- */
/* > about-quick-info.css
/*
/* : styles the quick info container of about
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* About Quick Info Container
/* ------------------------------------------------------------------- */

#about-quick-info-container {

  width: 100%;
  padding: 1.5em .8em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: center;

  row-gap: 1.5em;

  /* background-color: red; */
  /* background-color: rgb(83, 72, 72); */
  background-color: white;

}

/* ------------------------------------------------------------------- */
/* About Quick Info
/* ------------------------------------------------------------------- */

#about-quick-info {

  display: flex;
  flex-wrap: wrap;

  /* mobile */
  justify-content: center;

  /* mobile */
  row-gap: 1.5em;

  /* background-color: green; */

}

/* ------------------------------------------------------------------- */
/* Img Container | About Quick Info
/* ------------------------------------------------------------------- */

#about-quick-info-img-container {

  display: flex;
  align-items: center;
  column-gap: 1em;

}

/* ------------------------------------------------------------------- */
/* Img | About Quick Info
/* ------------------------------------------------------------------- */

#img-prof-me-about-quick-info {

  height: 15em;

  border-radius: 1.3em;

}

/* ------------------------------------------------------------------- */
/* Img - Arrow Seperator | About Quick Info
/* ------------------------------------------------------------------- */

#img-arrow-seperator-about-quick-info {

  height: .8em;

  /* mobile */
  display: none;

}

/* ------------------------------------------------------------------- */
/* Text Container | About Quick Info
/* ------------------------------------------------------------------- */

#about-quick-info-text-container {

  display: grid;
  row-gap: 1.5em;

  /* color:red; */

}

#about-quick-info-text-container > .default-header-sfd-label:nth-of-type(1) {

  justify-self: center;

}

#about-quick-info-text {

  text-align: center;
  line-height: 1.8em;

  color:grey;

}
