/* -------------------------------------------------------------- */
/* > resp-about.css */
/*
/* : responsive sets for about page elements
/* -------------------------------------------------------------- */




/* ------------------------------------------------------------------- */
/* >= 330px */
/* ------------------------------------------------------------------- */

@media ( min-width: 330px ) {


  /* ---------------------------------------------------------------------------------------------- */
  /* Read More | Violine Audio Container */
  /* ---------------------------------------------------------------------------------------------- */

  #about-page-content-container {

    /* background-color: rebeccapurple;
    justify-items: center; */

  }

  #about-page-content-container .page-content-card-white {

    /* width: 18em;
    background-color: red; */

  }



}


/* ------------------------------------------------------------------- */
/* >= 360px */
/* ------------------------------------------------------------------- */

@media ( min-width: 360px ) {


  /* ------------------------------------------------------- */
  /* Read More |  Violine Inspiration Container
  /* ------------------------------------------------------- */

  #violine-inspiration-container {

    display: grid;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Audio Container | Story Behind SD Container
  /* ------------------------------------------------------------------- */

  #audio-container-story-behind-sd {

    display: flex;

  }

}

/* ------------------------------------------------------------------- */
/* >= 380px */
/* ------------------------------------------------------------------- */

@media ( min-width: 380px ) {


  /* ------------------------------------------------ */
  /* Read More | Nav Header About Details | Label Img  */
  /* ------------------------------------------------ */

  #nav-header-about-details > label > img:nth-of-type(1) {

    /* desktop */
    display: flex;

  }

  /* ------------------------------------------------ */
  /* Read More | Img About Content Info Box  */
  /* ------------------------------------------------ */

  .img-about-content-info-box {

    display: flex;

  }



  /* ------------------------------------------------ */
  /* Read More | Audio Violine Container  */
  /* ------------------------------------------------ */

  #about-read-more-audio-violine-container  {

    display: grid;

  }

  /* ------------------------------------------------ */
  /* Read More | Audio Story Container  */
  /* ------------------------------------------------ */

  #about-read-more-audio-story-container {

    display: flex;

  }

  /* ------------------------------------------------ */
  /* About Details | Nav About More | Label | Img  */
  /* ------------------------------------------------ */

  #nav-about-more > label > img {

    display: flex;

  }



}

/* ------------------------------------------------------------------- */
/* >= 400px */
/* ------------------------------------------------------------------- */

@media ( min-width: 400px ) {

  /* ---------------------------------------------------------------------------------------------- */
  /* Read More | Labels (mission, hobbies, story ) */
  /* ---------------------------------------------------------------------------------------------- */

  /* #nav-list-read-more-about > label {


    width: auto;

  } */

  /* --------------------------------------------------------- */
  /* Read More | Audio Violine Container */
  /* --------------------------------------------------------- */

  #about-read-more-audio-violine-container {

    padding: 0 0em 1.5em .8em;

  }

  /* --------------------------------------------------------- */
  /* Read More | Img About Read More topics */
  /* --------------------------------------------------------- */

  /* .img-about-read-more-topics {

    display: flex;

  } */

  /* --------------------------------------------------------- */
  /* About Details | Contact Info Box -> Main */
  /* --------------------------------------------------------- */

  #about-details-contact-info-box > main {

    justify-items: flex-start;

  }

  /* ------------------------------------------- */
  /* About Details | Img | Clipart Coffee */
  /* ------------------------------------------- */

  #img-clipart-coffee {

    /* bring img to the left side */
    order:0;

  }


}

/* ------------------------------------------------------------------- */
/* >= 450px */
/* ------------------------------------------------------------------- */

@media ( min-width: 450px ) {

  /* --------------------------------------------------------- */
  /* Mindset | Video Mindset Box About */
  /* --------------------------------------------------------- */

  .video-mindset-about-box  {

    width: 22em;

  }

  /* ------------------------------------------------------ */
  /* Mindset | Quote Mindset About Container */
  /* ------------------------------------------------------ */

  #quote-mindset-about-container {

    display: flex;
    align-items: center;
    justify-content: center;

  }

  /* ------------------------------------------------------ */
  /* Mindset | Quote Mindset About Container | Divs  */
  /* ------------------------------------------------------ */

  #quote-mindset-about-container > div {

    width: auto;

  }

  /* ------------------------------------------------------ */
  /* Mindset | Img Brace Quote Mindset */
  /* ------------------------------------------------------ */

  /* left */
  #img-brace-left-quote-mindset-about {

    /* desktop */
    transform: scaleX(-1)

  }

  /* right */
  #img-brace-right-quote-mindset-about {

    /*desktop */
    transform: rotate(0deg);

  }

}

/* ------------------------------------------------------------------- */
/* >= 480px */
/* ------------------------------------------------------------------- */

@media ( min-width: 480px ) {

  /* ------------------------------------------------------------------- */
  /* About | Nav About */
  /* ------------------------------------------------------------------- */

    #nav-about {

      /* desktop */
      justify-content: flex-end;

      /* background-color: rgb(0, 69, 57); */

    }


  /* ------------------------------------------------------------------- */
  /* Read More | Header Read More */
  /* ------------------------------------------------------------------- */

  #header-read-more-about {

    /* desktop */
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .8em;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Hobby Item Container | Header | Img
  /* ------------------------------------------------------------------- */

  .hobby-item-container > header > img {

    display: flex;

     height: 5.5em;
     width: 5.5em;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Header Content Block | Header
  /* ------------------------------------------------------------------- */

  .hobby-item-container > header > div:nth-of-type(1) {

    /* desktop */
    padding: .4em 1em .4em 0;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Hobby Content Container */
  /* ------------------------------------------------------------------- */

  .hobby-content-container {

    width: 25em;

  }

  /* ------------------------------------------------------------------- */
  /* Mindset | Header Nav Mindset */
  /* ------------------------------------------------------------------- */

  #header-nav-mindset-about {

    /* desktop */
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 0em;
    column-gap: .8em;

  }

  /* ------------------------------------------------------------------- */
  /* Contact | E-Mail Contact Box  */
  /* ------------------------------------------------------------------- */

  #e-mail-contact-box-about {

    /* desktop */
    display: flex;
    align-items: center;
    column-gap: 1.5em;

  }

  /* ------------------------------------------------------------------- */
  /* Contact | Img E-Mail Contact About */
  /* ------------------------------------------------------------------- */

  #img-email-contact-about {

    order:0;

  }


}

/* ------------------------------------------------------------------- */
/* >= 580px */
/* ------------------------------------------------------------------- */

@media ( min-width: 580px ) {


  /* ---------------------------------------------------------------------- */
  /* About Details | Header About Details Container */
  /* ---------------------------------------------------------------------- */

   #header-about-details-container {

    /*header title more inside looks better */
    padding-left: .8em;

    /* desktop */
    display: flex;
    justify-content: space-between;

    /* background-color: red; */

  }

}

/* ------------------------------------------------------------------- */
/* >= 600px */
/* ------------------------------------------------------------------- */

@media ( min-width: 600px ) {


  /* ------------------------------------------------------------------- */
  /* Read More |Life Philosophy Container
  /* ------------------------------------------------------------------- */

  #life-philosophy-container {

    width: 90%;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Content Container Story Behind SD
  /* ------------------------------------------------------------------- */

  #story-behind-sd-container {

    width: 90%;
    /* background-color: green; */

  }


  /* ------------------------------------------------------------------- */
  /* Read More | Header Nav Read More About
  /* ------------------------------------------------------------------- */

  #header-nav-read-more-about {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: 1em;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Img | Header Nav Read More About */
  /* ------------------------------------------------------------------- */

  #img-about-read-more {

    /* desktop */
    width: 5em;

  }

  /* ----------------------------------------------------------------------------------------- */
  /* Read More | Header Nav Read More About | Header Content Block | Sub Title
  /* ----------------------------------------------------------------------------------------- */

  #header-nav-read-more-about > .header-content-block > div:nth-of-type(1) > div:nth-of-type(2){

    font-size: 14.5px;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Label | Show Me */
  /* ------------------------------------------------------------------- */

  label[for="chk-open-read-more-about"] {

    /* desktop */
    min-width: 7em;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Nav Read More About
  /* ------------------------------------------------------------------- */

  #nav-read-more-about {

    display: grid;
    justify-items: center;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Nav Content Panel Medium | Label
  /* ------------------------------------------------------------------- */

  #nav-read-more-about > .nav-content-panel-medium > label {

    width: auto;

  }

}

/* ------------------------------------------------------------------- */
/* >= 650px */
/* ------------------------------------------------------------------- */

@media ( min-width: 650px ) {


  /* ------------------------------------------------------------------- */
  /* Read More | Hobbies Container
  /* ------------------------------------------------------------------- */

  #hobbies-container {

    width: 90%;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Hobbies Content List Part 1 of 2
  /* ------------------------------------------------------------------- */

  #hobbies-content-list-part-1-of-2 {

    grid-template-areas:

    'hobby-running hobby-travel'
    'hobby-soccer hobby-people'
    'hobby-gym .';

    grid-template-columns: 1fr 1fr;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Hobbies Content List Part 2 of 2
  /* ------------------------------------------------------------------- */

  #hobbies-content-list-part-2-of-2 {

    grid-template-areas:

    'hobby-violine hobby-music'
    'hobby-violine hobby-movies';

    grid-template-columns: 1fr 1fr;

  }


  /* ----------------------------------------------------------- */
  /* Mindset | Video Mindset About Container */
  /* ----------------------------------------------------------- */

  #video-mindset-about-container {

    /* desktop */
    grid: auto / 1fr 1fr;
    column-gap: 2em;

    /* background-color: red; */

  }

  /* --------------------------------------------------------- */
  /* Mindset | Video Mindset About Box */
  /* --------------------------------------------------------- */

  .video-mindset-about-box  {

    width: 100%;

  }


}

/* ------------------------------------------------------------------- */
/* >= 700px */
/* ------------------------------------------------------------------- */

@media ( min-width: 700px ) {


  /* -------------------------------------------------------------- */
  /* Quick Info | Quick Info About Container */
  /* -------------------------------------------------------------- */

  #quick-info-about-container {

    /* special case: overwrite tempalte -> main content box transparent white */
    padding: 1em .8em;


    width: 100%;
    display: grid;
    align-items: center;

    /* mobile */
    justify-items: center;
    row-gap: 2em;

    grid-template:

    'img_business_quick_info img_arrow_quick_info content_quick_info_about'

    ;

  }

  /* -------------------------------------------------------------- */
  /* Quick Info | Img Arrow Seperator Quick Info */
  /* -------------------------------------------------------------- */

  #img-arrow-seperator-quick-info-about {

    /* desktop*/
    display: grid;

    padding: 0 1.3em;

  }

  /* -------------------------------------------------------------- */
  /* Quick Info | Quick Info Content Container */
  /* -------------------------------------------------------------- */

  #quick-info-content-container-about {

    width: 100%;
    display: grid;
    align-content: center;
    row-gap: .8em;

  }

  /* -------------------------------------------------------------- */
  /* Quick Info | Quick Info Header Sticker */
  /* -------------------------------------------------------------- */

  #quick-info-content-container-about > div:nth-of-type(1) {

    justify-self: flex-start;

  }

  /* -------------------------------------------------------------- */
  /* Quick Info | Quick Info Text */
  /* -------------------------------------------------------------- */

  #quick-info-content-container-about > div:nth-of-type(2) {

    /* desktop */
    text-align: left;
    padding: 0;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Hobby Content Container */
  /* ------------------------------------------------------------------- */

  .hobby-content-container {

    width: auto;

    display: grid;
    align-items: flex-start;

    grid: auto / 1fr 1fr;

  }

}

/* ------------------------------------------------------------------- */
/* >= 750px */
/* ------------------------------------------------------------------- */

@media ( min-width: 750px ) {

  /* ------------------------------------------------ */
  /* Quick Info | Quick Info Container                */
  /* ------------------------------------------------ */

  #about-quick-info-container {

    /* desktop */
    /* reminder: we overwrite that padding
       from default css class because of selector id prio */
    padding: 1em .8em;

    /* --------------------------------------- */
    /* Grid Template Area Layout
    /* --------------------------------------- */

    /* desktop */
    grid-template-areas:

      'img_quick_info_business quick_info_content'
      'img_quick_info_business read_more_label'
      'read_more_smooth_container read_more_smooth_container'

    ;

    column-gap: 1em;

    grid-template-columns: auto 1fr;
    grid-template-rows: auto;

    /* background-color: magenta; */

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Img Quick Info Business */
  /* ------------------------------------------------------------------- */

  #img-quick-info-business {

    /* desktop */
    margin-bottom: 0em;

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Quick Info Content Container */
  /* ------------------------------------------------------------------- */

  #about-quick-info-content-container {

    /* desktop */
    display: flex;
    align-items: center;
    column-gap: 1em;

    /* background-color: brown; */

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Img Arrow Seperator */
  /* ------------------------------------------------------------------- */

  #img-arrow-seperator-about-quick-info {

    /* desktop, show img arrow */
    display: flex;

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Quick Info Content Box */
  /* ------------------------------------------------------------------- */

  #about-quick-info-content-box {

    display: grid;
    row-gap: .8em;

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Quick Info Sticker */
  /* ------------------------------------------------------------------- */

  #about-quick-info-content-box > .header-sticker-medium:nth-of-type(1) {

    justify-self: flex-start;

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Quick Info Text */
  /* ------------------------------------------------------------------- */

  #about-quick-info-text {

    /* desktop */
    text-align: left;
    padding: 0 0;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Read More Label | Open Close */
  /* ------------------------------------------------------------------- */

  label[for="chk-about-read-more"] {

    /* bring right */
    justify-self: flex-end;
    /* bring down */
    align-self: flex-end;

  }

  /* ---------------------------------------------------------------------------------------------- */
  /* Read More | Nav About Read More */
  /* ---------------------------------------------------------------------------------------------- */

  #nav-about-read-more  {

    /* desktop */
    /* margin: 1.5em 0 0em 0; */
    justify-content: flex-end;

  }

  /* ------------------------------------------------ */
  /* Quick Info | Why Superfreshdev  */
  /* ------------------------------------------------ */

  #about-why-superfreshdev {

    justify-items: flex-end;

  }


}

/* ------------------------------------------------------------------- */
/* >= 800px */
/* ------------------------------------------------------------------- */

@media ( min-width: 800px ) {


  /* ------------------------------------------------------------------- */
  /* Read More | Hobbies Container
  /* ------------------------------------------------------------------- */

  #hobbies-container {

    width: 90%;
    /* background-color: red; */

  }



   /* ------------------------------------------- */
   /* ❌ About Details | Contact */
   /* ------------------------------------------- */

   #img-clipart-coffee  {

    height: 9em;

   }

   /* ------------------------------------------- */
   /* ❌ About Details | Contact */
   /* ------------------------------------------- */

   #about-contact-info-container {

    column-gap: 1.5em;

  }

}

/* ------------------------------------------------------------------- */
/* >= 850px */
/* ------------------------------------------------------------------- */

@media ( min-width: 850px ) {


}






/* ------------------------------------------------------------------- */
/* 🟣🟣🟣 Handle Extra 14 Zoll Laptops , heights */
/* ------------------------------------------------------------------- */

/* ------------------------------------------------------------------- */
/* >= 850px Extra only for 14 Zoll Laptop */
/* ------------------------------------------------------------------- */

@media ( min-width: 850px ) and ( min-height: 550px ) {


  #img-quick-info-business {
    /* display: none; */

    /* border: 3px solid red;

    height: 11em; */
  }


}
