/* -------------------------------------------------------------- */
/* > resp-about.css */
/* : responsive sets for about page elements
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* ❌ >= 330px */
/* ------------------------------------------------------------------- */

@media ( min-width: 330px ) {

  /* ---------------------------------------------------------------------------- */
  /* Info About Container > Divs ( quick info, read more, mindset )
  /* ---------------------------------------------------------------------------- */

  #info-about-container > div {

    /* width: 18em; */

  }


}

/* ------------------------------------------------------------------- */
/* 🟨 >= 360px */
/* ------------------------------------------------------------------- */

@media ( min-width: 360px ) {


  /* ---------------------------------------------------------------------------- */
  /* Info About Container > Divs ( quick info, read more, mindset )
  /* ---------------------------------------------------------------------------- */

  #info-about-container > div {

    /* width: 20em; */

  }

  /* ------------------------------------------------------- */
  /* Quick Info | Img Business About */
  /* ------------------------------------------------------- */

  #img-business-about {

    /* width: 95%; */

  }

  /* ------------------------------------------------------- */
  /* Read More |  Violine Inspiration Container */
  /* ------------------------------------------------------- */

  #violine-inspiration-container {

    display: grid;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Audio Story Behind SD Container */
  /* ------------------------------------------------------------------- */

  #audio-story-behind-sd-container {

    display: flex;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Story Behind SD Content Container */
  /* ------------------------------------------------------------------- */

  #story-behind-sd-content-container {

    padding: 0 0 2em 0;

  }

}

/* ------------------------------------------------------------------- */
/* 🟨 >= 380px */
/* ------------------------------------------------------------------- */

@media ( min-width: 380px ) {


  /* ------------------------------------------------ */
  /* Read More | Audio Violine Container  */
  /* ------------------------------------------------ */

  #about-read-more-audio-violine-container  {

    display: grid;

  }

  /* ------------------------------------------------ */
  /* Read More | Entertainment Hobbies | "Violine"    */
  /* ------------------------------------------------ */

  /* because of showing audio than main layout will be shown */
  #entertainment-hobbies-container > div:nth-of-type(1) > header > img:nth-of-type(1) {

    border-radius: .8em 0 0 0em;

  }

  /* ------------------------------------------------ */
  /* Read More | Audio Story Container  */
  /* ------------------------------------------------ */

  #about-read-more-audio-story-container {

    display: flex;

  }

  /* ------------------------------------------------ */
  /* About Details | Nav About More | Label | Img  */
  /* ------------------------------------------------ */

  #nav-about-more > label > img {

    display: flex;

  }

}

/* ------------------------------------------------------------------- */
/* 🟥 >= 400px */
/* ------------------------------------------------------------------- */

@media ( min-width: 400px ) {


  /* --------------------------------------------------------- */
  /* Read More | Audio Violine Container */
  /* --------------------------------------------------------- */

  #about-read-more-audio-violine-container {

    padding: 0 0em 1.5em .8em;

  }

  /* --------------------------------------------------------- */
  /* About Details | Contact Info Box -> Main */
  /* --------------------------------------------------------- */

  #about-details-contact-info-box > main {

    justify-items: flex-start;

  }

  /* ------------------------------------------- */
  /* About Details | Img | Clipart Coffee */
  /* ------------------------------------------- */

  #img-clipart-coffee {

    /* bring img to the left side */
    order:0;

  }

  /* ------------------------------------------------------ */
  /* Mindset | Quote Mindset About Container */
  /* ------------------------------------------------------ */

  #quote-mindset-about-container {

    display: flex;
    align-items: center;
    justify-content: center;

  }

  /* ------------------------------------------------------ */
  /* Mindset | Img Brace Quote Mindset */
  /* ------------------------------------------------------ */

  /* left */
  #img-brace-left-quote-mindset-about {

    /* desktop */
    transform: scaleX(-1)

  }

  /* right */
  #img-brace-right-quote-mindset-about {

    /*desktop */
    transform: rotate(0deg);

  }


  #quote-mindset-about-3-words-container {

    display: flex;
    align-items: center;

  }


}

/* ------------------------------------------------------------------- */
/* 🟥 >= 450px */
/* ------------------------------------------------------------------- */

@media ( min-width: 450px ) {


  /* ------------------------------------------------------- */
  /* Quick Info | Img Business About */
  /* ------------------------------------------------------- */

  #img-business-about {

    width: 16em;

  }

  /* --------------------------------------------------------- */
  /* Mindset | Video Mindset Box About */
  /* --------------------------------------------------------- */

  .mindset-about-video-box  {

    width: 22em;

  }





}

/* ------------------------------------------------------------------- */
/* 🟥 >= 480px */
/* ------------------------------------------------------------------- */

@media ( min-width: 480px ) {


   /* ---------------------------------------------------------------------------- */
  /* Info About Container > Divs ( quick info, read more, mindset )
  /* ---------------------------------------------------------------------------- */

  #info-about-container > div {

    width: 100%;

  }




  /* ------------------------------------------------------------------- */
  /* About | Nav About */
  /* ------------------------------------------------------------------- */

  #nav-about {

    /* desktop */
    justify-content: flex-end;

    /* background-color: rgb(0, 69, 57); */

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Header Nav Read More About */
  /* ------------------------------------------------------------------- */

  #header-nav-read-more-about {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: 1em;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Img About Read More */
  /* ------------------------------------------------------------------- */

  #img-about-read-more {

    /* desktop */
    width: 4.8em;

     /* layout pos fix of mindset */
    margin-right: .4em;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Header Read More */
  /* ------------------------------------------------------------------- */

  #header-read-more-about {

    /* desktop */
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .8em;

  }

  /* ----------------------------------------------------------------------------------------- */
  /* Read More | Header Content Block | "Sub Title" */
  /* ----------------------------------------------------------------------------------------- */

  #header-nav-read-more-about > .header-content-block > div:nth-of-type(1) > div:nth-of-type(2) {

    font-size: 14.5px;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Hobby | Hobby Item Container > Header > Img */
  /* ------------------------------------------------------------------- */

  .hobby-item-container > header > img {

    display: flex;

    height: 5em;
    width: 5em;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Hobby | Hobby Content Container */
  /* ------------------------------------------------------------------- */

  .hobby-content-container {

    /* width: 25em; */

  }

  /* ------------------------------------------------------------------- */
  /* Mindset | Header Nav Mindset */
  /* ------------------------------------------------------------------- */

  #header-nav-mindset-about {

    /* desktop */
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 0em;
    column-gap: .8em;

  }

    /* ------------------------------------------------------------------- */
  /* Mindset | Img About Mindset */
  /* ------------------------------------------------------------------- */

  #img-about-mindset {

    width: 4.8em;
    height: 4.8em;

    /* layout pos fix of read more */
    margin-right: .4em;

  }

  /* ----------------------------------------------------------------------------------------- */
  /* Read More | Header Nav Read More About | Header Content Block | Sub Title */
  /* ----------------------------------------------------------------------------------------- */

  #header-nav-mindset-about > .header-content-block > div:nth-of-type(1) > div:nth-of-type(2) {

    font-size: 14.5px;

  }



  /* ------------------------------------------------------------------- */
  /* Contact | E-Mail Contact Box  */
  /* ------------------------------------------------------------------- */

  #e-mail-contact-box-about {

    /* desktop */
    display: flex;
    align-items: center;
    column-gap: 1.5em;

  }

  /* ------------------------------------------------------------------- */
  /* Contact | Img E-Mail Contact About */
  /* ------------------------------------------------------------------- */

  #img-email-contact-about {

    order:0;

  }


}

/* ------------------------------------------------------------------- */
/* 🟥 >= 580px */
/* ------------------------------------------------------------------- */

@media ( min-width: 580px ) {

  /* ------------------------------------------------------------------- */
  /* Read More | Nav Read More About */
  /* ------------------------------------------------------------------- */

  #nav-read-more-about {

    /* margin-bottom: 1em; */

    display: grid;
    justify-items: center;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Nav Content Panel Medium | Label */
  /* ------------------------------------------------------------------- */

  #nav-read-more-about > .nav-content-panel-medium > label {

    width: auto;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Life Philosophy Container */
  /* ------------------------------------------------------------------- */

  #life-philosophy-container {

    padding-bottom: 2em;

  }


}

/* ------------------------------------------------------------------- */
/* 🟥 >= 600px */
/* ------------------------------------------------------------------- */

@media ( min-width: 600px ) {


  /* ------------------------------------------------------------------- */
  /* Read More |Life Philosophy Container */
  /* ------------------------------------------------------------------- */

  #life-philosophy-container {

    width: 90%;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Sport Trave Human Hobbies Container */
  /* ------------------------------------------------------------------- */

  #sport-travel-human-hobbies-container {

    width: 90%;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Entertainment Hobbies Container */
  /* ------------------------------------------------------------------- */

  #entertainment-hobbies-container {

    width: 90%;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Content Container Story Behind SD */
  /* ------------------------------------------------------------------- */

  #story-behind-sd-container {

    width: 90%;
    /* background-color: green; */

  }

  /* ------------------------------------------------------------------- */
  /* Mindset | Content Container Story Behind SD */
  /* ------------------------------------------------------------------- */

  #mindset-about-content-container {

    width: 90%;

  }


}

/* ------------------------------------------------------------------- */
/* 🟥 >= 650px */
/* ------------------------------------------------------------------- */

@media ( min-width: 650px ) {


    /* ---------------------------------------------------------------------------- */
    /* Info About Container > Divs ( quick info, read more, mindset )
    /* ---------------------------------------------------------------------------- */

    #info-about-container > div {

      width: 100%;

    }



  /* ------------------------------------------------------- */
  /* Quick Info | Img Business About */
  /* ------------------------------------------------------- */

  #img-business-about {

    width: 14em;

  }



  /* -------------------------------------------------------------- */
  /* Quick Info | Quick Info About Container */
  /* -------------------------------------------------------------- */

  #quick-info-about-container {

    /* special case: overwrite tempalte -> style-page-content-card-white-medium */
    padding: .8em .8em;

    align-items: center;

    grid-template:

    'img_business_quick_info img_arrow_about_quick_info content_quick_info_about'

    ;

  }

  /* -------------------------------------------------------------- */
  /* Quick Info | Img Arrow About Quick Info */
  /* -------------------------------------------------------------- */

  #img-arrow-about-quick-info {

    /* desktop*/
    display: grid;

    padding: 0 1.3em;

  }

  /* -------------------------------------------------------------- */
  /* Quick Info | Quick Info About Content Container */
  /* -------------------------------------------------------------- */

  #quick-info-about-content-container {

    width: 100%;
    display: grid;
    align-content: center;
    row-gap: .8em;

  }

  /* -------------------------------------------------------------- */
  /* Quick Info | "Header Sticker" */
  /* -------------------------------------------------------------- */

  #quick-info-about-content-container > div:nth-of-type(1) {

    justify-self: flex-start;

  }

  /* -------------------------------------------------------------- */
  /* Quick Info | "Text" */
  /* -------------------------------------------------------------- */

  #quick-info-about-content-container > div:nth-of-type(2) {

    /* desktop */
    text-align: left;
    padding: 0;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Hobbies Container */
  /* ------------------------------------------------------------------- */

  #hobbies-container {

    width: 90%;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Hobbies Content List Part 1 of 2 */
  /* ------------------------------------------------------------------- */

  #hobbies-content-list-part-1-of-2 {

    grid-template-areas:

    'hobby-running hobby-travel'
    'hobby-soccer hobby-people'
    'hobby-gym .';

    grid-template-columns: 1fr 1fr;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Hobbies Content List Part 2 of 2 */
  /* ------------------------------------------------------------------- */

  #hobbies-content-list-part-2-of-2 {

    grid-template-areas:

    'hobby-violine hobby-music'
    'hobby-violine hobby-movies';

    grid-template-columns: 1fr 1fr;

  }

  /* --------------------------------------------------------- */
  /* Mindset | Video Mindset Box About */
  /* --------------------------------------------------------- */

  .mindset-about-video-box  {

    width: 100%;

  }

  /* ------------------------------------------------------------------- */
  /* Mindset | Mindset About Video Container */
  /* ------------------------------------------------------------------- */

  #mindset-about-video-container {

    grid: auto / 1fr 1fr;

  }

  /* ----------------------------------------------------------- */
  /* Mindset | Video Mindset About Container */
  /* ----------------------------------------------------------- */

  #video-mindset-about-container {

    /* desktop */
    grid: auto / 1fr 1fr;
    column-gap: 2em;

    /* background-color: red; */

  }

  /* --------------------------------------------------------- */
  /* Mindset | Video Mindset About Box */
  /* --------------------------------------------------------- */

  .video-mindset-about-box  {

    width: 100%;

  }


}

/* ------------------------------------------------------------------- */
/* 🟥 >= 700px */
/* ------------------------------------------------------------------- */

@media ( min-width: 700px ) {






  /* ------------------------------------------------------------------- */
  /* Read More | Hobby Content Container */
  /* ------------------------------------------------------------------- */

  .hobby-content-container {

    width: auto;

    display: grid;
    align-items: flex-start;

    grid: auto / 1fr 1fr;

  }

}

/* ------------------------------------------------------------------- */
/* 🟥 >= 750px */
/* ------------------------------------------------------------------- */

@media ( min-width: 750px ) {

  /* ------------------------------------------------ */
  /* Quick Info | Quick Info Container                */
  /* ------------------------------------------------ */

  #about-quick-info-container {

    /* desktop */
    /* reminder: we overwrite that padding
       from default css class because of selector id prio */
    padding: 1em .8em;

    /* --------------------------------------- */
    /* Grid Template Area Layout
    /* --------------------------------------- */

    /* desktop */
    grid-template-areas:

      'img_quick_info_business quick_info_content'
      'img_quick_info_business read_more_label'
      'read_more_smooth_container read_more_smooth_container'

    ;

    column-gap: 1em;

    grid-template-columns: auto 1fr;
    grid-template-rows: auto;

    /* background-color: magenta; */

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Img Quick Info Business */
  /* ------------------------------------------------------------------- */

  #img-quick-info-business {

    /* desktop */
    margin-bottom: 0em;

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Quick Info Content Container */
  /* ------------------------------------------------------------------- */

  #about-quick-info-content-container {

    /* desktop */
    display: flex;
    align-items: center;
    column-gap: 1em;

    /* background-color: brown; */

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Img Arrow Seperator */
  /* ------------------------------------------------------------------- */

  #img-arrow-seperator-about-quick-info {

    /* desktop, show img arrow */
    display: flex;

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Quick Info Content Box */
  /* ------------------------------------------------------------------- */

  #about-quick-info-content-box {

    display: grid;
    row-gap: .8em;

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Quick Info Sticker */
  /* ------------------------------------------------------------------- */

  #about-quick-info-content-box > .header-sticker-medium:nth-of-type(1) {

    justify-self: flex-start;

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info | Quick Info Text */
  /* ------------------------------------------------------------------- */

  #about-quick-info-text {

    /* desktop */
    text-align: left;
    padding: 0 0;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Read More Label | Open Close */
  /* ------------------------------------------------------------------- */

  label[for="chk-about-read-more"] {

    /* bring right */
    justify-self: flex-end;
    /* bring down */
    align-self: flex-end;

  }

  /* ---------------------------------------------------------------------------------------------- */
  /* Read More | Nav About Read More */
  /* ---------------------------------------------------------------------------------------------- */

  #nav-about-read-more  {

    /* desktop */
    /* margin: 1.5em 0 0em 0; */
    justify-content: flex-end;

  }

  /* ------------------------------------------------ */
  /* Quick Info | Why Superfreshdev  */
  /* ------------------------------------------------ */

  #about-why-superfreshdev {

    justify-items: flex-end;

  }


}

/* ------------------------------------------------------------------- */
/* 🟥 >= 800px */
/* ------------------------------------------------------------------- */

@media ( min-width: 800px ) {


  /* ------------------------------------------------------------------- */
  /* Read More | Sport Trave Human Hobbies Container
  /* ------------------------------------------------------------------- */

  #sport-travel-human-hobbies-container {

    grid: auto / 1fr 1fr;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Entertainment Hobbies Container
  /* ------------------------------------------------------------------- */

  #entertainment-hobbies-container {

    width: 90%;

    grid-template-areas:

      'hobby-violine hobby-music'
      'hobby-violine hobby-movies'

    ;

    grid-template-columns: 1fr 1fr;

  }

  /* ------------------------------------------------------------------- */
  /* Read More | Story Behind SD Content Container
  /* ------------------------------------------------------------------- */

  #story-behind-sd-content-container {

    width: 90%;

  }




   /* ------------------------------------------- */
   /* ❌ About Details | Contact */
   /* ------------------------------------------- */

   #img-clipart-coffee  {

    height: 9em;

   }

   /* ------------------------------------------- */
   /* ❌ About Details | Contact */
   /* ------------------------------------------- */

   #about-contact-info-container {

    column-gap: 1.5em;

  }

}

/* ------------------------------------------------------------------- */
/* 🟥 >= 850px */
/* ------------------------------------------------------------------- */

@media ( min-width: 850px ) {


}


/* ------------------------------------------------------------------- */
/* 🟥 To Do | Coming Soon |
/* Handle Extra 14 Zoll Laptops , heights */
/* ------------------------------------------------------------------- */

/* ------------------------------------------------------------------- */
/* >= 850px Extra only for 14 Zoll Laptop */
/* ------------------------------------------------------------------- */

@media ( min-width: 850px ) and ( min-height: 550px ) {


}
