/* -------------------------------------------------------------- */
/* > resp-about.css
/*
/* : responsive sets for about page elements
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* >= 360px
/* ------------------------------------------------------------------- */

@media ( min-width: 360px ) {

  /* ------------------------------------------------ */
  /* Read More | Nav About Read More */
  /* ------------------------------------------------ */

  #nav-about-read-more {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: .6em;
    row-gap: .6em;

  }

  /* ------------------------------------------------ */
  /* Read More | Nav About Read More | Label          */
  /* ------------------------------------------------ */

  #nav-about-read-more > label {

    width: auto;

  }

}

/* ------------------------------------------------------------------- */
/* >= 380px
/* ------------------------------------------------------------------- */

@media ( min-width: 380px ) {


  /* ------------------------------------------------ */
  /* Quick Info | */
  /* ------------------------------------------------ */

  /* ------------------------------------------------ */
  /* Read More | */
  /* ------------------------------------------------ */

  /* ------------------------------------------------ */
  /* About Details | Nav About More | Label | Img  */
  /* ------------------------------------------------ */

  #nav-about-more > label > img {

    display: flex;

  }

  /* --------------------------------------------------------- */
  /* About Details | About Mindset Video Box
  /* --------------------------------------------------------- */

  .about-mindset-video-box  {

    width: 22em;

  }

}

/* ------------------------------------------------------------------- */
/* >= 400px
/* ------------------------------------------------------------------- */

@media ( min-width: 400px ) {


  /* ------------------------------------------------ */
  /* About Details | Label | Img                      */
  /* ------------------------------------------------ */

  #nav-about-details label[for="radio-about-it-skills"] > img:nth-of-type(1),
  #nav-about-details label[for="radio-about-mindset"] > img:nth-of-type(1),
  #nav-about-details label[for="radio-about-contact"] > img:nth-of-type(1) {

    /* desktop */
    display: flex;

  }

  /* hover effect unshown light icon */
  #nav-about-details label[for="radio-about-it-skills"]:hover > img:nth-of-type(1),
  #nav-about-details label[for="radio-about-mindset"]:hover > img:nth-of-type(1),
  #nav-about-details label[for="radio-about-contact"]:hover > img:nth-of-type(1) {

    display: none;

  }

  /* hover effect show black icon */
  #nav-about-details label[for="radio-about-it-skills"]:hover > img:nth-of-type(2),
  #nav-about-details label[for="radio-about-mindset"]:hover > img:nth-of-type(2),
  #nav-about-details label[for="radio-about-contact"]:hover > img:nth-of-type(2) {

    display: flex;

  }


}

/* ------------------------------------------------------------------- */
/* >= 580px
/* ------------------------------------------------------------------- */

@media ( min-width: 580px ) {


  /* ------------------------------------------- */
  /* About Details | Header
  /* ------------------------------------------- */

   #about-details-container > header {

    /* desktop */
    display: flex;
    justify-content: space-between;

    /* background-color: red; */


  }

}

/* ------------------------------------------------------------------- */
/* >= 650px
/* ------------------------------------------------------------------- */

@media ( min-width: 650px ) {


  /* ------------------------------------------------ */
  /* Quick Info Container                             */
  /* ------------------------------------------------ */

  #about-quick-info-container {

    background-color: magenta;

    /* --------------------------------------- */
    /* Grid Template Area Layout
    /* --------------------------------------- */

    /* desktop */
    /* justify-items: flex-start; */
    align-items: center;

    column-gap: 1.5em;
    row-gap: 1em;

    grid-template-areas:

      'img_quick_info_business quick_info_content_container'
      'read_more_container read_more_container'

    ;

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info Content Container
  /* ------------------------------------------------------------------- */

  #about-quick-info-content-container {

    background-color: brown;

    /* mobile */
    display: flex;
    align-items: center;
    column-gap: 1.5em;

  }

  /* ------------------------------------------------------------------- */
  /* Img Arrow Seperator | Quick Info Content Container
  /* ------------------------------------------------------------------- */

  #img-arrow-seperator-about-quick-info {

    /* desktop */
    display: flex;

  }

  /* ------------------------------------------------------------------- */
  /* Quick Info Content Box | Quick Info Content Container
  /* ------------------------------------------------------------------- */

  #about-quick-info-content-box {

    display: grid;
    row-gap: .8em;

  }

  /* ------------------------------------------------------------------- */
  /* Label Quick Info | Quick Info Content Box
  /* ------------------------------------------------------------------- */

  #about-quick-info-content-box > div:nth-of-type(1) {

    justify-self: flex-start;

  }








  /* ------------------------------------------------------------------- */
  /* ⚠️⚠️⚠️
  /* ------------------------------------------------------------------- */









  /* ------------------------------------------------------------------- */
  /* Quick Info | Info Text Container | label ( default )
  /* ------------------------------------------------------------------- */

  #about-quick-info-text-container > .default-header-sfd-label:nth-of-type(1) {

    /* desktop */
    justify-self: flex-start;

  }

  /* ----------------------------------------------------------- */
  /* Quick Info | Text
  /* ----------------------------------------------------------- */

  #about-quick-info-text {

    /* desktop */
    text-align: left;

  }

  /* ----------------------------------------------------------- */
  /* Read More | Hobbies -> Main
  /* ----------------------------------------------------------- */

  #about-read-more-my-mission > main,
  #about-read-more-my-hobbies > main {

    display: grid;

    grid: auto / 1fr 1fr;

    column-gap: .8em;

  }

  /* ----------------------------------------------------------- */
  /* About Details | About Mindet Video Box
  /* ----------------------------------------------------------- */

  .about-mindset-video-box  {

    width: 100%;

  }

  /* ----------------------------------------------------------- */
  /* About Details | About Mindset Video Container
  /* ----------------------------------------------------------- */

  #about-mindset-video-container {

    grid: auto / 1fr 1fr;
    column-gap: 2em;

  }

}

/* ------------------------------------------------------------------- */
/* >= 750px
/* ------------------------------------------------------------------- */

@media ( min-width: 750px ) {


  /* ------------------------------------------------ */
  /*  Quick Info | Why Superfreshdev  */
  /* ------------------------------------------------ */

  #about-why-superfreshdev {

    justify-items: flex-end;

  }


}

/* ------------------------------------------------------------------- */
/* >= 800px
/* ------------------------------------------------------------------- */

@media ( min-width: 800px ) {


   /* ------------------------------------------- */
   /* About Details | Mindset Video Container
   /* ------------------------------------------- */

   .about-mindset-video-container  {

    width: 100%;

   }

   /* ------------------------------------------- */
   /* About Details | Contact
   /* ------------------------------------------- */

   #img-clipart-coffee  {

    height: 9em;

   }

   /* ------------------------------------------- */
   /* About Details | Contact
   /* ------------------------------------------- */

   #about-contact-info-container {

    column-gap: 1.5em;

  }

}

/* ------------------------------------------------------------------- */
/* >= 850px
/* ------------------------------------------------------------------- */

@media ( min-width: 850px ) {


  /* ------------------------------------------------ */
  /* Quick Info Container                             */
  /* ------------------------------------------------ */

  #about-quick-info-container {

    background-color: rgb(0, 255, 76);

    /* --------------------------------------- */
    /* Grid Template Area Layout
    /* --------------------------------------- */

    /* desktop */
    /* justify-items: flex-start; */
    align-items: flex-end;

    column-gap: 1.5em;
    row-gap: 0em;

    grid-template-areas:

      'img_quick_info_business quick_info_content_container'
      'img_quick_info_business read_more_container'

    ;

  }

  /* ------------------------------------------------------------------- */
  /* Label Read More | About Read More Container
  /* ------------------------------------------------------------------- */

  #about-read-more-container > label:nth-of-type(1) {

    justify-self: flex-end;

  }


}
