/* -------------------------------------------------------------- */
/* > quick-info-sport-challenges.css
/* : styles quick info sport challenges
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Details Sport Challenge Container
/* -------------------------------------------------------------- */

.details-sport-challenge-container {

  position: relative;

  width: 100%;
  padding: 0 .8em;
  /* padding: .8em; */

  display: grid;
  row-gap: .5em;

  /* border-radius: 12px; */

  /* background-color: red; */

  /* background-color: rgb(247, 247, 247); */

}

/* -------------------------------------------------------------- */
/* Header | Details Sport Challenge Container
/* -------------------------------------------------------------- */

.details-sport-challenge-container > header {

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  column-gap: .3em;
  /* row-gap: .3em; */

}

/* -------------------------------------------------------------- */
/* Info Sport Challenge Days | Header
/* -------------------------------------------------------------- */

.info-sport-challenge-days {

  display: flex;
  align-items: center;
  column-gap: .3em;

}

.info-sport-challenge-days  > div {

  font-size: 14.5px;
  font-weight: bold;

}

/* -------------------------------------------------------------- */
/* Info Sport Details Challenge Days | Header
/* -------------------------------------------------------------- */

.info-sport-details-challenge-days {

  font-size: 14.5px;
  font-weight: bold;
  color:rgb(152, 152, 152);

}

/* -------------------------------------------------------------- */
/* Main | Details Sport Challenge Container
/* -------------------------------------------------------------- */

.details-sport-challenge-container > main {

  width: 100%;
  padding-top: 1em;

  display: grid;

  column-gap: .8em;
  row-gap: .8em;

  border-top: 2px solid rgb(230, 230, 230);

}

/* -------------------------------------------------------------- */
/* Details Sport Workout Container
/* -------------------------------------------------------------- */

.details-sport-workout-container {

  width: 100%;

  display: flex;
  flex-wrap: wrap;

  column-gap: .4em;
  row-gap: .4em;

  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/* Days Sticker Sport Challenge ( optional )
/* -------------------------------------------------------------- */

.days-sticker-sport-challenge {

  display: flex;
  /* background-color: red; */

}

.days-sticker-sport-challenge > div {

  height: 1.5em;
  padding: 0em .4em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;


  /* background-color: #e7e7e7; */
  color:rgb(62, 62, 62);

  /* background-color: rgba(0, 0, 0, .6); */
  /* color:rgb(172, 172, 172); */

}

.days-sticker-sport-challenge > div > span {

  font-size: 12.5px;
  font-weight: bold;

}

/* -------------------------------------------------------------- */
/* Details Sport Workout Item
/* -------------------------------------------------------------- */

.details-sport-workout-item {

  height: 1.4em;
  padding: 0em .4em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  /* font-weight: bold; */

  border-radius: .4em;

  border: 1px solid #dadada;
  background-color: rgb(246, 246, 246);
  color:rgb(117, 117, 117);

  /* font-weight: bold; */

}

.details-sport-workout-item > div {

  font-size: 12.5px;

}
