/* -------------------------------------------------------------- */
/* > quick-info-sport-challenges.css
/* : styles quick info sport challenges
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Details Sport Challenge Container
/* -------------------------------------------------------------- */

.details-sport-challenge-container {

  position: relative;

  width: 100%;
  padding: 0 .6em;
  /* padding: .8em; */

  display: grid;
  /* row-gap: .8em; */

}

/* -------------------------------------------------------------- */
/* Header | Details Sport Challenge Container
/* -------------------------------------------------------------- */

.details-sport-challenge-container > header {

  height: 3em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  border-bottom: 2px solid rgb(242, 242, 242);


}

/* -------------------------------------------------------------- */
/* Info Sport Challenge Days | Header
/* -------------------------------------------------------------- */

.info-sport-challenge-days {

  display: flex;
  align-items: center;
  column-gap: .3em;

}

.info-sport-challenge-days  > div {

  font-size: 14.5px;
  font-weight: bold;

}

/* -------------------------------------------------------------- */
/* Info Sport Details Challenge Days | Header
/* -------------------------------------------------------------- */

.info-sport-details-challenge-days {

  font-size: 14.5px;
  font-weight: bold;

  color: rgb(168, 168, 168);

}

/* -------------------------------------------------------------- */
/* Main | Details Sport Challenge Container
/* -------------------------------------------------------------- */

.details-sport-challenge-container > main {

  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;

  display: grid;

  column-gap: .8em;
  row-gap: .3em;

  border-bottom: 2px solid rgb(242, 242, 242);

  /* border-bottom: 3px solid rgb(243, 243, 243); */

}

/* -------------------------------------------------------------- */
/* Details Sport Workout Container
/* -------------------------------------------------------------- */

.details-sport-workout-container {

  width: 100%;

  display: grid;

  row-gap: .4em;
  column-gap: .4em;

}

/* -------------------------------------------------------------- */
/* Header | Details Sport Workout Container
/* -------------------------------------------------------------- */

.details-sport-workout-container > header {

  justify-self: flex-start;

  font-size: 14.5px;

  height: 1.8em;
  padding: 0em .5em 0 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  font-weight: bold;


  color: #a8a8a8;

}

.details-sport-workout-container > header > span {

  font-size: 13.5px;
}

/* -------------------------------------------------------------- */
/* Main | Details Sport Workout Container
/* -------------------------------------------------------------- */

.details-sport-workout-container > main {

  display: flex;
  flex-wrap: wrap;
  gap: .3em;


}

/* -------------------------------------------------------------- */
/* Divs "Sport Workout Items" | Main
/* -------------------------------------------------------------- */

.details-sport-workout-container > main > div {

  font-size: 14.5px;

  height: 1.6em;
  padding: 0em .5em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  /* font-weight: bold; */

  border-radius: .5em;

  /* old style */
  border: 1px solid rgb(225, 225, 225);
  background-color: rgb(248, 248, 248);
  color:rgb(117, 117, 117);

   /* new style */
  border: 1px solid #e0e0e0;
  background-color: white;
  color:#c7c7c7;


}



/* -------------------------------------------------------------- */
/* ❌❌❌ Trash
/* -------------------------------------------------------------- */
