/* -------------------------------------------------------------- */
/* > quick-info-sport-challenges.css
/* : styles quick info sport challenges
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Details Sport Challenge Container
/* -------------------------------------------------------------- */

.details-sport-challenge-container {

  position: relative;

  width: 100%;
  padding: .8em;

  display: grid;
  row-gap: .5em;

  border-radius: 0 .8em .8em 0;

  background-color: rgb(247, 247, 247);

}

/* -------------------------------------------------------------- */
/* Left Border | Details Sport Challenge
/* -------------------------------------------------------------- */

.left-border-details-sport-challenge {

  position: absolute;
  left:0;
  top:0;

  height: 100%;
  width: 4px;

  border-radius: 2em;

  background-color: #e8e8e8;

}

/* -------------------------------------------------------------- */
/* Header | Details Sport Challenge Container
/* -------------------------------------------------------------- */

.details-sport-challenge-container > header {

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  column-gap: .3em;
  /* row-gap: .3em; */

}

/* -------------------------------------------------------------- */
/* Info Sport Challenge Days | Header
/* -------------------------------------------------------------- */

.info-sport-challenge-days {

  display: flex;
  align-items: center;
  column-gap: .3em;

}

.info-sport-challenge-days  > div {

  font-size: 14.5px;
  font-weight: bold;

}

/* -------------------------------------------------------------- */
/* Info Sport Details Challenge Days | Header
/* -------------------------------------------------------------- */

.info-sport-details-challenge-days {

  font-size: 14.5px;
  font-weight: bold;
  color:grey;

}

/* -------------------------------------------------------------- */
/* Main | Details Sport Challenge Container
/* -------------------------------------------------------------- */

.details-sport-challenge-container > main {

  width: 100%;
  padding-top: .8em;

  display: flex;
  flex-wrap: wrap;

  column-gap: .8em;
  row-gap: .4em;

  border-top: 2px solid rgb(230, 230, 230);

}

/* -------------------------------------------------------------- */
/* Details Sport Workout Container
/* -------------------------------------------------------------- */

.details-sport-workout-container {

  display: flex;
  flex-wrap: wrap;

  column-gap: .4em;
  row-gap: .4em;

}

/* -------------------------------------------------------------- */
/* Header ( optional ) | Details Sport Workout Container
/* -------------------------------------------------------------- */

.details-sport-workout-container > header {

  height: 1.3em;
  padding: 0em .4em;

  display: flex;
  align-items: center;

  border-radius: .4em;

  /* border: 1px solid rgb(209, 209, 209); */
  background-color: #e8e8e8;

  color:rgb(154, 154, 154);

}

.details-sport-workout-container > header > span {

  font-size: 12px;
  font-weight: bold;

}

/* -------------------------------------------------------------- */
/* Main | Details Sport Workout Container
/* -------------------------------------------------------------- */

.details-sport-workout-container > main {

  display: flex;
  flex-wrap: wrap;
  gap: .4em;

}

/* -------------------------------------------------------------- */
/* Details Sport Workout Item
/* -------------------------------------------------------------- */

.details-sport-workout-item {

  height: 1.3em;
  padding: 0em .4em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  /* font-weight: bold; */

  border-radius: .4em;

  border: 1px solid #e8e8e8;

  color:rgb(93, 93, 93);

}

.details-sport-workout-item > div {

  font-size: 12.5px;

}
