/* -------------------------------------------------------------- */
/* > quick-info-sport-challenges.css
/* : styles quick info sport challenges
/* -------------------------------------------------------------- */



/* -------------------------------------------------------------- */
/* Details Sport Challenge Container
/* -------------------------------------------------------------- */

.details-sport-challenge-container {

  position: relative;

  width: 100%;
  padding: .8em;

  display: grid;
  row-gap: 1em;

  border-radius: 0 .8em .8em 0;

  background-color: rgb(247, 247, 247);

}

/* -------------------------------------------------------------- */
/* Left Border | Details Sport Challenge
/* -------------------------------------------------------------- */

.left-border-details-sport-challenge {

  position: absolute;
  left:0;
  top:0;

  height: 100%;
  width: 4px;

  border-radius: 2em;

  background-color: rgb(207, 207, 207);

}


/* -------------------------------------------------------------- */
/* Header | Details Sport Challenge Container
/* -------------------------------------------------------------- */

.details-sport-challenge-container > header {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  column-gap: .8em;
  row-gap: .8em;

}

/* div 1 | per week  */
.details-sport-challenge-container > header > div:nth-of-type(1) {

  font-size: 14.5px;

  font-weight: bold;
  color:grey;

}

/* sport days info | per week  */
.sport-days-info {

  display: flex;
  align-items: center;
  column-gap: .3em;

}

.sport-days-info > div {

  font-size: 14.5px;
  font-weight: bold;
}

/* -------------------------------------------------------------- */
/* Main | Details Sport Challenge Container
/* -------------------------------------------------------------- */

.details-sport-challenge-container > main {

  border-top: 3px solid rgb(230, 230, 230);
  padding-top: 1em;

  display: grid;
  row-gap: .8em;

}

/* -------------------------------------------------------------- */
/* Details Sport Workout Container
/* -------------------------------------------------------------- */

.details-sport-workout-container {

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: .4em;

}

/* -------------------------------------------------------------- */
/* Header ( optional ) | Details Sport Workout Container
/* -------------------------------------------------------------- */

.details-sport-workout-container > header {

  height: 1.3em;
  padding: 0em .3em;

  display: flex;
  align-items: center;

  border-radius: .4em;

  font-weight: bold;

  background-color: rgb(223, 223, 223);
  color:rgb(89, 89, 89);

}

.details-sport-workout-container > header > span {

  font-size: 12.5px;
  font-weight: bold;

}


/* -------------------------------------------------------------- */
/* Main | Details Sport Workout Container
/* -------------------------------------------------------------- */

.details-sport-workout-container > main {

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: .4em;

}

/* -------------------------------------------------------------- */
/* Details Sport Workout Item
/* -------------------------------------------------------------- */

.details-sport-workout-item {


  height: 1.2em;
  padding: 0em .4em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  /* font-weight: bold; */

  border-radius: .4em;

  border: 1px solid rgb(173, 173, 173);
  color:grey;

}


.details-sport-workout-item > div {

  font-size: 13.5px;

}


/* -------------------------------------------------------------- */
/* ❌❌❌ Trasj
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
/* Quick Info Sport Challenge Container
/* -------------------------------------------------------------- */

.quick-info-sport-challenge-container {

  width: 100%;

  display: flex;

  border-radius: .6em;

  background-color: rgb(247, 247, 247);

}

/* -------------------------------------------------------------- */
/* Quick Info Sport Challenge Box
/* -------------------------------------------------------------- */

.quick-info-sport-challenge-box {

  height: 100%;
  padding: 1em .5em;

  position: relative;

  display: flex;

}

/* -------------------------------------------------------------- */
/* Left Boder Stripe | Sport Challenge
/* -------------------------------------------------------------- */

.left-border-stripe-sport-challenge {

  position: absolute;
  left:0;
  top:0;

  height: 100%;
  width: 4px;

  border-radius: 2em;

  background-color: rgb(207, 207, 207);

}

/* -------------------------------------------------------------- */
/* Info Box | Sport Challenge
/* -------------------------------------------------------------- */

.info-box-sport-challenge {

  padding-left: .5em;

  display: grid;
  row-gap: .5em;

}

/* -------------------------------------------------------------- */
/* Header | Info Box
/* -------------------------------------------------------------- */

.info-box-sport-challenge > header {

  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

}

.info-box-sport-challenge > header > div span {

  font-size: 14.5px;

}

.info-box-sport-challenge > header > div > span:nth-of-type(2) {

  color:grey;

}


/* -------------------------------------------------------------- */
/* Week Info Sport Challenge Container
/* -------------------------------------------------------------- */

.week-info-sport-challenge-container {

  display: grid;
  row-gap: .6em;

}

/* -------------------------------------------------------------- */
/* Header | Week Info Sport Challenge Container
/* -------------------------------------------------------------- */

.week-info-sport-challenge-container > header {

  font-size: 14.5px;
  font-weight: bold;
  /* text-decoration: underline; */

  color:#808080;

}

/* -------------------------------------------------------------- */
/* Main | Week Info Sport Challenge Container
/* -------------------------------------------------------------- */

.week-info-sport-challenge-container > main {

  display: grid;
  row-gap: .6em;

}

/* -------------------------------------------------------------- */
/* Week Info Item Sport Challenge
/* -------------------------------------------------------------- */

.week-info-item-sport-challenge {

  display: flex;
  flex-wrap: wrap;

  column-gap: .3em;
  row-gap: .3em;

}

/* -------------------------------------------------------------- */
/* Header ( days ) | Week Info Item Sport Challenge
/* -------------------------------------------------------------- */

.week-info-item-sport-challenge > header {

  font-size: 14.5px;

  height: 1.3em;
  padding: 0em .3em;

  display: flex;
  align-items: center;

  border-radius: .4em;

  font-weight: bold;

  background-color: rgb(223, 223, 223);
  color:rgb(89, 89, 89);

}

.week-info-item-sport-challenge > header > span {

  font-size: 12.5px;

}

/* -------------------------------------------------------------- */
/* Div ( Sport Category ) | Week Info Item Sport Challenge
/* -------------------------------------------------------------- */

.week-info-item-sport-challenge > div {

  height: 1.2em;
  padding: 0em .4em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  /* font-weight: bold; */

  border-radius: .4em;

  border: 1px solid rgb(173, 173, 173);
  color:grey;

}

.week-info-item-sport-challenge > div > div:nth-of-type(1) {

  font-size: 12.5px;
}
