/* -------------------------------------------------------------- */
/* > sport-challenge-3-videos-container.css
/* : styles the sport challenge 3 videos container
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport Challenge 3 Videos Container
/* -------------------------------------------------------------- */

#sport-challenge-3-videos-container {

  width: 100%;
  padding: 3em 0;

  display: grid;
  justify-items: center;

  row-gap: 2em;

  /* default unshown */
  display: none;

}
