/* -------------------------------------------------------------- */
/* > static-sport-challenge-30-videos-container.css
/* : styles the static sport 30 video challenge container
     which only will be used one time
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Static Sport Challenge 30 Videos Container
/* -------------------------------------------------------------- */

#static-sport-challenge-30-videos-container {

  width: 100%;
  padding: 3em 0;

  display: grid;
  justify-content: center;
  /* row-gap: 1.5em; */

  /* border-top: 3px solid grey; */

  /* default unshown */
  display: none;

}

/* -------------------------------------------------------------- */
/* Sport Challenges 2-15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenges-2-15-videos-container {

  padding-top: 1.5em;
  display: grid;
  row-gap: 1.5em;

}

/* -------------------------------------------------------------- */
/* Sport Challenge | 15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenge-15-videos-container {

  display: grid;
  row-gap: 1.5em;

}

/* -------------------------------------------------------------- */
/* Header | Sport 15 Video Days Challenge Container
/* -------------------------------------------------------------- */

.sport-challenge-15-videos-container > header {

  width: 100%;

  display: flex;
  align-items: center;
  /* background-color: green; */

}

/* -------------------------------------------------------------- */
/* Header ( First ) | Sport Challenge 15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenges-2-15-videos-container > .sport-challenge-15-videos-container:nth-of-type(1) > header {

  justify-content: flex-end;
  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/* Header | Div | Sport Challenge 15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenge-15-videos-container > header > div {

  height: 2.5em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

  border-radius: .6em;;

  background-color: rgb(247, 247, 247);
  color:#808080;

}

/* -------------------------------------------------------------- */
/* Header | Img | Sport Challenge 15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenge-15-videos-container > header > div > img:nth-of-type(1) {

  height: 1.2em;
  opacity: .8;

}

/* -------------------------------------------------------------- */
/* Header | Div | Div | Sport Challenge 15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenge-15-videos-container > header > div > div {

  font-size: 14.5px;
  /* font-style: italic; */

}

/* -------------------------------------------------------------- */
/* Main | Sport Challenge 15 Videos Container
/* -------------------------------------------------------------- */

.sport-challenge-15-videos-container > main {

  width: 100%;
  display: grid;
  justify-items: center;

  grid: auto / 1fr 1fr;

  column-gap: .8em;
  row-gap: .8em;

}
