/* -------------------------------------------------------------------------------- */
/* > about-it-skills.css
/*
/* : styles my it skills from about
/* -------------------------------------------------------------------------------- */


/* ------------------------------------------- */
/* About It Skills
/* ------------------------------------------- */

#about-it-skills {

  /* border: 1px solid black; */
  /* background-color: red; */

}

/* ------------------------------------------- */
/* About My IT Skills Container
/* ------------------------------------------- */

#about-my-it-skills-container {

  /* mobile */
  padding: 3em 0;

  display: grid;
  row-gap: 2.8em;



}

/* ------------------------------------------- */
/* About My IT Skills Content
/* ------------------------------------------- */

.about-my-it-skills-content {

  display: grid;
  justify-items: center;
  row-gap: 1em;

}

/* ------------------------------------------- */
/* Header | About My IT Skills Content
/* ------------------------------------------- */

.about-my-it-skills-content > header {

  height: 2.5em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  border-radius: .6em;

  background-color: rgb(212, 212, 212);

  background-color: wheat;
  opacity: .6;

}

/* ------------------------------------------- */
/* Main | About My IT Skills Content
/* ------------------------------------------- */

.about-my-it-skills-content > main {

  width: 100%;
  /* padding: 1em 1em; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .6em;

  /* border: 1px solid rgb(202, 202, 202); */

  border-radius: .8em;

}

/* ------------------------------------------- */
/* About It Skill
/* ------------------------------------------- */

.about-it-skill {

  height: 2.5em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  border-radius: .6em;

  font-weight: bold;

  background-color: rgb(240, 240, 240);
  color:rgb(98, 98, 98);

  cursor: pointer;
  transition: all .4s;

}

/* layout fix for text */
.about-it-skill > div {

  padding-top: 1px;
  /* 14.5px */
  font-size: .90625em;

}

.about-it-skill:hover {

  background-color: wheat;
}
