/* -------------------------------------------------------------------------------- */
/* > about-mindset.css
/*
/* : styles mindset of about
/* -------------------------------------------------------------------------------- */


/* ------------------------------------------- */
/* About Mindset
/* ------------------------------------------- */

#about-mindset {

  background-color: rgb(164, 164, 248);

}

/* ------------------------------------------- */
/* About Mindset Container
/* ------------------------------------------- */

#about-mindset-container {

  padding: 3.5em 0;
  height: 100%;

  display: grid;
  grid: auto auto 1fr / 1fr;

  row-gap: 1em;

  background-color: red;

}

/* ------------------------------------------- */
/* [1/2] | Header | About Mindset Content
/* ------------------------------------------- */

#about-mindset-header-quote {

  height: 2em;

  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: .6em;

  font-weight: bold;

  /* background-color: red; */


}

#about-mindset-header-quote > div:nth-of-type(1),
#about-mindset-header-quote > div:nth-of-type(2),
#about-mindset-header-quote > div:nth-of-type(3) {

  height: 2em;
  padding: 0 .4em;

  display: flex;
  align-items: center;

  opacity: .7;

  border-radius: .6em;

}

#about-mindset-header-quote > div:nth-of-type(1),
#about-mindset-header-quote > div:nth-of-type(3) {

  background-color: grey;

}

#about-mindset-header-quote > div:nth-of-type(2) {

  background-color: wheat;

}


/* ------------------------------------------- */
/* [2/2] | Main | About Mindset Content
/* ------------------------------------------- */

#about-mindset-content {

  height: 100%;
  padding: 1em 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 3em;
  row-gap: 3em;

  background-color: yellow;

}

/* ------------------------------------------- */
/* Mindset Video Container
/* ------------------------------------------- */

.about-mindset-video-container {

  /* mobile */
  width: 100%;

  display: grid;
  row-gap: 1.3em;

  border:1px solid black;

}

/* ------------------------------------------- */
/* Header | Mindset Video Container
/* ------------------------------------------- */

.about-mindset-video-container > header {

  display: grid;
  row-gap: .2em;
}

.about-mindset-video-container > header > div:nth-of-type(1) {

  /* belongs to parent grid */
  justify-self: flex-start;

  height: 1.8em;
  padding: 0 .4em;

  display: flex;
  align-items: center;

  border-radius: .4em;

  font-weight: bold;

  background-color: wheat;

}

.about-mindset-video-container > header > div:nth-of-type(2) {

  /* font-weight: bold; */
  color:rgb(98, 98, 98);
}


/* ------------------------------------------- */
/* Video Element
/* ------------------------------------------- */

.about-mindset-video-element {

  width: 100%;
  height: 100%;
  position: relative;

  display: grid;
  justify-items: center;
  align-items: center;

  /* display: grid; */
  /* justify-items: center; */


}

.about-mindset-video-element > video {

  width: 100%;
  height: 20em;
  /* object-fit: fill; */
  object-fit: cover;
  /* object-fit: fill; */
  /* object-fit: contain; */

  border-radius: .4em;

}

/* ----------------------------------------------------- */
/* Video Banner
/* ----------------------------------------------------- */

#video-banner {

  position: absolute;
  bottom: 10em;

  padding: .8em;

  border-radius: .8em;

  font-weight: bold;
  color: wheat;

}
