/* -------------------------------------------------------------- */
/* > about-more.css
/*
/* : styles the about more & content conntainer
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* About More Container
/* ------------------------------------------------------------------- */

#about-more-container {

  height: 100%;

  display: grid;
  grid: auto 1fr / 1fr;

}
