/* -------------------------------------------------------------- */
/* > about-more.css
/*
/* : styles the about more & content conntainer
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* About More Container
/* ------------------------------------------------------------------- */

#about-more-container {

  height: 100%;

  display: grid;
  grid: auto 1fr / 1fr;

}

/* ------------------------------------------------------------------- */
/* About More Content
/* ------------------------------------------------------------------- */

.about-more-content {

  position: relative;
  height: 100%;

  display: grid;
  align-items: flex-start;
  grid: auto 1fr / 1fr;

}

/* ------------------------------------------------------------------- */
/* Header | About More Content
/* ------------------------------------------------------------------- */

.about-more-content-header {

  padding: 1em 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: rgb(30, 255, 0);

}

.about-more-content-header > div {

  /* mobile */
  width: 2.5em;
  height: 2.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .8em ;

  background-color: rgb(28, 28, 28);

}

.about-more-content-header img {

  height: 1.4em;
}

/* special img because email is default bigger */
#about-contact > .about-more-content-header img {

  height: 1em;
}
