/* -------------------------------------------------------------------------------- */
/* > about-contact.css
/*
/* : styles contact of about
/* -------------------------------------------------------------------------------- */


/* ------------------------------------------- */
/* About Contact
/* ------------------------------------------- */

#about-contact {

  padding: .8em;

  display: none;
  background-color: yellow;

}
