/* ------------------------------------------------------------------- */
/* > nav-about-more.css
/*
/* : styles the nav about more to handle content
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Nav About More
/* ------------------------------------------------------------------- */

#nav-about-more {

  height: 5em;

  display: flex;
  align-items: center;
  /* mobile */
  justify-content: center;

  background-color: grey;

}

/* ------------------------------------------------------------------- */
/* Label | Nav About More
/* ------------------------------------------------------------------- */

#nav-about-more > label {

  height: 3em;
  padding: 0 .8em;

  background-color: rgb(198, 198, 198);

  font-weight: bold;

  display: flex;
  align-items: center;
  column-gap: .6em;

  cursor: pointer;
  transition: all .4s;

}

/* mobile */
#nav-about-more > label > img {

  display: none;
}

#nav-about-more > label:hover {

  background-color: wheat;
}

#nav-about-more > :not(label:last-child) {

  border-right: 1px solid rgb(158, 158, 158);
}


#nav-about-more > label:nth-of-type(1) {

  border-radius: .8em 0 0 .8em;
}

#nav-about-more > label:last-child {

  border-radius: 0 .8em .8em 0;
}

/* ------------------------------------------------------------------- */
/* Handling | Nav About More
/* ------------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-nav-about-more"] {

  display: none;
}

/* set background  */
#radio-nav-about-it-skills:checked ~ #nav-about-more label[for="radio-nav-about-it-skills"],
#radio-nav-about-mindset:checked ~ #nav-about-more label[for="radio-nav-about-mindset"],
#radio-nav-about-contact:checked ~ #nav-about-more label[for="radio-nav-about-contact"] {

  background-color: wheat;

}

/* set more content  */
#radio-nav-about-it-skills:checked ~ #about-it-skills,
#radio-nav-about-mindset:checked ~ #about-mindset,
#radio-nav-about-contact:checked ~ #about-contact {

  display: grid;

}
