/* -------------------------------------------------------------- */
/* > open-close-content-label.css
/*
/* : styles small & bigger open close content label
     - small for layout insides
     - bigger for page layouts

/* -------------------------------------------------------------- */



/* ------------------------------------------------------------- */
/* Small | Bigger | Open Close Content Label
/* ------------------------------------------------------------- */

.open-close-content-label-small,
.open-close-content-label-medium,
.open-close-content-label-big {

  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  border-radius: .6em;

  font-weight: bold;

  background-color: rgb(234, 234, 234);
  color:#898989;

  user-select: none;

  cursor: pointer;
  transition: all .4s;

}

.open-close-content-label-small:hover,
.open-close-content-label-big:hover,
.open-close-content-label-medium:hover {

   background-color: wheat;

}

/* -------------------------------------------------------- */
/* Small | Open Close Content Label
/* -------------------------------------------------------- */

.open-close-content-label-small {

  height: 2.3em;
}

.open-close-content-label-small > div {

  /* 14.5px */
  font-size: .90625em;
}

/* -------------------------------------------------------- */
/* Medium | Open Close Content Label
/* -------------------------------------------------------- */

.open-close-content-label-medium {

  height: 3em;
}

/* -------------------------------------------------------- */
/* Big | Open Close Content Label
/* -------------------------------------------------------- */

.open-close-content-label-big {

  height: 3.3em;
}
