/* -------------------------------------------------------------- */
/* > it-projects.css
/*
/* : default styles for my it projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My IT Projects Container
/* ------------------------------------------------------------- */

#my-it-projects-container {

  width: 100%;

  display: grid;
  grid: auto 1fr / 1fr;

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* My It Projects Content Box
/* ------------------------------------------------------------- */

.my-it-projects-content-box {

  width: 100%;

  display: grid;
  grid: auto 1fr / 1fr;
  justify-items: center;

}

/* ------------------------------------------------------------- */
/* My It Top Projects Container
/* ------------------------------------------------------------- */

#my-it-top-projects-container {

  width: 100%;
  padding: 1.5em .8em;

  background-color: rgb(112, 112, 139);

}

/* ------------------------------------------------------------- */
/* My It More Projects Container
/* ------------------------------------------------------------- */

#my-it-more-projects-container {

  width: 100%;
  padding: 1.5em .8em;

  background-color: rgb(125, 142, 117);

}
