/* -------------------------------------------------------------- */
/* > my-it-projects.css
/*
/* : styles my it projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My IT Projects Container
/* ------------------------------------------------------------- */

#my-it-projects-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:3em;

  background-color: blue;

}
