/* -------------------------------------------------------------- */
/* > my-it-projects.css
/*
/* : styles my it projects container
/* -------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* My IT Projects Container
/* ------------------------------------------------------------- */

#my-it-projects-container {

  width: 100%;

  display: grid;
  justify-items: center;

  /* row-gap: 2em; */

  /* background-color: blue; */

}

/* ------------------------------------------------------------- */
/* Header | My IT Projects Container
/* ------------------------------------------------------------- */

/* reminder: for these header container it exist an extra
   layout template */

/* img icon */
#my-it-projects-container-header-icon {

  height: 1.8em;

}
