/* -------------------------------------------------------------- */
/* > my-it-projects-card.css
/*
/* : styles the it project card container
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* It Project Card
/* ------------------------------------------------------------- */

.it-project-card {

  /* mobile */
  width: 4em;



}

/* ------------------------------------------------------------- */
/* Header | It Project Card
/* ------------------------------------------------------------- */

.it-project-card > header {

  background-color: red;

}

/* ------------------------------------------------------------- */
/* Main | It Project Card
/* ------------------------------------------------------------- */

.it-project-card > main {

  background-color: red;

}
