/* ------------------------------------------------------------------- */
/* > nav-read-more-about.css
/*
/* : style nav read more about
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Checkbox | Show Me (Open)
/* ------------------------------------------------------------------- */

/* default unshown */
#chk-open-read-more-about {

  display: none;
}

/* set background */
#chk-open-read-more-about:checked ~ #header-nav-read-more-about label[for="chk-open-read-more-about"] {

  background-color: rgb(227, 87, 87);
  color:black;

}

/* change rotation | img arrow */
#chk-open-read-more-about:checked ~ #header-nav-read-more-about label[for="chk-open-read-more-about"] > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* unshown text = open */
#chk-open-read-more-about:checked ~ #header-nav-read-more-about label[for="chk-open-read-more-about"] > div:nth-of-type(1) > div:nth-of-type(1) {

  display: none;

}

/* shown text = close */
#chk-open-read-more-about:checked ~ #header-nav-read-more-about label[for="chk-open-read-more-about"] > div:nth-of-type(1) > div:nth-of-type(2) {

  display: flex;

}

/* show content */
#chk-open-read-more-about:checked ~ #smooth-nav-read-more-about {

  grid-template-rows: 1fr;

}

/* ------------------------------------------------------------------- */
/* Radios | Read More Categories ( life philosophy, hobbies, story )
/* ------------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-read-more-about"] {

  display: none;

}

/* set background */
#radio-life-philosophy:checked ~ #smooth-nav-read-more-about #nav-read-more-about label[for="radio-life-philosophy"],
#radio-hobbies:checked ~ #smooth-nav-read-more-about #nav-read-more-about label[for="radio-hobbies"],
#radio-story:checked ~ #smooth-nav-read-more-about #nav-read-more-about label[for="radio-story"] {

  opacity: 1;
  background-color: wheat;

}

/* set x */
#radio-life-philosophy:checked ~ #smooth-nav-read-more-about #nav-read-more-about label[for="radio-life-philosophy"] > .custom-radio-default > img,
#radio-hobbies:checked ~ #smooth-nav-read-more-about #nav-read-more-about label[for="radio-hobbies"] > .custom-radio-default > img,
#radio-story:checked ~ #smooth-nav-read-more-about #nav-read-more-about label[for="radio-story"] > .custom-radio-default > img {

  display: flex;

}

/* set content | seperator zick zack */
#radio-life-philosophy:checked ~ .seperator-img-container-p-4-0,
#radio-hobbies:checked ~ .seperator-img-container-p-4-0,
#radio-story:checked ~ .seperator-img-container-p-4-0 {

  display: flex;

}

/* set content | ( life philosophy, hobbies, story behind sd ) */
#radio-life-philosophy:checked ~ #life-philosophy-container,
#radio-hobbies:checked ~ #hobbies-container,
#radio-story:checked ~ #story-behind-sd-container {

  display: grid;

}
