/* ------------------------------------------------------------------- */
/* > nav-read-more-about.css
/*
/* : style nav read more about
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Checkbox | Show Me (Open)
/* ------------------------------------------------------------------- */

/* default unshown */
#chk-open-read-more-about {

  display: none;
}

/* set background */
#chk-open-read-more-about:checked ~ #header-nav-read-more-about label[for="chk-open-read-more-about"] {

  background-color: rgb(227, 87, 87);
  color:black;

}

/* change rotation | img arrow */
#chk-open-read-more-about:checked ~ #header-nav-read-more-about label[for="chk-open-read-more-about"] > img:nth-of-type(1) {

  transform: rotate(180deg);

}

/* unshown text = open */
#chk-open-read-more-about:checked ~ #header-nav-read-more-about label[for="chk-open-read-more-about"] > div:nth-of-type(1) > div:nth-of-type(1) {

  display: none;

}

/* shown text = close */
#chk-open-read-more-about:checked ~ #header-nav-read-more-about label[for="chk-open-read-more-about"] > div:nth-of-type(1) > div:nth-of-type(2) {

  display: flex;

}

/* show content */
#chk-open-read-more-about:checked ~ #smooth-nav-read-more-about {

  grid-template-rows: 1fr;

}

/* ------------------------------------------------------------------- */
/* Radios | Read More Categories ( stacks of life, hobbies, story )
/* ------------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-read-more-about"] {

  display: none;

}

/* set background */
#radio-life-stacks-about:checked ~ #smooth-nav-read-more-about #nav-read-more-about label[for="radio-life-stacks-about"],
#radio-hobbies-about:checked ~ #smooth-nav-read-more-about #nav-read-more-about label[for="radio-hobbies-about"],
#radio-story-about:checked ~ #smooth-nav-read-more-about #nav-read-more-about label[for="radio-story-about"] {

  opacity: 1;
  background-color: wheat;

}

/* set x */
#radio-life-stacks-about:checked ~ #smooth-nav-read-more-about #nav-read-more-about label[for="radio-life-stacks-about"] > .custom-radio-default > img,
#radio-hobbies-about:checked ~ #smooth-nav-read-more-about #nav-read-more-about label[for="radio-hobbies-about"] > .custom-radio-default > img,
#radio-story-about:checked ~ #smooth-nav-read-more-about #nav-read-more-about label[for="radio-story-about"] > .custom-radio-default > img {

  display: flex;

}

/* set content */
#radio-life-stacks-about:checked ~ #my-life-stacks-read-more-about-container,
#radio-hobbies-about:checked ~ #my-hobbies-read-more-about-container,
#radio-story-about:checked ~ #story-behind-sd-read-more-about-container {

  display: grid;

}
