/* -------------------------------------------------------------- */
/* > read-more-about.css
/*
/* : style read more about
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Read More About Container
/* ------------------------------------------------------------------- */

#read-more-about-container {

  display: grid;

}

/* ------------------------------------------------------------------- */
/* Header Nav | Read More About
/* ------------------------------------------------------------------- */

#header-nav-read-more-about {

  width: 100%;
  display: grid;
  /* row-gap: 2em; */

}

/* ------------------------------------------------------------------- */
/* Header | Read More About
/* ------------------------------------------------------------------- */

#header-read-more-about {

  width: 100%;

  display: grid;
  row-gap: 2em;

}

/* ------------------------------------------------------------------- */
/* Label Drow Down | Header Read More About
/* ------------------------------------------------------------------- */

#header-read-more-about > .action-drop-down-element-medium:nth-of-type(1) {

  /* mobile */
  justify-self: center;

}
