/* -------------------------------------------------------------- */
/* > read-more-about.css
/*
/* : style read more about
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Read More About Container
/* ------------------------------------------------------------------- */

#read-more-about-container {

  width: 100%;
  display: grid;
  justify-items: center;

}

/* ------------------------------------------------------------------- */
/* Header Nav Read More About
/* ------------------------------------------------------------------- */

#header-nav-read-more-about {

  width: 100%;

  display: grid;
  justify-items: center;

  row-gap: 1.5em;

}

/* header content block */
#header-nav-read-more-about > .header-content-block {

  width: 100%;

}

/* ------------------------------------------------------------------- */
/* Img | Header Nav Read More About */
/* ------------------------------------------------------------------- */

#img-about-read-more {

  /* mobile */
  width: 3.5em;

}

/* ------------------------------------------------------------------- */
/* Label | Show Me */
/* ------------------------------------------------------------------- */

label[for="chk-open-read-more-about"] {

  /* mobile */
  min-width: 7em;

}

/* default unshown text = close */
label[for="chk-open-read-more-about"] > div:nth-of-type(1) > div:nth-of-type(2) {

  display: none;

}

/* ------------------------------------------------------------------- */
/* Nav Read More About
/* ------------------------------------------------------------------- */

#nav-read-more-about {

  margin-top: 1.3em;
  margin-bottom: 1em;
  width: 100%;

  display: grid;

  /* background-color: violet; */

}

/* Labels  */
#nav-read-more-about > .nav-content-panel-medium > label {

  /* mobile */
  width: 100%;

}

/* ------------------------------------------------------------------- */
/* Seperator Default | Read More
/* ------------------------------------------------------------------- */

/* default unshown, only by checked */
#read-more-about-container > .seperator-img-container-p-2-5-0 {

  opacity: .4;
  display: none;


}
