/* -------------------------------------------------------------- */
/* > resp-sport.css
/*  
/* : responsive sets sport 
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
/* >= 500px width
/* -------------------------------------------------------------- */

@media (min-width: 500px ) {

    #header-sport-container {

       display: flex;
       align-items: center;
       justify-content: space-between;
       column-gap: .8em;
        
    }

}

/* -------------------------------------------------------------- */
/* >= 900px width
/* -------------------------------------------------------------- */

@media (min-width: 900px ) {

    .sport-video-list-container {

        display: grid;
        justify-items: center;

        grid-template-columns: auto auto auto auto auto;
        
    }

}