/* -------------------------------------------------------------- */
/* > resp-sport.css
/*  
/* : responsive sets sport 
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 900px width
/* -------------------------------------------------------------- */

@media (min-width: 900px ) {

    .sport-video-list-container {

        display: grid;
        justify-items: center;

        grid-template-columns: auto auto auto auto auto;
        
    }

}