/* -------------------------------------------------------------- */
/* > resp-private.css */
/* */
/* : responsive sets for the my private
/* -------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* 340px */
/* ----------------------------------------------------- */

@media ( min-width: 340px ) {


  /* -------------------------------------------------------------- */
  /* Sport | Video Link Box (Medium, Large)
  /* -------------------------------------------------------------- */

  .video-link-box-medium,
  .video-link-box-large {

    width: 8.3em;

  }


}

/* ----------------------------------------------------- */
/* 360px */
/* ----------------------------------------------------- */

@media ( min-width: 360px ) {

  /* -------------------------------------------------------------- */
  /* Sport | Video Link Box (Medium, Large)
  /* -------------------------------------------------------------- */

  .video-link-box-medium,
  .video-link-box-large {

    width: 9em;

  }


  /* ---------------------------------------------------------------- */
  /* 游릮游린 Three Video Sport Link Card
  /* ---------------------------------------------------------------- */

  .three-video-sport-link-card {

    width: 8.5em;
    height: 8.5em;

  }

}

/* ----------------------------------------------------- */
/* 380px */
/* ----------------------------------------------------- */

@media ( min-width: 380px ) {

  /* -------------------------------------------------------------- */
  /* Sport | Video Link Box (Medium, Large)
  /* -------------------------------------------------------------- */

  .video-link-box-medium,
  .video-link-box-large {

    width: 9.6em;

  }



  /* ---------------------------------------------------------------- */
  /* 游릮游린 Three Video Sport Link Card
  /* ---------------------------------------------------------------- */

  .three-video-sport-link-card {

     width: 9em;
     height: 9em;

  }

}

/* ----------------------------------------------------- */
/* 400px */
/* ----------------------------------------------------- */

@media ( min-width: 400px ) {

  /* ---------------------------------------------------------------- */
  /* Sport | New Sport Container | Label */
  /* ---------------------------------------------------------------- */

  .nav-sport-container > label {

    width: auto;

  }


  /* ---------------------------------------------------------------- */
  /* 游릮游린 Three Video Sport Link Card
  /* ---------------------------------------------------------------- */

  .three-video-sport-link-card {

    width: 10em;
    height: 10em;

  }

}

/* ----------------------------------------------------- */
/* 480px */
/* ----------------------------------------------------- */

@media ( min-width: 480px ) {

  /* ---------------------------------------------------------------- */
  /* Sport | Header Content Img
  /* ---------------------------------------------------------------- */
  #header-nav-sport-container > .header-content-block > img {

    /* display: flex; */

  }



  /* ---------------------------------------------------------------- */
  /* 游릮游린 Three Video Sport Link Card
  /* ---------------------------------------------------------------- */

  .three-video-sport-link-card{

    width: 12em;
    height: 12em;

  }

  /* -------------------------------------------------------------- */
  /* Sport | Content Container More Sport Video Link | Main  */
  /* -------------------------------------------------------------- */

  .content-container-more-sport-video-link > main {

    /* mobile */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 1em;
    row-gap: 1em;

  }

  /* -------------------------------------------------------------- */
  /* Sport | More Sport Video Link Card  */
  /* -------------------------------------------------------------- */

  .more-sport-video-link-card {

    width: 10em;
    height: 10em;

  }

}

/* ----------------------------------------------------- */
/* 450px */
/* ----------------------------------------------------- */

@media ( min-width: 450px ) {


  /* ----------------------------------------------------- */
  /* Sport | Card List Row Container | Main */
  /* ----------------------------------------------------- */

  .card-list-row-container > main {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }

  /* ----------------------------------------------------- */
  /* Sport | sport-challenges-video-link-card */
  /* ----------------------------------------------------- */

  .sport-challenges-video-link-card {

    /* very small mobile */
    height: 10em;
    width: 10em;

  }


}

/* ----------------------------------------------------- */
/* 500px */
/* ----------------------------------------------------- */

@media ( min-width: 500px ) {


  /* ----------------------------------------------------- */
  /* Sport | Header Content Block */
  /* ----------------------------------------------------- */

  #header-nav-sport-container > .header-content-block {

    display: flex;

  }

  /* ----------------------------------------------------- */
  /* Sport | Header Nav Sport Container */
  /* ----------------------------------------------------- */

  #header-nav-sport-container {

    grid-template:

    'sport-header-content-block sport-nav-sport-general'
    '. sport-selected-category-sport-challenges'
    '. smooth-nav-sport-category-challenges'
    ;

    grid-template-columns: 1fr 13em;

    /* background-color: red; */

  }

  /* ----------------------------------------------------- */
  /* Sport | Nav Sport General */
  /* ----------------------------------------------------- */

  #nav-sport-general  {

    margin-top: .3em;
    margin-bottom: .5em;

  }

  /* ----------------------------------------------------- */
  /* Sport | Label | Selected Category Sport Challenges */
  /* ----------------------------------------------------- */

  label[for="chk-selected-category-sport-challenges"] {

    margin-top: .0em;

  }

}



/* ----------------------------------------------------- */
/* 560px */
/* ----------------------------------------------------- */

@media ( min-width: 560px ) {

  /* ----------------------------------------------------- */
  /* Sport | Header Content Block */
  /* ----------------------------------------------------- */

  #header-nav-sport-container > .header-content-block {

    /* display: flex; */

  }

  /* ----------------------------------------------------- */
  /* Sport | Header Sport Container */
  /* ----------------------------------------------------- */

  #header-sport-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .8em;

  }

  /* ---------------------------------------------------------------- */
  /* Sport | New Sport Container */
  /* ---------------------------------------------------------------- */

  .nav-sport-container {

    justify-content: flex-end;
    background-color: green;

  }

}

/* ----------------------------------------------------- */
/* 600px */
/* ----------------------------------------------------- */

@media ( min-width: 600px ) {

  /* -------------------------------------------------------------- */
  /* Sport | Reminder Sport Newest Video
  /* -------------------------------------------------------------- */

  #reminder-sport-newest-video {

    flex-wrap: nowrap;
    text-align: left;

  }

  /* -------------------------------------------------------------- */
  /* Sport | Video Link Box (Medium, Large)
  /* -------------------------------------------------------------- */

  .video-link-box-medium,
  .video-link-box-large {

    width: 10em;

  }

}



/* ----------------------------------------------------- */
/* 620px */
/* ----------------------------------------------------- */

@media ( min-width: 620px ) {




  /* ----------------------------------------------------- */
  /* Sport | Nav Sport Private */
  /* ----------------------------------------------------- */

  #nav-sport-private {

    justify-content: flex-end;


  }



}

/* ----------------------------------------------------- */
/* 700px */
/* ----------------------------------------------------- */

@media ( min-width: 700px ) {


}

/* ----------------------------------------------------- */
/* 800px */
/* ----------------------------------------------------- */

@media ( min-width: 800px ) {

  /* -------------------------------------------------------------- */
  /* Sport | Content Sport Newest Video
  /* -------------------------------------------------------------- */

  .content-sport-newest-video {

    column-gap: 1.5em;

  }

  /* -------------------------------------------------------------- */
  /* Sport | Video Link Box (Medium, Large)
  /* -------------------------------------------------------------- */

  .video-link-box-medium,
  .video-link-box-large {

    width: 11.5em;

  }


}
