/* -------------------------------------------------------------- */
/* > resp-private.css
/*
/* : responsive sets for the my private
/* -------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* 480px
/* ----------------------------------------------------- */

@media ( min-width: 480px ) {


  /* ----------------------------------------------------- */
  /* My Private | Nav My Private
  /* ----------------------------------------------------- */

  #nav-my-private > label:nth-child(1) {

    /* desktop */
    justify-self: flex-end;
    /* background-color: rgb(24, 110, 63); */

  }

}

/* ----------------------------------------------------- */
/* 620px
/* ----------------------------------------------------- */

@media ( min-width: 620px ) {


  /* ----------------------------------------------------- */
  /* Sport | Header Sport Private
  /* ----------------------------------------------------- */

  #header-sport-private {

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .8em;

  }

  /* ----------------------------------------------------- */
  /* Sport | Nav Sport Private
  /* ----------------------------------------------------- */

  #nav-sport-private {

    justify-content: flex-end;


  }


}
