/* -------------------------------------------------------------- */
/* > resp-private.css */
/* */
/* : responsive sets for the my private
/* -------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* 游린 340px */
/* ----------------------------------------------------- */

@media ( min-width: 340px ) {


  /* -------------------------------------------------------------- */
  /* Sport | Video Link Box (Medium, Large)
  /* -------------------------------------------------------------- */
  /* .video-link-box-medium,
  .video-link-box-large {

    width: 8.3em;

  } */


}

/* ----------------------------------------------------- */
/* 游린 360px */
/* ----------------------------------------------------- */

@media ( min-width: 360px ) {

  /* -------------------------------------------------------------- */
  /* Sport | Video Link Box (Medium, Large)
  /* -------------------------------------------------------------- */

  /* .video-link-box-medium,
  .video-link-box-large {

    width: 9em;

  } */


  /* ---------------------------------------------------------------- */
  /* 游릮游린 Three Video Sport Link Card
  /* ---------------------------------------------------------------- */

  .three-video-sport-link-card {

    width: 8.5em;
    height: 8.5em;

  }

}

/* ----------------------------------------------------- */
/* 游린 380px */
/* ----------------------------------------------------- */

@media ( min-width: 380px ) {

  /* -------------------------------------------------------------- */
  /* Sport | Video Link Box (Medium, Large)
  /* -------------------------------------------------------------- */

  /* .video-link-box-medium,
  .video-link-box-large {

    width: 9.6em;

  } */



  /* ---------------------------------------------------------------- */
  /* 游릮游린 Three Video Sport Link Card
  /* ---------------------------------------------------------------- */

  .three-video-sport-link-card {

     width: 9em;
     height: 9em;

  }

}

/* ----------------------------------------------------- */
/* 游린 400px */
/* ----------------------------------------------------- */

@media ( min-width: 400px ) {


  /* ------------------------------------------------------------- */
  /* Main | Gaming Category Container
  /* ------------------------------------------------------------- */

  .mini-game-info-card,
  .mini-game-info-card-coming-soon {

    width: 15em;

  }

  /* ---------------------------------------------------------------- */
  /* Sport | New Sport Container | Label */
  /* ---------------------------------------------------------------- */

  .nav-sport-container > label {

    width: auto;

  }


}

/* ----------------------------------------------------- */
/* 游린 450px */
/* ----------------------------------------------------- */

@media ( min-width: 450px ) {

  /* -------------------------------------------------------------- */
  /* Sport | Video Link Box Large
  /* -------------------------------------------------------------- */

  .sport-video-link-box-large {

    width: 12em;

  }

  /* ----------------------------------------------------- */
  /* Sport | 15 Videos Challenge Container */
  /* ----------------------------------------------------- */

  .sport-challenge-15-videos-container > main {

    display: grid;
    grid: auto / 1fr 1fr 1fr;

    column-gap: .8em;
    row-gap: .8em;

  }

  /* ----------------------------------------------------- */
  /* Sport | Card List Row Container | Main */
  /* ----------------------------------------------------- */

  .card-list-row-container > main {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }



}

/* ----------------------------------------------------- */
/* 游린 480px */
/* ----------------------------------------------------- */

@media ( min-width: 480px ) {




  /* ---------------------------------------------------------------- */
  /* 游릮游린 Three Video Sport Link Card
  /* ---------------------------------------------------------------- */

  .three-video-sport-link-card{

    width: 12em;
    height: 12em;

  }

  /* -------------------------------------------------------------- */
  /* Sport | Content Container More Sport Video Link | Main  */
  /* -------------------------------------------------------------- */

  .content-container-more-sport-video-link > main {

    /* mobile */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 1em;
    row-gap: 1em;

  }

  /* -------------------------------------------------------------- */
  /* Sport | More Sport Video Link Card  */
  /* -------------------------------------------------------------- */

  .more-sport-video-link-card {

    width: 10em;
    height: 10em;

  }

}


/* ----------------------------------------------------- */
/* 游린 500px */
/* ----------------------------------------------------- */

@media ( min-width: 500px ) {


  /* ------------------------------------------------------------- */
  /* Mini Games | Mini Game Info Card
  /* ------------------------------------------------------------- */

  .mini-game-info-card,
  .mini-game-info-card-coming-soon {

    width: 100%;

  }

  /* ------------------------------------------------------------- */
  /* Mini Games | Gaming Card Container
  /* ------------------------------------------------------------- */

  .gaming-card-container {

    grid: auto / auto auto;


  }


  /* -------------------------------------------------------------- */
  /* Sport | Sport Newest Video Container
  /* -------------------------------------------------------------- */

  #sport-newest-video-container {

    padding-top: 3em;

  }

  /* ----------------------------------------------------- */
  /* Sport | Header Content Block */
  /* ----------------------------------------------------- */

  #header-nav-sport-container > .header-content-block {

    display: flex;

  }

  /* ----------------------------------------------------- */
  /* Sport | Header Nav Sport Container */
  /* ----------------------------------------------------- */

  #header-nav-sport-container {

    grid-template:

    'sport-header-content-block sport-nav-sport-general'
    'sport-header-content-block sport-selected-category-sport-challenges'
    'smooth-nav-sport-category-challenges smooth-nav-sport-category-challenges'
    ;

    grid-template-columns: 1fr 13em;

    /* background-color: red; */

  }

  /* ------------------------------------------------------------- */
  /* Nav Sport Category Challenges
  /* ------------------------------------------------------------- */

  #nav-sport-category-challenges  {

    padding-top: .5em;

    /* desktop */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap:.4em;

  }

  /* -------------------------------------------------------------- */
  /* Sport Challenge 3 Videos Container
  /* -------------------------------------------------------------- */

  .sport-3-videos-container {

    column-gap: .8em;
    row-gap: .8em;

  }


}

/* ----------------------------------------------------- */
/* 游린 560px */
/* ----------------------------------------------------- */

@media ( min-width: 560px ) {


/* ----------------------------------------------------- */
/* Mini Games | Gaming Card Container
/* ----------------------------------------------------- */
.gaming-card-container {

  display: grid;
  grid: auto / auto auto;

}

  /* ----------------------------------------------------- */
  /* Sport | Header Content Block */
  /* ----------------------------------------------------- */

  #header-nav-sport-container > .header-content-block {

    /* display: flex; */

  }

  /* ----------------------------------------------------- */
  /* Sport | Header Sport Container */
  /* ----------------------------------------------------- */

  #header-sport-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .8em;

  }

  /* ---------------------------------------------------------------- */
  /* Sport | New Sport Container */
  /* ---------------------------------------------------------------- */

  .nav-sport-container {

    justify-content: flex-end;
    background-color: green;

  }

}

/* ----------------------------------------------------- */
/* 游린 600px */
/* ----------------------------------------------------- */

@media ( min-width: 600px ) {




  /* ------------------------------------------------------------- */
  /* Mini Games | Mini Game Info Card
  /* ------------------------------------------------------------- */

  .mini-game-info-card,
  .mini-game-info-card-coming-soon {

    width: 14.5em;

  }

  /* -------------------------------------------------------------- */
  /* Sport | Video Link Box Medium */
  /* -------------------------------------------------------------- */

  .sport-video-link-box-medium {

    width: 10em;

  }


}

/* ----------------------------------------------------- */
/* 游린 620px */
/* ----------------------------------------------------- */

@media ( min-width: 620px ) {


  /* ----------------------------------------------------- */
  /* Sport | Nav Sport Private */
  /* ----------------------------------------------------- */

  #nav-sport-private {

    justify-content: flex-end;


  }



}

/* ----------------------------------------------------- */
/* 游린 680px */
/* ----------------------------------------------------- */

@media ( min-width: 680px ) {


  /* ------------------------------------------------------------- */
  /* Others | Header Nav Others
  /* ------------------------------------------------------------- */

  #header-nav-others-container {

    display: grid;
    align-items: center;

    grid-template-areas:
    'header-others selected-category-others'
    'smooth-nav-others-category smooth-nav-others-category'
    ;

    grid-template-columns: 1fr 13em;
    grid-template-rows: auto auto;

  }

  /* ------------------------------------------------------------- */
  /* Others | Header Nav Others
  /* ------------------------------------------------------------- */

  #header-nav-others-container > .header-content-block {

    display: flex;

  }

}

/* ----------------------------------------------------- */
/* 游린 700px */
/* ----------------------------------------------------- */

@media ( min-width: 700px ) {

  /* -------------------------------------------------------------- */
  /* Sport | Sport Video 3 Container */
  /* -------------------------------------------------------------- */

  .sport-3-videos-container {

    grid-template:

      'video-sport-newest-1 video-sport-newest-2 video-sport-newest-3'

    ;

    column-gap: .8em;

  }

  /* -------------------------------------------------------------- */
  /* Sport | Video Link Box Medium */
  /* -------------------------------------------------------------- */

  .sport-video-link-box-medium {

    width: 11em;

  }

  /* -------------------------------------------------------------- */
  /* Divs | Sport Newest Video Container
  /* -------------------------------------------------------------- */

  #sport-newest-video-container > div {

    /* mobile */
    /* width: 39em; */
    /* background-color: green; */

  }

  /* -------------------------------------------------------------- */
  /* Sport | Reminder Sport Newest Video */
  /* -------------------------------------------------------------- */

  #reminder-sport-newest-video {

    /* made textflow */
    display: block;

    /* background-color: rgb(242, 242, 242); */

  }


  /* -------------------------------------------------------------- */
  /* Divs | Sport Challenge 3 Videos Container
  /* -------------------------------------------------------------- */

  #sport-challenge-3-videos-container > div {

    width: 39em;

    /* background-color: red; */

  }

}

/* ----------------------------------------------------- */
/* 游린 800px */
/* ----------------------------------------------------- */

@media ( min-width: 800px ) {


  /* ----------------------------------------------------- */
  /* Mini Games | Info Mini Games */
  /* ----------------------------------------------------- */

  #info-mini-games {

    justify-content: center;

  }


  /* ----------------------------------------------------- */
  /* Mini Games | Info Mini Games | Div  */
  /* ----------------------------------------------------- */

  #info-mini-games > div{

    width: 40em;

  }

  /* ----------------------------------------------------- */
  /* Mini Games | Gaming Card Container  */
  /* ----------------------------------------------------- */

  .gaming-card-container {

    display: grid;
    grid: auto / auto auto auto;

  }


  .sport-video-link-box-large {

    width: 13em;

  }

  /* -------------------------------------------------------------- */
  /* Sport | Sport Video 3 Container */
  /* -------------------------------------------------------------- */

  /* .sport-3-videos-container {

    column-gap: .8em;

  } */


}

/* ----------------------------------------------------- */
/* 游린 1000px */
/* ----------------------------------------------------- */

@media ( min-width: 1000px ) {


  /* -------------------------------------------------------------- */
  /* Sport | Video Link Box Large
  /* -------------------------------------------------------------- */

   .sport-video-link-box-large {

    width: 16em;

  }

  /* ----------------------------------------------------------------------- */
  /* Sport | 15 Videos Challenge Container | Main */
  /* ----------------------------------------------------------------------- */

  .sport-challenge-15-videos-container > main {

    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr;

  }

  /* -------------------------------------------------------------- */
  /* Divs | Sport Newest Video Container
  /* -------------------------------------------------------------- */

  #sport-newest-video-container > div {

    /* mobile */
    /* width: 43.5em; */
    /* background-color: rgb(103, 104, 103); */

  }

  /* -------------------------------------------------------------- */
  /* Divs | Sport Challenge 3 Videos Container
  /* -------------------------------------------------------------- */

  #sport-challenge-3-videos-container > div {

    width: 43.5em;

    /* background-color: rgb(255, 170, 170); */

  }



}
