/* -------------------------------------------------------------- */
/* > resp-private.css */
/* */
/* : responsive sets for the my private
/* -------------------------------------------------------------- */


 /* #header-sport-private */



/* ----------------------------------------------------- */
/* 360px */
/* ----------------------------------------------------- */

@media ( min-width: 360px ) {

  /* ---------------------------------------------------------------- */
  /* Sport | New Sport Video Link Card */
  /* ---------------------------------------------------------------- */

  .new-sport-video-link-card {

    width: 8.5em;
    height: 8.5em;

  }

}

/* ----------------------------------------------------- */
/* 380px */
/* ----------------------------------------------------- */

@media ( min-width: 380px ) {

  /* ---------------------------------------------------------------- */
  /* Sport | New Sport Video Link Card */
  /* ---------------------------------------------------------------- */

  .new-sport-video-link-card {

    width: 9em;
    height: 9em;

  }

}

/* ----------------------------------------------------- */
/* 400px */
/* ----------------------------------------------------- */

@media ( min-width: 400px ) {

  /* ---------------------------------------------------------------- */
  /* Sport | New Sport Container | Label */
  /* ---------------------------------------------------------------- */

  .nav-sport-container > label {

    width: auto;

  }

  /* ---------------------------------------------------------------- */
  /* Sport | New Sport Video Link Card */
  /* ---------------------------------------------------------------- */

  .new-sport-video-link-card {

    width: 10em;
    height: 10em;

  }

}

/* ----------------------------------------------------- */
/* 480px */
/* ----------------------------------------------------- */

@media ( min-width: 480px ) {


  /* ----------------------------------------------------- */
  /* My Private | Nav My Private */
  /* ----------------------------------------------------- */

  #nav-my-private > label:nth-child(1) {

    /* desktop */
    justify-self: flex-end;
    /* background-color: rgb(24, 110, 63); */

  }


  /* ---------------------------------------------------------------- */
  /* Sport | New Sport Video Link Card */
  /* ---------------------------------------------------------------- */

  .new-sport-video-link-card {

    width: 12em;
    height: 12em;

  }


}

/* ----------------------------------------------------- */
/* 450px */
/* ----------------------------------------------------- */

@media ( min-width: 450px ) {


  /* ----------------------------------------------------- */
  /* Sport | Card List Row Container | Main */
  /* ----------------------------------------------------- */

  .card-list-row-container > main {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }

  /* ----------------------------------------------------- */
  /* Sport | sport-challenges-video-link-card */
  /* ----------------------------------------------------- */

  .sport-challenges-video-link-card {

    /* very small mobile */
    height: 10em;
    width: 10em;

  }


}

/* ----------------------------------------------------- */
/* 560px */
/* ----------------------------------------------------- */

@media ( min-width: 560px ) {

  /* ----------------------------------------------------- */
  /* Sport | Header Sport Container */
  /* ----------------------------------------------------- */

  #header-sport-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .8em;

  }

  /* ---------------------------------------------------------------- */
  /* Sport | New Sport Container */
  /* ---------------------------------------------------------------- */

  .nav-sport-container {

    justify-content: flex-end;
    background-color: green;

  }

}

/* ----------------------------------------------------- */
/* 620px */
/* ----------------------------------------------------- */

@media ( min-width: 620px ) {




  /* ----------------------------------------------------- */
  /* Sport | Nav Sport Private */
  /* ----------------------------------------------------- */

  #nav-sport-private {

    justify-content: flex-end;


  }



}
