/* -------------------------------------------------------------- */
/* > resp-private.css */
/* */
/* : responsive sets for the my private
/* -------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* 游린 340px */
/* ----------------------------------------------------- */

@media ( min-width: 340px ) {

}

/* ----------------------------------------------------- */
/* 游린 350px */
/* ----------------------------------------------------- */

@media ( min-width: 350px ) {



  /* -------------------------------------------------------------- */
  /* Sport | Details Sport Workout Container
  /* -------------------------------------------------------------- */

  .details-sport-workout-container {

    display: flex;
    flex-wrap: wrap;

    /* background-color: grey; */

    column-gap: .3em;
    row-gap: .3em;

  }


  /* -------------------------------------------------------------- */
  /* Sport | Sport Video 3 Container */
  /* -------------------------------------------------------------- */

  .sport-3-videos-container {

    row-gap: .8em;
    column-gap: .8em;

  }

  /* ------------------------------------------------------------- */
  /* Meals | Header Nav Meals Container */
  /* ------------------------------------------------------------- */

  #header-nav-meals-container {

    display: flex;
    justify-content: space-between;
    column-gap: 1em;

  }

  /* ------------------------------------------------------------- */
  /* Meals | Img Clipart Me Meal */
  /* ------------------------------------------------------------- */

  #img-clipart-me-meal {

    display: flex;

  }

}

/* ----------------------------------------------------- */
/* 游린 360px */
/* ----------------------------------------------------- */

@media ( min-width: 360px ) {

  /* -------------------------------------------------------------- */
  /* Sport | Video Link Box (Medium, Large)
  /* -------------------------------------------------------------- */

  /* .video-link-box-medium,
  .video-link-box-large {

    width: 9em;

  } */


  /* ---------------------------------------------------------------- */
  /* 游릮游린 Three Video Sport Link Card
  /* ---------------------------------------------------------------- */

  .three-video-sport-link-card {

    width: 8.5em;
    height: 8.5em;

  }

}

/* ----------------------------------------------------- */
/* 游린 380px */
/* ----------------------------------------------------- */

@media ( min-width: 380px ) {




  /* -------------------------------------------------------------- */
  /* Meal | Nav Meals Container | Label */
  /* -------------------------------------------------------------- */

  #nav-meals-container {

    width: 15em;

  }


  /* ---------------------------------------------------------------- */
  /* 游릮游린 Three Video Sport Link Card
  /* ---------------------------------------------------------------- */

  .three-video-sport-link-card {

     width: 9em;
     height: 9em;

  }

}

/* ----------------------------------------------------- */
/* 游린 400px */
/* ----------------------------------------------------- */

@media ( min-width: 400px ) {


  /* ------------------------------------------------------------- */
  /* Mini Games | Gaming Card Container
  /* ------------------------------------------------------------- */

  .gaming-card-container {

    grid: auto / auto auto;


  }

  /* ---------------------------------------------------------------- */
  /* Sport | New Sport Container | Label */
  /* ---------------------------------------------------------------- */

  .nav-sport-container > label {

    width: auto;

  }


}

/* ----------------------------------------------------- */
/* 游린 450px */
/* ----------------------------------------------------- */

@media ( min-width: 450px ) {

  /* -------------------------------------------------------------- */
  /* Main | Details Sport Challenge Container
  /* -------------------------------------------------------------- */

  .details-sport-challenge-container > main {

    row-gap: .4em;

  }


  /* -------------------------------------------------------------- */
  /* Sport | 3er | Sport Video Link Box */
  /* -------------------------------------------------------------- */

  .sport-video-link-box-3er-layout {

    width: 12em;

  }

  /* ----------------------------------------------------- */
  /* Sport | 15 Videos Challenge Container */
  /* ----------------------------------------------------- */

  .sport-challenge-15-videos-container > main {

    grid: auto / 1fr 1fr 1fr;

  }

  /* ----------------------------------------------------- */
  /* Sport | Card List Row Container | Main */
  /* ----------------------------------------------------- */

  .card-list-row-container > main {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }

  /* ------------------------------------------------------------- */
  /* Languages | Nav Languages Container */
  /* ------------------------------------------------------------- */

  #nav-languages-container {

    display: flex;
    justify-content: space-between;

    column-gap: 1em;
    row-gap: 0em;

  }

  /* ------------------------------------------------------------- */
  /* Languages | Selected Category Content Languages */
  /* ------------------------------------------------------------- */

  label[for="chk-selected-category-content-languages"] {

    width: 12em;

  }

  /* ------------------------------------------------------------- */
  /* Languages | Selected Flag Languages */
  /* ------------------------------------------------------------- */

  label[for="chk-selected-flag-languages"] {

    width: 9em;

  }



}

/* ----------------------------------------------------- */
/* 游린 480px */
/* ----------------------------------------------------- */

@media ( min-width: 480px ) {




  /* ---------------------------------------------------------------- */
  /* 游릮游린 Three Video Sport Link Card
  /* ---------------------------------------------------------------- */

  .three-video-sport-link-card{

    width: 12em;
    height: 12em;

  }

  /* -------------------------------------------------------------- */
  /* Sport | Content Container More Sport Video Link | Main  */
  /* -------------------------------------------------------------- */

  .content-container-more-sport-video-link > main {

    /* mobile */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 1em;
    row-gap: 1em;

  }

  /* -------------------------------------------------------------- */
  /* Sport | More Sport Video Link Card  */
  /* -------------------------------------------------------------- */

  .more-sport-video-link-card {

    width: 10em;
    height: 10em;

  }

}


/* ----------------------------------------------------- */
/* 游린 500px */
/* ----------------------------------------------------- */

@media ( min-width: 500px ) {

  /* ----------------------------------------------------- */
  /* Sport | Header Content Block */
  /* ----------------------------------------------------- */

  #header-nav-sport-container > .header-content-block {

    /* show header by bigger mobile size */
    display: flex;

  }

  /* ----------------------------------------------------- */
  /* Sport | Header Nav Sport Container */
  /* ----------------------------------------------------- */

  #header-nav-sport-container {

    grid-template:

    'sport-header-content-block sport-nav-sport'
    'sport-header-content-block selected-sport-challenge-category'
    'smooth-nav-sport-challenges-category smooth-nav-sport-challenges-category'
    ;

    grid-template-columns: 1fr 13em;

    /* background-color: red; */

  }

  /* ------------------------------------------------------------- */
  /* Sport | Nav Sport Category Challenges */
  /* ------------------------------------------------------------- */

  #nav-sport-category-challenges {

    padding-top: .5em;

    /* desktop */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    gap:.4em;

    /* background-color: red; */

  }

  /* -------------------------------------------------------------- */
  /* Sport | Sport Newest Video Container */
  /* -------------------------------------------------------------- */

  #sport-newest-video-container {

    padding-top: 3em;

  }

  /* -------------------------------------------------------------- */
  /* Sport | 3er | Sport Video Link Box */
  /* -------------------------------------------------------------- */

  .sport-video-link-box-3er-layout {

    width: 100%

  }

  /* -------------------------------------------------------------- */
  /* Sport | Sport Video 3 Container */
  /* -------------------------------------------------------------- */

  .sport-3-videos-container {

     grid-template:

      'video-sport-newest-1 video-sport-newest-2 video-sport-newest-3'
    ;

    grid-template-columns: 1fr 1fr 1fr;

  }


  /* ------------------------------------------------------------- */
  /* Others | Mini Games | Mini Game Info Card */
  /* ------------------------------------------------------------- */

  .mini-game-info-card,
  .mini-game-info-card-coming-soon {

    width: 100%;

  }



}

/* ----------------------------------------------------- */
/* 游린 560px */
/* ----------------------------------------------------- */

@media ( min-width: 560px ) {


/* ----------------------------------------------------- */
/* Mini Games | Gaming Card Container
/* ----------------------------------------------------- */
.gaming-card-container {

  display: grid;
  grid: auto / auto auto;

}

  /* ----------------------------------------------------- */
  /* Sport | Header Content Block */
  /* ----------------------------------------------------- */

  #header-nav-sport-container > .header-content-block {

    /* display: flex; */

  }

  /* ----------------------------------------------------- */
  /* Sport | Header Sport Container */
  /* ----------------------------------------------------- */

  #header-sport-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .8em;

  }

  /* ---------------------------------------------------------------- */
  /* Sport | New Sport Container */
  /* ---------------------------------------------------------------- */

  .nav-sport-container {

    justify-content: flex-end;
    background-color: green;

  }

}

/* ----------------------------------------------------- */
/* 游린 600px */
/* ----------------------------------------------------- */

@media ( min-width: 600px ) {


  /* -------------------------------------------------------------- */
  /* Sport | 3er | Sport Video Link Box */
  /* -------------------------------------------------------------- */

  .sport-video-link-box-3er-layout {

    /* width: 10.5em; */

  }

  /* -------------------------------------------------------------- */
  /* Sport | Sport Newest Video Container */
  /* -------------------------------------------------------------- */

  #sport-newest-video-container {

    /* reminder: parent is 80% */
    width: 100%;
    /* background-color: red; */

  }

  /* -------------------------------------------------------------- */
  /* Sport | Reminder Sport Newest Video */
  /* -------------------------------------------------------------- */

  #reminder-sport-newest-video {

    width: 100%;
    /* background-color: magenta; */

  }

  /* ------------------------------------------------------------- */
  /* Book Listenings | Book Listenings Content Container */
  /* ------------------------------------------------------------- */

  #book-listenings-content-container {

    grid: auto / 1fr 1fr;

    column-gap: 1em;

  }


  /* ------------------------------------------------------------- */
  /* Mini Games | Info Mini Games */
  /* ------------------------------------------------------------- */

  #info-mini-games {

    width: 40em;
    /* background-color: red; */

  }

  /* ------------------------------------------------------------- */
  /* Mini Games | Info Mini Games | Div 1 */
  /* ------------------------------------------------------------- */

  #info-mini-games > div:nth-of-type(1) {

    display: block;

  }


  /* ------------------------------------------------------------- */
  /* Mini Games | Mini Game Info Card */
  /* ------------------------------------------------------------- */

  .mini-game-info-card,
  .mini-game-info-card-coming-soon {

    width: 14.5em;

  }


}

/* ----------------------------------------------------- */
/* 游린 620px */
/* ----------------------------------------------------- */

@media ( min-width: 620px ) {


  /* ----------------------------------------------------- */
  /* Sport | Nav Sport Private */
  /* ----------------------------------------------------- */

  #nav-sport-private {

    justify-content: flex-end;


  }



}

/* ----------------------------------------------------- */
/* 游린 680px */
/* ----------------------------------------------------- */

@media ( min-width: 680px ) {


  /* ------------------------------------------------------------- */
  /* Others | Header Nav Others
  /* ------------------------------------------------------------- */

  #header-nav-others-container {

    display: grid;
    align-items: center;

    grid-template-areas:
    'header-others selected-category-others'
    'smooth-nav-others-category smooth-nav-others-category'
    ;

    grid-template-columns: 1fr 13em;
    grid-template-rows: auto auto;

  }

  /* ------------------------------------------------------------- */
  /* Others | Header Nav Others
  /* ------------------------------------------------------------- */

  #header-nav-others-container > .header-content-block {

    display: flex;

  }

}

/* ----------------------------------------------------- */
/* 游린 700px */
/* ----------------------------------------------------- */

@media ( min-width: 700px ) {


  /* -------------------------------------------------------------- */
  /* Sport | Reminder Sport Newest Video */
  /* -------------------------------------------------------------- */

  #reminder-sport-newest-video {

    /* made textflow */
    display: block;
    /* background-color: rgb(242, 242, 242); */

  }


}

/* ----------------------------------------------------- */
/* 游린 800px */
/* ----------------------------------------------------- */

@media ( min-width: 800px ) {


  /* ------------------------------------------------------------- */
  /* Sport | Sport Content Container */
  /* ------------------------------------------------------------- */

  #sport-content-container {

    width: 80%;
    /* background-color: green; */

  }

  /* ------------------------------------------------------------- */
  /* Book Listenings | Book Listenings Content Container */
  /* ------------------------------------------------------------- */

  #book-listenings-content-container {

    display: grid;
    grid: auto / 22em 22em;


  }


  /* ----------------------------------------------------- */
  /* Mini Games | Info Mini Games */
  /* ----------------------------------------------------- */

  #info-mini-games {

    justify-content: center;

  }


  /* ----------------------------------------------------- */
  /* Mini Games | Info Mini Games | Div  */
  /* ----------------------------------------------------- */

  #info-mini-games > div{

    width: 40em;

  }

  /* ----------------------------------------------------- */
  /* Mini Games | Gaming Card Container  */
  /* ----------------------------------------------------- */

  .gaming-card-container {

    display: grid;
    grid: auto / auto auto auto;

  }

}

/* ----------------------------------------------------- */
/* 游린 1000px */
/* ----------------------------------------------------- */

@media ( min-width: 1000px ) {


  /* ------------------------------------------------------------- */
  /* Sport | Sport Newest Video Container */
  /* ------------------------------------------------------------- */

  #sport-newest-video-container {

    /* width: 45em; */

  }

  #sport-newest-video-container > .sport-3-videos-container,
  #sport-newest-video-container > #history-sport-newest-video-container {

    /* width: 40em; */

  }

  /* ------------------------------------------------------------- */
  /* Book Listenings | Book Listenings Content Container */
  /* ------------------------------------------------------------- */

  #book-listenings-content-container {

    display: grid;
    grid: auto / 22em 26em;


  }


  /* ----------------------------------------------------------------------- */
  /* Sport | 15 Videos Challenge Container | Main */
  /* ----------------------------------------------------------------------- */

  .sport-challenge-15-videos-container > main {

    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr;

  }





}
