/* -------------------------------------------------------------- */
/* > page-container-push-slider.css
/*
/* : style the default of page container push slider &
/*   all single page container slide & active
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Push Page Slider
/* -------------------------------------------------------------- */

/* push-page-slider */

.push-page-slider {

  position: relative;
  width: 100%;
  height: 100%;

  display: grid;

  overflow: hidden;

}


/* -------------------------------------------------------------- */
/* Push Page Slide ( default all unshwon )
/* -------------------------------------------------------------- */

/* push-page-slide */

.push-page-slide {

  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;

  display: grid;
  align-content: center;
  justify-content: center;

  /* default all pages behind the right corner */
  z-index: 1;
  transform: translateX(100%);

  /* transition effect */
  transition: all .4s;

}


/* -------------------------------------------------------------- */
/* Active | Push Page Slide ( show )
/* -------------------------------------------------------------- */

.push-page-slide.active {

  z-index: 2;
  transform: translateX(0);

}


/* -------------------------------------------------------------- */
/* Page 1,2,3
/* -------------------------------------------------------------- */

#page-1 {

  background-color: rgb(202, 102, 102);
}

#page-2 {

  background-color: rgb(232, 190, 52);
}

#page-3 {

  background-color: rgb(158, 212, 208);
}
