/*
    colors-body.css 
    > defines all color styles which belongs to all webpages ,
    give the color speakable names
*/

:root {


/* --------------------------------------------------------- */
/* Default Colors
/* --------------------------------------------------------- */
--c-blue: blue;
--c-cyan: cyan;
--c-red: red;
--c-yellow: yellow;
--c-green: green; 
--c-black: black;
--c-white: white;
--c-brown: brown;
--c-grey: #808080;
--c-orange: orange;
--c-violet: violet;
--c-pink: pink;

/* --------------------------------------------------------- */
/* White
/* --------------------------------------------------------- */

--c-l-white-1: rgb(239, 239, 239);

/* --------------------------------------------------------- */
/* Black - Antrahcite 
/* --------------------------------------------------------- */

--c-light-black-1: rgb(28, 28, 28);

/* --------------------------------------------------------- */
/* Grey
/* --------------------------------------------------------- */

--c-dark-grey-1: rgba(97, 97, 97, 0.6);
--c-dark-grey-2: #525252;

--c-light-grey-1: #f1f1f199;


/* --------------------------------------------------------- */
/* Brown
/* --------------------------------------------------------- */

--c-light-brown-1: rgb(217, 191, 152);


/* --------------------------------------------------------- */
/* Red
/* --------------------------------------------------------- */

--c-light-red-1: rgb(161, 36, 36);
--c-dark-red-1: rgb(187, 55, 55);

--c-pastell-red-1: rgb(255, 163, 163);

/* --------------------------------------------------------- */
/* Yellow
/* --------------------------------------------------------- */

--c-dark-yellow-1: rgb(222, 222, 46);

/* --------------------------------------------------------- */
/* Green
/* --------------------------------------------------------- */

--c-dark-green-1: rgb(9, 90, 6);

}

/* --------------------------------------------------------- */
/* Background Colors
/* --------------------------------------------------------- */

.bgc-l-anthracite-mix {

    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;

}


/* 

    Interessante BG Color Mixe: 


  /* background-color: rgb(39, 39, 39);
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply; */

    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% ); */

    /* background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% ); */

    /* background-image: linear-gradient( 178.2deg,  rgba(118,8,23,1) 10.9%, rgba(158,12,33,1) 62.6% ); */

    /* background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% ); */

    /* background-image: radial-gradient( circle 602px at 2.1% 5.1%,  rgba(233,0,120,1) 0%, rgba(0,0,0,1) 90.1% ); */

    /* background-image: radial-gradient( circle 732px at -23.9% -25.1%,  rgba(30,39,107,1) 6.1%, rgba(188,104,142,1) 100.2% ); */

    /* background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% ); */

    /* background-image: linear-gradient( 109.6deg,  rgba(33,103,43,1) 11.3%, rgba(117,162,61,1) 91.1% ); */


    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
