/*
    colors-body.css 
    > defines all color styles which belongs to all webpages ,
    give the color speakable names
*/

:root {


/* --------------------------------------------------------- */
/* Default Colors
/* --------------------------------------------------------- */
--c-blue: blue;
--c-cyan: cyan;
--c-red: red;
--c-yellow: yellow;
--c-green: green; 
--c-black: black;
--c-white: white;
--c-brown: brown;
--c-grey: #808080;
--c-orange: orange;
--c-violet: violet;
--c-pink: pink;

/* --------------------------------------------------------- */
/* White
/* --------------------------------------------------------- */

--c-l-white-1: rgb(239, 239, 239);

/* --------------------------------------------------------- */
/* Black - Antrahcite 
/* --------------------------------------------------------- */

--c-light-black-1: rgb(28, 28, 28);

/* --------------------------------------------------------- */
/* Grey
/* --------------------------------------------------------- */

--c-dark-grey-1: rgba(97, 97, 97, 0.6);

--c-light-grey-1: #f1f1f199;


/* --------------------------------------------------------- */
/* Brown
/* --------------------------------------------------------- */

--c-light-brown-1: #d9bf98;


/* --------------------------------------------------------- */
/* Red
/* --------------------------------------------------------- */
--c-light-red-1: rgb(161, 36, 36);
--c-dark-red-1: rgb(187, 55, 55);

--c-pastell-red-1: rgb(255, 163, 163);

/* --------------------------------------------------------- */
/* Green
/* --------------------------------------------------------- */


}

/* --------------------------------------------------------- */
/* Background Colors
/* --------------------------------------------------------- */

.bgc-l-anthracite-mix {
    background-color: rgb(39, 39, 39);
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}
