/* -------------------------------------------------------------- */
/* > h1-h5.css
/*  
/* : my default h1 - h5 styles without default paddings
/* -------------------------------------------------------------- */

/* --------------------------------------------------------- */
/* Default h1-h6 are:

    h1 = 32px
    h2 = 24px
    h3 = 18.72px
    h4 = 16px
    h5 = 13.28px
    h6 = 10.72px
*/

.h1,h2,.h3,h4,h5,h6 {

    /* default delete margin of html h1-h6  */
    margin:0;

    display: flex;
    align-items: center;
    column-gap: .6em;

}

.h1 {

    /* 2em = 32px  */
    font-size: 2em;
    /* color:red; */

}

.h2 {

    /* 1.5em = 24px */
    font-size: 1.5em;
    /* color:blue; */
}

.h3 {

    /* 1.25em = 20px  */
    font-size: 1.25em;
    /* color:green; */
}

.h4 {

    /* 1.25em = 18px  */
    font-size: 1.125em;
    /* color:rgb(128, 0, 85); */
}

.h5 {

    /* 0.875em = 14px  */
    font-size: .875em;
    /* color:rgb(236, 221, 6); */
}