/*
    layout-and-styles.css
    > define styles for often using 
*/


/* ----------------------------------------------------------------------- */
/* Flex & Grid 
/* ----------------------------------------------------------------------- */

.jcc { justify-content: center; }

.jcfe { justify-content: flex-end; }
.jcfs { justify-content: flex-start; }

/* ----------------------------------------------------------------------- */
/* Flex
/* ----------------------------------------------------------------------- */

.flex { display: flex; }

.flex-aic-cg-0-3 {

    display: flex;
    align-items: center;
    column-gap: .3em;
}



/* ----------------------------------------------------------------------- */
/* Background Colors 
/* ----------------------------------------------------------------------- */


.bgc-dark-grey { 

    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;

}

.bgc-white {

    background-color: var(--c-white);
}



/* ----------------------------------------------------------------------- */
/* Shadow Styles 
/* ----------------------------------------------------------------------- */

.shadow-style,
.shadow-style-br-0-6 {

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.shadow-style-br-0-6 {

    border-radius: .6em;

}