/*

    text-elements.css
    > defines all art of texts 

*/

.unicode-circle {

    color:black;
}


.txt-b { font-weight: bold; }

.txt-bc { 

    font-weight: bold;
    font-style: italic;
}

.txt-important {

    font-weight: bold;
    color: var(--c-light-brown-1)
}

.txt-seperator-container {

    height: 3.5em;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------------------------------------- */
/* h1 - h4 
/* ---------------------------------------------- */

/*
    h4 = 18px 
    h3 = 20px 
    h2 = 22px 
    h1 = 24px 
*/

.h1-sfd,
.h1-sfd-light,
.h1-sfd-p-tb-1 {

    font-size: 1.5em;
    margin: 0 0 0 5px;

    color: var(--c-dark-grey-2);
}

.h1-sfd-light {

    color: var(--c-light-grey-1);

}

.h1-sfd-p-tb-1 {

    padding: 1em 0em;
}