/*

    text-elements.css
    > defines all art of texts 

*/

.unicode-circle {

    color:black;
}


.txt-b { font-weight: bold; }

.txt-bc { 

    font-weight: bold;
    font-style: italic;
}

.txt-important {

    font-weight: bold;
    color: var(--c-light-brown-1)
}

/* ---------------------------------------------- */
/* Text Line Heihgst
/* ---------------------------------------------- */

.txt-lh-1-2 { line-height: 1.2em; }
.txt-lh-1-3 { line-height: 1.3em; }
.txt-lh-1-5 { line-height: 1.5em; }

.txt-lh-1-8 { line-height: 1.8em; }
.txt-lh-2 { line-height: 2em; }

.txt-lh-2-3 { line-height: 2.3em; }
.txt-lh-2-5 { line-height: 2.5em; }

/* ---------------------------------------------- */
/* Text Seperator
/* ---------------------------------------------- */

.txt-seperator-container {

    height: 7.5em;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: red; */
}



/* ---------------------------------------------- */
/* h1 - h4 ( Mobile Edition )
/* ---------------------------------------------- */

/*
    = 36px | 36px / 16 = 2.25rem
    = 32px | 32px / 16 = 2ren
    h1 = 28px | 28px / 16 = 1.75rem; 
    h2 = 26px | 26px / 16 = 1.625rem;
    h3 = 22px | 22px / 16 = 1.375rem;
    h4 = 20px | 20px / 16 = 1.25rem 
*/

.h1-black,.h2-black,.h3-black,.h4-black,
.h1-white, .h2-white, .h3-white, .h4-white {

    display: flex;
    align-items: center;
    column-gap: .6em;

   
    padding-left: .3em;
}

.h1-black,.h2-black,.h3-black,.h4-black {

    color: var(--c-black);

}

.h1-white, .h2-white, .h3-white, .h4-white { 

    color:var(--c-white);

}


/* ------------------------------- */
/* h1 
/* ------------------------------- */
.h1-black, .h1-white {

    font-size: 2.625rem;

}

/* ------------------------------- */
/* h2 
/* ------------------------------- */
.h2-black, .h2-white {

    font-size: 2.25rem;
    
}


/* ------------------------------- */
/* h3 
/* ------------------------------- */
.h3-black, .h3-white {

    font-size: 2rem;
    
}


/* ------------------------------- */
/* h4 
/* ------------------------------- */
.h4-black, .h4-white {

    font-size: 1.75rem;
}

