/* -------------------------------------------------------------- */
/* > main-body.css
/*
/* : default sets for main body
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Main Body
/* ---------------------------------------------------------------- */

#main-body {

    /* important: to go by max height of parent element */
    height: 100%;

    /* because of fixed header height 5em default */
    padding-top: 5em;

    /* i: ji-c to let layout in the middle  */
    display: grid;
    justify-items: center;

    /* background-color: yellow; */
    background-color: white;

    background-color: rgb(207, 207, 207);

}

/* ---------------------------------------------------------------- */
/* Main Body Container
/* ---------------------------------------------------------------- */

/* i: important for correct full height grid stretching -
      because of div parent-child concept */

#main-body-container {

  overflow-y: hidden;

  width: 100%;
  /* height: 100%; */

  /* because of fixed header height is
    5em (height nav) + 1px border-bottom */
  padding-top: calc(5em + 1px);

  display: grid;
  justify-items: center;



  /* about / my it / my private */
  grid: 1fr / 1fr;

  background-color: white;




}


/* ---------------------------------------------------------------- */
/* Main Horizontal Page Slider
/* ---------------------------------------------------------------- */

#main-horizontal-page-slider {

  display: flex;

  width: 300%;
  box-sizing: border-box;

  background-color: yellow;

}

/* ---------------------------------------------------------------- */
/* 🟣🟣🟣🟣 Auslalgern in jeweils einzelne content Bereiche */
/* ---------------------------------------------------------------- */

#about-page-container,
#my-it-page-container,
#my-private-page-container {

  position: relative;

  width: 100%;
  /* to use real max height */
  /* height: 100vh; */

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  font-size: 2em;

  transition: all .7s;

}

/* ------------------------------------------------- */
/* About Page Container
/* ------------------------------------------------- */

#about-page-container {

  /* width: 100%; */
  background-color: rgb(255, 0, 204);

}

/* ------------------------------------------------- */
/* My IT Page Container
/* ------------------------------------------------- */

#my-it-page-container {

  /* width: 100%; */

  background-color: rgb(139, 139, 139);

}

/* ------------------------------------------------- */
/* My Private Page Container
/* ------------------------------------------------- */

#my-private-page-container {

  /* width: 100%; */

  background-color: rgb(159, 147, 255);

}
