/* ---------------------------------------------------------------------- */
/* > handling-top-it-project-cards.css
/* : styles checkbox, tech-stack, core-features, video-tutorial
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* Checkbox | Details ( Open Close ) */
/* ---------------------------------------------------------------------- */

/* default unshown */
#chk-details-top-it-project-card-1 {

  display: none;

}

/* set background */
#chk-details-top-it-project-card-1:checked ~ .short-info-container-top-it-project-card label[for="chk-details-top-it-project-card-1"],
#chk-details-top-it-project-card-2:checked ~ .short-info-container-top-it-project-card label[for="chk-details-top-it-project-card-2"],
#chk-details-top-it-project-card-3:checked ~ .short-info-container-top-it-project-card label[for="chk-details-top-it-project-card-3"] {

 background-color: #ff8080;


}

/* change img arrow rotation */
#chk-details-top-it-project-card-1:checked ~ .short-info-container-top-it-project-card label[for="chk-details-top-it-project-card-1"] > img,
#chk-details-top-it-project-card-2:checked ~ .short-info-container-top-it-project-card label[for="chk-details-top-it-project-card-2"] > img,
#chk-details-top-it-project-card-3:checked ~ .short-info-container-top-it-project-card label[for="chk-details-top-it-project-card-3"] > img {

 transform: rotate(180deg);

}

/* show content */
#chk-details-top-it-project-card-1:checked ~ #smooth-details-top-it-project-1,
#chk-details-top-it-project-card-2:checked ~ #smooth-details-top-it-project-2,
#chk-details-top-it-project-card-3:checked ~ #smooth-details-top-it-project-3 {

  grid-template-rows: 1fr;

}

/* ---------------------------------------------------------------------- */
/* Checkbox | Details ( tech-stack, core-feature, video-tutorial )  */
/* ---------------------------------------------------------------------- */

/* default unshown */
#chk-open-close-top-it-project-tech-stack-1,
#chk-open-close-top-it-project-core-feature-1,
#chk-open-close-top-it-project-video-tutorial-1,
#chk-open-close-top-it-project-tech-stack-2,
#chk-open-close-top-it-project-core-feature-2,
#chk-open-close-top-it-project-video-tutorial-2,
#chk-open-close-top-it-project-tech-stack-3,
#chk-open-close-top-it-project-core-feature-3,
#chk-open-close-top-it-project-video-tutorial-3   {

  display: none;

}


/* set background */
#chk-open-close-top-it-project-tech-stack-1:checked + label,
#chk-open-close-top-it-project-core-feature-1:checked + label,
#chk-open-close-top-it-project-video-tutorial-1:checked + label,
#chk-open-close-top-it-project-tech-stack-2:checked + label,
#chk-open-close-top-it-project-core-feature-2:checked + label,
#chk-open-close-top-it-project-video-tutorial-2:checked + label,
#chk-open-close-top-it-project-tech-stack-3:checked + label,
#chk-open-close-top-it-project-core-feature-3:checked + label,
#chk-open-close-top-it-project-video-tutorial-3:checked + label {

  background-color: #ff8080;

}


/* unshow img + */
#chk-open-close-top-it-project-tech-stack-1:checked + label > img:nth-of-type(1),
#chk-open-close-top-it-project-core-feature-1:checked + label > img:nth-of-type(1),
#chk-open-close-top-it-project-video-tutorial-1:checked + label > img:nth-of-type(1),
#chk-open-close-top-it-project-tech-stack-2:checked + label > img:nth-of-type(1),
#chk-open-close-top-it-project-core-feature-2:checked + label > img:nth-of-type(1),
#chk-open-close-top-it-project-video-tutorial-2:checked + label > img:nth-of-type(1),
#chk-open-close-top-it-project-tech-stack-3:checked + label > img:nth-of-type(1),
#chk-open-close-top-it-project-core-feature-3:checked + label > img:nth-of-type(1),
#chk-open-close-top-it-project-video-tutorial-3:checked + label > img:nth-of-type(1) {

  display: none;

}

/* show img - */
#chk-open-close-top-it-project-tech-stack-1:checked + label > img:nth-of-type(2),
#chk-open-close-top-it-project-core-feature-1:checked + label > img:nth-of-type(2),
#chk-open-close-top-it-project-video-tutorial-1:checked + label > img:nth-of-type(2),
#chk-open-close-top-it-project-tech-stack-2:checked + label > img:nth-of-type(2),
#chk-open-close-top-it-project-core-feature-2:checked + label > img:nth-of-type(2),
#chk-open-close-top-it-project-video-tutorial-2:checked + label > img:nth-of-type(2),
#chk-open-close-top-it-project-tech-stack-3:checked + label > img:nth-of-type(2),
#chk-open-close-top-it-project-core-feature-3:checked + label > img:nth-of-type(2),
#chk-open-close-top-it-project-video-tutorial-3:checked + label > img:nth-of-type(2) {

  display: flex;

}

/* show content */
#chk-open-close-top-it-project-tech-stack-1:checked ~ #smooth-content-top-it-project-tech-stack-1,
#chk-open-close-top-it-project-core-feature-1:checked ~ #smooth-content-top-it-project-core-feature-1,
#chk-open-close-top-it-project-video-tutorial-1:checked ~ #smooth-content-top-it-project-video-tutorial-1,
#chk-open-close-top-it-project-tech-stack-2:checked ~ #smooth-content-top-it-project-tech-stack-2,
#chk-open-close-top-it-project-core-feature-2:checked ~ #smooth-content-top-it-project-core-feature-2,
#chk-open-close-top-it-project-video-tutorial-2:checked ~ #smooth-content-top-it-project-video-tutorial-2,
#chk-open-close-top-it-project-tech-stack-3:checked ~ #smooth-content-top-it-project-tech-stack-3,
#chk-open-close-top-it-project-core-feature-3:checked ~ #smooth-content-top-it-project-core-feature-3,
#chk-open-close-top-it-project-video-tutorial-3   {

  grid-template-rows: 1fr;

}













/* ------------------------------------------------------------------------------------------------- */
/* Handling | Details Content Container ( tech-stack, core-features, video tutorial )
/* ------------------------------------------------------------------------------------------------- */

/* default unshown - tech stack */
#chk-tech-stack-top-it-project-1,
#chk-tech-stack-top-it-project-2,
#chk-tech-stack-top-it-project-3 {

  display: none;

}

/* default unshown - core feature */
#chk-core-feature-top-it-project-1,
#chk-core-feature-top-it-project-2,
#chk-core-feature-top-it-project-3 {

  display: none;

}

/* default unshown - video link container */
#chk-video-link-container-top-it-project-1,
#chk-video-link-container-top-it-project-2,
#chk-video-link-container-top-it-project-3 {

  display: none;

}


/* --------------------------------------- */
/* Top Project 1 | Details
/* --------------------------------------- */

/* unshow img + */
#chk-tech-stack-top-it-project-1:checked ~ .tech-stack-container-top-it-project-card label[for="chk-tech-stack-top-it-project-1"] > img:nth-of-type(1),
#chk-core-feature-top-it-project-1:checked ~ .core-features-container-top-it-project-card label[for="chk-core-feature-top-it-project-1"] > img:nth-of-type(1),
#chk-video-link-container-top-it-project-1:checked ~ .video-link-container-top-it-project label[for="chk-video-link-container-top-it-project-1"] > img:nth-of-type(1) {

  display: none;

}

/* unshow img 2 */
#chk-tech-stack-top-it-project-1:checked ~ .tech-stack-container-top-it-project-card label[for="chk-tech-stack-top-it-project-1"] > img:nth-of-type(2),
#chk-core-feature-top-it-project-1:checked ~ .core-features-container-top-it-project-card label[for="chk-core-feature-top-it-project-1"] > img:nth-of-type(2),
#chk-video-link-container-top-it-project-1:checked ~ .video-link-container-top-it-project label[for="chk-video-link-container-top-it-project-1"] > img:nth-of-type(2) {

  display: flex;

}

/* show content */
#chk-tech-stack-top-it-project-1:checked ~ .tech-stack-container-top-it-project-card #smooth-tech-stack-container-top-it-project-1,
#chk-core-feature-top-it-project-1:checked ~ .core-features-container-top-it-project-card #smooth-core-features-container-top-it-project-1,
#chk-video-link-container-top-it-project-1:checked ~ .video-link-container-top-it-project #smooth-video-link-container-top-it-project-1 {

  grid-template-rows: 1fr;

}

/* --------------------------------------- */
/* Top Project 2 | Details
/* --------------------------------------- */

/* --------------------------------------- */
/* Top Project 3 | Details
/* --------------------------------------- */



/* ------------------------------------------------------------------------- */
/* ➡️⚠️ TMP Handling | Video Tutorial Link List ( JS )
/* ------------------------------------------------------------------------- */

/* 4 x checkboxes category */
#chk-video-tutorial-categroy-link-1-1,
#chk-video-tutorial-categroy-link-1-2,
#chk-video-tutorial-categroy-link-1-3,
#chk-video-tutorial-categroy-link-1-4 {

  display: none;
}

/* set background */
#chk-video-tutorial-categroy-link-1-1:checked + label,
#chk-video-tutorial-categroy-link-1-2:checked + label,
#chk-video-tutorial-categroy-link-1-3:checked + label,
#chk-video-tutorial-categroy-link-1-4:checked + label {

  background-color: #ff8080;
  color:black;

}

/* unshow + */
#chk-video-tutorial-categroy-link-1-1:checked + label > img:nth-of-type(1),
#chk-video-tutorial-categroy-link-1-2:checked + label > img:nth-of-type(1),
#chk-video-tutorial-categroy-link-1-3:checked + label > img:nth-of-type(1),
#chk-video-tutorial-categroy-link-1-4:checked + label > img:nth-of-type(1) {

  display: none;

}

/* show - */
#chk-video-tutorial-categroy-link-1-1:checked + label > img:nth-of-type(2),
#chk-video-tutorial-categroy-link-1-2:checked + label > img:nth-of-type(2),
#chk-video-tutorial-categroy-link-1-3:checked + label > img:nth-of-type(2),
#chk-video-tutorial-categroy-link-1-4:checked + label > img:nth-of-type(2) {

  display: flex;

}

/* show content , video link list */
#chk-video-tutorial-categroy-link-1-1:checked ~ #smooth-video-tutorial-link-box-1-1,
#chk-video-tutorial-categroy-link-1-2:checked ~ #smooth-video-tutorial-link-box-1-2,
#chk-video-tutorial-categroy-link-1-3:checked ~ #smooth-video-tutorial-link-box-1-3,
#chk-video-tutorial-categroy-link-1-4:checked ~ #smooth-video-tutorial-link-box-1-4  {

   grid-template-rows: 1fr;

}
