/* -------------------------------------------------------------- */
/* > top-it-project-card.css
/*
/* : styles my top it project card
/* -------------------------------------------------------------- */

#over-header {

  width: 100%;

  padding: .5em 0 1em 0;
  margin-bottom: 1em;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: .4em;

  border-bottom: 1px solid rgb(212, 212, 212);

}

#over-header > div {

  height: 2em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: grey;

  border-radius: .5em;
}

/* ------------------------------------------------------------- */
/* Top IT Project Card
/* ------------------------------------------------------------- */

.top-it-project-card {

  display: grid;
  column-gap: 1em;

  grid-template-areas:

    'img-container-top-it-project-card'
    'short-info-container-top-it-project-card'
    'details-container-top-it-project-card'
  ;

  border-radius: 1em;


  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  border: 2px solid rgb(203, 203, 203);

  background-color: rgb(230, 230, 230);

  background-color: white;


  /* background-color: rgb(55, 55, 55); */

}

/* ------------------------------------------------------------- */
/* Sub Header Top IT Project Card
/* ------------------------------------------------------------- */

.sub-header-top-it-project-card {

  width: 100%;
  padding: .6em 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  font-weight: bold;

  /* background-color: rgb(28, 28, 28); */
  background-color: #cacaca;
  color:rgb(57, 57, 57);

  border-radius: .8em;

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* div 1 | sub header */
.sub-header-top-it-project-card > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

.sub-header-top-it-project-card > div:nth-of-type(1) > div {

  font-size: 14.5px;
}

/* img 2 = minus = unshown */
.sub-header-top-it-project-card > img:nth-of-type(2) {

  display: none;

}

/* ----------------------------------------------------------------------------------- */
/* ⬇️⬆️ CSS Smooth Open Close Details Top IT Projects | Top IT Project Card
/* ----------------------------------------------------------------------------------- */

#css-smooth-open-close-details-top-it-project-1,
#css-smooth-open-close-details-top-it-project-2,
#css-smooth-open-close-details-top-it-project-3 {

  grid-area: details-container-top-it-project-card;

}

/* ----------------------------------------------------------------------------------- */
/* Details Container | Top IT Project Card
/* ----------------------------------------------------------------------------------- */

 .details-container-top-it-project-card {

  padding: 1em .8em;

  display: grid;
  row-gap: 1.5em;

  /* background-color: #ebebeb; */
  /* background-color: yellow; */

}



/* ----------------------------------------------------------------------------------- */
/* ⬇️⬆️ CSS Smooth Open Close | Details Content Container
/* ----------------------------------------------------------------------------------- */

#css-smooth-open-close-details-content-container-1,
#css-smooth-open-close-details-content-container-2,
#css-smooth-open-close-details-content-container-3 {


}
