/* -------------------------------------------------------------- */
/* > top-it-project-card.css
/*
/* : styles my top it project card
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Top IT Project Card
/* ------------------------------------------------------------- */

.top-it-project-card {

  width: 100%;

  display: grid;

  grid-template-areas:

    'img-container-top-it-project-card'
    'short-info-container-top-it-project-card'
    'details-container-top-it-project'
  ;

  border-radius: 1em;

  border: 2px solid rgb(203, 203, 203);

  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/* ----------------------------------------------------------------------------------- */
/* ⬇️⬆️ Smooth | Details | Top IT Projects Container
/* ----------------------------------------------------------------------------------- */

#smooth-details-top-it-project-1,
#smooth-details-top-it-project-2,
#smooth-details-top-it-project-3 {

  grid-area: details-container-top-it-project;

  grid-template-rows: 1fr;

  border-radius: 0 0 1em 1em;

}

/* ----------------------------------------------------------------------------------- */
/* Details Container | Top IT Project
/* ----------------------------------------------------------------------------------- */

.details-container-top-it-project {

  padding: 2em .8em;

  display: grid;
  row-gap: .8em;

  border-radius: 0 0 1em 1em;

  background-color: rgb(242, 242, 242);

}

/* ----------------------------------------------------------------------------------- */
/* ⬇️⬆️ Smooth | Show More | Top IT Projects Container
/* ----------------------------------------------------------------------------------- */

#smooth-show-more-top-it-projects-container {

  /* grid-template-rows: 1fr; */

  background-color: red;

}
















/* ----------------------------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ----------------------------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* Sub Header Top IT Project Card
/* ------------------------------------------------------------- */

.sub-header-top-it-project-card {

  width: 100%;
  padding: .6em 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  font-weight: bold;

  /* background-color: rgb(28, 28, 28); */
  background-color: #cacaca;
  color:rgb(57, 57, 57);

  border-radius: .8em;

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* div 1 | sub header */
.sub-header-top-it-project-card > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

.sub-header-top-it-project-card > div:nth-of-type(1) > div {

  font-size: 14.5px;
}

/* img 2 = minus = unshown */
.sub-header-top-it-project-card > img:nth-of-type(2) {

  display: none;

}
