/*
    html-body.css 
    > defines all css styles which belongs to all webpages
*/

/* 
    16px = 1rem
    18px = 18px / 16px = 1.125rem
    20px = 20px / 16px = 1.25rem
    22px = 22px / 16px = 1.375rem
    24px = 24px / 16px = 1.5rem
    26px = 26px / 16px = 1.625rem
    28px = 28px / 16px = 1.75rem
    32px = 32px / 16px = 2rem
    36px = 36px / 16px = 2.25rem
    42px = 42px / 16px = 2.625rem

    h1 = 
    h2 = 
    h3 = 
    h4 = s

*/

#body-sfd {

  
    /* -------------------------------------- */
    /* Styles 
    /* -------------------------------------- */

    /* 1rem = 1em ( at the beginning ) = 16px  */
    font-size: 1.5rem;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* use google font style #1 */
    /* font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal; */

    /* use google font style #2 */

    /* color: var(--c-light-black-1); */


    /* -------------------------------------- */
    /* Layout 
    /* -------------------------------------- */

    /* delete default margin from web browser */
    /* with that we can better work with css layouts like grid */
    margin: 0;


    /* use max view height of webbrowser */
    min-height: 100vh;

    /* default content stretch layout */
    /* header + main */ 
    display: grid;
    grid: auto 1fr / 1fr;



}