/* -------------------------------------------------------------- */
/* > quick-info-about.css
/*
/* : styles quick info about
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Quick Info About Container
/* -------------------------------------------------------------- */

#quick-info-about-container {

  width: 100%;
  display: grid;

  /* mobile */
  justify-items: center;
  row-gap: 2em;

  grid-template:

  'img_business_quick_info'
  'content_quick_info_about'
  ;

}

/* -------------------------------------------------------------- */
/* [1/3] | IMG Business About
/* -------------------------------------------------------------- */

#img-business-about {

  grid-area: img_business_quick_info;

  /* mobile */
  /* margin-bottom: 2em; */

  height: 15em;
  border-radius: 1em;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/* -------------------------------------------------------------- */
/* [2/3] | Img Arrow Seperator About
/* -------------------------------------------------------------- */

#img-arrow-seperator-quick-info-about {

  grid-area: img_arrow_quick_info;

  height: 1em;

  /* mobile */
  display: none;

}

/* -------------------------------------------------------------- */
/* [3/3] | Quick Info Content Container
/* -------------------------------------------------------------- */

#quick-info-content-container-about {

  grid-area: content_quick_info_about;

  width: 100%;
  display: grid;
  row-gap: 1.5em;

}

/* -------------------------------------------------------------- */
/* Div 1 | Quick Start "Header Sticker"
/* -------------------------------------------------------------- */

#quick-info-content-container-about > div:nth-of-type(1) {

  /* because of parent grid layout */
  justify-self: center;

}

/* -------------------------------------------------------------- */
/* Div 2 | Quick Info Content Container
/* -------------------------------------------------------------- */

#quick-info-content-container-about > div:nth-of-type(2) {

  width: 100%;
  padding: 0 .6em .6em .6em;

  line-height: 1.8em;

  /* mobile */
  text-align: center;

  /* color:rgb(87, 87, 87); */
  color: var(--c-dark-grey);

}
