/* -------------------------------------------------------------- */
/* > quick-info-about.css
/*
/* : styles quick info about
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Quick Info About Container
/* -------------------------------------------------------------- */

#quick-info-about-container {

  width: 100%;
  display: grid;

  /* mobile */
  justify-items: center;
  row-gap: 2em;

  grid-template:

  'img_business_quick_info'
  'content_quick_info_about'
  ;

}

/* -------------------------------------------------------------- */
/* [1/3] | IMG Business About
/* -------------------------------------------------------------- */

#img-business-about {

  grid-area: img_business_quick_info;

  /* height: 15em; */
  width: 100%;
  border-radius: 1em;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/* -------------------------------------------------------------- */
/* [2/3] | Img Arrow About Quick Info
/* -------------------------------------------------------------- */

#img-arrow-about-quick-info {

  grid-area: img_arrow_about_quick_info;

  height: 1em;

  /* mobile */
  display: none;

}

/* -------------------------------------------------------------- */
/* [3/3] | Quick Info About Content Contianer
/* -------------------------------------------------------------- */

#quick-info-about-content-container {

  /* quick_info_about_content */
  grid-area: content_quick_info_about;

  width: 100%;
  display: grid;
  row-gap: 1.5em;

}

/* -------------------------------------------------------------- */
/* Div 1 | Quick Start "Header Sticker"
/* -------------------------------------------------------------- */

#quick-info-about-content-container > div:nth-of-type(1) {

  /* because of parent grid layout */
  justify-self: center;

}

/* -------------------------------------------------------------- */
/* Div 2 | Quick Info About Content Contianer
/* -------------------------------------------------------------- */

#quick-info-about-content-container > div:nth-of-type(2) {

  width: 100%;

  padding-left: .6em;
  padding-right: .6em;
  padding-bottom: .6em;

  line-height: 1.8em;

  /* mobile */
  text-align: center;

  color: #616161

}
