/* ----------------------------------------------------------------------------- */
/* > sport-challenge.css
/*  
/* : styles my sport challenge container
/* ----------------------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Sport Challenge Container
/* ---------------------------------------------------------------- */

#sport-challenge-container {

    width: 100%;
    padding: 3em .8em 5em .8em;

    display: grid;
   
    row-gap: 1em;

}