/*
    header-body.css
    > define the root header of the webpage
*/

#header-body {

    
    
}

/* ------------------------------------------------------------------------------ */ 
/* Header Container 
/* ------------------------------------------------------------------------------ */ 

#header-container-body {

    position: fixed;
    left:0;
    right: 0;

    z-index: 100;

    /* 6rem * 18.5px  */
    height: 6em;
    padding: 0 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply; */

    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

/* ------------------------------------------------------------------------------ */ 
/* Logo Header 
/* ------------------------------------------------------------------------------ */ 

#logo-header-body {

    /* line-height: 1.5rem; */

    display: flex;
    align-items: center;
    column-gap: 1em;

    color: var(--c-light-brown-1);

}

#img-logo-header {

    /* default small img size for mobile  */
    height: 2.5em;
}


/* ------------------------------------------ */
/* Title Header Body 
/* ------------------------------------------ */

#title-header-body {

    display: flex;
    align-items: center;
    column-gap: .3em;

    font-weight: bold;

}

#title-header-superfreshdev-body {

    font-size: 2rem;
    color: var(--c-l-white-1);
    
}

#sub-title-header-body {

    /* font-size: .95em; */
    font-style: italic;
    padding-top: .15em;
    font-weight: bold;
}



/* ------------------------------------------------------------------------------ */ 
/* Label Nav Header 
/* ------------------------------------------------------------------------------ */ 

#lbl-nav-header {

    width: 4.5rem;
    height: 4.5rem;

    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    row-gap: .4em;

    background-color:  var(--c-dark-grey-1);
    border-radius: .6em;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   
    cursor: pointer;
    transition: all .4s;
    
}

.hamburger-stripe {

    width: 1.6em;
    height: .25em;

    border-radius: .3em;

    background-color: var(--c-light-grey-1);

    transition: all .4s;
}


/* ------------------------------------------------------------------------------ */ 
/* Handling Checkbox 
/* ------------------------------------------------------------------------------ */ 

#chk-nav-header { display: none; }

#chk-nav-header:checked ~ #header-body #lbl-nav-header {

    background-color: var(--c-dark-red-1);

}

#chk-nav-header:checked ~ #header-body #lbl-nav-header > div:nth-of-type(1) {

    transform: translate(0, 16px) rotate(-45deg);
    background-color: var(--c-light-brown-1);
    
}

#chk-nav-header:checked ~ #header-body #lbl-nav-header  > div:nth-of-type(2) {

    background-color: transparent;
    
}

#chk-nav-header:checked ~ #header-body #lbl-nav-header  > div:nth-of-type(3) {

    transform: translate(0, -15px) rotate(45deg);
    background-color: var(--c-light-brown-1);
    
}

/* ------------------------------------------------------ */
/* Special Case for About Anker Panel Fixed 
/* ------------------------------------------------------ */

#chk-nav-header:checked ~ #main-body > #main-container > #pages-slide-container > #page-overview-layout-container > #sub-nav-topic-container #about-anker-link-content-nav {

    position: relative;
}

#chk-nav-header:checked ~ #main-body > #main-container > #pages-slide-container > #page-overview-layout-container > #about-page-container {

    margin-top: 0em;
    
}


/* #chk-nav-header:checked ~ #main-body {

    margin-top: 0em;
}
 */
