/* ----------------------------------------------------------------------------------------------- */
/* > smooth-choose-sport-video-category-container.css
/*  
/* : styles the smooth choose container of sport video category container 
/* ----------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- */
/* ⬆️⬇️ Smooth | Chhose Sport Video Category Container
/* ---------------------------------------------------------------------------------- */

#smooth-choose-sport-video-category-container {
    
    display: grid;
    grid-template-rows: 0fr;

    transition: grid-template-rows 0.3s ease-out;

}

#choose-sport-video-category-list-container {

    padding-top: .6em;
   
    display: grid;
    justify-content: flex-end;

    row-gap: .6em;

    /* background-color: rgb(0, 208, 255); */

}

/* ---------------------------------------------------------------------------------- */
/* Checkbox-Label Handling | Selected Sport Video Category
/* ---------------------------------------------------------------------------------- */

/* ################### */
/* Styling 
/* ################### */

#radio-select-sport-video-category-1:checked ~ #smooth-selected-sport-video-category-container #selected-sport-video-category-item-container #smooth-choose-sport-video-category-container #choose-sport-video-category-list-container > label[for="radio-select-sport-video-category-1"] > .custom-radio-small > img,
#radio-select-sport-video-category-2:checked ~ #smooth-selected-sport-video-category-container #selected-sport-video-category-item-container #smooth-choose-sport-video-category-container #choose-sport-video-category-list-container > label[for="radio-select-sport-video-category-2"] > .custom-radio-small > img {

   /* background-color: blue; */
   display: flex;

}



/* ################### */
/* Movement
/* ################### */




/* ---------------------------------------------------------------------------------- */
/* Radio-Label Handling | Select Sport Video Category
/* ---------------------------------------------------------------------------------- */

/* ################### */
/* Styling 
/* ################### */

input[name="name-select-sport-video-category"] { 

    display: none;
}

/* ################### */
/* Movement
/* ################### */