/* ---------------------------------------------------------------------------------------------- */
/* > video-categories-link-container.css
/*
/* : styles video categories link container for the it project top cards

/* ---------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* [6/6] | Video Categories Link Container
/* ------------------------------------------------------------- */

.video-categories-link-container {

  width: 100%;

  display: grid;
  justify-items: center;

}

/* ------------------------------------------------------------- */
/* 🟩 [1/2] | Nav | Video Categories Link Container
/* ------------------------------------------------------------- */

.video-categories-link-container > nav:nth-of-type(1) {

  width: 100%;

  display: flex;
  align-items: center;

  /* background-color: mediumaquamarine; */

}

/* ------------------------------------------------------------- */
/* [2/2] | Open Close | Video Category List
/* ------------------------------------------------------------- */

.open-close-it-project-top-card-video-category-list {

  width: 100%;

  display: grid;
  justify-items: center;
  transition: grid-template-rows 300ms ease-in-out;

}

/* open close video category list ids, 1,2,3 */
#open-close-it-project-top-card-video-category-list-1,
#open-close-it-project-top-card-video-category-list-2,
#open-close-it-project-top-card-video-category-list-3 {

  grid-template-rows: 0fr;

}

/* ------------------------------------------------------------- */
/* Video Category List
/* ------------------------------------------------------------- */

.video-category-list {

  width: 100%;
  padding-top: 1.5em;

  display: grid;
  justify-items: center;

  /* background-color: red; */

}

/* ------------------------------------------------------------- */
/* Video Category
/* ------------------------------------------------------------- */

.video-category {

  width: 100%;

  display: grid;
  justify-items: center;

}

/* ------------------------------------------------------------- */
/* Nav | Video Category
/* ------------------------------------------------------------- */

.video-category > nav:nth-of-type(1) {

  height: 3.5em;
  width: 100%;

  display: flex;
  align-items: center;

  /* background-color: green; */

}

/* ------------------------------------------------------------- */
/* Nav Label | Video Category
/* ------------------------------------------------------------- */

.video-category > nav:nth-of-type(1) > label {

  height: 100%;
  width: 100%;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  font-weight: bold;

  background-color: rgb(234, 234, 234);

  cursor: pointer;
  transition: all .4s;

}

/* ------------------------------------------------------------- */
/*  Video Category Label Title
/* ------------------------------------------------------------- */

.video-category-label-title {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .4em;

}

/* ------------------------------------------------------------- */
/* Video Category Label Plus Minus
/* ------------------------------------------------------------- */

.video-category-label-plus-minus {

  display: flex;
  align-items: center;
  justify-content: center;

}

/* default minus icon unshown */
.video-category-label-plus-minus > img:nth-of-type(2) {

  display: none;
}

/* ------------------------------------------------------------- */
/* Open Close | Video Category Link List
/* ------------------------------------------------------------- */

.open-close-it-project-top-card-video-category-link-list {

  width: 100%;

  display: grid;
  justify-items: center;
  transition: grid-template-rows 300ms ease-in-out;

}

/* open close | video category link list, 1-1,1-2,... */
#open-close-it-project-top-card-video-category-link-list-1-1,
#open-close-it-project-top-card-video-category-link-list-1-2,
#open-close-it-project-top-card-video-category-link-list-1-3 {

  grid-template-rows: 0fr;

}

/* open close | video category link list, 2-1,2-2,... */
#open-close-it-project-top-card-video-category-link-list-2-1,
#open-close-it-project-top-card-video-category-link-list-2-2,
#open-close-it-project-top-card-video-category-link-list-2-3 {

  grid-template-rows: 0fr;

}

/* ------------------------------------------------------------- */
/* Video Category Link List | Video Category
/* ------------------------------------------------------------- */

.video-category-link-list {

  width: 100%;

  display: grid;

  /* background-color: blue; */

}

/* all links without last one */
.video-category-link-list > a:not(:last-child) {

  border-bottom: 1px solid rgb(180, 180, 180);

}

/* ------------------------------------------------------------- */
/* Link a | Video Category Link List
/* ------------------------------------------------------------- */

.video-category-link-list > a {

  text-decoration: none;

  min-height: 3.5em;
  padding: .8em .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1em;

 background-color: rgb(230, 230, 230);

  transition: all .4s;

}

.video-category-link-list > a:visited {

  color:grey;

}

.video-category-link-list > a:hover {

  background-color: rgb(207, 207, 207);

}


/* --------------------------------------------------------------------------- */
/* Video Category Link Title
/* --------------------------------------------------------------------------- */

.video-category-link-title {

  display: grid;

  color:grey;

}

/* --------------------------------------------------------------------------- */
/* Div 1 | Video Category Link Title
/* --------------------------------------------------------------------------- */

.video-category-link-title > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .3em;

  font-weight: bold;

}

/* --------------------------------------------------------------------------- */
/* Div 2 | Video Category Link Title
/* --------------------------------------------------------------------------- */

/* .video-category-link-title > div:nth-of-type(2) {


} */
