/* -------------------------------------------------------------------------- */
/* > animations.css
/*
/* : styles all animations we like to use e.g 360deg rotate, ...
/* -------------------------------------------------------------------------- */


/* ------------------------------------- */
/* Animation | rotate 360
/* ------------------------------------- */

@keyframes rotate360deg {

    0% { transform: rotate(45deg); }
    20% { transform: rotate(90deg); }
    40% { transform: rotate(135deg); }
    60% { transform: rotate(180deg); }
    80% { transform: rotate(135deg); }
    100% { transform: rotate(360deg); }

}

.anim-rotate360-4s {

    animation: rotate360deg infinite 4s ease;
}

/* ------------------------------------- */
/* Animation | left right
/* ------------------------------------- */

@keyframes leftright {

    0% { padding-left: .3em; }
    50% { padding-right: .3em; }
    100% { padding-left: .3em; }

}

/* ------------------------------------- */
/* Animation | up down slide
/* ------------------------------------- */

@keyframes updown {

    0% { padding-bottom: .3em; }
    50% { padding-top: .3em; }
    100% { padding-bottom: .3em; }

}

/* ------------------------------------- */
/* Animation | Shaking
/* ------------------------------------- */

@keyframes shaking {

    0% { transform: rotate(-35deg); }

    50% { transform: rotate(5deg); }

    100% { transform: rotate(-35deg); }

}


/* ------------------------------------- */
/* Animation | Diagonal
/* ------------------------------------- */

@keyframes diagonal {

    0% {  transform: translate( 2px , -2px ); }

    50% { transform: translate( -1px , 1px ); }

    100% { transform: translate( 2px , -2px ); }

}
