/* -------------------------------------------------------------- */
/* > body-main-nav.css
/*  
/* : styles my nav container for the main body
/* -------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* [⚠️ Ausalgern] - Nav Container
/* ---------------------------------------------------------------- */

.nav-layout-container {

    padding: .8em;
    background-color: gold;
}


/* ---------------------------------------------------------------- */
/* Nav Container | Main Body  
/* ---------------------------------------------------------------- */

#nav-container-main-body {
 
    /* width: 100%; */

    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .5s ease-out;

    background-color: green;

}



/* ---------------------------------------------------------------- */
/* Nav Layout | Main Body  
/* ---------------------------------------------------------------- */

.nav-layout-main-body {

    padding: .8em;

    display: grid;
    row-gap: .8em;

    background-color: gold;
}

.nav-layout-main-body > div {

    height: 2.5em;
    padding: 0 .8em;

    display: flex;
    align-items: center;

    font-weight: bold;
    border-radius: .6em;

    background-color: rgb(79, 0, 0);
    color:white;


    
}















/* ---------------------------------------------------------------- */
/* ALT 
/* ---------------------------------------------------------------- */

#nav-content-main-body { 

    width: 100%;

    padding-top: .8em;
    padding-bottom: .8em;

    display: grid;
    row-gap: .8em;
    

    /* padding: 0 .8em; */
}


/* ---------------------------------------------------------------- */
/* Nav Item | Main Body 
/* ---------------------------------------------------------------- */

input[name='name-radio-nav-item-main-body'] {

    display: none;
}

input[name='name-radio-nav-item-main-body']:checked + label {

    color:red;
}

/* --------------------------------------- */
/* Handling | Radio & Label 
/* --------------------------------------- */

input[name='name-radio-nav-item-main-body']:checked + label > .custom-radio > img {

    display: flex;
}

.custom-select-nav-item-main-body {

    width: 100%;

}

.nav-item-main-body {

    width: 100%;
    /* width: 25em; */
    height: 4em;
    padding: 0 .8em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-radius: .6em;

    background-color: grey;

    cursor: pointer;

    transition: all .4s;

}

.lbl-nav-topic-item-main-body:hover {

    background-color: rgb(176, 176, 176);
}

/* ------------------------------------------------- */
/* Nav Item Title Container | Main Body
/* ------------------------------------------------- */

.nav-item-title-container-main-body {

    display: flex;
    align-items: center;
    column-gap: .8em;

}


/* ------------------------------------------------- */
/* IMG | Nav Item  
/* ------------------------------------------------- */

.img-about-nav-item-main-body {

    height: 2.8em;
    transform: scaleX(-1);

}

.img-web-dev-nav-item-main-body {

    height: 2em;

}

.img-nav-item-main-body {

    height: 2.3em;

}

.img-x-nav-item-main-body {
    
    height: 1.8em;

}

/* ------------------------------------------------- */
/* Text | Nav Item  
/* ------------------------------------------------- */

.text-nav-item-main-body {

    font-size: 1.125rem;
    font-weight: bold;
}

/* ---------------------------------------------------------------- */
/* Custom Select Extra individuell Style
/* ---------------------------------------------------------------- */

.img-my-it-stack-emojie {

    height: 2.3em;
}


/* ---------------------------------------------------------------- */
/* Handling | Custom Select - My IT Stack & My Private Lifestyle
/* ---------------------------------------------------------------- */

input[name="name-chk-cs-my-it-stack"] {

    display: none;
}

input[name="name-chk-cs-my-it-stack"]:checked + label {

    color:yellow;
}