/* -------------------------------------------------------------- */
/* > body-main.css
/*  
/* : default sets for main body
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Main Body 
/* ---------------------------------------------------------------- */

#main-body {

    /* important: to stretch max height of parent body-container */
    height: 100%;
    width: 100%;

    /* important to bring main-body-container in
       layout for better layout page handling  */
    display: grid;
    justify-items: center;

    /* background-color: yellow; */
    background-color: white;   

}

/* ---------------------------------------------------------------- */
/* Main Body Container
/* ---------------------------------------------------------------- */

#main-body-container {

    width: 100%;

    /* because of fixed header height 5.5em */
    padding-top: 5.5em;

    /* remember: main-body is height 100%, so it can stretch max height */
    display: grid;
    justify-items: center;
    /* nav, main-header, main */
    grid: auto 1fr / 1fr;

    /* background-color: green; */

}

/* ---------------------------------------------------------------- */
/* Row Main Container
/* ---------------------------------------------------------------- */

.row-main-container {

    width: 100%;
    display: grid;
    justify-items: center;

}

.bgc-row-header {
    background-color: grey;
} 

.bgc-row-main {
    background-color: white;
}

/* ---------------------------------------------------------------- */
/* Main Layout Container
/* ---------------------------------------------------------------- */

#main-layout-container {

    height: 100%;
    padding: .8em;
    background-color: wheat;
}

































/* ---------------------------------------------------------------- */
/* [1/2] - Header Main Container 
/* ---------------------------------------------------------------- */

#header-main-container {

    padding: 1em .8em;

}


/* ---------------------------------------------------------------- */
/* [2/2] - Main Content Container 
/* ---------------------------------------------------------------- */



#main-content-container {

    height: 100%;

    padding: 1em .8em;

    /* background-color: rgb(133, 133, 255); */
    /* background-color: orange; */
}


/* ---------------------------------------------------------------- */
/* Main Container | Main Body  
/* ---------------------------------------------------------------- */

#main-container-main-body {

    padding: 0 .8em;
    
    display: grid; 
    /* justify-items: center; */
    /* main header, main content, main footer  */
    grid: auto 1fr / 1fr;

    background-color: rgb(175, 175, 175);

}


#header-main-body {

    background-color: rgb(76, 0, 255);
}

#content-main-body {

    background-color: white;
}











/* ---------------------------------------------------------------- */
/* [1/3] - Main Header Container | Main Body
/* ---------------------------------------------------------------- */

#main-header-container-main-body {

    padding: 1.5em .8em;
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: .8em;
    
}

#main-header-item-main-body {

    display: flex;
    column-gap: .8em;
    align-items: center;
}

.img-main-header-item-main-body {

    height: 2.8em;
}

#main-header-item-main-body > div {

    
    line-height: 1.3em;
}

.title-header-item-main-body {

    font-size: 1.125rem;
    font-weight: bold;

}

.sub-title-header-item-main-body {


}


/* ---------------------------------------------------------------- */
/* [2/3] - Main Content | Main Body
/* ---------------------------------------------------------------- */

#main-content-main-body {

    padding: .8em;

    display: grid;
    row-gap: 3em;

    /* border-radius: .8em; */

    /* background-color: white; */

}

