/* ----------------------------------------------------------------------------- */
/* > nav-page-topic-container.css
/*  
/* : styles my nav cpage topic container, that are 
     for example my links for about, my it stack, my private lifestyle 
/* ----------------------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Nav Topic Container
/* ---------------------------------------------------------------- */

#nav-topic-container {

    width: 100%;
    padding: 1.5em 0;


    display: grid;
    row-gap: 1.5em;
    justify-items: center;

    background-color: rgb(108, 108, 108);
    background-color: white;

    /* background-color: rgb(247, 206, 0); */

    
}

.tmp-header {

    padding: .4em .6em;

    text-align: center;

    border-radius: .4em;

    background-color: rgb(188, 188, 188);
}

/* ---------------------------------------------------------------- */
/* ⬇️⬆️ Open / Close Nav Body
/* ---------------------------------------------------------------- */

#open-close-nav-body {

    width: 100%;

    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;

}


.tmp-nav-topic-layout-container {

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
}


.tmp-nav-box {

    padding: .6em;

    display: grid;
    row-gap: .6em;

    border-radius: .4em;

    border: 1px dashed black;

}

.tmp-nav-box > main {

    display: grid;
    row-gap: .2em;
}



/* ------------------------------------------------- */
/* ### Styling
/* Checkbox Handling | Open News Container 
/* ------------------------------------------------- */

/* #chk-open-close-news-container-about {

    display: none;
} */

/* txt unshow | show me  */
/* #chk-open-close-news-container-about:checked + #news-container-about #lbl-open-close-new-container-about > div:nth-of-type(1) {

    display: none;
} */

/* show | close  */
/* #chk-open-close-news-container-about:checked + #news-container-about #lbl-open-close-new-container-about > div:nth-of-type(2) {

    display: flex;
}

#chk-open-close-news-container-about:checked + #news-container-about #lbl-open-close-new-container-about {

    background-color: wheat;
    color:black;
}

#chk-open-close-news-container-about:checked + #news-container-about #lbl-open-close-new-container-about > img {

    transform: rotate(180deg);
} */


/* ------------------------------------------------- */
/* ### Movement
/* Checkbox Handling | Open News Container
/* ------------------------------------------------- */

/* #chk-open-close-news-container-about:checked + #news-container-about > #open-close-news-container-about {

    grid-template-rows: 1fr;

} */


/* ---------------------------------------------------------------- */
/* Nav Page Topic Container
/* ---------------------------------------------------------------- */

