/* -------------------------------------------------------------- */
/* > header-logo-body.css
/*
/* : default sets for header logo container from body
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Header Logo Body
/* ---------------------------------------------------------------- */

#header-logo-body {

  display: flex;
  align-items: center;
  column-gap: .8em;

  /* mobile */
  display: none;

  /* background-color: rgb(75, 75, 75); */

}

/* ---------------------------------------------------------------- */
/* [1/2] | Img | Header Logo Body
/* ---------------------------------------------------------------- */

#img-header-body-superfrehsdev {

  height: 2.7em;
  width: 2.7em;

  border-radius: .4em;

  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  border: 3px solid rgb(59, 59, 59);

  /* transform: skewX(-20deg); */

  /* mobile */
  display: none;

}

/* ---------------------------------------------------------------- */
/* [2/2] | Title | Header Logo Body
/* ---------------------------------------------------------------- */

#header-logo-title-body {

  font-weight: bold;

  /* ---------------------------------------------------------------------------- */
  /*  ⚠️ Color in Testing, which looks decent & good
  /* ---------------------------------------------------------------------------- */

  color: var(--c-dark-grey);
  /* color:#616161; */

  color: rgb(155, 155, 155);

  /* mobile */
  display: none;

}

/* ---------------------------------------------------------------- */
/* Div 1 | Header Logo Title Body
/* ---------------------------------------------------------------- */

#header-logo-title-body > div:nth-of-type(1) {

  font-style: italic;

}

/* ---------------------------------------------------------------- */
/* Div 2 | Header Logo Title Body
/* ---------------------------------------------------------------- */

#header-logo-title-body > div:nth-of-type(2) {


  font-style: italic;

}
