/* -------------------------------------------------------------- */
/* > header-body.css
/*
/* : default sets for body header
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Header Fixed Body Container
/* ---------------------------------------------------------------- */

#header-fixed-body-container {

    z-index: 100;

    height: 4.5em;
    width: 100%;

    position: fixed;
    left:0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 3px solid rgb(36, 36, 36);

    background-color: rgb(28, 28, 28);
    color:white;

}

/* ---------------------------------------------------------------- */
/* Header Body Container
/* ---------------------------------------------------------------- */

#header-body-container {

    width: 100%;

    display: flex;
    align-items: center;

    /* mobile */
    justify-content: center;

    /* background-color: red; */

}
