/* -------------------------------------------------------------- */
/* > header-nav-body.css
/*
/* : style the nav of header body
/* -------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Nav Header Body
/* ---------------------------------------------------------------- */

#nav-header-body {

    /* mobile */
    display: flex;
    align-items: center;
    justify-content: center;

}

/* ---------------------------------------------------------------- */
/* Img Seperator | Nav Header Body
/* ---------------------------------------------------------------- */

.img-seperataor-nav-header-body {

    height: .4em;
    padding: 0 .4em;

    opacity: .6;

    color:#f5deb3;
}

/* ---------------------------------------------------------------- */
/* Label Nav Header Body
/* ---------------------------------------------------------------- */

.lbl-nav-header-body {

    /* mobile */
    height: 2.8em;
    padding: 0em .8em;

    display: flex;
    align-items: center;
    column-gap: .6em;

    border-radius: .6em;

    opacity: .4;

    border: 1px solid rgb(163, 163, 163);

    /* border: 3px solid rgb(50, 50, 50) ; */
    background-color: rgb(50, 50, 50) ;
    color:rgb(203, 203, 203);

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    user-select: none;
    cursor: pointer;
    transition: all .4s;

}

/* ------------------------------------------------------- */
/* Handling | Hover
/* ------------------------------------------------------- */

.lbl-nav-header-body:hover {

    background-color: wheat;
    color:black;
}


/* very small mobile unshown imgs */
.lbl-nav-header-body > img {

    display: none;
}

/* default black img */
.lbl-nav-header-body > img:nth-of-type(2) {

    display: none;
}

.lbl-nav-header-body > div {

    font-weight: bold;
    /* 14,5px */
    font-size: .90625em;
}


/* ---------------------------------------------------------------- */
/* Handlings | Styling
/* ---------------------------------------------------------------- */

/* default unshown radios */
input[name="name-radio-nav-header-body"] {

    display: none;
}

/* set background & set full opacity */
#radio-about:checked ~ label[for="radio-about"],
#radio-my-it:checked ~ label[for="radio-my-it"],
#radio-my-private:checked ~ label[for="radio-my-private"] {

    background-color: wheat;
    color:black;

    opacity: 1;

}
