/* -------------------------------------------------------------- */
/* > it-projects.css
/*
/* : default styles for my it projects
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* My It Projects Container
/* ------------------------------------------------------------- */

#my-it-projects-container {

  width: 100%;

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------------- */
/* My It Projects Content Container
/* ------------------------------------------------------------- */

#my-it-projects-content-container {

  display: grid;
  row-gap: 1.5em;

}

/*  ⚠️ to do */
/* ------------------------------------------------------------- */
/* Header | My IT Projects Container
/* ------------------------------------------------------------- */
