/* -------------------------------------------------------------- */
/* > about-page.css
/*  
/* : styles about page container & header about container
/* -------------------------------------------------------------- */

/* z.b be about hat es x-rows und bei content ist der aufbau z.B nur aus 2 rows */

.grid-row-container {

    width: 100%;
    display: grid;
    align-content: flex-start;
    justify-items: center;
}

.row-container,
.sub-row-container  {
   
    width: 100%;
    display: flex;
    justify-content: center;

}


/* ----------------------------------------- */
/* Main Header Content 
/* ----------------------------------------- */

.main-header-content {

    background-color: black;
    color:white;
}


/* ----------------------------------------- */
/* Title Header About
/* ----------------------------------------- */

#title-header-about {

    background-color: yellow;
    color:black,

}




/* -------------------------------------------------------- */
/* Nav Topic Container 
/* -------------------------------------------------------- */

.test-nav-topic-container {

    width: 100%;

    padding: .8em;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;


    background-color: grey;
    
    
}


.resp-header-content-container {

    width: 450px;
    background-color: red;
}







#about-page {

    background-color: red;
    
}




















/* -------------------------------------------------------------- */
/* ⬇️⬇️⬇️ TRASH ⬇️⬇️⬇️
/* -------------------------------------------------------------- */






/* -------------------------------------------------------------- */
/* About Page Container 
/* -------------------------------------------------------------- */

#about-page-container {

    background-color: #393939;

}

/* -------------------------------------------------------------- */
/* Header About Container 
/* -------------------------------------------------------------- */

#header-about-container {

    padding: .8em;

    display: grid;
    gap: .3em;

}

/* ------------------------------------------- */
/* [1/2] - Title Header About | Container 
/* ------------------------------------------- */

#title-header-about-container {
 
}

/* -------------------------------- */
/* Title Block Header About 
/* -------------------------------- */

#title-block-header-about {

    line-height: 1.6em;

}

#txt-welcome-to {
    /* 18px */
    font-size: 1.125rem;
    font-weight: bold;
    color:grey;
}

#txt-superfreshdev {
    /* 20px */
    font-size: 1.25rem;
    font-weight: bold;
    color:white;
}

#txt-world {
    font-size: 1.25rem;
    color:wheat;
}

#txt-motto-superfreshdev {
    color:rgb(116, 116, 116);
    font-size: 1rem;
}

/* ------------------------------------------- */
/* [2/2] - Date Header About | Container
/* ------------------------------------------- */

#date-header-about-container {

    justify-self: flex-end;
    color:rgb(116, 116, 116);
}

#txt-today {
    font-weight: bold;
}

#txt-acutally-date {

}


/* -------------------------------------------------------------- */
/* Row Header About
/* -------------------------------------------------------------- */

.row-header-about {

    display: grid;
    row-gap: 1em;

}


/* ------------------------------------- */
/* Nr Box Row Header | About 
/* ------------------------------------- */

.nr-box-row-header-about {

    height: 4em;
    width: 4em;

    display: flex;
    align-items: center;
    column-gap: .2em;
    justify-content: center;

    font-weight: bold;

    background-color: rgb(140, 140, 140);

    border-radius: .6em;

}

.nr-box-row-header-about > div {

    /* 18px */
    font-size: 1.125rem;
}

/* ------------------------------------- */
/* Row Header Title | About 
/* ------------------------------------- */

.row-header-title-about {

    display: flex;
    align-items: center;
    column-gap: .8em;

    font-weight: bold;

}

.row-header-title-about > div {

    font-size: 1.25rem;
}

.img-light-bulb-fix-row-header-about {

    padding-bottom: .2em;
    height: 1.8em;
}

.img-row-header-about {

    height: 1.5em;
}

.img-small-row-header-about {

    height: 1.3em;
}

/* -------------------------------------------------------------- */
/* Row Content About
/* -------------------------------------------------------------- */

.row-content-about {

    display: grid;
    row-gap: 2.5em;

    background-color: red;
    
}
