/* -------------------------------------------------------------- */
/* > contact-about.css
/*  
/* : styles contact me about container 
/* -------------------------------------------------------------- */



/* -------------------------------------------------------------- */
/* Contact Container About
/* -------------------------------------------------------------- */

#contact-container-about {

    display: flex;
    align-items: center;

    background-color: rgb(199, 127, 156);
}
