/* ----------------------------------------------------------------------------- */
/* > impress-about.css
/*  
/* : styles for impress container in about page
/* ----------------------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* ...
/* ---------------------------------------------------------------- */

#impress-container-about {

    width: 22em;

    display: flex;
    align-items: center;

    background-color: rgb(188, 124, 5);
}