/* ----------------------------------------------------------------------------- */
/* > like-to-see-more-about.css
/*  
/* : styles for like to see more container in about page
/* --------------------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Like to See More Container | About
/* ---------------------------------------------------------------- */

#like-to-see-more-container-about {

    width: 100%;
    padding: 1.5em 0;

    /* display: grid;
    background-color: pink; */
}