/* ----------------------------------------------------------------------------- */
/* > news-about.css
/*  
/* : styles for news container in about page
/* ----------------------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* News Container About
/* ---------------------------------------------------------------- */

#news-container-about {

    width: 100%;

    /* background-color: rgb(227, 14, 99); */
}


#news-layout-container-about {

    padding: 1.5em .8em;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* ---------------------------------------------------------------- */
/* Header | News Container 
/* ---------------------------------------------------------------- */

#news-container-about > header {

    font-weight: bold;
}

.li-task {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: .3em;

    
}

.li-task > div:nth-of-type(1) {

    display: flex;
    align-items: center;
    column-gap: .3em;
}

.li-task > div:nth-of-type(2),
.li-task > div:nth-of-type(3) {

    font-weight: bold;
}

.li-task > div:nth-of-type(1) > img {

    height: 1.2em;
}