/* ----------------------------------------------------------------------------- */
/* > news-about.css
/*  
/* : styles for news container in about page
/* ----------------------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* News Container About
/* ---------------------------------------------------------------- */


#news-container-about {

   
    display: flex;
    align-items: center;

    background-color: rgb(227, 14, 99);
}
