/* -------------------------------------------------------------- */
/* > to-be-fresh-about.css
/*  
/* : styles the 'to be fresh about container'
/* -------------------------------------------------------------- */

.d {

    /* padding: 2em; */

    display: flex;
    justify-content: center;

    background-color: red;

}

/* --------------------------------------------------------------- */
/* To Be Fresh Container About
/* --------------------------------------------------------------- */

#to-be-fresh-container-about {

    position: relative;

    width: 100%;
    height: 100%;

    

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(169, 169, 169);

    background-color: transparent;

    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* --------------------------------------------------------------- */
/* Background Color | Row Container
/* --------------------------------------------------------------- */

.bgc-to-be-fresh {

    padding: 2em 0em;

    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}


/* ------------------------------------------------- */
/* ### Styling 
/* Checkbox Handling | Audio to be fresh
/* ------------------------------------------------- */

#chk-play-audio-to-be-fresh { 
    display: none;
}

#chk-play-audio-to-be-fresh:checked + label > #play-pause-audio-to-be-fresh-container {

    background-color: rgb(209, 35, 35);
}

#audio-to-be-fresh-container {

    z-index: 22;

    height: 3em;
    padding-left: .6em;

    position: absolute;
    top:1em;
    right:1em;

    display: flex;
    align-items: center;
    column-gap: .6em;

    border-radius: .8em;

    /* background-color: rgb(68, 44, 0); */
    

    cursor: pointer;
    transition: all .4s;

}



/* --------------------------------------------------------------- */
/* [1/4] - Label Play Audio To Be Fresh
/* --------------------------------------------------------------- */

#lbl-play-audio-to-be-fresh {

    z-index: 12;

    position: absolute;
    top: 1em;
    right: 1em;

    height: 3em;
    width: 3em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .6em;

    background-color: rgb(148, 148, 148);

    cursor: pointer;

    transition: all .4s;
}

#lbl-play-audio-to-be-fresh:hover {

    background-color: rgb(209, 35, 35);
}

#lbl-play-audio-to-be-fresh > img {

    height: 2.1em;
}


/* -------------------------------------------------- */
/* Timestamp - audio to be fresh 
/* -------------------------------------------------- */

#audio-timestamp-to-be-fresh {

    z-index: 13;

    position: absolute;
    top:1em;

    font-size: 14px;

    display: flex;
    column-gap: .3em;
    
    opacity: 0;

    color:rgba(255, 255, 255, .6 );

    background-color: blue;

    transition: all .4s;
}

#audio-timestamp-to-be-fresh > span:nth-of-type(1) {

    display: flex;
    column-gap: .1em;
}


/* -------------------------------------------------- */
/* Play/ Pause Container - to be freh
/* -------------------------------------------------- */
/* 
#play-pause-audio-to-be-fresh-container {

    height: 3em;
    width: 3em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .6em;

    background-color: rgb(176, 176, 176);

    transition: all .4s;
}


#play-pause-audio-to-be-fresh-container:hover {

    background-color: rgb(209, 35, 35);
}


#img-play-pause-audio-to-be-fresh {

    width: 2em;

} */


/* --------------------------------------------------------------- */
/* [2/4] - Img Wave Element
/* --------------------------------------------------------------- */

#img-wave-to-be-fresh {

    z-index: 10;
    /* object-fit: cover; */
    /* position: absolute; */

    width: 100%;
    height: 100%;

    /* border-radius: 50%; */

}


/* --------------------------------------------------------------- */
/* [3/4] - Video Element
/* --------------------------------------------------------------- */

#video-to-be-fresh {

    position: absolute;
    z-index: 9;

    /* border-radius: 50%; */
    /* opacity: 0; */

    /* animation: slowOpacityUp 11s 1 ease; */

    width: 100%;
    height: 100%;

    object-fit: cover;

}

@keyframes slowOpacityUp {
    
    0% {  opacity: .2; }
    20% { opacity: .3; }
    40% { opacity: .4; }
    50% { opacity: .5; }
    70% { opacity: .7; }
    100% { opacity: 1; }
       
}

@keyframes slowOpacityDown {
    
    0% {  opacity: 1; }
    20% { opacity: .7; }
    40% { opacity: .5; }
    50% { opacity: .4; }
    70% { opacity: .2; }
    100% { opacity: 0; }
       
}



/* --------------------------------------------------------------- */
/* [4/4] - Quote Container 
/* --------------------------------------------------------------- */

#quote-to-be-fresh-container {

    z-index: 12;
    position: absolute;

    max-width: 18em;
    padding: 2.5em .8em 0em .8em;

    display: grid;
    row-gap: .6em;
    justify-items: center;
    justify-content: center;

    font-weight: bold;

    border-radius: .4em;

    user-select: none;
    -webkit-user-select: none;

    /* background-color: rgba(128, 128, 128, 1); */

}

#txt-to-be-fresh {

    height: 2.3em;
    padding: 0 .6em;

    display: flex;
    align-items: center;
    column-gap: .3em;

    font-family: "Delius", serif;
    font-weight: bold;

    border-radius: .6em;

    user-select: none;
    -webkit-user-select: none;

    background-color: rgb(45, 58, 86);
    /* color:rgb(219, 219, 219); */
    color:rgb(240, 240, 240);
}

#txt-to-be-fresh > div:last-child {

    transform: rotate(180deg); padding-bottom: .2em;

}

/* ------------------------------------------- */
/* Text Quote Container 
/* ------------------------------------------- */

#txt-quote-to-be-fresh {

    padding: .8em .8em;

    display: grid;   
    row-gap: .2em;

    text-align: center;

    border-radius: .8em;

    color:wheat;

    text-shadow:
    1px 1px 1px rgb(0, 0, 0);

    /* background-color: rgba(245, 222, 179, .6); */

    /* user-select: none;
    -webkit-user-select: none; */

    transition: all .8s;
   
} 

#txt-quote-to-be-fresh:hover {

    background-color: rgba(0, 0, 0, .8);
    
}