/* ----------------------------------------------------------------------------- */
/* > welcome-about.css
/*  
/* : styles for welcome container in about page
/* ----------------------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Welcome Container | About
/* ---------------------------------------------------------------- */

#welcome-container-about {

    width: 100%;
    padding: 1.5em 0em;

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;
    

    /* this will be use in mobile  */
    row-gap: 1em;
    
    /* background-color: orange; */
}


/* ---------------------------------------------------------------- */
/* Welcome Title Block | About
/* ---------------------------------------------------------------- */

#welcome-title-block-about {

    display: flex;
    align-items: center;
    column-gap: 1em;
   
}

#img-me-clipart-welcome {

    /* mobile size  */
    height: 6.5em;
}

#txt-block-welcome-title-about {

    display: grid;
    row-gap: .6em;
}

#txt-block-welcome-title-about > div:nth-of-type(1) {

    display: grid;
    row-gap: .3em;

}

#txt-welcome-to-about {

    /* mobile size  */
    font-size: 1.125em;
    font-weight: bold;

    color:rgb(185, 185, 185);
}

#txt-superfreshdev-about {

    /* mobile size  */
    font-size: 1.25em;
    font-weight: bold;

    color:white;
}

#txt-superfreshdev-about > span:nth-of-type(1) {

    color:wheat;
}

#txt-motto-superfreshdev-about {

    /* mobile size  */
    font-size: 1em;

    line-height: 1.4em;

    color:rgb(89, 89, 89);
}

/* ---------------------------------------------------------------- */
/* Welcome Date Block | About
/* ---------------------------------------------------------------- */

#welcome-date-block-about {

    width: 100%;
    padding-right: 1em;

    display: flex;
    justify-content: flex-end;
  

    font-weight: bold;

    color:grey;

    /* background-color: red; */
    
}

#txt-today-about {

    font-weight: bold;
    color:wheat;
}

