/* ----------------------------------------------------------------------------- */
/* > welcome-about.css
/*  
/* : styles for welcome container in about page
/* ----------------------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* ...
/* ---------------------------------------------------------------- */

#welcome-container-about {

    width: 20em;
  
    /* width: 100%; */

    display: flex;
    align-items: center;

    background-color: orange;
}