/* --------------------------------------------------------------------------------------- */
/* > main-it-docs-list-containers.css
/*  
/* : style my main container of it docs, there are the it doc info cards
/* --------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------- */
/* It Doc List ( Done/in progress/coming soon ) Container
/* --------------------------------------------------------------------------------------- */

#it-docs-list-done-container,
#it-docs-list-in-progress-container,
#it-docs-list-coming-soon-container {

    width: 100%;
}

/* --------------------------------------------------------------------------------------- */
/* 🟩 Done | IT Doc List Container 
/* --------------------------------------------------------------------------------------- */


#it-docs-list-done-container {

    

}

/* --------------------------------------------------------------------------------------- */
/* 🟨 In Progress | IT Doc List Container 
/* --------------------------------------------------------------------------------------- */

#it-docs-list-in-progress-container {

    

}

/* --------------------------------------------------------------------------------------- */
/* 🟦 Coming Soon | IT Doc List Container 
/* --------------------------------------------------------------------------------------- */

#it-docs-list-coming-soon-container {


}


/* --------------------------------------------------------------------------------------- */
/* ⚠️ Main | It Doc List | Done / in progress / coming soon | Container
/* --------------------------------------------------------------------------------------- */

#open-close-smooth-done-it-docs main {

    margin-top: 1.5em;

    padding: 1.5em 0em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2em;
    row-gap: 2em;

    /* border:1px solid black; */
    border-radius: .8em;
}

#open-close-smooth-in-progress-it-docs main,
#open-close-smooth-coming-soon-it-docs main {

    margin-top: 1.5em;
    width: 100%;

    display: grid;
    row-gap: 2em;

    border-radius: .8em;

}

.row-in-progress,
.row-coming-soon {

    padding: 2em 0em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2em;
    row-gap: 2em;

    /* border: 1px solid black; */
    border-radius: .8em;

    background-color: rgb(88, 88, 88);

}

.row-in-progress > .it-doc-item-card > img:nth-of-type(1),
.row-coming-soon > .it-doc-item-card > img:nth-of-type(1) {

    opacity: .4;
}