/* -------------------------------------------------------------- */
/* > header-beginning-container.css
/* : styles header beginning container
/* -------------------------------------------------------------- */

/* ❇️ */
/* ------------------------------------------------------------- */
/* Header Content Container
/* ------------------------------------------------------------- */

.header-content-container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

}


/* ❇️ */
/* ------------------------------------------------------------- */
/* Header Content Block
/* ------------------------------------------------------------- */

.header-content-block {

  display: flex;
  align-items: center;
  column-gap: .8em;

}

/* ❇️ */
/* ------------------------------------------------------------- */
/* Title | Header Content Block
/* ------------------------------------------------------------- */

.header-content-title {

  font-size: 18px;
  font-weight: bold;

}

/* ❇️ */
/* ------------------------------------------------------------- */
/* Sub Title | Header Content Block
/* ------------------------------------------------------------- */

.header-content-sub-title {

  font-size: 12.5px;
  font-weight: bold;

  color:grey;

}



/* ------------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* Header Beginning Container
/* ------------------------------------------------------------- */

.header-beginning-container {

  /* mobile */
  display: grid;

  column-gap: .8em;
  row-gap: 1.8em;

  /* background-color: rgb(201, 157, 157); */

}

/* ------------------------------------------------------------- */
/* Header Beginning Title Box
/* ------------------------------------------------------------- */

.header-beginning-tilte-box {

  display: flex;
  align-items: center;
  column-gap: .8em;

}

/* ------------------------------------------------------------- */
/* Div | Header Beginning Title Box
/* ------------------------------------------------------------- */

.header-beginning-tilte-box > div:nth-of-type(1) {

  line-height: 1.6em;

}

/* ------------------------------------------------------------- */
/* Header Beginning Title | Header Beginning Title Box
/* ------------------------------------------------------------- */

.header-beginning-title {

  font-size: 18px;
  /* font-size: 1.25em; */
  font-weight: bold;
}

/* ------------------------------------------------------------- */
/* Header Beginning Sub Title | Header Beginning Title Box
/* ------------------------------------------------------------- */

.header-beginning-sub-title {

  font-size: 12.5px;
  font-weight: bold;

  color:grey;
}


/* ------------------------------------------------------------- */
/* Label | Header Beginning Container
/* ------------------------------------------------------------- */

.header-beginning-container > label:nth-of-type(1) {

  /* label center */
  justify-self: center;

}
