/* -------------------------------------------------------------- */
/* > header-content-container.css
/* : styles header content container by every start of topics
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Header Content Container
/* ------------------------------------------------------------- */

.header-content-container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

}

/* ------------------------------------------------------------- */
/* Header Content Block
/* ------------------------------------------------------------- */

.header-content-block {

  display: flex;
  align-items: center;
  column-gap: .8em;

}

/* ------------------------------------------------------------- */
/* Title | Header Content Block
/* ------------------------------------------------------------- */

.header-content-title {

  font-size: 18px;
  font-weight: bold;

}

/* ------------------------------------------------------------- */
/* Sub Title | Header Content Block
/* ------------------------------------------------------------- */

.header-content-sub-title {

  /* mobile */
  font-size: 12.5px;

  font-weight: bold;
  color:grey;

}
