/* -------------------------------------------------------------- */
/* > header-content-container.css
/* : styles header content container by every start of topics
/* -------------------------------------------------------------- */

/* ⚠️⚠️⚠️ Header Content Block  */

/* ------------------------------------------------------------- */
/* Header Content Block
/* ------------------------------------------------------------- */

.header-content-block {

  display: flex;
  align-items: center;
  column-gap: .8em;

}

/* ------------------------------------------------------------- */
/* Div 1 | Header Content Block
/* ------------------------------------------------------------- */

.header-content-block > div:nth-of-type(1) {

  display: grid;
  row-gap: .2em;

}

/* ------------------------------------------------------------- */
/* Div 1 Div 1 (Title) | Header Content Block
/* ------------------------------------------------------------- */

.header-content-block > div:nth-of-type(1) > div:nth-of-type(1) {

  font-size: 18px;
  font-weight: bold;

}

/* ------------------------------------------------------------- */
/* Div 1 Div 1 (Sub Title) | Header Content Block
/* ------------------------------------------------------------- */

.header-content-block > div:nth-of-type(1) > div:nth-of-type(2) {

  font-size: 13.5px;

  font-weight: bold;

  line-height: 1.5em;
  color: grey;

}


/*

  Responsive:
  img größer
  14.5px


*/




















/* ------------------------------------------------------------- */
/* ❌❌❌
/* ------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Header Content Container
/* ------------------------------------------------------------- */

/* .header-content-container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

} */

/* ------------------------------------------------------------- */
/* Header Content Block
/* ------------------------------------------------------------- */
/*
.header-content-block {

  display: flex;
  align-items: center;
  column-gap: .8em;

} */

/* ------------------------------------------------------------- */
/* Div 1 | Header Content Block
/* ------------------------------------------------------------- */

/* .header-content-block > div:nth-of-type(1) {

  line-height: 1.6em;

} */

/* ------------------------------------------------------------- */
/* Title | Header Content Block
/* ------------------------------------------------------------- */

/* .header-content-title {

  font-size: 18px;
  font-weight: bold;

} */

/* ------------------------------------------------------------- */
/* Sub Title | Header Content Block
/* ------------------------------------------------------------- */

/* .header-content-sub-title {



  font-weight: bold;
  color:grey;

} */
