/* -------------------------------------------------------------- */
/* > nav-my-sport-private.css
/*
/* : styles nav sport private
/* -------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Handlings
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Checkbox (selected) | Handlings
/* ----------------------------------------------------------------- */


/* default unshown */
#chk-sport-category-selected-private {

  display: none;

}

/* set background */
#chk-sport-category-selected-private:checked ~ #header-nav-sport-private label[for="chk-sport-category-selected-private"] {

  background-color: rgb(227, 87, 87);

}

/* change img arrow rotation */
#chk-sport-category-selected-private:checked ~ #header-nav-sport-private label[for="chk-sport-category-selected-private"] > img:nth-of-type(1)  {

  transform: rotate(180deg);

}

/* set content */
#chk-sport-category-selected-private:checked ~ #header-nav-sport-private #smooth-open-close-nav-sport-private {

  grid-template-rows: 1fr;

}

/* ----------------------------------------------------------------- */
/* Radio | Handlings ( choose 1, choose 2 )
/* ----------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-sport-category"] {

  display: none;

}

/* set x */
#radio-sport-category-challenges:checked ~ #header-nav-sport-private label[for="radio-sport-category-challenges"] > .custom-radio-default > img,
#radio-sport-category-training-plans:checked ~ #header-nav-sport-private label[for="radio-sport-category-training-plans"] > .custom-radio-default > img {

  display: flex;

}

/* set content ( fixed, challenges, trainings plan ) */

/* ⚠️ Fixed is missing */
#radio-sport-category-choose-1:checked ~ #header-nav-sport-private label[for="radio-sport-category-choose-1"] > .custom-radio-default > img,
#radio-sport-category-choose-2:checked ~ #header-nav-sport-private label[for="radio-sport-category-choose-2"] > .custom-radio-default > img {

  display: flex;

}
