/* -------------------------------------------------------------- */
/* > it-skills-about.css
/*
/* : style it-skills about
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* IT Skills About Container
/* ------------------------------------------------------------------- */

#it-skills-about-container {

  margin-bottom: 2em;
  padding-top: 3em;

  display: grid;
  row-gap: 2em;

  /* background-color: red; */

  /* default unshown */
  display: none;

}


/* ------------------------------------------------------------------- */
/* IT Skill Content Box About
/* ------------------------------------------------------------------- */

.it-skills-content-box-about {

  display: grid;
  justify-items: center;

}

/* ------------------------------------------------------------------- */
/* Header | IT Skill Content Box About
/* ------------------------------------------------------------------- */

.header-it-skills-content-box-about {

  display: flex;
  /* justify-content: center; */

}

/* ------------------------------------------------------------------- */
/* Div 1 | Header | IT Skill Content Box About
/* ------------------------------------------------------------------- */

.header-it-skills-content-box-about > div:nth-of-type(1) {

  font-size: 14.5px;

  height: 2.3em;
  /* width: 100%; */

  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  border-radius: .6em;

  background-color: #e4e4e4;
  color:rgb(32, 32, 32);

}


/* ------------------------------------------------------------------- */
/* Main | IT Skill Content Box About
/* ------------------------------------------------------------------- */

.it-skills-content-box-about > main {

  padding: 1.5em .4em .5em .4em;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .6em;

}

/* ------------------------------------------------------------------- */
/* About It Skill | Main
/* ------------------------------------------------------------------- */

.about-it-skill {

  height: 2em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  border-radius: .6em;

  /* font-weight: bold; */

  /* background-color: rgb(240, 240, 240); */

  border: 1px dashed rgb(207, 207, 207);

  color:rgb(145, 145, 145);

  cursor: pointer;
  transition: all .4s;

}

.about-it-skill > div {

  /* 14.5px | 14.5 / 16px= 0.90625 */
  font-size: .90625em;

}

.about-it-skill:hover {

  /* background-color: wheat; */
  background-color: grey;
  color:rgb(224, 224, 224);

}
