/* 

    default-pages.css
    > defines layouts which goes over all pages for using

*/


/* ---------------------------------------------------------------------------- */
/* Page Slide Container ( width 200 % )
/* ---------------------------------------------------------------------------- */

#pages-slide-container {

    height: 100%;
    width: 200%;
    display: flex;
  
}


/* ---------------------------------------------------------------------------- */
/* Page
/* ---------------------------------------------------------------------------- */

.page {

    width: 100%;
    transition: all 0.7s;

}

.content-row-container {


    padding: 2.5em 1em;
    /* background-color: red !important; */
    
}

.content-layout-container {

    /* border: 1px solid red; */
}


/* ---------------------------------------------------------------------------- */
/* Page Overview Layout Container 
/* ---------------------------------------------------------------------------- */

#page-overview-layout-container {


    height: 100%;
    display: grid;
    grid: auto 1fr auto / 1fr;

     /* transform: translateX(0%); */

}





#page-overview-content-layout-container {

    background-color: red;

}


/* ---------------------------------------------------------------------------- */
/* Page Details Layout Container 
/* ---------------------------------------------------------------------------- */

#page-details-layout-container {

    background-color: blueviolet;
    /* transform: translateX(0%); */

}



/* ---------------------------------------------------------------------------- */
/* Empty White Container 
/* ---------------------------------------------------------------------------- */


.empty-white-container {

    height: 8em;
    padding: 0em .8em;

    background-color: var(--c-white);
}

#me-dog-container {

    height: 100%;

    display: flex;
    column-gap: 5em;
    align-items: flex-end;
    
}

#txt-see-you-later {

    align-self: center;
    font-weight: bold;

}

#img-me-dog { 

    height: 8rem;
}


