/* -------------------------------------------------------------- */
/* > nav-my-it.css
/*
/* : styles nav of my it
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Handling
/* ------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-my-it"] {

  display: none;
}

/* set background | label */
#radio-it-projects:checked ~ #nav-my-it label[for="radio-it-projects"],
#radio-it-docs:checked ~ #nav-my-it label[for="radio-it-docs"]{

  opacity: 1;
  background-color: wheat;
  color:black;

}

/* unshow grey img */
#radio-it-projects:checked ~ #nav-my-it label[for="radio-it-projects"] > img:nth-of-type(2),
#radio-it-docs:checked ~#nav-my-it label[for="radio-it-docs"] > img:nth-of-type(2) {

  display: none;

}

/* show black img */
#radio-it-projects:checked ~ #nav-my-it label[for="radio-it-projects"] > img:nth-of-type(1),
#radio-it-docs:checked ~ #nav-my-it label[for="radio-it-docs"]  > img:nth-of-type(1) {

 display: flex;

}

/* add hover by unchecked labels */
#radio-it-projects:not(:checked) ~ #nav-my-it label[for="radio-it-projects"]:hover,
#radio-it-docs:not(:checked) ~ #nav-my-it label[for="radio-it-docs"]:hover {


  background-color: rgb(204, 204, 204);

}

/* show content */
#radio-it-projects:checked ~ #it-projects-container,
#radio-it-docs:checked ~ #it-docs-container {

  display: grid;

}

/* unshown it docs if it projects is checked */
#radio-it-projects:checked ~ #it-docs-container {

  display: none;

}

/* unshown it projects if it docs is checked */
#radio-it-docs:checked ~ #it-projects-container {
  display: none;
}
