/* -------------------------------------------------------------- */
/* > nav-my-it.css
/*
/* : styles nav of my it
/* -------------------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Nav My It
/* ------------------------------------------------------------- */

#nav-my-it {

  width: 100%;

  display: flex;
  align-items: center;

  /* mobile */
  justify-content: center;

  /* border-radius: 1.5em 1.5em 1.5em 1.5em; */
  /* background-color: rgb(208, 82, 82); */

}

/* ------------------------------------------------------------- */
/* Handling
/* ------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-my-it"] {

  display: none;
}

/* set background | label */
#radio-it-projects:checked ~ #nav-my-it label[for="radio-it-projects"],
#radio-it-docs:checked ~ #nav-my-it label[for="radio-it-docs"]{

  z-index: 3;
  background-color: wheat;

}

/* add hover by unchecked labels */
#radio-it-projects:not(:checked) ~ #nav-my-it label[for="radio-it-projects"]:hover,
#radio-it-docs:not(:checked) ~ #nav-my-it label[for="radio-it-docs"]:hover {

  z-index: 3;
  background-color: rgb(204, 204, 204);

}

/* show content */
#radio-it-projects:checked ~ #it-projects-container,
#radio-it-docs:checked ~ #it-docs-container {

  display: grid;

}

/* unshown it docs if it projects is checked */
#radio-it-projects:checked ~ #it-docs-container {

  display: none;

}

/* unshown it projects if it docs is checked */
#radio-it-docs:checked ~ #it-projects-container {
  display: none;
}
