/* --------------------------------------------------------------- */
/* > body-header-nav.css
/*
/* : styles nav header of body
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Header Nav Body
/* --------------------------------------------------------------- */

#body-header-nav {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

/* --------------------------------------------------------------- */
/* Body Header Label
/* --------------------------------------------------------------- */

.body-header-label {

  height: 2.8em;
  padding: 0em .7em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  border-radius: .6em;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  color: #6e6e6e;
  /* background-color: rgb(43, 42, 42); */

  border: 2px solid rgb(47, 47, 47);

  cursor: pointer;
  user-select: none;
  transition: all .4s;

}

/* Hover */
.body-header-label:hover {

  background-color: rgb(210, 195, 164);
  color:black;

}

/* Div 1 | Title */
.body-header-label > div:nth-of-type(1) {

  font-size: 14.5px;
}

/* Imgs | Mobile - Default unshown */
.body-header-label > img {

  display: none;

}

/* Img Grey - Opacity */
.body-header-label > img:nth-of-type(1) {

  opacity: .6;

}

/* Default Img Black - Unshown */
.body-header-label > img:nth-of-type(2) {

  display: none;

}

/* --------------------------------------------------------------- */
/* Img Seperator
/* --------------------------------------------------------------- */

.body-header-nav-img-seperator {

  padding: 0 .6em;

  height: .4em;
  opacity: .6;

  /* display: none; */

}
