/* --------------------------------------------------------------- */
/* > body-header-nav-handlings.css
/*
/* : styles handlings of nav
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Handling | Stylings
/* --------------------------------------------------------------- */

/* default radios unshown */
input[name="name-radio-body-header-nav"] {

  display: none;

}

/* ------------------------------------------- */
/* Background Color
/* ------------------------------------------- */

#radio-about:checked ~ #body-header-fixed label[for="radio-about"],
#radio-codings:checked ~ #body-header-fixed label[for="radio-codings"],
#radio-lifestyle:checked ~ #body-header-fixed label[for="radio-lifestyle"] {

  opacity: 1;

  background-color: rgb(210, 195, 164);
  color:black;

  /* color:rgb(207, 187, 152); */

}
