/* 

    anker-link-content-nav.css
    > define the basic layout of an anker link content nav for 
    sliding on chapter of the page 

*/

#about-anker-link-content-nav {

    padding: 0em 1em;
    height: 5em;

    z-index: 99;
    position: fixed;
    left:0;
    right:0;  
    
}

/* ------------------------------------------------------------------------ */ 
/* Anker Link Content Nav 
/* ------------------------------------------------------------------------ */ 

.anker-link-content-nav {


    display: flex;
    align-items: center;
    justify-content: space-between;
    /* column-gap: 1em; */

    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;

    /* border-bottom: 4px solid var(--c-light-brown-1); */
   

}

.seperator-nav-header {

    font-size: 2rem;

    color:var(--c-light-grey-1);
    opacity: .4;
    
    font-weight: bold;

}

/* ------------------------------------------------------------------------ */ 
/* Link Style
/* ------------------------------------------------------------------------ */ 

/* Mobile Editon */
.anker-link-content-nav > a > div:nth-of-type(1) {

    display: none;
}

.anker-link-content-nav > a {

    height: 2.5em;
    padding: 0em 1em;;

    display: flex;
    column-gap: .5em;
    align-items: center;
    justify-content: center;

    border-radius: .6em;

    font-weight: bold;

    color: black;
    background-color: var(--c-light-grey-1);

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    text-decoration: none;

    transition: all .4s;
}

.anker-link-content-nav > a:hover {

    background-color: var(--c-light-brown-1);

}

.anker-link-content-nav > a:visited { 

    color: black;
}


.btn-link-sfd {

    position: relative;

    /* z-index: 9; */
   

    height: 2.5em;
    padding: 0em 1em;;

    display: flex;
    column-gap: .5em;
    align-items: center;
    justify-content: center;

    border-radius: .6em;

    font-weight: bold;

    color: black;
    background-color: var(--c-light-grey-1);

    background-color: rgb(155, 155, 155);
    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    text-decoration: none;

    transition: all .4s;

}

.btn-link-sfd:hover {

    background-color: var(--c-light-brown-1);

}

.btn-link-sfd:visited { 

    color: black;
}