/*

    btn-and-layouts-gaming.css
    > styles my buttons & co for gaming content on my webpage 

*/

/* ----------------------------------------- */
/* Default Game Button
/* ----------------------------------------- */

.btn-game {

    border: 0px;
    height: 2.5em;
    padding: 0em 1em;

    border-radius: .6em;
    
    font-weight: bold;
    font-size: 1.125rem;

    display: flex;
    align-items: center;
    column-gap: .6em;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    cursor: pointer;
    transition: all .4s;

}

.btn-game > div:nth-of-type(1) {

    font-size: 1rem;
    
}

.btn-play {

    background-color: var(--c-green);

}

.btn-play:active {

    background-color: var(--c-dark-green-1);

}



.btn-stop {

    background-color: var(--c-light-red-1);

}

.btn-stop:active { 

    background-color: var(--c-dark-red-1);
}

.btn-pause {

    background-color: var(--c-dark-yellow-1);

}

.btn-pause:active {

    background-color: black;

}

.btn-default {

    background-color: var(--c-light-grey-1);

    
}

.btn-default:active { 

    background-color: var(--c-light-brown-1);
}


/* ----------------------------------------- */
/* Buttons Gaming Panel
/* ----------------------------------------- */

.btns-gaming-panel {

    display: flex;
    align-items: center;
    column-gap: .3em;

}