/*

    project-card.css
    > define my project card layouts


*/


.project-card-container {

    display: grid;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.header-project-card,
.footer-project-card {

    padding: 0em .8em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: bold;

    background-color: var(--c-white);

    
}


/* ----------------------------------------------- */
/* header project card
/* ----------------------------------------------- */

.header-project-card {

    height: 3.5em;
    border-radius: .6em .6em 0em 0em;

}

.title-header-project-card {

    display: flex;
    align-items: center;
    column-gap: .6em;

}

.nr-header-project-card {

   height: 1.8em;

   padding: 0em .6em;

   display: flex;
   align-items: center;
   column-gap: .1em;

   border-radius: .3em;

   /* background-color: var(--c-light-grey-2); */
   color:rgb(115, 115, 115);

   border: 1px rgb(115, 115, 115) dashed;

}

.nr-header-project-card > div {

    font-size: 1.25rem;
}

/* ----------------------------------------------- */
/* main project card
/* ----------------------------------------------- */

.main-project-card {

    /* background-color: rgb(196, 196, 196); */

    /* background-color: red; */
    background-color: white;
    /* background-color: red; */

    display: grid;
 
    row-gap: 1em;
    /* padding-bottom: 1em; */

}


/* ----------------------------------------------- */
/* img carousel container
/* ----------------------------------------------- */

.img-carousel-container-project-card {

   
    padding: 0em 0em;

    display: grid;
    row-gap: .5em;

    /* background-color: rgb(196, 196, 196); */

   
}

.img-carousel-layout-container-project-card {

    position: relative;


    display: flex;
    align-items: center;
    justify-content: center;

}

/* -------------------------------------------- */
/* Control 
/* -------------------------------------------- */

.img-control-right:hover ,
.img-control-left:hover {

    background-color: rgb(99, 99, 99);
}

.img-control-left,
.img-control-right {

    position: absolute;
    
    height: 6em;
    width: 3.5em;

    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;

    transition: all .4s;
    cursor: pointer;
}

.img-control-left {

    left:0;
    border-radius: 0em .6em .6em 0em;


}

.img-control-left > img {

    transform: rotate(90deg)

}


.img-control-right {

    right:0;
    border-radius: .6em 0em 0em .6em;

}

.img-control-right > img {

    transform: rotate(270deg)

}


.img-small-carousel {

    width: 100%;
    height: auto;

    /* border-radius: .6em; */
}


/* ----------------------------------------------------- */
/* Nr of Img Carousel Container 
/* ----------------------------------------------------- */

.nr-of-img-carousel-container {

    height: 2.3em;
    padding: 0em .3em;

    display: flex;
    align-items: center;
    justify-content: flex-end;

}


.nr-img-carousel {

    height: 2.3em;
    padding: 0em .6em;

    display: flex;
    align-items: center;
    column-gap: .1em;

    border-radius: .4em;

    font-size: 1.25rem;

    font-weight: bold;

    background-color: var(--c-black);
    color: var(--c-light-grey-1);
}



.title-container-project-card,
.hashtags-container-project-card {

    padding: 0em .8em;

}


/* ----------------------------------------------- */
/* title container
/* ----------------------------------------------- */

.title-container-project-card {

    font-weight: bold;
    line-height: 1.5em;

}

/* ----------------------------------------------- */
/* hashtags container
/* ----------------------------------------------- */

.hashtags-container-project-card {

    padding-bottom: 1.5em;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: .4em;
    row-gap: .4em;

}

.hashtags-container-project-card > div {

    height: 2.3em;
    padding: 0em .8em;

    font-size: 1.25rem;

    border-radius: .4em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: grey;
    color: rgb(232, 232, 232);

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    transition: all .4s;
    cursor: help;

}

.hashtags-container-project-card > div:hover {

    background-color: var(--c-dark-grey-1);
}

/* ----------------------------------------------- */
/* footer project card
/* ----------------------------------------------- */

.footer-project-card {

    height: 5.3em;
    border-radius: 0em 0em .6em .6em;

    background-color: grey;

    transition: all .4s;
    cursor: pointer;

}

.footer-project-card:hover {

    background-color: rgb(170, 170, 170);
}

.footer-project-card:hover .anim-arrow-details-container > img:nth-of-type(1) {

    animation: anim-details-arrow .6s infinite ease;
   
}




/* ----------------------------------------------- */
/* Button Footer Panel Project Card 
/* ----------------------------------------------- */

.btn-footer-panel-project-card {

    display: flex;
    align-items: center;
    column-gap: .8em;
}


/* ----------------------------------------------- */
/* Slide Info Footer Panel Project Card 
/* ----------------------------------------------- */

.slide-info-footer-panel-project-card {

    display: flex;
    align-items: center;
    column-gap: .3em;
}

.slide-info-details-project-card {

    display: flex;
    align-items: center;
    column-gap: .6em;

}

.anim-arrow-details-container {

    width: 2em;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: red; */

   
}

@keyframes anim-details-arrow {

    0% { padding-left: .6em }
    100% { padding-left: -.6em }
}




